[2021-07-21 16:50] mcvsubbu commented on #7004
Partition ID is already a part of segment name, and segment name is a virtual column already provided.
(The value of) key is a property of the stream, so maybe like Kishore suggested, underlying stream can populate certain fields automatically.

That aside, I do agree that other databases may provide such feature. Not all databases are low-latency OLAP, so we need to be careful about feature creep

[2021-07-21 16:59] yupeng9 commented on #7004
Then perhaps we can make these columns opt-in based on configurations? Based on my observations at Uber, a `_key` column would be useful, and for some topics the key is computed on the fly by deriving from multiple fields in the topic. I can also see the value of offset, especially for CDC use cases where events are sorted in the topic partition.

[2021-07-21 17:01] mcvsubbu commented on #7004
Like I mentioned before, making these configurable goes without saying. We have production use cases that ingest at extremely high rate while still serving queries (also at a very high QPS). We cannot afford to configure this in.

[2021-07-21 17:20] mayankshriv commented on #7004
I am +1 on the usefulness of this feature. From reading the discussion, it seems perhaps the gap is in what the implementation would look like, and whether it can be done in a way where there is minimal to no impact for use-cases that don't need/want this feature. Could we decouple the two concerns here, and resolve them in sequence:

- Is this feature useful? Seems like there are multiple +1's al

[2021-07-21 17:36] npawar commented on #7004
I also think this will be very useful, especially for debugging.
Several times we see users who think the consumers are lagging, or stuck. Being able to run a quick query with $offsetID and $segment would be very helpful. I know there are other ways to get offsets, but often when users are starting out, metrics are not being collected anywhere and many times logs get expired/deleted in their envir

[2021-07-21 19:07] mcvsubbu commented on #7004
I admit it all sounds and looks very nice. I am asking whether the complexity of implementing this is warranted or not.

@npawar  Pinot servers output log messages every once in a while (5m I think) re consumption status. Even if logs are deleted, the current log should provide info on whether it is consuming  or not. Also, we recently, we have introduced several APIs at controller level for debug

[2021-07-21 20:56] mayankshriv commented on #7004
I still feel we are mixing two discussions, a) whether this is a good feature to implement b) What is the complexity/perf impact of implementing it.

The way I see it, there's five +1's (Kishore, Yupeng, Neha, Map and me). With this, I'd rather flip the question and ask why we shouldn't do this? If the only reason is that it is complex and/or has perf impact, then I'd say we are past a) above and

[2021-07-21 21:53] amrishlal commented on #7004
I am a bit confused by these two statements:

and

It seems like in the first case, you are looking for a globally unique identifier for each row. I am assuming this would involve something like a UUID generator that will tack on UUID with each row that is ingested (?) In the second case, it seems like you are looking for a "rowid" with the additional criteria that it should be monotonically incre

[2021-07-21 23:02] mayankshriv opened #7187 "Issue with CSV ingestion with non-default delimiter"
The code assumes that the delimiter for CSV in the reader config should also be used when specifying the header string in the ingestion spec. While this is (arguably) a valid assumption, it might be non intuitive for the user since these are two different configs in two different places.

Filing this issue for a better user experience, perhaps:
- If the CSV delimiter does not work for header Strin

[2021-07-22 01:46] Jackie-Jiang opened #7189 "[UI] Integrate minion into the Cluster Manager UI"
Integrate minion as one of the top grids in the Cluster Manager UI, and add the page for minion similar to controller/broker/server

![Screen Shot 2021-07-21 at 6 21 45 PM](https://user-images.githubusercontent.com/17555551/126579908-f4965bf4-4c3f-4f95-91ad-d1d56af3d612.png)

[2021-07-22 05:12] MrNeocore commented on #7164
Side question: To which [Pinot data types](https://docs.pinot.apache.org/basics/components/schema#data-types) does `int96` map to ?

[2021-07-22 05:14] MrNeocore commented on #7151
Sure, I'll try with a more recent version asap

[2021-07-22 05:29] mayankshriv commented on #7185
@khushbu14 I think there are two issues:
- ZK connection is not being closed (as you pointed out)
- The client in your case is perhaps opening one ZK connection per query. This is highly inefficient. At this point I am unclear on whether the same pinot client could be used across multiple threads. But assuming it cannot, the next best today would be to maintain one connection per thread in the exe

[2021-07-22 05:47] tmichaud314 opened #7190 "Complex Geospatial Query Times Out"
Hello,

I have been testing the same `ST_Contains(<complex WKT>, my_st_point)` transformation function on a single machine (i.e., 8 core laptop with 32GB memory and SSD) with varying table size on a basic cluster of 1 broker/controller/server container. This "kick the tires" experiment shows these rough results with the PQL submitted using the Pinot "Query Console" UI.

| Table Size (records) | Qu

[2021-07-22 06:20] xiangfu0 commented on #7164
Since parquet uses int96 for nanos, pinot converts it to int64 millis.
Please refer to this: https://github.com/apache/incubator-pinot/blob/master/pinot-plugins/pinot-input-format/pinot-parquet/src/main/java/org/apache/pinot/plugin/inputformat/parquet/ParquetNativeRecordExtractor.java#L169

[2021-07-22 10:26] suddendust commented on #7187
I can pick this up @mayankshriv

[2021-07-22 15:57] mcvsubbu commented on #7004
@mapshen can you please provide a short doc describing your use case? (not just the queries, but the problem you are trying to solve), thanks. That may help us decide.

[2021-07-22 16:26] yupeng9 commented on #7190
In Pinot, this `ST_Contains` delegates the computation to JTS, [source code](https://github.com/apache/incubator-pinot/blob/f2e3446e75f1ec1d553805d03f6504f05b3e3c0e/pinot-core/src/main/java/org/apache/pinot/core/geospatial/transform/function/StContainsFunction.java#L89).

Based on our observations, some geospatial functions can be very complex to evaluate, for example with complex polygons. So som

[2021-07-22 17:12] mayankshriv commented on #7187
Thanks @suddendust, assigned to you. Let's first figure out the right approach, should we auto try a few separators, or gracefully error out with good information? First approach has the danger of picking the wrong delimiter. And the second one requires user to make a string with delimiters (that could be control characters) to specify in a text file.

Let's solicit some inputs here, and then go f

[2021-07-22 18:41] mapshen commented on #7004
@mcvsubbu What @kishoreg said above is representative. Our use case is similar: an internal application polls Pinot at regular intervals to fetch updates since the last query and perform complicated calculations.

@amrishlal I would argue that they are the same. The offset for each partition in a Kafka topic is unique. Combined with the partition ID, you can uniquely identify a row in a Pinot tabl

[2021-07-22 18:58] mcvsubbu commented on #7004
Thanks, @mapshen . Can you share a few lines on what that application does? (e.g. does it do debugging?)

[2021-07-22 21:55] mapshen commented on #7004
@mcvsubbu The output would be analytics/predictions consumed by the downstream, which can even be fed back to Pinot for visualization for example. The app is not for debugging purposes per se, but we can definitely rely on the metadata from Kafka to debug the app itself.

[2021-07-22 23:30] ryanjclark opened #7191 "Cross-account AWS Kinesis ingestion not supported"
If Pinot is deployed on AWS EKS in one account (`account A`), Pinot has no native way of reading a stream in another account (`account B`). You'll find this error if trying to read a stream in `account B`:
[code]

[2021-07-22 23:57] mapshen opened #7192 "Flush Segments on a Schedule"
Currently, a segment can be flushed based on the size, a number of rows, or time since creation. It would be great if there is a way to trigger a flush based on a (cron) schedule.

The motivation is that it can take minutes to flush a segment, during which Pinot stops consuming new messages and hence there would be a delay of minutes. This may totally throw the users off.

[2021-07-23 00:45] mayankshriv commented on #7192
Are you saying that the consumption stops for minutes? If so, perhaps the existing config to control segment size are not tuned appropriately?

[2021-07-23 00:48] Jackie-Jiang commented on #7192
It will be good if we can add a controller API to flush the consuming segment. We can use this API to achieve the schedule based flush. Also, it would be useful for real-time schema evaluation, where the new columns can only be picked by next consuming segment.

[2021-07-23 01:09] mcvsubbu commented on #7192
Please don't add controller API to flush segments.  It will lead to race conditions. Right now, servers drive the protocol, and let it be like that. If you desparately want to add a controller driven segment completion, then send a helix message to the participants and let them initiate the protocol, but I would like to make sure that this complexity is needed.

I agree with @mayankshriv that we n

[2021-07-23 05:06] atris opened #7194 "StarTreeFilterOperator Does Not Maintain Predicate Hiearchy"
In current form, StarTreeFilterOperator takes flattened predicates and applies them on the tree, while not maintaining any sort of relation between predicates. This makes nested operators impossible to render. This is fine for now since we only support AND operators so there is an implied relation amongst all predicates, but as we expand to OR, we need a formal structure to represent correlated pr

[2021-07-23 05:07] atris commented on #7194
I will work on this as a part of implementing OR on StarTree index.

[2021-07-23 15:04] mrecodes opened #7195 "Datetime format problem"
I need to import the timestamp from a json file with the format of: YYYY-MM-DDThh:mm:ss.SSSZ for example: 2021-06-22T09:16:31.260Z. The characters T and Z makes problem while trying to visualize with superset. So I tried some transform functions such as:
FromDateTime('timestamp', 'yyyy-MM-dd''T''HH:mm:ss.SSS''Z''')
DATETIMECONVERT(timestamp, '1:MILLISECONDS:SIMPLE_DATE_FORMAT:yyyy-MM-dd''T''HH:mm:

[2021-07-23 15:30] atris commented on #6081
@Jackie-Jiang Should we close this ticket?

[2021-07-23 17:55] snleee opened #7197 "Fix website and documentation after TLP graudation"
As part of the graduating process, we need to adjust our website and documentation with the new brand name and new infra (e.g. new git repo url).

Here are the lists that we need to address:
- [x] 1. Change documentation `https://github.com/apache/pinot-incubator` to `https://github.com/apache/pinot`.
- [x] 2. Change `Apache Pinot (incubating)` -> `Apache Pinot` on website
- [x] 3. Change `Apache

[2021-07-23 19:40] sajjad-moradi commented on #7192
IIUC the problem here is during segment commit, there's no consumption. Instead of having a time scheduled for segment commit, we can find a way to start consuming for the new segment while the current segment is being committed.

[2021-07-23 19:52] mapshen commented on #7192
It would be great!

@mcvsubbu I did before but didn’t find it very helpful. I can try redoing it later. That said, how fast could it be after tuning it to the bone in your experience? Like Jackie put it earlier,

An ideal state for us would be a few seconds in the 99th percentile.

[2021-07-23 20:11] xiangfu0 commented on #7197
I will take care of the website update.

[2021-07-23 20:28] Jackie-Jiang commented on #7192
@mcvsubbu Yes, the commit should be driven by the server. Controller should send message to servers and ask them to start the commit process.

[2021-07-23 20:30] mcvsubbu commented on #7192
Repeating my message to @mapshen  in the slack channel:
Please re-run the realtime prov helper  and paste the output in this issue.

There is no standard for the time taken to build a segment. It is a function of   how large your segment is (which includes  number of rows, cardinality of columns, number of columns, length of string columns, the type and number of indices you have in there, etc.).

[2021-07-23 20:37] Jackie-Jiang commented on #6081
@atris Yes, thanks for the notification

[2021-07-23 20:37] #6081 closed

[2021-07-23 20:38] mcvsubbu commented on #7192
+1 to this, if we can write up a design doc to do it, and take it up.

Here is one idea that I have toyed with (only in thought-ware):

When the current consuming segment (say, segment A) starts the completion phase, start a new consuming segment,( say A+) that is a `MutableSegment` as well. Whenever queries come in for segment A, include A+ as well in the server, so that the latest rows are inclu

[2021-07-23 20:42] mcvsubbu commented on #7192
Another thing to do in this area is to avoid multiple partitions getting into the segment completion phase at the same time. This can be done from the controller. For different partitions, it can provide a slightly increased or decreased number of rows as threshold. The variations may have to be significant for high ingestion use cases, so this will. have to be a function of ingestion rate. This w

[2021-07-23 21:39] xiangfu0 commented on #7197
PR for update pinot website: https://github.com/apache/pinot-site/pull/53/files

[2021-07-24 03:57] xiangfu0 commented on #7197
done.

[2021-07-24 09:10] xiangfu0 commented on #7164
Updated the docs here: https://docs.pinot.apache.org/basics/data-import/pinot-input-formats#parquet

[2021-07-24 09:10] #7164 closed

[2021-07-24 10:06] suddendust commented on #7187
@mayankshriv thanks for assigning the story. So just to clarify, the record reader config takes in the delimiter for CSV as defined [here](https://docs.pinot.apache.org/basics/data-import/pinot-input-formats#:~:text=between%20the%20formats.-,CSV,-dataFormat%3A%20%27csv%27). In the [ingestion spec](https://docs.pinot.apache.org/configuration-reference/job-specification), what header are you referri

[2021-07-24 10:15] suddendust commented on #7197
I will take care of the documentation update.

[2021-07-24 10:52] xiangfu0 commented on #7197
I feel we need to change the codebase first to remove all the incubating wording, then update the docs/website. There are multiple places referring to the directory names which contains incubating words.

[2021-07-24 18:48] liuchang0520 opened #7202 "Handle null value from time column in NullValueTransformer"
Pinot table with null value from time column isn't filled with default value in [NullValueTransformer](https://github.com/apache/pinot/blob/master/pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/NullValueTransformer.java). Then during the index step in [LLRealtimeSegmentDataManager:L502](https://github.com/apache/pinot/blob/master/pinot-core/src/main/java/org/apa

[2021-07-24 19:06] amrishlal commented on #7004
The usecase for which `offset > last_recorded_offset` would work properly appears to be quite narrow (?). I think we should look at into coming up with a more generic solution that would work over all Kafka partitions, other streaming solutions (Kenesis for example), and segments that are generated offline as well (a virtual id could be added to each row or segment as the segment is added into Pin

[2021-07-25 04:21] deepakcse2k5 opened #7203 "issues on where clause 1=1"
Hi ,

I am exploring Apache Pinot query console and found that some queries like -select * from transcript where 1=1  does not working.It gives error like - it gives error like - org.apache.pinot.pql.parsers.Pql2CompilationException: Comparison between two constants is not supported.

where 1 = 1 means no where clause.It will always be true, so all records will be returned.This is basically used f

[2021-07-25 15:02] mayankshriv commented on #7187
@suddendust: In the ingestion job spec yaml file, we provide `delimiter`, `header` as two configs. It is implicitly assumed that `header` strings will also be separated by `delimiter`.

[2021-07-25 15:02] mayankshriv commented on #7203
@ramabme In case you want to look at this issue?

[2021-07-25 18:15] ramabme commented on #7203
I will work on this

[2021-07-25 18:19] ramabme commented on #7185
Closing the issue as the fix has been merged - https://github.com/apache/pinot/pull/7196

[2021-07-25 18:20] #7185 closed

[2021-07-26 17:06] ramabme opened #7205 "Add unit test to test if zkClient is closed"
Created an issue to track adding unit test for https://github.com/apache/pinot/pull/7196

[2021-07-26 18:17] suddendust commented on #7187
Yes, and the bad thing about this is that this can silently keep working (incorrectly) in the background. The max we can do in this approach is warn the user.

[2021-07-26 21:26] kkrugler opened #7206 "Support new option to force all groups to be returned per server"
Currently per-server results from an aggregation are trimmed to `Max(5000, <query limit> * 5)`. This can result in incorrect results when these partial results are combined by the broker, most obviously where the ordering of groups is opposite the value being used to do the ordering.

For example, assume a table with two fields, `studentId` and `testScore`. If there are multiple test scores per st

[2021-07-26 21:38] kkrugler commented on #7206
I see various `GroupByUtils.getTableCapacity()` methods that calculate the result trim size, but some of them only take a limit (without query context).

And I see existing options that seem related:

[code]

Though the way these are used isn't obvious to me.

[2021-07-26 22:00] kkrugler commented on #7206
OK, I see a recent issue - https://github.com/apache/pinot/pull/7052. Hoping @Jackie-Jiang can explain whether what we discussed is just an extension to this, or something very different.

[2021-07-26 22:10] kkrugler commented on #7206
@Jackie-Jiang clarified - PR #7052 was for segment-level trimming, versus server-level trimming.

[2021-07-26 22:32] kkrugler commented on #7206
Looks like the only change needed would be in `GroupByUtils.getTableCapacity(QueryContext queryContext)`, to use the new options to return a different trim value. Though maybe rename to something like `getServerGroupTrimSize()`, and use a different call (`getBrokerGroupTrimSize()`?) that's used by `GroupByDataTableReducer.getIndexedTable()`

[2021-07-26 22:39] kkrugler opened #7207 "Throw exception for unsupported options in SQL"
Currently you can make a SQL query like:

[code]

...and you get no error even though the option specified won't be used, because it doesn't exactly match `timeoutMs` (subtle case difference).

Instead a parse error should be thrown, with the unknown option identified in the error message.

[2021-07-26 22:41] Jackie-Jiang commented on #7202
This behavior is intentional. We don't allow default time value because in most cases that is caused by some client error. Also, there is no good default value for time column. It can also potentially mess up the segment management.

Can you please elaborate more on the scenario where you need to fill default time values?

[2021-07-26 22:44] Jackie-Jiang commented on #7203
@deepakcse2k5 You may simply ignore the where clause: `select * from transcript`. FYI, pinot by default only return 10 records without limit, so in order to return more records, you can put a higher limit, e.g. `select * from transcript limit 1000`

[2021-07-26 23:22] xiangfu0 commented on #7195
I think you can set the time format in  superset, please check this doc:
https://docs.pinot.apache.org/integrations/superset#adding-a-derived-column

[2021-07-27 00:34] kkrugler commented on #7090
I'm assuming we don't have to worry about how the `SegmentProcessorFramework` names segments, as that's all about mapping `m` input segments into `n` output segments.

[2021-07-27 02:29] apucher opened #7211 "Quickstart from console throws ClassNotFoundException for PinotS3"
Pinot (Auth)Quickstart throws a ClassNotFoundException for S3PinotFS - and continues regardless. Should S3PinotFS be disabled in quickstart by default?

[2021-07-27 02:53] xiangfu0 commented on #7211
Hmm, we were putting Pinot-s3 as a dependency mostly for a S3 QuickStart. Can you check if the Pinot-s3 plugin is loaded?

[2021-07-27 04:23] lakshmanan-v opened #7212 "Support raw methods for PercentileTDigest and PercentileEst"
Add an aggregate function to offer raw data structures for PercentileTDigest(MergingDigest) and PercentileEst(QuantileDigest) functions. This will be

This will be similar to raw HLL and ThetaSketch.

[2021-07-27 05:16] jackjlli opened #7213 "[multistage] Support Window Functions"
Currently in pinot there is no way to query Pinot table in a sliding window fashion. E.g. suppose I want to get the 7-day average number of Covid-19 cases. For now in order to do this, we'd need to send multiple queries; one query for each window.

We would like Pinot to support aggregation functions (like sum, count, avg, T-digest, etc) on sliding window within one single query.

[2021-07-27 05:21] jackjlli commented on #7213
LinkedIn Pinot team is currently working on this feature right now. We'll share the detailed design shortly.

[2021-07-27 09:44] mrecodes commented on #7195
Yes exactly, I tried %Y-%m-%dT%H:%M:%S.%f and also %Y-%m-%d''T''%H:%M:%S.%f''Z but no luck. From that configuration Superset is trying to run the query that I mentioned in my previous message:
FromDateTime('timestamp', 'yyyy-MM-dd''T''HH:mm:ss.SSS''Z''')
DATETIMECONVERT(timestamp, '1:MILLISECONDS:SIMPLE_DATE_FORMAT:yyyy-MM-dd''T''HH:mm:ss.SSS''Z', '1:SECONDS:SIMPLE_DATE_FORMAT:yyyy-MM-dd HH:mm:ss'

[2021-07-27 10:05] xiangfu0 commented on #7195
for pinot queries, single quote is used for literals, double quote is used for identifiers. so 'timestamp ' should be "timestamp".

[2021-07-27 10:13] xiangfu0 commented on #7195
For superset side, have you tried the time format like
%Y-%m-%dT%H:%M:%S.%fZ or %Y-%m-%dT%H:%M:%SZ
And what's the exceptions?

[2021-07-27 15:00] MrNeocore commented on #7090
Aren't we mapping `n` input files to `n` segments ?
Having multiple input files combined into a single (or `m` segments) is irrc not a feature yet.

But maybe I misunderstood your message or I'm missing some technical detail (very likely)

[2021-07-27 16:27] kkrugler commented on #7090
Hi @MrNeocore - yes, the scope of this issue is mapping `n` input files to `n` segments. I was pointing out that there's one other place in the code where segments are created (`SegmentProcessorFramework`), but that code is (a) out of scope, and (b) doesn't currently use the `SegmentNameGenerator` support in any case, though there's a TODO comment in the code about that.

[2021-07-27 16:39] suddendust commented on #7187
@mayankshriv regarding

Is this not the case even now? Say the header has a a control character as the delimiter, he will face the same problem even now right?

Also, how about accepting a different config for the header delimiter? This can be optional, in which case we can fallback to using the currently supplied delimiter, and throw an exception if it doesn't work. I think this is better than th

[2021-07-27 17:18] liuchang0520 commented on #7202
I see. Thanks @Jackie-Jiang . Any suggestion to deal with the msg with null value in time column?

The scenario is indeed some users errors: users create the Pinot table by themselves. But the corresponding time column has null value in many of the upstream Kafka msgs. As a result, many exceptions are thrown from the index step in [LLRealtimeSegmentDataManager:L502](https://github.com/apache/pinot

[2021-07-27 17:30] liuchang0520 commented on #7202
In our internal decoder, we fill the Kafka event timestamp value to some of the hard-coded system time column, e.g. secondsSinceEpoch. But for customized time column, since decoder has no notion of the Pinot schema, we are unable to fill the TS value to it.

[2021-07-27 17:54] chenboat commented on #7202
Thank you @liuchang0520. I think we can use current time as the default time value -- in fact this is what we used today internally. It is in general good for retention management because data will be deleted along with time. We have seen many users for some reasons forgot to populate the time columns. There are many problems here: this most serious one is that it causes ingestion exception be thr

[2021-07-27 18:04] liuchang0520 commented on #7202
Agree. @chenboat  We also need to know which column is time column in decoder.

[2021-07-27 22:01] dharakk commented on #7183
There seems to be two reasons for this:
1) Pinot data table version might mismatch from what is expected by presto in this adding this config can fix the exception: https://github.com/apache/incubator-pinot/blob/master/kubernetes/helm/pinot/values.yaml#L301
2) The pinot query to server times out in that case the table might need some optimization. Looking more in to this on what to tune.

[2021-07-28 05:08] suddendust commented on #7212
I can pick this up if it's not urgent (I will need to read the theory behind these).

[2021-07-28 08:26] atris commented on #7194
This has been resolved with the new CompositePredicateEvaluator

[2021-07-28 08:27] atris commented on #7190
Why do we not use Lucene's geo functions to achieve some of these (such as contains)?

[2021-07-28 08:27] #7194 closed

[2021-07-28 08:30] atris opened #7215 "Text Indices Are Force Merged to Single Lucene Segment"
We force merge all segments of a single Lucene index to a single segment for text indices today, thus potentially creating a single large segment and restricting the possibility of searching multiple segments concurrently. Instead, we should be depending on Lucene's merging policy and define a custom policy if we need to keep open file handles under control.

[2021-07-28 08:38] atris opened #7216 "Stop Words Should Not Be Hard Coded"
During text index creation, we pass in a hard coded list of stop words which limits the vocabulary that we can use to filter words before indexing.

We should use Lucene's StopFilter and read the list of stop words from a file, thus allowing users flexibility in terms of filtering words.

[2021-07-28 08:45] atris opened #7217 "Using DocValues Instead of Stored Fields"
When creating text indices, we use Lucene's stored fields to store the DocID field inside the index. This is inefficient due stored fields' representation within Lucene.

A more efficient way would be use Lucene's DocValues and allow DocValues to be used as stored fields. This will reduce our storage footprint.

[2021-07-28 08:52] atris opened #7218 "Expand Full Text Search Capabilities"
Our FTS capabilities are pretty limited right now -- REGEXP_MATCH does a primitive regex match and TEXT_MATCHES is simply a wrapper around basic Lucene level searching (does not expose fuzzy queries or the option to rank).

This issue states a proposal for expanding our FTS capabilities with the following initial ideas:

1. Support LIKE operator (https://www.w3schools.com/sql/sql_like.asp).
2. Imp

[2021-07-28 10:24] MrNeocore commented on #7090
@kkrugler I see, thanks for the clarification !

[2021-07-28 18:08] suddendust commented on #7187
@mayankshriv let me know what you think of this.

[2021-07-28 19:49] mayankshriv commented on #7187
I think the code and user point-of-view are contradicting here. It is very natural for users to provide a comma separated header string. May be we should gracefully error out right now if we don't find the delimiter in the header?

[2021-07-28 22:23] snleee opened #7221 "Update pom files to create shaded jar for Apache Pulsar plugin"
Currently, Apache Pulsar plugin doesn't create the shaded jar.

[code]
On the other hand, all of other plugins are generating shaded jars.
[code]

[2021-07-29 06:13] suddendust commented on #7187
That will be a good starting step for sure. However, can we also have an optional config that the user can set explicitly if the header delimiter is different than the CSV delimiter? If this is absent, we'll just keep using the existing config, and will error out if they're incompatible. It will be absent most of the time, because as you said, it's for users to provide a comma separated header str

[2021-07-29 16:27] apucher opened #7227 "Should /tables return only tables with READ permissions to the current user?"
`/tables` isn't currently bound to table-specific permissions.

Intuitively, it makes sense to only show tables that actually have READ permissions to the current user - as in both metadata and data. However there are two counterpoints as well: (1) it's conceivable that there could be metadata "bot" user that can create, update, and delete tables without being able to read the metadata, and (2) th

[2021-07-29 17:06] apucher opened #7228 "controller UI gets stuck on query console `/sql` call with auth enabled"
two things here:
(1) the controller JS UI should fail gracefully when receiving a 401 or 403 code and notify the user rather than getting stuck
(2) figure out why there's no `Authorization` header being passed to this call despite this being the case for all other calls with BASIC auth turned on

[2021-07-29 17:14] kkrugler commented on #7090
Hi @mayankshriv - I had two questions on my WIP PR at https://github.com/apache/pinot/pull/7222, any chance you could take a look at give some feedback? I'd like to wrap this up before I leave on vacation, thanks!

[2021-07-29 17:23] suddendust opened #7229 "Pinot Long Term Data Store"
We have certain use-cases wherein we would like to move older data to cheap object stores like the S3 and store only the most recent data in Pinot. One such use-case is storing distributed trace data - Our query patterns show that more than 90% of the queries lie in the last 24 hours. Having said that, we have a retention period of 30 days. So in this case, we would like to keep only the last 24 h

[2021-07-29 17:24] suddendust commented on #7229
@kishoreg please let me know your thoughts, thanks!

[2021-07-29 17:38] mcvsubbu commented on #7229
Useful feature.
Another way to do this may be to evict the segments from pinot-servers, but load them on-demand when a query comes in. Mark something in the IDEALSTATE to indicate that the segment is not there, so that the broker is aware (this may or may not be needed).

[2021-07-29 17:43] suddendust commented on #7229
Yes @mcvsubbu let us evaluate the pros and cons of each of these approaches. I mentioned this one specifically as work has already started on the connector side I think.

[2021-07-29 17:48] mcvsubbu commented on #7229
True, but something worth considering

[2021-07-29 17:56] sajjad-moradi commented on #7229
Also if lower granularity for older data (>24h) is an option, maybe introducing roll-up can compact older data which lead to lower cost of having pinot servers. In that case, even for older data, query latency will be sub-seconds.

[2021-07-29 23:25] #7221 closed

[2021-07-30 00:02] #7228 closed

[2021-07-30 00:03] apucher commented on #7228
thanks @joshigaurava !

[2021-07-30 04:41] Aka-shi commented on #7229
@sajjad-moradi Our trace data has very high cardinality dimensions(trace_id, span_id, etc,.), so compaction won't give us much benefits here(roll-up ratio would be very poor). It would have helped if we are only storing aggregates.

[2021-07-30 07:32] apucher opened #7232 "obfuscate authToken in ingestion job (and other?) console output"
console logs of ingestion jobs currently display the full job spec, including auth token in plain text. credentials should be obfuscated eventually.

[2021-07-30 07:36] kishoreg commented on #7229
This makes sense and something worth doing. We need two things

- enhance tiered storage concept to move segments older than X to S3.
- either enhance presto Pinot connector to directly load data from S3 or enhance Pinot to lazy load segments from S3 on demand. Later option is probably better? Note that the latency will be higher when we lazy load a segment.

Thoughts?

[2021-07-30 07:38] kishoreg commented on #7229
Whether we do it from connector or lazy load in Pinot the latency will be the same. Lazy load might be better if there is ssd one so let of no PoC  as l cache on Pinot servers.

[2021-07-30 15:08] suddendust commented on #7229
@kishoreg just a thought - Can we do something that doesn't require us to download the complete segment from the S3? Some way of looking "inside" a segment and download only a part of it.

[2021-07-30 15:14] suddendust commented on #7187
@mayankshriv I think gracefully erroring out if they don't match is the least we can do here. Shall we start with that?

[2021-07-30 15:19] kishoreg commented on #7229
possible but it will be a huge undertaking. we can probably get there in small steps.

[2021-07-30 17:50] mcvsubbu commented on #7229
I would vote for lazy load in pinot as a first step. I will be glad to review the design and PRs  if you can contribute.

[2021-07-30 19:38] jasperjiaguo opened #7235 "Adding testing data for better coverage in compatibility-verifier"
As suggested by @mcvsubbu we would like to test these features in compatibility-verifier
- No dictionary column
- Offheap memory for consuming segments in server
- Bloom filter (not sure if low volume will work for that. If not, then create another ticket under PINOT-13697))
- Range index
- var length dictionary
- partition column (even though there is only one server)
- Walk through the existing

[2021-07-30 23:35] #7055 closed

[2021-07-30 23:37] xiangfu0 commented on #7191
Copying over the slack discussion here:

We may need to add a few more params(credentialProvider, roleArn and roleSessionName) to make it happen, according to the example code:
https://docs.aws.amazon.com/kinesisanalytics/latest/java/examples-cross.html#examples-cross-app

[2021-07-31 14:16] suddendust commented on #7212
@lakshmanan-v  @Jackie-Jiang I would need a bit more detail around the issue. What do you mean by "...offer raw data structures..."? Can you please elaborate upon the requirement a bit and if possible provide some references? Thanks.

[2021-08-01 07:16] suddendust commented on #7187
@mayankshriv Have raised a preliminary PR [here](https://github.com/apache/pinot/pull/7237)

[2021-08-01 08:30] kriti-sc commented on #7232
Seems similar to https://github.com/apache/pinot/issues/6823
@mayankshriv Let me know your thoughts and I can include this in the existing PR.

[2021-08-01 18:06] itsmesrds opened #7238 "Kinesis ApiCallTimeout during the ingestion"
i'm using pinot 0.8.0 master branch.

Currently my producer is sending the records for 10 seconds and in the mean time the producer is idle and its throwing out the below error. same error is being thrown continuously for every 30sec, event after producer stopped.

[code]

[2021-08-01 19:50] mayankshriv commented on #7238
Tagging @KKcorps @npawar.

[2021-08-01 19:53] KKcorps commented on #7238
Hi, The records from Kinesis are produced after every fetch timeout interval or when no new records are available in partition whichever comes first.
The above exception is just a warning when the thread is interrupted due to the fetch timeout and doesn't impact pinot kinesis processing. I will raise a PR to suppress this LOG.

[2021-08-02 05:32] suddendust commented on #7229
@mcvsubbu Will come up with a design proposal for this soon.

[2021-08-02 14:04] pjpringle opened #7239 "Low level kafka consumer assumes string key"
Low level Kafka consumer assumes string deserializer for the key.

This causes exceptions if the kafka data is not keyed by a string.

Proposal to make the key deserializer class configurable.

Code link
https://www.github.com/apache/pinot/tree/master/pinot-plugins%2Fpinot-stream-ingestion%2Fpinot-kafka-2.0%2Fsrc%2Fmain%2Fjava%2Forg%2Fapache%2Fpinot%2Fplugin%2Fstream%2Fkafka20%2FKafkaPartitionLeve

[2021-08-02 20:59] ramabme commented on #7203
After investigating , implementation of this in the cleanest way is not a trivial fix. Will get back to this.

- Will involve  changes to queryrewrite to support literals and such expressions with literals on lhs and rhs ex. true, 1=1.
- Filter tree optimization to reduce the tree in presence of boolean literal nodes.

[2021-08-02 21:20] snleee opened #7240 "Remove raw data from binary release"
Currently, our binary distribution packs ~100MB raw data for pinot quick starter scripts. Removing this can greatly reduce the size of our official binary distribution, which is currently over 500MB.

[code]

For the above files, we should change the script to download instead of packing along with the release.

[2021-08-02 21:25] xiangfu0 commented on #7240
where can we download those data from? Maybe move them to another directory and download them from the github URL?

[2021-08-02 21:53] elonazoulay opened #7242 "Pinot broker request has a limit of Integer.MAX_VALUE rows"
Can the limit for broker requests be changed to long type instead of integer type?

[2021-08-02 22:03] snleee commented on #7240
@xiangfu0

I was thinking of the similar approach:

1. Download from git URL using `curl`

https://github.com/apache/pinot/raw/master/pinot-tools/src/main/resources/examples/batch/airlineStats/rawdata/2014/01/01/airlineStats_data_2014-01-01.avro

[code]

2. Run `git clone` and then copy the example files :)

[2021-08-03 01:04] Jackie-Jiang commented on #7242
Currently `LIMIT` is modeled as an int in the thrift object, and changing it to long involves protocol change.
Can you please elaborate the use case where you want to put super large limit? We might want to allow unlimited (no limit) in that case

[2021-08-03 12:07] Eywek commented on #6302
Hi 👋

Do you have any news on this kind of feature?

[2021-08-03 14:45] kishoreg commented on #6302
@mcvsubbu @npawar we should definitely consider implementing this. I remember discussing a simple approach for this but I dont seem to recall the solution.

[2021-08-03 15:19] mcvsubbu commented on #6302
@Eywek just clarifying if your request to "pause" is the same as that of @Aka-shi  -- "Commit all data you have and do not consume any more until operator resumes".  Also, if you don't expect to touch the table or send any more data ever again, then why bother pausing? You can get all the queries, and data in consuming segment will be committed eventually, and everything should be good.

@Aka-shi

[2021-08-03 15:25] Eywek commented on #6302
In my use case, I don't need to be able to resume, only being able to pause and query the data.

Because we don't need to put useless pressure on our Apache Pulsar cluster (e.g. creating consumers, reading data...), we won't be able to delete the topic if we have consumer attached to it.
I also think that it's preferable to commit the segment when we pause so Pinot doesn't have to re-compute the s

[2021-08-03 15:31] mcvsubbu commented on #6302
Good point.

Will it help if the realtime segments were moved to an offline table, and you just drop the realtime table when the segments are moved completely? We do have that feature now.

[2021-08-03 15:41] Eywek commented on #6302
Good idea. But can we trigger a segment move (from REALTIME to OFFLINE) via the API? And know when this is done?
And can we drop the REALTIME table (of an hybrid table) without breaking anything?

[2021-08-03 16:58] mcvsubbu commented on #6302
No, it is done automatically in a periodic manner. Also, you will need to deploy minions for it.

Of course, you can always do this manually by downloading the segments and uploading them to the offline table. APIs are available for it. A small script can change the segment name. This is a hack (as of now, since segment name change is not a supported feature), but if, for example, we have an API t

[2021-08-03 17:03] Eywek commented on #6302
I would prefer using API instead of minions, since I would do it as soon as my job finished processing data, I want to end this job only when the data is ready (which means when the segment is in the OFFLINE table in this solution).

Not an issue if the API supports it since we can automate it in our job.

This solution seems to work for our use case. But downloading and uploading segments could b

[2021-08-03 18:18] ramabme commented on #6767
Committed below change to fix above issue. Fixed the UI button and REST API.
https://github.com/apache/pinot/pull/7169

[2021-08-03 18:35] npawar commented on #6302
There is an API (check Task section on swagger) to trigger the movement
from real-time to offline instead of waiting for the periodic task (you
still need minions).
However the realtimeToOffline task is not designed to achieve exactly what
you want. It will not pick up the segments for movement unless they're
completed segments. If it seems consuming segments, it will wait for them
to complete.
ht

[2021-08-03 22:35] Jackie-Jiang commented on #6955
Currently pinot handles the type conversion for the argument. To keep this behavior, we can also introduce a flag for the annotation to mark a function as the default function if there is no exact type match for the given function name and argument count.

[2021-08-04 00:35] mcvsubbu commented on #6302
The segment will complete when the time constraint is reached. Since there is no more new data, the last completed segment will be moved, and the next consuming segment will be empty. Am I right?

[2021-08-04 10:31] suddendust commented on #7229
@mcvsubbu @kishoreg I am thinking along the lines of what @mcvsubbu proposed earlier. Introduce a new state like "EVICTED" in the segment FSM. A segment can move from ONLINE -> EVICTED (this transition can take place when a segment's retention period expires). The invariant is that an evicted segment is always present in the deep store. While querying, the broker gets all of the segments to be que

[2021-08-04 16:15] elonazoulay commented on #7242
Mostly for the Trino connector - if a limit is pushed down (which is of long type) that exceeds Integer.MAX_VALUE

[2021-08-04 16:21] itsmesrds commented on #7238
yea. other way is you can add little bigger timeout.

ClientOverrideConfiguration configuration = ClientOverrideConfiguration.builder()
            .apiCallAttemptTimeout(Duration.ofMillis(1000))
            .apiCallTimeout(Duration.ofMillis(1500))
            .retryPolicy(RetryPolicy.defaultRetryPolicy())
            .build();

[2021-08-04 16:39] mcvsubbu commented on #7229
If you are changing the state machine, it is best to draw a picture and float it. We can then look at each state transition. This has to be done in a compatible manner in Helix. @kishoreg  can comment more on whether that is easy to do.

Can we even do this without modifying the state machine?

Say, the query lands on the server and the server finds that it does not have the segment. It can then h

[2021-08-04 17:00] mcvsubbu commented on #6302
@Aka-shi please describe your use case for pause. Thanks

[2021-08-04 17:52] snleee opened #7248 "Pinot broker unit tests sometimes hit timeout error."
[code]

[2021-08-04 18:29] npawar commented on #6302
Not quite. The movement job waits for the complete window. So if you've set window as 1h, it will wait until the completed segments have crossed the entire 1 hour. If there's a consuming segment immediately after, it will wait. There's no way to know if the next consuming segment is going to get events for the incomplete window or not.
This was designed with the assumption that in production you'l

[2021-08-04 19:03] mayankshriv opened #7250 "Configure Kafka consumption from a specific timestamp"
Currently, we only seem to support `smallest/largest` values for `consumer.prop.auto.offset.reset` in case of  OSS Kafka consumer plugin. It would be great to also support consuming from a specific timestamp. With the `KafkaConsumer#offsetsForTime()` and `KafkaConsumer#seek()` api's we should be able to do so (or perhaps there's a simpler way?).

[2021-08-04 19:33] suddendust commented on #7229
Thanks @mcvsubbu for the review and the pointers. As for the FSM, this is the new state I proposed:

<img width="796" alt="Screenshot 2021-08-05 at 12 00 38 AM" src="https://user-images.githubusercontent.com/84911643/128235324-23760e70-861d-43ca-b6ab-a6e338ba20b6.png">

The reason I introduced a new state is because it looked like a cleaner way for the broker to determine that a segment has been p

[2021-08-04 19:38] mcvsubbu commented on #7250
Native pinot code supports any string there, not just smallest/largest. The underlying plugin can interpret the string however it wants.

We only want that the underlying plugin interpret the basic strings we need them to (smallest/largest).

in LinkedIn, we use "2d", for example. The stream then attempts to provide an approximate offset that is about 2d old.

[2021-08-04 19:40] mcvsubbu commented on #7229
I was just proposing what worked for us in terms of cost. Your mileage may vary, of course.

In terms of state machine, we need to transition out of "Moved" state to ONLINE and OFFLINE states as well (what if a moved segment is deleted)

Lastly, let us ask ourselves why the broker needs to know that a segment has been moved.

[2021-08-04 19:57] mcvsubbu commented on #6302
I agree realtime to offline does not fit the bill here. I think the use case described by @Eywek  is unique, so I wanted to avoid a feature build (that may not be simple) for a one-time operation in one installation. Also, I wanted to check if there are existing mechanisms that @Eywek could use one-time to satisfy their needs. Segment name change seems perfectly fine here.

@Eywek Do you expect to

[2021-08-04 20:19] mayankshriv commented on #7250
Yes, that's what was the intent of the issue, updated for clarity.

[2021-08-04 20:44] npawar commented on #7250
This would be a useful feature. Tagging this as a beginner issue.

[2021-08-04 20:45] npawar commented on #6770
Closing this, as these issues are resolved after the PR above and Jackie's refactorings.

[2021-08-04 20:45] #6770 closed

[2021-08-04 20:51] npawar commented on #6767
Thanks @ramabme ! Closing this.

[2021-08-04 20:51] #6767 closed

[2021-08-04 21:23] npawar commented on #7239
What kind of exception are you seeing? Is there a stack trace/log? I'm wondering why it is not getting read as a string automatically. I'm sure this is not the first time someone has tried to ingest a topic that used a non-string column as a key.

[2021-08-04 23:41] afilipchik commented on #7229
+1 for tiered storage. We (@elonazoulay ) had very similar ideas on the Presto-Pinot part (let it scan segments directly and offload real-time serving part).

[2021-08-05 00:11] kishoreg commented on #7229
@suddendust this is a pretty big undertaking. @noahprince22  had attempted this before. https://github.com/apache/pinot/issues/6187

[2021-08-05 00:12] kishoreg commented on #7229
From your initial diagram, which path are we trying to solve? Presto -> Pinot -> s3 or Presto -> pinot-connector -> s3

[2021-08-05 00:27] pjpringle commented on #7239
Potentially a different issue with confluent Kafka schema registry
properties which we have resolved.

The kafka serialization exception caused by 401 unauthorized by schema
registry went to the console log and is not present in the on disk log
files, this created some confusion.

Although still think it's worth changing the 2.0 kafka consumer code to use
byte[] key / serializer like 0.9 and to do

[2021-08-05 00:37] pjpringle opened #7254 "Upgrade dependency libraries with security vulnerabilities to streamline enterprise onboarding"
Several libraries in the tar.gz distro for 0.71 are flagged as having severe/critical vulnerabilities by sonatype.

Notably swagger jars and netty. These get flagged by enterprise scanning and makes onboarding difficult

Fix to upgrade versions in pom.xml to later releases with fixes

https://nvd.nist.gov/vuln/detail/CVE-2019-17495

https://nvd.nist.gov/vuln/detail/CVE-2021-21290

Would also be go

[2021-08-05 08:27] suddendust commented on #7229
@mcvsubbu @kishoreg here's the updated FSM. I had not marked any transitions out-of MOVED earlier.

<img width="784" alt="Screenshot 2021-08-05 at 11 00 15 AM" src="https://user-images.githubusercontent.com/84911643/128296427-b814f610-429a-4fbf-8248-84df1bc7960a.png">

We are trying to go with Presto -> Pinot -> S3 (no changes to the connector atm).

I haven't really given a thought to how this de

[2021-08-05 11:37] kriti-sc commented on #6988
Picking this up

[2021-08-05 11:48] Eywek commented on #6302
Yes I'll have many table with this situation, each time one of our customer try to import a new "datasource" (which happen maybe 10 times / day) we will create a new table and have this situation.

That's not something that meet my use case, I want to be able to process and save data as fast as possible, waiting for pinot to complete a segment after an amount of time is increasing my processing ti

[2021-08-05 15:52] yupeng9 commented on #6302
+1 to the feature. We have a similar request but for a different reason.

When we bootstrap an upsert table using the real-time segment push, we need to pause the real-time ingestion. Otherwise the upsert metadata will hit a race condition. Though it's possible to implement this pause internally, making it explicit will simplify the implementation and make it safer for operations.

[2021-08-05 16:11] mayankshriv opened #7256 "Removing ZKClient dependency from Pinot Client"
Currently, Pinot client uses ZK client to watch on list of available brokers to send the request to. While this works well to keep the live broker list up-to-date, the dependency on ZK connectivity may not be desirable. One way to eliminate this would be to:
- Use controller apis to get the list of brokers to query for a table.
- Use polling to keep the broker list up-to-date
- Additionally, also

[2021-08-05 16:22] mcvsubbu commented on #6302
Thanks, yupeng. I need to understand this better. Is this a race condition in pinot? If so, we should fix it regardless?

Let us discuss a little bit on this. I will reach out. and then we can summarize our discussion here.

[2021-08-05 16:23] xiangfu0 commented on #7256
Another issue documented in #7166 is about the broker address we are
publishing to client is for inter-Pinot cluster communications. It’s not
guaranteed that client side is within same network.
E.g. Pinot client outside k8s cluster doesn’t have access to broker exposed
through controller API.

On Thu, Aug 5, 2021 at 09:11 Mayank Shrivastava ***@***.***>
wrote:

[2021-08-05 16:44] mcvsubbu commented on #6302
thanks, this is good to know.

[2021-08-05 17:02] mcvsubbu commented on #7229
OK, so we have some conclusions here, let me know if this sounds right.

Happy path:
- The broker does not need to know whether a segment is in memory or not. So, maybe we don't need to change the Segment State machine, after all (let me know if you think otherwise)
- When the server gets a request, it needs to handle the case that the segment is not in its own hard disk. So, we need to have the s

[2021-08-05 17:57] amrishlal commented on #7229
Possibly two things to consider here:
- I am wondering if data in S3 needs to have the same granularity as the data in Pinot or can we aggregate the data to a higher-level dimension while aging it out to S3? For example, if data in the latest segment has a granularity of 1 second, then data in a segment 10 days old may have a granularity of 10 seconds (thereby reducing the data size by factor of 1

[2021-08-05 18:08] kishoreg commented on #7229
This is a good point but I consider it more of optimization and should not be designed for this. There are cases where users would not want to compress the granularity. Moreover, one of the main reasoning here is s3 is cheaper and users want to keep the data for long.

This is definitely possible and something to consider once we have the ability to load a segment when we receive the query

[2021-08-05 18:38] kishoreg commented on #7229
I don't know. This needs more thought. We took a similar approach last time when Noah Prince wanted to solve it but we abandoned it after hitting a lot of obstacles.  should we start a proposal doc this time?

[2021-08-05 18:43] yupeng9 commented on #6302
You can think of it this way:
When the segment in the history is modified, we need to scan the history to derive the latest upsert state per primary key, especially for the partial upsert. This scan cannot proceed when the real-time consumption is on, as we dont have the latest metadata info to handle the real-time update. The way to solve it is to put a lock and block the real-time ingestion, unt

[2021-08-05 18:56] suddendust commented on #7229
I'll start with the proposal doc for this today.

[2021-08-05 22:49] Jackie-Jiang commented on #7242
@elonazoulay We don't want to allow such large limit because the query result is held in memory in Pinot. For now a solution would be to rewrite the limit to Integer.MAX_VALUE if we detect a larger limit in Trino connector

[2021-08-06 22:44] kkrugler commented on #7206
PR #7241 handles this - so closing the issue. Support is via `OPTION(minServerGroupTrimSize=<value>)`; if you use -1 for the time size, trimming is disabled.

[2021-08-06 22:44] #7206 closed

[2021-08-07 04:44] elonazoulay commented on #7242
Thanks, sounds good! For the connector there is a new pr which adds an explicit limit (integer) to broker queries.

[2021-08-07 04:44] elonazoulay commented on #7242
What about the grpc endpoint? Would it be possible to have long limit in that case?

[2021-08-07 04:45] elonazoulay commented on #7242
Could be used to export and reimport (or copy) a pinot table.

[2021-08-08 07:19] PD666214 opened #7261 "Docker image to deploy?"

[2021-08-08 09:10] xiangfu0 commented on #7261
https://hub.docker.com/layers/apachepinot/pinot/latest/images/sha256-ae26a48f6f3d7918d3311c132d2aee0dd2455eeefae4e8852438d7371a3c4a0b?context=repo

[2021-08-08 09:12] xiangfu0 commented on #7261
Please refer to this doc for docker deployment: https://docs.pinot.apache.org/basics/getting-started/running-pinot-in-docker

And k8s: https://docs.pinot.apache.org/basics/getting-started/kubernetes-quickstart

[2021-08-09 07:45] HJK181 opened #7262 "All table columns have default values"
I have the following avro schema definition:
[code]
and the following schema definition:
[code]
After running a batch ingestion job, all database rows contain the default value of the field's dataType. I tried ingesting the data with complex type config and without:
[code]
Any ideas?

[2021-08-09 11:09] suddendust commented on #7229
@kishoreg @mcvsubbu [Here](https://docs.google.com/document/d/1txrsoI4WPRMPWuAvE-BHlHP5WIpbjrp0g7znkZD71Fk/edit?usp=sharing) is the design proposal on the feature. One section is still in todo (evaluating the performance implications of this feature).

[2021-08-09 12:42] HJK181 commented on #7262
Nailed it down to the transformer configuration
[code]
Where I want to transform the mappingTime to a valid timestamp in case its value is -1.

However, I'm not able to provide a valid transformer configuration. Getting
`Created dictionary for LONG column: timestamp with cardinality: 1, range: -9223372036854775808 to -9223372036854775808` all the time.

I've tried different configurations
[code]
N

[2021-08-09 13:18] mayankshriv commented on #6439
+1 @xiangfu0 's comment. Implementing an accurate algorithm almost looks like the distinctCount implementation (perhaps could be refactored). But wondering if there's libraries that provide approx algorithms for this.

[2021-08-09 18:00] DanielTing commented on #6439
Just commenting a bit on how data sketches could be used for this problem and some of the limitations. The short is that existing libraries won't provide this exact functionality but can help with this. There is extra work involved. You'd get an approximate result that covers a good set of cases (but not all).

So for continuous data with a smooth density, the distribution is pretty easy to approx

[2021-08-09 19:05] Jackie-Jiang commented on #7242
Currently the `PinotQuery` (parsed pinot query) has `limit` as an `int` field, so it is hard to add it. One possible workaround would be put the long limit as a query option, but that is quite hacky

[2021-08-09 19:15] Jackie-Jiang opened #7264 "Add exception to broker response when not all segments are available (partial response)"
There are 3 scenarios when the broker response might be partial:
1. There are some segments without online server in external view - `numUnavailableSegments` in `BaseBrokerRequestHandler` line 718
2. Some segments are not available on server - `numSegmentsQueried > numSegmentsAcquired` in `ServerQueryExecutorV1Impl` line 170
3. Some servers not responded - `numServersQueried > numServersResponded`

[2021-08-09 19:23] Jackie-Jiang commented on #7262
Can you please check if there are any exceptions logged?
Adding @npawar and @yupeng9 to also take a look

[2021-08-09 19:27] mcvsubbu commented on #7264
There is an indication that the response is partial. Why add an exception?
If there is a need for the reason, then we can add a "reason" field ?

[2021-08-09 19:36] npawar commented on #7262
This looks like you could simply use json extraction udfs.

[code]
eg
[code]
Here's also a demo which shows the usage of this: https://youtu.be/L5b_OJVOJKo?t=2479

But if you in particular want to use the complex field config, @yupeng9 should be able to help you.

[2021-08-09 19:36] Jackie-Jiang commented on #7264
We don't really have that for case 1 and 2. For case 3, we should not expect normal users to check `numServersQueried` and `numServersResponded` and compare them to tell whether the result is partial. (The `partialResponse` flag is in LinkedIn internal code IIRC)

[2021-08-09 20:18] mcvsubbu commented on #7264
If partial response flag is not set in all cases, then that is a bug. Let us definitely fix it.

I think applications check for exceptions and assume that there is no result. So, exceptions when there are partial results may not be the right answer.

[2021-08-09 20:56] Jackie-Jiang commented on #7264
We don't have that flag in OSS. IIRC the logic for that flag is check if `numServersQueried` matches `numServersResponded` and whether there are exceptions.

We don't model exceptions this way. Having exceptions does not indicate no result. It actually indicates the results are not complete (e.g. one segment throws exception, others work fine). When broker failed to route the query to a server, it

[2021-08-09 21:39] #7261 closed

[2021-08-09 21:59] Jackie-Jiang opened #7266 "Broker retry when server does not respond/connection break"
When there are multiple replicas available, when one server failed to respond for a query, broker can retry with other servers (enabled by a flag to keep backward-compatible with the current behavior)

[2021-08-09 22:58] yupeng9 commented on #7262
complex type handling is not released yet. Did you use master or existing releases?

[2021-08-10 00:03] liuchang0520 commented on #7202
@Jackie-Jiang @chenboat @yupeng9 , per the discussion, add a flag to table config to indicate if we handle the null value in time column or not.

If it is enabled, we fill in machine time.

By default set this flag to false to keep backward compatibility.

[2021-08-10 00:06] #5359 closed

[2021-08-10 01:08] mayankshriv commented on #6439
@yashrsharma44 Curious, why doesn't `count(*) .. group by.. order by.. ` work?

[2021-08-10 05:48] HJK181 commented on #7262
@yupeng9 I've setup a Docker compose with `image: apachepinot/pinot:latest`

[2021-08-10 05:56] HJK181 commented on #7262
@npawar I've tried
[code]
and
[code]
both resulting in `Created dictionary for LONG column: timestamp with cardinality: 1, range: 31536000 to 31536000` where all rows contain the default value.

[2021-08-10 06:01] pjpringle opened #7268 "Superset - Provide a way to disable upsert for query"
Sometimes we want to get the history of a timeseries from a pinot table which is enabled for upsert.

There doesn't seem to be anyway to toggle option(skipUpsert=true) in superset or ability to modify generated pinot queries.

Looking for a way to configure a new data source connection with upsert disabled ideally through a new option passed in the connection string with the sqlalchemy driver prov

[2021-08-10 06:10] npawar commented on #7262
According to the syntax,
JsonField = query
JsonPath = $.mapping
So try, jsonPathLong(query, '$.mapping', default value)

On Mon, Aug 9, 2021, 10:56 PM HJK181 ***@***.***> wrote:

[2021-08-10 06:24] HJK181 commented on #7262
@npawar Same result, `cardinality: 1`. I don't understand why it should be '$.mapping' the avro field is called `mappingTime` and in my schema definition I have configured
[code]
So `JSONPATHLONG(query, '$.mappingTime', 31536000)` should be correct, shouldn't it? But this also results in `cardinality: 1`

[2021-08-10 06:32] HJK181 commented on #7262
What is working for the mappingTime default value is the following table configuration:
[code]
I removed the `complexTypeConfig` but with this configuration, I get a cardinality: 0 for all other columns:
[code]

[2021-08-10 06:38] #6028 closed

[2021-08-10 08:30] suddendust commented on #7266
@Jackie-Jiang I can take this up.

[2021-08-10 16:37] snleee opened #7270 "Fix the issue with "pinot-pulsar" module (potentially library conflicts)"
Apache Pulsar connector has been added from https://github.com/apache/pinot/pull/7026

However, it currently is facing some issues on runtime (potentially dependency conflicts). We need to fix the conflicts to make the connector work correctly.

[code]

[code]

[2021-08-10 16:45] yupeng9 commented on #7262
[code]

This is to unnest collections. But `query, kpis` are records in your schema?

[2021-08-10 17:02] chenboat opened #7271 "Pinot server can not start because of the Reflection lib version used"
There is a well documented issued about the Reflection lib (**0.9.10 onward**) used in Pinot today having multi-threading issues.
https://github.com/ronmamo/reflections/issues/81

We also encountered the same issue in production causing a percentage of our servers not able to start. The fix now is to revert to use **0.9.9** version of the lib. Or allow a server starts with the Swagger UI (which is

[2021-08-10 17:29] sajjad-moradi opened #7273 "Refactor service status checkers to make it pluggable"
During the discussion on #7267, @kishoreg suggests making service status checkers pluggable so that different customers can plugin their own implementation of status checkers. Apparently there have been some needs of customizing health status check in Kubernetes.

[2021-08-10 17:29] sajjad-moradi opened #7274 "Improve performance of realtime consumption status checker"
Realtime consumption status checker is used at startup time in Pinot Server to define a catch-up period in which no query execution happens and stream consumers try to catch up to the latest messages available in different streams. The current realtime consumption status checker defines a time threshold for startup consumption. When the wait time after Pinot Server starts up passes that time thres

[2021-08-10 17:31] HJK181 commented on #7262
Yes, see the schema definition of my initial post.

[2021-08-10 17:31] sajjad-moradi commented on #7274
Please note that this improvement has been a TODO for a long time:
https://github.com/apache/pinot/blob/master/pinot-common/src/main/java/org/apache/pinot/common/utils/ServiceStatus.java#L204

[2021-08-10 17:33] sajjad-moradi commented on #7274
The 2nd approach is being implemented in #7267

[2021-08-10 18:02] npawar opened #7275 "Tool for migrating from one deep store to another"
A  use case for this is, say someone started with controller local as deep store, and then wants to migrate to using Azure as deep store. If they enable this, the newer segments will use Azure as deep store, but the older segments will still remain on controller local disk.
The only way to move the old segments is to manually copy them over to Azure, and then modify the segment zk metadata.

An ad

[2021-08-10 18:15] mcvsubbu commented on #7275
Can you add some more specific requirements? Are you looking for a no downtime move?

[2021-08-10 18:24] mbecker opened #7276 "Ingest and query time in RFC3339"
Hi,

I'm having a time format in the Kafka Messages as follows:
[code]

I'm using the following schema for the date:
[code]
(I'm using a Java format here)

How can I check that the ingest in Pinot is working with the specified date time field?

Then in a Presto SQL the DATETIMECONVERT doesn't work as expected and returns an error:
[code]
(Here I'm using a python format? as described in superset)

[2021-08-10 20:57] xiangfu0 commented on #7271
This reflection is introduced in https://github.com/apache/pinot/pull/5440/files and  we had similar issue in https://github.com/apache/pinot/pull/5531.

Can we try to update the reflection lib to 0.9.9 ? @KKcorps

[2021-08-10 21:00] Jackie-Jiang commented on #7262
@HJK181 Without the complex type support, you may transform other fields similar to how `timestamp` is transformed: either using `jsonPathLong` and `jsonPathString` or using groovy function

[2021-08-10 21:02] xiangfu0 commented on #7271
Opened a PR:  https://github.com/apache/pinot/pull/7277 for testing

[2021-08-10 23:29] npawar opened #7280 "Add noDowntime option to reset"
Sometimes, reset API is called on a consuming segment, to make the consumption restart. This is quite desirable in case of schema evolution, where someone added a new column, and want to force the consuming segment to restart, so that the new values are seen in the consuming segment. While consumption can be restarted even by restarting the server that contains that segment, that is often more exp

[2021-08-10 23:30] npawar commented on #7280
Another way to solve the same usecase, is an API to force commit (as suggested by @Jackie-Jiang )

[2021-08-10 23:55] mcvsubbu commented on #7280
If force commit will do, then we should do that. See Issue #6302

[2021-08-11 00:06] mcvsubbu commented on #6302
@yupeng9  and I discussed offline, and here is the summary for Upsert support:

For upsert tables, we need an occasional refill of older data. During refill, the segments change data, and if ingestion is also going on, then it messes up the indexing since other (uploaded realtime) segments are being modified. A few minutes of pause where queries are still being served (but potentially served with

[2021-08-11 00:19] xiangfu0 commented on #7271
Seem like there is no caught-able issue here when downgrading the reflection lib?

[2021-08-11 01:35] xiangfu0 commented on #7271
Merged the change, can you give it a try on your side?

[2021-08-11 03:30] yupeng9 commented on #6302
Thanks for writing down the summary!

A question on if we need to complete the consuming segment upon pause. Is it possible to simply pause the consumption? If the server restarts, then the server will lose the offset info, and restart from the previous checkpoint which is the same as the current consuming segment behavior. This could avoid the segment sealing (and small segment file) if the pause

[2021-08-11 03:39] mcvsubbu commented on #6302
I suggest to provide an option of either discarding all the consuming segments or completing all of them. I feel that handling server restarts when we are consumed half way and paused will be hard.

Take the case when the server starts to consume a segment at offset 100 and there are two replicas A and B. After sometime, a "pause" command is entered. Replica A is at 150, and Replica B is at 160, a

[2021-08-11 05:36] HJK181 commented on #7262
@yupeng9 Indeed `kpis` is not a record, it's a map. Do I need complexType config for a map?
Actually, we have two avro files in our project referencing each other:
query.avsc
[code]
kpi.avsc
[code]
The avro schema of my initial post is the result of calling `avro cat --print-schema` for the sample data above.

[2021-08-11 08:40] xiangfu0 commented on #5951
Any update on this?

[2021-08-11 15:45] yupeng9 commented on #7264
+1

I also suggest we change the default behavior to disallow partial response by default, and provide the flag to turn it on.
In many use cases, data quality and correctness is a serious issue. So it's ok to fail the query but not so to return a partial result silently.

[2021-08-11 16:34] chenboat commented on #7271
Thanks @xiangfu0. I will test.

[2021-08-11 18:30] Jackie-Jiang commented on #6439
Trying to understand the requirement here. The the result of the mode same as `select col, count(*) as cnt group by col order by cnt desc/asc limit 1`?

[2021-08-11 19:18] mr-agrwal commented on #6439
@Jackie-Jiang The requirement is something like `select item, mode(price) from sales group by item`. To achieve this we would basically have to do the following for all the items.
[code]

[2021-08-11 19:51] Jackie-Jiang commented on #6439
I see. So basically it will be very similar to `group by price, item`, but only keep the top `cnt` for each item.

To model it as an aggregation function, we need to maintain a `map` from value to count. It will be similar to `distinctcount`, and calculating the 100% accurate result will be a very costly function

[2021-08-11 19:58] kishoreg commented on #6439
If it's partitioned by item, this can be pushed down to server right

[2021-08-11 22:43] Jackie-Jiang commented on #6439
@kishoreg For group-by queries (not specific to the `mode`), if the group key is partitioned, then the aggregation can be pushed down to server (directly get the final result instead of sending back the intermediate result).
For `mode`, if the `price` is partitioned, we can send back only 1 map entry (similar to `segmentPartitionedDistinctCount`)

[2021-08-12 07:54] suddendust commented on #7264
I think the fundamental concern here is that partial results might be returned without the users taking cognisance of them. While having a flag like `partialResponse` solves to an extent, it is still prone to being missed by the user (many users don't even look at the response stats if the query was fast enough). I agree with @yupeng9 that the default behaviour in such cases should be failing the

[2021-08-12 08:32] mr-agrwal commented on #6439
You would hardly be able to take advantage of partitioning by `price` because by default most of the data will be partitioned also by a timeframe.

[2021-08-12 09:51] Aka-shi commented on #6302
@mcvsubbu Sorry for the delayed response. The initial use case for which I raised this issue is:
We had frequent downtimes on Kafka at that time and during every downtime server fails to ingest and we had to restart servers to recover. Even though we were informed of the downtime, the other option to avoid server restarts was to disable the table. But disabling the table also means querying is dis

[2021-08-12 15:29] kishoreg commented on #6439
@Jackie-Jiang it should be partitioned by item right?

[2021-08-12 18:53] mcvsubbu opened #7290 "PinotAdminCommand throws exception"
2021/08/12 11:51:35.794 INFO [PinotAdministrator] [main] Usage: pinot-admin.sh <subCommand>
2021/08/12 11:51:35.794 INFO [PinotAdministrator] [main] Valid subCommands are:
2021/08/12 11:51:35.807 INFO [PinotAdministrator] [main] 	QuickStart	<Run Pinot QuickStart.>
2021/08/12 11:51:35.808 INFO [PinotAdministrator] [main] 	OperateClusterConfig	<Operate Pinot Cluster Config. Sample usage: `pinot-admi

[2021-08-12 19:19] npawar commented on #7262
@HJK181 , i was able to get this working with your avro schema, avro data, and Pinot schema. This does not use the complex config, but instead just transform configs for all fields, as @Jackie-Jiang  and I were suggesting.

Here's my schema:
[code]

Here's my table:
[code]

And here's the query result:
![Screen Shot 2021-08-12 at 12 17 08 PM](https://user-images.githubusercontent.com/19693933/1292

[2021-08-12 21:57] Jackie-Jiang commented on #7266
@suddendust Thanks for volunteering! This is not a beginner task because it involves the re-calculation of the routing tables and some contract change, and we probably need to make a design doc first. Please let me know if you need more help.

[2021-08-12 22:07] #7156 closed

[2021-08-12 22:07] Jackie-Jiang commented on #7290
@xiangfu0 ^^
We can add a `null` check to avoid the NPE, but trying to understand why `_pinotServiceManager` is `null` in the first place.
@mcvsubbu Can you please provide more context on how to reproduce the issue?

[2021-08-12 22:08] mcvsubbu commented on #6812
@amrishlal is working on this

[2021-08-12 22:38] mcvsubbu commented on #7290
Just run admin command with --help

[2021-08-12 22:57] xiangfu0 commented on #7290
sure I will take a look

[2021-08-12 23:49] #7290 closed

[2021-08-13 05:59] HJK181 commented on #7262
@npawar Thank you very much, this configuration works for me as well!
However, I'm still wondering why this is all necessary as your examples, e.g. gitHubEvents also contain nested fields "foo.bar" and there no special transformation configuration is needed. The only difference I see is, I'm using AVRO where the gitHubEvents example uses JSON.

Maybe you wanna have a look at this as well, but I gu

[2021-08-13 06:11] HJK181 commented on #7262
Oh one more point,

what I also was not able to accomplish is using the default value for my date time field. I tried
[code]
and
[code]
Both resulting in
[code]
According to the docs, the default value for timestamp fields is `TIMESTAMP
0 (1970-01-01 00:00:00 UTC)`

[2021-08-13 10:26] xiangfu0 opened #7298 "Pinot tooling to test streaming connectivity"
Should have some tooling to test the connectivity to steaming data sources, e.g. Kafka/pulsar/kinesics/etc.

This should on par with existing table streaming configs.

Something like:
Pinot-admin StreamConsumer tail -type kafka-2.0 -config kafka-stream.configs

[2021-08-13 18:11] npawar commented on #7262
We are able to use it directly in that example, because the `complexTypeConfig` has been set. Before `complexTypeConfig` feature was developed, we would use the transform configs like in my example above. Those transform configs have been well tested now, and used by many people, hence I felt it was the best way for you to move forward. The `complexTypeConfig` is a very new feature, so there might

[2021-08-13 18:19] npawar commented on #7262
You should be able to use either of INT, LONG or TIMESTAMP. TIMESTAMP is a relatively new addition.
We have a restriction in Pinot for time column range as rightly pointed out by the message `must be between: 1971-01-01T00:00:00.000Z/2071-01-01T00:00:00.000Z`. So the default value for TIMESTAMP should not be `0`.
@Jackie-Jiang can you check regarding the `TIMESTAMP` default value? And also help up

[2021-08-13 19:08] xiangfu0 commented on #7276
@Jackie-Jiang @npawar shall we consider providing built-in formats to avoid those date format conversion difficulties?

[2021-08-13 19:09] Jackie-Jiang commented on #7262
`TIMESTAMP` default value is documented here: https://docs.pinot.apache.org/basics/components/schema
For `TIMESTAMP` field, the input can be millis since epoch value. We don't allow using default value for main time column (the time column configured within the table config), so you might need to set the groovy to use a proper value instead of 0.

[2021-08-13 23:23] Jackie-Jiang commented on #7276
The `TIMESTAMP` data type always use `yyyy-MM-dd HH:mm:ss.SSS`, but this won't avoid the time format conversion if we need the result to be in another format.
@mbecker From the Presto SQL query, can you try setting the input format (second argument) to match the field spec format?

[2021-08-14 13:23] suddendust commented on #7264
@mcvsubbu @Jackie-Jiang do we have an agreement on this requirement? If yes, I can take it up.

[2021-08-14 13:26] suddendust commented on #7266
@Jackie-Jiang I went through the code, and I think I need to understand it a bit more before I can make any changes to it. I think it's better that this feature is handled by someone more familiar with the codebase (also a lesson for me to understand a story properly before trying to take it up :)).

[2021-08-15 02:35] xiangfu0 opened #7302 "Support multiple deep stores in Pinot Controller with ReadOnly and ReadWrite mode"
Current pinot only supports one deep store, it works in most of the cases, but makes it hard to migrate data from one deep store to another.

The goal here is to allow multiple deep stores in Pinot controllers and allow config R/W permission per deep store basis.

E.g. we can config the old deep store as ReadOnly and the new deep store as ReadWrite. Then migrating segments from old deep store to n

[2021-08-15 02:45] xiangfu0 commented on #7275
I think we should have a no-downtime solution for this.

There are two types of deep store access patterns:
1. From the controller, typically the segments are stored on the controller, either local or mounted remote disk(NAS/ EBS/...)
2. Direct from remote store, e.g. s3/hdfs/webhdfs/gcs/adls/etc

So there are four scenarios:
A. Type I -> Type I:
If we want to switch to a big disk instance, then j

[2021-08-15 03:06] pjpringle commented on #7268
We did find a work around; when adding a metric in superset you can enter custom sql such as "sum(val) option(skipUpsert=true)"

[2021-08-15 03:18] pjpringle opened #7303 "Documentation broken script links to gitbook from enterprise environments"
Documentation is broken inside enterprises which block gitbook.com

For example

https://docs.pinot.apache.org/basics/getting-started/running-pinot-locally

All tabs are broken I.e. clicking download the release tab doesn't update to display the tab.

May may sense to host the scripts and images on the same domain as the documentation.

[2021-08-15 04:18] kishoreg commented on #7303
We were not able to do that unfortunately.. ASF did not allow it.

[2021-08-15 07:30] mbecker commented on #7276
Hi,

thanks for your help!

Sorry, in my original post I mixed some tools like using for example "Presto" (vs. only "Superset").

So, my original use case is that the Kafka Message has this attribute "time" with the RFC 3339 format. I'm ingesting it as a string type and creating the "Pinot" table as described above. In "Superset" I'm defining the dataset and setting the attribute "time" as a time-

[2021-08-15 08:37] xiangfu0 opened #7305 "ZK PUT API doesn't support large payload"
Seems that we set the payload as a query param in PUT API, which makes it part or URL. The large payload will easily exceed the URL length limit, which prevents updating a large payload.

@mayankshriv @kishoreg

[2021-08-16 08:18] suddendust commented on #7229
@mcvsubbu @kishoreg any thoughts of this?

[2021-08-16 15:43] mcvsubbu commented on #7229
Been a very busy week, I will take a look hopefully this week

[2021-08-16 15:52] mcvsubbu commented on #6302
@Aka-shi Pinot automatically recovers from Kafka failures. How much time did you allow to recover? There is a periodic task (you can adjust the frequency to run every X minutes) that recreates failed segments and restarts consumption. We use that in production, and things just auto-recover.

https://docs.pinot.apache.org/configuration-reference/controller#periodic-tasks-configuration
The one you w

[2021-08-16 17:43] jackjlli commented on #7229
@mcvsubbu

Broker timeout may be one of the factors for broker to know about the status of the segments, since it takes time for servers to download and load stale segments into memory.

[2021-08-16 18:31] Jackie-Jiang commented on #7305
It should be a payload instead of a query param.
We can make `data` optional, and add a payload to this API. If payload is not available, use the `data` for backward-compatibility

[2021-08-16 19:44] xiangfu0 commented on #7305
yes, we can make the backend change then fix the UI.
@shahsank3t

[2021-08-16 19:51] shahsank3t commented on #7305
Yes, I can make the UI side changes once we have backend changes done.

[2021-08-16 21:47] xiangfu0 opened #7309 "Enforce maven codestyle check during maven build"
Enforce maven codestyle check during maven builds, currently we set violation severity to warning and suppress errors right now.

- [x] Adding checks at root pom, then we can fix each component
- Fix coding style for all components：
    - [x] pinot-adls #7314
    - [x] pinot-avro-base #7314
    - [x] pinot-avro #7314
    - [x] pinot-azure #7314
    - [x] pinot-batch-ingestion-common #7314
    - [x

[2021-08-16 22:05] amrishlal opened #7310 "Possible security vulnerability due to use of groovy script in SQL statements."
Pinot currently allows for unrestricted use of groovy scripts in SQL statements. As an example consider the following SQL statement:

[code]
This statement will return the content of '/etc/hosts' file from server back to the user. Other such statements are possible where an unsuspecting or malicious user could cause damage (SQL injection attacks etc). Hence, we would like to disable the ability to

[2021-08-16 22:12] mayankshriv commented on #7310
Definitely a good idea to add a config to disable groovy scripts in SQL statements. However, we should survey the use cases and the usage model on deciding the default value (ON vs OFF). I vote for keeping the current behavior and only disabling it when explicitly specified. My reasoning is that the more common case is not prone to this issue:

- Most Pinot deployments do not expose a free form SQ

[2021-08-16 22:27] kishoreg commented on #7310
+1 Groovy also supports sandboxing and can also be disabled by jvm startup parameters

https://melix.github.io/blog/2015/03/sandboxing.html
https://levelup.gitconnected.com/secure-groovy-script-execution-in-a-sandbox-ea39f80ee87

[2021-08-16 23:55] Jackie-Jiang commented on #7266
@suddendust We can start with #7264

[2021-08-17 00:16] mayankshriv commented on #7276
@mbecker If you are just trying to specify if the event is ingested in Pinot correctly and the time format is store correctly in Pinot, then you can simply run a pinot query to do so:

[code]

[2021-08-17 00:54] mcvsubbu commented on #7229
@suddendust changing the state machine is not what we agreed on. It is a LOT easier to keep the state machine as it is, and pull the segment from deepstore when needed.

[2021-08-17 02:06] amrishlal commented on #7264
Partial responses and approximate results would be problematic in OLTP databases, but they make full sense in an analytical database such as Pinot and should be fully supported as first class citizens without throwing error or exception conditions. As an analytical database, there is value in providing partial responses or approximate results when full responses or accurate results are either miss

[2021-08-17 05:40] Jackie-Jiang commented on #7264
@amrishlal Partial and approximation are different, where approximation usually gives bounded error rate. The cases we want to notify the user here is when some segments are not available (e.g. all replica down), or some servers fail to respond (e.g. timeout). We will still return the response, but put some message in the query response so that user knows the result is not complete.
I don't see ho

[2021-08-17 06:00] rdiaz82 opened #7312 "Basic Auth support for Java client"
I'm starting to secure my pinot set up and I'm not able to find the way in the official Java client to add my auth token. According to @mayankshriv it is not supported.

For now as a work around I'm using the API to perform queries but it would be nice to have access to auth also from the Java client.

[2021-08-17 06:46] amrishlal commented on #7264
I can easily see a case where a user may specify a timeout for a long running query as a way to get partial results early without waiting for those one or two servers that may take extra long time to process the results. In cases like these, one could set a warning in query results and try to quantify how accurate the results might be (i.e result is based on responses of 9 out of 11 segments, etc)

[2021-08-17 07:41] cxing opened #7313 "segments with 2 replications status should be good when one is online and another is consuming"
![image](https://user-images.githubusercontent.com/13634486/129684607-46713d6e-65e5-4a28-96a7-8623fbeb4a18.png)
![image](https://user-images.githubusercontent.com/13634486/129684637-ac5853d0-5566-43de-94f3-ab05a1aa5ced.png)

[2021-08-17 08:12] xiangfu0 commented on #7313
You are right, this should be Good status, @shahsank3t

[2021-08-17 09:07] suddendust commented on #7264
Purely from the user's perspective, this certainly looks like a `warning` than an `error` ("Here are your results but be warned that these are partial").

[2021-08-17 12:24] suddendust commented on #7229
@mcvsubbu We're not changing the SM. I put it there just because it was discussed here. I'll state this more clearly in the doc or remove the section altogether.

[2021-08-17 15:28] mcvsubbu commented on #7229
Good. always nice to have the rejected alternatives. Just add them as appendix. thanks. I will go through it again.

[2021-08-17 15:34] kishoreg commented on #7229
I will also review this in detail. The best way to implement this would be to either implement a new implementation of existing interfaces like segment fetcher or enhance/add interfaces. That way this can be implemented as a plugin in the first version and once it's tested in production, we can make the plugin available by default.

Let's try to see if we can achieve this without touching pinot-co

[2021-08-17 15:42] yupeng9 commented on #7264
I think the key here is to inform users and give them the options to choose the desirable behavior. For your example, users can choose DISTINCTCOUNT vs DISTCINTCOUNTHLL for the exact result or approximation. Similarly, users can also choose not to take partial results. For analytical databases, there are use cases that demand exact results, cannot accept partial results. Just to give one example,

[2021-08-17 19:12] lakshmanan-v opened #7315 "LAST aggregate function support"
In some of the tie bucket group by situations, having an aggregation function to get the last or latest value would be great.

[2021-08-17 19:18] kishoreg commented on #7315
+1

someone else asked for the first and last functions recently on slack as well. Do you want to take this up?

[2021-08-17 19:37] lakshmanan-v commented on #7315
Would love to contribute. Currently working on these two tasks ([7212](https://github.com/apache/pinot/issues/7212)  & [7014](https://github.com/apache/pinot/issues/7014)) to add aggregate functions to support upgraded HLL and Raw percentile (EST and TDigest) functions. Will get to this after wrapping them up.

[2021-08-17 20:57] #7202 closed

[2021-08-18 18:11] klsince opened #7320 "Support to cleanup obsolete indices for V3 segment format"
For V3 segment format, currently only Startree index can be removed from disk on Pinot servers. Other indices, like inverted index, json index, text index are still kept at server side even if they are removed from table config. This issue proposes to clean up all kinds of indices for V3 segment format, if they are deleted from table config.

[2021-08-18 18:13] klsince commented on #7320
related PR: https://github.com/apache/pinot/issues/7320

[2021-08-18 18:28] klsince opened #7321 "Allow to force download segment when reloading segment"
Add an option to force to download segment when reloading segment, replacing the existing segment on Pinot server, effectively resetting all existing disk states for that segment. This option should work for immutable segments from both Offline and Realtime tables.

One side effect is to clean up obsolete indices, but please note that this is not the most efficient way to clean up indices. This is

[2021-08-18 18:28] klsince commented on #7321
related PR: https://github.com/apache/pinot/pull/7319

[2021-08-18 18:30] klsince commented on #7320
Related: https://github.com/apache/pinot/pull/7294

[2021-08-18 18:31] klsince commented on #7320
Related: https://github.com/apache/pinot/pull/7297

[2021-08-18 18:36] mcvsubbu commented on #7320
Even if indices are on disk, they are not loaded if they are not turned on. So, why bother with this? Am I missing something?

[2021-08-18 18:46] klsince commented on #7320
yeah, but they still occupy the disk space, and we recently saw an incident as disk usage went up high due to those obsolete indices. Though there are ways to mitigate the incident, but as prevention, we planned to clean up indices when they are deleted from table config.

[2021-08-18 19:17] xiangfu0 opened #7323 "Pinot UI doesn't set correct Auth header for queries"
Try with 0.8.0 release(https://downloads.apache.org/pinot/apache-pinot-0.8.0/apache-pinot-0.8.0-bin.tar.gz) quickstart:

[code]

Once it's up, go to `http://localhost:9000/`
Try out user credential: `user/secret`
Then click on table name `baseballStats`:
![image](https://user-images.githubusercontent.com/1202120/129957570-c0f60360-78c7-442a-92aa-efef62014ddb.png)
This also happens when click `RUN

[2021-08-18 19:17] xiangfu0 commented on #7323
@shahsank3t

[2021-08-18 19:37] xiangfu0 commented on #7323
@apucher

[2021-08-18 20:49] itsmesrds commented on #7238
Hi @KKcorps.is this fix is also part of 0.8.0 release. its generating too much of log because of this.

[2021-08-18 22:10] shouhengyi opened #7324 "Dollar Sign "$" Causes `IndexOutOfBoundsException` in `PreparedStatement.fillStatementWithParameters`"
In [PreparedStatement.java](https://github.com/apache/pinot/blob/master/pinot-clients/pinot-java-client/src/main/java/org/apache/pinot/client/PreparedStatement.java), if `value` argument in the `setString` method contains dollar sign "$", it will cause `IndexOutOfBoundsException` when `fillStatementWithParameters` is invoked. For example, if `value` is `"$8.00"`, we will get exceptions like this.

[2021-08-18 22:35] mcvsubbu commented on #7320
@kishoreg, @siddharthteotia  what do you think? Does this warrant a change in pinot code? We do allow re-push of segments.

[2021-08-18 23:02] mayankshriv commented on #7320
+1 on cleaning obsolete indices from sever. This comes in handy in cases where users are trying to optimize indices and may try out different options. While the obsolete indices themselves do not cause any issues with CPU/Memory usage of Pinot servers, they may eat up disk storage that can be expensive, moreover, may prevent pushing of more data (experienced in certain deployments already). This c

[2021-08-18 23:10] klsince commented on #7320
Is 're-push of segment' the feature described in this issue https://github.com/apache/pinot/issues/7321?

In fact, as followups from the incident, we planned these two options: 1) add option to force segment download (mainly for mitigation); 2) enable index cleanup for V3 format, so that indices on servers stay in sync with what's set in table config not just when adding new ones but also when rem

[2021-08-18 23:32] mcvsubbu commented on #7320
@klsince thanks for connecting the dots. I see that the feature can be useful. Mayank has proposed two approaches to do this. A third (less disruptive code-wise) one is to have minions cleanup the segments via a background task.

Let us discuss a bit on these before you start with the PRs.

Which approach are you choosing and why?

[2021-08-18 23:54] shahsank3t commented on #7313
@xiangfu0 @cxing
https://github.com/apache/pinot/pull/7327 will fix this issue and showing `CONSUMING` as a good count.

[2021-08-18 23:57] klsince commented on #7320
Thanks for the 3rd proposal!

I'm doing both option 1 (force download) and 2 (server local cleanup) currently. Option 1 is more like one last resort to bring things back to life, not necessarily just for index cleanup.

Option 2 is to clean indices more efficiently and supposed to happen more frequently; and as it's done during segment reloading, it can leverage the existing reloading mechanism to

[2021-08-19 00:06] Jackie-Jiang commented on #7320
@mcvsubbu We want to support all 3 approaches, and each of them has their own pros/cons

- Force download: Big hammer solution, can be used to fix corrupted segment on server, but costly
- Local cleanup: Cheap, align with the current way of adding/removing indexes on-the-fly when server loads the segment. We don't remove the index right now only because V3 format does not support it. This issue ti

[2021-08-19 00:10] ksnijjer opened #7328 "Metadata push does not honor controllers configured dataDir to store pushed segments"
As part of offline ingestion job's yaml config, you need to define a **outputDir** which in theory can be any S3 bucket location that the compute cluster(running the ingestion job) would have access to. Now when we do a segment metadata push(for e.g `jobType: SegmentCreationAndMetadataPush` )as part of the job execution we list all files in this output directory/download segment tar.gz and extract

[2021-08-19 00:24] mcvsubbu commented on #7320
Why support all three?
(1) Corrupted segment (should be few) can be fixed by just deleting the segment from the servrs, that will trigger a download on restart or enable/disable API.
(2) Local cleanup needs to be thought through a bit. If you are doing this, please write down your approach. Are you doing this in a background thread? Are you doing it at segment load time? (load could take longer).

[2021-08-19 00:43] shahsank3t commented on #7323
@xiangfu0
`/sql` call issue has been fixed on master branch by @joshigaurava in https://github.com/apache/pinot/pull/7230
We need to cherry-pick in 0.8.0 release or will be part of the next release.

`/schema` call issue with user credentials that doesn't verify the user needs to be checked by @apucher.

[2021-08-19 02:18] mayankshriv commented on #7320
Side note for 3) Deleting of indices should not be CPU intensive.

[2021-08-19 03:29] klsince commented on #7320
Re 2, local index cleanup works as part of segment reloading. The cleanup happens in the same thread doing segment reloading, and it leverages the current failure handling mechanism (as in [code](https://github.com/apache/pinot/blob/master/pinot-server/src/main/java/org/apache/pinot/server/starter/helix/HelixInstanceDataManager.java#L276)) of segment reloading to keep disk states consistent upon f

[2021-08-19 09:43] Arpita030125 opened #7336 "Retention period in realtime table Apache Pinot"
Hi , I am trying the retention period in realtime table, with "retentionTimeValue”: 1 and   “retentionTimeUnit”: “HOURS”. But I can still see the segments post 1 hour of creation although they should be deleted after 1 hour.  I have attached the screenshot for the same ,  the segment got created at 11:30 am today
but it is still  present
<img width="1502" alt="Screenshot 1943-05-28 at 14 50 44" sr

[2021-08-19 11:28] aesteve opened #7337 "[Pinot-Admin][JsonToPinotSchema] "-timeColumnName" is not a valid option"
The documentation [here](https://docs.pinot.apache.org/basics/data-import/complex-type#infer-the-pinot-schema-from-the-avro-schema-and-json-data) mentions the following command:
[code]
Error: "-timeColumnName" is not a valid option
[code]
We already deprecated the TIME field, change it to -dateTimeColumns?
[code]

[2021-08-19 16:33] suddendust commented on #7264
@Jackie-Jiang shall we start with adding a partial response flag here? What do you suggest?

[2021-08-19 20:00] Jackie-Jiang opened #7338 "Allow reloading segments with multiple threads"
Currently when reloading the segments for a table, the segments are reloaded sequentially (single threaded). This is intentional because segment reload usually needs to generate new indexes on the fly, which can consume resources while server still need to serve queries.
In certain cases, users might want to use multiple threads to reload the segments, and we can add an option of parallelism in th

[2021-08-19 20:28] mcvsubbu commented on #7338
Another reason this is reloaded one at a time is because the memory needed is doubled per segment. Both segments are in memory while query from the old segment is drained and new queries are routed to the new segment. We have often seen query performance slip SLAs during segment reload on a host.

The number of parallel reload is a helix cluster-wide setting, however. I don't think there is any ne

[2021-08-19 23:22] Jackie-Jiang commented on #7337
The argument should be `-dateTimeColumnName`. Updated the PR description

[2021-08-19 23:30] Jackie-Jiang commented on #7264
I'd suggest adding different errors for each scenario described above to the `QueryException`, and users can decide on how to proceed based on the error type (error code). We already have similar errors such as `BROKER_REQUEST_SEND_ERROR_CODE` which is added when a server cannot be reached

[2021-08-20 00:09] Jackie-Jiang commented on #7338
@mcvsubbu We have a `maxParallelRefreshThreads` configured within the `SegmentMessageHandlerFactory` to guard on the issue you described, and that's the reason why I mentioned we should still follow that config even reloading using multiple threads.

The table reload is modeled as one helix message, so only one message will be sent for multiple segments. The helix config won't enable parallel relo

[2021-08-20 00:55] jackjlli commented on #7264
Not all the partial response is useless or harmful. There is another scenario that falls into partial response, which is that `isNumGroupsLimitReached()` from brokerResponse returns true. In this case, user can still leverage the response of the query as it still provides insights from the response.

[2021-08-20 03:09] mcvsubbu commented on #7338
For some reason I thought there is a helix config that sets the number of parallel threads in the server. I remember we configured something like that for our internal cluster to support faster time for servers to come up. But then I cannot find that now in the cluster setting

[2021-08-20 05:38] suddendust commented on #7264
@Jackie-Jiang Yes in addition to the specific error codes that you're suggesting to add, do you think an explicit `partialResponse = true` flag would be helpful for the users?

[2021-08-20 17:20] lfeagan commented on #6921
Agreed. I am looking for any binary format that provides more efficient transfer than JSON over HTTP/1.1. Arrow is a good choice. Avro over gRPC would also do well based on my performance evaluations. Even simply adding support for a different content type than "application/json", such as avro, over the existing HTTP socket would be nice and not particularly difficult to achieve.

[2021-08-20 18:20] kishoreg commented on #6921
Is Arrow a specification or an implementation? Pinot already has a lot of techniques available in Arrow. I am thinking if it's a better idea to implement Arrow spec on top of Pinot datatable.

@lfeagan Pinot servers already support a GRPC streaming endpoint using a pinot data table and is used in Trino-Pinot connector

[2021-08-20 19:03] ksnijjer opened #7344 "Pinot console UI keeps on spinning if there is a syntax error"
Firing a query with syntax error provides no feedback to the end user and UI continues to show the spinning icon while underlying API has already returned an error response.
For e.g running something like `select * from <tablename>;` generates below error response from Parser

`Uncaught (in promise)
Object { name: "SyntaxError", message: "Unexpected 'P'", at: 1, text: "ProcessingException(errorCod

[2021-08-20 19:45] xiangfu0 opened #7345 "Non quoted boolean complex identifier is handling correct?"
Tried
`bin/quick-start-complex-type-handling-offline.sh`
[code]
works
but not
[code]

Also checked that both
```select id, payload.commits.author.name, payload.commits.author.email from githubEvents limit 10```
 and
```select id, "payload.commits.author.name", "payload.commits.author.email" from githubEvents limit 10```
 work.
![image](https://user-images.githubusercontent.com/1202120/130285872-08

[2021-08-20 19:52] mayankshriv commented on #7344
Yes, this seems to be a common issue recently recently. User gets no feedback that the query failed due to syntax error, and they keep waiting for the spinning wheel in the UI assuming the query is running.

[2021-08-20 20:13] galalen commented on #7305
I would love to work on it, please point me to the class

[2021-08-20 20:32] lfeagan commented on #6921
In this case, I am referring to Arrow as a specification for a binary format to represent data, rather than an implementation. I am looking for support for reading data as a client. In our use case, we have a large number of industrial sensors where we regularly run complex analytics jobs via spark, pulling out days or months of data. For example, analyzing how wind direction is impacting leaks at

[2021-08-20 23:09] jonathanlocke commented on #6851
I see this too

[2021-08-20 23:59] mayankshriv commented on #7328
+1, we need to make this more user friendly. Apart from the issues mentioned above, it is also confusing to the users who are trying to push to multiple tables, as to which outDir should correspond to the controller's dataDir (recently asked in the slack community). Currently it is optimized for push-time.

One proposal could be as follows:
- For general case, the controller trigger a background c

[2021-08-20 23:59] mayankshriv commented on #7328
cc @yupeng9

[2021-08-20 23:59] Jackie-Jiang commented on #7305
@galalen Thanks for volunteering. Please take a look at `ZookeeperResource.java` and add payload to the `putData()` method

[2021-08-21 00:01] Jackie-Jiang commented on #7338
@mcvsubbu It should be part of the cluster config in ZK. By default the server uses 40 threads to handle the messages.

[2021-08-21 00:54] Jackie-Jiang commented on #7264
We need to think about how to set this `partialResponse` flag. What scenarios should be count as partial

[2021-08-21 00:58] yupeng9 commented on #7264
Can we add it as a query option (allowPartial)?

[2021-08-21 00:58] Jackie-Jiang commented on #7345
What error did you get? Since `select id, "payload.commits.distinct" from githubEvents limit 10` work, it should be caused by the `distinct` keyword.

[2021-08-21 01:02] Jackie-Jiang commented on #7344
Duplicate with #7161. Can you please try with the latest master? The UI fix #7165 has been merged

[2021-08-21 01:42] Jackie-Jiang commented on #7264
@yupeng9 Current pinot behavior will always return the available results, and set exceptions for unexpected scenarios such as unable to reach to a server. For now I would suggest following it, and the client can decide whether to retry based on the exceptions received.
This issue is mainly to discuss the cases not captured

[2021-08-21 02:56] mayankshriv commented on #7344
Tried a simple query with latest master `select * from <table>;` (note semi-colon), and seems to work. @ksnijjer please also verify at your end.

[2021-08-21 07:09] suddendust commented on #7264
I have taken up the exceptions part @Jackie-Jiang. Let us think about the `partialResponse` flag post this.

[2021-08-21 20:02] ksnijjer commented on #7344
@mayankshriv I don't have a setup to verify on my end but if you tested then we should be good to go. Marking this one as resolved.

[2021-08-21 20:02] #7344 closed

[2021-08-22 20:59] shreelakshmijoshi commented on #7338
Hi @Jackie-Jiang !
I am a new open source contributor and would like to solve this issue, could you help me understand the issue better by providing some extra references ?
Is this is issue open to contribute ?

[2021-08-22 21:01] shreelakshmijoshi commented on #7239
Hi @pjpringle !
I am a new open source contributor and would like to solve this issue, could you help me understand the issue better by providing some extra references ?
Is this is issue open to contribute ?

[2021-08-23 11:10] cxing opened #7348 "Minion will throw null point exception if protocol is null"
Need fix code:
https://github.com/apache/pinot/blob/master/pinot-common/src/main/java/org/apache/pinot/common/utils/fetcher/SegmentFetcherFactory.java#L119

![image](https://user-images.githubusercontent.com/13634486/130437879-67189dec-ee44-4d61-9552-29e3edd95420.png)

[2021-08-23 11:12] aesteve opened #7349 "IllegalArgumentException when using JSONPATHARRAY"
When running such query:
[code]
Over data where `values_str` column is a JSON index column containing:

(Result of:
[code]
)

[code]

I'm getting the following error:
[code]

note: same issue with JSONPATHARRAY

I'm probably doing something wrong, but my data seems to really look the same as in the [PR](https://github.com/apache/pinot/pull/7208/files#diff-20502c0f824d5773fcdad02cc354215312d4d653e0

[2021-08-23 11:17] aesteve commented on #7337
`dateTimeColumnName` works.
Should I close? Or are you tracking the issue for updating the pinot-admin CLI help?

Thanks anyway, it works well.

[2021-08-23 17:40] Jackie-Jiang commented on #7348
@cxing Thanks for reporting the issue. I believe this is caused by peer download where the download url is not set in the segment ZK metadata. Please verify if this is the case and we can make the fix properly

[2021-08-23 19:16] Jackie-Jiang commented on #6812
#7155

[2021-08-23 19:16] #6812 closed

[2021-08-23 21:56] #7309 closed

[2021-08-23 22:05] xiangfu0 commented on #7309
All the reformat is done.
And enabled codestyle check for all java components.

[2021-08-23 23:59] Jackie-Jiang commented on #7338
@shreelakshmijoshi Yes, this issue is open to contribute. Pinot allows reloading segments of a given table by sending a custom Helix message (see `SegmentReloadMessage` class). We want to add an extra parameter to it to control the parallelism of the reload. The message is handled within the `SegmentMessageHandlerFactory` class

[2021-08-24 07:39] ddcprg opened #7357 "Support for Avro logical types in realtime tables"
It seems like Avro logical types are not supported in the Avro message decoders.

I have been browsing through the code and checked the past issues and I have not found mentions to Avro logical types.

I will be happy to open a PR when I work out the best place and how to add these changes.

**More details about this change**:

Avro has support for logical types - more details at [Avro spec docs](

[2021-08-24 07:45] xiangfu0 commented on #7357
You can find the avro reader here: https://github.com/apache/pinot/blob/c907dca917b208cade9d46d2e0804c335901d9b2/pinot-plugins/pinot-input-format/pinot-avro-base/src/main/java/org/apache/pinot/plugin/inputformat/avro/AvroSchemaUtil.java#L29

[2021-08-24 07:51] xiangfu0 commented on #7323
I fixed the user permission validation for /schema calls
So it should be ok now.
Thanks @shahsank3t !

[2021-08-24 07:51] #7323 closed

[2021-08-24 17:57] Jackie-Jiang commented on #7349
@aesteve `JSON_PATH_ARRAY` can only be used for ingestion because the data type is not specified. For querying you need to use `JSON_EXTRAC_SCALAR`: `select JSONEXTRACTSCALAR(values_str, '$[*].amount', 'DOUBLE_ARRAY') from table`

[2021-08-24 18:54] aesteve commented on #7349
Oh thank you!

I didn't realise extracting to an array was possible.

Thanks a lot!

[2021-08-24 18:54] #7349 closed

[2021-08-24 22:19] priyen opened #7360 "Cmd + Enter shortcut for data explorer query console"
Lots of code editors have a shortcut, usually cmd+enter in which code gets executed in the editor (or sql queries are run).
I created a PR adding this shortcut to the data explorer query console: https://github.com/apache/pinot/pull/7359

It's a nice to have and just makes using it a bit nicer.

[2021-08-25 02:21] cxing commented on #7348
Hi @Jackie-Jiang Yes it caused by the download url is not set in the segment ZK metadata and i think that can can add null point check or it will throw Null point exception

[2021-08-25 12:06] singh-abhijeet commented on #7337
Please update pinot-admin CLI error message as well, it still errors `Error: "-timeColumnName" is not a valid option`

[2021-08-26 12:59] skoscilar opened #7369 "Expose the Kafka topic ingestion offset via a specific API"
When ingesting new events from a Kafka topic, there isnt an easy way for users to know the high watermark of ingestion. There is a debug API that exposes the offset along with a lot of other info. It may be better to expose the offset through a specific API.

[2021-08-29 12:46] suddendust commented on #7264
I have been a bit busy throughout last week, will raise a PR for this soon.

[2021-08-29 17:21] DwijadasDey opened #7376 "After upgrading Pinot, Superset unable to connect Pinot"
Hi
I recently Upgraded Apache Pinot from 0.7.1 to 0.8.0. On Upgrading i found that Apache Superset is unable to connect with Pinot.

In Apache Superset side, i got the following error:

[code]

It looks like,  DBAPI Error originates from the database driver.

On Apache Pinot, I am getting following error:

[code]
Thanks

[2021-08-30 05:02] DwijadasDey commented on #7376
Hi
The issue was not with Pinot, I have to reinstall few Python packages in Apache Superset and everything worked.

[2021-08-30 05:02] #7376 closed

[2021-08-30 11:17] syed72 opened #7378 "Support to add multiple directory location for this property in server (pinot.server.instance.dataDir)"
Hi,

Can we add multiple directory locations path to this below server conf property?

pinot.server.instance.dataDir=
Like disk1 and disk2

So server chooses any one during runtime ...

Thanks
Akram Syed

[2021-08-30 15:41] mcvsubbu commented on #7378
Can you share some insight on what problem you are trying to solve with this feature?
https://docs.pinot.apache.org/developers/developers-and-contributors/contribution-guidelines

[2021-08-30 16:23] mayankshriv commented on #7378
Could you describe the use case the leads to this requirement? Also, what's the expected behavior in terms of how should the server pick which data to which dir (which downloading)?

[2021-08-30 16:37] mayankshriv commented on #7357
Thanks for taking this up @ddcprg. Do you mind sharing why you would want to limit this to Realtime tables only? IMHO, we should do this in a generic way at record reader level?

[2021-08-31 18:15] pedro93 opened #7379 "Support for initScript in K8s deployment"
Hello,

Following a discussion in [slack](https://apache-pinot.slack.com/archives/CDRCA57FC/p1627915642040900) I'm creating this ticket to request support for `init script` capabilities in Pinot's helm chart.

Use-case: Allow defining Pinot resources like `tables` and `schemas` programatically as part of a helm's `values.yaml` file in the form of a reference to a `ConfigMap` resource so that there

[2021-08-31 18:20] pedro93 opened #7380 "[K8s] Differentiate match labels between headless and non-headless services"
Currently for all resources Pinot has 2 `Service` resources, a headless and non-headless respectively.

Both services are using the same helper method for the match labels:
[code]

This leads to a duplication of metrics when trying to use Prometheus.
The solution to this is to make the labels unique, one such approach is to append the `app` label in the headless service with a suffix, i.e: `-headl

[2021-08-31 21:28] dd-willgan opened #7382 "Update Pinot Java Client to use newer version of async-http-client"
To my knowledge, the [version used by Pinot](https://github.com/apache/pinot/blob/master/pom.xml#L124) is [old](https://github.com/AsyncHttpClient/async-http-client/releases/tag/async-http-client-1.9.21). This leads to an [issue](https://github.com/AsyncHttpClient/async-http-client/issues/934) when querying Pinot brokers that have an HTTPS URL. We could update the version number for now (it works

[2021-09-02 10:53] shahsank3t opened #7386 "Add tooltip to SQL Editor"
Many users don't realize that SQL Editor also supports an auto-completion feature by typing `@` in the editor.
Adding a tooltip will make users realize it.

[2021-09-02 16:58] elonazoulay opened #7388 "Add support for time series functions"
We have a request to use pinot to process time series data. This issue will track the progress of adding time series functionality to Pinot.

[2021-09-02 17:16] ananthdurai opened #7389 "Support SQL semantics to upsert/ insert operations in PQL"
Pinot now supports row-level mutation such as upsert, partial upsert, however the PQL syntax is not reflecting these operations to express in simple SQL statements.

(e.g)
[code]

PQL abstraction for the upsert operation can simplify the data management on Apache Pinot.

**Related Tickets:**
https://github.com/apache/pinot/issues/4809
https://github.com/apache/pinot/issues/6575

[2021-09-02 17:30] elonazoulay opened #7390 "Atomic Batch Ingestion: Add an api to replace multiple segments"
When uploading offline segments it would be useful to have an api that can take a list of old segments and replace them with a list of new segments. This can be useful for lambda architecture where data for an entire day/hour is replaced atomically.

[2021-09-02 19:16] dharakk opened #7391 "[Discussion] Event listener to gather query stats/information"
Hi, We have been looking into doing query analysis in order to pin point a specific scenario and combing through server and broker logs is a difficult task. An event listener interface which enable us to add a hook into query execution and gather query info/stats would be really helpful. For example Presto provides the following interface to hook into query execution. https://github.com/prestodb/p

[2021-09-02 21:34] mayankshriv commented on #5565
@xiangfu0 Any update on this? We should also rethink whether Pinot should return response code 200 in this case?

[2021-09-02 21:34] #7386 closed

[2021-09-02 21:40] Jackie-Jiang commented on #7390
This can be done with the segment lineage feature contributed by @snleee. Do we have some user doc for this @snleee?

[2021-09-03 16:24] lfeagan commented on #7388
As someone looking to use Pinot for storing time series data right now, I am assuming that by processing you are referring to adding time series analytical functions such as decaying average, sliding windows, etc, right?

[2021-09-03 17:46] kkrugler opened #7393 "Plugin ClassNotFoundExceptions when running segment building jobs"
This is with Pinot 0.8.0, Hadoop 2.7.1, Java 8. When starting the job, we get the error below. This doesn't happen with Pinot 0.7.1

[code]
Looking earlier in the logs, I see:
[code]
So it seems like the plugin was loaded successfully.

If we change the run script to set `HADOOP_CLASSPATH` to explicitly include the `pinot-batch-ingestion-hadoop-0.8.0-SNAPSHOT-shaded.jar`, then we get past this fir

[2021-09-03 20:05] atris opened #7395 "Support for Native Text Indexing in Pinot"
Build a fully functional text search engine on top of native Pinot indices, allowing exact matches, prefix and suffix matches, substring matches and regular expressions.

Performance of the text search component (automaton, matcher and FST) should be comparable or better than Lucene's FST, matcher and automaton.

Build the engine using core Pinot capabilities and have it deeply integrated with Pin

[2021-09-03 20:43] kkrugler commented on #7395
As part of the design, it would be great to see details on how different analysis chains can be specified (e.g. based on target language, for a column).

It would also be great to plan for supporting dynamic analysis chains, typically based on language classification (either manual or dynamic), per row, as that solves a major problem for many text search use cases.

[2021-09-04 11:22] suddendust commented on #7264
[PR](https://github.com/apache/pinot/pull/7397)

[2021-09-04 11:31] MrNeocore commented on #5664
Any update on this topic ?

[2021-09-04 14:38] suddendust commented on #7229
@mcvsubbu thanks for the thorough review of the proposal. There are some gaps in it that I am working on right now. Will resolve them soon as ask you for a re-review. Thanks again :)

[2021-09-04 14:51] suddendust opened #7398 "Set a Partial Response Flag on Incomplete Results"
Continuing the discussion in [this](https://github.com/apache/pinot/issues/7264) ticket, it would be nice to have an explicit partial response flag whenever the results are incomplete. The earlier ticket adds new exceptions for partial results. However, it makes the fact that the result-set is incomplete a bit obfuscated from the user (he has to look into the exceptions list and then look for the

[2021-09-05 04:04] ashishkf commented on #7213
Can you share some high level details about the approach being taken? Is it based aggregation UDF or does it requires changes to pinot core itself?

[2021-09-05 04:18] kishoreg commented on #7213
It will be good to add an interface for sliding window aggregates functions similar to transform and aggregate function.

Once we have that, we can implement moving average etc

[2021-09-05 16:39] kkrugler commented on #7393
@elonazoulay - when I build a version of Pinot from the release-0.8.0 tag, but revert your change in `PluginClassLoader.java`, then the Hadoop job runs successfully.

[2021-09-05 18:17] mcvsubbu commented on #7391
Yes, see https://github.com/apache/pinot/blob/master/pinot-broker/src/main/java/org/apache/pinot/broker/api/RequestStatistics.java

You will need to plug in your own mechanism to emit this from the broker

[2021-09-05 18:38] kishoreg commented on #7391
Good idea. As Subbu mentioned, we have all the information but we lack the listener interface. It's definitely worth adding one in our spi.

[2021-09-06 10:16] ddcprg commented on #7357
Hi @mayankshriv I initially though of realtime tables and not the import jobs as I'm not very familiar the source code yet. I can extend the PR to include record reader as well

[2021-09-07 16:29] siddharthteotia commented on #7395
Thanks @atris . I would like to review. Please give me couple of days to go through the doc.

[2021-09-07 16:31] kishoreg commented on #7388
@elonazoulay can you please start a design doc on what you plan to add

[2021-09-07 18:24] richardstartin opened #7403 "JSONPath cache is inefficient"
In a profile collected from a user, we see over 20% of CPU time in JSONPath's `LRUCache`
![Capture](https://user-images.githubusercontent.com/16439049/132392314-9f279512-2095-40d7-9593-ed6a62ff2dcc.PNG)

This is caused by contention caused by locking:
![CaptureLock](https://user-images.githubusercontent.com/16439049/132392518-78eaa02b-2591-454b-add9-8b1ad67ddf38.PNG)

The cache exists to prevent f

[2021-09-07 19:10] ckharide opened #7404 "startServiceManager() not used in StartServiceManagerCommand"
Hello -  I just started looking at the code and please ignore if this issue is addressed .

It seems the startServiceManager() method in StartServiceManagerCommand is not used also am curious why it returns the instanceID when the pinotServiceManager thread wouldn't have started .  Do you think  it would be good to return the instance ID only once the pinotServiceManager started successfully by us

[2021-09-07 19:38] ddcprg commented on #7380
IMHO metrics should be pulled per pod instead of per service. I'm curious to know how you configure Prometheus to use labels instead of annotations and the reason to pull metrics from the service instead of  the pod. Cheers!

[2021-09-07 19:40] ddcprg commented on #7357
@mayankshriv  my PR should cover both realtime tables and import jobs, please let me know if this is not the case.

[2021-09-07 19:54] pedro93 commented on #7380
We have defined a ServiceMonitor resource to tell prometheus what to scrape:
[code]

The issue comes into play with the `matchLabels` selector. Perhaps we are not defining the appropriate selector?

[2021-09-07 21:32] Jackie-Jiang commented on #7404
It is called in the `execute()` method. Did you run into issues with `StartServiceManagerCommand`?

[2021-09-08 05:25] ckharide commented on #7404
Ah thank you . No i didnt run into any issue but wondering whats the point in returning instanceID .

[2021-09-08 10:22] richardstartin opened #7410 "User provided JsonPaths should be trimmed as early as possible"
I noticed defensive calls to `String.trim` actually trimming the JSON path in a profile from a user, where these paths come from ingestion transformation configuration.

<img width="1457" alt="Screenshot 2021-09-08 at 11 15 08" src="https://user-images.githubusercontent.com/16439049/132492500-4265624d-80c3-42b6-a7eb-767722663491.png">

This means that:
* the JSON path is trimmed at least once per

[2021-09-08 10:30] richardstartin opened #7411 "User provided JsonPaths should be validated/rejected at startup"
In a profile from a system where invalid JSON paths were configured, a lot of time (> 20%) was spent during ingestion throwing at least one JSON path validation exception per row. The operator of a properly configured deployment should ensure that JSON paths are valid, but this is a poor failure mode and it would be better to reject the transformation and log very clearly that the JSON path failed

[2021-09-08 13:05] syed72 commented on #7378
1. Assume, we have 2 disk partitions(/disk1, /disk2)... we can choose any one partition based on the free space available ...
2. I have another case, where we can have 2 disks(one with ssd and another with some hdd)... then hot data will be downloaded to ssd and i should be able to archive the old segments i.e,  cold data(6months old) to hdd. with this i can achieve performance over hot data and c

[2021-09-08 17:14] mcvsubbu commented on #7378
So, what you really need is not just multiple directory support, but (also)  support for some policy using which some directory may be chosen to keep segments in the server. Perhaps you are also looking for automated move of segments from "hot" to "warm" and then back to "hot" storage and also some policies there as well (you don't want to be moving segments back and forth all the time, since you

[2021-09-08 17:16] mcvsubbu commented on #7229
Please also add a link o https://docs.google.com/document/d/1Z4FLg3ezHpqvc6zhy0jR6Wi2OL8wLO_lRC6aLkskFgs/edit#heading=h.sbtdm9byxqnc in the design document, and comment on how your solution may work with or complement tiered storage, if we build that.

[2021-09-08 22:45] jtao15 opened #7413 "Race conditions between segment merge/roll-up and purge (or convertToRawIndex) tasks"
There's a potential race condition issue when we run merge/roll-up task & segment upload tasks (e.g. purge, convertToRawIndex, etc) on the same table (purge task for example):
1. Segment A is picked both by merge/roll-up and purge tasks
2. Merge/roll-up task is finished, and the retention manager tries to clean up segment A and the lineage entry before purge task uploading the purged segment.
3. P

[2021-09-08 23:53] mcvsubbu commented on #7413
Does it make sense to have some sort of segment level locks so that the same set of segments are not picked up by multiple tasks? If we can come up with a lock-free algorithms on this, that will be even better.

Alternatively, some config value of not doing merge/rollup if the retention is just N hours/days away (if this is the only race condition).

[2021-09-09 00:29] Jackie-Jiang commented on #7404
Actually the instanceId is returned after it is started (`StartServiceManagerCommand.startServiceManager()`), and it is logged in `StartServiceManagerCommand.startPinotService()`

[2021-09-09 05:00] ckharide commented on #7404
Ok may be am missing something here - in PinotServiceManager constructor _instanceId is already there.
_instanceId = String.format("ServiceManager_%s_%d", hostname, port);

Does it get mutated after the StartServiceManagerCommand.startServiceManager()

[2021-09-09 05:37] elonazoulay commented on #7388
Yes, some example functions:

[2021-09-09 15:37] richardstartin opened #7414 "Tracing should not rely on the system clock"
There's code throughout the codebase which performs tracing of sensitive operations, such as in `BaseOperator`:

[code]

Calls to `System.currentTimeMillis()` call in to the system clock, so are subject to NTP/PTP adjustments, meaning that `(end - start)` can be negative or misleadingly long. `System.nanoTime()` should be used instead, and converted to milliseconds if so desired.

[2021-09-09 15:42] kishoreg commented on #7414
Good point. We have this in many places.

[2021-09-09 16:21] mcvsubbu commented on #7414
I had the same thought as well, way early on in Pinot development.  However, when Adwait (a former pinot team member) and I researched a bit, we came across some articles that effectively said `System.currentTimeMillis()` was more efficient than nanos. I remember I was surprised because I thought getting nanos would be far cheaper, usually a relative clock that does not reach across cpus.  Perhaps

[2021-09-09 16:52] richardstartin commented on #7414
This is the first time I have heard that and I must admit I am very skeptical about those articles' claims. On linux, `System.currentTimeMillis` delegates to `CLOCK_REALTIME` (see [here](https://github.com/openjdk/jdk/blob/20a373a0d00b72f0c6dceb19efca3b7cc34335e5/src/hotspot/os/posix/os_posix.cpp#L1387)) whereas `System.nanoTime()` delegates to `CLOCK_MONOTONIC` ([here](https://github.com/openjdk/

[2021-09-09 16:57] richardstartin commented on #7414
I just recalled that [JFR uses RDTSC](https://github.com/openjdk/jdk/blob/739769c8fc4b496f08a92225a12d07414537b6c0/src/hotspot/share/jfr/utilities/jfrTime.cpp#L58) so can measure time more efficiently, so replacing manual tracing with JFR events might be a good idea if performance is a concern.

[2021-09-09 17:32] liuchang0520 opened #7415 "Fix data racing issue introduced in #6778"
#6778 introduced LLC segments deep store upload retry logic in controller periodic task. There is one potential data racing issue: during the controller periodic job setup, it scans LLC segment ZK metadata to find those without deep store, and let the leader controller to cache them for later fix operation. But by that time, the controller leadership may not be established due to the fact that the

[2021-09-09 17:52] TT1103 opened #7416 "Skip NULL values when creating star-tree"
NULL values should be skipped when creating the pre-aggregated results in the star tree.

@Jackie-Jiang

[2021-09-09 17:56] TT1103 opened #7417 "Add config to automatically generate only the dimensionsSplitOrder in star tree"
Currently, we can specify enableDefaultStarTree=True, which will create a default star tree. It will automatically generate the dimensionsSplitOrder by taking the dimension columns and sorting them by cardinality in descending order. It also contains some default pre-aggregations and a maxLeafRecords.

But we can't add more pre-aggregations to the default config.
It would be useful if we can add a

[2021-09-09 17:58] TT1103 opened #7418 "Add config to change the default query row limit"
Currently, if no LIMIT if specified, a query will only return 10 results. Add a config to change the default number.

[2021-09-09 18:02] mcvsubbu commented on #7418
In general, keeping a lower number of configurations keeps a product easier to use and document. Along these lines, I think a config variable like this does not add much value to pinot.

My vote is a -1

I am happy to hear thoughts from others though.

[2021-09-09 19:10] siddharthteotia commented on #7395
High level question

After we added lucene based text index, there was FST text index added which uses Lucene FST libraries for purely regex searches as the former one took more storage if the user only wanted regex searches and not term, phrase etc.

For the current proposal of native text indexes, are we planning to re-implement all of Lucene libraries for search within Pinot ?

[2021-09-09 19:23] Jackie-Jiang commented on #7413
I think the key to solve this problem is to keep the lineage entry longer and only remove it when the segment is already removed in the previous round of cleanup. Combine this with segment existence check should be good enough to solve this race condition

[2021-09-09 19:40] kishoreg commented on #7395
Looking at the doc and PR, it looks like only the FST is being implemented. Pinot already has the posting list and the ability to evaluate boolean expressions over posting lists. Is there anything else?

[2021-09-09 19:58] atris commented on #7395
No, FST and regexp automaton are the only two things - - rest of the
operations will be performed by Pinot indices

On Fri, 10 Sep 2021, 01:10 Kishore Gopalakrishna, ***@***.***>
wrote:

[2021-09-09 22:50] Jackie-Jiang commented on #7404
No it is not mutated, but fixed within the constructor (the port is already picked within the constructor). Alternatively we can also pick the port within the `start()` and fix the instanceId there, but in most cases the constructor and `start()` are invoked together so no big difference there.
Adding @xiangfu0 to this thread

[2021-09-10 16:14] chenboat opened #7421 "Heavy loaded server not serving queries after start"
For a server with a lot of segments for Upsert tables, the server start process may result in high GC activity and  its zk client may be disconnected temporarily. In such case, the server may not register itself to serve query traffic because the following zk config writes fails -- note that the other server start process still works fine. So a solution here is to at least retry the config write i

[2021-09-10 17:20] siddharthteotia commented on #7395
Wanted to understand a few things better.

IIUC, this is our current state

- Lucene text index - wrapper over Lucene to get phrase, term, regex etc search query functionality
- Lucene FST index - this was added later (by Confluera I guess) to use FST libraries of Lucene to purely get regex search functionality from Lucene.

In both the above cases, we get FST and regexp automaton as part of using

[2021-09-10 18:17] mcvsubbu commented on #7421
Pinot is horizontally scalable, and the way to solve this seems to be to increase the number of severs. Yes, retry may help in the short run, but you will need to re-scale soon I think.

Did we add live rebalance for upsert tables?  If so, maybe that can migrate in zero downtime ?

[2021-09-10 22:11] lakshmanan-v opened #7422 "Support aggregate functions to better handle timeseries data"
Some of the datasets store value of an entity (ex: humidity/temperature readings of a storage unit, Status of a device) over time. The values are recorded periodically, may not be very granular. It would be great to have some of the following timeseries functions to analyze the trend over time.

- time_bucket_gapfill() => Fills data for missing time buckets.
- Functions to fill data: zero_fill() -

[2021-09-10 23:37] jtao15 commented on #7413
The segment zk metadata version will achieve the segment level lock? If we always check the version when replacing/deleting the segments, only one task will succeed. The other replacing/deleting request can retry later.

I think scheduling part will not cause any issue, but the clean up part of merge/roll-up does. By adding merge/roll-up task, the retention manager now need to clean up merged segm

[2021-09-10 23:53] Jackie-Jiang commented on #7413
I think we do check the CRC when purge task pushes the segment. If that is not the case, we should add existence and CRC check

[2021-09-10 23:54] jtao15 commented on #7413
In extreme case:
1. Segment A is picked for merge/roll-up
2. Before the merge/roll-up task is done, A is picked for purging
3. merge task is finished
4. retention manager removed segment A
5. after 6 hours, retention manager removed the lineage
6. Purge task is done, the purged segment is uploaded and we have duplicate data

So if the purge task run longer than 6 hour, we still have the issue?

[2021-09-11 00:08] jtao15 commented on #7413
We do check the crc. But the version check is still needed since in extreme cases the segment can be deleted after we check crc since the check&update is not atomic?
I think we can have some sort of flag to indicate the upload request is replacement only (for purge and convertToRawIndex), if there's no existing segment or the segment got deleted before the request complete (zk version mismatch), w

[2021-09-12 15:22] #7134 closed

[2021-09-13 16:25] suddendust commented on #7229
Thanks @mcvsubbu, have done a thorough update of the [proposal](https://docs.google.com/document/d/1txrsoI4WPRMPWuAvE-BHlHP5WIpbjrp0g7znkZD71Fk/edit). I have a question though that I couldn't figure out a solution to. When servers download/evict segments, what would be the best way to update the segment idealstate? Similarly for rebalancing from broker for even distribution of frozen segments. Cer

[2021-09-13 16:46] mcvsubbu commented on #7229
@suddendust our current design is to NOT change idealstate. Please conform that this is indeed the case. This is so precisely for the reasons you mention.

One way to let the controller know is via some API, but we will need to manage multiple replicas doing this same thing, etc. We can get to this later. Let us do one version in which the idealstate is not touched.

[2021-09-13 18:23] mcvsubbu commented on #7229
The segments should be in ONLINE state in idealstate.  A server may find it not in local store, and download it before serving the query.

[2021-09-13 18:52] suddendust commented on #7229
This makes the design quite simpler as I don't have to deal with the vagaries of state transitions. I'll update the doc with this (my thought process was that an unmapped segment should be moved to OFFLINE as an invariant. I was doing this solely to maintain adhere to this).

[2021-09-13 19:34] Jackie-Jiang commented on #7413
@jtao15 One way to ensure atomicity is to follow the following steps when replacing the segment:
1. Read the existing segment ZK metadata
2a. If not exist, abort
2b. If exist, check CRC
3a. If not match, abort
3b. If match, update segment ZK metadata with ZNode version check

[2021-09-14 08:52] xiangfu0 opened #7430 "Remove PQL query endpoint and response format after 0.9.0 release"
Dear Community,

TL;DR, Pinot will remove PQL query endpoint and response format after 0.9.0 release, only SQL endpoint is supported afterward.

Apache Pinot has been supporting the Calcite SQL query endpoint from 0.3.0 (Mar 2020) and deprecating the PQL query endpoint for more than a year.

Now we are seeing more obstacles to maintain two code paths for PQL & SQL for adding new functionalities, q

[2021-09-14 09:14] atris commented on #7395
Thanks for reviewing the document, @siddharthteotia !

Here are my thoughts:

Current text search infrastructure: Status quo, we simply build side car Lucene indices and expose a UDF which allows users to specify Lucene queries. IMO, this is a component that should ideally be outside of Pinot since it has no correlation with Pinot itself.

So, an eventual goal is to move text search to native Pino

[2021-09-14 20:04] #6772 closed

[2021-09-14 22:22] walterddr opened #7433 "better support for multiple parallelism in SegmentWriter and SegmentUploader default impl"
In many use cases such as Spark / Flink ingestion, multiple instances of workers will be instantiated to upload segments in parallel

Currently the default SegmentWriter and SegmentUploader cannot support this easily: One needs to generate slightly different TableConfig and BatchIngestionConfig in order to modify the tmp directory name, segment name and other usages. Otherwise, spawning multiples

[2021-09-14 22:24] walterddr opened #7434 "Support in-memory segment generation and upload"
Currently the SegmentWriter and SegmentUploader writes data into a TAR file and then upload to Pinot servers.

Can we optimize the write to disk by creating a in-memory TAR file format to speed up the upload?

[2021-09-15 01:10] Jackie-Jiang commented on #7422
Great feature to add. It should be doable with both value and time column passed to the aggregation function.

[2021-09-15 13:54] richardstartin opened #7436 "Range index does not create buckets correctly for `FLOAT` columns"
When there is a range index on a `FLOAT` column, all values may be grouped under the same bucket whenever all values have the same integer floor value.

This is caused by a bug in persisting the floating point data, where the value is converted to an integer:

[code]

The current test for the `RangeIndexCreator` passes because it uses `RangeIndexCreator._rangeStartArray` as part of the test set up

[2021-09-15 14:23] richardstartin opened #7437 "Range Index Enhancement Proposal"
I would like to propose the introduction of bit-sliced range encoded indexes to improve range index query performance, using the data structure implemented [here](https://github.com/RoaringBitmap/RoaringBitmap/pull/519). Please review the proposal document https://docs.google.com/document/d/1se2OgqXJiD7r7S7U6SUmTIAApO66QIrAYosxvXHEXlw/edit?usp=sharing

[2021-09-15 16:14] kishoreg commented on #7437
This is an amazing doc. We should probably add this doc as examples in our contribution guidelines

[2021-09-15 19:21] suddendust commented on #7369
I can pick this up.

[2021-09-16 01:11] ksnijjer opened #7439 "Add error handling for jsonPathString UDF when jsonPath is non-existent"
If you use "non default value" version i.e **jsonPathString(Object object, String jsonPath)** then there is no error handling in case jsonPath doesn't exist and will cause data ingestion to fail. Need to return null in such scenarios so data ingestion is not impacted.

Similar to above function other functions for e.g jsonPathDouble() etc. need to be updated as well.

cc @npawar

[2021-09-16 01:19] ksnijjer opened #7440 "Add variant for jsonPathString(Object object, String jsonPath, String defaultValue)"
Currently if we are not able to find a value at the given jsonPath, we just return defaultValue. This implies that Null value support functionality can't be used by the customer: https://docs.pinot.apache.org/developers/advanced/null-value-support

Can we add another variant where we return "null" in such scenarios ?

cc @npawar

[2021-09-16 02:10] walterddr commented on #6599
Reference: https://github.com/apache/pinot/pull/7114#pullrequestreview-753198294

what would be the most useful feature for us to support.

Comparing the features of REGEXP_EXTRACT between bigquery and presto
big query:
- supports starting position offset
- supports finding multiple occurrence (e.g. number of full occurrent match starting from the first index)
- doesn't support capture group extra

[2021-09-16 11:34] ddcprg opened #7441 "[k8s] Remove chart from matchLabels in helper templates"
This line will be prevent doing upgrades of the StatfulSet when a new version needs to be deployed

https://github.com/apache/pinot/blob/master/kubernetes/helm/pinot/templates/_helpers.tpl#L58

Kubernetes will fail with error

[code]

[2021-09-16 17:14] GSharayu opened #7444 "Enhance bloom filter recommendation rule to also consider IN predicate"
Support in the execution engine was added for bloom filter (#7005) based pruning using IN predicate. The index recommendation rule isn't yet updated to support IN predicate. The current implementation of BloomFilterRule ignores IN predicate, this issue will track removal of that limitation

[2021-09-16 22:47] Jackie-Jiang commented on #6599
I would vote for the presto semantic. I did a search and seems most data bases use this semantic including Databricks, Hive, Google Data Studio.
A lot of clients using presto connector to query pinot, so it would be good to keep the function compatible with presto semantic.

[2021-09-16 23:08] walterddr commented on #6599
I felt like a fundamental issue that
- big query semantic cannot handle is capture group at all.
where from presto definition
- # of occurrence can be easily implemented by repeating the same regexp multiple times and only add capture group to the desired occurrence instance.
- position can also be handle by modifying the regexp in the front.

I vote for presto semantics too

[2021-09-17 00:17] siddharthteotia commented on #7395
I had followed up for clarifying few additional things with @atris in slack channel. Copying here for reference and visibility

Can we all confirm the following ? I am sorry to have asked this couple of times as part of different threads in the doc but since doc still indicates some sort of migration _Note that till completion of phase 4,  we will be maintaining the existing text indices within Pi

[2021-09-17 13:38] richardstartin commented on #7436
Fixed by #7435

[2021-09-17 13:38] #7436 closed

[2021-09-17 18:50] walterddr opened #7448 "Support stateful ScalarFunction"
Some of the `@ScalarFunction` we built and potentially other 3rd party customized function can benefit from a stateful optimization. E.g. if we know a scalarfunction is used with literal arguments. those literal arguments can be preprocessed (e.g. regexp pattern compilation)

However since ScalarFunction are used not only during the query code path but also the ingestion codepath. we need to be su

[2021-09-17 19:34] #7415 closed

[2021-09-17 21:37] dd-willgan opened #7449 "/version endpoint returns empty object for Pinot 0.8.0"
[code]

Running `apachepinot/pinot:release-0.8.0-jdk11`. Can be reproduced in Docker [here](https://docs.pinot.apache.org/basics/getting-started/running-pinot-in-docker)

[code]

[2021-09-17 21:37] dd-willgan commented on #7449
cc: @mayankshriv

[2021-09-18 03:09] walterddr commented on #7448
Initial design is:

0. make `ScalarFunction` annotation support both class annotation and *static* method annotation
  - static version is the current implementation
  - class annotation supports both stateless and stateful version (this requires the PreprocessableScalarFunction interface to support 3 interface processStateful / processStateless / init)
1. make `FunctionInvoker` support instantiat

[2021-09-20 17:20] MeihanLi opened #7453 "Unclear query response to debug JSON_MATCH on one column without json index"
Hi, the Pinot Controller query response is unclear to show the root cause when we use JSON_MATCH on one column without proper json index. However, we can find more information from server logs. It is good to have a clear response message from Pinot Controller for debugging.

This is the query response from Pinot Controller:
`[
  {
    "errorCode": 200,
    "message": "QueryExecutionError:\njava.la

[2021-09-20 19:27] npawar commented on #7168
Closing this issue as there's been no activity for > 2 months. Also I believe there have been discussions on the Slack channel about this. Please reopen if issue still exists.

[2021-09-20 19:27] #7168 closed

[2021-09-20 20:42] Jackie-Jiang commented on #7448
Great proposal!
Currently the scalar function class is actually stateful (one instance of class in the `FunctionInvoker`). We do have a test for that (see `InbuiltFunctionEvaluatorTest.testStateSharedBetweenRowsForExecution()`.
The problem is that we don't have a way to initialize the class. IMO there are 2 approaches:
1. Add an `init()` method and explicitly invoke it on the caller side
2. Initia

[2021-09-21 06:51] amrishlal commented on #7437
The proposal doc is very interesting reading. Thanks for creating it. I am still in the process of reading through it, but wanted to add a few points regarding the current RangeIndex. A while back, we had done a high-level evaluation of the current RangeIndex algorithm and came up with the following optimizations:
- If there are N values in the column being indexed, then `RangeIndexCreator` should

[2021-09-21 14:09] mayankshriv commented on #7437
@amrishlal Thanks for sharing your thoughts on the existing range index impl. Do you have an implementation or numbers to compare with? From what I understand, the proposal here is to have a separate implementation (based on offline experiments that show better results), but not to replace the existing one. Once we have the impl, we can perform detailed comparisons and pick the right one based on

[2021-09-21 14:39] kishoreg commented on #7437
@amrishlal I suggest reading the design doc in detail again.

The problem with any combination of approx filter and then scan to filter again can have bad edge cases. Moreover, the proposal from @richardstartin will completely eliminate the need for a linear scan.

- square root of N does not really lead to optimal distribution. Also, this might lead to a lot of buckets which will be really bad
-

[2021-09-21 16:13] #7449 closed

[2021-09-21 16:29] kkrugler opened #7457 "PluginManager has fragile dependency on singleton and system properties"
There's an issue with how the PluginManager (the only class using PluginClassLoader) gets initialized. It has a static PluginManager variable that uses system properties to locate classes to load, which is fragile as code that sets up this system property must run before the PluginManager class gets loaded. One example of this is `HadoopSegmentCreationMapper`.

In general having a singleton is pro

[2021-09-21 16:29] kkrugler commented on #7457
@richardstartin - wanted to mention this issue, for when you're looking into the PluginClassLoader.

[2021-09-21 16:34] kkrugler commented on #7393
See useful documentation on [Flink's classloading](https://ci.apache.org/projects/flink/flink-docs-master/docs/ops/debugging/debugging_classloading/). We don't yet support building segments with Flink, but we will eventually want to do so. And this page has a pretty good explanation of common classloading fun with a distributed system that runs user code (Hadoop is similar, I assume the same is tr

[2021-09-21 16:36] kkrugler commented on #7393
@richardstartin - I don't know if you want to keep using this issue for fixes/improvements to plugin classloading, so I haven't closed it. I would favor a new issue that describes the more general problem.

[2021-09-21 17:44] walterddr commented on #7453
looking at the exception returned via controller. it seems to repeat itself 3 times with the exact same message as the exception thrown from the server side. The only difference is that on the server side we also log the "Caused by" section.

I think it should be reasonable to add the "Caused by" section in the controller response.

BTW can you share a repro for this exception, maybe a snippet of

[2021-09-21 20:38] walterddr commented on #7433
this should be closed by #7458

[2021-09-21 20:38] #7433 closed

[2021-09-22 06:39] amrishlal commented on #7437
@mayankshriv @kishoreg I am also a strong +1 on this proposal :-) as this appears to be a good approach. I didn't mean to imply in any way this should not be done. I was just wondering (mainly from a curiosity point of view) as to how well this would perform if the current RangeIndex if we were to make certain "optimizations" to the current range index to bring it closer to log2(N) search time.

[2021-09-22 08:44] richardstartin commented on #7437
I think it's important to discuss data distribution when considering bucket assignment by value. The Achilles heel of bucketing by value is skewed distributions, which might be produced by e.g. a bursty process leading to clustered timestamps, or maybe latencies in APM data, which tend to be multi-modal with huge outliers extending the range significantly (mean=1ms but p99.9=5s isn't unheard of).

[2021-09-22 14:07] JKL98ISR opened #7461 "Using double quotes in Presto not working as expected"
I have a field called date in my database so I need to use double quotes to not get a parse error.
When I use double quotes in the Pinot console UI it runs the query normally.
In Presto it seems like the double quotes are removed before the compilation.
When I process the query: `SELECT "date" from  <table> LIMIT 10` I get the following error:

`PrestoExternalError(type=EXTERNAL, name=PINOT_EXCEPT

[2021-09-22 16:58] GSharayu opened #7462 "Build execution plan without transform operator to optimize simple select queries"
This issue is follow up of Issue(#6972): Implement PassThroughTransformOperator to optimize select queries.

If the user runs simple SELECT queries without involving any transformations, Pinot can help execute them faster by building a better query plan since Pinot has the information available during query compilation. Even though the query didn't have transforms, Pinot engine was still applying

[2021-09-22 17:57] Jackie-Jiang commented on #7461
@xiangfu0 ^^

[2021-09-22 18:01] hristo-stripe opened #7463 "Optimize filters at segment processing time"
We've tried running `select distinctcount(field) from table` which times out with the default timeout.

However, running
`select distinctcount(field) from table_REALTIME`
and
`select distinctcount(field) from table_OFFLINE`
both complete in less than 15ms.

After a discussion with @Jackie-Jiang, it appears this can be tracked down to the fact that
querying the realtime/offline tables separately al

[2021-09-22 18:18] xiangfu0 commented on #7461
Make sense, we should quotes those.

[2021-09-22 18:35] Jackie-Jiang opened #7465 "Improve the "Querying Pinot" doc to include the query options and pinot quirks"
Querying Pinot doc link: https://docs.pinot.apache.org/users/user-guide-query/querying-pinot

Some pinot quirks not documented yet:
- Group-by has default `LIMIT` of 10
- Group-by query trims off tail groups based on the `LIMIT`
- Group-by without order-by can trim off random groups if not all groups are queried (small `LIMIT`)

New support not documented yet:
- Post-aggregation
- Having

[2021-09-22 20:13] #7453 closed

[2021-09-23 10:41] JKL98ISR opened #7472 "apachepinot/pinot-presto:latest not using latest presto-pinot-driver"
It uses 0.1.2 version instead of the latest (0.1.3) which has pinot 0.8.0 instead of 0.7.0.
It causes some compatibility issues - i.e boolean usage.

[2021-09-23 11:51] JKL98ISR commented on #7461
In relation to the topic also using `select *` produces different results in the UI and presto. Presto separates the * to the columns names which also causes an error because of the column date.

[2021-09-23 17:48] atris commented on #7463
@Jackie-Jiang as discussed, can you please assign this to me?

[2021-09-23 18:13] suddendust opened #7476 "Pinot Ingestion Rate Sudden Drop to 0"
We ingested data from Kafka into six Pinot  real-time tables. A few hours back, the ingestion on all the tables dropped to 0. Server logs:

[code]

Controller logs:
[code]

[2021-09-23 18:15] suddendust commented on #7476
Some metrics:
<img width="1358" alt="Screenshot 2021-09-23 at 9 19 12 PM" src="https://user-images.githubusercontent.com/84911643/134561498-62e7a31c-354d-4471-ac6f-6fff8f66161a.png">
<img width="1380" alt="Screenshot 2021-09-23 at 9 20 51 PM" src="https://user-images.githubusercontent.com/84911643/134561517-b50fa264-06db-4888-ac19-14a978a0053c.png">
<img width="688" alt="Screenshot 2021-09-23 at 9

[2021-09-23 18:16] suddendust commented on #7476
^The above chart is the incoming rate. There were no OOMs in the pods. Ingestion went back to normal once they were restarted.

[2021-09-23 18:41] mayankshriv commented on #7476
Thanks for sharing the issue. @richardstartin could you take a look?

[2021-09-23 19:09] ananthdurai opened #7477 "Pinot Data Explorer doesn't support all the Pinot data types"
When creating a schema from the Pinot Data Explorer UI, the "datatypes" drop-down only supports primitive data types. It will be nice to add other supported data types like MAP, LIST, STRUCT, and JSON for more accessible exploration.
<img width="1081" alt="Screenshot 2021-09-23 at 15 04 28" src="https://user-images.githubusercontent.com/12244730/134568734-1b032784-ed29-4e15-b8ee-70aa6366fec7.png">

[2021-09-23 19:29] richardstartin commented on #7476
Hi @suddendust could you share information about your environment please? Pinot version, OS version, JVM version, instance type? Ping me in the pinot slack if you want to share this info privately.

[2021-09-24 00:49] jtao15 opened #7480 "Merge/roll-up task takes long time to bootstrap long retention tables"
To bootstrap long retention tables (e.g. 2 year), scheduling 1 time bucket each round will take more than 1 month to process the table. If we can schedule multiple buckets per round, this can be improved.

We may have the issue that spilled over data can't get the chance to be merged and generate more segments than expected. Currently we can fall back to the default behavior if there are segments

[2021-09-24 07:22] suddendust commented on #7476
@richardstartin here's the env details:
1. Pinot Version: 0.7.1.
2. JVM Version: 1.8.
3. Instance Type: m5.4xlarge
4. OS Image: Ubuntu 18.04.5 LTS, Operating System: linux, Architecture: amd64, Container Runtime Version:  docker://19.3.6

[2021-09-24 15:27] richardstartin commented on #7476
Thanks for the information. This is quite a complex issue. What that stack trace means is that some call to `Unsafe.get` or `Unsafe.put` led to a SIGBUS error, which was caught asynchronously, meaning the frame in the error may or may be directly related to the underlying cause. The underlying cause will be related to memory mapping, probably an OOM writing to `tmpfs`. There's a good explanation t

[2021-09-24 21:14] kkrugler commented on #7393
I'm going to close this issue, as PR #7400 resolves the specific problem mentioned here.

[2021-09-24 21:14] #7393 closed

[2021-09-24 21:44] kkrugler commented on #6364
In addition to `pinot-spi`, there's also `pinot-common` that has a non-test dependency on log4j.

[2021-09-24 21:45] kkrugler commented on #6364
And the following components (maybe others?) would need to add non-test dependencies on `log4j-slf4j-impl`:

- broker
- controller
- server
- tools

[2021-09-24 21:46] kkrugler commented on #6364
You could also remove a number of log4j entries from the dependency management section of the top-level `pom.xml`, as once you have a dependency on `log4j-slf4j-impl`, that pulls in `log4j-core` and `log4j-api`, etc.

[2021-09-26 19:50] suddendust commented on #7476
Hi @richardstartin thanks for the thorough analysis. So just to pin the speculated root-cause, a SIGBUS happened while consuming a real-time segment for some reason (probably high `tmpfs` usage) and therefore, the ingestion dropped to 0 and no new segments were generated. Is that correct?

Let me get back to you with the required info first thing tomorrow morning.

[2021-09-27 07:19] suddendust commented on #7476
Hi @richardstartin here's the request information:

1. Table Configuration [redacted]

[code]

2. -`Xmx`: 4G
3. We haven't configured `XX:MaxDirectMemorySize` explicitly, so I guess the default would be same as 4G?

All other tables have similar config (we have seven tables).

[2021-09-27 09:56] richardstartin commented on #7476
@suddendust

Yes, the difficult part is the error is thrown asynchronously when the SIGBUS is handled, so pinpointing the precise root cause is hard. The root cause will certainly not be the in dictionary stack frame where the error is reported. Another way to cause this would be to write to a `MappedByteBuffer` after truncating the `RandomAccessFile` but I have audited the codebase and do not thi

[2021-09-27 14:36] suddendust commented on #7476
@richardstartin apologies, I gave you the `xmx` for the broker earlier. The correct `xmx` value is `10G`.

[2021-09-27 15:21] Eywek commented on #7270
Hello,
Any news on this?

[2021-09-27 15:38] kishoreg commented on #7270
We should probably shade some of the conflicting libraries

[2021-09-27 16:41] fritzb opened #7489 "Add timezone support in ToDateTime()"
ToDateTime(tsInMillis, pattern) converts epoch millis value to DateTime string represented by pattern.
ToDateTime() is missing timezone support. This support is important for user who uses Business Intelligence, where the result will be directly visualize and must be represented in the local timezone instead of UTC.

Proposal:
1. Support tz(<time zone>) in pattern
2. Have <time zone> as optional a

[2021-09-27 20:24] walterddr commented on #7248
another example https://github.com/apache/pinot/runs/3628934611

and I have a stable reproduce when introducing more tests in https://github.com/apache/pinot/pull/7474

[2021-09-27 22:23] walterddr commented on #7248
A quick research:
1. this is most likely timeout during test teardown failure (afterclass/aftersuite)
2. i am not sure if this is related. but it seems like the failure inducing test suite/class is not being printed out. (see: https://issues.apache.org/jira/browse/SUREFIRE-1287)

it doesn't seem like it is easy to modify surefire plugin to print the test name before hand so we probably need to mod

[2021-09-27 22:54] chenboat opened #7491 "Adding brokers to an existing tenant caused TableNotFound query exception"
We tried to expand a broker tenant _A_ by adding the tenant tag _A_ to a few free brokers (via Controller UI). We observed that the new added brokers started to accept queries even though table re-assignment through Helix is still ongoing. This caused the broker to throw TableNotFound exceptions. This problem is particularly serious if the tenant has a lot of tables and queries. -- which means the

[2021-09-28 13:17] Eywek commented on #6988
Hello,
Any news on this?

[2021-09-28 21:11] mayankshriv commented on #7004
Resurrecting the thread here. @mapshen Seems like you still need this feature? If you are up for it, we have a more formal guideline around contributions that is expected to help us converge faster: https://docs.pinot.apache.org/developers/developers-and-contributors/contribution-guidelines#pinot-enhancement-proposal-workflow

[2021-09-29 01:50] Jackie-Jiang opened #7494 "[Cleanup] Set instance-level and table-level query options into query context"
Currently when executing a query, we extract the query options out and pass them in as arguments into the plan nodes and operators. This approach will add more and more arguments into the method, which is hard to maintain.
Instead, we can store these arguments within the query context so that adding new options doesn't require changing the method signature.

[2021-09-29 03:46] kishoreg commented on #7494
Can we also add request id to the context in another PR

[2021-09-29 13:41] ddcprg opened #7495 "[Minion] Metrics not exposed via Prometheus JMX exporter"
The example JMX exporter config file seems to have a typo which causes the Minion metrics not being collected.

I'll raise a PR with a fix

[2021-09-29 17:08] xiangfu0 commented on #7494
+1000.
Also this object can carry over the query runtime info, e.g. request id for tracing, query start time for handling timeout etc.

[2021-09-29 20:33] #7495 closed

[2021-09-29 21:35] richardstartin opened #7499 "Consider migrating joda-time to `java.time`"
Joda-time was superseded by `java.time` when JDK8 was released and there is a straightforward migration path.

[2021-09-30 08:27] ddcprg commented on #7499
@richardstartin  @xiangfu0 I might be able to look into this one if no one else has picked it up

[2021-09-30 08:34] ItayGabbay commented on #7461
Hey guys,
Any update about this? I experience this behavior also and really need to work with presto & pinot together.
Thanks.

[2021-09-30 08:37] richardstartin commented on #7499
@ddcprg that would be awesome! As part of the effort, I would suggest building some unit testing around `DateTimeFunctions` to be sure there aren't any regressions.

There is a blog post from the author of both libraries on performing the migration (from 2014) [here](https://blog.joda.org/2014/11/converting-from-joda-time-to-javatime.html). Don't miss the comment here:

[2021-09-30 08:42] ddcprg commented on #7499
Cool, Thank you for the suggestions!

[2021-09-30 16:58] richardstartin opened #7502 "Request tracing prevents query completion"
There are currently a few bugs in the tracing implementation:

1. `TraceContext` accessed concurrently from different threads leading to `ConcurrentModificationException`
[code]
<img width="1065" alt="Screenshot 2021-09-30 at 17 47 46" src="https://user-images.githubusercontent.com/16439049/135497563-af35fcba-046b-4fce-aa7d-175cc307b3ea.png">

2. `NullPointerException` in query runner thread pool

[2021-09-30 23:04] dd-willgan opened #7504 "Querying JSON-type columns that are arrays at the top level doesn't work with dot notation."
We are using Pinot 0.8.0 and have a JSON-type column with a JsonIndex on it. The top-level of the JSON is an array, and from https://docs.pinot.apache.org/users/user-guide-query/json-queries, it seems like we should be able to query it like
[code]
[code]
but this doesn't return any rows. From the broker response it seems like `feedback_issues_json[0]` is being interpreted as the column name.

cc:

[2021-09-30 23:07] walterddr commented on #7248
was able to consistently reproduce (by running exact test 100 times) here: https://github.com/apache/pinot/pull/7503/checks?check_run_id=3760273969.

[2021-10-01 18:27] etadelta222 opened #7506 "Geospatial functions missing from Ingestion Transforms page"
The Ingestion Transforms page has a list of all column transformations, including Inbuilt Pinot functions. However, this list is missing the function names and descriptions for the built in geospatial functions. .

[2021-10-01 20:26] ddcprg opened #7507 "Add support to configure node properties via environment variables"
At the moment is not possible to configure server/node properties via environment variables. This is particularly useful when configuring secrets, e.g. basic authentication username and password.

It would be great to introduce some mechanism to support this. An example of how this could work is spring boot application properties, apache kafka docker images or even the AWS authentication chain.

F

[2021-10-01 22:48] #7248 closed

[2021-10-01 22:56] Jackie-Jiang commented on #7504
@amrishlal Could you please take a look?

[2021-10-01 22:59] Jackie-Jiang commented on #7506
@etadelta222 Thanks for reporting this! Would you like to help improve the documentation? It is backed by this repo: https://github.com/pinot-contrib/pinot-docs

[2021-10-02 06:09] #7264 closed

[2021-10-04 00:00] xiangfu0 opened #7510 "[Segment ingestion job] Multi-threaded segment copy from staging dir to final destination"
SparkIngestionJob uses single threaded copy for segments copy from staging dir to final deep store dir(e.g. S3):
https://github.com/apache/pinot/blob/7ce8b756dff2b153151517afd552759e44d46c75/pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark/src/main/java/org/apache/pinot/plugin/ingestion/batch/spark/SparkSegmentGenerationJobRunner.java#L345

For a few hundred segments being uploaded,

[2021-10-04 03:27] amrishlal commented on #7504
I have created a PR to fix this issue. Please see #7511. Also, it seems like a similar fix is needed in `JsonIndex / JSON_MATCH` as well to allow for running queries such as:

[code]

I am assuming that you can take a look at `JsonIndex / JSON_MATCH` changes?

[2021-10-04 05:50] deepakcse2k5 commented on #6988
Hi kriti-sc,

Is there any update on this ?

[2021-10-04 12:44] jadireddi commented on #7489
Hi,
I would like to contribute to this issue. Can you help me, if it's still open?

[2021-10-04 18:13] walterddr opened #7512 "Clean up behavior of config parsing"
some inconsistencies were discovered after https://github.com/apache/pinot/pull/7497

For example, configuration values were parsed into Lists and then re-constructed back into String. However the return changes were not exactly desired (e.g. parsed as comma-separated string but put back together as Arrays Stringification). This prompts me to ask a question: what are the proper configuration parsi

[2021-10-04 19:21] kkrugler commented on #7510
Same is true for Hadoop segment generation job. It would be great to have a generalized threaded copy that can be used by Hadoop and Spark (and maybe Flink in the future)

[2021-10-04 20:34] Jackie-Jiang commented on #7504
@amrishlal Thanks for working on this issue
The `JSON_MATCH` should already support it, and the correct syntax is `JSON_MATCH(jsonColumn, '"$[2]" IS NOT NULL')` (No escape for double quote & no `.` for array access)

[2021-10-04 20:49] Jackie-Jiang commented on #7489
@jadireddi Thanks for volunteering. We can start with adding a third argument to the `DateTimeFunctions.toDateTime()`

[2021-10-04 22:36] sajjad-moradi opened #7514 "Multi-Stream Consumption"
Currently one realtime Pinot table only consumes from one stream. For use cases in which multiple existing streams are the input source for one Pinot table, the workaround is to use stream processors to read from different streams, perform necessary transformations, and write the output of all transformed events into another stream. Then one realtime pinot table can be set up to consume from that

[2021-10-04 22:36] sajjad-moradi commented on #7514
I'm working on a design doc for this and will share it here soon.

[2021-10-05 06:44] shahsank3t opened #7517 "add favicon to pinot controller ui"
Currently, there is no favicon added to the pinot controller UI.
![image](https://user-images.githubusercontent.com/6761317/135973388-4a21fcb8-c0fc-4181-8eee-3c54149e295d.png)

[2021-10-05 07:16] atris opened #7519 "FILTER Clause Support"
FILTER clause (SELECT COUNT(*) FILTER (WHERE foo > bar) FROM fooBar) allows complex reports to be generated efficiently without recomputation of the core predicate and rescans of the original data set.

https://docs.google.com/document/d/1qJzG1CmyVZpLN6rdI8V0zUWEaIjQ86hDL9XwrcPKcTs/edit?usp=sharing

[2021-10-05 10:11] andruszd opened #7520 "Can the enable slider be disabled in the table view so it does not appear"
Can the enable slider be disabled in the table view so it does not appear , and can you make it configrable foe different users,
the reason  when you  click on the slider to disable it stops  processing the data , insted of just disableing access to the buttons

![2021-09-03 13_31_38-Window](https://user-images.githubusercontent.com/3110040/136003814-161c5257-060d-4be2-b69e-9c0265e516a3.png)
r

[2021-10-05 10:13] andruszd opened #7521 "Request for a user login and pasword system, and configurable views so that none devs can have access to what is running"
Request for a user login and  pasword system, and configurable views so that none devs can have access to what is running

[2021-10-05 10:16] andruszd opened #7522 "diskspace not reporting corect values even though segments have been flushed to disk and are not in memory"
diskspace  not reporting corect values even though  segments have been flushed to disk and are not in memory
the values allways show -1
![2021-09-03 13_32_54-Window](https://user-images.githubusercontent.com/3110040/136004650-a1b6da84-582c-4b88-9cae-1a13d6554f41.png)

[2021-10-05 14:55] etadelta222 commented on #6851
I've recently run into this error as well.

v0.7.1

[2021-10-05 17:44] #7517 closed

[2021-10-05 18:26] Jackie-Jiang commented on #6851
Duplicate with #6920 and has been fixed in `0.8.0`

[2021-10-05 18:26] #6851 closed

[2021-10-05 21:31] chenboat commented on #7491
We use the following controller API

https://github.com/apache/pinot/blob/bb34406aaa205f5c85b88c928d477fd267eda1b4/pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableInstances.java#L57

to get the brokers instance of a table. This API gets the brokers based on the instance tag. It does not consider if the external view of the table is updated with the brokers. Inste

[2021-10-05 21:52] dongxiaoman opened #7524 "java.lang.UnsupportedOperationException when filter and group by multi value columns"
Got an `java.lang.UnsupportedOperationException` error on `ForwardIndexReader::readDictIds`, when I query distinct multi-value column based on a filter of another distinct volume.
The query is something like below:
[code]
where both `account_key` and `external_id` are a multi-value column. I have inverted index on both of the columns, maybe that is the reason?

The exception call stack is like bel

[2021-10-05 22:15] #7524 closed, assigned to nobody

[2021-10-05 23:26] #7212 closed

[2021-10-05 23:32] mqliang opened #7526 "multi tenant issue: resource quota and admission control"
Follow up the comments from https://github.com/apache/pinot/pull/7492

In multi tenant environment, all resources are public goods, which means, without constrains
* a greedy user may over use resources, which will make negative impact on other users
* a malicious user can overwhelm broker/server by sending lots of expensive queries in a short time

Ideally, pinot should support resource quota and

[2021-10-06 00:22] mqliang commented on #7526
I see we already have a query quota at broker: https://github.com/apache/pinot/tree/9275a430049ff0d2888cb353fc7ef369d53a171c/pinot-broker/src/main/java/org/apache/pinot/broker/queryquota

close this

[2021-10-06 00:22] #7526 closed

[2021-10-06 09:49] shahsank3t opened #7528 "Show error message on hover of Error Status of a segment"
If a segment is in an error state, it would be good if the user can hover on the error state and it shows the error message.

[2021-10-06 18:50] mayankshriv commented on #6921
Have seen JSON response causing ser/de related latencies when handling large responses. Within Pinot, we already have a compact binary formats for data translation between Pinot broker and servers. We can also have Pinot provide response compact binary format (Apache Arrow as specification, or otherwise), with client-side library to deserialize the response.

@siddharthteotia were you planning to

[2021-10-07 09:15] richardstartin commented on #7476
@subintp can you share the log line which should be above this please?

[code]

[2021-10-07 11:44] richardstartin opened #7534 "`SegmentGenerationWithTimeColumnTest.testEpochDateSegmentGeneration/testSimpleDateSegmentGenerationNew` are flaky"
If I run these tests repeatedly, they occasionally fail with e.g.

[code]

Meta: is it possible for a committer to add a flaky test label so issues like this one can be categorised? @Jackie-Jiang @mayankshriv

[2021-10-07 12:19] richardstartin opened #7536 "`TableCacheTest.testTableCache` is flaky"
[code]

[2021-10-07 17:24] hristo-stripe opened #7539 "Sorting tables by number of segments is broken"
The Controller UI does not sort the list of tables properly by the column `Number of Segments`.

[2021-10-07 17:30] #7536 closed, assigned to nobody

[2021-10-07 21:55] yupeng9 opened #7543 "Add NULL support in count function"
To support queries like `count(col)` where `col` can have NULL values, or  `count(CASE WHEN condition THEN v END)`

In certain cases, there's no workaround to calculating such values.

[2021-10-07 23:11] Jackie-Jiang commented on #7539
@hristo-stripe Can you please share more context on the ask here? Are you suggesting adding a feature to sort the tables within the cluster manager UI?

[2021-10-07 23:14] Jackie-Jiang commented on #7543
Please take a look at the feature proposed by @atris #7519. We can model the query as `SELECT COUNT(*) FILTER (WHERE col IS NOT NULL), ...`

[2021-10-07 23:17] #7534 closed, assigned to nobody

[2021-10-07 23:23] yupeng9 commented on #7543
Yes, I left some comments in the doc. At the syntax level, can we make the feature SQL standard compatible?

[2021-10-07 23:43] Jackie-Jiang commented on #7519
Reference to the query syntax: https://modern-sql.com/feature/filter
Postgres supports it: https://medium.com/little-programming-joys/the-filter-clause-in-postgres-9-4-3dd327d3c852

[2021-10-08 11:27] kriti-sc commented on #6988
No, still working on this. @Eywek @deepakcse2k5

[2021-10-08 16:47] elonazoulay opened #7545 "Column alias with same name as column causes pinot to hang"
If you have a function on a column and then alias that to the same column name pinot hangs.
To reproduce start the quick start batch and run the following query:
[code]

This query works:
[code]

[2021-10-08 16:50] elonazoulay opened #7546 "Query with grouping columns but no aggregate ignores column aliases"
If a query has grouping columns but no aggregates the aliases are ignored.
To reproduce start the quick start batch and run the following query:
[code]
Result uses `AtBatting` and `baseOnBalls` instead of `foo`, `bar`

If an aggregate is added then the aliases are correct:
[code]

[2021-10-08 23:27] deemoliu opened #7549 "Make dim tables creation(for Pinot lookup join) bypass the offline tenant table validation"
Per #6286, pinot lookup join feature require offline dim table to be created in the same tenant with fact table.

However if the fact table is in realtime tenant, all the hosts in the tenant configs are shown as below.
[code]

In this realtime tenant, Dim tables are offline tables, Pinot disallow the offline dim table to be deployed, due to the below
[validation](https://github.com/apache/pinot/bl

[2021-10-09 15:10] fritzb commented on #7489
@jadireddi thank you for offering to help. I had some free time to look at this issue yesterday, and apparently it was a trivial fix (close to one liner). Due to the urgency of this issue, I went ahead and submit a fix yesterday.

[2021-10-11 07:18] jadireddi commented on #7489
Thank you @fritzb for making the change. I had the code change and test case in my local. As I started working on this project last Monday, going through the code to make  the integration test case that would work for the below  statement
[code]

[2021-10-11 13:02] pjpringle commented on #7315
any updates on this one,  I can give it a go.

[2021-10-11 17:55] SandishKumarHN commented on #7545
working on it

[2021-10-11 18:13] jackjlli opened #7554 "Clean up metrics if the current controller isn't the leader for a table in ControllerPeriodicTask"
Currently multiple Pinot controllers can be the leader for some certain Pinot tables. If leadership has changed (e.g. due to controller host swap), the metrics for a table will still be kept in the old controller, even though the old controller lost its leadership for the table. These stale metrics could lead to false alert because the values still show up in the metric system.

These controller-t

[2021-10-11 18:24] npawar opened #7555 "Kinesis consumer behavior incorrect for LATEST shardIteratorType"
If  the realtime servers are restarted, the KinesisConsumer should pick up reading from the start offset in the realtime segment metadata. But the shardIterator ignores the "startingSequenceNumber" if the iterator type is LATEST.
[code]

This is incorrect and will cause missed events.

In general as well, the LATEST mode might not be behaving correctly. The Kinesis consumer should always read from

[2021-10-11 23:46] amrishlal opened #7560 "COUNT DISTINCT on multiple columns produces wrong result."
The query `SELECT count(DISTINCT name, score) FROM scores` produces wrong results. This happens because all arguments except the first one are ignored while constructing DISTINCTCOUNT Function in `AggregationFunctionFactory.java`.

One way to fix this is to using CONCAT function to concat all arguments into a single argument before creating the DISTINCTCOUNT function. Does this sound good? If so I

[2021-10-12 03:23] KKcorps commented on #7555
Taking this up.

[2021-10-12 06:26] bossjie opened #7562 "Pinot spark ingestion glob input uri does not work as expected"
target:
use pinot repo example spark ingestion job to push data from hdfs to pinot, targeting on ingest data of  path/2014/01/02/xxx.avro

env:
pinot 0.8 build with java1.8

what I did:
In sparkIngestionJobSpec_1.yaml, I tries below input and find it doesn't work as expected.

inputDirURI: 'hdfs://namenode.com:8020/user/chxing/pinot/airlineStats/rawdata/2014/01/02'
includeFileNamePattern: 'glob:**

[2021-10-12 10:34] shahsank3t commented on #7539
@Jackie-Jiang Fixed this issue and create a PR: https://github.com/apache/pinot/pull/7564

[2021-10-12 20:59] chenboat opened #7569 "Segment reload in upsert table took too much time and caused disruption"
Reloading a segment in a Pinot upsert table needs around 10 second. In a server with hundreds of segments, the reload of all segments could take hours and causes disruption.

As a comparison, if we turn off the upsert feature for the same realtime table, a reload of segment of the same size needs just 0.2 second which is 50 times faster.

@Jackie-Jiang @yupeng9 @icefury71

[2021-10-13 06:52] bossjie commented on #7562
thanks any way.
It's been resolved by changing to customized path with json file( not avro), pinot uri has no issue.

[2021-10-13 06:52] #7562 closed

[2021-10-13 17:22] lakshmanan-v commented on #7315
@weixiangsun is working with @Jackie-Jiang on this already. PR would be out soon.

[2021-10-13 21:02] #7539 closed, assigned to nobody

[2021-10-14 00:18] yupeng9 commented on #7494
This is significant as it allows the fine-grained resource control in the multi-tenant cluster, and also protects the cluster from poison queries. Look forward to it.

[2021-10-14 17:48] xiangfu0 opened #7577 "Throw exception when queries containing non-existence column"
Pinot doesn't give error when users' queries contain non-existence column in schema, but give empty result.
It's also misleading when users aggregation query is bad but Pinot gives 0.

For certain queries, Pinot should just throw exceptions with messages like `Columns [A, B, C] don't exist in schema of table myTable`, instead of giving empty results.

[2021-10-14 17:48] xiangfu0 commented on #7577
@yupeng9 @Jackie-Jiang

[2021-10-14 18:43] icefury71 opened #7578 "Ensure broker rebuild is done during initialization"
Currently, a Broker can be marked healthy and serving queries for a table that may not be included in the ideal state. Such queries will therefore fail. This seems to happen in the case of a newly provisioned broker.

The fix should ensure all the tables in that tenant are showing up in the Broker ideal state (and hence external view as well).

CC @Jackie-Jiang @hristo-stripe

[2021-10-14 21:21] Jackie-Jiang commented on #7569
From the `validDocIds` of a segment, we know the records that are valid within the map, and only remove these primary keys instead of scanning over every entry within the map

[2021-10-14 21:48] icefury71 commented on #6276
If you run into this again, please update this ticket with your Spark job config (mem especially)

[2021-10-14 22:24] Jackie-Jiang commented on #7577
It's for historic reason, and we use DataSchemaSegmentPruner to keep the old behavior. We don't force schema for tables, and it is possible that the table consists of segments of different schema. Once we force the schema (which we should do), we can always reject the bad queries on broker side and remove the pruner.

[2021-10-15 19:37] fritzb opened #7586 "Presto connector is performing full table scan on IS NULL predicate"
presto-connector is doing full table scan on `IS NULL` predicate.

Here is the query example:
`SELECT tool_version, tool_name, feature_type, operation_type_name
FROM map_labeling_logs
WHERE tool_name is null`

Here is the output of EXPLAIN query output:

`- Output[tool_version, tool_name, feature_type, operation_type_name] => [tool_version:varchar, tool_name:integer, feature_type:integer, operatio

[2021-10-17 21:36] walterddr opened #7591 "Ability to accept config override via PinotAdministrator"
Status Quo
---
Currently there are several config override mechanisms when launching the pinot cluster
1. via [QuickStartRunner](https://github.com/apache/pinot/blob/16e4e3fdfea681be52f5953e3f0f3a343605cc5d/pinot-tools/src/main/java/org/apache/pinot/tools/admin/command/QuickstartRunner.java#L83-L85)
2. via individual Command's setConfigOverrides method such as [this one](https://github.com/apache/

[2021-10-18 23:44] yupeng9 commented on #7569
High-level question: why do we need to remove segment during reload?  I feel we can simply load segments one by one without removing any segment, which can skip this expensive step shown in the log? @Jackie-Jiang @chenboat

[2021-10-19 03:16] npawar opened #7594 "Remove dependence of strict naming convention for realtime segments"
The realtime segments are named as "tableName__partitionId__sequenceNum__timestamp".
This convention makes it harder to perform operations such as table migration, adhoc uploads, etc.
In other intiatives such as pluggable streams, we have encountered issues with the presence of timestamp in segment name.

It would be nice to get to a state where we dont depend on the segment name having a conventi

[2021-10-19 17:13] eerotony opened #7596 "Server side encryption with S3 fails"
The error is
[code]
Local experimentation shows that changing `org.apache.pinot.plugin.filesystem.S3PinotFS` line 101, which uses `ServerSideEncryption.valueOf` to instead use `ServerSideEncryption.fromValue` fixes the problem

[2021-10-19 17:25] richardstartin opened #7597 "Provide bitmap from previous stages of queries to `RangeIndexReader`"
If a bitmap of matching rows (so rows which can't match the query are absent from the bitmap) were passed in to `RangeIndexReader` it could be used by the v2 range index to skip work for rows which can't match.

[2021-10-19 21:07] walterddr commented on #7591
Looked into the current state of args4j - pinot's commandline parser. it seems like the project hasn't have any new contribution since 2019 and i dont see an easy way to support dynamic parameters.

I was hoping to get some feedback regarding whether it is ok to switch to a more modern CLI parser such as [picocli](https://github.com/remkop/picocli).

I will create a small POC to demonstrate

[2021-10-19 22:12] richardstartin opened #7600 "Apply cardinality thresholds before using indexes"
`AndDocIdSet` evaluates sorted indexes, then bitmap indexes, and then scans, on the basis that these operators have increasing cost, but after any one of these stages it may be faster to skip indexes and go straight to scanning. This can be determined by checking the cardinality of the matching documents bitmap exceeds an empirically determined threshold before using an index.

[2021-10-19 22:20] asockalingam commented on #5246
will this be supported in the future?

[2021-10-20 02:34] harold-kfuse opened #7603 "Pinot 0.8.0 LLRealtimeSegmentDataManager throws an exception causing realtime segment to stop consuming from kafka"
I'm using Pinot 0.8.0 deployed in GKE (using the official published 0.8.0 image in dockerhub: apachepinot/pinot:0.8.0). I have a realtime table that consumes from Kafka. I noticed that it stopped consuming from Kafka. While looking at the logs, I saw the following exception:

[code]

This is my table configuration [redacted some information]:

[code]

We do have our own decoder plugin that reads b

[2021-10-20 02:35] harold-kfuse commented on #7603
@Jackie-Jiang

[2021-10-20 14:45] etadelta222 opened #7606 "'null' value support udf"
I have a date of birth (dob) column in my source postgres table. I'm creating a realtime table in Pinot and using datatype:timestamp in my schema but this ends up defaulting the 'null' dob values to '1970-01-01' which is incorrect. So instead I'm using datatype:string and using the transformConfigs in table config to convert it.

Below is what I've tried out.

Error on the 'null' values when tryin

[2021-10-20 18:20] ksnijjer opened #7607 "Allow changing existing Pinot schema for certain scenarios"
Currently it seems like Pinot is very rigid about **only** allowing schema changes where a new column has been added. If you need to make any changes to existing columns for e.g changing column from int to long or timestamp format change, which don't affect existing data you are still forced to delete and recreate the table/schema which is very limiting and depending on amount of data that will ne

[2021-10-20 21:05] #7603 closed, assigned to nobody

[2021-10-20 23:22] Jackie-Jiang commented on #7606
One workaround would be using `TIMESTAMP` and put default value as `1900-01-01 00:00:00`

[2021-10-20 23:51] xiangfu0 opened #7609 "Separate errors for function call error message"
When users have a typo in function name or have mismatched function signature, Pinot gives `Unsupported function` error.

[code]

It will be helpful if the error message can specify if the function name is unknown or the function signature doesn't match(maybe better to show the correct signatures).

[2021-10-21 03:06] #7528 closed

[2021-10-21 10:08] camac commented on #7499
@ddcprg Excellent! we are hoping to publish these Joda-Time to java.time migration recipes tomorrow. After they are published I can give you a demo on how to use them? I'm in Sydney, Australia so if the time zone doesn't suit I can do a blog post / video demonstrating how to use Sensei and these recipes to perform a large part of the migration.

[2021-10-21 16:37] chenboat opened #7611 "Query trace info for a large table and cluster is not readable"
Today Pinot returns trace info for query running stats. The trace info is too verbose now and is not readable by human to debug the issues (example below) for tables with hundreds of segments. We should compress the trace info by doing eliminating of redundant information and possibly show only the max processing time of segments (instead of all segments).

=====================================

[2021-10-21 18:35] klsince commented on #7607
yeah, changing `defaultNullValue` should regenerate the column while reloading the segments. But need to loosen the sanity check for updateSchema rest API, which only allows to add new columns today. Basically, I think we may skip check on `defaultNullValue` [here](https://github.com/apache/pinot/blob/master/pinot-spi/src/main/java/org/apache/pinot/spi/data/Schema.java#L689)

Currently, changes of

[2021-10-21 19:24] dongxiaoman opened #7612 "Pinot query ArrayIndexOutOfBounds for some multi-value column queries"
When we run the below query on our cluster via Pinot UI, we get `"errorCode": 200,
    "message": "QueryExecutionError:\njava.lang.ArrayIndexOutOfBoundsException"`

The query is simple as

 `select account_key from point_entry where account_key = 'xxxxx' and account_fields_values not in ('intercompany_clearing') limit 1 option(timeoutMs=10000)`

Both of the columns in the query are multi-value col

[2021-10-21 22:17] etadelta222 commented on #7606
Thanks Jackie, I'll give this a shot. I was able to use the following as a workaround:

`"ingestionConfig": {
        "transformConfigs": [
          {
            "columnName": "dob",
            "transformFunction": "Groovy({date_of_birth != 'null' ? new Date(date_of_birth).format('yyyy-MM-dd'):'1900-01-01'},date_of_birth)"
          }
        ]
      },`

I'd prefer not to create a new column j

[2021-10-22 01:37] ananthdurai opened #7613 "Support Row Level Access Control (RLAC) in Pinot"
One of the prime use cases for Apache Pinot is to support customer-facing analytics. The enterprise SaaS applications often deal with multi-tenant databases with strict pen testing requirements. It is critical to isolate row access to individual clients to enable valid multi-tenant access in the DB.
(e.g). on How SQL server supports RLAC
https://docs.microsoft.com/en-us/sql/relational-databases/se

[2021-10-22 09:45] richardstartin opened #7614 "Query console doesn't load"
On the master branch when loading the query console an error is encountered

<img width="619" alt="Screenshot 2021-10-22 at 10 42 13" src="https://user-images.githubusercontent.com/16439049/138432863-fe8dccc8-45bb-48e5-8a68-6752487fee8d.png">

Steps to reproduce:

1. run `HybridQuickStart`
2. open http://localhost:9000/#/query

[2021-10-22 18:28] richardstartin opened #7616 "Raw forward index enhancement proposal"
We would like to introduce a new format for raw forward indexes, which does not need a constant number of documents per chunk, instead partitioning columns based on uncompressed size. It is expected that this design will lead to:

* less memory consumption when there are large values in a raw column
* fewer chunks than when the number of documents is derived
* more balanced chunk sizes than when t

[2021-10-22 21:19] #7614 closed, assigned to nobody

[2021-10-23 00:38] GSharayu opened #7625 "Enhance MergeRangeFilterOptimizer to rewrite predicate A < 10 OR A = 10"
Currently, MergeRangeFilterOptimizer don't support operations to optimize query with filter patterns consisting of predicate A < 10 OR A = 10 as A<=10. this issue will track removal of that limitation and provide support for the same as part for optimizing query execution

[2021-10-25 02:48] cxing opened #7626 "Pinot need skip the failed segments to continue reload the rest of the segments"
Suggest change:
![image](https://user-images.githubusercontent.com/13634486/138627336-f81c5549-3fa6-4afa-8735-806503694b08.png)

Failed log:
[code]

[2021-10-25 03:02] cxing opened #7627 "Pinot can't skip creating derived column when configured in transform functions"
When reloading segments, pinot will skip many segments when derived column not configured in schema or segments metadata , which will cause some segments not synced latest new columns

We got the following error message when query from table:
![image](https://user-images.githubusercontent.com/13634486/138628158-fe6abe65-7572-4130-9e73-0d0ff05ba96d.png)

Code need remove:
[code]

[2021-10-26 06:14] shahsank3t opened #7637 "URLs need to be encoded in cluster manager as segment name can have % in it"
There are cases when special characters like % are present in Segment Name which breaks the current UI for Cluster Manager.
We need to encode special chars in URL.

[2021-10-26 16:37] #7637 closed, assigned to nobody

[2021-10-26 21:37] lfernandez93 opened #7642 "numEntriesScannedInFilter > numDocsScanned in certain scenarios"
When running a query like the following

`SELECT COUNT(*) FROM table WHERE id = x AND time BETWEEN a AND b`

`numEntriesScannedInFilter` is showing more records than the ones scanned `numDocsScanned` , why is this the case? shouldn't it only scan the number that we have selected already on?

[2021-10-26 23:42] #7577 closed, assigned to nobody

[2021-10-27 18:45] lakshmanan-v opened #7647 "First aggregate function support"
It would be nice to have FIRST() aggregate function that returns the first value in a bucket (similar to [LASTWITHTIME](https://github.com/apache/pinot/commit/da3bce50eb79656d967da7636a741653735abd63) function).

cc @Jackie-Jiang @weixiangsun

[2021-10-27 22:54] walterddr opened #7652 "Add system/metadata table"
Background
===
Currently Pinot doesn't have a way to store system metadata (other than looking through the logs)

This makes it super hard to debug, for example when I debug with @dongxiaoman in issue #7612 . It is super hard to figure out exactly which segment causes the AIOOB exception other than doing a log search.

Pitch
===
I was wondering if we can create some sort of system logging mechanis

[2021-10-28 13:29] #7642 closed, assigned to nobody

[2021-10-28 16:03] fritzb opened #7656 "Add Presto Connector predicate pushdown for LIKE predicate"
LIKE predicate is currently not pushed down to Pinot in Presto connector.

[2021-10-28 16:10] fritzb opened #7657 "LIKE predicate matching is non SQL compliant"
LIKE is currently implemented as wildcard match. It should be exact match unless there is '%'.
There are two wildcards often used in conjunction with the LIKE predicate:

The percent sign (%) represents zero, one, or multiple characters
The underscore sign (_) represents one, single character

For instance, I have the following rows:

name
------
test.mapmaking.length
mapmaking.length
mapmaking

L

[2021-10-28 16:14] fritzb opened #7658 "Utilizing Text index on LIKE predicate"
LIKE predicate should utilize TEXT index if TEXT index is configured on that column.
Even better if Pinot can utilize TEXT index only on wildcard search. That is if there is '%' in the search term.

[2021-10-28 23:57] #7657 closed, assigned to nobody

[2021-11-01 03:20] SandishKumarHN commented on #7546
the issues is fixed as part of this PR https://github.com/apache/pinot/pull/7576/, just verified it.

[2021-11-01 03:22] SandishKumarHN commented on #7545
this issue is fixed as part of this PR https://github.com/apache/pinot/pull/7576/, just verified it.

[2021-11-01 03:24] Jackie-Jiang commented on #7546
@xiangfu0 @elonazoulay Can you please verify the fix and close the issue if the issue is fixed?

[2021-11-01 03:25] Jackie-Jiang commented on #7545
@xiangfu0 @elonazoulay Can you please verify the fix and close the issue if the issue is fixed?

[2021-11-01 03:28] #7549 closed

[2021-11-01 03:31] #7413 closed

[2021-11-01 03:33] #43 closed

[2021-11-01 03:33] #33 closed

[2021-11-01 03:33] #35 closed

[2021-11-01 03:34] #24 closed

[2021-11-01 03:35] #39 closed

[2021-11-01 03:36] #26 closed

[2021-11-01 03:36] #29 closed

[2021-11-01 09:24] alexandervivas opened #7671 "Class TextTable from the java-client project doesn't hold column data types metadata"
I was writing a scala client taking this project as a basement but I found something strange that later Xiang Fu confirmed it as a bug.

Let's start here: https://github.com/apache/pinot/blob/5becf5b81c996a6be39a22fd99aacfa7f1b3e1ac/pinot-clients/pinot-java-client/src/main/java/org/apache/pinot/client/ResultTableResultSet.java#L113

In that method there are 2 instructions in lines 122 and 123 putt

[2021-11-01 17:38] walterddr opened #7673 "Upgrade args4j to picocli"
This issue is an extension from the previous discussion in #7591.

Proposal
---
Propose to use [picocli](https://github.com/remkop/picocli) for this mainly for several reasons:
1. picocli has been a reliable and actively develop CLI project.
    - lack of development activity of args4j could potentially causes security vulnerability since no one is patching those upstream.
2. the POC of the migrat

[2021-11-01 23:07] kbastani commented on #7546
I've just tested after compiling Pinot from master, and the issue still exists.

[code]

[code]

[2021-11-01 23:10] mcvsubbu commented on #5664
@kishoreg is anyone working on this?

[2021-11-01 23:14] kishoreg commented on #5664
We are thinking about it- we will fix the query-spi layer first so that the implementation is less invasive.

[2021-11-02 00:23] xiangfu0 commented on #7546
The issue here is that in `NonAggregationGroupByToDistinctQueryRewriter.java`, Pinot rewrite this query
[code]
to
[code]
And it loses the alias information.
@Jackie-Jiang

[2021-11-02 01:22] Jackie-Jiang commented on #7626
@andruszd When reloading fails, pinot will try to recover the segment to the previous state so that it doesn't cause data loss. When loading the segment for the first time, if it cannot be loaded, pinot will try to download a new copy from the deep store. If the segment is corrupted in the deep store (should be very rare, and easy to detect when segment is pushed), currently the user needs to manu

[2021-11-02 16:13] mcvsubbu commented on #7652
Have you considered adding an interface to publishing such metadata to a stream? You can then consume it in Pinot and get analytics on it.

[2021-11-02 17:25] walterddr commented on #7652
this sounds like a great idea. in fact I was thinking about making the `collect(metadata)` as a stream interface or something similar to real-time segment upload logic.

The main idea for this SPI is to
1. create a separate user-facing API to log "important" logs that are different from the normal info/warn/error
2. enforce some type of schema on the log itself instead of a generic JSON blob
3. se

[2021-11-02 18:29] walterddr commented on #7652
sounds good. I will create one. thanks for the pointer and the review in advance.

[2021-11-02 19:01] mcvsubbu commented on #7652
Thank you, I can review the design doc. Please be sure to include what kiind of events you want to capture, and how it is going to help in operation. We have been thinking about this problem now, and would really like to have some long-term (months/years) data and trends captured. As examples:
- controllers emit some table characteristics (number of segments, avg/min/max/median segment size, etc.)

[2021-11-03 00:23] #7626 closed

[2021-11-03 06:24] xiangfu0 commented on #7609
Current error message(`Unsupported function: distinctcountll with 1 parameters`) mentioned the error could come from two parts:
1. Function name is wrong, e.g. user may write cout instead of count
2. Function name is correct but the arguments is wrong, e.g. sum(a) is supported, but not sum(a,b)

We want this error message to be more specific on which error it is.

[2021-11-03 07:27] #7403 closed

[2021-11-03 16:58] mapshen opened #7689 "Validate format pattern in `dateTimeFieldSpecs` upon schema creation"
The following error was encountered today

[code]

The relevant config was
[code]
You can tell `yyyy-MM-ddTHH:mm:ss` should have been `yyyy-MM-dd'T'HH:mm:ss` instead. However, the error was not caught till we found the table had stopped consuming messages. Even further, and this format pattern is only validated when a segment is built, no before or during consumption.

Therefore, it would be benef

[2021-11-03 20:07] mayankshriv opened #7690 "Native NULL Support requires explicitly filtering the records"
While Pinot does support storing NULLs natively, users are still expected to filter them out in the `where clause` when querying. It would be great to have the support for following:

- Filter out nulls using `CASE WHEN`, for example `sum(case when description is null then 1 else 0 end)`

[2021-11-03 20:12] mayankshriv opened #7691 "Use available indexes when in `CaseTransformFunction`"
We are seeing various cases where auto generated SQL from visualization tools perform a lot of transforms/filtering using `CASE WHEN` from within aggregation functions. However, if the original predicate in the `where clause` had low selectivity, we end up scanning a lot of data to perform the `CaseTransform` evaluation. It would be good to see if we can utilize available indexes (when possible) f

[2021-11-03 20:14] mayankshriv commented on #7690
cc: @atris @kishoreg

[2021-11-03 20:44] atris commented on #7691
Let's just promote the use of FILTER clauses instead of Case When, since it will be able to use the relevant index

[2021-11-03 20:53] mayankshriv commented on #7691
Sure, but that would mean we re-write the query internally, as many a times users may not directly control the query generated for Pinot.

[2021-11-03 20:59] atris commented on #7691
Yes, good point. Let's rewrite all case queries to use the filter plan instead

[2021-11-03 21:28] mapshen opened #7694 "Data schema mismatch between merged block"
We run a realtime table `table1`  with fields `X` in **upsert** mode. When a new field `Y` is added to the schema, a simple `select` query in the Pinot explorer will return the following error:

[code]

The root cause seems to be that not all records are updated to have the `Y` field after the schema change. In the worst case, some record will never receive an update to contain that `Y` field.

[2021-11-03 22:06] #7504 closed

[2021-11-03 22:14] Jackie-Jiang commented on #7388
#7422 for the design for some time-series aggregation

[2021-11-03 22:16] Jackie-Jiang commented on #7315
Added the support in #7584

[2021-11-03 22:16] #7315 closed

[2021-11-03 22:20] #6575 closed

[2021-11-03 22:22] #4719 closed

[2021-11-03 22:23] #4731 closed

[2021-11-04 00:04] mayankshriv opened #7700 "Redundant filter predicates not fully optimized"
If we have a filter predicate repeated multiple times, Pinot may evaluate the predicate multiple times in certain cases. And if scanning is required for evaluating the predicate, it can have performance impact. For example:

```where ((a=1 and b=2) or (a=1 and c=2) or (a=1 and d=2))```

This could be re-written as:
```where ((a=1) and (b=2 or c = 2 or d = 2))```

The latter would evaluate the pred