[2022-02-14 23:35] Jackie-Jiang commented on #6970
We don't have this optimization planned for this quarter. Added it to the backlog so we don't lose track of it. Contributions are also very welcome

[2022-02-15 01:34] mapshen commented on #7977
I see, thanks so much for the explanation...my thought was to make `lastwithtime()` return multiple columns, the type of each is defined in the table schema so that specifying the type is unnecessary.

[2022-02-15 03:36] kkrugler commented on #8141
Closed via https://github.com/apache/pinot/commit/f12e62522b8d09c8525a7482c92141042e3155c2

[2022-02-15 03:36] #8141 closed

[2022-02-15 20:02] Jackie-Jiang commented on #6970
Discussed with @jt-kloudfuse offline. In order to optimize the DESC order query on sorted column, we need to support scanning the records in reverse order. That can be done by adding a `reverseIterator()` API into the `BlockDocIdSet` and implements it for all the `FilterBlockDocIdSet`. Then we can optimize the `SelectionOrderByOperator` (or add a new operator for sorted column) to early terminate

[2022-02-16 23:03] richardstartin commented on #7923
I haven't reproduced this stack trace but I think this may be fixed by #8211

[2022-02-16 23:14] richardstartin opened #8212 "UpsertTableSegmentUploadIntegrationTest.testSegmentAssignment is flaky"
https://github.com/apache/pinot/runs/5224027659?check_suite_focus=true

[2022-02-16 23:22] Jackie-Jiang commented on #7923
@richardstartin This is related to my comment about `RealtimeInvertedIndexReader` under your PR

[2022-02-17 11:17] kmozaid opened #8215 "HashCode Partitioning is broken."
HashCodePartitionFunction is producing different partitionId for same value of different type.
HashCode generated [here](https://github.com/apache/pinot/blob/master/pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/creator/impl/stats/AbstractColumnStatisticsCollector.java#L157) is different than hashcode generated [here](https://github.com/apache/pinot/blob/master/pinot-brok

[2022-02-17 11:23] kmozaid commented on #8215
The fix for the issue - https://github.com/apache/pinot/issues/8192

[2022-02-17 12:07] snleee commented on #7966
Adding table config overrides for disabling groovy #8196

[2022-02-17 12:35] snleee opened #8217 "Add a query option to use more replica groups"
Replica Group Segment Assignment & Routing is added to have control on the query fanout. As a result, we now can scale the cluster horizontally.

One side effect is that we can never use the full resource available in the cluster for a single query. We will use 1/n servers to compute a query where n = number of replica groups.

There's a use case where a user wants to run the expensive query (low

[2022-02-17 17:39] richardstartin opened #8218 "MergeRollupMinionClusterIntegrationTest is flaky"
https://github.com/apache/pinot/runs/5234008775?check_suite_focus=true

[2022-02-17 18:18] Jackie-Jiang commented on #8218
I have seen multiple integration test failures caused by `uploadSegment()`, so we might want to check that. That is common for all integration tests

[2022-02-17 19:30] lfernandez93 opened #8219 "consumption halted on realtime table when accessing an offset that has been already deleted from Kafka"
the realtime consumption of records on realtime tables stops when given realtime table need to access an offset that has been already wiped by kafka, this can happen because the retention policy in the kafka side is lesser than how often we commit segments in pinot, however when this happens, there's no easy way for us to recover and start consumption again on the realtime table, the log message i

[2022-02-17 19:36] richardstartin commented on #8219
@lfernandez93 which version of Pinot does this affect? It’s possible that it was fixed by #7927.

[2022-02-17 19:37] mcvsubbu commented on #8219
Pinot recovers automatically from this scenario. You can run the RealitmeSegmentValidationManager manually if urgent fix is needed. Alternatively, you can configure to run this periodically (say, every 30m) to fix tables that have gone beyond retention period of the stream.

[2022-02-17 19:58] npawar commented on #8219
@mcvsubbu validation manager doesn't fix this. I see validation manager checking for this only in the scenario of ` if (isAllInstancesInState(instanceStateMap, SegmentStateModel.OFFLINE)) {`
@richardstartin I think this is a separate issue. There's no filtering happening, but Pinot is just seeing it as no data coming in, because the consumer is actually unable to get any data. But might be worth t

[2022-02-17 20:09] lfernandez93 commented on #8219
@richardstartin we have been running latest in our dev environment

[2022-02-17 20:13] mcvsubbu commented on #8219
@npawar the consumer on the server side should experience a (permanent) exception, which will cause the segment to go OFFLINE, and then the validator will fix it automatically.

At least, this is what it is supposed to do. If not, we have a bug, yes. I am eager to know what the fix is

[2022-02-17 20:19] lfernandez93 commented on #8219
more. complete logs:

[code]

and this just keeps on happening on loop

[2022-02-17 20:23] npawar commented on #8219
Thanks @lfernandez93 for the additional logs.
As discussed, this looks like Kafka side is claiming to reset offset to what's available, but after that either the message batch doesn't contain any new records, or Pinot side doesn't accept the new records. Former seems more likely. Will investigate.
@mcvsubbu there's no exceptions coming in from the kafka consumer side for this, so what you're theor

[2022-02-17 20:45] fritzb opened #8220 "Unable to ingest long JSON string with JSON indexing enabled"
I have a long JSON string, and it is rejected during ingestion. Can the JSON string limit be lifted higher ?

"jsonData": "{\"BOUNDARY_LINE_LANE\":\"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaabbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbasdljfhlasjdhfklasjdhflkashdfklajshdflkjhasdfkjhasd

[2022-02-17 20:49] richardstartin commented on #8220
Have you set your column data type to JSON? For string columns you can configure the maxLength - please see here: https://docs.pinot.apache.org/configuration-reference/schema#advanced-fields

[2022-02-17 22:02] fritzb commented on #8220
I have the dataType set to STRING. This is the first time I've heard about data type Json.

[code]

Let me change it to the following and see if this is still an issue.
[code]

[2022-02-17 23:51] Jackie-Jiang commented on #8220
For `STRING` data type, by default we limit the length to 512 (configurable in schema with key `maxLength`). There is no such limit for `JSON` data type.

[2022-02-18 00:14] richardstartin opened #8222 "OfflineClusterIntegrationTest.testInvertedIndexTriggering is flaky"
https://github.com/apache/pinot/runs/5240101919?check_suite_focus=true

[2022-02-18 10:23] richardstartin commented on #8220
The general solution to this problem is to use the JSON data type for JSON columns. Please reopen if there are still issues.

[2022-02-18 10:23] #8220 closed

[2022-02-18 11:07] geeknarrator opened #8225 "Multiple argument support for DISTINCTCOUNTHLL/DISTINCTCOUNTTHETASKETCH"
Currently pinot only supports a single argument for distinct count hll and thetasketch functions. For some use cases like ours where we needed distinct count by two columns and `id` and a `date` it is very useful.

https://docs.pinot.apache.org/users/user-guide-query/how-to-handle-unique-counting

[2022-02-18 11:12] geeknarrator opened #8226 "UI Validation for upsert config errors"
While playing around with the upsertConfig, I found that queries were failing. On digging further into the logs I found the following issue:

[code]

`Metrics aggregation and upsert cannot be enabled together`

By mistake I did not switch off metrics aggregation and added an upsertConfig.
This is a validation error and would be nice to throw an error in the UI itself.

[2022-02-18 18:22] sajjad-moradi commented on #8219
@npawar you're saying kafka consumer tries to fetch messages and it's unsuccessful, but the consumer doesn't throw exception?

[2022-02-18 19:56] Jackie-Jiang commented on #8225
One work-around is to concat the two columns into a single string, e.g. `select distinctcounthll(concat(id, date, ',')) from myTable`. The performance could be sub-optimal because the dictionary/type-based optimization cannot be applied.

To optimize the performance, one solution is to combine multiple values from different columns into a `byte[]` then feed into the hll/thetasketch. This should gi

[2022-02-18 21:07] ImAbhishekTomar commented on #8041
i have tried but its not working.

[2022-02-18 21:16] npawar commented on #8219
Yes, after resetting offset to latest, the Kafka consumer should be returning the messages from new offset. So either it's not, or Pinot consumer is rejecting those messages. Hence responded on the slack thread that I'll investigate.
This should be easy to reproduce. Start a consumer and manually change the start offset to something in the past.

[2022-02-19 05:43] Jackie-Jiang commented on #8226
This is too late. This invalid combination should be caught during table config validation (in `TableConfigUtils.validateUpsertConfig()`. Do you want to help contribute a fix?

[2022-02-19 09:17] mamtasharma311 commented on #3
Similarities between Apache Druid & Apache Pinot
[https://www.decipherzone.com/blog-detail/druid-vs-pinot](https://www.decipherzone.com/blog-detail/druid-vs-pinot)
Apache Druid and Apache Pinot are both fundamentally similar because they store data and process queries on the same nodes, deviating from the decoupled architecture of BigQuery. Druid and Pinot both have their data storing format with

[2022-02-19 11:01] richardstartin opened #8232 "Tune prometheus config"
* ~separate rule sets for controller/broker/server/minion~
* determine which rule sets can be cached safely and cache the regular expression evaluations

[2022-02-20 19:56] KKcorps opened #8234 "Dependency isolation in Integration Tests"
Currently, all of the Pinot integration tests are present in a single module `pinot-integration-tests`. This works fine for most of our modules. But as we are starting to add more and more integrations such as Pulsar, Kinesis, Pub-Sub etc. the current approach leads to a lot of dependency version conflicts. Most of these conflicts occur in libraries such as netty, servlet-api, guava, jackson etc.

[2022-02-20 21:49] xiangfu0 commented on #8234
Thanks @KKcorps for bringing this up.

I also have the same feeling that the integration test module has too many dependency conflicts.

I'm +1 on having each plugin module import `pinot-integration-test-base` as test dependency and have the integration test within its own module.

[2022-02-21 08:18] KKcorps opened #8236 "Scalar Functions should be able to support multiple names"
Currently, functions annotated with `@ScalarFunction` annotation take the name of the java method as the Query function name OR you can provide an alternative name.
But there are scenarios, where we may need multiple names for the same function to support third-party tools such as Tableau, Looker etc. . e.g. (CEIL, CEILING), (LOGN, LN) etc.

Currently we can do this by copying the method and just

[2022-02-21 10:49] #7701 closed

[2022-02-21 16:24] ddcprg commented on #7004
+1 I also have a use case where I need to run incremental queries, basically using partition + offset as some sort of rowid would make it simpler for services to compute the deltas. If the record metadata could be exposed via UDFs that would probably be more flexible IMHO, I also need extract headers into columns

[2022-02-22 18:14] lfernandez93 commented on #8219
noting per @mcvsubbu we are currently using `org.apache.pinot.plugin.stream.kafka20.KafkaConsumerFactory`

@npawar you would do that by zk yes?

[2022-02-22 18:36] mcvsubbu commented on #7004
@ddcprg can the time column be used to run incremental queries?

[2022-02-23 00:09] xiangfu0 commented on #8236
+1

[2022-02-24 09:29] richardstartin commented on #8232
done in #8227 #8239 #8241

[2022-02-24 09:31] #8232 closed

[2022-02-24 18:16] fritzb opened #8245 "Transform function with Groovy return wrong value in REALTIME table"
I have a transformFunction which rename a column from `name` to `name_match`. Apparently, the Groovy transform function generates wrong value from other rows, occasionally ( 6000 out of 52000 have wrong value ).
This happened on REALTIME table and not OFFLINE.

`  "fieldConfigList": [
    {
      "name": "name_match",
      "encodingType": "RAW",
      "indexType": "TEXT"
    }
  ],
  "ingestionCo

[2022-02-24 22:23] yupeng9 opened #8246 "Java client for Controller/Broker/Server REST APIs"
It will be very helpful to have a library for the common REST APIs for Controller/Broker/Server. There are a number of existing methods/helpers in the code repo, such as in the test utils or [connector](https://github.com/apache/pinot/pull/8233#discussion_r814287411) for this purpose. But those are adhoc and not comprehensive.

[2022-02-24 22:31] hristo-stripe opened #8247 "Big increase in latency around the time the new server joins the cluster and starts serving queries"
The following image is from a server getting killed, then restarting and rejoining the cluster a minute later.

The graph shows QPS

![image](https://user-images.githubusercontent.com/89811563/155618197-2bb077cb-a00e-4ba4-b434-ce56d7cb2612.png)

and here's latency:
![image](https://user-images.githubusercontent.com/89811563/155618347-829166b3-13a1-48af-8e3a-cb99e3fbc10c.png)

Latency spikes to tim

[2022-02-25 01:17] Jackie-Jiang commented on #8245
Can you give some example of the wrong values generated (both the input and output)?

FYI, this renaming does not need groovy, `"transformConfigs": [{ "columnName": "name_match", "transformFunction":  "name" }]` should work

[2022-02-25 01:20] Jackie-Jiang commented on #8246
+1

`ControllerRequestURLBuilder` contains most of the APIs. We can probably wrap it into a library

[2022-02-25 08:29] 0902horn opened #8250 "Add Apache RocketMQ integration"
Add connector for ingesting from Apache RocketMQ.

[2022-02-25 08:31] 0902horn commented on #8250
I would like to take this issue. In fact, I've been working on this already.

[2022-02-25 17:47] lakshmanan-v opened #8251 "Add COALESCE or NULL value functions"
This is done in a  bunch of ways by different databases: https://www.w3schools.com/sql/sql_isnull.asp

It would be nice if pinot can support this capability. Right now this can only be done using CASE statement.

`CASE when expr([cols]) is 'null' THEN fallback_value ELSE expr([cols]) END`

[2022-02-25 18:02] mcvsubbu commented on #8246
Agreed that this will be a useful thing.

We will just have to pay more attention to a few things then:
- Keeping the existing ReST APIs compatible
- Keeping in mind that the APIs cold be issued programmatically, so make sure they work in corner cases (like during upgrades, etc.) correctly.
- Keeping the client and controller in sync.

As long as we are wiling to bear the cost, I am all for this

[2022-02-25 23:03] Jackie-Jiang commented on #8251
This can be modeled as a scalar function (or transform function for better performance)

[2022-02-26 11:01] #8236 closed

[2022-02-26 15:21] #8245 closed

[2022-02-27 17:41] KKcorps commented on #8251
@Jackie-Jiang This is also a requirement to support Tableau completely from our end. Is there a way we can implement this?
Currentl, `WHERE column IS NULL` is supported when we set `nullHandlingEnabled` to `true`. But `CASE WHEN col IS NULL THEN a ELSE b` throws parsing exception.

[2022-02-27 22:13] KKcorps opened #8254 "Improvement in NULL Handling for Datetime columns"
if `allowNullTimeValue` is set to `true`, pinot fills in the `System.currentMillis` timestamp in place of nulls. This happens in the following piece of code in `NullValueTransformer` class

[code]

This default value however creates an unpredictable behaviour from querying perspective. e.g. I inserted data for duration from year 2016 to 2018 but suddenly I find there is a timestamp for year 2022 i

[2022-02-27 22:28] kishoreg commented on #8254
How about supporting NULL by default for time column?

[2022-02-27 23:19] xiangfu0 commented on #8254
@Jackie-Jiang
Maybe we can make new data types supporting null value by default?

Also for TIMESTAMP, I feel both deterministic value or current timestamp can be default null value.

[2022-02-28 06:01] KKcorps commented on #8254
@kishoreg one of the drawback of Pinot's current NULL support is that it operates via BitMap index and is not reflected anywhere in the data. This will again affect when the data is finally viewed by the user.

[2022-02-28 07:24] shahsank3t opened #8256 "-- is showing in query console instead of value 0"
<img width="1105" alt="image" src="https://user-images.githubusercontent.com/6761317/155941157-679d1e68-1908-481c-9c58-121960cc0907.png">
As visible in above image, instead of "--", UI was supposed to show 0 value.

[2022-02-28 07:29] shahsank3t commented on #7189
@Jackie-Jiang do we have the API to fetch minion? If so, can you help me with it. I'll add the top grid and page both.

[2022-02-28 07:32] GXM2333 opened #8258 "MergeRollupTask and RealtimeToOfflineSegmentsTask don't clean up old segments"
In terms of  MergeRollupTask task, from the [design docs](https://docs.google.com/document/d/1gcRBibLvyu4jPQLthVeyhrK68PqqHnC6gpiaSEkYlx0/edit#),

I see old segments should be deleted by configuring ` “oldSegmentCleanup”:"true"` in offline table config, and this config is default to be `true`. But I couldn't find this config from source codes and my offline table didn't delete old segments, either

[2022-02-28 08:25] GXM2333 opened #8259 "How could I parse different Index file formats?"
Hello,I'm a beginner of pinot.I found segment is the smallest unit when data and index files flushing to disk. I use `SegmentDumpTool` class to parse one segment's `v3` directory.

![](https://user-images.githubusercontent.com/24871202/155944810-f8919034-c9d0-446b-9b21-49f1303e3b31.png)

And I found `metadata.properties` file contains basic metrics about table fields. `index_map` file contains off

[2022-02-28 08:45] #8256 closed

[2022-02-28 17:24] mcvsubbu commented on #8259
The file structures are internal to pinot. If you can let us know what the issue is that leads you to need to "parse" these files, it will help a lot.

Thanks

[2022-02-28 18:01] klsince commented on #8258
I think those two minion tasks don't remove the segments directly. For segments in RT table, they should be removed based on table retention. For segments in OFFLINE table, in addition to table retention, they also should be removed based on segment lineage. As you may have noticed in the design doc, segment lineage is used by MergeRollup task for atomic segment swap.

So, did you see any logs fro

[2022-02-28 18:30] walterddr opened #8260 "Add support for JOIN - Multi-stage execution query engine"
We have come up with a design doc to support complex multi-stage query execution.

Motivation
===
Today's Pinot query engine only supports a single scatter-gather model. This design runs very well if most of the heavy-lifting computation can be push down to segment servers, however it also have some limitations we would like to address. Namely,
* Remove bottleneck in Pinot Broker when heavy reduce

[2022-02-28 18:38] geeknarrator commented on #8226
Sure - I will take a look this week.

[2022-02-28 19:36] #7578 closed

[2022-02-28 21:37] Jackie-Jiang commented on #8254
How about allowing users to customize the default time value, and fill the current time when no customized default time value is provided?

[2022-02-28 21:41] Jackie-Jiang opened #8265 "[Flaky test] Failed to upload segments in integration tests"
Example failure run: https://github.com/apache/pinot/runs/5365010836?check_suite_focus=true

Exception stack trace:
[code]

[2022-02-28 21:45] Jackie-Jiang commented on #7189
@shahsank3t It should be the same as controller/broker/server. We already have all minions instances listed in this page, and we should be able to use the same way to create the minion page

[2022-02-28 22:46] Jackie-Jiang commented on #8259
By default, inverted index and bloom filter are generated on the server side when loading the segment, and that's why you won't find them if the segment is newly generated.
Sorted index will be automatically generated if all the values for a column are pre-sorted. Segment generation won't automatically re-order the records, so if the column values are not pre-sorted, sorted index won't be generate

[2022-03-01 02:33] GXM2333 commented on #8259
We want to use pinot in our program, so it's better if we know better about the pinot internal things.

[2022-03-01 02:44] mikecdavis-dd opened #8267 "Failures during service startup leave process running in an inconsistent state"
The `StartServiceManagerCommand` that handles asynchronous startup of services can leave the main process running even when part of the startup sequence has failed. In many scenarios `StartServiceManagerCommand#execute` catches general exceptions and will return `false`, but that return value is ignored by the respective callers:

* [StartServerCommand](https://github.com/apache/pinot/blob/c77c2c3

[2022-03-01 03:01] mcvsubbu commented on #8259
Use all you want, but pinot-spi is the only API that will evolve in a compatible manner. These file formats can change without notice, and will not be documented.

[2022-03-01 03:14] GXM2333 commented on #8259
Thanks a lot.

[2022-03-01 03:15] GXM2333 commented on #8259
Thanks for your reply, it helps me a lot.

[2022-03-01 03:16] #8259 closed

[2022-03-01 03:23] GXM2333 commented on #8258
Thanks a lot. I see my logs, it was because my MergeRollupTask's mergeType for offline table is `rollup`. So table retention and segment lineage are not worked. Is there any way to delete old segments for rollup offline tables?

[2022-03-01 05:52] klsince commented on #8258
hmm.. interesting. do you have logs to help me locate the code where the deletion logic skips rollup segments?

[2022-03-01 09:26] KKcorps commented on #8254
That also works. But our main objective for long term should be to enable native NULL handling in pinot so that we should not need to fill it with default values in such cases. I think the blocker to do that currently would be indexing when there are nulls.

[2022-03-01 16:59] Jackie-Jiang commented on #8254
That are 2 orthogonal problems to solve. We need to decide a default value for the time column, but can also enable the null value support (which is segment level) by default. When null value support is enabled (currently we need to explicitly enable it by setting `nullHandlingEnabled` to `true` in `tableIndexConfig`), we can skip the null time columns by using `timeCol IS NOT NULL`. In the future

[2022-03-01 19:41] Jackie-Jiang commented on #7936
#7701 adds the `NOT` support

[2022-03-01 19:41] #7936 closed

[2022-03-01 20:22] suddendust commented on #8182
@walterddr Haven't had a chance to dive-deep into this, but one thing is confirmed that it's not just the metadata hanging around, it's complete segments. For example, the following view in this dashboard is backed by a Pinot table with retention of 1 day. I loaded this on 1st March 20:19 UTC. So this means I should see no data before 28th Feb 20:19 UTC. However, I see data for much before:

<img

[2022-03-01 20:35] xiangfu0 commented on #8182
Can you check the earlist segment start/end time and when the latest controller retention job ran?
Retention job delete segments when the end time passed the retention window, so you may see old events.

[2022-03-01 21:22] Jackie-Jiang commented on #8267
Add @xiangfu0 to take a look

[2022-03-01 21:28] xiangfu0 commented on #8267
I think we can fail the process if any  bootstrap service got failed

[2022-03-02 08:31] GXM2333 opened #8275 "'EXPLAIN PLAN FOR' not worked for apache-pinot-0.9.3-bin.tar.gz"
I download `apache-pinot-0.9.3-bin.tar.gz` from [pinot official website](https://pinot.apache.org/download/) and set up a cluster using this [guide,](https://docs.pinot.apache.org/developers/advanced/advanced-pinot-setup) . My machine OS is `CentOS Linux release 7.4.1708 (Core)`. I want to check whether sqls use indexes, etc. But I got an error like this:

![](https://user-images.githubusercontent

[2022-03-02 08:57] richardstartin commented on #8275
@amrishlal this has come up a few times, is it fixed on master?

[2022-03-02 09:06] KKcorps opened #8276 "Filter out NULLS in aggregation function"
The queries like `COUNT(columnA)` should only count rows which have non-null values.
e.g.
A column `int0` has 17 rows out of which 6 have nulls
in pinot COUNT(column) will return 17
but it should ideally return 11.

[2022-03-02 09:11] richardstartin commented on #8276
This is supported by filter clauses which will be released in 0.10.0. Making it the default behaviour is another question.

[2022-03-02 11:06] KKcorps commented on #8276
Just saw it. https://github.com/apache/pinot/pull/7916 has these changes. I think that should suffice for now.

[2022-03-02 11:06] #8276 closed

[2022-03-02 17:41] klsince commented on #8258
from your logs, I spotted a few lines like ([thrown from code](https://github.com/apache/pinot/blob/master/pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/retention/RetentionManager.java#L118))
[code]

[2022-03-02 19:10] yupeng9 commented on #8260
This is so exciting!

Strong +1 to this proposal. It'll shape Pinot into the next-generation architecture and unlock many additional capabilities. For example, from the Uber side, this could help us extend the current lookup join and explore other join strategies such as broadcast join and colocated join.

It'll be great if you can push your prototype to a feature branch, so we can review and cont

[2022-03-02 19:43] ddcprg opened #8281 "Long running rebalancing task reverts ideal states in offline table"
We found a situation where ideal states would be reverted after rebalancing a table after calling rebalance with the downtime option set to true. The issue stoped happening after restarting the controllers - there was a long-running rebalancing tasks executing in the background that was causing the issue, likely to be a previous call the rebalance endpoint with the downtime option set to false.

T

[2022-03-02 20:16] Jackie-Jiang opened #8283 "Support segment upload to real-time table"
Currently we allow uploading segments to upsert-enabled table (#6567)

We should extend it to allow uploading segment to any real-time table so that the following features are possible:
- Bootstrap a real-time table
- Back-fill
- Segment merge/rollup
- Segment purge/conversion

With segment upload support, we can remove most of the restrictions to real-time table, and make long retention real-time

[2022-03-02 20:16] Jackie-Jiang commented on #8283
This covers #6362

[2022-03-02 21:02] mcvsubbu commented on #8283
One of the things that we need to be careful about is to be able to identify that the segments pushed is in fact from consumed from the same stream (or, are we leaving it to the operator)?

[2022-03-02 22:41] richardstartin commented on #8153
Still flaky https://github.com/apache/pinot/runs/5399161242?check_suite_focus=true

[2022-03-02 23:40] npawar commented on #8250
this is great! thanks for your contribution. will check it out shortly

[2022-03-03 00:36] Jackie-Jiang commented on #8182
@suddendust So essentially the one year old segment contains a record that has timestamp one year later?
Shall we close this issue since this is expected behavior?

[2022-03-03 03:43] GXM2333 commented on #8258
Yes. For `transcriptss_OFFLINE` table ,I didn't configure a retention strategy.I guess the old segments of this table were deleted based on segment lineage, cause there are indeed a few old segments that have been deleted based on segments' screenshots above.

 I guess the reason that I didn't see these old segments name from [this log](https://github.com/apache/pinot/blob/b8fecb9d5a8fe524c42e29ce

[2022-03-03 12:58] #8258 closed

[2022-03-03 16:28] aashitk opened #8288 "Routes with access_token redirect to home page"
After consuming `access_token`, it should redirect to the desired route

For instance, `<pinotUrl>/#/access_token=<some_token>&query` should redirect to `<pinotUrl>/#/query` instead of `<pinotUrl>/#/`

[2022-03-03 18:35] siddharthteotia commented on #8164
@jasperjiaguo and I reviewed the proposal with @Jackie-Jiang

Overall we are aligned with the proposed algorithm and there were some questions on implementation details. Next step is to start implementation. We will start with replica group based first. Will work closely during implementation for code review / discussion etc

[2022-03-03 19:20] #8267 closed

[2022-03-03 20:11] ksnijjer opened #8289 "Improve error message in Query console on query timeout"
Currently if any query fired from the Query console times out then below message is shown in the UI:

<img width="881" alt="Screen Shot 2022-03-03 at 12 06 57 PM" src="https://user-images.githubusercontent.com/85707391/156644706-8d3d16cc-fbd4-453f-b866-2fd1f8a07c56.png">

We need to change this to more user friendly message as well as suggest corrective action for e.g, "Query exceeded the default

[2022-03-03 20:18] ksnijjer opened #8290 "Improve error message when aggregate function is applied to a nun-numeric column"
Pinot currently supports aggregation functions for e.g max() on numeric values only, however if you run a query where a non-numeric column is passed as a value then error message generated is really vague and totally misleading:

<img width="1472" alt="Screen Shot 2022-03-03 at 12 17 15 PM" src="https://user-images.githubusercontent.com/85707391/156645841-d00ee3b8-166f-4794-aaa9-f2ca9b4c7446.png">

[2022-03-04 04:50] #4589 closed

[2022-03-04 04:56] #7988 closed

[2022-03-04 08:45] GXM2333 opened #8294 "Does the partition field have to be converted to String type first?"
I use kafka streaming to build my pinot realtime partition table.The partition key is `studentID`,which I defined it as `Integer` both in pinot  table schema and kafka producer.Then I use Integer's `HashCode` function to make partitions, and I custom a partitioner class for kafka producer, the partition function is like this:

[code]
 I found I can't get result if I use `where studentID = 111` as

[2022-03-04 18:47] pjfanning opened #8297 "upgrade netty(-codec) due to security vulnerabilities"
https://github.com/advisories/GHSA-9vjp-v76f-g363
https://github.com/advisories/GHSA-grg4-wf29-r9vv
https://github.com/advisories/GHSA-wx5j-54mm-rqqq

[2022-03-04 19:23] Jackie-Jiang commented on #8283
@mcvsubbu We don't want to put this limitation because users might want to bootstrap a real-time table with data not in the stream, or back-fill some segment to correct the wrong data in the stream. We will manage the uploaded segment separately from the regular completed segment as they don't necessarily follow the same naming convention, and the offset info might not be available in uploaded seg

[2022-03-04 19:27] lakshmanan-v opened #8299 "Support dynamic timezone values fed from a column in DATETRUNC"
In the current implementation DATETRUNC()'s optional timezone param is a hard coded string. We can pass only one value to it. In some use cases, each record in the table need to be supplied with its own timezone, coming from a different column (part of the fact table itself or coming from a dim table via lookup join).

It would be great if we can support this.

[2022-03-04 19:38] xiangfu0 commented on #8299
Yeah, we should be able to modify `DateTruncTransformFunction` to take the timezone key from the dataSourceMap

[2022-03-04 22:27] xiangfu0 opened #8301 "New data type support - GeometryType"
Considering the rising usage of geo columns and we can are modeling them as `byte[]` right now.

I feel it's time to generalize the usage of geometry data/index and promote it to our first-class citizen data type support.

cc: @yupeng9

[2022-03-04 22:56] Jackie-Jiang commented on #8294
`kafka` uses `murmur2` partition function by default, which also converts value to string first before hashing it.

It is possible to use the `hashCode` function for individual value type, but it might also cause inconsistency if value is ingested as a different type (e.g. `INT` is ingested as `DOUBLE`). To get consistent result, currently we always use string literal to calculate the partition.

[2022-03-04 23:04] kkrugler commented on #8294
Hi @GXM2333 - this is an interesting topic. I'd suggest posting this (and future questions) to Slack, e.g. the dev channel, as that's better for having discussions, and more people will see it there. If the result of the Slack discussion is that there's a bug or useful enhancement, then that would be a great time to file a GitHub issue.

[2022-03-04 23:18] mayankshriv commented on #8299
@KKcorps

[2022-03-06 03:26] kishoreg commented on #8260
The most awaited feature!

[2022-03-07 02:19] GXM2333 commented on #8294
Thanks for you

[2022-03-07 02:22] GXM2333 commented on #8294
Thanks for your reply, I've joined pinot slack, and I'll ask questions there firstly :)

[2022-03-07 02:22] #8294 closed

[2022-03-07 18:14] jackjlli opened #8306 "Upgrade Helix to 1.0+ in Pinot"
We’re planning to upgrade the Apache Helix version from 0.9.8 to 1.0+ in Pinot repo. This will not only address the issues we’ve seen in the current 0.9.8 release (which have been addressed in Helix 1.0+ and the Helix project will not plan on back-porting to 0.9.x), but also provide the opportunities to build more Pinot features with the new features in Helix 1.0+. An [initial attempt](https://git

[2022-03-07 21:08] #8153 closed

[2022-03-07 21:09] richardstartin commented on #8153
🤞🏻

[2022-03-07 22:54] colemast commented on #7849
This is a very interesting thread and great analysis. I can see issue 1 is being addressed and issue 3 seems like a limitation with the trino query pattern of hitting segments. Has anybody investigated issue 2 and possible reasons?

[2022-03-08 01:04] npawar commented on #8219
@lfernandez93 yes, i was able to reproduce. I've submitted a fix

[2022-03-08 01:16] Jackie-Jiang commented on #8254
#8310

[2022-03-08 02:29] tuor713 commented on #7849
The issue of rows missing during segment flush seem to come from the fact that there is period where there are two consuming segments (the old one being rolled into immutable and the new one). In that period queries only hit the first consuming segment, which means any records having been updated and going into the new segments are invisible.

I have seen success running with a branch that changes

[2022-03-08 12:50] syusuf-r7 opened #8315 "Add LASTWITHTIME to FunctionRegistry"
LASTWITHTIME queries from a Trino connector fail with
`Unexpected aggregate expression: 'lastwithtime(id,timestamp,'string')'`

When further inspected the logs show:
`org.apache.pinot.common.function.FunctionRegistry	Initialized FunctionRegistry with 131 functions: [fromepochminutesbucket, arrayunionint, codepoint, mod, sha256, year, yearofweek, upper, ago, arraycontainsstring, arraydistinctstring

[2022-03-08 16:16] elonazoulay commented on #8315
Hi @syusuf-r7 ! Can you provide an example query that uses this function? There is a possibility it works in a newer version of the connector (there are some open pull requests).

[2022-03-08 17:07] syusuf-r7 commented on #8315
Hi @elonazoulay 👋🏼 this is the query we're running:
`
SELECT * FROM catalog.default."SELECT LASTWITHTIME(id, timestamp, 'STRING') FROM tableName WHERE someFiled = 'someValue' LIMIT 10";
`
We forked Trino 371 and made a couple of small adjustments to the connector

[2022-03-08 19:08] Jackie-Jiang opened #8316 "PinotSinkIntegrationTest is flaky"
Failure run: https://github.com/apache/pinot/runs/5468924909?check_suite_focus=true

[2022-03-08 19:08] Jackie-Jiang commented on #8316
@yupeng9 Can you please help take a look?

[2022-03-08 21:49] npawar opened #8318 "Indicate what fields are getting ignored when adding configs"
Often users add schema or table config, and have gotten the position of a particular config wrong in the json. For example, `transformConfigs` put as top level field instead of inside `ingestionConfig`, or `enableDynamicStarTree` inside startree configs instead of top level. In such cases, Pinot simply ignores the unknown json fields that are not in their expected positions.
This creates much conf

[2022-03-09 00:08] xiangfu0 commented on #8316
https://github.com/apache/pinot/pull/8320

[2022-03-09 00:14] Jackie-Jiang commented on #7849
@tuor713 Within a single streaming partition, there will be up to one consuming segment at the same time. The small inconsistency is caused by the consuming segment replacing the doc from the completed segments, and the `validDocIds` from the segments are not read at the same time, e.g.:
1. Query engine reads `validDocIds` from the completed segment (created a copy)
2. Consuming segment invalidate

[2022-03-09 00:27] xiangfu0 commented on #8316
[code]

[2022-03-09 00:45] yupeng9 commented on #8316
interesting. I need to debug to see why it happens, but @xiangfu0 why did you close the fix PR?

[2022-03-09 01:05] xiangfu0 commented on #8316
That is not the correct fix :p

[2022-03-09 01:12] Jackie-Jiang commented on #8316
@yupeng9 It failed because the table config and schema does not match with each other (#8310 added a time column check and triggered the issue). I refactored the test in #8322

[2022-03-09 04:04] #8316 closed

[2022-03-09 04:06] Jackie-Jiang opened #8324 "MultiNodesOfflineClusterIntegrationTest.testInstanceDecommission is flaky"
Failure run: https://github.com/apache/pinot/runs/5473676361

[2022-03-09 13:12] cyrilou242 opened #8326 "DATETIMECONVERT (and udf) does not work with multiple days granularity"
## Problem observed:
Using `DATETIMECONVERT` udf with multiple days granularity (eg `5:DAYS`)
1. can break
2. returns incorrect values

## 1. Break
## How to reproduce:
dataset:
| dateCol  |
|---|
|  20210201 |
| 20210202  |
| 20210203  |

[code]

Will throw:

[code]

Happens for days smaller than the granularity rounding. Happens for `DAYS` rounding only.
Should be reproducible in code by impleme

[2022-03-09 18:49] navina commented on #8318
I will pick this one up @npawar !

[2022-03-09 21:31] #8288 closed

[2022-03-09 22:49] #8326 closed

[2022-03-10 06:18] shailee-m opened #8332 "Null Pointer exception When trying to add new schema"
1. I setup Pinot locally with Docker (https://docs.pinot.apache.org/basics/getting-started/running-pinot-in-docker)
2. The server, broker, zookeeper, and controller containers is up and running properly
3. Then for batch ingestion of my data set I run the following command
[code]

Which gives the Error `org.apache.pinot.common.exception.HttpErrorStatusException: Got error status code: 500 (Interna

[2022-03-10 19:02] siddharthteotia commented on #8260
+1 on this

[2022-03-10 19:03] xiangfu0 commented on #8260
+1000！

[2022-03-10 19:05] mayankshriv commented on #8260
Lets knock this down. +1

With all the +1's above, and no -1, I think it is safe to conclude that we can move ahead with detailed design+impl phase @walterddr.

[2022-03-10 19:27] siddharthteotia commented on #8260
Linking related old issue for reference - https://github.com/apache/pinot/issues/5664

This one should be used and the 5664 can remain open or be closed

[2022-03-10 22:19] npawar commented on #8247
Hey @hristo-stripe , could you share a few more details?

1) Does this always happen, or was this a one off?
2) Which metrics are these exactly - server side (for the exact server in question) or broker side?
3) Could you attach some other metrics such as partial responses, timeouts for all the servers?
4) Any logs you can share from around the incident? Why was the server killed? Was there some o

[2022-03-10 22:41] tuor713 commented on #7849
Hm that is not what I saw on (at least on mid-Dec snapshot of 0.10) - on the broker side during query routing there were multiple consuming segments. I presume that is because the new online segments get created in ideal state at the same time the old one gets moved to online and the change in the external view is happening in parallel.

Agreed the replacing doc causes issues too (I have tried a p

[2022-03-10 23:31] dang-stripe opened #8334 "Add support for building bloom filters in batch jobs for offline segments"
We're noticing that building bloom filters takes a considerable amount of time when loading segments on offline Pinot servers, specifically in rebalancing and replacing servers. We'd ideally like to perform this in our Spark offline pipeline instead similar to `createInvertedIndexDuringSegmentGeneration`.

[2022-03-10 23:50] richardstartin commented on #8334
Do you have any profiles you could share? We shouldn't rule out making it much faster to build bloom filters.

[2022-03-11 06:40] KKcorps commented on #8234
@mayankshriv mentioned a good point. What if an integration test wants to use dependency from other modules? e.g. KafkaIntegrationTest using AvroDecoder?

[2022-03-11 19:28] sajjad-moradi opened #8339 "Add sanity check to the output of Realtime Provisioning Tool"
Currently RTP tool generates a mutable segments based on the given schema characteristics (or a given sample segment) and then linearly extrapolates the required memory, segment size, etc for different combinations of the input parameters.
We've recently seen people have used 5GB segments because of the tool's suggestion. It's fine if the tool outputs 5GB because of the chosen input parameters, bu

[2022-03-11 19:29] sajjad-moradi commented on #8339
cc: @mcvsubbu @npawar

[2022-03-11 21:35] mcvsubbu commented on #8339
Overall +1 on improving the tool.

I am not sure that adding a warning if > 500MB is the best option. In some cases, it is better than the segment is 1GB big. All these are arbitrary numbers anyway. Maybe we can compute the total number of segments and propose based on that?

Alternatively, we output a link (within pinot docs, of course) on how to balance number of segments vs segment size vs numb

[2022-03-12 01:07] Jackie-Jiang commented on #7849
@tuor713
I see the routing issue now. On a single server, it can have up to one consuming segment per partition; but on multiple servers serving the same segment, they might not finish sealing the segment at the same time. On the broker side, it might show as multiple consuming segments.
The routing fix in your commit can solve the inconsistency, but might also cause hotspot server because all the

[2022-03-12 01:13] Jackie-Jiang commented on #8234
@KKcorps IMO we should make kafka work with avro and S3 because it is a valid setup, but not necessary make kafka, kinesis and pub-sub work with each other as they are serving the same purpose. Essentially we should pick one streaming module, one format module and one deep store module for each integration test module, and solve the dependency conflict between them

[2022-03-13 17:09] mayankshriv commented on #8339
Thanks @sajjad-moradi .

Are we aware of use cases that generate 1GB segment in RT? In my experience across various use cases in the community, any size beyond 300-500MB has high risk of running into issues which are costly to debug and trace back to large segment size (ripple effects due to OOM, consumption pause for several minutes etc).

With segment merge/rollup and RT2OFF, smaller segments ca

[2022-03-13 19:22] walterddr commented on #8246
#8329 seems to work pretty well as a POC: here is my adjusted plan based on the POC

Problem
===
Currently there are many ad-hoc usage/utils that makes http call to Pinot components, to name a few
- `ControllerTestUtils` that uses `URLConnection` to Controller
  - also uses `HTTPClient` from Apache HTTP module for 2 of the multi-part request
- FileUploadDownloadClient that uses Apache Common `HTTP

[2022-03-14 00:24] sunny-hwang opened #8347 "Improve query audit log including user"
Pinot currently supports aggregation functions for e.g max() on numeric values only, however if you run a query where a non-numeric column is passed as a value then error message generated is really vague and totally misleading:

[2022-03-14 10:37] KKcorps opened #8349 "Add pre-commit hooks to the repository"
Currently, the only way to force linting in a PR is via Github Action scripts. However, with so many PRs being raised we should be using pre-commit hooks so that these linting checks run before doing a commit.
This will help keep the git tree much cleaner by removing the need for all the commits just doing linting fixes.

[2022-03-14 11:16] richardstartin commented on #8349
PRs are squashed anyway, though it would make the commit messages cleaner.

[2022-03-14 17:05] #8297 closed

[2022-03-14 23:45] Jackie-Jiang commented on #8234
Actually in order to make a proper distribution with all these modules supported, we need to solve all the conflicts any way. @xiangfu0 How do we make the distribution currently?

[2022-03-15 18:09] jmint-stripe opened #8352 "Pinot server stops processing Helix messages when it loses connection to ZK"
We observed a situation with our Pinot cluster where a host got stuck processing Helix messages and the Helix task queue got backed up and kept increasing in size until we restarted the server and at that point it recovered. We eventually tracked down what we believe is the root cause which were some Zookeeper connection disconnects.

We would expect that once the ZK connection is re-established i

[2022-03-15 18:35] Jackie-Jiang commented on #8352
Thanks for reporting the issue. The log analysis here is very valuable!
When the server disconnects from the ZK, Helix should try to interrupt all the message execution threads. I believe the interrupt for some threads are not handled properly, which lead the server into some weird state which blocks other messages being handled after it re-connects to the ZK. Can you please check the log and see

[2022-03-15 19:11] elonazoulay opened #8353 "Provide a way to group by an entire multi value field"
Currently, Pinot explodes multi value columns included in grouping sets. This is desirable for many use cases but differs from how some other sql engines behave. Provide a way to group by an entire multi value field instead of exploding it, such as a transform function.

Here is an example to illustrate:
For a table with a multi value string array column and long column with the following values:

[2022-03-15 19:25] amrishlal commented on #8275
@GXM2333 @richardstartin From what I can see this error is being produced by an older version of Pinot that doesn't support EXPLAIN PLAN. EXPLAIN PLAN was support was added into master on 12/1/21, so a version after that should work.

[2022-03-16 15:59] noon-stripe opened #8360 "Generalized Pre-Aggregation"
Design Doc: https://docs.google.com/document/d/17nMXwmDa7-eopzSaQ4XhbfnbF7myQMzDshanSPXLK0s/edit#

The three initial phases are in the doc.

[2022-03-17 00:22] Jackie-Jiang opened #8362 "Remove the PQL only tools and tests"
Since PQL is deprecated, we want to remove the following PQL specific tools and tests:
- org.apache.pinot.tools.query.comparison.QueryComparison and all related classes
- org.apache.pinot.tools.scan.query.ScanBasedQueryProcessor and all related classes
- org.apache.pinot.integration.tests.HybridClusterIntegrationTestCommandLineRunner
- org.apache.pinot.tools.query.comparison.StatsGenerator

[2022-03-17 00:23] Jackie-Jiang commented on #8362
@siddharthteotia Can you please verify if these classes are safe to be removed? I remember LinkedIn used to have a internal test on top of `HybridClusterIntegrationTestCommandLineRunner`

[2022-03-17 12:21] mcvsubbu commented on #8260
@walterddr can you please open up access to the design doc?

[2022-03-17 15:05] KKcorps opened #8363 "Auth Token should not go into Logs"
Currently we push `SegmentGenerationJobSpec` into logs in the following place
https://github.com/apache/pinot/blob/7e9ca6a5a4afe0d4e283ac1307c45430e474cbf2/pinot-spi/src/main/java/org/apache/pinot/spi/ingestion/batch/IngestionJobLauncher.java#L100

This may be problematic from security perspective since job spec can contain `authToken`, `username`, `password` as well.

We should avoid logging thes

[2022-03-17 17:58] etadelta222 commented on #6297
Hi @xiangfu0 , I'm trying to get this open pr approved on Redash (https://github.com/getredash/redash/pull/5446). This query runner is compatible with which version of Pinot?

[2022-03-17 18:03] xiangfu0 commented on #6297
0.3.3 is good with Pinot < 0.8.

Pinot introduces new data types: TIMESTAMP/JSON after 0.8.0

The python client support is added here: [Changes](https://github.com/python-pinot-dbapi/pinot-dbapi/commit/5fe12cfd2707cb9b96d038594d226f97d47e6426)

Current highest version of pinotdb version 0.3.11: https://pypi.org/project/pinotdb/

[2022-03-18 02:43] egalpin commented on #8353
You might be able to achieve this behaviour today using Ingestion Transforms. If you had a transform which sorted (depending on whether order of values matters in your use case) the entities and join/concat them into one string, storing the result in another column, I think you could GROUP BY the new column and yield the behaviour you described.

Thoughts?

[2022-03-18 08:27] #8324 closed

[2022-03-18 21:28] jackjlli opened #8371 "Retain instance sequence for table rebalance"
Currently when the table rebalance request is made, the list of instances will be sorted by the instance ids before the instance partition is formed. While when an instance with a smaller instance id got swapped out, its original segments will be assigned to the next available instance with a slightly larger instance id. In this case, all the segments will be moved around.
If we can retain the exi

[2022-03-19 00:05] Jackie-Jiang commented on #8371
We may add some strategy for instance assignment to allow minimum movement using some greedy algorithm

[2022-03-19 22:31] kodeine opened #8373 "Ingress does not work"
related to PR #7997

@xiangfu0  @dianaarnos based on the template of ingress and documentation it wont work.

in documentation is below
[code]

template file is using syntax like
[code]

[2022-03-20 22:09] nizarhejazi opened #8374 "Skip inbuilt DateTime functions used in transformConfigs, and mark the value as null in the null index when the input column value is null and the function does not accept nulls"
Currently, if:

1. Inbuilt DateTime functions that cannot take null (e.g. `fromdatetime`, `timezoneHour`, `dateTimeConvert`, etc.) are used as ingestion transforms (in transformConfigs).
2. Input column value is null.

Then: these inbuilt functions throws `java.lang.NullPointerException` instead of marking the value as null in the null index.

Example:
[code]

Recommendation:

- Add an annotation

[2022-03-22 00:59] nizarhejazi commented on #8374
PR to fix this issue for inbuilt datetime functions: https://github.com/apache/pinot/pull/8382

[2022-03-23 22:03] #7958 closed

[2022-03-23 23:03] #8173 closed

[2022-03-24 01:27] tianqin69 opened #8396 "Timeout expired while fetching topic metadata"
My table config 《
{
  "tableName": "t3_rt",
  "tableType": "REALTIME",
  "segmentsConfig": {
    "timeColumnName": "update_time",
    "timeType": "MILLISECONDS",
    "schemaName": "t3",
    "replicasPerPartition": "1"
  },
  "tenants": {},
  "tableIndexConfig": {
    "loadMode": "MMAP",
    "streamConfigs": {
      "dataFormat": "avro",
      "className": "org.apache.pinot.plugin.inputformat.avro.

[2022-03-24 12:54] richardstartin commented on #7499
On #8397 I noticed that java.time can be quite a lot slower than JODA time, so this migration would be difficult to justify.

[2022-03-24 12:54] #7499 closed

[2022-03-24 16:58] saumya2700 opened #8399 "Persist raw data from kafka topic as it is"
**Feature request:**
To save raw data from topic in pinot table.

**Use case :**
We have lots of complex schemas and we are using pinot for saving and retreiving topic data with times stamp and some other fields.
We do not want to map all nested columns from complex schema and create pinot schema and use lots of transformation functions. There are some places we want raw data as it is in pinot tab

[2022-03-24 17:36] Jackie-Jiang commented on #8396
Can you try reading the topic metadata using kafka admin? Let's first make sure the kafka broker is up and running, and the topic exists

[2022-03-24 18:28] Jackie-Jiang commented on #8399
Do you want the whole record to be stored as a json field, or a field to be stored as a json field? Pinot can achieve the latter by the `jsonFormat` ingestion transform function (e.g. `jsonFormat(jasData)` to store the `jasData` as a json). Storing whole record as json is not supported currently.

[2022-03-24 20:42] elonazoulay opened #8406 "Pinot returns empty result set when there is an invalid column"
Would it make sense to add a config flag to fail a query if a column which does not exist is in a select statement?
ex. `select <random column name that doesn't exist> from table` produces an empty result set but no error.

[2022-03-24 21:58] Jackie-Jiang commented on #8406
It is supported in #7590. Do you have the schema stored for this table?

[2022-03-25 02:05] tianqin69 commented on #8396
您是中国人吗，如果是，方便加个微信或者钉钉联系吗？现在遇到的问题调试的我头大。微信钉钉同号18037050535，谢谢

At 2022-03-25 01:37:06, "Xiaotian (Jackie) Jiang" ***@***.***> wrote:

Can you try reading the topic metadata using kafka admin? Let's first make sure the kafka broker is up and running, and the topic exists

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thread.Message

[2022-03-25 03:10] xiangfu0 commented on #8396
Can you join the slack channel and ping me?

https://communityinviter.com/apps/apache-pinot/apache-pinot

On Thu, Mar 24, 2022 at 19:05 tianqin69 ***@***.***> wrote:

[2022-03-25 11:09] richardstartin opened #8409 "Aggregation functions fail on String columns with unfriendly error messages"
e.g. on airline stats when a dictionary can be used the operator just assumes the metadata is numeric, which causes a hard to diagnose NPE:

[code]

[code]

It's actually worse when the dictionary can't be used because it does some work before failing:

[code]

[code]

Postgres can produce the max over a string column so aggregation functions should not assume the result is a double, but while it

[2022-03-25 12:50] richardstartin opened #8410 "Optimise filtered count queries when an inverted index is present"
[code]

can be computed by counting the bits in the bitmap for 'foo'

[code]

can be computed by counting the bits in the bitmap for 'foo' and subtracting it from the segment total count

[code]

can be computed by counting the bits in the union of the bitmaps 'foo' and 'bar'

[code]

can be computed by computing the cardinality of the intersection between bitmaps 'foo' of the first inverted index

[2022-03-25 19:15] #8374 closed

[2022-03-25 20:48] Jackie-Jiang commented on #7958
This is a sub-issue under #7849

[2022-03-25 21:15] Jackie-Jiang commented on #8409
Ideally, the check should happen on the broker side since it has access to the table schema, then we may add a string version aggregation (e.g. `StringMax`) to avoid the overhead of overloading `Max` to do non-numeric types. The challenge here is that for transform function, currently we cannot derive the result data type from the input data types.

Another approach is to change `Max` function to

[2022-03-26 00:14] nizarhejazi opened #8418 "Add support for BigDecimal as a Pinot data type"
Pinot currently support storing BigDecimal as byte[], and a couple inbuilt scalar functions for converting a string to BigDecimal bytes and converting BigDecimal bytes to strings:

[code]

There is also support for sum aggregation with precision and scale: `SUMPRECISION(expression, precision, scale)`.

Pinot supports BigDecimal with an arbitrary precision integer unscaled value, and a 16-bit integ

[2022-03-27 15:06] suddendust commented on #8339
+1 on that @mayankshriv. The tool once recommended a size > 2G to us and we ran out of heap during segment build. Also, the server timed-out uploading the segment to the controller. Link: https://apache-pinot.slack.com/archives/C011C9JHN7R/p1647005584406969.

This would be helpful. When I personally started using the tool, I got a bunch of N/As and had to dig into the code to figure out what it me

[2022-03-27 15:57] mcvsubbu commented on #8339
@suddendust the two requirements are somewhat at odds with each other:
- Don't output N/A
- Don't suggest segment size > X (say, 500B)

How exactly do you propose to handle the situation where the segment size is > X? What should the output look like?

[2022-03-28 01:16] tianqin69 commented on #8396
At 2022-03-25 11:10:35, "Xiang Fu" ***@***.***> wrote:

Can you join the slack channel and ping me?

https://communityinviter.com/apps/apache-pinot/apache-pinot

On Thu, Mar 24, 2022 at 19:05 tianqin69 ***@***.***> wrote:

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thread.Message ID: ***@***.***>

[2022-03-28 06:48] saumya2700 commented on #8399
@Jackie-Jiang we want whole record to be stored as json or bytes. Latter one with jsonformat is working but our use case is to store whole message.

[2022-03-28 07:26] jtao15 opened #8423 "The race condition that TableDataManager is removed during segment download because of incorrect segment count."
Current code does the followings:

1. `tableDataManager` uses `segmentDataManagerMap` to track the segments. `tableDataManager` is created and initialized when adding the first segment to the server, and shutdown if the last segment is removed.
2. The `tmp` directory for temporarily storing new downloaded segments will be removed and recreated as part of `tableDataManager` initialization.
3. When

[2022-03-28 16:20] walterddr opened #8424 "CAST used with GROUP BY causes weird exception"
[code]
works fine.
[code]
gives
[code]

[2022-03-28 18:54] #8362 closed

[2022-03-29 06:10] siddharthteotia commented on #8418
+1

Any reason why we don't want to go for arbitrary precision or why can't the precision be less than 38 ?

Also, do we think we can make the user level construct more generic / aligned with may be how other OLAP systems expose ?

For example, I have seen DECIMAL (precision, scale) notation being used in a couple of systems.

[2022-03-29 08:45] siddharthteotia commented on #8260
First PR for query planner PR merged to feature branch https://github.com/apache/pinot/pull/8340/

[2022-03-29 10:52] pjpringle opened #8429 "0.10.0 vulnerability in datatables.net"
Enterprise vulnerability scanners flag the following preventing use of the 0.10.0 version

datatables:1.10.5-dev as sonatype-2020-0988

Please can someone upgrade this to a latest version which is patched.

[2022-03-29 14:38] walterddr opened #8431 "Potential controller start/stop race condition"
When a test controller is restarted (such as in `PinotTaskManagerStatelessTest`), the controller will be come unavailable for ~1sec until it returns back to normal.

see code block:
<details>
[code]
</details>

[2022-03-29 15:00] walterddr commented on #8246
update on status: with #8329 and #8390 contributed. item 1 and 3 is almost finished.
we can now: add functionalities to `ControllerRequestClient` and create `Server/BrokerRequestClients`.

there are other places where either `java.net.*` or `apache.http.*` is directly used, I propose to create a separate ticket to track the migration of these usages as they are (1) many and scattered around the co

[2022-03-29 17:58] dianaarnos commented on #8373
Hi, @kodeine can you give more details on how you are running things?

The helm chart version that has the ingress resource has not been released yet, so a simple `helm install apache/pinot` won't work.

[2022-03-29 18:05] kodeine commented on #8373
@dianaarnos so i am using helm, my Chart.yaml looks like

[code]

[2022-03-29 20:14] Jackie-Jiang commented on #8399
We may consider adding a new config in the `IngestionConfig` to store the json string of the record into a field. The logic needs to be implemented into the `RecordExtractor`

[2022-03-29 20:15] Jackie-Jiang commented on #8423
After some offline discussion, one way to solve this issue is to add a `DELETE` message, and only remove the `tableDataManager` when the table is deleted

[2022-03-29 21:15] kodeine commented on #8373
This works with new chart version just released, 0.2.5

[2022-03-29 21:15] #8373 closed

[2022-03-29 22:26] nizarhejazi commented on #8418
@siddharthteotia Pinot BigDecimal can store arbitrary precision integer unscaled value, and a 16-bit integer scale.

Precision and scale configuration are related Presto/Trino-Pinot-connector. The goal is to have parity w/ how decimals are exposed in Presto-PostgreSQL-connector. Supporting smaller precision should be doable. Actually, Presto recommends a precision of 18 or less for ideal performan

[2022-03-30 00:50] PrachiKhobragade commented on #8217
Picking this issue

[2022-03-30 05:37] KKcorps opened #8437 "Support multiple response formats in Broker SQL API"
Currently, for a query, broker can only return JSON response. However, for better performance on client side, it might be desirable to get response in a compact, fast, binary format such as Avro, ProtoBuf, FlatBuffers etc.

There are two changes that can be done to support this request -

* Create a gRPC client for existing gRPC broker service and provide it to users.

* Allow a `format` parameter

[2022-03-30 05:38] KKcorps commented on #8437
@Jackie-Jiang @mayankshriv

[2022-03-30 05:47] KKcorps commented on #8437
It will look something like this - https://github.com/KKcorps/incubator-pinot/pull/1/files
I do not like adding `avro` dependency to broker though so might move the classes to some other module.

[2022-03-30 11:50] KKcorps commented on #8418
Yes, we should focus on maintaining as much parity as possible with Presto DECIMAL datatype.

[2022-03-30 14:11] mathewjpallan opened #8438 "Query regarding deep storage"
Hi,

I am evaluating Apache Pinot and wanted to understand the deep storage options while deploying on Azure. From the docs, it seems like Azure blob is not supported and Azure Data Lake Storage has to be used as the deep storage. Can you please confirm on the same.

Also is PinotFS the abstraction used for deep storage as well. The docs mention PinotFS in the context of importing data and hence t

[2022-03-30 14:14] fcomte opened #8439 "helm chart and tpl for extras config."
Im a trying to configure a pinot cluster with an admin account with this helm chart.
It seems that I can't do it with a simple way by using only one value somewhere.
- There is no username and password on this chart
- The extra.configs of all components are not evaluate by tpl function so i must precalculate all good values before which is not very practical.

Am I missing something ?

[2022-03-30 14:20] KKcorps commented on #8418
Will this help meanwhile or is it not worth it @siddharthteotia  - https://github.com/apache/pinot/pull/8440

[2022-03-30 15:19] kkrugler commented on #8438
Hi @mathewjpallan - these are really good questions for the `#general` channel in the Pinot Slack workspace.

[2022-03-30 17:08] mathewjpallan commented on #8438
@kkrugler I have raised it on slack and got responses. Will close this issue.

[2022-03-30 17:08] #8438 closed

[2022-03-30 19:50] jadami10 commented on #8423
Just to confirm my understanding, #7961 surfaced this bug because it's deleting tmp files or it's causing it?

[2022-03-30 20:03] #8410 closed

[2022-03-30 20:48] jadami10 opened #8444 "Filtering on a boolean field with just the field name results in NullPointerException"
Running a query with just `select <fields> from <table> where <boolean_field>` results in a null point exception. This should be a supported query.

Stack trace from pinot
[code]

user facing error
[code]

[2022-03-31 14:41] siddharthteotia commented on #8418
Hi @KKcorps - I will take a look at the PR today

[2022-03-31 17:03] Jackie-Jiang commented on #8439
@walterddr @xiangfu0 Could you please take a look?

[2022-03-31 17:49] ashishkf opened #8449 "Issue with broker timeout handling results in ArrayOutOfBoundsException"
It seems getTopRecords called from the public method finish is invoked without a read lock. We are seeing an issue where we get ArrayIndexOutOfBoundsException when running a query that involves ConcurrentIndexedTable. See the stack trace below:

  Filing an issue after discussion with @Jackie-Jiang

[2022-03-31 19:59] xiangfu0 commented on #8439
we can model users' credentials as a list then loop and add them into controller/broker/server/minion extraConfigs.

[2022-03-31 22:06] richardstartin opened #8453 "Evaluate cheap filters before expensive filters"
The plan for the query below is extremely inefficient:

[code]

| Operator |	Operator_Id |	Parent_Id |
|----------|---------------|------------|
| BROKER_REDUCE(limit:100) |	0 |	-1 |
| COMBINE_SELECT |	1 |	0 |
| SELECT(selectList:actor_id, actor_login, actor_url, created_at, event_time, event_time_ts, id, public, pull_request_additions, pull_request_changed_files, pull_request_comments, pull_reque

[2022-03-31 22:33] Jackie-Jiang commented on #8453
The operator name is a little bit misleading. For this query, we will first evaluate the `type='PullRequestEvent'` predicate using inverted index, and get a bitmap; then pass the bitmap to the scan-based operator to evaluate the `repo_name like 'FeedScale%'` predicate by scanning the docs in the bitmap.
The issue for this query is that we should not fully evaluate the scan-based predicate, but sca

[2022-03-31 22:52] #8449 closed

[2022-03-31 23:08] Jackie-Jiang commented on #8423
@jadami10 @mcvsubbu The root cause is the effect of combining #6608 and #7961
When #6608 is introduced, there is no side effect of closing and recreating the table data manager (kind of stateless). But with the deleting tmp dir logic introduced in #7961, the table data manager is stateful even if it is empty.

[2022-04-01 00:13] richardstartin commented on #8453
Yes, this is quite misleading, either the plan should reflect the linking of filters done in AndDocIdSet or the code should be refactored to make it easier to describe the execution.

[2022-04-01 07:58] dianaarnos commented on #8373
What do you mean by doc is wrong indentation? Can you point me to the doc so I can fix it, please?

[2022-04-01 12:39] #8453 closed

[2022-04-01 15:11] suddendust commented on #8339
@mcvsubbu If segment size > X, then as @sajjad-moradi we can emit a warning stating that very large segments can be detrimental to the perf? Just so that the user does not take the recommendations as something set-in-stone (which I did in the initial stage, have set segments as large as 3G 😃). Also, for N/A, either tell the user why we emitted N/A (insufficient host memory) or go ahead with the su

[2022-04-01 20:13] mcvsubbu commented on #8339
The two are certainly at odds with each other. We _have_ to do one of the two.

Now, we can discard the second rule (i.e. output segment sizes larger than 500M), but include an asterisk to say something.

I suggest that the something be a pointer to a section in the documentation that says what happens if there are too many segments of small size, or a small number of large size segments. Basicall

[2022-04-03 01:53] mayankshriv commented on #7849
@Jackie-Jiang Is this PR still valid, or already covered by #8392 and #7958? If latter, could we close it?

[2022-04-04 09:44] stym06 opened #8460 "Null in all columns on Batch ingesting ORC data from S3"
Hey guys,
I've been trying to ingest data stored on S3 in ORC format using the Pinot ingestor with the below command:
`./pinot-admin.sh LaunchDataIngestionJob -jobSpecFile batch-job-standalone-spec.yaml`

### Ingestion job spec
[code]

The job is able to complete but leads to all null values in the Pinot table:
<img width="1335" alt="Screenshot 2022-04-04 at 3 13 38 PM" src="https://user-images.gi

[2022-04-04 10:09] KKcorps commented on #8460
Schema fields do not seem to match ORC field names.

[2022-04-04 10:42] stym06 commented on #8460
Thanks @KKcorps . changing the column names worked!

[2022-04-04 10:42] #8460 closed

[2022-04-04 10:58] BlackDemonZyT commented on #3851
Someone did this? I'm also interested in getting standard deviation in a pinot query.

[2022-04-04 12:56] KKcorps commented on #8437
I have created a brief design doc for this. We can sort out all the questions there.
https://docs.google.com/document/d/1NzVLYhO4frmBOfu6tDaVzu0aWsDGquzsIml2kittS04/edit?usp=sharing

[2022-04-04 19:16] Jackie-Jiang commented on #7849
@mayankshriv The routing issue is not solved yet, so let's keep the issue open

[2022-04-05 00:28] Jackie-Jiang commented on #3851
Not yet. We might need to keep all values in order to compute these statistics, and that can be very costly. Is there any approximation data structure we can leverage to avoid keeping all values?

[2022-04-05 00:34] Jackie-Jiang commented on #8444
@KKcorps Good solution! We can re-write the filter expression if the underlying predicate does not have `FilterKind` as the function. Pinot supports `WHERE A = true`

[2022-04-05 00:58] kishoreg commented on #3851
@BlackDemonZyT will you be interested in contributing to this?

[2022-04-05 01:12] mayankshriv commented on #3851
+1, if you are interested @BlackDemonZyT , we can guide you to build this feature in Pinot.

[2022-04-05 02:01] siddharthteotia commented on #8437
Nice. @KKcorps I had created a similar issue around this but was specific to Arrow flight protocol (which is based on arrow wire format over grpc) to especially cater to non JVM based clients (python)

https://github.com/apache/pinot/issues/6921

Never got a chance to pick it up. May be the work done here in terms of abstraction and plugin can help lay some basic work for the flight based protocol

[2022-04-05 04:14] siddharthteotia commented on #8039
@vvivekiyer  as discussed please pick this up.

[2022-04-05 04:15] siddharthteotia commented on #8444
@Jackie-Jiang / @KKcorps / @jadami10  are you planning to work on this ?

If not, @vvivekiyer can help pick it up as he is familiarizing himself through the code

[2022-04-05 04:24] vvivekiyer commented on #8039
Sure, I can pick this up.

[2022-04-05 08:04] BlackDemonZyT commented on #3851
I'm sorry but i don't think i have enough experience to develop such a feature into Pinot. I've been using Pinot since 1-2 weeks approximately and i just used a few PSQL query with it. I'm asking because i though someone could have built a Pinot query to get the standard deviation.

[2022-04-05 08:37] richardstartin commented on #3851
You'll probably run into problems with numerical stability but you can compute the variance with

[code]

and the standard deviation

[code]

[2022-04-05 09:35] KKcorps commented on #8437
Hi
Yes, I am taking non-java clients into perspective as well. The primary blocker for such clients will be getting schema to parse the response (since they can't import our java plugins and we can't write clients for all possible languages)

I guess adding an API to fetch response schema can be done. But that's just top off my head, final solution should be much better.

[2022-04-05 11:02] KKcorps commented on #8444
@siddharthteotia I am working on BrokerResponse so @vvivekiyer can pick it up

[2022-04-05 15:59] MrNeocore opened #8469 "[Feature request] Notify when a new OFFLINE segment is query-able"
Following Slack discussion: https://apache-pinot.slack.com/archives/C011C9JHN7R/p1649059683439889

### Summary
In some cases, there is a need to know when / if a new OFFLINE segment is ready for query.

**For example:**
1. A new segment is pushed to Pinot's controller via a `SegmentCreationAndTarPush` Job.
2. The job ends as soon as this segment is copied over to the Controller (as far as I know).

[2022-04-05 17:19] noon-stripe commented on #8360
Future Work includes:
- Adding additional aggregations
- Depreciating the old aggregateMetrics.

cc @snleee

[2022-04-05 19:49] siddharthteotia commented on #8444
@vvivekiyer  is working on the fix

[2022-04-05 22:07] walterddr opened #8474 "[Feature] allow PinotFSFactory register same scheme with different configurations"
Currently there's no way to create/register multiple PinotFS instance for the same scheme.

This is useful when access secrets need to be separately configured for different part of the same file system scheme (for example: S3 with different bucket)

[2022-04-06 03:42] #7270 closed

[2022-04-06 05:32] saurabhd336 commented on #7256
I'm working on the changes to support controller based broker selector in the client.
Initial PR: https://github.com/apache/pinot/pull/8467/files
@mayankshriv

[2022-04-06 11:30] KKcorps commented on #8474
I can take this up. But deciding which filesystem to pickup won't be possible with just the scheme then. It will require both the scheme as well as the bucket (or similar in case of other FS).

[2022-04-06 14:20] pjfanning opened #8476 "pinot-controller uses multiple NPMs that have security issues"
Dependabot has raised a few PRs but they are just of the problems.

* https://github.com/apache/pinot/pull/8471 (minimist)
* https://github.com/apache/pinot/pull/8470 (axios)
* ansi-regex also has issues (found by dependabot on my github fork - ditto for the following)
* ansi-html
* node-forge
* node-fetch
* url-parse
* postcss
* follow-redirects
* nth-check
* path-parse
* underscore
* sockjs
* dn

[2022-04-06 14:35] walterddr commented on #8474
correct. i guess we might need to keep the PinotFSFactory storing not just the scheme as the hash key but scheme + host of the URI.

I haven't thought this through with all the FS that we support so i guess some investigation on
- is scheme + host enough for our use cases; and is there unnecessary overhead for other FS types (e.g. `file://`?)
- how to fallback to scheme only? (e.g. if one decided

[2022-04-06 14:55] ClouddJR opened #8477 "Airline dataset from the talk about the Star-Tree Index"
Hi, I couldn't find a better place to ask this question, so I decided to create this issue here.

Is the dataset used [in this talk](https://youtu.be/bwO0HSXguFA?t=519) (Airline data from 1987-2008) available somewhere? I would like to run my own experiments and it would be very valuable.

Thanks.

[2022-04-06 18:36] Jackie-Jiang commented on #8469
In order to know if a new segment is ready for query, the information should come from the broker. Here is the steps of new segment becoming queryable:
1. Segment uploaded to the deep store via controller (or metadata push)
2. Server gets notified to download and load the segment
3. Controller collects server status and updates table's external view
4. Broker listens to the external view change an

[2022-04-06 18:48] pjfanning opened #8480 "upgrade base version of hadoop due to security issues"
* hadoop-common up to v2.10.1 has CVEs - see https://mvnrepository.com/artifact/org.apache.hadoop/hadoop-common
* old hadoop versions have lots of problematic dependencies with more CVEs

[2022-04-06 21:18] Jackie-Jiang commented on #7978
To configure index for a sub-field of a json field, we can first extract the sub-field as a separate field through ingestion transform, then configure index on the separate field.

JSON index is designed for cases where schema is not fixed across different records, and it is not as efficient as regular inverted index because we don't know the data type of the sub-fields. In your example, since we

[2022-04-06 23:53] egalpin commented on #7978
@Jackie-Jiang extracting a field is definitely a good approach for some use cases. Perhaps JSON is a bit of a red herring; what I really would like to see supported is columns allowing repeated records that have a fixed schema. Effectively, a column which itself is a table, or sometimes referred to as nested data types.

One issue with the idea of extracting values to other columns is that context

[2022-04-07 20:31] walterddr opened #8487 "boolean function not recognized in filter clause"
- `SELECT * FROM t WHERE startsWith(stringCol, 'myStr') = true`
this query works fine

- `SELECT * FROM t WHERE startsWith(stringCol, 'myStr')`
throws exception
[code]

[2022-04-07 21:19] npawar opened #8488 "Add common comparison scalar functions for filterConfig during ingestion"
The filter config needs a function that evaluates to boolean https://docs.pinot.apache.org/developers/advanced/ingestion-level-transformations#filtering
So far, we were able to use Groovy for expressing such fucntions. Starting release 0.10.0, Groovy is disabled by default, and also due to security concerns might not be the best choice to use even if explicitly enabled.
This leaves us with only be

[2022-04-07 21:24] npawar opened #8489 "Add startOffset and endOffset into segment metadata.properties file"
And any other props that are missing.
Goal: every property in segment zk metadata should be in the metadata file on the segment.

[2022-04-07 21:24] npawar commented on #8489
cc: @mayankshriv

[2022-04-07 21:48] Jackie-Jiang opened #8490 "Server Failure Detector"
We want to add a `FailureDetector` module on the broker to detect the server failures, and take failed servers out of the routing

Design doc: https://docs.google.com/document/d/1X32OMT6lC4pCveQVzK6OvRlaW0kE9HZ2vn_EHzesM1w/edit?usp=sharing

[2022-04-07 22:59] siddharthteotia commented on #8164
The implementation is in progress and is not ready for review

https://github.com/apache/pinot/pull/8434

[2022-04-07 23:11] Jackie-Jiang commented on #8474
We can potentially add an optional id under each scheme to differentiate credentials. When retrieving the `PinotFS`, user can pass the optional id. If no id is provided, we keep the existing behavior.

[2022-04-08 00:17] Jackie-Jiang commented on #8477
The data is available here: https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/HG7NV7

[2022-04-08 00:30] Jackie-Jiang commented on #8489
Certain fields should be in ZK metadata only though. Checked the ZK metadata, and adding start/end offset for debugging purpose should be good enough. The missing fields are `segment.flush.threshold.size`, `segment.flush.threshold.time`, `segment.realtime.download.url`, `segment.realtime.status`, `segment.realtime.numReplicas`

[2022-04-08 04:29] jackjlli opened #8492 "Need ways to check whether segment reload/refresh is done on server side"
Currently segment reload/refresh is done asynchronously. There is no way for Pinot admin to know whether the segment reload/refresh request is fully done on server side. It could be possible that multiple reload/refresh are made, which can cause race conditions.

We need some way to figure out the state of the reload/refresh request on server side.

Some thoughts:
* Add server level APIs to fetch

[2022-04-08 05:06] jasperjiaguo opened #8493 "Add functions for statistical analysis in SQL"
As discussed with @siddharthteotia, consider adding some common statistical analysis methods SQL language.

Few examples:
1. Pearson's coefficient
2. Linear regression
3. Logistic regression
4. SVM

[2022-04-08 05:16] jasperjiaguo commented on #8493
Designing the one request - multiple (sequential) queries model  for statistical functions. Planning to use mini-batch stochastic gradient descent for regression algorithms.

[2022-04-08 05:18] siddharthteotia commented on #8493
@jasperjiaguo , I am unable to assign this to you. So self-assigning.

[2022-04-08 05:20] siddharthteotia commented on #8493
Things like histogram, entropy could also be potentially useful

[2022-04-08 08:41] #8477 closed

[2022-04-08 17:53] kkrugler commented on #8477
Hi @ClouddJR - the best place to ask questions like this is in the [Pinot Slack workspace](https://apache-pinot.slack.com/), e.g. via the general channel. You could maybe use this invite link to join: https://join.slack.com/t/apache-pinot/shared_invite/zt-5z7pav2f-yYtjZdVA~EDmrGkho87Vzw

[2022-04-08 18:15] cedricbarbin commented on #4134
A working patch for 0.11

Class : org.apache.pinot.common.utils.URIUtils
Line 41 :
String path = "file:/" + getPath(basePath, parts).replace("\\", "/");

[2022-04-08 19:04] Jackie-Jiang commented on #7978
@egalpin I see the point. Essentially we want to support the arbitrary nested array/map with fixed schema, and allow index on top of them. This is a very interesting and challenging problem. @richardstartin might be able to share more thoughts?

[2022-04-08 21:04] Jackie-Jiang commented on #8487
This and #8444 is the same issue and can be solved together

[2022-04-08 22:02] Jackie-Jiang commented on #8492
Since the reload/refresh is done via the Helix messaging mechanism, we should also explore whether Helix can support reading response for the message.

[2022-04-09 09:56] walterddr commented on #8487
closing duplicate with https://github.com/apache/pinot/issues/8444

[2022-04-09 09:56] #8487 closed

[2022-04-09 23:35] mayankshriv opened #8500 "Bad table config may result in Zombie tables"
Issue faced by user:

[code]

[2022-04-09 23:38] mayankshriv commented on #8500
@timsants could you please take a look? Some how I am unable to assign this to you.

[2022-04-10 01:41] timsants commented on #8500
Investigation in progress

[2022-04-10 07:51] ClouddJR commented on #8477
@kkrugler Thank you. I found out about the Slack channel after opening this issue. I will put my questions there from now on.

[2022-04-11 06:29] saurabhd336 commented on #8489
@npawar Please review https://github.com/apache/pinot/pull/8502/files which aims to add the offset and potentially other ZK properties into segment's metadata.properties

[2022-04-11 17:43] mcvsubbu commented on #8492
I thought we already added several server level APIs to fetch the state exactly for this purpose? Are you sure it is not there already?

[2022-04-11 18:45] mcvsubbu commented on #8492
Can we use this API? https://github.com/apache/pinot/blob/master/pinot-server/src/main/java/org/apache/pinot/server/api/resources/SegmentMetadataFetcher.java

[2022-04-11 18:52] Jackie-Jiang commented on #8492
@mcvsubbu We built this API as a work-around to check the reload status, but it does have some limitations/drawbacks:
- Not able to show refresh status
- Not user friendly. Users need to know which index to check in order to know if the segment is reloaded. They also need some client side code to automate the check.

IMO it would be good to add APIs to directly tell how many segments out of the to

[2022-04-11 20:19] jackjlli commented on #8492
It's not very intuitive nor straightforward to retrieve other information in order to check the state of a reload/refresh request.

What's worse, one corner scenario I can think of is that if table config remains unchanged while a reload request is sent, the segment metadata remains unchanged, but there could be that reload request is still in progress. In this case, we cannot determine whether th

[2022-04-11 20:23] jackjlli commented on #8492
We do have a `SegmentRefreshSemaphore` class which is initialized only once per pinot-server, something that we can use to check the number of segment reloads / refreshes per server.

[2022-04-11 22:58] timsants commented on #8500
When a realtime table is being created, the table config is first uploaded to the ZK property store. After that, we try to create the realtime consumer. But as pointed out, if there is an invalid config for the consumer, an exception is thrown. The next time you try to create the table (with correct configs), it checks the ZK property store for the existence of the table config and throws an excep

[2022-04-12 00:24] Jackie-Jiang commented on #8500
Checking table config existence is intentional to prevent race condition of re-creating a recently not fully deleted table (see #8103 for details)
The correct fix here should be:
- If adding a table fails, delete the table config and all entries already persisted
- Enhance the exception message to inform the user to try delete the table which can delete the remaining entries

[2022-04-12 02:24] mayankshriv commented on #8281
Fixed by #8921

[2022-04-12 03:00] npawar commented on #8500
@timsants there was a report that this worked fine in 0.9.3 (i.e. table creation failed cleanly) and in 0.10.0 this fails with zombie states. Any idea why that is?

[2022-04-12 04:34] timsants commented on #8500
@npawar, this was a change that was merged in Feb [#8103](https://github.com/apache/pinot/pull/8103/files). Before that, realtime tables didn't have this check. Previously, the table config was probably being overwritten but I don't think the other ZK metadata was being cleaned up correctly.

[2022-04-12 07:45] nicovak opened #8512 "Handling optional parts in date format"
Hello,

I think It could be a nice feature to handle optional parts in date format with `[]`
For example in my case, I can have DateTime with second fractions or not (it's adaptive).

Actually, I need to perform a `Substr` :

[code]

But It could be handled like that :

[code]

It's already provided by Java 8 and [DateTimeFormatter](https://docs.oracle.com/javase/8/docs/api/java/time/format/DateTi

[2022-04-12 17:11] Jackie-Jiang commented on #8492
This semaphore is used to control the parallelism of the reload/refresh, but not the segments already reloaded/refreshed. We need a different mechanism to return that info, e.g. associate each reload/refresh with an id and send the id within the message

[2022-04-12 17:25] mcvsubbu commented on #8492
Yes, @jackjlli and I had a discussion yesterday, and reached the same conclusion. Using some sort of an ID. The problem is that the threads taking up any of these activities can be in any order. [Of course, we may choose not to handle multiple simultaneous requests]. In this case, it is useful to know the _highest_ sequence number of messages handled.

And then we need to consider restarts. If a s

[2022-04-12 18:20] lfernandez93 opened #8515 "Pinot minion doesn't have a healthcheck endpoint."
all the other pinot components offer a healtcheck endpoint but not the minion, even-though the helm chart references to it  https://github.com/apache/pinot/blob/master/kubernetes/helm/pinot/templates/minion/statefulset.yml#L80 but it's disabled by default, it would be cool add a health check for this component as well so that we can have livenessProbes around it with kubernetes.

[2022-04-12 18:44] #8480 closed

[2022-04-12 18:57] Jackie-Jiang commented on #8512
We don't support it right now because we are using joda library and haven't moved to java library for performance reason. Seems the author of joda is also recommending switching to java library, and this is another motivation for us to switch. @richardstartin how much performance difference do you observe between joda and java date time format?

[2022-04-12 20:55] Jackie-Jiang commented on #8515
@lfernandez93 Good catch! Do you want to help contribute this? We can add a `PinotMinionHealthCheck` similar to `PinotBrokerHealthCheck` and add `LifecycleServiceStatusCallback` to the `ServiceStatus`

[2022-04-12 20:55] zhtaoxiang opened #8516 "GcsPinotFs cannot list files if only bucket is specified in URI"
The [GcsPinotFs](https://github.com/apache/pinot/blob/master/pinot-plugins/pinot-file-system/pinot-gcs/src/main/java/org/apache/pinot/plugin/filesystem/GcsPinotFS.java) cannot list files if only bucket is specified in URI.

For example, if there is a gcs bucket `gs://haitao/ `and there are two files in the bucket `gs://haitao/1.csv`, `gs://haitao/sub/2.csv`, `GcsPinotFS.listFiles(new URI("gs://hai

[2022-04-12 20:56] zhtaoxiang commented on #8516
I will pick up and fix this issue.

[2022-04-12 21:12] zhtaoxiang opened #8517 "Improve GcsPinotFs to Read Credentials Directly from User Configurations"
Now, the [GcsPinotFs](https://github.com/apache/pinot/blob/master/pinot-plugins/pinot-file-system/pinot-gcs/src/main/java/org/apache/pinot/plugin/filesystem/GcsPinotFS.java) can only [read credentials from a file] (https://github.com/apache/pinot/blob/master/pinot-plugins/pinot-file-system/pinot-gcs/src/main/java/org/apache/pinot/plugin/filesystem/GcsPinotFS.java#L78) specified in the user configu

[2022-04-12 21:12] zhtaoxiang commented on #8517
I will pick up and fix this issue.

[2022-04-12 21:22] walterddr commented on #8072
this should be closed by #8122

[2022-04-12 21:22] #8072 closed

[2022-04-12 21:40] chenboat opened #8519 "[Bug]Pinot broker routes queries to servers while they are still downloading segments"
Today if an empty box Pinot server joins the cluster to replace an existing server (i.e., the two servers share the same id), it can take 10s of minutes for Helix to instruct the new server to download all the segments and get them online. During the above process, Pinot brokers still route queries to the new server, this behavior results in partial and incorrect query results.

We should fix this

[2022-04-12 22:25] mapshen commented on #7849
There are more issues to the current design on segment replicas. Like I mentioned in https://github.com/apache/pinot/issues/7850, no only is it problematic during a segment flush, it also leads to split query views when one replica goes down.

[2022-04-13 00:32] mayankshriv commented on #8500
Fixed by #8509

[2022-04-13 00:41] mayankshriv commented on #8363
@KKcorps can this issue be closed, seems like the fixes were already merged?

[2022-04-13 00:45] mcvsubbu commented on #8519
But then only those segments that are already loaded (and are ONLINE or CONSUMING in externalview on the new server) should get queries right? Is it a performance issue that you are facing?

[2022-04-13 00:51] Jackie-Jiang commented on #8519
@mcvsubbu The issue here is that for new servers, the `shutdownInProgress` flag is not set, and broker will start routing queries to it whenever the segment becomes ONLINE/CONSUMING in the external view. We should set the flag if it is not set yet when a server starts, so that all the servers (new server, existing server that encounters hard failure etc.) have the same behavior.

[2022-04-13 04:21] #8363 closed

[2022-04-13 05:30] KKcorps commented on #8512
From my benchmarks, java time seems 20-30% slower than Joda time.
[code]

Code - https://gist.github.com/KKcorps/19b6b093bfa15b7d62b27db0b8012e51

[2022-04-13 06:38] KKcorps opened #8526 "Make Pinot compatible with Spark 3.x"
Current pinot used Apache spark 2.4.0 for running Spark Ingestion tasks. We need to upgrade it to Spark 3.x so that the latest spark version can be supported.

We will also need to make a lot of dependencies provided or add versions which don't conflict with spark.

Shading existing dependencies is also another option.

[2022-04-13 07:42] ddcprg opened #8527 "Build AWS Glue connector for Pinot"
AWS Glue has support for custom data source integration via connectors

https://aws.amazon.com/blogs/big-data/developing-testing-and-deploying-custom-connectors-for-your-data-stores-with-aws-glue/

An AWS Glue connector for Pinot would allow adding full SQL support using managed services like Athena, saving operational time on alternatives like Trino or Presto, and expanding the set of choices for

[2022-04-13 07:46] ddcprg commented on #8527
@Jackie-Jiang  @mayankshriv I've raised this ticket which I intend to work on.

I've started looking at how the integration can be done. I was initially going to create my own project for this in my account but let me know if you think it's better to keep the code in this project - or somewhere else. I can also make the code available in my account and then you can decide whether it should be move

[2022-04-13 11:48] richardstartin opened #8529 "Support JDK17"
Pinot doesn’t run on JDK17 out of the box and various illegal reflective accesses must be removed to improve new user experience. JDK17 support can be improved gradually by removing illegal reflective access in a piecemeal fashion.

[2022-04-13 13:33] richardstartin opened #8532 "UpsertTableSegmentUploadIntegrationTest.testSegmentAssignment:190"
https://github.com/apache/pinot/runs/6007201703?check_suite_focus=true

[2022-04-13 15:47] richardstartin opened #8534 "CAST function is not calculated at compile time which prevents usage of index/metadata"
This query
[code]

[code]

[code]

is much slower than
[code]

[code]

[code]

Because cast is not calculated at compile time. This results in the slow query not using metadata, because it doesn't know whether the function is volatile or constant.

[2022-04-13 19:02] #8489 closed

[2022-04-13 19:22] #8500 closed

[2022-04-13 19:41] timsants commented on #8500
Fix has been merged. We now do a full ZK metadata cleanup in case there is any failure during the table creation process.

[2022-04-13 20:33] walterddr opened #8537 "Pulsar test instability"
Error is occurring to Pulsar test case randomly on multiple of my PRs
[code]

<details>
  <summary>CI Logs. Click to expand</summary>

[code]

</details>

[2022-04-13 22:47] Jackie-Jiang commented on #7519
The aggregation only support is merged #7916

We should support group-by as the next step

[2022-04-13 23:53] Jackie-Jiang commented on #8512
@KKcorps Thanks for the benchmark! Can we also add a benchmark for parsing the formatted timestamp to long?

[2022-04-13 23:54] #8519 closed

[2022-04-14 06:52] Akshay2Agarwal opened #8541 "Query fails due to error in long conversion of millisecond time column in WHERE clause"
Facing an issue in pinot where queries like (as mentioned over [docs](https://docs.pinot.apache.org/configuration-reference/functions/now)):
[code]
fails over at this [line](https://github.com/apache/pinot/blob/release-0.10.0/pinot-spi/src/main/java/org/apache/pinot/spi/data/FieldSpec.java#L486) due to conversion failure.
Logs:
[code]

[2022-04-14 07:07] Akshay2Agarwal commented on #8541
I realized schema was missing my bad.

[2022-04-14 07:07] #8541 closed

[2022-04-14 10:22] richardstartin commented on #8529
Remaining blockers to running on JDK17 are:

* illegal reflective access in `FunctionInvoker` which blindly makes discovered methods accessible. This could be easily replaced with `MethodHandle`s and simply refuse to discover private methods from outside the module.
* Pinot currently cannot run on JDK17 with any combination of --add-opens/--add-exports because of the larray library which uses JDK

[2022-04-14 17:54] walterddr commented on #8424
new finding is that
[code]
will work. thus the CAST functionKind exist, just no impl for this in scalarFunction probably. will take a look at the fix

[2022-04-14 17:59] richardstartin commented on #8424
It's fixed here @walterddr  #8535

[2022-04-14 19:00] walterddr commented on #8424
checked out the PR and tested. still doesn't work. let me poke around. thanks for the info @richardstartin

[2022-04-14 19:17] richardstartin commented on #8424
I doubt the cause is the absence of a scalar function then. The motivation of that PR is to ensure casts in filters don’t prevent index use.

[2022-04-14 19:18] Jackie-Jiang commented on #5904
`SumPrecision` aggregation function introduced in #6053 solves the basic requirement
#8418 is adding the native BIG_DECIMAL data type into Pinot. Closing this issue and use that to track the progress

[2022-04-14 19:18] #5904 closed

[2022-04-14 19:27] walterddr commented on #8424
for the purpose of index use i think the PR works well. it doesn't solve what's describe in this issue though

[2022-04-14 19:31] Jackie-Jiang commented on #8418
Link the PR: #8503

[2022-04-14 19:42] Jackie-Jiang commented on #8418
Currently we store `BigDecimal` as bytes, but because the ordering of `BigDecimal` is different from bytes, we might have to introduce the `BigDecimal` into the data representation layer.
Checked the decimal value support in other systems, and most of them support up to 38 precision digits. Wondering the reason behind that, and if we can store the value in 136-bit format (1 sign bit, 6 scale bit,

[2022-04-14 20:43] Jackie-Jiang commented on #8418
I think the reason for the 38 precision digits is that we can use 128 bits to represent the value. If we know the digits after the decimal point (e.g. `DECIMAL(38, 10)`), we don't need to store the scale, and we can preserve the bytes order

[2022-04-15 04:16] WangCHX opened #8547 "ST_Contain function can use H3 native different polyfill mode when they release"
see title.

[2022-04-15 07:26] nizarhejazi commented on #8418
@Jackie-Jiang Supporting fixed-precision BigDecimal w/ configurable precision and scale (`DECIMAL(p, s)`) is a big intake and requires:

- Optimizing storage based on different precision values (1-9, 10-18, 19-38).
- Updating PinotDataType to not be an enum.
- Arithmetic operations that are precision-aware and scale-aware ([example impl.](https://prestodb.io/docs/current/functions/decimal.html#bin

[2022-04-15 10:24] suddendust commented on #7867
This can be closed as it's released in 0.10.0 @Jackie-Jiang

[2022-04-15 10:27] suddendust commented on #8526
Duplicate: https://github.com/apache/pinot/issues/7771

[2022-04-15 12:49] Airliquide76 opened #8549 "Jackson infinite recursion error (unnested fields)"
I face an error linked to cols name I think.

Version used 10.0.0

When I set a filter config with the folowing schema part :

`    "filterConfig":{
            "filterFunction": "Groovy({exceptionaltime.id != null })"
          },`

I've got a hudge shaded.com.fasterxml.jackson.databind  infinited loop see attached logs bellow.

[Githubissue.txt](https://github.com/apache/pinot/files/8495947/Gith

[2022-04-15 21:56] Jackie-Jiang commented on #8418
@nizarhejazi Good point on the challenges of supporting `DECIMAL(p, s)`. I think it is okay for us to add `BIG_DECIMAL` data type for arbitrary precision and scale (-32768 to 32767) first, then figure out how to add `DECIMAL` support in the future.
Go ahead adding the dictionary/raw forward index/transform function support etc. for `BIG_DECIMAL`. Sorry I didn't think through the problem initially

[2022-04-15 23:53] #8534 closed

[2022-04-16 00:05] Jackie-Jiang commented on #8424
Scalar function is used in the following places:
- Ingestion transform
- Compile time evaluation of literal only function
- Post aggregation transform
- If transform function is not implemented for the same name, scalar function can be used as transform function (poor performance)

For post aggregation transform and transform, if the result class for the scalar function is dynamic, we will treat i

[2022-04-18 01:14] #8526 closed

[2022-04-18 09:40] KKcorps commented on #8512
[code]
Updated the gist with code for this as well. Joda is faster in both cases

[2022-04-18 10:04] KKcorps commented on #8512
The above benchmarks were for Java 11. For Java 17, they seem much closer

[code]

[2022-04-18 16:34] npawar commented on #8549
On the slack thread, you mentioned you're using complexTypeConfig? Do you mind sharing the table config, the pinot schema and a sample row that fails?

[2022-04-18 17:56] #7867 closed

[2022-04-18 18:41] Jackie-Jiang commented on #8537
Fixed by #8554

[2022-04-19 08:31] Airliquide76 commented on #8549
Hi. As asked a few more informations :

[regulartimes-schema.txt](https://github.com/apache/pinot/files/8511219/regulartimes-schema.txt)
[regulartimes-table.txt](https://github.com/apache/pinot/files/8511220/regulartimes-table.txt)

This schema is actualy working. But as soon as I add

`"filterConfig":{ "filterFunction": "Groovy({regulartime.id != null })" },` -> It crash.

Here a sample of a few

[2022-04-19 22:36] walterddr commented on #8424
Initially I think we should wrap `@ScalarFunction` annotated methods into a `BuiltInScalarFunction implements FunctionDefinition` where all the interfaces are defined to support more complex function signatures.

Similar architecture is adopted in many sql-like systems to support UDF/UDAF/UDTF etc. thus I think the design should be sufficient. I will create a separate design doc for the `FunctionD

[2022-04-19 22:37] Jackie-Jiang commented on #8512
Cool! Since the difference is not big, I think we should start migrating to java library

[2022-04-20 00:29] pjpringle commented on #8251
Did you miss the END in the case statement?

[2022-04-20 00:33] pjpringle commented on #8476
#8429 Also this one

[2022-04-20 05:59] KKcorps commented on #8537
Re-opening the issue as it seems the flakiness is reduced but still occurs

[2022-04-20 07:35] richardstartin commented on #8512
The decision requires a little more due diligence than that ;) I have seen much larger differences in favour of Joda recently, and the bit directly above those results which says "REMEMBER: The numbers below are just data. To gain reusable insights, you need to follow up on why the numbers are the way they are." has been omitted.

[2022-04-20 08:18] richardstartin commented on #8512
Case in point, I found that Joda was 6x faster than Java time for year conversion here: https://github.com/apache/pinot/pull/8397#issuecomment-1077589112

There has been some progress in java.time recently:
* https://github.com/openjdk/jdk/pull/7957
* https://github.com/openjdk/jdk/pull/7989
* https://github.com/openjdk/jdk/pull/7990
* https://github.com/openjdk/jdk/pull/8014
* https://github.com/

[2022-04-20 13:13] saumya2700 commented on #8549
I am also getting the same exception using FiledTounnest configuration, I am not using any filterconfig still getting recursion error.

[2022-04-21 02:48] npawar commented on #8549
@Airliquide76 I couldn't reproduce the recursion issue, I tried with 0.10.0 and also with master.

If you're good with 0.10.0, then the only issue is with the filterConfig, and for that, the problem is that Groovy doesn't like "." in variable names. So you'll have to change the name of "regulartime.id" to something else. This is what worked for me:
[code]
and for this I had to change in schema too

[2022-04-21 02:49] npawar commented on #8549
@saumya2700 which version are you using? Can you try with 0.10.0 if you're using something older?

[2022-04-21 04:37] saumya2700 commented on #8549
I am using 0.10.0 v also one more observation this error start coming after some time when I have created table it is ingesting data for 2,3 days and it has around 45K data in it but after that due to this error everything stopped means all segments in external view are also in offline state. I gaian created same table config with different name and it started working and ingesting data but not su

[2022-04-21 05:39] saumya2700 commented on #8549
I am attaching schema , table and data
[recursionISsueSampleDataandSchema.txt](https://github.com/apache/pinot/files/8527601/recursionISsueSampleDataandSchema.txt)

[2022-04-21 06:07] saumya2700 commented on #8549
here is sample table, schema and sample data.
[Uploading recursionISsueSampleDataandSchema.txt…]()

[2022-04-21 06:58] KKcorps commented on #8537
OK. so the branch wasn't rebased in the PR :P

[2022-04-21 17:38] #8217 closed

[2022-04-21 20:03] KKcorps opened #8577 "Add HTTPS support in JDBC Driver"
Currently Java client supports HTTPS but JDBC clients doesn't expose these configs for end user. You can configure the protocol using the `scheme` property but no configs exist to configure TLS props.

[2022-04-21 22:19] deemoliu opened #8579 "Data loss in offline table after tenant migration and rebalancing (no server restart)"
We lose some data after migrating table to another tenant and rebalancing with downtime (no server restart). Is server restart a required step after migrating table to another tenant?

We did the following operation to move a table to another tenant
1. update tenant server in table config.
2. rebalance table with downtime.

After rebalanced, the below queries doesn't return result as expected.
`se

[2022-04-21 22:20] deemoliu commented on #8579
cc: @yupeng9 @chenboat @Jackie-Jiang

[2022-04-21 22:36] Jackie-Jiang commented on #8579
Did you recently refreshed this segment (push a new segment with same name but different content)? The only explanation to this behavior is that the segment refresh message is somehow not picked up by the server, so the server still serves the old segment. When the server is restarted, it detects the CRC mismatch when trying to load the segment, then downloads the new segment.
Can you please check

[2022-04-21 23:04] walterddr commented on #8537
this seems to be still recurring: https://github.com/apache/pinot/runs/6120269495?check_suite_focus=true.

if I understood correctly github action always merge master before running tests. so PR base doesn't matter. see the log in the above test link
[code]

[2022-04-22 09:13] cyrilou242 opened #8581 "DatetimeConvert does not support timezone when output format is epoch"
## Problem observed.
DatetimeConvert buckets with a given granularity. Buckets depend on the timezone.
When returning in a SimpleDateFormat, bucketing takes the timezone into account. (https://github.com/apache/pinot/pull/2295)
When returning in EPOCH format, it is not possible to pass a timezone. Bucketing is in UTC timezone.

To do a timezone aware bucketing with epoch output, my current workaro

[2022-04-22 21:22] Jackie-Jiang commented on #8581
I think we can add an optional fifth argument `timezone` to the `dateTimeConvert` which is used to specify the timezone for the bucketing. The timezone should not be associated with the output format because conceptually output format can be in a different timezone.
So conceptually we can have source in TZ1, bucketing on TZ2, then output as TZ3

[2022-04-22 22:30] sajjad-moradi opened #8585 "Support balanced segment assignment for consuming segments"
Currently for consuming segments, the following formula is used for segment assignment:
[code]
This gives us unbalanced assignment which is shown in the following examples:
[code]
In scenario#1, 4 instances don't get any segments assigned to them.
In scenario#2, instance `i0` has two times more segments than the other instances.

The existing realtime segment assignment tries to put all segments o

[2022-04-25 01:44] diogobaeder opened #8586 "Documentation issues for JSON columns"
Hi folks,

There's a few issues in the documentation for handling JSON columns.

In the documentation for handling JSON columns with JSON indexing, the configuration there is missing a top-level `ingestionConfig` configuration on the table config, and only inside `ingestionConfig` is where we should put `transformConfigs`. Also, that configuration part in the docs could be better formatted to have

[2022-04-25 12:20] Airliquide76 commented on #8549
Well issue was really linked with the groovy witch does not like the "." in my side.

For me this issue can be closed.

Many thanks

[2022-04-25 12:52] Airliquide76 opened #8588 "Implement purge process"
The goal of this issue is to share the implementation I've done witch is generic of PurgeTaskExecutor & PurgeTaskGenerator. In the minion pinot-minion-builtin-task module.

This will then allow everyone easly to implement his own way to purge in the BaseControllerStarter (importing class or developping his own version).

PR with first steps will come soon. Open to discussion.

[2022-04-25 15:39] Airliquide76 commented on #8588
PR linked with this issue

[2022-04-25 18:21] suddendust commented on #8399
@Jackie-Jiang Should this not be done for any input type and not just JSON?

[2022-04-25 19:18] suddendust commented on #8339
@mcvsubbu Sounds good to me. I shall put up a PR for this soon.

[2022-04-25 22:25] #8490 closed

[2022-04-25 22:26] #6523 closed

[2022-04-25 22:27] Jackie-Jiang commented on #6386
#6575

[2022-04-25 22:27] #6386 closed

[2022-04-26 06:33] snleee commented on #8585
Currently, we have `SegmentAssignment` interface and `OfflineSegmentAssignment & RealtimeSegmentAssignment` as its implementation. This approach doesn't allow us to pick the custom segment assignment strategy.

I think that we should first add the interface for `SegmentAssignmentStrategy` and make `SegmentAssignment` to use `SegmentAssignmentStrategy.assignSegment()`.

[code]

[2022-04-26 20:17] Jackie-Jiang commented on #8586
@diogobaeder Thanks for pointing out the issues. Would you like to help us improve the documentation for JSON? You may find the source code under this repo: https://github.com/pinot-contrib/pinot-docs

[2022-04-26 20:22] diogobaeder commented on #8586
@Jackie-Jiang sure! I'll fork it and send a PR, thanks :-)

[2022-04-26 20:50] Jackie-Jiang commented on #8549
Closing the issue.
@saumya2700 The exception you got is from flattening the docs, so it is under a different topic. If the problem is still not resolved, could you please create a separate issue?

[2022-04-26 20:50] #8549 closed

[2022-04-26 22:52] taohu18 opened #8595 "TEXT_MATCH query not working as described in documentation"
Based on the documentation, the above query should return all records containing "Boston Red" as is, however, records such as Boston Americans and Boston Doves are also in the query result. Looks like this match phrase query is not working as expected
![Screenshot from 2021-12-28 16-38-43](https://user-images.githubusercontent.com/85309206/165405599-f0af3ebb-576c-4a3b-bb11-3e977852f02c.png)
![Scre

[2022-04-26 23:01] walterddr opened #8596 "[Feature] Support LiteralContext to replace the default STRING literal"
Currently Pinot uses STRING type to store literal [in ExpressionContext](https://github.com/apache/pinot/blob/89836a57c0d2346e4a04d43c8a9d8ef1e7900b18/pinot-common/src/main/java/org/apache/pinot/common/request/context/ExpressionContext.java)

This was creating some confusion in resolving SQL queries for example: `array_remove_string(mvStringCol, 2)` actually removes the literal string `"2"` from t

[2022-04-26 23:06] walterddr opened #8597 "[Feature] create FunctionRegistry based on argument type not argument count"
Currently, Pinot's [FunctionRegistry](https://github.com/apache/pinot/blob/89836a57c0d2346e4a04d43c8a9d8ef1e7900b18/pinot-common/src/main/java/org/apache/pinot/common/function/FunctionRegistry.java) registers and looks up function based on name and function argument count. this causes a problem that we can't register 2 functions with the same name but different function argument types. for example

[2022-04-26 23:48] Jackie-Jiang commented on #8399
@suddendust Correct. The `RecordExtractor` for each input type should support this. The raw data can be stored as JSON string though. We might not want to store different type raw data for different input type because that might not be readable/queryable. E.g. raw bytes for Avro records

[2022-04-27 12:17] saumya2700 opened #8604 "Getting Jackson infinite recursion error after sometime when usingcomplexTypeConfig( FiledsTounnest)"
Getting  **Jackson infinite recursion error** after sometime and table segments went offline now that table is completely off and not ingesting any data. When I have created that table everything was fine data was going in this table, after 2,3 days saw that data is not coming to this particular table. During this period I have only add some indexes in table config apart from that nothing is chang

[2022-04-27 12:20] suddendust commented on #8399
@Jackie-Jiang This sounds good to me. @saumya2700 If you're not working on this, I can pick this up?

[2022-04-27 17:56] npawar commented on #8604
thanks for the details @saumya2700 , will take a look

[2022-04-27 19:31] Jackie-Jiang commented on #8595
Can you please try removing the escape character? I believe that is used to escape the double quotes within a java string, and should not be added to the query.
cc @siddharthteotia

[2022-04-27 21:58] walterddr opened #8605 "[Feature] support type inference and automatic type casting when searching for ScalarFunction"
Background
===
Currently Pinot already implements some of the type hoisting - for example:
* the datatable builder automatically converts int/float/long/double numeric type content to the corresponding data schema required data type.

However sometime this doesn't work quite well. for example
* sum(long, long) will result in double

Propose
===
- Create a type inference system to automatically hoi

[2022-04-27 22:07] taohu18 commented on #8595
@Jackie-Jiang Thanks for replying, I removed the double quotes but the result still looks incorrect. Some records only have "Boston" and some only have "Reds". Not all records contain "Boston Red" as is.
cc @siddharthteotia

[2022-04-27 23:09] Jackie-Jiang commented on #8595
@taohu18 Not removing the double quotes, but just the backslash. I just updated the documentation page, please take a look.

[2022-04-28 00:02] taohu18 commented on #8595
Thanks, it works! I will close this issue. Thanks again!

[2022-04-28 00:02] #8595 closed

[2022-04-28 08:41] richardstartin commented on #8306
Hi @jackjlli please ensure this fix is incorporated here before merging, it significantly reduces the time to run tests which involve job queues https://github.com/apache/helix/pull/2065

[2022-04-28 09:44] richardstartin opened #8607 "Explain plan can be misleading"
I have a query as follows:

[code]

It produces a nonzero result:

| count(*) |
|--|
|323650488|

However, when I try an explain plan:

[code]

The query plan picks a segment at random which should have been pruned, and doesn't reflect the way the query is evaluated:

Operator | Operator_Id | Parent_Id
-- | -- | --
BROKER_REDUCE(limit:10) | 0 | -1
COMBINE_AGGREGATE | 1 | 0
FAST_FILTERED_COUNT | 2

[2022-04-28 09:45] saumya2700 commented on #8399
yes Please go ahead.

[2022-04-28 12:40] mneedham commented on #8586
@diogobaeder  have applied your feedback to the docs - https://docs.pinot.apache.org/basics/data-import/complex-type

[2022-04-28 13:10] diogobaeder commented on #8586
Awesome, thanks @mneedham ! :-)

[2022-04-28 13:10] saurabhd336 commented on #8604
@saumya2700 Would you happen to have to full exception? Also it'll help if you could share the pinot version you're running.

[2022-04-28 17:00] jackjlli commented on #8306
Thanks @richardstartin for the heads up! However, since it's recently merged, I don't think it'll be ready in the latest official release yet. We can still keep this issue open after the Helix version is bumped up from 0.9.+ to 1.0.+.

[2022-04-28 18:36] walterddr opened #8610 "[Feature] Support dynamic return type in function such as CAST"
Background
===
Following #8597 to support argument-type-based function lookup, it is possible that argument types themselves is not sufficient to determine the result type, for example `CAST(intCol AS 'long')` and `CAST(intCol AS 'int')` will have the same argument types `int, string` but different return type `long` vs. `int`.

Proposal
===
Propose to allow annotation of `@ScalarFunction` to anno

[2022-04-29 00:14] Jackie-Jiang commented on #3471
This is supported in SQL (PQL is deprecated)

[2022-04-29 00:14] #3471 closed

[2022-04-29 00:14] #552 closed

[2022-04-29 00:15] #37 closed

[2022-04-29 01:03] Jackie-Jiang commented on #8607
cc @amrishlal

[2022-04-29 05:54] saurabhd336 commented on #8515
This has been enabled with https://github.com/apache/pinot/pull/8574 and https://github.com/apache/pinot/pull/8593

[2022-04-29 06:54] KKcorps opened #8616 "[Flaky test] BasicAuthRealtimeIntegrationTest.testSegmentUploadDownload"
It fails sometimes with the following error:

Error:    BasicAuthRealtimeIntegrationTest.testSegmentUploadDownload:189 expected [118677] but found [115545]

[2022-04-29 09:18] saumya2700 commented on #8604
More logs around this  error :
[detailLogsInfiniteRecursion.txt](https://github.com/apache/pinot/files/8589707/detailLogsInfiniteRecursion.txt)
and I am using version 0.10.0

[2022-04-29 17:00] npawar opened #8617 "Add CSV Decoder for realtime"
We only have JSON and Avro. Add support for CSV

[2022-04-29 17:02] #8515 closed

[2022-04-29 18:18] vvivekiyer opened #8618 "Query Processing Resiliency"
To make our query processing pipeline resilient to failures (like server slowness, crashes, etc), we can make some improvements in the broker and server components. I am working on a doc to identify and expand these issues with design and implementation details. The identified improvements are called out below:

### Server Selection
When a  broker receives a query, it identifies the list of server

[2022-04-29 18:19] vvivekiyer commented on #8618
cc: @siddharthteotia  @Jackie-Jiang @jasperjiaguo

[2022-05-02 05:29] prashantg077 opened #8623 "[Feature] can i use apache pinot to query data already stored in a Nosql DB deployed on cloud."
I have a requirement where i need to fetch data already stored in Azure cosmos db (Nosql) . The query result from cosmos db then needs to undergo some transformations before the response could be returned. Also there is live streaming data coming from Kafka which needs to be queried along with data from Cosmos Db.
Can i use pinot for this workflow.

Is this feature supported by Pinot

[2022-05-02 13:06] prashantg077 commented on #8623
cc: @siddharthteotia @Jackie-Jiang @jasperjiaguo

[2022-05-02 13:53] ddcprg opened #8624 "Unable to select column defined as an array of timestamps"
Given the following schema:

[code]

When a query selects the column `timestamp_array_col` the following exception is thrown:

[code]

Any other column can be in the projection with no issues. It seems a matter of adding `TIMESTAMP_ARRAY` to the switch statement in https://github.com/apache/pinot/blob/master/pinot-core/src/main/java/org/apache/pinot/core/query/selection/SelectionOperatorUtils.java

[2022-05-02 17:53] suddendust commented on #8399
@Jackie-Jiang So I gave this a thought. Even if this new property is set to true, then filter configs and transform configs should keep working, right? As in, Pinot should store these records as JSON after applying the filters and the transforms. Or should be store the record as-is? I think if the user has provided the filter or the transform configs, we should apply then. Else, store as-is. What

[2022-05-03 00:17] siddharthteotia commented on #8607
Working on it

[2022-05-03 00:24] siddharthteotia commented on #8607
One approach could be:

- Send query to all segments and all servers
- On the broker, pick the response with deepest tree and avoid merging across segments

I think this is fairly simple

While the above will address the general accuracy issues pointed out above associated with picking a random segment on a random server, there is still going to be some inaccuracy in the case where a server physic

[2022-05-03 00:26] siddharthteotia commented on #8487
Fixed with https://github.com/apache/pinot/pull/8518

[2022-05-03 00:27] siddharthteotia commented on #8444
Fixed with https://github.com/apache/pinot/pull/8518

[2022-05-03 00:27] #8444 closed

[2022-05-03 02:41] jadami10 commented on #8444
thanks for working on this! I didn't see a test example, but does `WHERE NOT <boolean_field>` work correctly?

[2022-05-03 02:50] saurabhd336 commented on #8318
These PRs add this functionality
https://github.com/apache/pinot/pull/8514
https://github.com/apache/pinot/pull/8606

[2022-05-03 04:03] vvivekiyer commented on #8444
Hi Johan, yes it should. I just tested it out locally for a use-case. I didn't add a test-case example because AND, OR, NOT are processed similarly.

[2022-05-03 04:21] vvivekiyer opened #8627 "Support filtering for literals"
Handle `false`, `0` and `0.0` as FALSE. All other values as true.

This is a follow-up change to #8444

[2022-05-03 08:31] richardstartin commented on #8607
I think it's misleading to choose just one child, it's not a degenerate case for the to be a mix, where some segments can be skipped over based on metadata and others need to perform some real work. This can also happen if there has been a configuration change and the segments are in a mixed state.

[2022-05-03 11:33] atris commented on #8585
@sajjad-moradi Are you actively working on this?

[2022-05-03 12:53] suddendust commented on #8617
@npawar Can take this up, working on a very similar [feature](https://github.com/apache/pinot/issues/8399).

[2022-05-03 15:08] npawar commented on #8617
Thanks Prashant!

[2022-05-03 16:15] snleee commented on #8585
@atris Thank you for the interest. @GSharayu is working on this.

[2022-05-03 16:17] atris commented on #8585
Cool, thanks. I had somebody I wanted to introduce to Pinot so thought this might be a good issue :D

[2022-05-03 18:26] Jackie-Jiang commented on #8627
Let's list down the standard SQL semantics for using different data type as boolean. These rules should be applied to all expressions in addition to literals.

[2022-05-03 19:00] #7256 closed

[2022-05-03 20:13] deemoliu commented on #8579
Thanks @Jackie-Jiang for taking a look.

We have successfully reproduce the issue yesterday by rebalancing the table. We find that something updated the hdfs url for this segment.

`/var/log/streaming-pinot-controller/pinot-controller-2022-04-06.2.txt:2022-04-06 22:13:48.490 [jersey-server-managed-async-executor-9] INFO  o.a.p.c.a.r.PinotSegmentUploadDownloadRestletResource  - Setting zkDownloadUr

[2022-05-03 21:34] Jackie-Jiang commented on #8623
Currently there is no way to directly pull data from an external DB. You will need to first dump the data from the DB into a supported file format, then use the Pinot ingestion flow to ingest the data into Pinot.
You may use the [hybrid table](https://docs.pinot.apache.org/basics/components/table#hybrid-table) setup to serve data from both batch source and streaming source.

We may support pulling

[2022-05-03 21:39] Jackie-Jiang commented on #8399
@suddendust IMO we should still honor the filter and transform configs. This new config means we want to store the whole record into a configured field, but we should still support filtering/extracting fields from the records. User might choose to use this new config to capture the whole record, but still extract the fields that are commonly used in the query for performance reason.

[2022-05-03 21:56] npawar commented on #8581
@Jackie-Jiang is this something we can pick up? Is it a beginner issue?
Or would you prefer just getting to the DateTimeFieldSpec refactoring that you were suggesting? If so, mind adding a couple of lines about it?

[2022-05-03 21:59] npawar commented on #8579
Hey @deemoliu , what were your further findings? Were the urls updated by some operation on your end, or did it happen because of some Pinot operation that needs to be debugged further?

[2022-05-03 22:02] npawar commented on #8547
@WangCHX does your PR address and fix this? Can this be closed or does it need further work?

[2022-05-03 22:09] npawar commented on #8492
FYI @saurabhd336

[2022-05-03 22:11] npawar commented on #8476
@pjfanning i saw some PRs from you. Are these all addressed? If so, would you please close this issue?

[2022-05-03 22:16] Jackie-Jiang commented on #8537
I'm still seeing the exact same failure. @KKcorps Please take another look

[2022-05-03 22:19] npawar commented on #8423
has this been resolved? can the issue be closed?

[2022-05-03 22:21] #8418 closed

[2022-05-03 22:23] npawar commented on #8406
@elonazoulay can you confirm regarding the schema and if it is an issue even though you have a schema?

[2022-05-03 22:23] #8318 closed

[2022-05-03 22:45] Jackie-Jiang commented on #8581
@npawar They are orthogonal. I can create a separate issue for the new time format

@cyrilou242 Do you want to help contribute this enhancement?

[2022-05-03 22:56] amrishlal commented on #8607
If we want to be 100% accurate, then probably the only option is to move towards full evaluation of EXPLAIN PLAN over all segments on all servers.  To start with maybe we could evaluate EXPLAIN PLAN against one segment of each server and do broker reduce and dedup over all the servers. Later on a server combine could be added for evaluating against all segments? For now, although not ideal, the us

[2022-05-03 23:11] Jackie-Jiang opened #8632 "Re-design the date time format"
Currently the date time format is of the format:
- `<size>:<timeUnit>:<timeFormat>(:<pattern>( tz(<timezone>))`

E.g.
- `1:SECONDS:EPOCH`
- `1:DAYS:SIMPLE_DATE_FORMAT:yyyy-MM-dd tz(America/Chicago)`
- `1:MILLISECONDS:TIMESTAMP`

The problem of this format is that for certain time format, the size and time unit is implicit, and will cause confusion.

The proposal is to change the time format to:
-

[2022-05-04 00:05] deemoliu commented on #8579
hi @npawar thanks for looking into the issue. I think the URL is updated by some user operation. The user has three hive to Pinot jobs that used the same input hive table and write to the same pinot table. I will understand more on the use case and get back to you.

[2022-05-04 03:33] #7430 closed

[2022-05-04 04:02] xiangfu0 commented on #7430
This is huge! Big congrats!

[2022-05-04 06:08] pjfanning commented on #8476
@npawar I didn't submit any NPM changes. I am not a UI expert and do not feel I would be a good person to test any changes.

[2022-05-04 06:15] #5837 closed

[2022-05-04 06:15] #6000 closed

[2022-05-04 06:15] #6519 closed

[2022-05-04 06:17] KKcorps commented on #6992
Is this test still flaky? I see it is currently disabled.

[2022-05-04 06:38] #5703 closed

[2022-05-04 06:44] KKcorps commented on #8632
I feel both if these formats cause a lot of confusion for new users. What each value represents is not implicit and requires going through the doc to change every time.
I propose a better way to handle this is to just keep this whole field as JSON.
e.g.

[code]

[2022-05-04 07:56] siddharthteotia opened #8634 "Consider doing bulk processing in SV scan iterator"
[code]

https://github.com/apache/pinot/blob/master/pinot-core/src/main/java/org/apache/pinot/core/operator/dociditerators/SVScanDocIdIterator.java

Bulk API can potentially be added to do this in a tight-loop (vectorized like manner) for few fixed number of records at a time as opposed to a function call to `doesValueMatch` per document. May be there is way to change interface such that caller of

[2022-05-04 08:03] richardstartin commented on #8607
I think the deepest child heuristic might be the right trade off between accuracy and whatever it is which prevents considering the entire query execution.

[2022-05-04 10:03] ryanruaneyougov opened #8635 "Json ingestion failing for some array types"
I have found that I can ingest using JSON all types as multi-valued dimension columns with the exception of BOOLEAN, TIMESTAMP, and BYTES. I believe that JSON_ARRAY isn't a valid type, but I wasn't sure about BYTES_ARRAY. If anyone is about and can shed some light, I would be very appreciative.

For BYTES_ARRAY I get:
[code]

For BOOLEAN_ARRAY I get:
[code]

For TIMESTAMP_ARRAY I get:
[code]

Here

[2022-05-04 10:12] saurabhd336 commented on #8604
@saumya2700 just trying to understand the usecase here, why'd you want to unnest non array fields? Ideally filedsToUnnest should have fields that are array of objects. This issue is being caused due to non array fields being unnested that isn't a valid usecase.
Can you describe your usecase you're trying to solve with unnesting these fields? There should be some alternative ways to solve for it. I

[2022-05-04 11:20] saurabhd336 commented on #8604
I was able to successfully ingest (without the infinite nesting) using transformConfigs as follows
`"ingestionConfig": {
      "transformConfigs": [
        {
          "columnName": "header.trId",
          "transformFunction": "JSONPATHSTRING(header, '$.trId')"
        }
      ]
    }`

Similar transformConfigs can be added for all the nested fields to be able to extract them during ingestion.

[2022-05-04 17:42] walterddr opened #8637 "[Feature] Create a server-level consumer rate limit"
follow up on #6291. we now have a way to throttle on a per-table basis. but we don't have a way to limit the global rate for the server.

I don't have a good idea on how to limit on a server level or how to distribute the rate limit fairly to each realtime table. but this would be a good feature to have to safeguard, otherwise ops will have to come up with clever configuration balance for each tab

[2022-05-04 18:24] jasperjiaguo opened #8638 "Buffer overflow exception in `VarByteChunkSVForwardIndexWriter` of Spark data push flow"
Our Spark push flow is failing with a table using var length dictionary, but the hadoop job succeeded on the same table.
[code]

[2022-05-04 18:24] jasperjiaguo commented on #8638
cc @Jackie-Jiang @siddharthteotia

[2022-05-04 18:29] #8488 closed

[2022-05-04 18:31] Jackie-Jiang commented on #6992
@KKcorps Can you please go through the test again and see if we can re-enable it

[2022-05-04 18:40] Jackie-Jiang commented on #8632
@KKcorps Agree that keeping it as JSON would be easier to use. We still need a single string representation though which can be used as the argument of the `DATE_TIME_CONVERT` function. The changes proposed here is for the existing `DateTimeFieldSpec` and `DATE_TIME_CONVERT` function, and we should do it in a backward compatible way.
The long term solution should be to introduce the `DATE_TIME` da

[2022-05-04 18:49] Jackie-Jiang commented on #8638
It think this issue is fixed in #8286. Can you please try the same job with the latest version?

[2022-05-04 19:52] xiangfu0 commented on #7430
Pinot deprecates PQL fully, only SQL endpoint is supported moving forward from 0.11.0 release.

[2022-05-04 19:57] xiangfu0 commented on #5807
Closed as #7430

[2022-05-04 19:57] #5807 closed

[2022-05-04 22:20] xingyc15 opened #8641 ""Failed to generate Pinot segment for file" didn't throw an exception"
A pinot segment creation failure happened when I run a standalone script for offline ingestion. But the problem is that, this failure didn't raise any exception, but just print an error and mark the task as succeed. We are running this data ingestion as an airflow task, this missing exception pretty much delay us from debugging. Our error log is:

[2022-04-28 00:32:36,377] {pod_launcher.py:149} IN

[2022-05-05 02:28] npawar commented on #8604
@saumya2700 , as Saurabh has pointed out, you need to remove all the non-array fields from fieldsToUnnest. Here's what works. Schema should have, instead of just calActivity.metadata,
[code]
Ingestion config should just have
[code]
You dont need any transform functions, just this is enough.

Please try this out and let us know

[2022-05-05 16:21] siddharthteotia commented on #8634
- It seems like there is a potential performance overhead associated with dynamic virtual call dispatch given that "vtable stub" shows up as taking top 22% of time.
- This is most likely coming from return _reader.read(docId) in FixedBitSVForwardIndexReaderV2 as the read() call has to be dispatched to the actual bit reader (1 of 32 types)
- The function call overhead and in fact virtual dispatch o

[2022-05-05 16:37] siddharthteotia commented on #8634
@vvivekiyer is going to take a stab at this.

[2022-05-05 17:06] KKcorps commented on #8635
The `java.lang.UnsupportedOperationException: Unsupported data type : BYTES` seems due to missing case for BYTES in dictionary creator. @Jackie-Jiang `SegmentDictionaryCreator.indexOfMV` doesn't have `BYTES` case handled. Is that by design?

[2022-05-05 17:11] KKcorps commented on #8635
The other errors are due to casting in `PreIndexStatsCollector` classes. e.g. ` long value = (long) entry;` which throws error when entry is of type `Timestamp`. This definitely seems like a bug to me. Will work on the fix.

[2022-05-05 17:54] Jackie-Jiang commented on #8635
Initially we don't support `BOOLEAN`, `TIMESTAMP`, `BYTES` as MV, and the support is added recently. Some paths might be missed, and we should fix them.
cc @richardstartin

[2022-05-05 18:56] Jackie-Jiang commented on #8641
Thanks for reporting the issue. Can you help contribute a fix to this?
cc @xiangfu0

[2022-05-07 06:21] suddendust commented on #8617
PR: https://github.com/apache/pinot/pull/8658

[2022-05-07 14:52] suyuyi opened #8660 "pinot-pulsar compile failed on M1 Mac"
Hi, I just encountered some problems during maven build Pinot on IDEA.
I try to build pinot on my mac, and use [maven command from pinot doc](https://docs.pinot.apache.org/basics/getting-started/running-pinot-locally) like this  `clean install -e -Pbin-dist -Papple-silicon -DskipTests`, but IDEA report some errors:
[code]
I find some report on Pulsar Built Error on M1, like [this](https://github.c

[2022-05-09 02:07] suyuyi commented on #8660
Hi, I just find I installed wrong openjdk(11.0.3 - macOS x64 DMG Installer), and I installed Azul Zulu openjdk(11.0.13+8 Zulu: 11.52.13 ARM 64-bit v8), and use `clean install -e -Pbin-dist -Papple-silicon -DskipTests`, but it compile fail again, for the same reason
[code]
But I find some parameters changed
[code]
It became same with my mac os info, but as I used recommend M1 profile in setting.xml

[2022-05-09 03:50] saumya2700 commented on #8604
yes okay sure I will try this and let you know.

[2022-05-09 17:49] Jackie-Jiang commented on #8660
@zhtaoxiang Are you using the M1 Mac? If so, can you please help provide some insights here?

[2022-05-09 18:59] Jackie-Jiang commented on #8641
@kkrugler Good question. I also found that override is not properly handled when it is not allowed. Currently we only log a warning and continue.
We may support both behaviors using a `terminateOnFailure` flag:
1. If it is not set (default), we should track all the failed segment and continue. We shouldn't need to clean up the file in the `outputSegmentTarURI` because copy is the last step of the

[2022-05-09 22:18] #7357 closed

[2022-05-10 02:32] walterddr opened #8668 "[Feature] support simple cursor operations"
Background
===
One of the frequently asked features of Pinot is the ability to retrieve the query result in small batches. For example,
- users may perform resource-intense computations on the result on a row-by-row base; and materializing the entire result set in memory is wasteful.
- support for some other systems like sql-alchemy (in https://github.com/python-pinot-dbapi/pinot-dbapi/) requires

[2022-05-10 04:44] atris commented on #8668
As discussed, I will taking a shot at this.

@Jackie-Jiang Any thoughts/inputs to share, please?

[2022-05-10 09:01] gortiz opened #8671 "Pinot is not pruning some`in` expressions when it can"
By reading this test, is clear that there are some cases where Pinot is not pruning expressions it can prune. Specifically:

1. If all values are outside the max/min range but at least one was in the bloom filter, the segment is not pruned.
2. If at least one candidate value is in the max/min range, the bloom filter is not applied.
3. When there is no bloom filter, `eq` doesn't prune, but `in` doe

[2022-05-10 17:40] kkrugler commented on #8641
@Jackie-Jiang - that does seem much cleaner.

When you say `fail the task with all the failed segments returned` are you saying the thrown exception should contain a message with a list of all failed segment names?

Also should the fix for override disallowed (a) be a separate issue/PR, and (b) would you expect that the job would still fail, regardless of the new `terminateOnFailure` flag? If so t

[2022-05-10 18:55] #8671 closed

[2022-05-10 19:55] siddharthteotia commented on #8607
Change is in progress

[2022-05-10 19:57] siddharthteotia commented on #8618
@vvivekiyer  has code changes / prototype in progress along with adding those concrete details to the design doc for server selection. Will share for review soon

[2022-05-10 21:25] #8532 closed

[2022-05-10 21:36] Jackie-Jiang commented on #8641
@kkrugler
IMO we should definitely fail the task if some segments are not properly generated. If we only log some warning/error but let the task succeed, very likely user will ignore them and get unexpected behavior.

To keep the behavior similar to the current behavior, we can add them in multiple PRs:
1. Track all the failed segments into a list, but keep the task running. After all the segments

[2022-05-10 23:00] Jackie-Jiang commented on #8265
This is caused by a bug in the `metro-mimepull` library: https://github.com/eclipse-ee4j/metro-mimepull/issues/11

[2022-05-10 23:23] Jackie-Jiang commented on #8218
The root cause is the same as #8265. Closing this one

[2022-05-10 23:23] #8218 closed

[2022-05-10 23:57] Jackie-Jiang commented on #8212
Duplicate with #8532, fixed in #8675

[2022-05-10 23:57] #8212 closed

[2022-05-10 23:59] Jackie-Jiang commented on #8222
@klsince Please take a look at this test and see if it still applies

[2022-05-11 00:17] klsince commented on #8222
will look

[2022-05-11 18:31] richardstartin opened #8684 "`GrpcBrokerClusterIntegrationTest` is flaky"
https://github.com/apache/pinot/runs/6393195568?check_suite_focus=true

[2022-05-11 19:27] walterddr commented on #8684
another probably related: https://github.com/apache/pinot/runs/6380255258?check_suite_focus=true

[2022-05-11 20:25] #8265 closed

[2022-05-11 21:03] walterddr commented on #8684
the issue from
https://github.com/apache/pinot/runs/6393195568?check_suite_focus=true seems to be a runner failure rather than related to GRPC.
[code]

[2022-05-11 21:21] walterddr commented on #8684
regarding the second one
[code]
looks like a query timeout

[2022-05-11 23:55] klsince commented on #8222
not able to reproduce failure on my local; and didn't spot this test case being flaky recently. but lemme know if you've noticed any recent failure on this test case.

[2022-05-12 05:42] suyuyi commented on #8660
Hi I just solved this problem. I find that I installed Rosetta, so I just used jdk-11.0.13_osx-x64 and didn't use the apple-silicon profile. And it build successfully.

[2022-05-12 05:42] #8660 closed

[2022-05-12 16:12] kkrugler commented on #8660
@suyuyi - it would be great if you could add the above to (not sure??) a sub-section [here](https://docs.pinot.apache.org/developers/developers-and-contributors/code-setup#maven). Though @mneedham it seems like there should be a separate page for building (with descriptions of various options like what profile to use) that could be referenced from multiple places (e.g. steps for submitting a PR).

[2022-05-12 20:01] richardstartin opened #8690 "PulsarConsumerTest.testPartitionLevelConsumer is flaky"
https://github.com/apache/pinot/runs/6412121833?check_suite_focus=true

[2022-05-12 22:01] dang-stripe opened #8692 "Is it possible to configure realtime servers to directly upload to deep store?"
It seems that the peer download feature allows uploading segments from realtime servers directly to the deep store (in our case S3). Is it possible to enable uploading directly from servers to S3 instead of through the controllers?

https://docs.pinot.apache.org/operators/operating-pinot/decoupling-controller-from-the-data-path

cc @Jackie-Jiang

[2022-05-12 22:26] Jackie-Jiang commented on #8692
Currently directly uploading to deep store is coupled with the peer download feature, so you can just follow the doc to configure the table.
We can consider decoupling these 2 features, but enabling peer download just adds extra availability to the cluster in case the deep store is down for some reason and server is not able to upload the segment.

[2022-05-12 23:40] dang-stripe commented on #8692
Does that mean there's a potential risk of data loss? If the realtime servers are unable to upload their segment to deep store, they can continue to commit segments via the controller. What happens if they get replaced before other replica servers are able to download the segment?

[2022-05-13 01:11] Jackie-Jiang commented on #8690
@KKcorps Can you please take a look? I also got this failure in #8677, not sure if they are related (not likely related though)

[2022-05-13 01:15] Jackie-Jiang commented on #8692
@dang-stripe Good point. So we should decouple these 2 features, and if peer-download is not enabled, we should still allow server to directly upload the segment to the deep store, but abort the segment commit if the upload failed

[2022-05-13 01:27] npawar commented on #8604
@saumya2700
You don't need to add the transform configs for every field. As i've pasted in my message above, all you need to do is remove the non-array fields from the fieldsToUnnest.
Regarding the transform functions you're trying out, it will not work for the existing rows, because those rows don't have any way of knowing what "header" is. That information was only in the source data. To make it

[2022-05-13 01:53] xiangfu0 commented on #8690
Another try: https://github.com/apache/pinot/pull/8691

[2022-05-13 04:00] saumya2700 commented on #8604
YEs it will not work for existing rows , but it is not working for new rows even. I dont want backward compatible just wanted to get data for new records in this new column.

[2022-05-13 06:44] KKcorps commented on #8690
Looking into it. I am still not able to understand why this error occurs at randomly and is impossible to produce in local.

[2022-05-13 14:57] walterddr commented on #8624
this should be fixed by #8648 just ran the test in #8625 and it worked without any changes

[2022-05-13 18:38] nizarhejazi opened #8697 "Proper NULL value support in Pinot"
When `nullHandlingEnabled` config is set to true, Pinot still returns (in `SELECT`) the default value of columns vs. null when the value is null. Null value is supported only in filtering phase.

Reserving a special value of primitives to indicate Null does not work for our use case for the following reasons:
- We have to mix two different styles of working with nulls (IS/IS NOT NULL predicate vs.

[2022-05-13 19:45] zhixun-luy opened #8698 "Difference between repo and docs"
ThirdEye repo moved to https://github.com/project-thirdeye/thirdeye
And Pinot docs: 1: Update the data sources configuration
       Insert the connector configuration for Pinot in thirdeye-pinot/config/data-sources/data-sources-config.yml.
But data-sources-config.yml is in "thirdeye-dashboard/config/data-sources/data-sources" folder.
This is one issue of all I've found some differences in docs.
Is

[2022-05-13 19:49] vvivekiyer commented on #8618
The plan is to address each section one by one.
As the first step, I've expanded the "Server Selection" section with a focus on two parameters - "Server Latency" and "Number of inflight queries". Here is the design doc - https://docs.google.com/document/d/1w8YVpKIj0S62NvwDpf1HgruwxJYJ6ODuKQLjGXupH8w/edit?usp=sharing

Please review.

[2022-05-13 19:51] vvivekiyer commented on #8618
@Jackie-Jiang  please review the design doc above.

[2022-05-13 20:34] Jackie-Jiang opened #8699 "Enhance the default column handling"
When new columns are added to a pinot table, the server is able to automatically generate default columns for the new added columns. There are 2 types of default column that can be auto-generated:
1. New added column without transform function: default column will be filled with default null value (always dictionary encoded)
2. New added column with transform function (derived column): default col

[2022-05-13 23:54] Jackie-Jiang commented on #8690
Usually the test failure that is hard to reproduce locally is due to the slowness of the CI machines. We may use `TestUtils.waitForCondition()` if the condition is not guaranteed to be met at the first place

[2022-05-14 00:42] ksnijjer opened #8700 "Support dynamic updates to existing derived columns in table"
Currently Pinot doesn't support runtime changes to existing derived columns (for e.g change to ingestion transform expression) in table. Only way to make such updates is to either delete/recreate the table and ingest from scratch or add a new derived column with the changes, neither of which are ideal from usability perspective.

Can we consider improving this behavior so users can easily make adj

[2022-05-14 00:59] mcvsubbu commented on #8618
Some thoughts.

The broker could keep track of a "health score" for serves and rank them. The score could include a variety of dimensions like:
- How much thread cpu the server has used up in the last N time units?
- What has been the response time of the server for the last M queries (perhaps normalized to the thread cpu used?)
- maybe others as well

The servers could also send a score of their

[2022-05-14 01:10] snleee opened #8701 "BaseChunkSVForwardIndexWriter's default version can end up storing the overflowed chunkOffset in the header"
BaseChunkSVForwardIndexWriter's default version is V2. V2 uses 4bytes to store chunkOffset. When there are a lot of rows for "noDictionaryColumn", it can actually store overflowed int value for chunkOffset in the header. From V3, we store long value so we won't face this issue.

![image](https://user-images.githubusercontent.com/27253407/168405217-0c5cd4a5-857d-4cba-bd88-5fda645b903a.png)

The cor

[2022-05-14 03:35] kishoreg commented on #8618
Thanks for putting this together. It's very detailed and well explained.

What I am not sure if there is a need for this in Pinot in a real life use case.

Traditionally, these strategies work well for task distribution where a task can be executed on any of the worker nodes and there is a huge variance among the task.. something like one task taking 10 minutes vs 1 minute vs hour etc.note that I

[2022-05-14 09:44] richardstartin opened #8704 "Property based query testing"
Given the same data, schema, the same query against two different table configurations should always produce the same result. Generating table configurations over a schema and checking this invariant for generated random data would help to find bugs in operators and index implementations.

[2022-05-15 11:39] richardstartin commented on #8701
V4 would also avoid this, has some other advantages discussed [here](https://docs.google.com/document/d/1Y7MyQGmDD2fI7brOOFQtToxd8ML837qRuc3IlNYFvCw/edit) but has a size limit of 4GiB.

[2022-05-15 18:09] zhixun-luy commented on #8698
https://thirdeye.readthedocs.io/en/latest/index.html
It's showing the example configuration with MySQL, but my data is Pinot data.
I'm trying to set csv data(I've already installed Pinot docker and added this csv as dataset/table) in thirdeye dashboard.
How can I change the configurations for this?

[2022-05-16 15:26] siddharthteotia commented on #8618
We have seen the following repeatedly in production:

- A server slows down:
--  because the queries already running there are taking up huge cpu / GC /
-- or the server indeed happens to be running a lot of  expensive queries
-- or something else is going on the server that is hogging cpu.
-- In one of the cases queries were simply waiting in schedQueue and BPF profiler was taking up CPU
-- Basic

[2022-05-16 17:32] klsince commented on #8222
sampled a few recently failed PR builds, and didn't find this test failed the build. I'm closing this for now.

[2022-05-16 17:44] #8701 closed

[2022-05-16 17:54] richardstartin commented on #8222
I encountered this today!

[2022-05-16 18:21] Jackie-Jiang commented on #8700
Great feature request!
In order to do so, we should persist the transform function used to generated the column in the segment metadata, then check if the transform function in the table config and segment metadata matches during the segment load. If the transform function does not match, and the source column exist in the segment, we can remove and re-generated the derived column.
There is one sp

[2022-05-16 18:23] #8617 closed

[2022-05-16 19:20] suddendust commented on #8617
❤️ thanks everyone :)

[2022-05-16 19:48] Jackie-Jiang commented on #8698
@apucher @suvodeep-pyne Can you please take a look at this issue? Is this the up-to-date thrid-eye doc?

[2022-05-16 21:28] suvodeep-pyne commented on #8698
@Jackie-Jiang we are already chatting with @zhixun-luy on slack.

[2022-05-16 21:51] Jackie-Jiang commented on #8698
@suvodeep-pyne Thanks! Can you please update this issue with some context (chat history should be fine). Can we close this issue if it is already resolved?

[2022-05-16 22:44] Jackie-Jiang commented on #8222
I think this is due to the iteration order of the hash map. @richardstartin Do you run into this locally or in Github Actions? Can you post the link here if there is one?

[2022-05-16 23:49] xiangfu0 opened #8714 "CI failing because for flaky dependencies resolution"
Sample run:
https://github.com/apache/pinot/runs/6431105558?check_suite_focus=true

Is there any retry mechanism for dependencies download resolution?

[code]

[2022-05-17 00:56] Jackie-Jiang opened #8716 "[Flaky Test] ClusterIntegrationTest.cleanupTestTableDataManager()"
https://github.com/apache/pinot/runs/6461677185?check_suite_focus=true

[2022-05-17 00:56] Jackie-Jiang commented on #8716
@jtao15 Can you please help take a look?

[2022-05-17 07:01] KKcorps opened #8717 "Data not getting consumed from all Kafka partitions"
Issue currently being faced one of our users.

[code]

Here is what segments status looks like

[code]

Data is not getting consumed from partition 0 and 2. For Partition 2, here's what metadata looks like

[code]

### Table config:

[code]

### Update:

Once the problematic segments (`tSCalibrationAttempt__2__1__20220506T1656Z` and `tSCalibrationAttempt__0__1__20220506T1656Z`) are deleted via API

[2022-05-17 07:03] KKcorps commented on #8717
@Jackie-Jiang @npawar what can be going on here?

[2022-05-17 08:04] richardstartin commented on #8222
https://github.com/apache/pinot/runs/6453127269?check_suite_focus=true#step:5:30195

[2022-05-17 08:43] KKcorps commented on #8717
Offset of last record produced in Partition 2 - 1085
Start offset of segment consuming from partition 2 - 891

[2022-05-17 09:47] xiangfu0 opened #8718 "Reduce docker image size"
The current pinot docker image size is pretty large, 1GB after 0.10.0 release. This is majorly due to the shaded plugins.
[code]

In order to solve this, there are a few ways:
1. Remove unnecessary shaded jars, e.g. Hadoop ingestion jars.
2. Have the build docker script taking parameters for which plugins to be included. And we can just package the most popular shaded jars.
3. Have a script associ

[2022-05-17 09:54] zhixun-luy commented on #8698
On the slack, it's saying this repo link.

[code]

This is my question for ThirdEye integration.
1. How to set pinot data in persistence.yaml file?
2. How to set data-sources-config.yaml file?
I used below config, but failed.
[code]
Any sample configuration for custom pinot data will be helpful.
Thanks.

[2022-05-17 10:36] zhixun-luy commented on #4334
[code]
 I used this configuration, and got an error.
[code]
@akshayrai @ShubhamMMT1
Do you have any suggestion for this error?

[2022-05-17 19:46] npawar commented on #8717
@KKcorps this sounds similar to https://github.com/apache/pinot/issues/8219. This had happened because the server was down/consumption was lagging and the offset expired before it could be consumed. More details in the PRs linked to the issue.
Can you check with them for logs, and if you can see the same log lines as mentioned in the issue?

[2022-05-17 19:52] npawar commented on #8717
Neither of the PRs linked fix it cleanly. I think we should go with the 2nd approach https://github.com/apache/pinot/pull/8321/files but see if we can catch the exception and do it only on getting an OOR

[2022-05-17 20:00] npawar commented on #8604
what is the latest set of configs you're trying with? Have you added default value to the JSONPATHSTRING functions? When you reload segments, the transform function will break on older records, so you need to have a default value set.

[2022-05-17 22:53] npawar commented on #8638
@jasperjiaguo were you able to try with the fix? is this resolved for you?

[2022-05-17 23:34] npawar commented on #8641
@xingyc15 @kkrugler are either of you planning to pick this up?

[2022-05-18 00:36] xiangfu0 opened #8723 "Make Pinot minion stateless service"
Ideally minion should be a K8s deployment instead of statefulset.
We may want to implement the auto cleanup feature for zk garbage for minion instances as well.

[2022-05-18 05:11] saumya2700 commented on #8717
I checked the server logs and not getting this kind of issues anywhere:

_`[Consumer clientId=consumer-null-12, groupId=null] Fetch position FetchPosition{offset=5011308265, offsetEpoch=Optional.empty, currentLeader=LeaderAndEpoch{leader=Optional[xxx (id: 0 rack: us], epoch=6}} is out of range for partition xx-xx-xx-xx-3, resetting offset`_

Also the retention time of topics is 24 hr

[2022-05-18 06:20] npawar commented on #8409
Picking this up (making the error message friendly part).
While this fix (checking on broker side) may not be able to handle scalar functions case, I think it is still better than having no checking. We would catch majority cases with it.
Other option - I could fix this at every operator level on a case by case (e.g. inside getMaxValue and getMinValue methods in NoScanBasedAggregationOperator for

[2022-05-18 06:42] KKcorps opened #8726 "Null data in derived columns after Table config update"
Steps to reproduce -

1. Add schema
[code]
2. Add table

[code]

3. Push some records in the following format
[code]

3. Update schema in pinot to add the following column
[code]

4. Update table in Pinot to add the following column

[code]

5. Publish data again. The column `header_nnTransId` appears `null` when queried in Pinot when it should contain the correct value.

Optional: Verify after tr

[2022-05-18 09:24] suyuyi commented on #8660
Sorry for reply so late.
I find that I don't know how to edit the [official doc](https://docs.pinot.apache.org/developers/developers-and-contributors/code-setup#maven) and **until now I am not sure what caused the compile error and what I did that fix it**, so I don't know what to write.
I find the config which I built successfully(Oracle OpenJDK-11.0.13 - osx-x64, apple-silicon-profile) was the c

[2022-05-18 10:43] stym06 commented on #8632
Created initial PR: #8727

[2022-05-18 12:37] KKcorps commented on #8726
Yeah, you are right. This was provided by the person who got the issue.

[2022-05-18 13:11] jadami10 commented on #8254
two followups here:
- can we update [the docs](https://docs.pinot.apache.org/configuration-reference/table) now that `allowNullTimeValue` is removed
- why did we limit user-specified defaults to 1971 when 1970 is start of epoch? our current system is using 0 as the default

[2022-05-18 18:21] PrachiKhobragade opened #8730 "Groovy transformation won't apply if transform argument value is null"
The following groovy transform :

`column: industryV2`
`groovy: "Groovy({industryV2Kafka  == null || industryV2Kafka == Integer.MIN_VALUE ? industryId: industryV2Kafka }, industryId, industryV2Kafka)"`

if `industryV2Kafka` is null, the Groovy evaluate function directly returns null, it should return the value after correctly evaluating the function.

[2022-05-18 18:44] xiangfu0 opened #8731 "Support Azure blob store as Deep Store"
`pinot-adls` plugin has an implementation for Azure Data Lake Gen 2 now.
Since a lot of users are using the Azure blob store,  it would be good to also support the Azure blob store as a deep store.

[2022-05-18 18:46] Jackie-Jiang commented on #8700
Related issue: #8726

[2022-05-18 18:48] Jackie-Jiang commented on #8700
Same feature: #8699

[2022-05-18 18:49] #6902 closed

[2022-05-18 18:50] Jackie-Jiang commented on #2259
@mayankshriv Does this still apply? Not sure about the context of this issue

[2022-05-18 18:52] #2259 closed

[2022-05-18 18:54] Jackie-Jiang commented on #2286
Solved with #5509

[2022-05-18 18:54] #2286 closed

[2022-05-18 18:56] #5509 closed

[2022-05-18 19:45] xiangfu0 commented on #8731
cc: @snleee

[2022-05-18 21:29] jasperjiaguo commented on #8638
@npawar No. I tested with the latest version having this commit, but still giving me the same error.

[2022-05-18 21:53] Jackie-Jiang commented on #8632
This size is optional for all the time units. If it is not provided, the default size is 1

[2022-05-18 22:03] Jackie-Jiang commented on #8254
@jadami10 Good catch on the stale doc, updated.
We perform the time column value validation (must be in the range of 1971-2071) to prevent user configuration error of mismatching value and time unit. (E.g. if the time value is in `millisSinceEpoch` but user specify the time unit as `SECONDS`, then the segment will fail the validation). For the main time column, we probably don't want to use 0 as t

[2022-05-18 23:09] kkrugler commented on #8641
@npawar - I was going to pick this up, but am leaving on vacation in a few hours. If it's still around when I get back next week I'll take a look.

[2022-05-19 04:05] pjpringle opened #8734 "Feature Request: Add Task monitoring into UI"
Monitoring / debugging tasks could be improve though visibility in the UI showing recent tasks, status and exceptions.

[2022-05-19 06:34] saurabhd336 opened #8735 "Allow bloom filters for non dictionary encoded columns"
Currently, bloom filters are only supported for dictionary encoded columns. Ideally, raw value columns should also be allowed.
cc: @Jackie-Jiang

[2022-05-19 20:13] klsince commented on #8222
tried this: https://github.com/apache/pinot/pull/8739

[2022-05-19 23:45] nizarhejazi commented on #8697
Here is a draft PR (https://github.com/apache/pinot/pull/8742) that demonstrates NULL value support in:

1. SELECT, ORDER BY, DISTINCT, HAVING, GROUP BY.
2. Aggregation functions: COUNT, MAX.
3. Non-dictionary columns.
4. Basic transforms.
5. Few data types: Boolean, Int, and BigDecimal.

@Jackie-Jiang Please review this draft PR and let me know if you agree with my general approach. If you agree,

[2022-05-20 00:38] #8730 closed

[2022-05-20 03:12] walterddr opened #8745 "[Feature] improve testing framework"
Status Quo
===
Currently, all integration tests or helix-related tests instantiate their own cluster.
This would be inefficient because the more test classes we add the more time spent in cluster setup / data loading / etc.

Proposal
===
This proposal is similar to pinot-controller test: a set of stateless test class that instantiates their own test clusters, and a stateful set where only one clus

[2022-05-20 08:22] cliandy opened #8747 "Case statement doesn't result in short circuiting"
Currently CASE statements don't follow SQL conventions to short circuit at the first match. In the documentation, we have a given example:
[code]
This results in the last met WHEN condition taking precedence instead of the first. In the example above, all values with `price > 10` will evaluate to 1.

Curious if this is intentional for any reason as the code below explicitly takes the max condition

[2022-05-20 11:24] richardstartin commented on #8747
Hi @cliandy thanks for reporting this bug, this is unintentional. I have added a fix and regression test in #8748 8748

[2022-05-20 16:23] cliandy commented on #8747
Thanks for the prompt fix @richardstartin.

[2022-05-20 16:53] Jackie-Jiang commented on #8684
Another failure on master branch: https://github.com/apache/pinot/runs/6517186511?check_suite_focus=true
The JVM crashed during the test. We should try to figure out what has caused the crash

[2022-05-20 16:55] richardstartin commented on #8684
I think we need to have an RCA before closing these, lots of these issues have been reopened.

[2022-05-20 17:51] walterddr commented on #8684
sorry I was confused regarding the detail of this issue. I thought we had a consensus based on no reply to my previous 2 comments
- GRPCBroker* is flaky due to runner error,
- GRPCServer* is the problematic one

so I was only fixing the GRPCServer* test in https://github.com/apache/pinot/pull/8686. Let me take a look at the Broker one as well then. thx for reopening.

@richardstartin @Jackie-Jiang

[2022-05-20 18:29] #8516 closed

[2022-05-20 18:30] suddendust opened #8750 "Disable Dictionaries for High Cardinality MV Fields"
We have a MV columns called `tags__VALUES` in one of our tables. It is a very high cardinality columns. Here's some data from an existing segment:

[code]

AND

[code]

For `tags__VALUES`, then dictionary size is ~ 397M. The total size of this segment is 813M, so the dict. itself is occupying around 49% of the size. This certainly doesn't look very optimal.

Docs themselves [suggest](https://docs.

[2022-05-20 19:24] #8747 closed

[2022-05-20 23:40] egalpin commented on #7519
Is there a known path/existing plan for how to implement group-by support? Seems interesting to work on if it were Pinot-dev-beginner friendly

[2022-05-20 23:51] atris commented on #7519
I am currently working on a PR for the same (Side note - it is not a
beginner friendly PR)

On Sat, 21 May 2022, 05:10 Evan Galpin, ***@***.***> wrote:

[2022-05-21 05:53] Jackie-Jiang opened #8755 "Support raw index for multi-valued columns"
Related issues: #6473, #8750

[2022-05-23 16:40] #8607 closed

[2022-05-23 17:33] siddharthteotia commented on #8755
hey @Jackie-Jiang - there is another related issue here https://github.com/apache/pinot/issues/7870

I had discussed the point (4) in that issue with @somandal  and we are planning to do it in one of the two ways:

- Support for general purpose compression on dictionary encoded columns. So, for a dictionary encoded column it is not absolutely necessary to dictionary encode the forward index as wel

[2022-05-23 17:37] siddharthteotia commented on #8750
Related issue - https://github.com/apache/pinot/issues/7870

[2022-05-23 19:20] #6966 closed

[2022-05-23 19:27] Jackie-Jiang opened #8760 "Upsert Enhancements"
- Improve the performance of constructing upsert metadata during server restart/table reload (related issue #7569)
- Improve the performance of removing a segment from upsert metadata
- Use disk space to store upsert metadata to avoid using too much memory for table with high primary key cardinality
- Support retention for upsert metadata (only allow upsert for the latest time window to reduce the

[2022-05-23 23:42] xiangfu0 opened #8762 "Allow plugins to register and report metrics"
Current plugins have no way to register metrics(Corresponding MetricsRegistery utils code is in pinot-common), hence no metrics are really published along with each component.
We need to implement a way to dynamically extract metrics from plugins, so plugins can report metrics based on their own needs.
E.g. filesystem plugins should be able to report the API counter/latency metrics
Kafka plugins s

[2022-05-23 23:43] xiangfu0 commented on #8762
cc: @npawar

[2022-05-24 03:45] saumya2700 commented on #8717
@npawar can we atleast put some alerts in such cases where no segments are in GOOD state still they stopped consuming. Otherwise it will be an issue and how we can come out quickly from this situation. Please suggest which metrics or api can help to see if segment has stopped working.

[2022-05-24 16:39] #8634 closed

[2022-05-25 07:35] darktaiga01 opened #8770 "Pagination on Selection not working as expected"
I have some problem about using LIMIT clause for paginating.  I query this statement
`select * from baseballStats order by yearID desc limit 0, 20`
It returns first 20 rows of the result. And it's fine. But when I want to query this statement
`select * from baseballStats order by yearID desc limit 200,300`
![image](https://user-images.githubusercontent.com/22326202/170205476-9b4e7fae-9852-4106-8c0

[2022-05-25 14:53] ddcprg opened #8773 "[Kafka stream plugin] Add row metadata during record ingestion"
As per the design document [Pinot Freshness Metric](https://cwiki.apache.org/confluence/display/PINOT/Pinot+Freshness+Metric), `minConsumingFreshnessTimeMs` should be calculated from row indexing timestamp if the stream provider doesn't provide row metadata.

At the moment the default implementation returns null. This behaviour is not overwritten by out-of-the-box stream plugins implementations so

[2022-05-25 16:42] ddcprg opened #8775 "Add a section to the documentation site to document plugin-specific details"
Not sure if this make sense but some plugins has particular features that should be documented somewhere in the docs rather than user having to search through the source code to find out about them. Som examples include configuration details for the Kinesis and Kafka stream ingestion, AVRO logical types switch, etc.

[2022-05-25 17:03] Jackie-Jiang commented on #8770
Hi, when you use `limit` with 2 arguments:
The first argument: `offset`
The second argument: `limit` (number of rows to return)

So if you use `limit 200, 300`, Pinot will return rows of index `200-500`. If you want to get rows of index `200-300`, you may use `limit 200, 100`

[2022-05-25 18:54] Jackie-Jiang opened #8776 "[Flaky Test] PinotTaskManagerStatelessTest.testPinotTaskManagerSchedulerWithUpdate()"
Failures:
[code]

Example run: https://github.com/apache/pinot/runs/6597477355?check_suite_focus=true

[2022-05-26 02:29] darktaiga01 commented on #8770
Oh, my bad. Thanks @Jackie-Jiang .

[2022-05-26 02:29] #8770 closed

[2022-05-26 07:11] nairDev25 opened #8778 "Generic function to apply any scalar function on an MV column"
Currently, scalar functions supports only Single valued column. Need generic function to apply any scalar function on an  MV column

[2022-05-26 08:37] gortiz commented on #79
Once #8766 was merged, I think we can close this issue.

[2022-05-26 17:36] geeknarrator commented on #8226
@Jackie-Jiang - Sorry I am a bit late here :) but I created a PR for this https://github.com/apache/pinot/pull/8781

Could you please help me get the workflow kicked off? (This is my first commit to Pinot)

[2022-05-26 17:53] KKcorps opened #8782 "Allow adding a unique suffix to segment name during batch ingestion"
Currently, if a user creates segments from the batch data that
* contains either no time column or
* contains same time for all the records (e.g. Current data in `yyyy-MM-dd` format)

the generated segments have same names. This creates issue because the segments end up replacing each other even when the push type is set to `APPEND`

The solution is to either add a current timestamp column in the

[2022-05-26 18:00] KKcorps commented on #8782
`InputFileSegmentNameGenerator` handles only one scenario whereby it can create a unique segment per file. But if file names are same in subsequent runs of the Generation job, it can still create issues.

[2022-05-26 18:29] xiangfu0 commented on #8782
This makes sense, I think we can add a config to append creation time or random sequence_id to make the segment name unique.

[2022-05-26 18:35] xiangfu0 opened #8783 "Allow routing broker queries to corresponding broker tenant"
So far, the broker will return BrokerResourceMissingError exception if the querying broker doesn't contain the table, but the tenant contains it. This causes a lot of confusion for users deploying pinot with helmChart, as the service/loadbalancer is exposing all the brokers as one service entrypoint.

The proposed solution is to add the routing mechanism for Brokers to delegate queries to the brok

[2022-05-26 18:36] xiangfu0 commented on #8783
Corresponding discussion: https://www.linen.dev/s/apache-pinot/t/430099/I-tried-locally-to-execute-query-via-broker-through-the-comm

[2022-05-26 20:17] Jackie-Jiang commented on #8778
Hi @nairDev25, scalar functions can be applied to MV column right now, although it requires certain type of input value. See `ArrayFunctions` for some example scalar functions that apply to MV column.
Do you encounter some issue when trying to apply a scalar function to a MV column?

[2022-05-26 21:35] icefury71 commented on #8692
+1 on decoupling this : we shouldn't be forcing people to use peer download to use this feature.

[2022-05-27 12:11] stym06 commented on #8632
@Jackie-Jiang In case of `1:HOURS:SIMPLE_DATE_FORMAT:yyyy-MM-dd tz(America/Chicago)` what will be equivalent in the new format?

[2022-05-27 16:04] richardstartin opened #8791 "RealtimeNonReplicaGroupSegmentAssignmentTest.testRelocateCompletedSegments is flaky"
https://github.com/apache/pinot/runs/6627855246?check_suite_focus=true

This test failed one time out of ten runs locally

[2022-05-27 18:03] cliandy opened #8793 "PQL query endpoint deprecation drops support for Presto-Pinot with older dependency"
The Presto-Pinot driver using `PinotScatterGatherQueryClient.java` for version 0.10.0 is incompatible with changes introduced in #7430 for handling Presto direct-to-server internal Pinot API calls.

This seems to be intentional, as things are marked as non backward compatible, but **we are currently unable to take advantage of newer Pinot builds due to this dependency mismatch** of 0.10.0 driver a

[2022-05-27 18:17] Jackie-Jiang commented on #8793
@xiangfu0 Can you please help here?

[2022-05-27 19:46] ksnijjer commented on #7328
@npawar FYI ^

[2022-05-27 22:14] Jackie-Jiang commented on #8632
@stym06 It should be `SDF|yyyy-MM-dd|America/Chicago`. Note that `1:HOURS` does not apply to SDF

[2022-05-28 11:47] KKcorps opened #8799 "Refactor Segment Name Generator"
Currently there are three issues with `SegmentNameGenerator` classes -

* The implementations need to be supplied with exact arguments instead of general segment name generator config. e.g. You need to provide `dateTimeFormatSpect, `pushType`, `excludeSequenceId` etc. but instead you can simply pass `segmentNameGeneratorConfig` to the constructor and let the implementation take care of extracting

[2022-05-29 21:46] #8773 closed

[2022-05-30 07:54] nairDev25 commented on #8778
Hi @Jackie-Jiang , We need to run function like lower(mv_column), currently its failing

[2022-05-30 08:12] stym06 opened #8800 "Add a "Distinct" implementation that leverages index for low cardinality columns"
For queries of the type: `select distinct(<columnName>) from <tableName> `, we can create an implementation that enhances the query performance

[2022-05-30 23:06] mayankshriv opened #8804 "Replication vs ReplicasPerPartition"
The question on what is the difference between `replication` vs `replicasPerPartition` frequently comes up. Opening this issue to track:

- Could these be unified to a single config `replication` that applies to both `OFFLINE` as well as `REALTIME` tables? We can still honor `replicasPerPartition` for backward compatibility.
- If there is we need both, could we document the reasoning behind it?

[2022-05-31 00:14] Jackie-Jiang commented on #8222
Got another failure after the fix: https://github.com/apache/pinot/runs/6660284410?check_suite_focus=true

[2022-05-31 01:39] diogobaeder opened #8805 "includeFileNamePattern not working as expected"
Hi folks,

This seems to be a bug to me, so I'm opening an issue here right away (instead of bringing this to Slack first).

What I want to do is to be able to run a batch job that uses just one file as the input; Suppose that I have a directory, `/some/dir`, and then I have a segment data file there, `foo.json`. So I have `inputDirURI` set to `/some/dir`. But then, if I set `includeFileNamePatter

[2022-05-31 07:05] #8588 closed

[2022-05-31 07:05] Airliquide76 commented on #8588
PR merged

[2022-05-31 15:10] kim-kocet commented on #6813
Hello,
Did you find a solution to that issue?
Thank you.

[2022-05-31 16:31] laszlzso opened #8806 "Support multi-topic subscriptions with Apache Pulsar"
There are multiple ways how this could be implemented, namely:

1.  Instead of/Beyond the existing configuration option `"stream.pulsar.topic.name": "pulsar-test"` we could have something like `"stream.pulsar.topic.names": [ "pulsar-test-1", "pulsar-test-2"]`.
2. Beyond the above existing configuration option we could have something like `"stream.pulsar.topic.pattern": "pulsar-test-*"` where the p

[2022-05-31 16:53] klsince commented on #8222
looking via this debug PR: https://github.com/apache/pinot/pull/8807

[2022-05-31 20:45] Jackie-Jiang commented on #8805
cc @xiangfu0

[2022-05-31 21:17] kkrugler commented on #8805
@xiangfu0 is correct, you need to use `glob:**/foo.json`

See https://www.digitalocean.com/community/tools/glob?comments=true&glob=%2A%2A%2F%2A.json&matches=false&tests=%2Fsome%2Fdir%2Ffoo.json for a useful site to debug glob patterns.

[2022-05-31 21:19] kkrugler commented on #8805
@diogobaeder - why do you think `glob:**/foo.json` is inefficient? You are restricting the match space to what's at your `inputDirURI`.

[2022-05-31 21:45] dang-stripe opened #8809 "S3 rate limiting on realtime server restart"
We recently ran into an issue where we performed a fleetwide restart of our realtime servers. They initially caught up on consumption then proceeded to fall behind due to S3 rate limiting on the S3 table directory. This gradually recovered as the servers were no longer rate limited.

We observed the following log messages: https://github.com/apache/pinot/blob/master/pinot-controller/src/main/java/

[2022-06-01 05:04] npawar commented on #8734
cc @shahsank3t (tagging as fyi as this is related to the minion ui work)

[2022-06-01 07:05] saurabhd336 commented on #8726
Confirming that issue is seen in master branch too. Looks like, _transformPipeline gets created once when LLRealtimeSegmentDataManager is created for the segment, and any changes to schema or tableConfig does not lead to updates to the pipeline.
https://github.com/apache/pinot/blob/master/pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/LLRealtimeSegmentDataManager.java#L1337

[2022-06-01 09:37] lksvenoy-r7 opened #8811 "Delete all segments API does not respect retention period"
I just tried to use the API for deleting segments `/segments/{tableName} ` through the swagger documentation, and found that it did not respect the retention policy I specified.

<img width="1425" alt="image" src="https://user-images.githubusercontent.com/46895578/171374937-96e3799c-1738-4376-ad6f-5f9ee2c7a52f.png">

After executing the following command, all the segments in the table disappeared.

[2022-06-01 14:02] KKcorps commented on #8717
The issue for this error is still unclear. Most likely cause is the offset.retention period getting expired (which is different from topic retention period). Out of Range errors were not found in logs nor was any segment deleted manually. In future there are 2 ways to fix similar errors -

* The new segment consumption resume API - https://github.com/apache/pinot/pull/8663

* Handle out of range i

[2022-06-01 14:19] diogobaeder commented on #8805
@kkrugler because it might have to traverse through all matching file paths according to the glob, and then filter in the ones that match `inputDirURI`, no? I mean, this is just speculation really, so I might be totally wrong as I don't know the implementation, but it's what my sense tells me the code is probably doing. Anyway, even if this is what happens, it's probably not a big deal (unless the

[2022-06-01 14:39] mayankshriv commented on #8811
Hi @lksvenoy-r7, this is expected behavior from the delete api. It is indeed expected to delete all (or specified) segments for a table. Retention is auto-managed (via periodic job) and does not require explicit trigger to delete segments.

But, I am curious to learn what's the user experience you are looking for in this case.

[2022-06-01 17:09] Jackie-Jiang commented on #8809
Thanks for reporting the issue. This warning log is from the controller side when server is trying to commit a segment file. It should be called once per segment commit, so not sure why it hits the S3 rate limit. Also, this warning itself won't block the segment commit, so there has to be some other operations failed due to hitting the S3 rate limit. Can you please check the log and see if there i

[2022-06-01 17:22] Jackie-Jiang commented on #8800
I think I get the general idea of using inverted index to solve distinct and group-by queries:
- SELECT DISTINCT colA FROM myTable WHERE ...
- SELECT COUNT(*) FROM myTable WHERE ... GROUP BY colA

When the colA has inverted index, we can scan all the bitmaps to solve the query instead of scanning the matching docs.

It might be able to accelerate the query when the following conditions are met:
-

[2022-06-01 20:17] kkrugler commented on #8641
@Jackie-Jiang - I was thinking about the `terminateOnFailure` flag a bit. The other segment generating code (Spark & Hadoop) already terminate on failure implicitly, as the task (and thus job) will fail if there's a segment generation failure. I guess there's some small value in finding out all of the segment generation failures in one pass (so not terminating on failure), but in my experience thi

[2022-06-01 21:00] Jackie-Jiang commented on #8641
@kkrugler Agree on having the consistent behavior. I think terminating on failure by default might be the desired behavior, and we can introduce a flag to `continueOnFailure` (maybe pick a better name). We can change the standalone one to match the behavior of Hadoop & Spark

[2022-06-01 21:28] kkrugler commented on #8641
Hi @Jackie-Jiang - I can keep support for reporting multiple segment failures, and change this PR to terminate on the first failure. I think support for `cleanupOnFailure` would be next most important, and then if there's a need we could add `continueOnFailure` (and support for that in Spark/Hadoop, and I guess now Flink). LMK if you agree, thanks.

[2022-06-01 21:37] Jackie-Jiang commented on #8641
@kkrugler Sounds good. To simplify it, we can keep an AtomicReference for the failed file, and when an exception is encountered, we set the reference and drain the latch. In the main thread, we can check the reference to determine whether there is a failed file. If we do terminate on failure, logging one failed file should be good.

[2022-06-01 22:48] kkrugler commented on #8641
@Jackie-Jiang OK, updated the PR accordingly.

[2022-06-01 23:39] xiangfu0 commented on #8439
@fcomte Please take a look if there this PR what you are looking for: #8816

[2022-06-02 16:05] navina opened #8819 "Updating schema with new MV column causes index failures and stops consumption"
One of the users added a new MV column to the schema and reloaded the segments. Fyi, the data in the topic doesn't have any values for this new field. It failed with the following exception:
[code]

## Steps to reproduce
1. Run the `RealtimeQuickstart`
2. Load some data
3. `Edit schema` to add a new MV column
4. Reload the segments

### Things to note

* The quickstart is using High level consumer

[2022-06-02 16:20] navina commented on #8819
Looks like I can't assign it to myself. But I will pick this up!

[2022-06-02 17:20] #8439 closed

[2022-06-02 21:22] mayankshriv opened #8821 "Decouple controller from data path even when peer-download feature is not turned on"
Today, the realtime servers commit segments by pushing to deep-store via controller. The controller is bypassed only when peer-download feature is turned ON. However, decoupling of controller should be independent of the peer-download feature.

[2022-06-02 21:32] richardstartin commented on #8800
The inverted index group by algorithm is very close to how high dimensional cubes could work:

1. Pre-aggregate measures data to reduce cardinality
2. Split dimensions into groups of 3, build bitmap indexes over aggregates by all 1-, 2-, 3-tuples
3. To group by a dimension
     1. When there is no filter, iterate over the bitmaps of the dimension, evaluate count or apply an aggregation function to

[2022-06-03 06:40] KKcorps commented on #8775
Yes, this should definitely be done. A good place would be to create a page for plugins in `CONFIGURATION REFERENCE` section in the docs.

[2022-06-03 13:34] egalpin opened #8829 "Automate documented functions"
In the Pinot docs[1], only a subset of available functions are documented.  I think it would be highly valuable to automate listing any function found in code[2] to be part of those docs.  Even if the default behaviour was to link to the definition in code, it would still provide better discovery for anyone writing queries and only looking at the docs.

[1] https://docs.pinot.apache.org/configurat

[2022-06-03 20:22] kkrugler commented on #8829
+10 for this.

[2022-06-03 23:10] dd-willgan opened #8832 "PinotClientTransport package private"
Hi, I'm trying to use the Pinot Java Client (recommended over the JDBC client for production) with authentication by instantiating a [JsonAsyncHttpClientTransportFactory](https://github.com/apache/pinot/blob/master/pinot-clients/pinot-java-client/src/main/java/org/apache/pinot/client/JsonAsyncHttpPinotClientTransportFactory.java) and setting the headers / scheme to HTTPS, and afterwards calling `b

[2022-06-06 05:41] kishoreg commented on #8618
@siddharthteotia I added some comments to the design doc. Overall, I feel that the design has some assumptions that having this will result in better latency for the end-user. But the data is missing to back up the assumptions.

I don't remember seeing this problem at LinkedIn. Things might have changed but my concerns expressed in the previous comment still remain the same. I am having a hard tim

[2022-06-06 13:14] richardstartin opened #8835 "CSVRecordReader should trim column names"
If a CSV file erroneously has leading spaces in the header, column names containing those spaces are currently included in the inferred column name, which will mismatch with the schema.

[2022-06-06 14:30] #8793 closed

[2022-06-06 15:18] richardstartin opened #8837 "`order by <sorted column> DESC limit N` queries are not optimised at segment level"
A query like

[code]

is not optimised and hits the generic `SelectionOrderByOperator.computePartiallyOrdered()` which inserts up to 10k elements into a priority queue to discard all but the last 10. For ascending order, the query below is roughly 3-4x faster per segment.

[code]

[2022-06-06 16:42] vvivekiyer commented on #8618
@kishoreg  Thanks for the comments. I'll respond to the comments in the doc.
I just want to reiterate the following - the motivation of this project is to NOT improve latency for users (at least when everything is working fine). It is to improve resiliency so that when some servers are affected, users don't see major degradation in performance.

[2022-06-06 18:16] Jackie-Jiang commented on #8837
We will maintain a priority queue of size 10, and insert all the matching docs (instead of up to 10k) to the priority queue. For the first case, the new inserted value is always the top value, we we need to heapify the heap for every insert.
We should optimize the engine so that when we order by a sorted column (either DESC or ASC), we do not insert all the matching docs, but only the first N or l

[2022-06-06 18:21] richardstartin commented on #8837
All 10k records will be inserted into the PQ, regardless of whether the insertion results in the removal of another or not. 9990 records will be removed from the PQ. This is clearly wasteful.

Reverse iteration is supported by RoaringBitmap for this exact purpose.

[2022-06-06 18:30] zhtaoxiang opened #8839 "make minion numConcurrentTasksPerInstance configurable in config files"
Currently, the default value of numConcurrentTasksPerInstance is 1 for all types of minion tasks. This default value is from `org.apache.helix.task.JobConfig.DEFAULT_NUM_CONCURRENT_TASKS_PER_INSTANCE`. Although one can use the /cluster/config API to configure it for each type of minion task, it is desirable that the default value can be configured in a config file, so that
1/ users do not need to

[2022-06-06 20:11] siddharthteotia commented on #8618
+1 on what @vvivekiyer mentioned.

I discussed this offline with @kishoreg . I think Kishore thought that proposed design for the server selection problem and the WIP PR are sort of set in stone. That is not the case. We are testing and validating the approach and nothing is going to get merged unless we get confidence in the implementation and get validation before v/s after on a workload that re

[2022-06-06 21:41] LaroLuo opened #8842 "Table selector won't work if table name is null"
https://github.com/apache/pinot/blob/d1d2ddbc116f6dddbefdf1e69dd409434eaae0e4/pinot-clients/pinot-java-client/src/main/java/org/apache/pinot/client/Connection.java#L86-L94

[2022-06-06 22:19] klsince opened #8843 "Allow a server to host segments on multi storage tiers"
As of today, [a table with multi-tiers](https://docs.pinot.apache.org/operators/operating-pinot/tiered-storage#tier-config) has to use different server pools to support multi storage tiers, and relies on SegmentRelocator to move the segments among those server pools to put them on the right storage tier. An example cluster setup may be like using a pool of servers with SSD as a tier and another po

[2022-06-06 22:20] klsince opened #8844 "Track which storage tier the segment is loaded by the server"
As of today, a table can have [multi tiers configured](https://docs.pinot.apache.org/operators/operating-pinot/tiered-storage#tier-config) in TableConfig and its segments loaded on different tiers.

But the tier info is not tracked for the segments loaded by server. This issue tries to fix this, so that the current storage tier info can be checked in some segment management logic, like whether nee

[2022-06-07 01:04] npawar opened #8847 "Bloom filter on multi-value column is broken if bloom filter is created during segment generation"
To reproduce,
add bloom filter to DivAirports in table config for HybridQuickstart
[code]
start HybridQuickstart, and run
[code]
then pick any value form the result and run
[code]

The commit that breaks this functionality is https://github.com/apache/pinot/pull/8601. Bloom filter (and range index too) needs special handling for single/multi value column.

[2022-06-07 06:57] KKcorps commented on #8222
Still Flaky. [Happened on PR ](https://github.com/apache/pinot/runs/6754124273?check_suite_focus=true)

[2022-06-07 14:47] mathieudruart opened #8849 "Distinct doesn't work on MV columns with a "where" clause"
**Step to reproduce** :

1. create an offline table with some columns and at least a multi-valued one
2. load some data
3. try this request : `select distinct myMultiValuedColumn from MyTable where otherColumn in ('MY_VALUE') limit 1000`
4. an error occurs :

[code]

The same request without the "distinct" or the "where clause" works fine.

Reproduced with Pinot 0.10.0

[2022-06-07 16:46] #4098 closed

[2022-06-07 16:47] #5771 closed

[2022-06-07 16:48] #5261 closed

[2022-06-07 17:04] Jackie-Jiang commented on #6437
Sorry I missed tracking of this issue. #8393 sets the `numGroupsLimitReached` properly for SQL queries. @amitchopraait Can you please retry and see if the problem still exists?

The flag indicates that there are more than 100K groups gathered within the segment, so some groups are ignored (prevent server running out of memory) and MIGHT lead to inaccurate results. Pinot will still process the quer

[2022-06-07 17:06] Jackie-Jiang commented on #7560
Related to #6676

[2022-06-07 17:10] #7345 closed

[2022-06-07 17:12] Jackie-Jiang commented on #7887
#8189

[2022-06-07 17:12] #7887 closed

[2022-06-07 17:30] Jackie-Jiang opened #8850 "Support Distinct on MV columns"
There are some discussions under #8019, and we decided to follow the same behavior of MV group-by

[2022-06-07 17:33] Jackie-Jiang commented on #8849
Pinot does not support distinct on MV column yet (tracked in #8850). The reason why it works without a filter is because Pinot will use dictionary to solve the query if there is no filter and only one single column within the distinct.

[2022-06-07 18:24] tonykim-moloco opened #8851 "Star-tree indexing a JSON key"
When creating a star-tree index, we would write a table config as follows.
[code]
Is there a way to specify a JSON column within the `dimensionSplitOrder`?
For example, if we have a column named `person`, having a JSON value such as `{
      "number" : 112,
      "street" : "main st",
      "country" : "us"
    }`, can we add `"country"` as one of the `dimensionsSplitOrder`?

[2022-06-07 18:52] klsince commented on #8222
Some quick findings:

from the error msg, (will add segment name in the error msg)
[code]

But as on my local, the table size is expected be 20949859.

The gap (48957) between 20949859 and 20900902 was like missing a metadata.properties file. Some segments have `metadata.properties` as 48956 or 48956.

[code]

[2022-06-07 18:53] klsince commented on #8222
I'll wait for my luck to see this failure again: https://github.com/apache/pinot/pull/8853

[2022-06-07 19:19] #8847 closed

[2022-06-07 21:16] kkrugler commented on #8851
Hi @tonykim-moloco - this is a great question for the #general channel on the Pinot Slack workspace (join [here](https://communityinviter.com/apps/apache-pinot/apache-pinot)).

[2022-06-07 21:18] tonykim-moloco commented on #8851
Thanks! I'll ask in the Slack workspace!

[2022-06-07 21:18] #8851 closed

[2022-06-07 22:26] walterddr commented on #6732
is this ticket closed?

I recently discovered some performance benefit if we can remove V2 support
- reduce float size from 8bytes to 4bytes
- move bytes type to variable byte buffer instead of converting to hex string and using String type (dictionary map) to store data
- some other issues with BYTES_ARRAY and OBJECT type.

Please let me know if you would like to extend this issue, alternatively,

[2022-06-08 00:46] Jackie-Jiang commented on #8837
Not sure if we are referring to the same thing. In `SelectionOperatorUtils.addToPriorityQueue()`, we insert the value into the query only when it is larger than the top value. The PQ size will be up to 10 all the time

[2022-06-08 01:01] Jackie-Jiang commented on #8842
Thanks for reporting the issue.

If table name is not provided, we should parse the query and extract the table name from the query. This requires pulling in the `CalciteSqlParser` class, which is currently in `pinot-common` module.
We can either:
- Make `pinot-client` depend on `pinot-common`
- Pull `CalciteSqlParser` into `pinot-spi`

cc @xiangfu0

[2022-06-08 06:02] #8260 closed

[2022-06-08 06:35] richardstartin commented on #8837
I think the communication gap here is because you may have missed that the scope if this issue is strictly _descending order over sorted columns_ so you have jumped to assuming I don't understand the algorithm.

_When the values are sorted and the comparator is descending_, the next value is always greater than the smallest element in the PQ. This means the next value always added, and the smalles

[2022-06-08 16:46] Jackie-Jiang opened #8862 "Add server api/metrics to track the size of each index in a table"
- Enhance the segment metadata API to also include the index size
- Track the index size (also the whole segment size if not already tracking) for each index type

[2022-06-08 16:53] Jackie-Jiang opened #8863 "Allow transform function as the dimension in the star-tree"
Currently in order to build a star-tree on top of a transform function, user needs to follow these steps:
1. Create a derived column (single-value dictionary encoded) from the transform
2. Create star-tree on top of the derived column
3. Query derived column in order to use star-tree

We should be able to simplify these steps and allow transform function as the dimension in star-tree. Internally w

[2022-06-08 16:54] Jackie-Jiang commented on #8863
Related to #8851

[2022-06-08 17:21] Jackie-Jiang commented on #8837
We are actually talking about the same thing. For descending order case, all values will be inserted into the priority queue once, then removed after new value comes.
The confusion is from the "10K elements" because the cost of the current algorithm should not be related to the values per block. I see you are referring the cost of `SelectionOrderByOperator.computePartiallyOrdered()` which is per b

[2022-06-08 18:17] kkrugler commented on #8641
@Jackie-Jiang - I'm assuming this can be closed. I'll create a new issue for `cleanupOnFailure` support.

[2022-06-08 18:23] kkrugler opened #8864 "Support cleaning up segments when a batch build fails"
Currently if segment generation fails for one of the input files, segments created from previous input files will be left in the output directory. A new `cleanupOnFailure` flag (default is false) would trigger the deletion of these segments. Note that clearing the output directory isn't acceptable, as there might be existing files.

This change would have to be applied to all batch segment generat

[2022-06-08 19:22] #8782 closed

[2022-06-08 23:44] abhs50 opened #8869 "Pinot Broker logs to show source_ip of host/user who executed the query"
Currently in Pinot broker we see logs as below : <Sample log>

`requestId=130,table<redacted>,timeMs=23,docs=72/108615312,entries=2741105/792,segments(queried/processed/matched/consuming/unavailable):256/253/8/32/0,consumingFreshnessTimeMs=1654707653215,servers=6/6,groupLimitReached=false,brokerReduceTimeMs=0,exceptions=0,serverStats=(Server=SubmitDelayMs,ResponseDelayMs,ResponseSize,Deserializati

[2022-06-09 23:31] somandal opened #8875 "Add support for querying raw Multi-value columns"
Today though it is possible to declare a multi-value column as a raw column (without dictionary), when this is enabled then the segment fails to load because of the following pre-condition check (tried this for a multi-value INT type column) in the `BaseChunkSVForwardIndexReader`:

[code]

In the above, the `_lengthOfLongestEntry` is set to be the `size of the valueType * maxNumberOfMultiValueEntr

[2022-06-09 23:32] somandal commented on #8875
need to fix this to work on: https://github.com/apache/pinot/issues/7870

[2022-06-09 23:36] siddharthteotia commented on #8875
Thanks @somandal.

Just FYI for others - this was found while working on fix for https://github.com/apache/pinot/issues/7870

[2022-06-10 17:42] Jackie-Jiang commented on #8019
Fixed with #8850

[2022-06-10 17:42] #8019 closed

[2022-06-10 17:42] Jackie-Jiang commented on #8849
Fixed with #8850

[2022-06-10 19:15] Jackie-Jiang commented on #8869
Good suggestion. We can add the remote host info to the `HttpRequesterIdentity` and log it accordingly if it is provided to the `BrokerRequestHandler`. Do you want to help contribute this change?

[2022-06-10 20:26] abhs50 commented on #8869
Hi @Jackie-Jiang: Yes, I will be more than happy to contribute. Can you help me with few details on where to look and how to get started.

[2022-06-12 15:47] diogobaeder commented on #8805
There you go, folks: https://github.com/pinot-contrib/pinot-docs/pull/101 - sorry I forgot to link to GitHub issues (and couldn't find out how to do this).

[2022-06-13 17:46] stym06 commented on #8864
Let me know if I can take this.

[2022-06-13 18:36] bdstuart opened #8886 "Add support for skipping/defaulting columns during managed offline flow rollup/dedup process"
Here is what I said in the pinot troubleshooting channel:
If this works as I think it might I could have the best of both worlds maybe. A certain amount of my data is in realtime table w/ the event_id for potential auditing, then as I move to offline table I default event_id to 0 and get good rollup.

To which Jackie repsonded:
It is absolutely reasonable. We don't support it currently, but it is

[2022-06-13 18:49] Jackie-Jiang commented on #8360
@noon-stripe Since the main implementation has been merged, can you please help add some documentation for the feature?

[2022-06-13 18:56] noon-stripe commented on #8360
Yes, I'll have a draft up by EOW. Thanks for the reminder!

[2022-06-13 19:24] Jackie-Jiang commented on #8869
@abhs50 You may take a look at `PinotClientRequest` class where the `HttpRequesterIdentity` is created from the request context. This identity is passed to the `BrokerRequestHandler.handleRequest()` where you can log the source info

[2022-06-13 19:28] Jackie-Jiang commented on #8805
Thanks @diogobaeder Merged the change to the documentation repo

[2022-06-13 19:41] diogobaeder commented on #8805
Thanks @Jackie-Jiang :-)

[2022-06-13 20:33] snleee commented on #8886
- I think that we need to add the transformation function support on `SegmentProcessorFramework`. We can do sth similar to the ingestion config. Currently, map phase hardcodes to initialize the default composite transformer.
- On the merge/roll-up task level, we need to decide whether we want to expose the entire transformation layer or we just want to expose the config to skip columns to satisfy

[2022-06-13 21:30] navina opened #8887 "Provide a standalone jar with Pinot's partition functions"
Often, users need to ensure that the upstream job creating pinot segments uses the same partitioning function that Pinot table expects. It will be much easier if we can provide these functions as a separate jar (without a lot of pinot dependencies) so that users can use it in their spark or other ingestion  jobs.

For more context, see thread - https://apache-pinot.slack.com/archives/C011C9JHN7R/p

[2022-06-13 21:33] #8805 closed

[2022-06-13 21:54] navina commented on #8829
@mneedham is it possible to include javadocs from our code into the website documentation ? It seems like the easiest way to automate and ensure that the code and docs match and are up-to-date.

[2022-06-13 22:02] npawar commented on #8842
Assuming we are okay with these dependencies in pinot-client @xiangfu0 , labeling this as beginner as it looks straightforward enough to fix. Lmk if it is not.

[2022-06-13 23:44] kkrugler commented on #8864
@stym06 - sure, go for it! One challenge is that testing this is painful, as you need to manually run stand-alone, Hadoop and Spark jobs to really validate proper behavior. Sadly, I don't think we've got integration tests for Hadoop or Spark, though I think I saw a recent issue about addressing that.

[2022-06-14 13:09] lksvenoy-r7 opened #8889 "The Pinot Flink connector does not gracefully handle failure"
The current pinot flink connector does not gracefully handle errors. Due to the way the connector works, if it errors in the middle of adding segments to a table, the table ends up with an inconsistent view. Additionally, the connector does not currently support refresh tables. Refresh tables require atomic segment replacement, but the connector currently naively uploads segments as they are built

[2022-06-14 17:15] noon-stripe commented on #8360
@Jackie-Jiang can you take a look?

https://github.com/pinot-contrib/pinot-docs/pull/102

Thanks!

[2022-06-14 17:38] Jackie-Jiang commented on #8360
@noon-stripe This is great! Thanks!

[2022-06-14 21:41] walterddr opened #8890 "Follow up on DataTableImplV4"
Follow-up tasks from #8874

fixing todos in datatable/datablock builder, https://github.com/apache/pinot/pull/8926
- [x] better read seeking, collapse `byteBuffer.position(offset); and byteBuffer.get*()` into `byteBuffer.get*(offset)`.
- [x] broker should be able to handle both data table format as a backward compatibility check when both engines are used.

(format backward incompatible) #8894
- [

[2022-06-14 22:53] mcvsubbu commented on #8804
Here is the history:
When we had only HLC, we had `replication` for both OFFLINE as well as REALTIME tables. In case of REALTIME, it was used to [derive](https://github.com/apache/pinot/blob/master/pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotTableIdealStateBuilder.java#L89) the number of realtime servers to consume the topic and also whether the topic was divided amo

[2022-06-14 23:14] kkrugler commented on #8889
Hi @lksvenoy-r7 - thanks for opening this issue, sounds very promising! A few comments & questions...

1. I think not supporting checkpointing is OK.
2. When you say only BATCH execution mode, are you talking about DataSets or bounded streams?
3. There's been quite a lot of discussion around how to build segments that are properly partitioned (matching Flink's hashing function) so that the resulti