[2022-06-15 18:35] timsants commented on #8429
Can't seem to find this specific dependency in the project anymore? Has it been removed?

Regardless, we are in the process of upgrading some old NPM packages.

[2022-06-15 23:27] Jackie-Jiang commented on #8352
@jadami10 The `SessionId does NOT match` happens when server disconnects from the ZK. We need to debug why the server disconnects from the ZK. Do you observe similar log as the one above (lots of messages queued, server not able to process messages)?

[2022-06-15 23:32] Jackie-Jiang commented on #8804
@mcvsubbu Thanks for sharing the history. I think it is always safe for LLC table to first check `replicasPerPartition`, and if it is not defined, fall back to `replication`.

[2022-06-16 03:33] mcvsubbu commented on #8804
Are we declaring HLC dead? I am fine with that, except if some stream comes along that cannot support LLC (I think we had a bit of a hard time with gps right?)

[2022-06-16 03:58] Jackie-Jiang commented on #8804
No, we didn't yet, and that's why I was suggesting still first checking `replicasPerPartition` for LLC, and fall back to `replication` if it is not available.
Long term wise, we don't want to use HLC because there are lots of known issues around it, and it is not as reliable as LLC.

[2022-06-16 15:14] walterddr opened #8906 "Fixing query options"
This issue is created follow up #8880.

Background
===
Currently, Pinot SQL `OPTION` keyword is a REGEX match that is allow ANYWHERE in the SQL string. This causes SQLi issues.

Backward-Compatibility Issue
===
#8880 proposed an alternative syntax of using OPTION similar to SQL setStatement (see: https://calcite.apache.org/docs/reference.html)

However, this creates a backward-incompatible change

[2022-06-16 16:28] abhs50 commented on #8869
@Jackie-Jiang : Please have a look : https://github.com/apache/pinot/pull/8907

Thanks

[2022-06-16 19:32] Jackie-Jiang opened #8909 "Support MV in BinaryOperatorTransformFunction"
Currently BinaryOperatorTransformFunction (EQUALS, NOT_EQUALS, GREATER_THAN, GREATER_THAN_OR_EQUAL, LESS_THAN, LESS_THAN_OR_EQUAL) does not support MV column as argument

[2022-06-16 21:23] ankitsultana opened #8910 "High Disk Utilization when Reloading Segments for a Large Table"
Triggering Segment Reload for a large table leads to high disk utilization on Pinot Servers.

It'd be great if there was a way to do this in a controlled fashion (limiting concurrency, throttling, etc.) so the underlying resources don't get stretched.

If this is supported already or you have some ideas on how this can be done, do lmk!

[2022-06-16 21:58] jasperjiaguo commented on #8910
Hello @ankitsultana imiting concurrency and throttling are both implemented. You can take a look at this feature https://github.com/apache/pinot/pull/8753 and also this one https://github.com/apache/pinot/pull/8694. Basically what we do here is:

https://github.com/apache/pinot/pull/8753:
1. When your segment is **unencrypted**, stream download and untar, so that server wouldn't write the tar ball

[2022-06-16 22:54] Jackie-Jiang commented on #8906
Vote for using `SET` for the following reasons:
- It is standard Calcite syntax, so very easy to support
- It is one of the common ways to set the query options
- Presto follows this convention to set query options, so this might simplify the connector (cc @xiangfu0)

[2022-06-18 02:03] Jackie-Jiang opened #8919 "Reset segment might leave segment in disabled state if the controller fails to re-enable it"
In `PinotHelixResourceManager`, `resetSegment()` and `resetAllSegments()` will temporarily disable the partition if the partition state is not `ERROR`, then re-enable it after it becomes `OFFLINE`. If controller fails to re-enable the partition (restarted, encounters exception when waiting for segment to become `OFFLINE` etc.), the partition will be left disabled.

To fix it, we should use the sam

[2022-06-18 21:19] #8684 closed

[2022-06-20 11:06] lksvenoy-r7 commented on #8889
Some additional information regarding segment creation:

I was speaking with @mayankshriv regarding extending the segment index creation driver to allow in-memory segment creation, but unfortunately the interface implements File getOutputDirectory(), meaning we are bound to using a file.

One approach which could work is to abstract away File, and use the Pinot filesystem to allow the output to be

[2022-06-20 14:09] jadami10 opened #8928 "GroupByOrderByCombineOperator does not bound the number of threads it uses"
When the user does not specify the number of threads for a query, the CombinePlan* operators both use a minimum of 1 threads, maximum of 10 threads, and a default of num_cpus/2 threads for their tasks.

The GroupByOrderByCombineOperator on the other hand just sets the number of threads to the number of operators.

I haven't actually profiled this or logged how many operators there are in practice,

[2022-06-20 14:19] jadami10 opened #8929 "Allowing empty segments with kafka consumption"
We have a fairly unique consumption pattern that leads to consumption issues in Pinot.

- our Pinot table is set to consume topic T across P partitions.
- topic T has many different shapes of events, but at ingestion time we filter out any events that do not meet criteria C
- topic T has a high number of events per second
- for some Partitions P, there may be 0 events for days that match our crite

[2022-06-20 14:40] jadami10 opened #8930 "Setting progressively higher limits on groupBy queries causes query performance to degrade"
For bare "SELECT X FROM Y" queries, regardless of the "LIMIT", the query performs the same.

For "SELECT X, SUM(Z) FROM Y" queries, there's certain threshold for LIMIT, usually around 1-10 million, where every multiple of 10 you increase the limit by causes the query to take 10x longer to return results. It still returns the right result; it just takes a lot longer.

[2022-06-20 14:43] jadami10 opened #8931 "Broker routing time is impact by the time pruner with 10k+ segments"
We seen for tables where we have 10 thousand or more partitions, broker routing time will increase to 100ms or more. We have not had a chance to profile yet, but the theory is that serializing/deserializing interval trees with large numbers of segments is causing issues.

[2022-06-20 14:52] jadami10 opened #8932 "Automatic, configured, and transparent index selection in Pinot queries"
This issue is getting us into the realm of other database functionality. Because we setup so many Pinot tables and queries, we try to standardize how we select indices on all of our tables. The current logic is all dimension columns get an inverted index, the time column gets a range index, and some "key column" also gets a bloom filter.

While we expected this to be a clear trade off of cost (cos

[2022-06-20 17:57] #8844 closed

[2022-06-20 19:16] Jackie-Jiang commented on #8928
This is a legacy behavior which is carried over to prevent performance regression. Basically for group-by queries, we will use all CPU resources if not explicitly configured. `maxExecutionThreads` query option will still be honored if specified.

It is a trade off between latency and stability: using all CPU cores can give the best latency if query rate is low, but one expensive query can exhaust

[2022-06-20 19:18] Jackie-Jiang commented on #8929
This is a fair ask. Since we introduced filtering during ingestion, if the offset moves but no record ingested, we should commit an empty segment and move the offset. cc @npawar @mcvsubbu

[2022-06-20 19:20] Jackie-Jiang commented on #8930
This is solved with #8921

[2022-06-20 19:20] #8930 closed

[2022-06-20 19:33] Jackie-Jiang commented on #8931
There are 2 part of the issue:
1. Partition pruning (`SinglePartitionColumnSegmentPruner`): we re-calculate the matching partition on a per segment per query basis, which can be very costly when there are lots of segments. Instead, we should be able to pre-group the segments to each partition id so that we only need to calculate the matching partition once
2. Time pruning (`TimeSegmentPruner`): Th

[2022-06-20 19:55] xiangfu0 commented on #8723
The auto cleanup minion is already implemented, so I guess we can directly move the the deployment side

[2022-06-20 20:05] Jackie-Jiang commented on #8723
@xiangfu0 Can you share the PR of auto-cleanup the minion? I lost track of it

[2022-06-20 21:17] navina commented on #8527
were you able to make progress on this , @ddcprg ?

[2022-06-20 21:30] technomage opened #8934 "Kubernetes Quickstart references file pinot/pinot-realtime-quickstart.yml"
The kubernetes Quickstart documentation references file pinot/pinot-realtime-quickstart.yml which does not exist.  A similar file exists in a subdirectory of pinot/kubernetes that is gee specific.  It would be preferable to have the quick start be able to be used locally when just getting started.

[2022-06-20 21:47] xiangfu0 commented on #8723
There was an old issue : https://github.com/apache/pinot/issues/6526 and corresponding PR: https://github.com/apache/pinot/pull/6543

So the only thing left is the k8s changes which I can do it very soon.

[2022-06-20 23:29] xiangfu0 commented on #8723
https://github.com/apache/pinot/pull/8936

[2022-06-20 23:43] #8723 closed

[2022-06-21 11:35] gortiz opened #8944 "Pinot chart default limit values"
Default values provided by Pinot Chart are not the best. Issues I’ve found:

1. At least in the server, logs are sent to /opt/pinot/logs but cannot be read with kubectl logs
2. CPU quotas or shares are not defined, as a result, Java 11 decides to only use a single CPU by default
     * This is bad per se, but it is specially bad when G1GC is used, as it is explicitly specified by the chart.
     *

[2022-06-21 11:43] laxmanchekka opened #8945 "schema compatibility check implementation is too restrictive"
Version: 0.10.0

Current implementation is too restrictive. It almost allows no change other than column addition.
Few examples which we came across after upgrade (0.10.0 from 0.7.1)
- Change in default value
- Change from dimension to metric
- Change in granularity of a DateTimeField
- Changing the maxLength of a column

These changes were allowed (due to a bug however) in 0.7.1
Checking for comp

[2022-06-21 12:31] lksvenoy-r7 commented on #7983
Closing this issue as this was fixed in https://github.com/apache/pinot/pull/8055/files

[2022-06-21 12:31] #7983 closed

[2022-06-21 12:33] lksvenoy-r7 commented on #8811
Thanks for the responses @Jackie-Jiang @mayankshriv. That makes sense now, just a slightly confusing API. I'll close this issue as it was simply a misunderstanding

[2022-06-21 15:09] jadami10 commented on #8930
beat me to it. we'll pull this in, thank you!

[2022-06-21 15:11] jadami10 commented on #8928
thank you for taking this up. For now we will manually set that config using the same logic CombinePlan uses to prefer stability.

[2022-06-21 18:17] Jackie-Jiang commented on #8945
Thanks for raising this! Agree that several checks are too restrictive, and make changes very hard or even impossible.
The following changes should be safe:
- Change default value (only applied during ingestion)
- Change granularity of DateTimeField (granularity is just for description purpose currently)
- Change maxLength of a column (only applied during ingestion)

Some changes might cause probl

[2022-06-21 18:56] Jackie-Jiang commented on #8945
@mcvsubbu Basically the new default value won't be backfilled to the existing segments if the column is not a default column. IMO it is fine, and user should adjust their queries accordingly

[2022-06-21 19:02] dang-stripe opened #8948 "Stuck unassigned segments after metadata push while controller is shutting down"
We had a few segments that were not assigned to any servers due to metadata push happening when the controller was shutting down while it was getting replaced. The segments were not added to the ideal state yet.

After the controller was replaced, the segments remained unassigned to any servers. In order to fix the issue, we deleted the segments and re-ran the segment metadata push job. We were un

[2022-06-21 23:24] ankitsultana opened #8951 "Colocated Join Support in Pinot"
Native Join support has just recently been added to Pinot via the Multi-Stage Execution Engine Support. For some high-throughput join use-cases, we should be able to improve the performance quite a bit by avoiding the shuffle step. This can be done by ensuring that data for the same partition lies on the same servers.

We have started looking into Colocated Joins and have broken it down into two p

[2022-06-22 01:02] Jackie-Jiang commented on #8948
I don't think it is possible to auto recover because there is no guarantee that all segments are already pushed when the exception happens.
Ideally, if a previous metadata push task failed, rerun the same task again should get you the same result (idempotent). Does it work if you don't manually delete the segments? If not, we should fix it

[2022-06-22 14:04] gortiz commented on #8837
I think we need to invest some time optimizing sorted by, as there are too many cases where the optimizations can be applied but they are not. One example:

[code]

Where `any_other_thing` may be a column, an operation or even a literal!

[2022-06-22 16:22] GaruGaru opened #8954 "Support time based segment split in flink connector"
## Goal

Allow consistent segment overwrite using the flink connector for time sorted data.

## Description

In order to support segment overwite for time-sorted data we need to implement segment split based on the time column ( the current implementation only takes the row count per segment split in account ).

### Reference
Follow up of https://apache-pinot.slack.com/archives/C01S5EHPS2U/p165591

[2022-06-22 21:31] walterddr commented on #8906
any additional comments or suggestions: @xiangfu0 @jackjlli @siddharthteotia @yupeng9

I would love to solicit more feedback before choosing the syntax. Or if there's any additional channel to share this for more feedback please do let me know

[2022-06-22 21:33] walterddr commented on #8954
If I understand correctly pinot's OFFLINE segment is already generated by nameprefix + start/end timestamp

I was wondering if those are automatically generated based on the data being ingested, or is it preset?
CC: @npawar @xiangfu0 do you know if our current pinot-spark connector support splitting by natural timestamp?

[2022-06-22 21:41] xuhui-stripe opened #8955 "Some timezone ids will cause query to fail"
We noticed issues recently that are related to `datetime_convert`:

----
Issue1:
Following query will fail when zoneid is specified as `EST `:
[code]
with error:
`java.lang.IllegalArgumentException: Timezone EST not supported`

But EST is clearly existed in jida time format provided in pinot [doc](https://docs.pinot.apache.org/configuration-reference/functions/timezoneminute) And if I change above

[2022-06-22 22:57] jackjlli commented on #8906
I'm also incline to `SET`, as `SET` is more commonly adopted by other data platforms, which requires less learning curves for users to leverage.

And I think what Jackie mentioned for `SET` in Presto is that Presto uses `SET` to [set runtime parameters](https://prestodb.io/docs/current/sql/set-session.html), which is similar to [what Postgres does](https://www.postgresql.org/docs/current/sql-set.h

[2022-06-23 00:10] jadami10 commented on #8930
To follow up here. We pulled this change into 1 cluster today. Overall latencies are the same, but tail latencies have stabilized greatly. Their peaks are down an order of magnitude (from seconds to hundreds of millis).

[2022-06-23 06:38] #8632 closed

[2022-06-23 06:59] Jackie-Jiang commented on #8955
For the first issue, the problem is actually within the `date_trunc` function, which takes a `zone-index.properties` file, where `EST` is commented out. Seems we are trying to match the Presto behavior for this function, and it is not consistent with the `DateTimeZone` supported by joda. cc @xiangfu0

For the second issue, the exception is thrown from the group-by combine phase. We might want to t

[2022-06-23 14:34] priyen opened #8962 "Segments go into error state after adding sortedColumn on already existing realtime table"
At Stripe we recently tried adding a sortedColumn on a realtime table that already exists and noticed that we see these logs, and then the segment goes into error start until we restart the server.

```[2022-06-20 20:18:54.399523] 2022/06/20 20:18:54.399 INFO [LLRealtimeSegmentDataManager_<SEGMENT NAME>] [HelixTaskExecutor-message_handle_thread] RealtimeDataResourceZKMetadata **contains no informa

[2022-06-23 20:32] walterddr opened #8966 "[multistage] clean up mailbox/datatransfer layer"
Currently non-data block treatments are not ideal.

- error transfer blocks are not populated through the system. it is treated as an empty block
- populated error block should also early terminate execution, for example in JOIN conditions.
- eos block should not contain data schema if it is not indicating a 0-row payload.
- metadata blocks should not be treated as empty block.

Also from #8890
-

[2022-06-23 22:06] Jackie-Jiang commented on #8962
In order to sort records within a consuming segment, inverted index is required. Currently there is no easy way to add an inverted index into a consuming segment, so there are 2 options:
1. Re-design segment reload for consuming segment. Currently segment reload can only add new column with default value, which is not robust and can cause unexpected behavior when there are other changes in the tab

[2022-06-23 22:20] mcvsubbu commented on #8962
@priyen did the column exist when you changed the table config to set the column name to be sorted? (Btw, we can only sort on one column, even though it is an array in the table config. Adding second and subsequent col names to the array does not have any effect, iirc).

Maybe this is as simple as not throwing the error if information is not available while constructing the segment. the next segme

[2022-06-23 22:38] Jackie-Jiang opened #8968 "OfflineGRPCServerIntegrationTest is flaky"
https://github.com/apache/pinot/runs/7014263352?check_suite_focus=true

[2022-06-23 23:01] walterddr commented on #8968
Exit code 137 - Process was killed by [Linux OOM Killer](http://www.oracle.com/technetwork/articles/servers-storage-dev/oom-killer-1911807.html) because you are low on resources on the machine.

this likely is due to memory leak on GRPC integration test. difficult to debug without a core dump. do we have access to interactive GHA by default?

[2022-06-24 00:25] xuhui-stripe commented on #8955
Thanks for the response! I tried on the second issue after removed some unimportant factors, now I am getting error:
[code]
For following query:
[code]

If I change above query to:
[code]

Difference is  '1:MILLISECONDS:SIMPLE_DATE_FORMAT:yyyy-MM-dd tz(**Asia/Nicosia**)', it will work.

[2022-06-24 00:45] npawar opened #8970 "Minion tab in Pinot UI"
Current Pinot UI doesn't have a tile for Minion. There is also no way on the UI to look at all the tasks/subtasks status.

[2022-06-24 00:46] npawar commented on #8970
cc @shahsank3t

[2022-06-24 07:53] lksvenoy-r7 opened #8973 "Do not allow relocating segments for upsert table or realtime to offline task"
Currently nothing stops developers from defining segment relocation in their upsert tables using the instanceAssignmentConfigMap. From discussions in the Pinot slack group, it's become apparent that this breaks the upsert functionality for upsert tables (and apparently also the realtime to offline segments task).

We should mark the table configuration as invalid if segment relocation is enabled f

[2022-06-24 11:16] Jackie-Jiang commented on #8973
We already have the check for realtime to offline task. We should also add the check for the segment relocation. Do you want to help contribute this? The check can be added to `TableConfigUtils.validateUpsertAndDedupConfig()`

[2022-06-24 11:40] Harnoor-se7en opened #8974 "Server Response Deserialization Time Metric on Broker Side"
**Why do we need this?**
We are observing a significant difference in the `SCATTER_GATHER` timer metric value at the broker layer and the `TOTAL_QUERY_TIME` timer metric value at the server layer.
![Screenshot 2022-06-24 at 4 11 36 PM](https://user-images.githubusercontent.com/100941492/175518975-2ab94d21-6490-4c73-90cb-d4059017a9e2.png)

Additional metrics across each phase at the broker layer wo

[2022-06-24 19:19] dang-stripe commented on #8948
Thanks for following up - we already fixed the segments by deleting them so can't easily reproduce atm. I looked at the code and it seems like we'd hit this block? https://github.com/apache/pinot/blob/release-0.9.0/pinot-controller/src/main/java/org/apache/pinot/controller/api/upload/ZKOperator.java#L95 Which seems to try to refresh existing segments if there were any errors in the last upload.

I

[2022-06-25 20:39] diogobaeder opened #8977 "Unable to get float/double JSON results from sum()"
Hi folks,

I have a table where I aggregate results with `sum()`; However, even though the declared type in the JSON results are set to `"DOUBLE"`, the values themselves are coming as strings (`"1.234"` instead of `1.234`); What's worse is that if I try to then cast the results to a float or a double I get an exception from the Broker:

[code]

Any idea how I can get my sums returned as real numbe

[2022-06-25 20:41] diogobaeder commented on #8977
Still following the example query above, this for example works fine:

[code]

and this works fine too:

[code]

although in the latest case the true type is not matching the declared data type for the column.

[2022-06-26 05:07] diogobaeder commented on #8977
Guys, a very important update that actually reduces the seriousness of this issue: I can only reproduce the issue in the incubator UI. Upon building my project with the issue above I got to a point where I was querying the data from the outside, but from the outside I get no issues at all, all the data there is in good shape. Which is awesome, because this then constrains the problem to the incuba

[2022-06-28 00:57] #8334 closed

[2022-06-28 17:06] xuhui-stripe commented on #8955
Just wondering is there a way to get all the timezones that are not supported/mismatched now so we can work around this? Thanks.

[2022-06-28 20:12] navina opened #8982 "Package zookeeper setup scripts directly in pinot distribution"
For new users of Pinot, it would be convenient to make the ZK setup scripts accessible directly from Pinot distribution. That will allows users to easily setup ZK cluster (in standalone or cluster mode), without directly pulling in the ZK distribution for setup. Apache Kafka project provides such a facility - [https://github.com/apache/kafka/blob/trunk/bin/zookeeper-server-start.sh](https://github

[2022-06-28 20:32] navina opened #8983 "Support all additive functions with rollup"
As of today, only `sum`, `max` and `min` are supported in the `RealtimeToOfflineSegmentsTask`. We should be able to support all additive functions during rollup (eg. `percentile` etc)

[2022-06-28 20:38] npawar opened #8984 "Controller endpoint to surface exceptions per table"
1. we should add this to controller end point as well and display in the UI
2. have something stored in ZK for errors for each table.
3. we can limit the size to few kbs
4. capture segment flush, consumption, API errors etc.

[2022-06-28 20:43] npawar commented on #8886
@snleee are you planning to pick this up?

[2022-06-28 20:45] mcvsubbu commented on #8984
Maybe we can publish to a stream topic that captures such events, and provide analytics on that table using pinot. This can be a more generalized solution, and we don't have to limit anything to a few KBs.

On a cluster with 5000 tables, few KBs per table can add up to a lot, so we would want a way of configuring this off in some clusters, I would think.

[2022-06-28 21:09] npawar commented on #8977
Hey @diogobaeder , the stacktrace indicates this came from the pinot code, and not from the UI `at org.apache.pinot.core.query.postaggregation.PostAggregationFunction` . Did that particular exception get resolved?

[2022-06-28 21:18] diogobaeder commented on #8977
Ah, sorry for the mess above, my comments are cumbersome and confusing. Let me try to explain here the aspects of this to avoid further confusion:

1. There's still an original problem which is the incubator UI returning strings instead of doubles after applying sums (my previous comment is that this is not reproducible when querying the broker directly, for example from a Python script - from suc

[2022-06-29 13:05] AhmedElsagher opened #8990 "UDF is not working as ingrestion Transform fumction"
I created a UDF in java and and build jar file and put it in plugins then test  it in query mode and got the expected output
I tried the same function in transformConfigs but it didn't work I got this error
`"Invalid transform function 'encrypt(column_1)' for column 'cloumn_2'"}`

`"ingestionConfig": {
        "transformConfigs": [{
          "columnName": "column_2",
          "transformFunction"

[2022-06-29 14:46] priyen opened #8992 "String equality in Case statement inside date transform function throws"
Given a query as follows:
[code]
this throws with exception
[code]

--
Previously this worked fine in an older version of Pinot, if you change the 'week' = 'week' to 2 = 2, it works, so something is wrong with the literal parsing.  This is inside a case statement, so string comparison should be supported.

[2022-06-29 18:52] navina commented on #8527
@ddcprg thank you for responding. We might pick it up in the near future. Still under discussion. Let us know if you ever get around to working on it. tks!

[2022-06-29 20:05] taohu18 opened #8996 "Bug in 0.10.0, Incorrect result when using more than two CASE WHEN statement in group by query"
Here is an example query

SELECT DISTINCTCOUNT(name) count, CASE WHEN age < 2 THEN '0-2' WHEN age < 4 THEN '2-4'  ELSE '4+' END age_range FROM SAMPLE_TABLE WHERE age >= 0 GROUP BY age_range LIMIT 10

In the table, 3 people has age between 0 and 2, 2 people has age between 2-4, and 4 people has age above 4. But the result of the above query shows 0-2 has 0 people, 2-4 has 5 people and 4+ has 4 peop

[2022-06-29 20:09] mayankshriv commented on #8996
Thanks for reporting, we will take a look. Is this a generic bug, or happens on a specific dataset?

[2022-06-29 20:50] taohu18 commented on #8996
This should be a generic bug. It occurs on all datasets

[2022-06-30 04:29] jadami10 opened #8998 "BadQueryRequestException when filtering on metric column first"
This is a weird one.

This query works fine
[code]

The following query fails
[code]

I get back
[code]
I've tried <, >, =, is null, is not null; but no matter what, if you filter on amount first, the query fails.

I can't repro with latest master and the meetupRsvp table, so it might already be fixed.

[2022-06-30 10:25] gortiz commented on #8776
After some time thinking about this test and understanding how it works, I think the test was designed with this scenario in mind:

[code]

But I think Helix does not guaranteed that the sequence and sometimes, due to the lack of resources in GHA, we may find this scenario:

[code]

If that is the case, the palliative solution is to retry the validation with some timeout.

[2022-06-30 11:34] Jackie-Jiang commented on #8974
@navina Can you please also take a look at this issue? It should be similar to the metric you added in #8941

[2022-06-30 12:31] Jackie-Jiang commented on #8791
A lot of test failures are not easy to re-produce locally. Usually they failed due to very limited resources provided by the CI VMs: https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners#supported-runners-and-hardware-resources
If we can setup a VM with very limited resource (e.g. 2 CPU cores), it should be much easier to reproduce the issue

[2022-06-30 12:37] Jackie-Jiang commented on #8983
The challenge here is that the intermediate result (e.g. `list` for `percentile`) must be of the same type of the input. In order to support any aggregation function, we need to figure out a way to store the intermediate result as a separate column (similar to star-tree). The query engine needs to smartly choose the intermediate result column to aggregate on. We also need to decide what value to p

[2022-06-30 12:47] Jackie-Jiang commented on #8990
Do you have the full stack trace for the exception? Do you have the plug-in jar included in the segment creation package?

[2022-06-30 12:56] Jackie-Jiang commented on #8992
The exception is thrown from the scalar function version of the `equals`, which means this operation is applied to an aggregation result?
Do you have the exactly same query working in the old version of Pinot? I don't think scalar function version `cast` is supported in the old version, so maybe the old query is not applied to the aggregation result, but regular transform (applied to the column)?

[2022-06-30 13:13] Jackie-Jiang commented on #8998
The query is missing the `group by currency` though. What is the response with the latest master?

[2022-06-30 14:19] jadami10 commented on #8998
i just missed typing it. I've updated the description. I will be updating to latest master early next week so can check again.

[2022-06-30 14:33] walterddr commented on #8968
closing after #8997

[2022-06-30 14:33] #8968 closed

[2022-06-30 15:11] diogobaeder commented on #8977
Nice, glad to know! Thanks @Jackie-Jiang , I'll close the ticket now since it dropped in the main branch already.

[2022-06-30 15:11] #8977 closed

[2022-06-30 17:25] taohu18 commented on #8996
@richardstartin I downloaded pinot from the official build, not sure if it's on master or not. I will try with the most recent official build to see if it's fixed

[2022-06-30 17:34] ankitsultana commented on #8996
Cherry picking https://github.com/apache/pinot/pull/8748 on v0.10.0 fixed it for us.

[2022-06-30 21:16] snleee opened #9003 "Segment download on the server side can be incomplete"
[code]
In both cases, the CRC was changed from `822932084 to 976745101`; however, the downloaded file lengths for 2 cases are different. (`21332` in the first attempt and `21440` in the second attempt).

1. We need to investigate why segment downloads can end up having wrong bytes.
2. Add re-try for HTTP segment fetcher

[2022-06-30 23:10] yuanbenson opened #9005 "Add Segment Lineage List API"
Adding segment lineage list API on the controller for users to retrieve segment lineage for a specified table.

[2022-07-01 07:50] gortiz commented on #8714
It seems that this is a common problem when running in GHA due to some particularities of Azure. See https://github.com/actions/virtual-environments/issues/1499.

Several projects (for example, [pulsar](https://github.com/apache/pulsar/blob/master/.github/workflows/pulsar-ci.yaml#L34)) decided to include these JVM options by default, so I guess we can try to do the same.

[2022-07-01 11:10] Harnoor-se7en opened #9007 "Reload Status Showing Inconsistent Result on UI"
Hi Folks. For checking indexes, config applied, etc we have to exec into the pod to verify the table config.
For example in the below attached image, we do not have any inverted index on `tenant_id`:
<img width="1280" alt="Screenshot 2022-07-01 at 4 17 53 PM" src="https://user-images.githubusercontent.com/100941492/176883126-25963af5-5d56-46b3-a315-ee99d294c498.png">

Expected result:
we only have

[2022-07-01 15:10] gortiz commented on #8718
I've just made an analysis of the docker image.

It seems that the three bigger layers are:
- 344MBs of base image (jdk-slim), which is highly reusable. That means that given two images, they will probably use the same base and therefore the space/download time would be paid only once
- 617MBs of apt-update and apt-install, which is not reusable at all. We can improve this by creating a specific b

[2022-07-01 15:17] gortiz commented on #8718
BTW, I had very good experience with Jib in the past. Given the complexities of Apache Pinot building process, I don't think we can directly use Jib, but we can replicate the way Jib layers the images ([link](https://github.com/GoogleContainerTools/jib/blob/master/docs/faq.md#how-are-jib-applications-layered))

[2022-07-02 03:03] walterddr commented on #8890
closing

[2022-07-02 03:03] #8890 closed

[2022-07-02 06:35] KKcorps opened #9009 "Add a Bash Script/Command for Spark Ingestion"
Currently, spark ingestion has lot of parameters that need to be changed based on environment. A command can be added to Pinot that takes the env (e.g. EMR, YARN, K8s), the pinot binary path, the plugin names and can generate a full spark command for you. This would help avoid confguring class paths, schems for the jar locations, java version and so one.

[2022-07-03 03:29] AhmedElsagher commented on #8990
No I dont have the stack trace its not in the logs but here is the command and the full output
[code]

I added the jar in the plugins folder in the pinot server container only .. should i added in another place ??

[2022-07-04 13:44] jadami10 opened #9014 "Allowing empty segments for all stream consumers"
In this part of the code, https://github.com/apache/pinot/blob/2b82366c369cf668175695605f0b77d7105f4aff/pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/LLRealtimeSegmentDataManager.java#L301-L304, we extend the segment build time by 1 hour if no rows were consumed. We have some common cases where certain partitions may never have data. We are either filtering out a lot of the

[2022-07-04 13:45] KKcorps commented on #8990
You should also add it in the distribution from where you are running the `AddTable`  command.

[2022-07-04 18:16] #8776 closed

[2022-07-04 21:40] AhmedElsagher commented on #8990
@KKcorps Thanks I tried your suggestion and it worked

[2022-07-05 04:59] #8990 closed

[2022-07-05 05:14] KKcorps commented on #9014
Hi, what I am not able to understand is, why is server consuming days/weeks back data? The consumer only deals with the offsets. It just starts consuming after the last offset that was consumed. If there was no data published, then it shouldn't be an issue imo. The rest of the partitions which had data should have already committed and so they shouldn't be getting consumed from start as well.
Can

[2022-07-05 11:10] jpohanka commented on #7137
@atris @Jackie-Jiang Hello, has there been any progress on this ticket ?

[2022-07-05 15:07] walterddr commented on #8906
looks like `<SET> key = value` is the way to go. implementing it soon

[2022-07-05 15:15] jadami10 commented on #9014
The problem is that there is data published, and it's quite high volume. We are just filtering it all out in our decoder. So in this case, the server never actually commits the segment to advance the offsets. So a restart will cause it to go all the way back to the last time it saw a message it didn't filter out which can be hours or days.

Our table config is has a bunch of custom keys for our in

[2022-07-05 15:50] walterddr opened #9016 "Better UX for data ingestion quick-start"
- search for ingestion file is hard-coded to recursive, no option to do non-recursive scan
- glob setting is matching absolute path, which should obviously exclude part from the root directory
- ingestion config is sometimes required to be escape but sometimes it is not - depending on the plugin it is using
- ingestion job returns empty list of segments being pushed when segment generation fails -

[2022-07-05 19:59] KKcorps commented on #9014
@jadami10 Yeah, in your scenario it makes sense. Yep, we can take it up.

[2022-07-05 21:27] #8929 closed

[2022-07-05 21:28] jadami10 commented on #8998
It seems even after moving the filter condition around and updating to latest master, this is still happening

[2022-07-06 00:14] ankitsultana opened #9019 "Possible Deadlock/Livelock in Pinot Broker at High QPS"
Around a month ago, we had seen an issue where Pinot brokers for one of our High QPS use-cases had what looked like a deadlock/livelock related issue. The brokers were serving traffic around 300-400 QPS and during the issue the number of the threads in the brokers kept on increasing (to up to 30k/40k). When we took a thread-dump, we saw around 30k threads with the following stack-trace.

We were a

[2022-07-06 00:37] dang-stripe commented on #8948
@Jackie-Jiang Is it possible to make the metadata push job or API call to block until the segment has successfully been added to idealstate to avoid this issue? I think the error was unclear to us since our metadata push job didn't fail (presumably updating idealstate happens async). We could add more checks to our offline jobs to verify that the segment did make it into idealstate as a stop gap.

[2022-07-06 15:30] Rohan0135 opened #9022 "CORS Error when querying broker"
I'm trying to query the broker api at http://localhost:8099/query/sql  but i get the following error response : No 'Access-Control-Allow-Origin' header is present on the requested resource.
 Im querying from a browser, which seems to be the problem.
 Need to have the response headers have the following "Access-Control-Allow-Origin: * " to allowing querying from a different origin
![Screenshot 2022

[2022-07-06 18:28] walterddr opened #9023 "Server HealthCheck StatusCallback should separate instance and table/segment health check"
Currently BaseServerStarter will register status health check callback with all the enabled table on that server. It will only return health OK once all table/segments are loaded.

This will cause problem for server with large amount of table/data to be loaded, running in a container environment.
- container manager will check health endpoint for service monitoring, while startup, pinot-server ret

[2022-07-06 21:46] walterddr commented on #9023
ok yes that would be changing the semantics of a REST API.

counter proposal
- keep current `health` API behavior.
- new `health/instance` API that strip table/segment status callback from server health check (only instance health check)
- new `health/services` API that returns a similar to ServiceStarterManager REST API that returns a map of serviceStatusCallback value

[2022-07-06 23:30] walterddr commented on #9023
@mcvsubbu @mayankshriv @npawar ^

[2022-07-07 00:20] walterddr opened #9025 "Reduce duplicate SQL parsing in Broker"
SQL gets parse up to twice in brokerRequestHandler because there's 2 different endpoint to parse options and SQL into SQLNodes.

Propose to unify it and have request handler giving 2 APIs:
- one accepts JSON Request STRING;
- one accepts the parsed SQLNodeAndOption so that it doesn't get reparse.

[2022-07-07 00:27] walterddr opened #9026 "[multistage] engine cleanup for operator on intermediate stage"
Summary
==
this issue Keeps track on the follow up / TODO list for operator implementation on multi-stage engine

Details
==
we tested basic mix-and-match operator SQLs but did not cover all combinations of possible SQL queries. This issue should focus on ensuring more SQL features are tested properly.

Bug fixes:
- [x] timeout and other early termination doesn't polite GRPC mailbox channels (http

[2022-07-07 03:57] pjpringle opened #9027 "/ingestFromFile rest call fails to upload segment if user name password is enabled Pinot 0.9.2"
Looks like auth token needs to be passed through when calling the controller API

**/ingestFromFile**

which calls

**/segments** api

[code]

[2022-07-07 22:01] #8835 closed

[2022-07-07 22:44] siddharthteotia commented on #8875
Support has been added in https://github.com/apache/pinot/pull/8953 and  https://github.com/apache/pinot/pull/8993

Closing as completed.

[2022-07-07 22:44] #8875 closed

[2022-07-08 03:24] mcvsubbu commented on #9023
The existing behavior of loading all segments was put in place to allow for rolling restarts and upgrades. With this behavior, we can use healthcheck after an upgrade or restart and rest assured that we don't compromise on availability. @walterddr
 how do you propose to solve this problem in the container environment?

[2022-07-08 06:01] walterddr commented on #9023
I think the issue I am trying to solve here is orthogonal to the rolling restart problem, which is an intended restart. I am happy to create another issue to address this problem for the containerized environment.

this issue mainly discusses the unintentional restart triggered by the containerized environment. Here I propose to create an additional endpoint to retrieve "instance availability" and

[2022-07-08 17:55] kaiquerass opened #9032 "Problems with new helm chart (adding table and minion stateless)"
I'm currently deploying a new pinot cluster and I was facing some issues while adding tables using [this guide](https://github.com/apache/pinot/blob/master/kubernetes/helm/pinot/pinot-realtime-quickstart.yml).

After debugging it a lot, I guess I discovered the solution. Below are the problemas that I found:

- The new helm package is missing on the repo. It's not possible to deploy minion statele

[2022-07-11 03:55] 0ZhangJc0 opened #9036 "how to config multi disks"
Support to add multiple directory location for this property in server (pinot.server.instance.dataDir)
Can we add multiple directory locations path to this below server conf property?

pinot.server.instance.dataDir=
Like disk1 and disk2

So server chooses any one during runtime ...

Our server have multi disks, If Pinot does not support configuring multiple data dirss, server resources will be was

[2022-07-11 04:04] 0ZhangJc0 commented on #9036
Support to add multiple directory location for this property in server (pinot.server.instance.dataDir)
Can we add multiple directory locations path to this below server conf property?

pinot.server.instance.dataDir=
Like disk1 and disk2

So server chooses any one during runtime ...

Our server have multi disks, If Pinot does not support configuring multiple data dirss, server resources will be was

[2022-07-11 04:44] kishoreg commented on #9036
We were thinking of adding something like this to support multiple tiers as well..

Cc @npawar @klsince

[2022-07-11 05:16] klsince commented on #9036
Yeah, I opened this issue early on and WIP on it: https://github.com/apache/pinot/issues/8843 feel free to leave comment there or tag me here for further discussion.

[2022-07-11 17:41] sajjad-moradi opened #9039 "Manually deleted consuming segments"
PR #8663 adds a new endpoint to recreate consuming segments which have been deleted manually by admins. Now this resume endpoint is used in pause/resume consumption in PR #8986
@mcvsubbu brought up a good point that we can block deleting consuming segments in segment deletion endpoint. If we do this, then periodic RealtimeSegmentValidationManager job - which ensures all partitions are properly con

[2022-07-11 19:42] #7328 closed

[2022-07-11 20:43] Jackie-Jiang commented on #9007
Is `tenant_id` sorted? If the column is sorted, the sorted index can be used as both forward index and inverted index, and that might be the reason why the inverted-index is checked here

[2022-07-11 21:43] Jackie-Jiang commented on #7137
@jpohanka #7184 contains the `OR` support on single dimension predicates. Do you need `OR` support on multiple dimensions for your use case?

[2022-07-11 22:09] Jackie-Jiang commented on #8998
Based on the exception message, the engine is processing `sum(amount)` in the filter clause. Do you have alias in the query? Based on the query I don't know how is that possible though..

[2022-07-11 22:24] Jackie-Jiang commented on #9019
Thanks for reporting the issue.
Did you observe high latency on the server side? How's the CPU utilization on the broker side?

There are 2 possibilities for this issue:
1. The queries stuck for some reason, thus the Jersey threads are waiting for the query responses
2. A bug in the Jersey library

[2022-07-11 22:58] Jackie-Jiang commented on #8948
Yes, that is the current behavior. The API only return success when the segment ZK metadata is created/updated and the ideal state is updated/refresh message is sent.
Which class do you use to perform the metadata push? We might want to check if the job itself fails when a push fails

[2022-07-11 23:00] Jackie-Jiang commented on #9022
@apucher Can you please help answer this? I believe this is by design for the security purpose

[2022-07-11 23:06] Jackie-Jiang commented on #9027
Yes. This API requires the auth token because it will try to generate and add a segment to the table (access type `CREATE`)

[2022-07-11 23:06] jadami10 commented on #8998
Ohhh you're totally right and this is a result of our confusing column names.

Because we pre-aggregate, we name the column 'sum_amount'. And then when we query we do 'sum(sum_amount) as amount'. So filtering by 'amount' is wrong and only looks like it should work because of the alias. In reality the column is 'sum_amount'

Cc @noon-stripe

[2022-07-11 23:06] #8998 closed

[2022-07-12 00:47] ankitsultana commented on #9019
Pinot servers were fine and the CPU Utilization also looked okay. I had seen this ticket which seems kinda related: https://github.com/javaee/hk2/issues/318

If I get some time maybe I'll try reproducing this.

[2022-07-12 02:02] walterddr commented on #8906
yes let me update the PR description

[2022-07-12 02:50] xiangfu0 opened #9042 "Separate query log for Pinot broker log"
Separate query log from broker log. So it won't mess up existing broker logs.

[2022-07-12 04:35] dang-stripe commented on #8948
We're using this class: `org.apache.pinot.plugin.ingestion.batch.spark.SparkSegmentMetadataPushJobRunner`

Based on the code, it seems like the job would correctly fail when a push fails. We no longer have the job logs around from the push, but I'll update this issue if this issue happens again.
* https://git.corp.stripe.com/stripe-private-oss-forks/pinot-findata/blob/master/pinot-plugins/pinot-ba

[2022-07-12 11:13] jpohanka commented on #7137
@Jackie-Jiang Yes, in our use case, we use complex predicates, and the support for multiple dimensions would help greatly.

[2022-07-12 11:22] atris commented on #7137
@jpohanka Actually, that would require fundamental changes to the structure of the star tree index, since the current structure would lead to a double counting of certain values for multiple dimensions.

Let me talk to @Jackie-Jiang and get back

[2022-07-12 15:56] ddcprg opened #9045 "Handle poison pills in message Confluent Schema Registry Avro decoder"
Currently, when bad messages are ingested by Pinot these messages fail decoding and stop consumption of the stream sending the segments to `OFFLINE` state. There is no easy way to recover from this state.

Most of these issues are caused during deserialisation of the binary data into the ingestion format.  Some. examples of bad messages included Avro messages with magic byte missing, JSON messages

[2022-07-12 16:13] mcvsubbu commented on #9045
The reason current behavior exists is to not have data loss. But then when I look at the code, it seems that the transform logic can throw exceptions and we do not stop consuming. I see no reason why decoder can also be put into the [try/catch](https://github.com/apache/pinot/blob/master/pinot-core/src/main/java/org/apache/pinot/core/data/manager/realtime/LLRealtimeSegmentDataManager.java#L524).

[2022-07-12 16:36] ddcprg commented on #9045
I was thinking of handling exceptions at decoder level because some exceptions may need retrying and others may be skipped, e.g. in the Avro decoder _"unknown magic byte"_ is a problem with the data and the record can be ignored, however a connectivity issue with the schema registry whilst retrieving the schema should be retried.

Other decoders may need handling specific exceptions as per their l

[2022-07-12 16:52] ddcprg commented on #9045
There is no other way but contact the schema registry during ingestion, the schema ID is in the value payload and only known during ingestion.

Messages in the same topic may refer to different schemas each and if the schema is not already cached then it needs to be retrieved - worst case the decoder will have to download a schema per message. The current code uses a caching schema registry client

[2022-07-12 16:59] mcvsubbu commented on #9045
Hmm... A topic will have a single schema, no? Multiple versions yes. So, given a topic, the latest version can be retrieved, right?

[2022-07-12 17:02] ddcprg commented on #9045
not necessarily, but yes best case the client download only 1 schema and keep it cache. The decoder still needs to connect to schema registry and download any schema not seen before and an error can happen then

[2022-07-12 17:03] ddcprg commented on #9045
I'm fine with handling the error in other place as long as bad records can be skipped

[2022-07-12 19:16] #8970 closed

[2022-07-12 19:24] GSharayu opened #9047 "Segment Assignment Strategy interface"
Currently, Offline/RealtimeSegmentAssignment covers all the available segment assignment strategies. Single implementation works for both replica group and non replica group based tables.A lot of concepts are coupled together in the existing segment assignment implementation. (Tiered storage, Realtime’s consuming/completed concept etc)

Assignment strategies (e.g. balanced, replica-group etc) need

[2022-07-13 02:19] apucher commented on #9022
@Rohan0135 are you using a proxy to build a webapp? whatever runs on port 3000 sends a CORS header that blocks access to 8099

[2022-07-13 13:45] ddcprg commented on #9045
`JSONMessageDecoder` will remain as is

https://github.com/apache/pinot/blob/master/pinot-plugins/pinot-input-format/pinot-json/src/main/java/org/apache/pinot/plugin/inputformat/json/JSONMessageDecoder.java#L66

[2022-07-13 14:51] kishoreg commented on #9045
sorry for the delay in pitching in. I think the right solution might be to support this at two levels
- Decoder (convert raw payload to GenericRow)
   * Decoder should internally handle exception, retry etc but probably not skip a record and return null instead or generic row with skip=true or something like that and adhere to the contract.. return the new offset.
- Pinot  (convert generic row to

[2022-07-13 15:16] ankitsultana opened #9052 "Add API and UI View for All Tables in a Table-Group"
Follow-up from https://github.com/apache/pinot/pull/8989

[2022-07-13 17:10] mcvsubbu commented on #9045
I have proposed a method in PR #9051 that will make this feature available to other streams as needed, in a well-defined way.

[2022-07-13 17:24] siddharthteotia commented on #5246
At LinkedIn, we have started to work on pagination on priority considering multiple requests we have received internally.

At a high level, our customer requirements are around the fact that they want to run query in Pinot that can potentially return a large response and user app does not want to accept the entire response in memory at once and want the ability to paginate the response as multiple

[2022-07-13 18:13] yuanbenson opened #9053 "Clean up SegmentLineage#toJsonObject and change listSegmentLineage to reversed chronological order."
As a follow up to https://github.com/apache/pinot/issues/9005, refactor `SegmentLineage#toJsonObject` by moving the sorting logic out to keep `toJsonObject` lightweight and in line with proper convention.
Also, change `PinotSegmentRestletResource#listSegmentLineage` to return entries in reversed chronological order instead.

[2022-07-13 18:50] #9005 closed

[2022-07-13 20:30] Rohan0135 commented on #9022
no proxy, using next.js framework

[2022-07-13 20:52] apucher commented on #9022
@Rohan0135 your web apps isn't being served by pinot on port 8099, but rater by your web server on port 3000. It looks like your server on 3000 is sending a CORS headers

[2022-07-13 22:38] jasperjiaguo opened #9055 "Runtime query killing on brokers and servers using accounting"
Currently, the broker/server pre-empt a query at certain points during scheduling/execution based on timeOut. However, this is not sufficient for a couple of use-cases. Few examples:

- When a user wants to initiate some ad-hoc queries for data analysis on a large production table but doesn't specify a tight data range.
- When unexpected slow queries are saturating CPU/memory on broker and servers

[2022-07-14 00:52] dang-stripe opened #9056 "Queries being routed to server even though not all server segments are online yet"
Our offline segment servers take a very long time to load all segments. We've set a very high value for `pinot.server.startup.timeoutMs` to compensate for this and to avoid having the server receive queries until all segments have moved to online state.

We noticed that there are still queries being routed to the server while it's not yet healthy though. Does the broker only wait for the segments

[2022-07-14 01:44] pjpringle commented on #9027
Issue here is that an api which is provided the token /ingestFromFile, calls another api /segments and does not propagate the token.

[2022-07-14 07:51] jpohanka commented on #7137
@atris @Jackie-Jiang Thank you both.

[2022-07-14 17:46] dang-stripe commented on #9056
This is a newly added server. We don't have those fixes in our version so I'll try to pull them in. Which helix callback does this happen in just so I know what to search for or is there a metric for this?

[2022-07-14 17:48] mcvsubbu commented on #9056
There is a heatlhcheck call on the server that returns good only if all segments for the server are loaded and available in external view.

[2022-07-14 18:56] jadami10 commented on #9023
We have the same problem where servers take too long to go healthy and the ASG recycles them forever. This is for intentional restarts as well as unintentional ones. Rewording what you said to see if we agrees; there does seem to be some issue here where the `/health` endpoint is doing too much:
- The infrastructure responsible for making sure the instance or container is healthy really just wants

[2022-07-14 18:58] mcvsubbu commented on #9023
+1 for new endpoint, yes

[2022-07-14 22:20] Jackie-Jiang commented on #9032
@xiangfu0 Can you please take a look?

[2022-07-15 02:12] Jackie-Jiang commented on #7137
You may read the star-tree doc to get a high level idea of how star-tree works: https://docs.pinot.apache.org/basics/indexing/star-tree-index?q=star+tree+index

[2022-07-15 18:21] vvivekiyer opened #9061 "Evaluate supporting inverted index on raw columns"
Currently, a raw column (where forward index stores raw values) cannot support an inverted index.

A raw column is typically used for high cardinality metric columns where dictionary is not very helpful.
1. Neither does it help saving forward index storage space
2. Nor does it help with filter performance

In fact, queries that use such column without dictionary in other parts that require reading

[2022-07-15 18:23] vvivekiyer commented on #9061
Let’s say we create a forward index file where raw values are stored (instead of dictIds).

In addition, we also create an inverted index file (obviously with a dictionary). There could be a performance improvement (albeit not large) when values are looked up from the forward index file (additional hop of forwardIndex -> DictId -> Value is eliminated. However, the storage utilized might be large.

[2022-07-15 18:23] #9061 closed

[2022-07-18 18:12] mayankshriv commented on #6106
Seems like this was addressed by #6112.

[2022-07-18 18:12] #6106 closed

[2022-07-18 22:39] Jackie-Jiang commented on #9055
cc @atris since this is related to the query resiliency and cost estimation

[2022-07-18 22:46] Jackie-Jiang commented on #9027
I see. I saw a recent PR #8670 that might solve this issue. @apucher Can you please help verify if the PR can fix the issue?

[2022-07-18 22:50] Jackie-Jiang commented on #9056
Sync'ed offline, and the root cause of the issue is that the server is new added, so broker will start routing queries to it once the segments become online in external view. #8525 should be able to fix this

[2022-07-19 00:06] Jackie-Jiang commented on #9023
I'd suggest adding a new API with more information in the response:
- Status (NOT_STARTED, STARTING, GOOD, BAD, SHUTTING_DOWN)
- Custom map explaining the status (segments not loaded yet)

It is much more flexible this way, and different client can choose how to parse the response. E.g. liveness check can pass when the server is not `BAD`, readiness check can pass when server is `GOOD`

[2022-07-19 00:12] jadami10 commented on #9023
One concern I have with a more complex API is most load balancers only allow configuring the path and then look at the status code of the response.

So having both /health/instance and /health/services like in the proposal makes most sense to me.

[2022-07-19 01:06] jasperjiaguo commented on #9055
Listed are some potential approaches we are evaluating/benchmarking. It's just a sketch pad please don't review.
https://docs.google.com/document/d/1O_YKoDpyWjdxd55gE6zAuOjN8_wh0nNBAn9ocIGq25E/edit?usp=sharing

[2022-07-19 01:56] siddharthteotia commented on #8668
I gave a comment regarding this on a related issue - https://github.com/apache/pinot/issues/5246

PTAL. cc @jackjlli

[2022-07-19 02:19] #8906 closed

[2022-07-19 03:16] #6115 closed

[2022-07-19 15:37] gracewalkuski commented on #5246
Hi @siddharthteotia Your comment looks good to me as our requirements are very similar. I will add - currently, we use the JDBC client to access our pinot databases via a spring application, but if we could get results paged directly from pinot to postgres (what we use for interim storage), that would meet our needs as well.

[2022-07-19 18:29] somandal commented on #6473
I'm going to start working on this

[2022-07-19 20:18] apucher commented on #9027
Hi @pjpringle @Jackie-Jiang currently, pinot uses the controller's client credential to perform file upload. This should work once your've configured the segment fetcher credentials (you need those anyways)

[2022-07-20 00:36] Jackie-Jiang commented on #9023
@jadami10 What if we return different status code for different status? Current API only supports `200` and `503`, which cannot represent all the available status.
One problem is that different client might have different logic on parsing the pinot service status, and fixing the return type can reduce the flexibility. We don't want to add an extra new API for each different status check logic.

[2022-07-20 03:55] somandal commented on #7870
Hey @Jackie-Jiang @walterddr

As discussed over slack, we got the compression results for the actual table that ran into this forward index size bloat issue. I've updated the document in [this section](https://docs.google.com/document/d/1BWtNKvxL1Uaydni_BJCgWN8i9_WeSdgL3Ksh4IpY_K0/edit#heading=h.cq0je3xwcssi). The TL;DR is that for the actual table the compression savings are very minimal. I updat

[2022-07-20 05:27] ravishankar15 commented on #7144
Shouldn't we need to add numConsumingSegmentsProcessed and numConsumingSegmentsMatched to the response for this issue to be closed ?

[2022-07-20 06:47] richardstartin commented on #7870
I can’t access the document but was byte alignment (rounding the dictionary’s bits up to the next multiple of 8, so padding each dictionarized value with leading zeros) prior to LZ4 compression attempted? If the dictionary codes aren’t byte aligned, byte-oriented compression schemes won’t work well. I explained this on a call with @siddharthteotia several months ago.

[2022-07-20 09:33] gortiz opened #9075 "Support extract syntax"
SQL defines the [extract expression](https://modern-sql.com/feature/extract) that can be used to access components of temporal datatypes. Calcite already supports it, so when an expression includes an extract function it parses. But once Pinot tries to convert it to its own expression AST, it fails with:
[code]

Pinot already have functions like `minute`, `year`, etc so this seems to be a matter o

[2022-07-20 13:47] somandal commented on #7870
@richardstartin can you provide a gmail ID I can share the document with so that you can access the results? We didn't try the bit alignment to the next multiple of 8. Today morning I ran a few experiments to try that out. We haven't implemented a full-fledged index creator for the approach to compress the bit packed dictionary IDs in the forward index, but use an approximate approach where we ext

[2022-07-20 17:59] Jackie-Jiang commented on #7144
@ravishankar15 Yes, reopened it

[2022-07-20 20:28] mcvsubbu commented on #8804
@yupeng9  can u please let us know if you are still using this setting?

[2022-07-21 06:46] gortiz opened #9079 "Support REGEXP_REPLACE"
Most SQL databases support `REGEXP_REPLACE` function ([Oracle](https://docs.oracle.com/cd/B19306_01/server.102/b14200/functions130.htm), [Postgres](https://www.postgresql.org/docs/current/functions-matching.html), [Vertica](https://www.vertica.com/docs/9.2.x/HTML/Content/Authoring/SQLReferenceManual/Functions/RegularExpressions/REGEXP_REPLACE.htm), [MySQL](https://dev.mysql.com/doc/refman/8.0/en/r

[2022-07-21 06:47] gortiz commented on #9079
IMHO this ticket should be labeled as `beginner-task`

[2022-07-21 06:56] 0ZhangJc0 opened #9080 "gitbook url unavailable"
https://docs.pinot.apache.org/

![image](https://user-images.githubusercontent.com/48285423/180149636-78c3caf3-0da5-4c7f-9f35-ea2df9328d40.png)

[2022-07-21 07:14] gortiz opened #9081 "Ingest parquet: Change behavior when ingesting columns of invalid type"
TL;DR: There is an inconsistency in Pinot when a table defines a column as a string but it is populated reading a parquet file whose column type is binary without the string annotation.

Introduction:

I'm trying to improve the current Pinot implementation of [ClickHouse/ClickBench](https://github.com/ClickHouse/ClickBench). In that benchmark the input data can be read from csvs, tsvs, json or par

[2022-07-21 09:16] xiangfu0 commented on #9080
Thanks for reporting, we are experiencing some DNS issue with apache.org website. Please use : https://apache-pinot.gitbook.io/latest instead until the DNS record is resolved.

https://issues.apache.org/jira/browse/INFRA-23494

[2022-07-21 10:43] lksvenoy-r7 opened #9082 "Support multi-valued dimensions in the StarTree index"
Currently, the star-tree index can not be used with multi-valued dimensional columns. The problem with supporting multi-valued columns in the split order of the star-tree index is that the behaviour for splitting on multiple values in the split-order would be defined, as the behaviour is no longer additive.

This ticket is a suggestion to implement support for multi-valued dimensional columns in t

[2022-07-21 14:31] walterddr commented on #9023
ENUM type in Response vs. Different end points
==
IMO it is best to use different endpoints instead of the same endpoint with varying types of response

- [HTTP Response Code](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status#successful_responses) does suggest that any 200-299 is considered a success, we can potentially encode that along with the different acceptable success stats. But it w

[2022-07-21 16:24] athultr1997 opened #9084 "Batch Ingestion from Delta Table"
Currently, Pinot cannot perform batch ingestion from a [delta](https://delta.io/) table. It would be an excellent feature since the project is open-sourced and has many users.

We can build a new [RecordReader](https://github.com/apache/pinot/blob/6903856d399b4d7b09548a75a888382e1659e9e3/pinot-plugins/pinot-input-format/pinot-parquet/src/main/java/org/apache/pinot/plugin/inputformat/parquet/Parque

[2022-07-21 17:31] mayankshriv commented on #9084
Yes, this would be a great feature to add. cc: @xiangfu0

[2022-07-21 19:12] Jackie-Jiang commented on #9082
Good suggestion!
Here are some extra points we need to consider:
1. In order to split on MV dimension, we need to flatten the record into multiple records, each with one element of the MV entry. This can lead to much higher storage cost
2. If there are multiple MV dimensions to be split, we need to store all the element combination for the record
3. When there is no filter on the MV dimension, we

[2022-07-21 19:26] Jackie-Jiang commented on #9081
Currently we convert `BYTES` to hex-encoded string if the storage type is string. This is done in `PinotDataType.BYTES.toString()`.

We may consider adding a flag to only allow number conversion (IMO conversion between different number types should be allowed)

[2022-07-21 19:43] Jackie-Jiang commented on #9023
Checked other systems, and seems health check is mostly for liveness instead of readiness. Since we already use it as the readiness check, we can leave it as is for backward compatibility.

Based on the requirement, I'd suggest making the api more explicit on the purpose:
- `/health/liveness` for liveness
- `/health/readiness` for readiness

I feel using `instance` and `service` is not as clear

[2022-07-21 22:35] walterddr commented on #9023
sounds good. I will create these. ^ @jadami10 any follow up?

[2022-07-21 23:31] xiangfu0 commented on #9080
This is fixed.

[2022-07-21 23:31] #9080 closed

[2022-07-22 08:42] lksvenoy-r7 commented on #9082
Thanks for the well thought out reply @Jackie-Jiang. I haven't spent much time thinking about the implications of this feature, and these observations are great.

1. You're right that this could lead to much higher storage cost, perhaps it would be possible to have some type of limit option for creating the permutations? I'm not sure this makes sense, as the behaviour could be unpredictable. There

[2022-07-22 11:38] ddcprg opened #9091 "LL Realtime ingestion may drop messages if the segment time threshold is crossed"
This issue seems to have been introduced with the works on #7927 to deal with tombstones

We have seen cases where a record is dropped during ingestion with no apparent reason. We have a set of tables with different flush settings for row count and time thresholds.

This is what we think could be happening:

1) `consumeLoop()` while loop https://github.com/apache/pinot/blob/release-0.10.0/pinot-co

[2022-07-22 14:01] jadami10 commented on #9023
nope, those look great

[2022-07-22 18:24] Jackie-Jiang commented on #9082
We may put the following limitations so that the star-tree does not explode:
- Limit the total nodes in the star-tree, and abort the star-tree creation when the total node is reached (this can apply to current star-tree as well)
- Allow up to one MV column in the split list. We want this constraint because if we put multiple MV columns in the split list, we have to compute all possible permutation

[2022-07-22 18:37] vvivekiyer commented on #9079
I'll pick this up.

[2022-07-22 19:28] Jackie-Jiang commented on #9091
@ddcprg This is great analysis!
The root cause is that some messages in the batch is skipped, so in order to fix it, we can introduce a boolean return to the `processStreamEvents()` method which indicates whether all the messages are processed (or whether the end criteria is reached), then decide how to process the offset.

[2022-07-22 20:58] ddcprg commented on #9091
Many thanks @Jackie-Jiang @richardstartin I was thinking a solution around the same lines as the one proposed by @richardstartin we could update a counter (or keep the index itself) in `MessageBatch` with every fetch of the next record and that can then be compared with the size of the list, this would tell us if the whole batch has been processed. This counter/index could also help in computing t

[2022-07-22 21:29] Jackie-Jiang commented on #9091
@ddcprg I would not maintain the counter within the `MessageBatch` though because that is an interface, and we have to change all the implementations for it. That is the reason why I suggest adding a return value to `processStreamEvents()` to pass back the processing state of the `MessageBatch`

[2022-07-23 04:30] #9014 closed

[2022-07-24 18:42] ddcprg commented on #9091
@Jackie-Jiang @richardstartin I've pushed a fix, you can look at it in the draft PR. I've still not made it proper PR because I want to make sure this makes sense for kinesis an other providers

[2022-07-25 14:33] #9023 closed

[2022-07-25 15:09] jpohanka commented on #6083
@xiangfu0 Are there plans to implement the remaining functions, in particular, `element_at` ?

Currently, we need to use `arraySlice` for picking a single element from an array.

[2022-07-25 17:35] atris opened #9098 "Query Cost Model and Usage"
This JIRA tracks building a mechanism for identifying and computing the indicative cost of a query, based on parameters such as query complexity and data statistics (cardinality, selectivity etc).

The cost model will be pluggable -- you just need to implement the interfaces.

The cost can be used for stuff like throttling and cancelling of expensive queries in the face of limited resource utilisa

[2022-07-25 17:35] atris commented on #9098
cc @yupeng9

[2022-07-25 17:43] atris opened #9099 "Reducing Heap Memory Usage During Segment Construction"
Segment construction is typically a heap memory intensive operation and there are opportunities to improve the same. This issue tracks the effort.

cc @Jackie-Jiang

[2022-07-25 22:56] Jackie-Jiang opened #9102 "In the instance config, entries with same key are treated as array which can cause unexpected behavior"
E.g. In the controller config:
[code]

will be treated as

[code]

and then when pinot parses the value, `true,true` will be parsed as `false`

This can cause big confusion. We should consider not allowing multiple entries with the same key, but that can cause backward incompatibility. Need to figure out a solution

[2022-07-25 23:16] Jackie-Jiang opened #9103 "Support ANY_VALUE aggregation function"
Semantic of [ANY_VALUE](https://docs.snowflake.com/en/sql-reference/functions/any_value.html)

[2022-07-26 00:15] Jackie-Jiang commented on #9099
Related to #5089

[2022-07-26 01:05] Jackie-Jiang opened #9104 "Consider not performing alias rewrite to the rest of the query when alias is a column name"
E.g. `SELECT SUM(a) AS a WHERE a > 10` will throw exception because it will be rewritten to `SELECT SUM(a) AS a WHERE SUM(A) > 10`

Also, seems alias is not allowed in `WHERE` clause in standard SQL: https://docs.oracle.com/cd/E17952_01/mysql-5.7-en/problems-with-alias.html.
Not sure if we should block alias rewrite in `WHERE` clause because it can cause backward incompatible.

[2022-07-26 01:05] Jackie-Jiang commented on #9104
cc @xiangfu0 for some input

[2022-07-26 15:43] KKcorps commented on #9102
Yeah, I have been a victim of this as well. It is because of apache CommonsConfiguration class we are using.

[2022-07-26 16:28] jugomezv opened #9107 "Issue with documentation for M1 Mac Support"
I was going through the set up for M1 and found that [this ](https://docs.pinot.apache.org/basics/getting-started/running-pinot-locally#m1-mac-support)section seems to have an issue:

The provided settings.xml file as shown there, causes a failure due to parsing issues:

[code]

Seems like the proper syntax is to include the full content of the file within the activeProfiles tag:

[code]

[2022-07-26 16:53] snleee commented on #5089
To add here, I think that we should introduce the column-based interface (maybe it's the same idea as `Design an interface (close to the idea of the stats collector) to store all the column data`) for data indexing.

If the input data is based on the columnar format, we will be able to generate dictionary/indices column by column. This will probably consume much less heap because we don't need to

[2022-07-26 17:09] snleee commented on #9107
@jugomezv https://github.com/pinot-contrib/pinot-docs/

The documentation can be updated in the above repository. Can you update the change and file the PR?

[2022-07-26 17:15] jugomezv commented on #9107
Sure, let me try that

[2022-07-26 17:19] klsince commented on #9084
I just read a bit about the delta lib. A simple flow may look like below, where we can open the delta table with the lib and loop through all the records. The lib also supports data filtering, and that can be some advanced options for data ingestion.

[code]

[2022-07-26 22:14] amol-mathur opened #9108 "Ability to change logging levels at a component level dynamically"
Hi,

i want the ability to change log levels at a pinot component level (controller, broker etc) dynamically without requiring a restarts
this is a pretty useful feature for anyone running pinot in production
ideally i would like this to be saved as some config in ZK and some buttons on the pinot ui to toggle between different levels

[2022-07-27 03:12] #7144 closed

[2022-07-27 04:19] taobupt opened #9109 "roaringbitmap aggregation and deserialization"
### Background
For use case like the dashboard, we have the requirements to precompute metrics for several years so we can enable the year_over_year comparison. One of the biggest challenges for the metric precomputation is precompute non-rollup metrics. Sometimes we can use the hyperloglog to get the estimated number, but here we want to discuss how to support precise non-rollup metric calculatio

[2022-07-27 05:20] klsince commented on #8843
found another related issue: https://github.com/apache/pinot/issues/6343

[2022-07-27 06:50] Ali-Armstrong opened #9111 "Nodejs Client"
Is Nodejs client support in progress? or is there a reason why pinot doesn't support nodejs  ?

[2022-07-27 14:36] gortiz opened #9113 "SegmentGenerationJobRunner.submitSegmentGenTask should catch all Throwables"
SegmentGenerationJobRunner.submitSegmentGenTask submits tasks to an executor. Each task has a try-catch that logs the problem and stops the execution in case a subclass of Exception is thrown. But this code does not log the problem if an Error is thrown. For example, if the JVM that executes SegmentGenerationJobRunner does not have enough heap memory to apply the generation, then Java will throw a

[2022-07-27 17:50] amrishlal commented on #9098
This should be very useful. Are we planning to build a stats / metadata store as part of this or will the cost model be applied on top of individual queries only without the use of stats store?

[2022-07-27 18:09] Jackie-Jiang commented on #9109
We can enhance the current distinct count bitmap to support these asks:

Add `DistinctCountRawBitmapAggregationFunction` which returns the serialized bitmap as the aggregation result. See `DistinctCountRawHLLAggregationFunction` as an example which is added for the same purpose.

Trying to understand the ask here. Are you suggesting adding a new transform which takes a serialized bitmap and return

[2022-07-27 19:22] walterddr opened #9115 "Add a retention override for delete table REST API"
we already added an API param in segment REST API in #8072.
we would also like to support this param in table deletion.

The behavior for deep store segments will be exactly the same for both
- `DELETE segments/{tableName}?retention=0d`
- `DELETE table/{tableName}?retention=0d`

[2022-07-27 20:58] snleee commented on #9107
https://github.com/pinot-contrib/pinot-docs/pull/107

[2022-07-27 21:12] #6492 closed

[2022-07-27 21:50] Jackie-Jiang commented on #9102
I think the issue is from `CommonsConfigurationUtils.toMap()` which automatically combine values with the same key as a list. I tried directly using `PropertiesConfiguration.getBoolean()` on the same config, and it can correctly pick the first config, and returns `true`.

[2022-07-27 22:00] Jackie-Jiang commented on #9108
This is a great feature! Do you want to help contribute this?

[2022-07-27 22:08] Jackie-Jiang commented on #9111
AFAIK, there is no one actively working on this support. cc @xiangfu0
@Ali-Armstrong Do you want to help contribute this new client?

[2022-07-27 22:16] Jackie-Jiang commented on #9113
Good catch! We should change the code to catch all `Throwable`

[2022-07-27 22:36] jugomezv commented on #9107
Merged.

[2022-07-27 22:36] #9107 closed

[2022-07-28 18:17] jasperpotts commented on #8875
We just hit the same bug today with a long[] column with no dictionary. Is this fixed for v11?

[2022-07-28 19:35] xiangfu0 opened #9125 "Allow using system properties to fill up the template value in configs."
Current pinot supports environment variables override for table config template. We should also add the support and convention for system properties, as that is much simpler to use and set during runtime.

[2022-07-28 19:41] somandal commented on #8875
hey @jasperpotts this fix is available on master. The next Pinot release is still in progress and this fix will be part of that release once it is out.

[2022-07-28 20:02] jasperpotts commented on #8875
Thanks

[2022-07-28 21:18] walterddr opened #9127 "[flaky test] HelixZNodeSizeLimitTest generates huge log"
see: https://github.com/apache/pinot/actions/runs/2756316034/attempts/1
[code]
The last message kees going for more than 500,000 lines

afterwards all following tests are getting flaky results.

[2022-07-28 21:29] MeihanLi opened #9128 "[Alerting/Monitoring] Add an API to get the server shutDownInProgress config and expose the info at tenant level."
Can we add an API to get the server shutDownInProgress config and expose the info at tenant level?

We recently saw that some upsert servers can become unresponsive and stop serving any queries after a server restart. Even the server is healthy, the shutDownInProgress flag can not be set back to false (ready to serve queries). This caused an incident on our side and it took us some time to dig int

[2022-07-28 21:30] MeihanLi commented on #9128
cc: @yupeng9

[2022-07-29 00:28] #9091 closed

[2022-07-29 05:22] #8944 closed

[2022-07-29 14:49] TT1103 opened #9136 "Add the ability to rename tables"
This would be useful for managing multiple versions of tables and swapping which table is the latest version.
Alternatively, adding views would be good too.

[2022-07-29 16:20] rino-kadijk commented on #9113
It can be hard to recover from a JVM Error. Are you sure you want to catch and retry ALL JVM Errors including LinkageError, StackOverFlowError, IOError, etc?

[2022-07-29 19:19] dang-stripe opened #9137 "Make broker short-circuit for point queries w/ a limit clause"
We've observed `select` and `select distinct` queries with no aggregation and a small limit clause can take a long time to process. We think that the broker is waiting for all results to return before returning to the client, when it can short-circuit and return once enough results to satisfy the limit are available.

cc @Jackie-Jiang

[2022-07-29 19:54] Jackie-Jiang commented on #9113
@rino-kadijk It's a global catch and we are not trying to recover from it. Currently we will miss the error and the thread just died without properly propagate the error back.

Closing the issue as the fix is merged

[2022-07-29 19:54] #9113 closed

[2022-07-29 20:27] Jackie-Jiang commented on #9137
To add on this, we may also build a mechanism for broker to early terminate the query execution on the servers when it already collects enough results.

[2022-07-30 05:49] taobupt commented on #9109
Thanks for the instructions! @Jackie-Jiang

I can take this but it will take some time. Currently we already implemented such udfs in spark and presto, will start to work on this soon.

[2022-07-31 19:45] #8624 closed

[2022-08-01 03:19] tanmesh commented on #9075
I am planning to pick this up.

[2022-08-01 18:56] walterddr commented on #8966
closed for #9026

[2022-08-01 18:56] #8966 closed

[2022-08-01 20:52] Jackie-Jiang commented on #9128
We can definitely add an API to return whether server is ready to serve queries (in addition to `shutDownInProgress` flag, we might also want to track `HELIX_ENABLED` which indicates if server is enabled). These info are stored in the `InstanceConfig` of the server in ZK.

Can you elaborate more on exposing the info at tenant level? You mean returning the percentage of servers that can serve queri

[2022-08-02 00:06] chenboat commented on #8519
@mcvsubbu This is not a performance issue but rather a query correctness issue. I also prefer to use the ExternalView as the single place to control the query routing decision rather using an additional flag. However, today it is possible that a Pinot segment is in ONLINE/CONSUMING state but the segment is still yet fully downloaded to the server during the segment replacement process I mentioned

[2022-08-02 00:42] mcvsubbu commented on #8519
One thing that can be done is as a part of new server workflow, set the `queriesDisabled` flag in Helix to true. This flag behaves the same as `shutdownInProgress`, except that the server does not change the flag back any time. It is used purely for admin purpose.

[2022-08-02 13:29] JasonLeeWeiHern opened #9146 "Bug: isArray should not be accepting byte array."
the method isArray in the class [ComplexTypeTransformer.java](https://github.com/apache/pinot/blob/master/pinot-segment-local/src/main/java/org/apache/pinot/segment/local/recordtransformer/ComplexTypeTransformer.java) is accepting byte array which shouldn't be the case.

[2022-08-02 13:49] KKcorps commented on #9146
The issue is although it returns true in  `isArray` in case of byte[], at the next step we try to cast this byte[] to Object[] which breaks stuff

[2022-08-02 14:54] tan31989 opened #9147 "Latest docker image doesn't include arm64"
Hi,

While trying to build the Trino project with some test containers for pinot, we could see that it fails with M1 Mac, because the arm64 images for the specific image don't seem to be available in https://hub.docker.com/r/apachepinot/pinot/tags

In case, we use the image name as `"apachepinot/pinot:0.10.0";` for test containers, it can't seem to get the arm64-specific tag. I had to fix this for

[2022-08-02 18:16] Jackie-Jiang commented on #9146
Good catch! We may just do `instanceOf Object[]` instead. Basically all primitive arrays are treated as single entry

[2022-08-02 18:17] Jackie-Jiang commented on #9147
cc @xiangfu0 @elonazoulay

[2022-08-02 20:25] jadami10 opened #9149 "Allow updating segment partition metadata in consuming segments"
We were trying to test partitioning data in REALTIME tables and found consuming segments were never getting queried when applying the filter `where <partition_column> = X`. We eventually traced it down to this:
- we have our own stream ingestion plugin that is ingesting data from multiple kafka sources
- to do so, it uses an algorithm we wrote to convert the upstream config into a pinot partition

[2022-08-03 05:40] siddharthteotia commented on #9079
Completed with PR https://github.com/apache/pinot/pull/9123

[2022-08-03 05:40] #9079 closed

[2022-08-03 06:58] jasperjiaguo opened #9152 "Improving server download code"
1. Currently if we use the default code path for server segment download we won't retry download on untar failure. In situations as downloading partial tar file, this would not be helpful. There are two solutions:
    - improve the default code path
    - use the new stream download untar code path `pinot.server.instance.segment.stream.download.untar`

2. The new stream download untar code path cu

[2022-08-03 14:27] TT1103 opened #9154 "Allow users to specify lucene analyzer when creating text index"
Currently, the StandardAnalyzer is used. This analyzer removes special characters, so if users wanted to search for them, it would not work. It would be useful to allow the user to specify other analyzers depending on their use case.

[2022-08-03 14:29] atris commented on #9154
We should allow choosing between Standardanalyzer and Whitespace Analyzer when creating a text field.

[2022-08-03 15:45] walterddr opened #9155 "Remove duplicate query parsing"
Problem Statement
===
Currently there are 2 entrypoints for Pinot queries.
- via controller's `PinotQueryResource` or
- via broker's `PinotClientRequest`

There are several places where the entire SQL string is being parsed into SQLNodes just for utilizing part of the parsed results;
- Controller use it to parse out options and routing for which table of which broker tenant to route to
- Broker us

[2022-08-03 15:47] walterddr commented on #9155
CC @siddharthteotia ^ this would be a prerequisite for support option-based engine selection since it shouldn't reparse it multiple times.

Another point for this entrypoint API is that the new multi-stage engine and the original pinot calcite compiler should reuse the same parser

[2022-08-03 16:57] ankitsultana opened #9156 "Thrift Generated Code Doesn't Have License"
At present, if I modify a thrift file (say query.thrift) and re-generate the corresponding files the Thrift compiler doesn't add licenses and the subsequent build fails. Only after manually copy-pasting the license to the generated files are we able to proceed.

Can someone share if this is expected?

Also should the thrift generated code be checked in? If we remove them from Git and let the maven

[2022-08-03 19:23] bdstuart commented on #8014
@kishoreg this is a similar issues to what we are experiencing during our RealtimeToOfflineSegmentsTask. It's taking almost 8 hours to process 175m rows of data.
Initialized mapper with 56 record readers (takes almost 2 hours)
Start sorting on numRows: 172432000, numSortFields: 44 takes Finish sorting in 10563254ms (takes almost 3 hours)
Finish creating rollup file in 5990480ms (takes about 1.5 ho

[2022-08-03 23:11] #9146 closed

[2022-08-03 23:18] Jackie-Jiang commented on #8014
@bdstuart Seems you are trying to merge 56 segments (172M records) into one, which is causing the timeout. Do you change the config of `maxNumRecordsPerTask`? Ideally we should generate multiple tasks so that the workload can be distributed across different minions/threads

[2022-08-03 23:35] Jackie-Jiang commented on #9156
What I usually do is to run `mvn licence:format` after re-generating the thrift files. This command will add the missing headers automatically.

We can also remove the auto-generated thrift classes and only generate them during compilation. @ankitsultana Do you want to give it a try?

[2022-08-03 23:53] bdstuart commented on #8014
Here is the relevant portion of the configuration:
    "taskTypeConfigsMap": {
      "RealtimeToOfflineSegmentsTask": {
        "bucketTimePeriod": "1d",
        "bufferTimePeriod": "1d",
        "roundBucketTimePeriod": "1d",
        "mergeType": "rollup",
        "user_raw_risk_score.aggregationType": "max",
        "user_risk_score.aggregationType": "max",
        "user_threat_score.aggregation

[2022-08-03 23:55] bdstuart commented on #8014
@Jackie-Jiang , I used this as my guide:
https://docs.pinot.apache.org/operators/operating-pinot/pinot-managed-offline-flows

[2022-08-04 00:51] #9115 closed

[2022-08-04 07:19] siddharthteotia opened #9162 "Explore alternative to LBuffer for larger than 2GB buffers"
For off heap buffers (direct or mmap'd), we currently use Lbuffer library if the size is more than 2GB (which is supported for raw forward index by the v3 and v4 writer).

We have seen production issues on at least 2 occasions where a race condition in the library (map followed by unmap and then map) can lead to SIGSEGV where the address the code is trying to access is 3GB beyond the total virtual

[2022-08-04 10:41] richardstartin commented on #9162
Relates to #8529 as this library blocks JDK17 adoption.

[2022-08-04 13:50] bdstuart commented on #8014
@Jackie-Jiang the process finished in 9.5 hours last night and produced 18 new offline rolled up segments.

[2022-08-04 15:36] siddharthteotia commented on #9162
Thanks @richardstartin. Seems like JDK17 is also another motivation to consider moving away from this library.

cc @Jackie-Jiang @walterddr

[2022-08-04 16:11] walterddr opened #9165 "[multistage][feature] add broker query pre-process logic"
Currently multi-stage engine doesn't support many of the broker preprocessing logic, we should support:

- [ ] REALTIME/OFFLINE split support
- [ ] broker side pruning logic support
- [ ] tenant and tenant isolation support

[2022-08-04 18:40] Jackie-Jiang commented on #9162
@siddharthteotia Have you figured out which part of the code can have race condition? We've run into similar issues (and I remember seeing SIGSEGV before at LI), but turns out it is caused by reading a segment that is already released. Is it possible that you are reading a released segment?

[2022-08-05 03:56] siddharthteotia commented on #9137
So currently, the broker reduce does not start until all responses (DataTable) have been received from all servers. This will require some sort of pipelined reduce and break in between as soon as termination condition is met. IIUC, this may lead to holes in results especially for select with ORDER BY. In theory, there can be holes in today's execution as well but this may just increase them ?

[2022-08-05 04:00] Jackie-Jiang commented on #9137
@siddharthteotia For select with ORDER BY, we cannot really early-terminate. Early terminate can only be applied to `select` and `select distinct` without ORDER BY

[2022-08-05 04:01] siddharthteotia commented on #9137
In that case, doing this should be fine. It wasn't clear if the proposal here was to do this for non ORDER BY alone.

[2022-08-05 07:59] gortiz opened #9172 "Using text_match on string columns without text index throw null pointer exception"
I have a table `hits` with a column `URL` of type String. It doesn't have a text index. When executing:

[code]

The query fails with:
[code]

The explain plan says:
[code]

[code]

It makes sense that queries that require an index fail if it is not there, but the error should be more indicative. Something like: "Cannot use TEXT_MATCH on URL column because it doesn't have a text_index"

[2022-08-05 21:54] Jackie-Jiang commented on #8014
Just checked the code and `maxNumRecordsPerTask` is not honored in the `RealtimeToOfflineSegmentsTask`, which is the reason why one single thread is processing all the records for each day. cc @npawar

How many stream partitions do you have in this table? What is the commit frequency? One work-around is to reduce the `bucketTimePeriod` so that each task picks up less segments

[2022-08-05 22:09] Jackie-Jiang opened #9176 "Cut release-0.11.0 candidate branch again"
Since we cut release-0.11.0 candidate branch, we have introduced several bug-fixes (list of new commits [here](https://github.com/apache/pinot/compare/release-0.11.0...master)), and several of them are critical because we recently upgraded several dependencies. I checked all the new commits, none of them can break the existing use cases.

Since we haven't released `0.11.0`, I would propose to re-c

[2022-08-05 22:16] bdstuart commented on #8014
I think we are ok for now @Jackie-Jiang, with our production level ingestion we only need to run the job 1x every 24 hours and it's running in ~10 hours. Would be nice to have it run faster for the future as we add new data sources, but it sounds like that's in the works for an enhancement.

[2022-08-05 22:33] klsince commented on #8843
A design doc about how to approach this issue, meanwhile adding the support for multi data dir for Pinot servers: https://docs.google.com/document/d/1B_8k2XGMrxfFAo_g-MEjEPGj84Xy8YW4-yUiZ2BQkuE/edit#

[2022-08-05 22:36] Jackie-Jiang commented on #8014
Yeah, let me open an issue for that so it is easier to track

[2022-08-05 22:40] Jackie-Jiang opened #9177 "RealtimeToOfflineSegmentsTask does not honor maxNumRecordsPerTask"
`RealtimeToOfflineSegmentsTask` does not honor `maxNumRecordsPerTask`, so it will generate only one sub-task per time bucket. In a table with high ingestion rate, each time bucket may contain >100M records, and using one single thread to process it can take very long time. We should enhance `RealtimeToOfflineSegmentsTask` to honor `maxNumRecordsPerTask` and be able to split one time bucket into mu

[2022-08-06 02:11] walterddr commented on #9176
+1. @atris

[2022-08-06 16:31] suddendust commented on #9056
We've seen this too in 0.9.x. Queries get routed to unavailable brokers.

[2022-08-08 00:46] xiangfu0 commented on #9108
Submitted a PR: https://github.com/apache/pinot/pull/9180

[2022-08-08 10:42] gortiz commented on #6303
IICU #6066 was closed because the feature was actually added in #7590. But I can confirm that it is still present in Pinot 0.11.0-SNAPSHOT

[2022-08-08 17:44] Jackie-Jiang commented on #6303
Yes, the issue is fixed in #7590 which is released in 0.9.0. Closing the ticket

[2022-08-08 17:44] #6303 closed

[2022-08-08 20:08] kkrugler commented on #9154
We should think about how best to configure the analysis chain using any available analyzers/filters/etc. E.g. we have fields with Japanese, and want to use the Kuromoji analyzer. See [my comment](https://github.com/apache/pinot/issues/7395#issuecomment-912799318) on the "[Support for Native Text Indexing in Pinot](https://github.com/apache/pinot/issues/7395)" issue.

[2022-08-08 20:25] #8090 closed

[2022-08-08 21:18] jasperjiaguo commented on #9152
This can potentially be a starter project

[2022-08-09 00:23] Jackie-Jiang commented on #9056
@suddendust Just to clarify, do you main queries get routed to unavailable servers? The fix in #8525 will be available in the next release (0.11.0)

[2022-08-09 04:50] siddharthteotia commented on #9152
@jasperjiaguo - if not already, can you please add oss user docs for the new enhancement of stream untar + rate limiting. Include a link here in this issue as well. Might also come handy for whoever picks this up to understand background etc.

[2022-08-09 05:54] navina opened #9183 "Handle change in default groupId behavior in kafka consumer"
Starting kafka 2.2.0 onwards, when `group.id` is not specified in the kafka consumer config, it is set as `null`, instead of an empty string. Due to this change, even though auto-commit is enabled, it doesn't show up in the consumer offsets topics. This breaks existing kafka monitoring tools.

One proposed solution is for Pinot to set a default  group id when it was not explicitly configured by us

[2022-08-09 05:55] navina commented on #9183
@npawar please tag as `beginner-task`

[2022-08-09 16:23] tanmesh commented on #9075
I have added the progress so far in the above PR. May I get some eyes on this, to ensure that I am on the right track?###

[2022-08-09 17:48] MinuraPunchihewa opened #9185 "Python Client for Pinot Requires a Username"
I have been trying to connect to Apache Pinot using the Python client [pinotdb](https://github.com/python-pinot-dbapi/pinot-dbapi) for quite a while now, to no avail.

I am simply running Pinot as a Docker container using the following command,
`docker run -p 9000:9000 apachepinot/pinot:0.9.3 QuickStart -type hybrid`

Given below is what my Python code looks like,
[code]
Every time I run this, I g

[2022-08-09 18:05] xiangfu0 commented on #9185
Have you tried the latest pinotdb version? This should be fixed already.

[2022-08-09 18:31] MinuraPunchihewa commented on #9185
@xiangfu0 I just upgraded to `pinotdb-0.4.3` and that username error does not seem to be coming up anymore. However, now I get this,
[code]
Do you know what it could be?

This is my code,
[code]

[2022-08-09 19:25] xiangfu0 commented on #9185
cc: @walterddr
We will check

[2022-08-09 19:27] xiangfu0 commented on #9185
I've tested the current master code, seems it's working, let me cut a new release 0.4.4 then

[2022-08-09 19:36] MinuraPunchihewa commented on #9185
@xiangfu0 That would be greatly appreciated.

[2022-08-09 20:17] xiangfu0 commented on #9185
0.4.4 is published. And this is the example I'm using to test: https://github.com/python-pinot-dbapi/pinot-dbapi/blob/master/examples/pinot_quickstart_batch.py

[2022-08-09 20:27] walterddr commented on #9185
yeah. it should've been fixed by https://github.com/python-pinot-dbapi/pinot-dbapi/commit/8d0ca2be6a54921224028c686589a74c310977da#diff-f3f44b3ab7bb620101c696ae06a9355d31e982b890a382f64157046fc7095643

[2022-08-09 20:52] walterddr commented on #6083
do we want to support any boolean functions like
* [ ] MATCH_ANY
* [ ] MATCH_ALL
* [ ] MATCH_NONE
(all of these are element-wise predicate evaluators)

[2022-08-09 23:22] #6222 closed

[2022-08-09 23:23] #16 closed

[2022-08-09 23:24] #3513 closed

[2022-08-10 01:06] huaheh opened #9188 "Support to merge the existing column value and the incoming event"
In a partial upsert table, we can define an upsert strategy for each column, for example, OVERWRITE. This leads to the column's value always being overwritten by the next incoming event. The suggestion is to have control over merging the existing column value and the field value of the incoming event.

For example, a table has two columns, col1 and col2, both having OVERWRITE upsert strategy. With

[2022-08-10 01:27] ankitsultana opened #9189 "[multistage] Query Doesn't Return Schema When Result Set is Empty"
You can run this query with the MULTI_STAGE quickstart for reproducing this:

[code]

cc: @walterddr

<img width="1222" alt="image" src="https://user-images.githubusercontent.com/8644710/183790352-4f76dec3-4d25-4d17-bdc5-520709934319.png">

[2022-08-10 01:35] ankitsultana opened #9190 "[multistage] Aggregation Query with Join Fails with Classcast Exception"
Using the Multi Stage quickstart, you can reproduce this issue with the following query.:

[code]

Exception:
[code]

I think the issue is coming from this method: https://github.com/apache/pinot/blob/master/pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/AggregateOperator.java#L88

For count(*) there are no operands so this returns 0, but the value at the 0 index is `pla

[2022-08-10 18:51] vvivekiyer opened #9194 "[BugFix] Fix bug with logging request headers."
In PR https://github.com/apache/pinot/pull/8907, `RequestIdentity` is assumed to be of type `HttpRequestIdentity`. Using `GrpcRequesterIdentity` will result in error like cannot be cast to class `org.apache.pinot.broker.api.HttpRequesterIdentity`.

Potential fix is to have a function in `RequesterIdentity` called `getClientIp` that is implemented by all subclasses.

[2022-08-10 18:51] vvivekiyer commented on #9194
@abhs50 would you be able to pick this up?

[2022-08-10 19:32] MinuraPunchihewa commented on #9185
@xiangfu0 @walterddr It seems to be working perfectly now! Thank you very much.
I will close this issue.
I was hoping that I could ask you for one more favor though. With Pinot, what is the command for getting all the available tables (equivalent of SHOW TABLES) and for getting the columns of a particular table (equivalent of SHOW TABLES IN <table-name>)?

[2022-08-10 20:10] Jackie-Jiang commented on #9188
Partial upsert will always ignore the `null` values, so for your use case, if the new record has {"col1": "v1", "col2": null} with OVERRIDE strategy, it should achieve what you want.

cc @deemoliu seems this behavior is not clearly documented

[2022-08-10 20:18] Jackie-Jiang commented on #9194
We may also add `getHttpHeaders()` to the interface, and by default returns an empty map

[2022-08-10 23:28] somandal commented on #8843
hi, this issue had a design doc earlier, but now i see it's been removed and I don't seem to have permissions to access it anymore. Can you provide access?

[2022-08-11 05:03] klsince commented on #8843
Proposed some ideas about how to tackle this issue in [design doc](https://docs.google.com/document/d/1B_8k2XGMrxfFAo_g-MEjEPGj84Xy8YW4-yUiZ2BQkuE/edit#heading=h.2ic29gs71g43). Feel free to comment.

[2022-08-11 16:40] #9185 closed

[2022-08-11 16:45] walterddr commented on #9185
i dont think we support such DML DDL syntax yet. please feel free to file another github issues for these syntax (such as: `SHOW TABLES`, `DESCRIBE TABLE <tbl_name>`, etc)

[2022-08-11 16:49] npawar commented on #8014
Seems we can close this issue, as the specific thing to address has been identified in #9177 ?

[2022-08-11 16:59] npawar commented on #9156
@ankitsultana did this work for you? can this issue be closed?

[2022-08-11 17:12] xiangfu0 commented on #9147
We used to have the pipeline: https://github.com/apachepinot/pinot-fork/commit/2fe895373d8a9404a0d6bad2abef7b7e98e6d35f

But the docker build for arm64 really takes too long on amd machines, all existing CI from GitHub action failed due to timeout.

[2022-08-11 17:19] #9108 closed

[2022-08-11 17:32] walterddr commented on #9127
@jackjlli ^ any idea? this has been happening more and more often lately

[2022-08-11 17:32] walterddr commented on #9127
https://github.com/apache/pinot/runs/7791177184?check_suite_focus=true
https://github.com/apache/pinot/runs/7790179872?check_suite_focus=true

[2022-08-11 17:37] MinuraPunchihewa commented on #9185
@walterddr Sounds good. I will do that now.
Is there a way to get it through the Python client? A list of tables in the database and the columns along with their types of a specific table?

[2022-08-11 17:39] walterddr commented on #9185
you can do so by querying the REST API of pinot but that's not part of the DDL/DML, see: https://docs.pinot.apache.org/users/api/pinot-rest-admin-interface

[2022-08-11 17:49] MinuraPunchihewa commented on #9185
@walterddr Ah, this is great!
But, could you please explain something to me? To get my Python client running, I had to start up my Docker instance the same way given in the example by @xiangfu0,
`docker run --name pinot-quickstart -p 2123:2123 -p 9000:9000 -p 8000:8000 -d apachepinot/pinot:latest QuickStart -type batch`

I have a basic idea of the components of Pinot, but could you please help me

[2022-08-11 17:50] walterddr commented on #9185
just 9000 is the one you should use

[2022-08-11 17:54] MinuraPunchihewa commented on #9185
@walterddr Connecting the Python client to port 9000 does not work for me. Similar to the example given, I had to use port 8000.
When I issue queries to port 9000, I get this error,
`{'sql': 'SELECT * FROM baseballStats LIMIT 5'} timed out: Out of -1, only -1 responded, while needed was -1`

However, to get the list of tables using the REST interface like you mentioned, I need to send the requests

[2022-08-11 17:59] ankitsultana commented on #9156
I was thinking of configuring the maven-thrift plugin so we don't have to check-in the generated code. I'll try to pick it up soon.

[2022-08-11 18:50] MinuraPunchihewa opened #9200 "Support for SHOW TABLES and DESCRIBE <tbl_name> Commands"
As a user, I would like to be able to issue an equivalent of MySQL's SHOW TABLES and DESCRIBE <tbl_name> commands, to get a list of tables in my cluster and to get metadata about a particular table (such as its columns and their types) respectively.

[2022-08-11 18:54] npawar commented on #9007
@Harnoor-se7en did you get a chance to check? It seems the endpoint is working as expected, and that the metadata might be returing such info based on the column characteristics. Can you check the response of the endpoint invoked (the segments metadata endpoint).
Closing this issue, please reopen if your checks reveal that it is indeed incorrect or inconsistent.

[2022-08-11 18:54] #9007 closed

[2022-08-11 20:07] tan31989 commented on #9147
Hi @xiangfu0 ,

Thanks for the comment.

I am just shooting in the dark because I am unsure how much time it takes.

I saw the GitHub action has `runs-on: ubuntu-latest` but did you try this job run distro to choose `archarm_latest` (https://github.com/uraimo/run-on-arch-action)?

[2022-08-11 21:14] abhs50 commented on #9194
Yes I will look into this.

[2022-08-11 21:23] xiangfu0 commented on #9147
Not yet.

The original goal is to create a multi-arch docker image with the same tag. So building an arm image on amd machine takes about 4 hours.

I think your suggestion makes more sense now, I can try to add a different task to just build arm images.

[2022-08-11 22:26] #9056 closed

[2022-08-11 23:59] abhs50 commented on #9194
@vvivekiyer : Just to understand the design here, are you suggesting we move [https://github.com/apache/pinot/blob/67344859c270b9e64638b6691d456e57a7570403/pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java#L671](url) inside a standalone method called getClientIp in org.apache.pinot.broker.api.HttpRequesterIdentity ?

[2022-08-12 00:16] abhs50 commented on #9194
Another option is we could also do below
`if (enableClientIpLogging && requesterIdentity instanceof HttpRequesterIdentity) `  on https://github.com/apache/pinot/blob/67344859c270b9e64638b6691d456e57a7570403/pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequestHandler.java#L678

[2022-08-12 06:55] tan31989 commented on #9147
Oh, ok. Thanks. Let me know how it goes.
If you are held up with other tasks, I am happy to help with this.

[2022-08-12 16:10] walterddr opened #9204 "Proper support for Array/List type"
Pinot currently has a multi-value column type: which essentially is a non-ordered, bag-of-elements, set data structure.

However, many requirement comes in to ask for proper array support (see https://github.com/apache/pinot/issues/6083)

This proposal is for proper array/list type as a separate DataType.
- [ ] conversion between MV and Array/List type should be supported (CAST)
- [ ] array operat

[2022-08-12 19:05] Jackie-Jiang commented on #9204
Currently MV column is similar to list:
- The order of elements are preserved
- It may have multiple occurrences of the same element

We may reuse the MV column index to store list of basic types (no list of list)

The main challenge here is to support the semantic for list operations

[2022-08-12 20:22] walterddr opened #9207 "Support for more datetime SQL functions"
there are many ANSI SQL standard date time functions that we should support
`DateTimeFunction` already support many of these implementations but the semantics are different thus it is good to support the standardized ANSI function format:
- `{fn YEAR(date)}`, `{fn MONTH(date)}`, ...
- `DATE(string)`, Equivalent to `CAST(string AS DATE)`
- `{fn NOW()}`
- `TIMESTAMPADD(timeUnit, integer, datetime)`

[2022-08-12 21:15] vvivekiyer commented on #9194
IMO, I would avoid using `instanceOf` to achieve this. Here's the [reason](https://armedia.com/blog/instanceof-avoid-in-code/) for the same.

What I was suggesting is as follows:
Have a method called `getClientIp` in RequesterIdentity. The default implementation can be to return "unknown"/empty. Allow all the subclasses to have their own implementation for `getClientIp`. The implementation of `get

[2022-08-13 02:31] huaheh commented on #9188
Not just null, also apply the merge on non-null values.

[2022-08-13 06:31] huaheh commented on #9188
Hi @Jackie-Jiang, do you mean `null` is always ignored regardless of the column's partialUpsertStrategies?

[2022-08-13 17:51] walterddr opened #9209 "[multistage] Support limit properly"
Currently `select * from tbl limit 10` returns a unimplemented exception
because limit is considered as an `Order By` with `fetch top 10`.

since we do not order with limit normally we should:
- [ ] relax the planner condition to allow randomly return 10 rows
- [ ] truncate the final result to the limit
- [ ] propagate limit down to table scan

[2022-08-13 19:17] walterddr opened #9210 "[Feature] add more realtime data sources"
Since we disabled meetup stream in https://github.com/apache/pinot/pull/8183 , we currently only have github event stream as our only quickstart with real data flow

Propose to add more to the mix. Some of the great ones out there:
- [WikiEdit](https://en.wikipedia.org/w/api.php?action=help&modules=mergehistory) and other Wikipedia API stream
- [Twitter Edit](https://developer.twitter.com/en/docs/

[2022-08-13 22:27] xiangfu0 commented on #9210
+1

[2022-08-14 17:07] MinuraPunchihewa commented on #9185
@xiangfu0 @walterddr Any comments on this?

[2022-08-15 07:43] suddendust opened #9211 "[Bug] RTP Tool Should Consider Segment Relocation"
Currently, the RTP tool calculates `numCompletedSegmentsPerPartition` as:

`int numCompletedSegmentsPerPartition = (_tableRetentionHours + numHoursToConsume - 1) / numHoursToConsume - 1;`

`_tableRetentionHours` is read from the user-supplied table config. However, this does not work in the scenario where segments are relocated using the tag overrides. For example, we move segments from REALTIME t

[2022-08-15 14:16] walterddr commented on #9185
@MinuraPunchihewa correct.
- all the SQL statement should be hitting broker port (8000 or 8099 depending on your default configuration))
- all the controller endpoints (REST API calls) goes to 9000 controller port.

[2022-08-15 14:31] MinuraPunchihewa commented on #9185
@walterddr Thank you so much for all your help. I really appreciate it.

[2022-08-15 16:06] SabrinaZhaozyf opened #9215 "[Feature] Support for Covariance(COVAR_POP and COVAR_SAMP) Functions"
Work in progress for adding support for `covar_pop(x, y)` and `covar_samp(x, y)`as part of the effort in #8493.

[2022-08-15 19:15] nizarhejazi opened #9217 "Proper support for NOT operator"
1. **NOT** IN.
`select * from job where id not in ('')` -- This query already works
`select id not in ('') from job` -- This query does not work

2. **NOT** BETWEEN a AND b
3. IS **NOT** TRUE, IS **NOT** FALSE
Note: This requires supporting IS TRUE, and IS FALSE

4. **NOT** boolean_function. Examples:
NOT STARTSWITH(...)

[2022-08-15 19:20] nizarhejazi opened #9218 "Support: IS DISTINCT FROM operator, IS NOT DISTINCT FROM operator, and COALESCE transform"
- Supports **COALESCE** transform.
- Supports **IS DISTINCT FROM** operator.
- Supports **IS NOT DISTINCT FROM** operator.

Note: **IS DISTINCT FROM** is a transform function that can be rewritten as the following:

[code]

Nevertheless, it is a good idea to support these operators for two reasons:
1. To compute the end result more efficiently.
2. To simplify SQL query.
4. Presto supports it too.

[2022-08-15 21:25] Jackie-Jiang commented on #9217
We already have NOT operator support (introduced in #7701). Some fixes (#8366, #8331) are not released yet, but with the current master it should work.

The ask in this ticket is not really about NOT operator, but:
1. Filter in select clause (udf that returns boolean)
2. Already supported
3. IS TRUE/FALSE support
4. Use boolean expression as the predicate

[2022-08-15 21:28] nizarhejazi commented on #9217
Updated issue title.

[2022-08-15 22:28] vvivekiyer commented on #9217
I believe we already have support for this in WHERE clause through https://github.com/apache/pinot/pull/8518
Am I missing something?

[2022-08-15 22:45] amrishlal commented on #7213
@kishoreg @mayankshriv @Jackie-Jiang @richardstartin

I got a bit sidetracked with other work after our last discussion on window functions, but would like to restart again. We have a new [design doc](https://docs.google.com/document/d/1cPw_mKZyA8mpD_UJyUoLzcS5RQUAlMjwTjqqvnwIlZo/edit?usp=sharing) based on the discussions that we had last time. There is also a fairly mature prototype that I am in

[2022-08-15 23:09] Jackie-Jiang commented on #9188
@huaheh Yes. The `partialUpsertStrategies` will only be applied when the existing and new values are both non-null.

[2022-08-15 23:49] huaheh commented on #9188
Thanks, the "null ignoring" behavior is very useful and currently satisfies our needs.

[2022-08-15 23:59] Jackie-Jiang commented on #9217
@vvivekiyer Thanks for reminding me! Yes, it should already be handled

[2022-08-16 09:25] xiangfu0 commented on #8718
This is interesting, I feel just make a `pinot-base` image can actually help reduce docker pull size a lot!

Also for the base image, do you see when this image should be updated?

[2022-08-16 17:12] Jackie-Jiang commented on #7213
Are we planning to implement this on the broker side? I'm okay with that as an initial version, but that won't be the long term solution, and will have a lot of constraints due to the limited resource on a single node. Long term solution should be to implement it on the multi-stage engine. cc @walterddr to also chime in

[2022-08-16 17:14] Jackie-Jiang commented on #9188
I'll close the issue for now. @huaheh Let me know if you run into issues when trying it out

[2022-08-16 17:14] #9188 closed

[2022-08-16 17:22] #9172 closed

[2022-08-16 20:28] walterddr opened #9223 "[multistage] support additional SQL features"
- [ ] ORDER BY
- [ ] UNNEST

[2022-08-17 16:02] walterddr commented on #9189
close with #9222

[2022-08-17 16:02] #9189 closed

[2022-08-17 18:13] #7250 closed

[2022-08-17 19:10] navina commented on #8819
This issue can be reproduced by adding the following test query in `BaseClusterIntegrationTestSet#testReload` :
`SELECT SUMMV(NewIntMVDimension) FROM " + rawTableName`

The problem wasn't caught in the existing integration tests because the simple `select *` type of queries is by default limited to 10 records. If we increase limit in the query, it is very expensive and likely to run out of heap sp

[2022-08-17 20:08] amrishlal commented on #7213
@Jackie-Jiang only the merge will be done on Broker side, the computation of window functions is on the server side. I think @siddharthteotia is going to be setting up time with you and @walterddr to discuss further. We do want to port the design to multi-stage engine as well.

[2022-08-17 20:42] Jackie-Jiang commented on #7213
@amrishlal I don't see that in the design doc. If you have created a new one, please share it here.
IMO, it is not really possible to compute the window function on the server side without getting all the records first. Essentially broker needs to pull the matching records from server, then do the calculation.

[2022-08-17 21:12] #9190 closed

[2022-08-18 13:51] walterddr opened #9240 "ConfluentSchemaRegistry IntegrationTest prints huge logs"
https://github.com/apache/pinot/runs/7890686433?check_suite_focus=true
[code]
going on for 120,000 lines.

[2022-08-18 13:52] walterddr commented on #9240
CC @KKcorps ^ since we recently also added the schema registry in protobuf test

[2022-08-18 15:51] siddharthteotia commented on #7395
Did a brief sync up with @atris yesterday. We would like to try this out for functional and perf testing on our prod use case as soon as the phrase and term search part is complete. Will have to discuss/ handle index conversion and query migration (if possible). We will collaborate during testing / rollout for any feature, perf gaps etc.

cc @vvivekiyer @jasperjiaguo

[2022-08-18 17:45] walterddr opened #9241 "[multistage] query cancel for multi-stage engine"
https://github.com/apache/pinot/pull/9171 added support for query cancelation

This is a bit more complex in multi-stage engine as there are multiple stage in various distributed machines.

This issue tracks the effort to enable query cancellation on multi-stage engine
- [ ] managed running tasks on multistage `QueryServer` which is the GRPC entrypoint
- [ ] allow multi-stage engine to issue cance

[2022-08-18 17:54] walterddr commented on #9026
closing this one as all tickets are addressed (except for cancellation, which will continue in a separate issue since we already support this in normal broker request handler)

[2022-08-18 17:54] #9026 closed

[2022-08-18 18:03] walterddr commented on #9155
closing since it has been addressed in #9202 and #9237

[2022-08-18 18:03] #9155 closed

[2022-08-19 05:19] suddendust commented on #9218
@Jackie-Jiang I can pick this up

[2022-08-19 09:49] xiangfu0 commented on #9147
I've added a nightly build image for arm64:
https://github.com/apachepinot/pinot-fork/actions/workflows/nightly-build-pinot-arm64-platform-docker-image.yml

It takes about 5 hours to build.

The next try is to make a multi-arch build.

[2022-08-19 18:24] #8819 closed

[2022-08-19 21:35] Jackie-Jiang opened #9253 "RealtimeNonReplicaGroupSegmentAssignmentTest is flaky"
[code]

It tests the behavior of Helix auto rebalance strategy (`SegmentAssignmentUtils.rebalanceTableWithHelixAutoRebalanceStrategy()`), which might not perfectly balance the segments.

[2022-08-20 19:19] tanmesh commented on #8842
I am planning to pick up this task.

[2022-08-20 19:26] tanmesh commented on #9183
I am planning to pick this task.

[2022-08-21 21:01] tanmesh commented on #8842
I am planning to pick this up making the `pinot-client depend on pinot-common`.

[2022-08-22 00:44] tanmesh commented on #8842
Hey @npawar @Jackie-Jiang 👋 , can you please assign someone to review this PR 🙏

[2022-08-22 00:44] tanmesh commented on #9183
Hey @npawar @navina  👋 , can you please assign someone to review this PR 🙏

[2022-08-22 18:04] xuhui-stripe opened #9266 "[Question] whether refreshing/ingesting segments will cause it to rebalance?"
Hello! We are doing some work to make changes for our tables to utilize "pool based" assignment strategy.

A question that I encountered is do we need to rebalance the table after applying the updated table configs (with pool based configs)? Because we do a fresh ingestion of data to the table daily, I just want to check with you to see if the ingestion that happens daily will pick up the updated

[2022-08-22 19:09] tanmesh commented on #9137
Hey, I am planning to pick this task. I have a couple of follow-up questions from my investigations:

Need a bit of context to understand the difference b/n  GrpcBrokerRequestHandler, MultiStageBrokerRequestHandler and SingleConnectionBrokerRequestHandler which are invoked from [here](https://github.com/tanmesh/pinot/blob/fc696ceb4b9386f3023ed9911c88022e6e2fa152/pinot-broker/src/main/java/org/apac

[2022-08-22 22:13] xuhui-stripe commented on #9266
Basically the question is shorten to what if a rebalance is not performed then a data ingestion happens for a table~
Sorry for tagging directly, I feel like this is a quick question~ Thanks for the help. cc @Jackie-Jiang

[2022-08-22 22:14] xuhui-stripe commented on #8955
We ended up add an extra layer to modify the income query to avoid having violating TZ ids for now~ Close this since the work around works for now.

[2022-08-22 22:14] #8955 closed

[2022-08-22 23:23] yuanbenson opened #9268 "Enable Consistent Data Push on Ingestion Jobs for REFRESH use case"
Consistent data push protocol APIs are available via controller REST APIs such as `startReplaceSegments`, `endReplaceSegments`, and `revertReplaceSegments`. However, previously, ingestion jobs are not wired to use this feature.

Introduce a new boolean `consistentDataPush`  in `TableConfig->ingestionConfig->batchIngestionConfig` that when enabled, supports batch ingestion in REFRESH mode to run in

[2022-08-22 23:26] xiangfu0 commented on #8842
The PR is on the right track.
One thing worth mentioning is that the get table name is the best effort.
And if the tableName is null, the brokerSelector should return any broker. E.g. `select 1` is usually used for testing the db connection by many external systems. This kind of query has no table name, but also a valid query.

[2022-08-23 22:52] Jackie-Jiang commented on #9137
@tanmesh Thanks for volunteering. We can focus on `SingleConnectionBrokerRequestHandler` for now. Currently broker gathers all the responses from all the servers before sending them to the reducer (See `SingleConnectionBrokerRequestHandler.processBrokerRequest()` line 113 `asyncQueryResponse.getFinalResponses()`). Instead, we want to reduce the results whenever a server responds, and early termina

[2022-08-23 23:13] Jackie-Jiang commented on #9266
Yes, you will need to rebalance the table in order to pick up the changes. For segment refresh, without rebalance it will automatically assign the refreshed segment to the same server for the atomic swap.

[2022-08-23 23:23] Jackie-Jiang commented on #9268
One challenge to solve here is the segment name conflict. Currently the reason why batch replace cannot be enabled for `REFRESH` mode is because the segment will have the same name, thus directly replace the existing segment. cc @snleee

[2022-08-23 23:31] walterddr opened #9272 "[multistage] split data table when size is too large"
Problem
===
Currently we do not split data table when size is too large.
thus we set the default GRPC channel msg size to 128MB. however this is still an issue when join two large tables together (especially using broadcast JOIN)

Propose
===
- introduce data table splitter so that each data block is small enough. this also help pipeline processing and speed up the overall latency.
- allow mailbox

[2022-08-24 04:50] siddharthteotia commented on #9055
Update -- @jasperjiaguo is working on writing the design doc. Will share here once we have the first draft.

[2022-08-24 04:52] siddharthteotia commented on #8618
Update on server selection subproblem -- By next week, we will share some of our results from the POC code we had written, improved and been testing on internal perf cluster and tested out a couple of prod use cases.

Along with that we have also written a simulator in Python to model several different scenarios in theory and cross validated that with the new Pinot server selector code

Will share

[2022-08-24 05:43] gortiz commented on #9162
I would recommend to give a try to [Chronicle bytes](https://github.com/OpenHFT/Chronicle-Bytes). We could use it to replace larray (and therefore be able to run with Java 17) and also to be able to map files larger than 4GBs.

Chronicle Bytes is part of the Chronicle HFT libraries and it is the only buffer library that supports 63 bits references that is maintained.

The other option would be to

[2022-08-24 09:07] xuhui-stripe commented on #9266
Thanks for answering, does it mean it is okay to have for example 1 or 2 segment ingestions/refreshes before actually rebalancing the table?
I did a quick test in our QA cluster. If I do an ingestion before rebalancing, the segment-server assignment distribution will not be changed. The distribution will be changed once I hit rebalance.

[2022-08-24 14:04] #9127 closed

[2022-08-24 14:20] walterddr commented on #9209
fetch unorder is supported but we should still limit the number of rows returned at final stage.

[2022-08-24 14:21] walterddr opened #9273 "[multistage] performance and stability tracker"
We've received many feedback from multi-stage engine beta test.
This issue tracks all the reported and fixed performance and stability issues
- [x] create test framework for exact query result matching instead of row-count checker (https://github.com/apache/pinot/pull/9406)
  - [x] follow up, integration test to track all existing pinot queries that we should support (https://github.com/apache/pin

[2022-08-24 14:21] walterddr commented on #9273
CC @siddharthteotia ^

[2022-08-24 18:08] ddcprg opened #9275 "New metrics registry for micrometer"
At the moment only Dropwizard/Yammer metrics are provided.

A new plugin for Micrometer metrics would be a nice to have. However, I think this should reside in a separate project. Not sure if there is any plans to include something like an official project for this, perhaps in https://github.com/pinot-contrib

I'll try to take this discussion to the chat, for now I'll raise this issue.

[2022-08-24 18:11] Jackie-Jiang commented on #9266
That is fine. The ingestion (refresh) won't change the segment assignment, only the rebalance can. Conceptually you can run both of them at the same time (not recommended, but should work)

[2022-08-24 22:15] SabrinaZhaozyf opened #9277 "[Feature] Support for Correlation Function"
Add support for calculating Pearson's coefficient `corr(x,y)` as part of the effort in #8493. Can leverage implementation for COVAR_SAMP and COVAR_POP as mentioned in #9236.

[2022-08-25 00:29] #8306 closed

[2022-08-25 00:38] siddharthteotia commented on #9273
Should we separately track resource / thread pool / execution scheduling issue or add it here ?

Without that, this is unlikely to work for a mixed workload deployment where few new (join, subquery) queries go down the new engine (via option) with 2 or more stages whereas existing prod queries continue to run in the current engine with exactly 2 stages.

For users who are purely interested in usin

[2022-08-25 12:27] VenkatDatta commented on #9277
I'm new to the community and would love to start contributing with this task.

Can i work on the task?

[2022-08-25 14:50] siddharthteotia commented on #9277
Yes definitely. We can help you

@jasperjiaguo / @SabrinaZhaozyf - can you please share any information, previous PRs etc that can help @VenkatDatta get started.

[2022-08-25 17:03] SabrinaZhaozyf commented on #9277
Hi @VenkatDatta, thank you for taking this up! Hopefully, the following information can help you get started:)

**Definition**
https://en.wikipedia.org/wiki/Correlation. In Pinot, correlation can be used to describe the dependence/association of two columns.

**Support in Existing DBs**
Presto: https://prestodb.io/docs/current/functions/aggregate.html#statistical-aggregate-functions
Postgres: http

[2022-08-25 17:08] VenkatDatta commented on #9277
Got it, i will go through the steps mentioned.

Thanks @SabrinaZhaozyf , @siddharthteotia for sharing the resources :)

[2022-08-25 19:15] walterddr commented on #9273
i think we should track them together here. I already have some in mind

[2022-08-25 21:05] MeihanLi opened #9281 "[BUG] Can not override existing schemas even with override=true (POST /schemas API)"
Hi, we just noticed there is one change introduced by [#7374](https://github.com/apache/pinot/pull/7374). A new checking schema.isBackwardCompatibleWith(oldSchema) is added for POST /schemas API. With the checking, we can not modify any existing column maxLength any more. This is a breaking change for us.

The previous behavior:
If we set override to true, we can just update the existing schema wi

[2022-08-25 21:11] MeihanLi commented on #9281
We saw the issue when we upgrade from 0.7 to 0.9 and this is breaking our current behaviors.
Can we define what is backward compatible more clearly? Currently checking is too strict and does not make sense to us. Also there is other existing API that we can use.
Either we can remove the checking from POST /schemas API and restore it to the previous behavior or we can change isBackwardCompatibleWit

[2022-08-25 21:13] MeihanLi commented on #9281
cc: @yupeng9 @chenboat

[2022-08-25 21:28] Jackie-Jiang commented on #9281
Thanks for reporting the issue. We should allow changing certain fields in the field, e.g. default value, max length

As a work-around, right now you may delete the schema and then add it

[2022-08-25 21:30] deemoliu commented on #9281
@Jackie-Jiang i think there are schemas shared by realtime tables and offline tables.

will it be a problem if we drop it and recreate it later?

[2022-08-25 22:03] Jackie-Jiang commented on #9281
@deemoliu Good point, Pinot won't allow you to delete the schema if a realtime table is using it. We should loose the checks, and then probably add a `force` flag in the API to force update the schema (user takes the risk of breaking the table)

[2022-08-25 22:04] #9215 closed

[2022-08-26 07:06] DDeena007 opened #9283 "SERVER ISN'T PROPERLY STARTING WHILE CONFIGURING HDFS AS DEEP STORAGE"
![image (1)](https://user-images.githubusercontent.com/104492757/186843179-5ab9075d-86e4-4677-a6a3-f9d0584514a5.png)
![image (2)](https://user-images.githubusercontent.com/104492757/186843189-1f8c72dd-fc29-4bd2-a566-ac37ecd7fef9.png)

[2022-08-26 14:45] amitoj opened #9284 "Pinot quickstart issue with "Load data into Kafka and create Pinot schema/tables""
Following the guide from [kubernetes-quickstart](https://docs.pinot.apache.org/basics/getting-started/kubernetes-quickstart#3.4-load-data-into-kafka-and-create-pinot-schema-tables)

When I run the jobs in section "Load data into Kafka and create Pinot schema/tables"
`kubectl apply -f pinot/pinot-realtime-quickstart.yml
`

The job container 'pinot-add-example-realtime-table-avro' fails with error
[

[2022-08-26 20:25] kkrugler commented on #9283
Hi @DDeena007 - this is a good question for the #troubleshooting channel on the Pinot Slack workspace. We try to use GitHub issues for things which have first been discussed on Slack, and identified as likely bugs or useful enhancements.

[2022-08-28 00:53] Jackie-Jiang commented on #9283
cc @KKcorps @xiangfu0

[2022-08-28 20:19] ankitsultana opened #9290 "Pinot Broker Uses a Generic "instanceId" Property Which is Shared With Minion"
At present BaseBrokerStarter determines the Broker Instance ID using a very generic "instanceId" property which is also shared with Pinot minion. In the case of a Quickstart Cluster, if we want to start the Broker with a particular instanceId the start-up fails since the same property is used by the Minion as well.

I think we can change this logic to the following (use pinot.broker.id over instan

[2022-08-29 02:19] sajjad-moradi opened #9291 "Fix the issue of `fetchStreamPartitionOffset` method in Kafka 2.0 implementation"
Kafka 2.0 implementation of `StreamMetadataProvider.fetchStreamPartitionOffset()` returns the next offset after the last available offset while all other implementations correctly return the last available offset. This needs to be fixed. This causes issues on startup when offset based consumption status checker is used.

[2022-08-29 14:53] walterddr opened #9292 "return pre-sorted value on IntermediateResultsBlock"
Currently, if a query is run with the ORDER BY clause. data is
- in selection only, data is sorted and trimmed to the limit
- in aggregation/group-by/distinct, data is unsorted but trimmed to the limit

This means that broker needs to do a full sorting algorithm. Where as if the data is pre-sorted in IntermediateResultsBlock. broke can do a simple k-sorted merge algorithm. which reduces order by t

[2022-08-29 17:36] walterddr commented on #9204
updated the descriptions, thanks @Jackie-Jiang , i think we can actually support these out of MV columns. see: previous issue https://github.com/apache/pinot/issues/6083.

I think one unsolve problem is how to support element-wise operations such as `filter(mvCol, <filterFunction>)` or `transform(mvCol, <transformFunction>)`
do we assume the input to these are the base type inside the mvCol? if so

[2022-08-30 05:34] snleee opened #9297 "Flaky test for `RealtimeNonReplicaGroupSegmentAssignmentTest.testRelocateCompletedSegments()`"
[code]

[2022-08-30 05:40] snleee commented on #9297
Most of the time, the test passes with the `[29, 30, 30, 30, 29, 29, 30, 29, 29, 29]`

[2022-08-30 05:41] gortiz commented on #9292
Also, right now brokers temporally store the data from servers in a hash map, which implies to hash is twice (once when it is being read from the server and another one when data from different servers is combined). By knowing that the data is sorted, brokers could simply store it in a list. The same happens when servers combine results from different segments.

[2022-08-30 05:56] snleee commented on #9297
For this test, we run Helix's `AutoRebalanceStrategy.computePartitionAssignment()` for completed segments. We pass `node.capacity = targetSize (which we compute from "distFloor"`; however, it looks like there's no guarantee that we will always meet the target size.

[2022-08-30 06:00] snleee commented on #9297
#9253
@Jackie-Jiang already created the same issue and he actually added the above test to prove the flaky test. closing this ticket and we can address the fix in the above.

[2022-08-30 06:00] #9297 closed

[2022-08-30 23:13] sajjad-moradi commented on #8171
https://github.com/apache/pinot/pull/8986 adds the support for pause/resume feature.

[2022-08-30 23:13] #8171 closed

[2022-08-30 23:17] sajjad-moradi commented on #6302
Pause/resume feature #8986 is now merged into master.

[2022-08-30 23:17] #6302 closed

[2022-08-30 23:23] sajjad-moradi commented on #7280
ForceCommit endpoint - that was introduced in https://github.com/apache/pinot/pull/9197 - addresses the  requirement of this issue.

[2022-08-30 23:23] #7280 closed

[2022-08-30 23:31] sajjad-moradi commented on #6679
Resume endpoint - that was introduced as part of pause/resume feature #8986 - can be used to address the requirement of this ticket.

[2022-08-30 23:31] #6679 closed

[2022-08-30 23:48] sajjad-moradi commented on #7100
There are two types of properties when it comes to changing the stream configs:
1. Changes that modify the underlying stream like topic name or cluster name change.
2. Stream compatible changes that don't modify the underlying stream like segment.threshold parameters

The problem with first type is that offsets of different partitions change completely when the underlying stream changes. Pause/res

[2022-08-30 23:48] #7100 closed

[2022-08-30 23:54] sajjad-moradi commented on #7039
Now that we can use pause and resume endpoints, we can:
1. pause the table
2. make stream config changes to point to different topic or cluster
3. resume the table with option to consume from earliest/latest offset of the new stream

I believe that should address the requirements mentioned in this ticket.
@johighley @yupeng9 @xiangfu0 what do you guys think?

[2022-08-31 00:36] sajjad-moradi opened #9302 "Zookeeper Transaction"
There are places in the code base in which multiple write interactions with ZK is done as a part of one operation. If any of these interactions fails or if the pinot component fails between these ZK interactions, then we'll be in an inconsistent state. For example we have this situation in segment commit end when a consuming segment gets committed. To clean up the issues from the mentioned failure

[2022-08-31 00:46] mcvsubbu commented on #9302
+1 on using transaction APIs. We can also see if Helix intends to support it (we have moved to Helix 1.x, so hopefully it will be easier extension).

[2022-08-31 02:37] yupeng9 commented on #7039
yes, I believe it can address the issue. Thanks for the improvement!

[2022-08-31 02:50] johighley commented on #7039
You closed this 3 hours after tagging me for feedback. While resetting to the earliest or most recent offset is an improvement, setting a specific offset is needed for our original issue.

[2022-08-31 03:37] sajjad-moradi commented on #7039
I did not close the issue!
Anyways, so ideal scenario for your use case would be to provide the mapping of `partition id -> start offset` along with the resume request, right?
May I ask how often you've encountered this issue?

[2022-08-31 15:38] huang1st opened #9305 "query with condition comparing with zero got incorrect results"
Hi, pinot team, when I ran a query with condition `value > 0` but got results with `value = 0`
Is this an issue or should I make some special configuration to avoid this?

The query is:

[code]

clock is a time column with TIMESTAMP type and value is a metric column with DOUBLE type, the others are dimension columns. The pinot version is 0.11.0-SNAPSHOT and built form source with last commit hash

[2022-08-31 18:23] Jackie-Jiang commented on #9305
Thanks for reporting the issue. Can you please also share the table config for this table?

[2022-08-31 18:53] Jackie-Jiang commented on #9290
Sounds good. Can you please file a PR for this?
We may simplify it a little bit:
[code]

[2022-08-31 19:59] aw381246 opened #9307 "RealtimeToOfflineSegmentsTask does not add file extension to segment files in Deep Store"
The segment files are .tar.gz, but don't include that extension if they're created through a RealtimeToOfflineSegmentsTask

We ran into this while trying to run a SegmentMetadataPush job to restore segment metadata in a DR situation where we still had the Segment files in a GCS bucket.

The SegmentMetadataPush job calls SegmentPushUtils.sendSegmentUriAndMetadata which filters the specified folder

[2022-08-31 20:03] aw381246 commented on #9307
This problem is actually not specific to just the RealtimeToOfflineSegmentsTask.  Completed segments that had not run through the task also have no file extensions

[2022-08-31 20:58] Jackie-Jiang opened #9310 "Use force commit to reload the consuming segment"
We introduced schema evolution for consuming segment with #4954. It only allows adding extra columns with default values, which has several drawbacks:
- Values for the new added columns are ignored
- Other functionalities related to reload cannot be applied (e.g. index changes)

Since we introduced force commit (#9197), we should use it to reload the consuming segment instead

cc @sajjad-moradi

[2022-08-31 21:01] Jackie-Jiang commented on #6854
@sajjad-moradi Yes, I think the pause/resume can be used to address all 3 cases mentioned above. Thanks for adding the great feature!

[2022-08-31 21:01] #6854 closed

[2022-08-31 23:45] mcvsubbu commented on #9310
We can't really use forceCommit, right? We will need to do in 3 steps:
- Pause
- Change schema
- Resume

this will ensure that the new schema is pulled when new segments are started.

[2022-09-01 03:11] Jackie-Jiang commented on #9310
New schema is always pulled when a new consuming segment is created. We should be able to simply update the schema and run a force commit. The committed segment should be updated with the new schema (same as reloading sealed segment), and the new consuming segment will pick up the new schema

[2022-09-01 03:20] mcvsubbu commented on #9310
Ah ok

[2022-09-02 00:09] ankitsultana opened #9325 "[multistage] Support for Serving Multi-Stage Query from the Same Replica Group"
There are a few use-cases where we'd like to serve a query for all tables involved in a multi-stage query from the same replica-group. Examples:

1. Colocated Join
2. Self-Join for Upsert Tables (strictReplicaGroup routing won't work since BaseInstanceSelector uses an auto-incrementing requestId)

One rough idea to support this is:

1. Pass Pinot Broker requestId to BaseInstanceSelector instead of

[2022-09-02 01:00] sajjad-moradi commented on #9310
Yes, force commit helps with creating new consuming segments which pull the latest schema. The challenge, however, is to know which completed segments to reload. Since we don't know when all consuming segments finish committing after receiving force commit message, we don't know when to reload the completed segments.
One way is to add a sync endpoint for forceCommit. In this endpoint we can first

[2022-09-02 06:49] Jackie-Jiang commented on #9307
Thanks for reporting the issue. Would you like to help contribute a fix?

[2022-09-02 10:32] richardstartin commented on #9305
I can take a look at this. @huang1st please share the table config, or just what indexes you have on the value field, and whether it has a dictionary or not.

[2022-09-02 18:01] walterddr opened #9329 "backup entire Zookeeper state for a table"
if anything on Zookeeper goes wrong we can't recover the state.

- Pinot needs a way to backup entire zookeeper state (in consistent fashion) for a table so it would be able to recover it.
- Pinot should also validate a backup and only declare the backup valid if all deep store files referred exist

[2022-09-02 19:49] jonminter commented on #8618
So my coworker just pointed me to this issue. I'm an engineer at Stripe and we've just started experimenting with some similar ideas for making Pinot reliable. One thing I had just implemented in our fork and was testing today was a rate limiter for the Pinot broker that measures observed query latency and estimates server queue sizes using the TCP Vegas congestion control algorithm. I'm using thi

[2022-09-02 19:52] jonminter commented on #8618
Very curious to hear more about the simulator as well. Is this a simulation of a Pinot cluster?

[2022-09-02 20:04] vvivekiyer commented on #8618
Thanks. Please feel free to look at the [PR](https://github.com/apache/pinot/pull/9311) and provide your feedback. The results are documented [here](https://docs.google.com/document/d/1ZeU9n5sX6eBUmM4emSBRgzD82CvifqI7OWsUEIS6Wp4/edit?usp=sharing)

This is a simulation of how the pinot brokers and servers would behave with the Adaptive Server Selection algorithm. The results of this simulation are

[2022-09-02 20:23] Jackie-Jiang commented on #9310
@sajjad-moradi We don't need to wait for the consuming segment to seal and then reload it since we will load the sealed segment anyway, at which time we will pull the latest schema.
For the reload, we can send reload message to the completed segments, and force commit message to the consuming segments. No further step is needed.

[2022-09-02 22:45] Jackie-Jiang opened #9332 "Allow manually set the time boundary for a hybrid table"
https://docs.google.com/document/d/1790304Kh3YSM_2Px9lG2dk-ZxsutADA4wQ5a_ZGE7ps/edit?usp=sharing

[2022-09-04 10:00] xiangfu0 opened #9334 "Too large tarball size"
Due to the plugin structure we introduced and all the new plugins we are adding, the pinot tarball size is increasing and the size is beyond 500MB.
This has exceeded the Apache limit on the tarball size. So we should think of how to reduce it. Just throw some random thoughts:
1. Don't pack existing pinot-core contained libs into the plugin shaded jars, as they are all provided.
2. Make plugin jars

[2022-09-04 15:43] huang1st commented on #9305
Sorry for the late reply. The table config is attached.  [application_metrics_tableconfig.txt](https://github.com/apache/pinot/files/9485010/application_metrics_tableconfig.txt)
The star tree index is enabled for most of the columns.
And according to my observation, the issue only occurs in some specific filter conditions, I believe it only happens when the values of the `value` column are very sc

[2022-09-04 16:32] richardstartin commented on #9305
Thanks, can you also provide the output when you prefix your query with “explain plan for” please?

[2022-09-05 01:28] huang1st commented on #9305
@richardstartin  the query plan is below:

|Operator |Operator_Id|Parent_Id|
| --- | --- | ---|
|BROKER_REDUCE(limit:10)|1| 0|
|COMBINE_SELECT||2||1|
|PLAN_START(numSegmentsForThisPlan:1395)|-1|-1|
|SELECT(selectList:clock, value)|3|2|
|TRANSFORM_PASSTHROUGH(clock, value)|4|3|
|PROJECT(value, clock)|5|4|
|DOC_ID_SET|6|5|
|FILTER_AND|7|6|
|FILTER_FULL_SCAN(operator:EQ,predicate:metric = 'successCou

[2022-09-06 19:43] galalen commented on #9307
If its still available please assign it to me

[2022-09-06 20:05] mayankshriv commented on #9305
Is `metric` a metric column or a text column?

[code]

[2022-09-06 20:24] sajjad-moradi commented on #9310
I thought we're using the original schema to load the locally built segment, but you're right. We always fetch the latest schema when a segment is going to be loaded.

[2022-09-07 01:32] huang1st commented on #9305
It is a dimension column and the type is string. I have attached the schema, you can have a look.
[application_metrics_schema.txt](https://github.com/apache/pinot/files/9501942/application_metrics_schema.txt)

[2022-09-07 10:46] heatclub commented on #9152
@jasperjiaguo can you add the oss user doc, will go through it and pick up this issue if its not yet been picked up.

[2022-09-07 18:08] yuanbenson commented on #9268
Support for consistent push in ingestion jobs on standalone executor has been merged with #9295.
Opening a new issue for Hadoop and Spark support.

[2022-09-07 18:08] #9268 closed

[2022-09-07 18:19] yuanbenson opened #9342 "Enable Consistent Data Push on Ingestion Jobs for REFRESH use case (Spark & Hadoop)"
Expand the feature in https://github.com/apache/pinot/issues/9268 from standalone mode only to Spark and Hadoop as well.
This entail extending `BaseSegmentPushJobRunner` for the following:
For Spark 2.4/3.2
`SparkSegmentMetadataPushJobRunner`
`SparkSegmentTarPushJobRunner`
`SparkSegmentUriPushJobRunner`

`HadoopSegmentMetadataPushJobRunner`
`HadoopSegmentTarPushJobRunner`
`HadoopSegmentUriPushJobR

[2022-09-07 18:20] yuanbenson commented on #9342
#7813

[2022-09-08 09:04] ankitsultana opened #9345 "[multistage] Query Fails When Using IN Clause With String Args"
Repro query (issue happens when using IN clause with string arguments in the filters):

[code]

The broker throws this error:

[code]

The actual error happens in the server:

[code]

cc: @walterddr

[2022-09-08 19:38] ankitsultana commented on #9345
Sounds good. Will give it a shot.

[2022-09-08 21:19] jasperjiaguo commented on #9152
Hey @heatclub it's not yet picked up, do you want to do both? You can take a look at files changed in https://github.com/apache/pinot/pull/8753. 2) is more exploratory as you probably want to find the block cipher scheme that has streamed interface (e.g. https://docs.oracle.com/javase/7/docs/api/javax/crypto/CipherInputStream.html) in java and generalize them (PinotCrypter is a noop rn so we need

[2022-09-09 00:01] vvivekiyer opened #9348 "[Feature] Change forward index and dictionary properties during segment reload"
label=feature

Currently, in the segment reload path, we support the following operations:
1. Adding a new column, removing/updating an autogenerated column
2. Add remove various indexes like inverted index, json index, etc.
3. Create/modify/remove startree index
4. Add min/max value to column metadata

However, we do not support the following operations related to dictionary/forward-index. The pr

[2022-09-09 06:08] heatclub commented on #9152
Yes I can pick up both the issues, will get back with queries if any

[2022-09-09 18:19] vvivekiyer opened #9360 "Update deepstore segments with schema/tableConfig changes"
Currently, we support a number of preprocessing operations for a segment in response to schema/tableConfig changes. Some of them are:
1. Add a new column. Remove/Modify an autogenerated column.
2. Add a new index, remove an index.

Every time the server downloads and reloads a segment,  the server preprocesses the segment and applies these changes. However, the segment directory in the deep store

[2022-09-09 18:27] walterddr opened #9362 "[bug] time boundary manager incorrect handling non-overlap realtime/offline table segments"
one should use all offline table segments, instead of -1 day if realtime table doesn't exist or there's a gap between the realtime and offline table segments in terms of time overlap-ness

[2022-09-09 20:38] walterddr opened #9365 "[feature] groovy function registry"
Problem Statement
===
Previously we allow arbitrary groovy scripts in pinot SQL (see: https://docs.pinot.apache.org/users/user-guide-query/scalar-functions#groovy-scripts)

This causes potential RCE security issue. We would like to propose a groovy function registry that is guarded by ACL.
- only authorized accounts are allowed to register groovy functions;
- users on all access level will have ac

[2022-09-09 20:56] Jackie-Jiang commented on #9360
We already have an API to ask server to upload the segment to deep store. We may leverage the same mechanism to refresh the segments in the deep store. Currently it is used to fix the realtime segments that do not have the deep store copy. See `PinotLLCRealtimeSegmentManager.uploadToDeepStoreIfMissing()` for more details

[2022-09-09 20:57] Jackie-Jiang commented on #9362
We'll add an API to allow user to set arbitrary time boundary if needed. See #9332

[2022-09-09 21:03] jugomezv opened #9366 "[Feature] Support time-based backfills"
The purpose of this work is to support time-based backfill operations for append-tables. Currently backfills are based on segment name matching: once this feature is added we will be able to backfill periods of time in tables, regardless of whether the segment names match or not.

**Requirements:**

1. Provide support for time-based backfill operations for offline tables and completed segments for

[2022-09-09 21:42] walterddr opened #9368 "[multistage][feature] allow broker to also run WorkerQuery engine"
intermediate stage of the multi-stage engine is data locale unaware. so technically we can also register broker nodes as workers on intermediate stage engine.

[2022-09-09 21:46] walterddr opened #9369 "[multistage][feature] allow configurable stage count limit to reject queries if they are too complex"
We should reject SQL that are too complex (for example generating 10 stages execution plan) since they will simultaneously acquire execution resources and thus hogging up the entire cluster's resource.

[2022-09-09 22:29] ankitsultana opened #9371 "Segments Deleted Due to Retention Can Cause Query Failures with ServerSegmentMissing Error"
We recently enabled the feature to return exceptions for cases when some segments are missing (as opposed to returning partial results).

This feature was rolled out in #7823.

After enabling it we have started seeing the following error occasionally for our Realtime tables. On digging a bit we found that this error comes when a segment is deleted due to retention.

[code]

[2022-09-09 22:50] chenboat commented on #9371
@Jackie-Jiang @mcvsubbu How does Pinot handle the case after the broker gets the external view segment to server mapping, the segments get deleted right after that?

[2022-09-09 23:04] mcvsubbu commented on #9371
routing table is re-built when the external view notification comes in. That means any segment that is there now (and was not there before) is deleted, and any segment that was not there before (and is there now) are added. Also, if segments are moved, then that is included in the routing reconstruction as well

[2022-09-09 23:38] Jackie-Jiang commented on #9371
Hmm, this means server processes the callbacks faster than the broker. We have #7818 trying to address the similar issue, but if the version you are running already includes this PR, that means broker is too slow, and before it processes the IS change, server already deleted the segment.
In that case, one possible solution is to introduce a delay on the server before dropping the segment.

[2022-09-10 06:13] ankitsultana commented on #9371
Another solution may be to extend TimeSegmentPruner or create a new Pruner to prune segments which are older than the configured retention.

[2022-09-10 06:59] 61yao commented on #9223
a Join b Using(col) is already supported. I'll just send out a test.

[2022-09-12 05:31] xiangfu0 opened #9380 "Adding a table with bigDecimal data type in QuickStart"
This type is missing.

[2022-09-12 16:34] MeihanLi commented on #9281
I raised the fix here: [#9382](https://github.com/apache/pinot/pull/9382) cc: @Jackie-Jiang @deemoliu

[2022-09-12 17:14] jugomezv commented on #9152
I wanted to better understand the goals of this issue which seem two in this case: add support for decryption (item 2)  and I am not sure about item 1 above: are we suggesting we make the default code path retry and eliminate the need for configuration? if this is not the case, can we explain better what is what we want to achieve with that first item?.

[2022-09-12 19:45] jasperjiaguo commented on #9152
Thanks for the clarification question @jugomezv. For 1) I'm thinking to add retry downloading on untar failed for the old (not streamed) segment download code path. As currently the new code path retries everything while old doesn't. The option for switching two code paths will still be there. Is this what you are asking?

[2022-09-12 20:14] jugomezv commented on #9152
Oh I think I get it, your fix is was only for streaming, ok I get it. Yes for sure we need that: will it also be an option in that case?

[2022-09-12 22:48] jasperjiaguo commented on #9152
Probably behind a flag... set it when the user deems deep store download could be unreliable?

[2022-09-13 00:54] #9290 closed

[2022-09-13 07:32] Jackie-Jiang commented on #9371
This can happen when segment is manually deleted as well, so I feel we want a more general solution

[2022-09-13 10:48] antwigambrah commented on #9380
Hi @xiangfu0 assign it to me

[2022-09-13 10:57] xiangfu0 commented on #9380
Thanks @antwigambrah !

[2022-09-13 16:46] jugomezv commented on #9152
@jasperjiaguo yes, makes sense.

[2022-09-13 16:55] jugomezv commented on #9366
First step toward this feature is to create a function that can list the all the segments fully contained in an interval of time provided.

[2022-09-13 22:58] bagipriyank opened #9393 "delete segment(s) api for an offline table doesn't delete segments from server disc"
Use https://docs.pinot.apache.org/users/tutorials/ingest-parquet-files-from-s3-using-spark to create an offline table. I invoked delete all segments api, or delete segment api from swagger with retention 0d or -1d and observed that the segment got deleted from the controller ui and zookeeper but did not get deleted from the server disc. If i used
[code]

in the spark ingestion job spec then the se

[2022-09-14 00:04] xiangfu0 opened #9394 "Replicate table with different config"
Use case: a table is bootstrapped already, however we want to test if how much perf boost partitioning a column will bring.

The only solution now is to create a new table, regenerate all the segments.

It would be better to have a way to check segment partition mechanism and repartition data if needed.

[2022-09-14 00:30] amrishlal opened #9395 "Error messages while launching Quickstart"
Seeing these error messages while launching Quickstart. After this query does not execute in the quickstart console.

[code]

[code]

[2022-09-14 00:50] xiangfu0 commented on #9395
How do you run the QuickStart? OSS release or you build it locally or from IDE? Can you provide more information. Also check if there is any port conflict from your local server

[2022-09-14 03:49] amrishlal commented on #9395
I usually kill all the java processes to resolve port conflict issues, but in this case that didn't seem to work. Although, its working now. If it happens again, I will try to record more info. I ran it in IntelliJ (Quickstart.java -> Right click -> Run) on latest master.

[2022-09-14 18:09] ankitsultana commented on #9371
@Jackie-Jiang suggested that we can keep a cache of the deleted segments in Pinot Servers and ignore this error if the missing segment is a recently deleted segment. We can try this approach out.

[2022-09-14 21:44] Jackie-Jiang commented on #9393
Interesting.. Do you have the server connected to the cluster when you delete the segments?
When the segments are deleted from the controller, controller will send message to the server to drop the segment, which will remove the segment from the server's disk. It is done asynchronously, so some delay is expected.

[2022-09-14 21:48] Jackie-Jiang commented on #9394
I would model it into 2 steps:
1. Replicate a table
2. Re-partition the data if necessary

The second step can be very expensive because it requires shuffle the data across segments, so we want to leverage minion to do that.

[2022-09-15 05:33] ankitsultana opened #9401 "Query With Empty String Literal Fails with IN_SUBQUERY"
Repro:

[code]

Is this a known issue? I tried find a ticket here for this but couldn't find any.

[2022-09-15 07:58] siddharthteotia commented on #9401
I don't think this has got anything to do with IN_SUBQUERY.

It will probably fail (for the same reason) if you just run the ID_SET query alone.

Are you trying to use predicate != null ? May be try length() scalar function. ?

[code]

[2022-09-15 13:14] priyen opened #9402 "[Bug] Full scan is happening on all docs instead of just those returned by the inverted index"
We have this query, ```
SELECT
  "customer_id"
FROM
  "table name"
WHERE
  "_viewing_merchant" = 'some merchant id'
  AND ((
	"customer_id" < 'some customer id'
	AND "last_payment" = 1661489443000.0
    )
	OR "last_payment" < 1661489443000.0
  )```
and this is the explain on it
[code]
with the  last_payment = clause, the result has `numEntriesScannedInFilter=42846997`, and if we remove it, then `n

[2022-09-15 13:40] kishoreg commented on #9402
You have an OR clause on last payment which will result in full scan.. add range index on last payment and this will be very fast

[2022-09-15 13:43] bagipriyank commented on #9393
Yes

I tried waiting but I don't see any files getting deleted even after a day.

[2022-09-15 13:51] priyen commented on #9402
@kishoreg shouldn't the full scan that happens though be after the inverted index?
``` WHERE "_viewing_merchant" = 'some merchant id' ``` for the test id I used, this matches only a few hundred rows.  Even without range index, a full scan on a few hundred rows should be very fast. I think the issue here is that the full scan is happening on the entire data set (42 million records) when it really s

[2022-09-15 16:44] richardstartin commented on #9402
Note that the data structure backing the range index supports passing a bitmap which represents filtering already done, but isn't used in Pinot. If filter bitmaps were passed on to subsequent filters, this feature of the data structure could be used. Generally, filters are executed independently in pinot and intersected afterwards.

[2022-09-15 16:45] richardstartin commented on #9402
Linking #7597

[2022-09-15 17:02] jugomezv commented on #9310
I talked to @sajjad-moradi  on taking this one, I will sync with him and assign to me after the discussion

[2022-09-15 18:22] Jackie-Jiang commented on #9310
@jugomezv I'm a little bit confused on how you plan to enable this feature. Are you planning to add a config flag for it and make it enabled by default?
Long term wise, I want to always use force commit to reload mutable segment. The current way of reloading can cause a lot of unexpected behavior.

[2022-09-15 18:40] sajjad-moradi commented on #9310
+1 on always using force commit to reload. IMO we don't need to have a config for this.

[2022-09-15 20:05] jugomezv commented on #9310
@Jackie-Jiang the plan is to have this as default code path: no config for it. When we call reload on a mutable segement we always do forceCommit on it. Now the only thing we seem to do on reload on mutable segments now is addExtraColumns, but from the comment above even that code seems not needed now as the new consuming segement should adapt the new schema right?

[2022-09-15 23:02] tanmesh commented on #9075
@npawar Update -- PR is merged.

[2022-09-16 14:25] skjindal93 commented on #6083
Is there any plan to support `ARRAY_AGG` or `ARRAY_JOIN` aggregation function, which concatenates the values into an array?

[2022-09-16 17:24] siddharthteotia opened #9414 "[multi stage] Measure threadCpuTime metric (similar to existing engine) in the operators, aggregate and include in response"
In the current engine, we measure threadCpuTime metric at the BaseCombineOperator level. Aggregated metric is sent to servers and broker aggregates across servers and includes in query response stats. We need to do something similar (granularity etc to be discussed) in the multi-stage engine.

[2022-09-16 17:25] walterddr commented on #9414
good idea. we also had some feedback from the community on this. but the stats definition is the first to sort out.

[2022-09-16 17:37] siddharthteotia commented on #9414
I agree. Measurement is probably ok but correct propagation, aggregation and reflecting at different stages is also something that needs to be thought about

[2022-09-16 18:09] TT1103 opened #9415 "Minion Keeping segments on disk after RealtimeToOfflineSegmentsTask"
We noticed high disk usage on the minion servers and it appears that the RealtimeToOfflineSegmentsTask sometimes leaves the segments on disk.

We also noticed that Pinot is keeping a large amount deleted files open, which might be a memory management bug.
Example `lsof -n | grep deleted` output:

[code]

see slack thread: https://apache-pinot.slack.com/archives/C011C9JHN7R/p1663342366477189

[2022-09-16 23:38] pedrov-santos98 opened #9417 "Connection with Kafka successfully but the query is not showing the topic data"
Hi guys, I'm having a problem with Apache Pinot.
I'm testing the tool and I would like to create a table with data from a kafka topic.

For the environment I'm using a docker-compose with kafka confluent community + apache pinot.

I am following the following official tutorial -> [https://docs.pinot.apache.org/basics/data-import/pinot-stream-ingestion/import-from-apache-kafka](url)

All connection

[2022-09-16 23:47] Jackie-Jiang opened #9418 "Add read APIs for `BOOLEAN` and `TIMESTAMP`"
Currently `BOOLEAN` is supported using the `INT` data type, and `TIMESTAMP` is supported using the `LONG` data type. Even though the storage format are the same, the behavior should be different. E.g. reading `BOOLEAN` as `STRING` should give `"true"` or `"false"` instead of `1` or `0`; reading `DOUBLE` as `BOOLEAN` should give `doubleVal != 0` instead of `(int) doubleVal`.
In order to achieve the

[2022-09-17 01:51] wynet321 opened #9421 "Issue on Histogram with condition"
query as
`select HISTOGRAM(duration,0,1858,3) as histogram_data from signal_data where  doc_type='Paid'`
When tried to use histogram with the condition where-clause, pinot report
`  {
    "message": "QueryExecutionError:\njava.lang.NullPointerException\n\tat org.apache.pinot.core.query.aggregation.function.HistogramAggregationFunction.extractAggregationResult(HistogramAggregationFunction.java:156)

[2022-09-17 05:15] siddharthteotia commented on #9421
cc @jasperjiaguo

[2022-09-19 20:15] #9421 closed

[2022-09-19 20:34] Jackie-Jiang commented on #9393
This is unexpected. After deleting the segments from the controller, can you check if you see the following INFO log on the servers:
[code]
And also check if there is any ERROR log on the server side

[2022-09-19 20:40] Jackie-Jiang commented on #9310
@jugomezv Correct. We should remove the `addExtraColumns` handling and switch to the force commit based solution.

[2022-09-19 21:38] jackjlli opened #9431 "Update ZK client version to 3.6.3 in Pinot repo"
Currently LinkedIn is leading an effort to upgrade ZK client version from 3.5.8 to 3.6.3. We'll bump up the ZK client version to 3.6.3 in the master branch of Apache Pinot repo once our internal deployment and the following verifications are done.

[2022-09-19 22:13] Jackie-Jiang commented on #9415
@klsince Can you help take a look at this issue?

[2022-09-20 09:50] patelprateek opened #9437 "auto sharding strategy for theta sketch"
I was going through the pr : https://github.com/apache/pinot/pull/5316
Can you please point me to how or where is this implemented. How do we define high cardinality threshold

I am running into issues where different sets can be different cardinality and error is high and wanted insights on how to tune theta params during my indexing phase . what is a reasonable theta threshold to decide high car

[2022-09-20 12:01] jameskelleher opened #9438 "Can not set loadBalancerSourceRanges"
Neither the [controller](https://github.com/apache/pinot/blob/master/kubernetes/helm/pinot/templates/controller/service-external.yaml) nor the [broker](https://github.com/apache/pinot/blob/master/kubernetes/helm/pinot/templates/broker/service-external.yaml) is able to accept a value for `loadBalancerSourceRanges`.

This is a minor change so I am happy to take care of it, should just require someth

[2022-09-21 00:25] Jackie-Jiang commented on #9417
Do you see any exception logged on the servers?
cc @npawar @navina to take a look

[2022-09-21 05:39] Jackie-Jiang commented on #8222
Another failure: https://github.com/apache/pinot/actions/runs/3094335423/jobs/5007603397

[2022-09-21 12:41] navina commented on #9417
@pedrov-santos98 can you check the logs in the server directory for any exceptions that is happening during ingestion?

Based on your description, it looks like ingestion is silently failing or dropping the records. Here are some possible ways in which you can verify that the ingestion is still progressing:
1. Using the Rest APIs via the Swagger UI:
a. `/getTableStatus` and verify that the state i

[2022-09-21 20:08] Jackie-Jiang commented on #9437
Here is the doc for the function: https://docs.pinot.apache.org/configuration-reference/functions/distinctcountthetasketch
You may also learn more about theta sketch here: https://datasketches.apache.org/docs/Theta/ThetaSketchFramework.html

There is one parameter that can be passed in the function: `nominalEntries`. By default it is set to 4096, and you may try a higher value to get better accura

[2022-09-21 20:57] Jackie-Jiang commented on #9438
Thanks for reporting the issue. Looking forward to your contribution! cc @xiangfu0

[2022-09-21 22:24] icefury71 commented on #7514
@sajjad-moradi this is a great idea. Lemme know if you had any update on this issue.

[2022-09-21 23:17] patelprateek commented on #9437
May be my question wasn't clear. I understand what theta sketches are , but trying to understand how you build auto sharding for some high cardinality segments when constructing theta sketch , what is considered high cardinality , what thresholds ?
IIUC intersection(theta_sketch(a) , theta_sketch(b)) can have high error rate when jaccard similarity is low or difference between cardinality of A and

[2022-09-22 02:12] tanmesh commented on #9075
I have added the documentation in the PR above ^. Please review it.

[2022-09-22 02:32] Jackie-Jiang commented on #9075
Merged. Thank you so much for your contribution!

[2022-09-22 02:32] #9075 closed

[2022-09-22 23:27] #9371 closed

[2022-09-23 18:48] Jackie-Jiang commented on #9437
The implementation for this support is in the `DistinctCountThetaSketchAggregationFunction` class.
With the current implementation, we don't shard the set. I think this can be a good optimization, and we need some research to decide a cardinality threshold to shard the set. We can also consider providing this threshold as a parameter to the function.
Do you want to help contribute this feature?

[2022-09-24 06:03] ankitsultana opened #9460 "Using GTE Comparison in Projection Leads to Incorrect Results"
Say we have the following data:

[code]

Atm this query returns 1 (which is incorrect. The first conditional expression is false):

[code]

If you change it to a COUNT(*), the result is accurate:

[code]

[2022-09-26 17:19] kkrugler commented on #9395
Hi @amrishlal - this is a good question for the troubleshooting channel in the Pinot Slack workspace. Then, if after discussion it seems like a Pinot issue (vs. your environment, for example) you would open a GitHub issue.

[2022-09-26 23:26] walterddr opened #9467 "Codecov CI instability"
exceptions like:
[code]

probably related to codecov action V3 issue, saw multiple reported in https://github.com/codecov/codecov-action/issues recently

[2022-09-27 02:52] #9460 closed

[2022-09-27 06:11] navina opened #9470 "Deprecate and plan to remove RowMetadata"
After #9224 , `RowMetadata` interface in `pinot-spi` was identified to be redundant. This can be deprecated and removed. See https://github.com/apache/pinot/pull/9224#issuecomment-1255908191 for details.

[2022-09-27 06:11] navina commented on #9470
Please assign this to me. Tks!

[2022-09-27 17:02] lakshmanan-v opened #9473 "Add protections to limit the impact of rogue queries"
When a rogue query does an expensive/resource intensive operations (full table scan on a very large table), it may consume more resources and affect the health of the servers (out of memory, high cpu etc). The effects are more pronounced when multiple bad queries land around the same time window.

We could add some protection at table level to limit the max segments (count / %) scanned per query.

[2022-09-27 17:03] lakshmanan-v commented on #9473
cc @elonazoulay @weixiangsun

[2022-09-27 17:05] mcvsubbu commented on #9473
cc: @vvivekiyer , @siddharthteotia

[2022-09-27 17:06] vvivekiyer commented on #9473
cc: @jasperjiaguo  and @siddharthteotia
We have an on-going effort where we try to protect the cluster from such cases to improve resiliency. Please refer to issues #9055 and #8618

[2022-09-27 17:52] siddharthteotia commented on #9055
FYI @lakshmanan-v

[2022-09-27 23:03] chenboat opened #9476 "Limit the depth of Json index"
Today Pinot's json index does not limit the depth of Json path it tries to index. For large json data sets, it can result in high memory usage and OOM errors. In many cases, users are happy if they can search up to 2-3 levels of json data. Limiting the depth of json index can help reduce memory usage and meet user demand.

The propose is to add an additional config `maxDepth` to the existing json-

[2022-09-29 18:00] sudo6si opened #9491 "Do we need `-XX:ActiveProcessorCount=2` in jvmOpts?"
Currently helm chart's [`values.yaml` file](https://github.com/apache/pinot/blob/dc84310077765ce367d380c97aa67f9e4caeb0bf/kubernetes/helm/pinot/values.yaml#L102) contains following option:

[code]

As per my [understanding](https://stackoverflow.com/a/59882645)

Do we need this option and if yes should this be configured to be equal to container's CPU?

[2022-09-29 18:24] xiangfu0 commented on #9491
This is usually be configured when try users started with a very small VM. We do see problems that some users configure <1 CPU for pinot and that might cause unexpected behavior of the program, as the java system gives you that you have 0 CPU.

For advanced users, definitely modify it as you needed or just remove this option.

[2022-09-29 18:28] lakshmanan-v opened #9492 "[Time series Gap-fill V2] Server side gap-filling of time series data"
We recently introduced gapfill() to interpolate and fill gaps in a time series dataset. In the current solution, the data is moved and gapfilling is performed in the broker. This puts lots of stress on the broker as all of the raw records to be transferred from server to broker.

This brings in a lot of limitations and doesn't work for large dataset with larger date range. In V2, let us revisit th

[2022-09-29 18:30] sudo6si commented on #9491
@xiangfu0 thanks for the quick revert. We have removed this option entirely and assuming that pinot's JVM is smart enough to figure out how much CPU is available for it?

If that is not the case, let me know and we will set the value to be equal to container's CPU.

[2022-09-29 18:31] xiangfu0 commented on #9491
Feel free to remove, this is the safeguard for extreme low resources users.

[2022-09-29 20:37] sudo6si commented on #9491
Thanks for the explanation. Closing this as resolved.

[2022-09-29 20:37] #9491 closed

[2022-09-29 20:48] Jackie-Jiang commented on #9492
cc @walterddr

[2022-09-29 22:57] npawar commented on #9417
Hello @pedrov-santos98 , were you able to resolve the issue?

[2022-09-29 23:10] npawar commented on #9395
Closing this, as it is not an issue anymore or reproducible

[2022-09-29 23:10] #9395 closed

[2022-09-29 23:15] #9380 closed

[2022-09-29 23:20] klsince commented on #9415
some quick thoughts but need verify: although we do delete the files in a finally{} upon task completion, but we may not release all the mmap over those files, which is done by
[code]

[2022-09-29 23:20] npawar commented on #9362
Should we atleast by default handle the first part `if realtime table doesn't exist`? assuming Rong means "if realtime table has no rows"

[2022-09-29 23:38] npawar commented on #9283
Since this is more than a month old, and I believe Deena since asked this on slack, closing this issue.

[2022-09-29 23:38] #9283 closed

[2022-09-29 23:40] #9281 closed

[2022-09-29 23:41] npawar commented on #9266
Looks like this has been addressed. Closing.

[2022-09-29 23:41] #9266 closed

[2022-09-29 23:42] npawar commented on #9253
Seeing linked PRs already merged. Closing this and we can reopen if issue still persists

[2022-09-29 23:42] #9253 closed

[2022-09-30 00:09] #9194 closed

[2022-09-30 00:52] lakshmanan-v commented on #9492
Design doc: https://docs.google.com/document/d/1ZPV3YVvNQYP1Cg0rBPWQEYNA168-xtJaKa57F4Bj2Iw/edit#

[2022-09-30 01:34] Jackie-Jiang commented on #9362
The complexity will be similar. Essentially we need to track the min time on the realtime side, and decide whether to attach the time filter

[2022-09-30 09:49] DDeena007 opened #9504 "TIMESTAMP AS LITERAL TYPE NOT SUPPORTED IN V2 MULTI-STAGE QUERY ENGINE"
`[
  {
    "errorCode": 200,
    "message": "QueryExecutionError:\njava.lang.RuntimeException: Received error query execution result block: {200=QueryExecutionError:\norg.apache.pinot.spi.exception.BadQueryRequestException: java.lang.IllegalArgumentException: Invalid timestamp: 'java.util.GregorianCalendar[time=1664202805190,areFieldsSet=true,areAllFieldsSet=true,lenient=true,zone=sun.util.calenda

[2022-09-30 14:53] walterddr commented on #9504
please share your minimal reproducible query and table configuration.

I suspect this would be related to converting a literal value to timestamp using scalar function at compile time

[2022-09-30 15:55] jugomezv commented on #9310
OK this is done/tested and awaits approval:[here](https://github.com/apache/pinot/pull/9502)

[2022-09-30 16:00] jugomezv commented on #9310
Checking failures in integration tests.

[2022-09-30 17:59] ksnijjer commented on #9491
@xiangfu0 I would suggest that we get rid of this flag in default settings in first place, and simply add a highlighted note which recommends users to explicitly set this config as and when needed. WDYT ?

[2022-09-30 18:13] xiangfu0 commented on #9491
I think we can have a reasonable default one and meanwhile prepare a few `values.yaml` recipes for different usages, e.g. values-dev.yaml or values-small,yaml, etc.

[2022-09-30 18:20] ksnijjer commented on #9491
That seems like a better approach, thanks @xiangfu0!

[2022-10-03 07:29] ivanvy-wix commented on #7441
I think this issues refers to this line: https://github.com/apache/pinot/blob/bb2519494a15a3125dd509286d60ffd124f91c37/kubernetes/helm/pinot/templates/_helpers.tpl#L58

The line has been removed in #7177 (with a way to keep compatibility with already deployed charts) and so the issue can be closed?

[2022-10-03 07:35] ivanvy-wix commented on #7176
The PR has been merged (by the way, thanks @mikecdavis-dd!) , but I guess GitHub didn’t recognise the _Resolves issue:_ syntax and so didn’t close the issue automatically.

[2022-10-03 07:44] ivanvy-wix commented on #6923
The switch to Bitnami’s ZooKeeper chart was made in #7955 (chart v7.0.0, ZooKeeper v3.7.0). Later updated to v9.2.7 version of the chart (ZooKeeper v3.8.0) in #8936. I think the issue can be closed now.

[2022-10-03 08:05] ivanvy-wix opened #9514 "Gradual updates with Pinot helm chart"
The [recommended order for updating Pinot’s components](https://docs.pinot.apache.org/operators/operating-pinot/upgrading-pinot-cluster) is hard to follow with the current helm chart, because there’s only one global version and no way to update a single thing at the time.

The simplest thing would be to have (empty by default) image overrides that one could set during upgrades:
[code]
[code]

Is i

[2022-10-03 15:26] agavra commented on #9240
[code]
This happens when trying to use the confluent schema registry to deserialize a message that was written using the standard (non-schemaregistry) avro serializer. I'll take a quick look at this.

[2022-10-03 16:42] monicaluodialpad opened #9517 "Unclear `ArrayIndexOutOfBoundsException` Error"
Hi Team,
We are seeing this error couple times on Prod. We could get the query and tested on our dashboard, it worked okay and we didn't see the same error.
Please allow me to create a github issue to keep track of this.

<img width="1198" alt="Screen Shot 2022-10-03 at 12 39 45 PM" src="https://user-images.githubusercontent.com/74613115/193631941-94c243e0-b5bf-49a1-842e-c057851bdf9c.png">
Sample

[2022-10-03 16:48] monicaluodialpad commented on #9517
We also seen an error was this
<img width="1191" alt="Screen Shot 2022-10-03 at 12 46 55 PM" src="https://user-images.githubusercontent.com/74613115/193633238-4665fd1e-e286-460b-936a-21f6978a057e.png">
The query was

[code]

[2022-10-03 17:36] walterddr commented on #9517
was this tested before or after https://github.com/apache/pinot/pull/9495 gets merged?

[2022-10-03 18:05] bagipriyank opened #9518 "Upgrade the default version for helm chart to 0.11.0"
It seems the default version deployed via helm charts is 0.2.5. We have had few CVE fixes from 0.9.3 and 0.10.0 in v0.11.0. We should make sure that the default version is secure (0.11.0)

[2022-10-03 18:15] monicaluodialpad commented on #9517
Maybe it is asking was this tested after that PR deployed?
The error was up to Sept 30 2022. I guess it's before the PR get deployed. I haven't see the new error so far up to Oct 3 2:16pm EDT

[2022-10-03 18:23] bagipriyank commented on #9518
@xiangfu0 can you please have a look? thank you!

[2022-10-03 20:05] taohu18 opened #9520 "pinot 0.11.0 can't use "-" or "+" when naming the category for CASE WHEN ELSE statement"
If I run this query:
SELECT
    CASE
      WHEN price < 30 THEN "20-30"
      WHEN price < 20 THEN "10-20"
      WHEN price < 10 THEN "0-10"
      ELSE 0
    END AS price_category
FROM myTable
I got the error indicating  Character - is neither a decimal digit number, decimal point, nor \"e\, and if I replace "-" with "+", I got the same error. This wasn't an issue in 0.9.3

[2022-10-03 21:27] jasperjiaguo commented on #9055
Update -- we would like to share the design doc here https://docs.google.com/document/d/1Z9DYAfKznHQI9Wn8BjTWZYTcNRVGiPP0B8aEP3w_1jQ/

Please feel free to review/comment

[2022-10-03 22:11] Jackie-Jiang opened #9523 "Reduce the amount of trace info"
Currently the default tracer will print an entry per block (up to 10K docs). For a query hitting 1B docs, it will log 100K entries, which is not useful for debugging. It can even hang the controller UI when sending a query with trace on.

We should reduce the tracing info by merging the same entry type into one entry for each segment and just print the total time per entry type.

Other things to c

[2022-10-03 22:33] Jackie-Jiang commented on #7176
Thanks @ivanvy-wix for pointing it out. Closing it

[2022-10-03 22:33] #7176 closed

[2022-10-03 22:33] #7441 closed

[2022-10-03 22:33] #6923 closed

[2022-10-03 23:33] Jackie-Jiang commented on #9514
cc @xiangfu0

[2022-10-04 02:29] walterddr commented on #9467
Fixed by #9522

[2022-10-04 02:29] #9467 closed

[2022-10-04 06:20] #9332 closed

[2022-10-04 17:47] deemoliu opened #9529 "Implement TTL support for Pinot upsert"
Apache Pinot provides native support of Upsert since v0.6.0 (#4261), it allows users to modify existing records, and successfully onboard many use cases. We observed Pinot upsert clusters usually have high usage of heap memory. This is because the upsert metadata (primaryKeyIndexes and validDocIndexes), are stored in heap of pinot hosts. For use cases with high cardinality of primary keys, the hea

[2022-10-04 17:47] deemoliu commented on #9529
We summarized the challenges and thoughts for partial upsert in this [design](https://docs.google.com/document/d/124TSQ6ZRFRZd6uEAZpq98E68eBh0fmHYLvERzXtmKjk/edit#)

Please review cc @Jackie-Jiang @chenboat @yupeng9

[2022-10-04 17:49] deemoliu commented on #9529
ValidDocIds Snapshot management [PR](https://github.com/apache/pinot/pull/9062) and [Pinot doc](https://github.com/pinot-contrib/pinot-docs/pull/127).

[2022-10-04 19:26] priyen opened #9531 "Aggregation functions shouldn't return rows when there isn't any data"
We noticed that there is inconsistency in the way aggregation function queries return data.
For example
[code]
This will return **1 row with value 0,** even when I make up a application value that doesn't exist.
If however, I added a time filter to this,
[code]
this returns **0 rows.**

I believe the correct response here should be zero rows, especially since for that first query for example, `num

[2022-10-04 19:33] jadami10 commented on #9531
note that this table has time and partition pruning. It seems when all segments are pruned, you get back no rows. But if not all segments are pruned, then you get back a single row with the default value even if there were no matching documents.

For this query, we can get away with this behavior since a sum of 0 is effectively the same as no rows found. But for these queries
[code]
this is proble

[2022-10-04 20:35] #9240 closed

[2022-10-04 23:33] Jackie-Jiang commented on #9531
What is the standard SQL behavior when no record matches? Does it return `null` as the aggregation result? cc @walterddr

[2022-10-04 23:58] walterddr commented on #9531
This is the tradition that postgres follows.
for aggregation without group by
- `SELECT SUM(a) FROM tbl WHERE a > 0 AND a < -1` it will return a single row / single column of 0
- `SELECT MAX(a) FROM tbl WHERE a > 0 AND a < -1` it will return a single row / single column of null

for agg with group by, since there's no group key will match this impossible filter, thus it will return 0 rows

[2022-10-05 04:18] jadami10 commented on #9531
I tested locally with postgres's internal tables. It always returns a single row with null
[code]

returning any value seems semantically wrong. imagine you have a table like
| A      | B |
| ----------- | ----------- |
| meow      | -1       |
| meow   | 1        |

`select sum(B) from table where A='meow'` makes sense to return 0
`select sum(B) from table where A='woof'` would just be wrong if i

[2022-10-05 14:49] walterddr commented on #9531
oops. i meant to say `COUNT` instead of `SUM` in my previous comment for the non-null return. ^

[2022-10-05 15:42] TT1103 commented on #7849
Hi, just wondering if there are any updates on Case 2? For our use case, it would be ideal if there weren't missing rows from when a segment is being flushed.

[2022-10-05 20:24] icefury71 commented on #8219
@lfernandez93 @npawar can this be closed ?

[2022-10-06 05:45] walterddr commented on #9272
closed with #9485

[2022-10-06 05:45] #9272 closed

[2022-10-06 16:20] #9042 closed

[2022-10-06 21:45] dachaostripe opened #9545 "Tagging unique requestId or eventId to all logs across components"
Currently there's no effective way of searching and gathering all related logs for a particular query or life cycle/control event. As of now, there's only a numeric requestId like `124927` being generated on broker and get sent to online and offline servers to tag a few log messages, but that doesn't include potential exceptions in case of errors. This can cause huge difficulties when troubleshoot

[2022-10-06 22:00] mcvsubbu commented on #9545
If pinot broker returns the requestId and the brokerId along with the response/exception, will that help?

[2022-10-06 22:37] dachaostripe commented on #9545
This probably would help during testing and development where we can temporarily log the response, assuming broker AND online/offline servers also tag all their related logs with the broker id(in addition to requestId), which is still not as convenient as simply searching for requestId alone.

And that still doesn't solve the problem in production where clients don't usually log the response, and

[2022-10-06 22:58] icefury71 opened #9547 "Throttle Ingestion in case of server capacity issues"
Currently, there's no safeguard in place to slow down or stop ingestion (realtime or offline) if any one of the Pinot servers are running out of disk space. Having this feature would allow us to prevent server crashes due to ingestion spikes.

[2022-10-07 00:18] icefury71 opened #9548 "Support partitioning on composite column"
The current mechanism (https://docs.pinot.apache.org/operators/operating-pinot/tuning/routing#partitioning) allows specifying the partitioning logic on a single column. There may be cases where we want to partition the data on a composite column (eg: <col1, col2>). If the data is already partitioned on a composite column - we should have a way of capturing that in the Pinot config

[2022-10-07 00:25] mcvsubbu commented on #9545
I believe the brokerId is also logged in the server log for a successful query.

We may need to make sure that these are also logged whenever an error/warning pertaining to a query is logged.

In case of clients, the clients only need to log information about queries that don't work as expected, right? They don't need to log anything (unless they want to) if everything goes well with the query

[2022-10-07 07:36] dachaostripe commented on #9545
you mean like `queryRequest.getBrokerId()` used at [QueryScheduler](https://github.com/apache/pinot/blob/master/pinot-core/src/main/java/org/apache/pinot/core/query/scheduler/QueryScheduler.java#L257)? which presumably is originated from here at [BaseBrokerRequestHandler](https://github.com/apache/pinot/blob/master/pinot-broker/src/main/java/org/apache/pinot/broker/requesthandler/BaseBrokerRequest

[2022-10-07 10:10] thangnd197 opened #9553 "Wrong controller zookeeper config in "conf/pinot-controller.conf""
The zookeeper string key in "conf/pinot-controller.conf" must be "controller.zk.str"
Please take a look in docs https://docs.pinot.apache.org/configuration-reference/controller

When start controller node with
[code]
I have below error
[code]

[2022-10-07 15:15] lfernandez93 opened #9555 "GCS Bucket config failing in Pinot 0.11.0"
A [change](https://github.com/apache/pinot/pull/8656) was introduced in 0.11.0 that is breaking GCS setup. Any deployment using GCS buckets for their setup will not be able to upgrade to 0.11.0

Per talk with @zhtaoxiang we should:
1. change [this](https://github.com/apache/pinot/blob/8d1fad9861c25a4ebd1919315147de8f9476ea05/pinot-plugins/pinot-file-system/pinot-gcs/src/main/java/org/apache/pinot/

[2022-10-07 15:16] lfernandez93 commented on #9555
please assign it to me.

[2022-10-07 18:04] xiangfu0 commented on #6297
We have the redash support merged today! https://github.com/getredash/redash/pull/5798

Will have more follow-up blogs and tutorials on this!

cheers!

🎉

[2022-10-07 18:13] xiangfu0 commented on #9555
Thanks @lfernandez93

[2022-10-07 20:05] dang-stripe commented on #8948
This issue happened again, but we were able to get more logs this time. It seems like:

1. Job sends segment upload request controller
2. Controller processes upload, adds segment to property store
3. Controller starts shutting down including ZK conn
4. Controller fails to update ideal state due to ZK conn closed
5. Upload request fails

The batch job that performed the push seemed to succeed surp

[2022-10-07 20:10] dang-stripe commented on #8948
Also possibly when the push job retries the request since it'll have received a 500, it'll get a 200 because the upload request finds the segments already exist, causing the batch job to succeed.

[2022-10-07 22:54] dang-stripe opened #9558 "Add API for checking table rebalance status"
It'd be great to have an API to check rebalance status programmatically so we can automate rebalances. Currently the API always returns in-progress and requires checking the controller logs for status or checking external view / ideal state. https://github.com/apache/pinot/blob/master/pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotTableRestletResource.java#L677

[2022-10-08 05:38] Jackie-Jiang commented on #9558
One workaround for this is to run the rebalance in dry-run mode and check the response. If the response is no-op, that means the ideal state is already reaching the end state (external view might not converge yet).
We can add an API to apply similar idea, and also add extra check on whether the external view matches the ideal state.

[2022-10-10 03:28] liyujiel commented on #9284
I believe https://github.com/apache/pinot/pull/9562 can fix this issue :)

[2022-10-10 17:58] walterddr opened #9563 "[multistage] timeout issue running multi-table join on limited resource"
based on https://github.com/apache/pinot/pull/9541

- we've observe severe timeout issues when running with SSB test queries with `-XX:ActiveProcessorCount=2`
This is highly likely due to thread thrashing.

We should either
- early terminate on resource contention. or
- make sure there's enough resource allocated for executing these multi-table joins, or
- improve planner resource anticipation

[2022-10-10 20:20] elonazoulay opened #9565 "Min/Max on TIMESTAMP columns should return TIMESTAMP"
If you do a MIN or MAX on a TIMESTAMP column the result is a numeric (double/long). It should be a timestamp.

[2022-10-10 23:58] #9476 closed

[2022-10-11 04:41] SukeshUB opened #9567 "Last day data in an offline table not being returned by query in a hybrid table when there is no data in real time."
I have a hybrid table. I ran the spark offline ingestion job until September 26th (it is October 10th as of this post and the time I found the issue). Now, the ingestion was successful and I see the segments in the pinot UI and in s3.

Spark Output:
[code]
Segments found in table:
![image](https://user-images.githubusercontent.com/25570843/194998014-63fd4160-317b-492f-bd25-8d37b246a7d6.png)

Segme

[2022-10-11 09:28] Jackie-Jiang commented on #8477
The data is available here:
https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/HG7NV7

On Wed, Apr 6, 2022 at 7:55 AM Arkadiusz Chmura ***@***.***>
wrote:

[2022-10-11 21:15] liyujiel commented on #9200
Hey folks, I'm new here, may I take this task? :) @npawar

[2022-10-11 21:19] xiangfu0 commented on #9200
I think we may need to support the SQL syntax, cc: @walterddr to confirm we already have all the prerequisites.

[2022-10-11 21:36] walterddr commented on #9200
see: https://calcite.apache.org/docs/reference.html#ddl-extensions
- `DESCRIBE TABLE <table_name>` should be parsable by calcite
- `SHOW TALBES` might not be,
  - although we can make it as an alias of `DESCRIBE DATABASE "default"` since pinot doesn't have a catalog/database concept and it should show the table list

[2022-10-12 05:32] siddharthteotia commented on #6473
Part 1 to add support for skipping forward index (during segment generation) and making all other code paths (load, query processing) aware of it has been merged.

Subsequent PRs will focus on changes to support regeneration of forward index from dict and inverted index and toggling this feature.

[2022-10-12 07:28] vvivekiyer opened #9574 "Add support for DISTINCTSUM and DISTINCTAVERAGE functions"
Currently, pinot only supports using `COUNT` aggregation function on `DISTINCT`. This is supported in two ways:
1. DISTINCTCOUNT
2. COUNT(DISTINCT colA)

https://github.com/apache/pinot/blob/e813867985746e916c8e898a530002551b661496/pinot-common/src/main/java/org/apache/pinot/sql/parsers/CalciteSqlParser.java#L788-L789

The ask in this issue to make pinot also support `SUM` and 'AVG' aggregation fu

[2022-10-12 07:29] vvivekiyer commented on #9574
I'm currently working on this.

[2022-10-12 08:10] jatin5251 opened #9575 "Add Support for DATE datatype in Pinot"
We have use case where we need to store date datatype in pinot.

[2022-10-12 08:33] xiangfu0 commented on #9575
Can you elaborate more on the use case and curious if TIMESTAMP can be an alternative for it?

cc: @Jackie-Jiang

[2022-10-12 09:11] jatin5251 commented on #9575
We are using tableau for visualization and due to its licensing cost we are in process to deprecate it with superset
But tableau has extract feature in which we save output of sql query in tableau server as in-memory.
To add this functionality in superset we build one service that will take sql query from superset, run it on trino then trino-pinot connector will insert data into pinot(insert suppo

[2022-10-12 16:47] siddharthteotia commented on #9574
cc @walterddr @Jackie-Jiang

[2022-10-12 17:12] egalpin commented on #7978
I was actually considering using IN_PARTITIONED_SUBQUERY as a way to implement rudimentary nested column support.  I think this could potentially be implemented natively without the need for IN_PARTITIONED_SUBQUERY in the future as well.

Imagine a table named foo with data organized like so, based on the [json index docs](https://docs.pinot.apache.org/basics/indexing/json-index#when-to-use-json-i

[2022-10-12 17:31] walterddr commented on #9574
this is not something postgres supports (which is much closer following SQL standard)
- only `COUNT(DISTINCT( colA [, colB]*)`

however given we already support DISTINCTCOUNT, it seems ok to support DISTINCTSUM as a dialect sugar to me

[2022-10-12 18:40] vvivekiyer opened #9577 "Add support for INTERVAL / TIMESPAN datatype in Pinot"
The `INTERVAL` datatype will allow users to manipulate a period of time in years, months, days, hours, minutes, seconds, etc

Example of use:
[code]

Postgres reference - https://www.postgresql.org/docs/current/datatype-datetime.html

[2022-10-12 20:40] #6362 closed

[2022-10-12 23:08] Jackie-Jiang opened #9581 "[Flaky test] PurgeMinionClusterIntegrationTest.testPassedDelayTimePurge()"
Example run: https://github.com/apache/pinot/actions/runs/3237762954/jobs/5306284570
[code]

[2022-10-13 01:01] #9581 closed

[2022-10-13 01:29] somandal commented on #6473
Here's a [document](https://docs.google.com/document/d/1MNLLhYCg5e-UFBQ6wTBODd41sDsbjevwRfwoGuNowWw/edit?usp=sharing) which discusses the reload problem and how to solve it for the forwardIndexDisabled feature. Please take a look and leave your feedback. cc @Jackie-Jiang @siddharthteotia @vvivekiyer

[2022-10-13 18:43] icefury71 commented on #9531
@jadami10 wondering if you saw Rong's last message ^^ He's talking about a case where returning empty array doesn't work.

[2022-10-13 20:28] 61yao opened #9589 "Query timeout overwrite"
Currently, the query option time doesn't overwrite correctly.

We should have:

user-config override should always be considered as the total time (maybe minus planning time, i will explain later)

with this in mind, all the current timeout configuration during query should also be considered as total time
all stages have a fixed timeout at an absolutely ts value = sys.currentTimeNano() + desiredT

[2022-10-13 20:30] 61yao opened #9590 "[multi-stage] Table join order"
The join table order has to be in the order of table size. i.e. table from the right hand side has to be smaller.

@walterddr FYI.

[2022-10-13 22:10] Jackie-Jiang commented on #8948
This is a bug. When a segment is uploaded, we update ZK in 2 steps: first create the ZK metadata for the segment, then add the segment to the ideal state. If the upload fails after the first step, the next upload should still go through and try to add the segment to the ideal state if it does not exist

[2022-10-13 22:12] #9284 closed

[2022-10-13 22:15] agavra opened #9592 "[multi-stage] NPE during nested loop joins"
There's a bug where singletonInstance may be null in the case of a JOIN where one side is BROADCAST and the other is SINGLETON (this is the case with nested loop joins for inequality conditions). This causes NPEs in the logs, but actually works because the side that hits the NPE doesn't expect to get any data anyway (that's the side that gets the broadcast from one side but nothing from the SINGLE

[2022-10-13 22:16] #7856 closed

[2022-10-13 22:17] jadami10 commented on #9531
apologies missed this. Maybe the multi-stage engine supports this, but these are not valid queries at the moment in Pinot, so I don't think they apply.

[code]
I don't really understand this query. What is `count`? Is it a field in `tbl`?

[2022-10-13 22:20] Jackie-Jiang commented on #9567
Yes, this is expected behavior for hybrid table setup. We expect offline table and real-time table to have at least 1 day's overlap data. This issue is duplicate with #9362. Closing this one and use 9362 to track

[2022-10-13 22:20] #9567 closed

[2022-10-13 22:25] walterddr commented on #9531
yes they are valid queries in v2 engine

yes assume `"count"` is a column in `tbl`

[2022-10-13 22:40] Jackie-Jiang commented on #9575
For the `DATE` type, do you need time zone info, or the plain text such as `2022-10-13`? To support it, internally we can store the value as either long (millis since epoch) or int (days since epoch).
We need to consider whether to support the comparison across different time types, e.g. comparing `DATE` with `TIMESTAMP`. We also want to introduce `DATE_TIME` in the future, which support custom da

[2022-10-13 22:50] jadami10 commented on #9531
I'm honestly not sure what the semantics would be here. I'm thinking more about the semantics of single aggregations. They shouldn't just return the default value if no rows match; it should be null. We should match known sql semantics, and v2 should handle whatever that is instead of the other way around.

[2022-10-13 22:50] jatin5251 commented on #9575
we are only looking for plain text at the moment. i think we can store as long (millis since epoch) that will help in future once we introduce DATE_TIME in the future.

[2022-10-13 23:19] walterddr commented on #9531
yes I agree with you @jadami10. i merely mentioned that
- returning a single row of `0` for count
- returning a single row of `null` for sum/min/max
is correct SQL semantics (i will say to follow postgres behavior as must as possible)

please let me know if you agree with my observation

[2022-10-13 23:21] jadami10 commented on #9531
Oh yes. Totally agree with those. Thank you!

[2022-10-13 23:31] walterddr commented on #9531
yeah also V2 is expecting the postgres behavior. because the same behavior occurs no matter the query is executed at top level or sub-query level. that's why I mentioned
[code]
as an example of why count(*) when no row on `tbl` should return 1 row of `0` instead of 0 row

[2022-10-14 05:49] siddharthteotia commented on #6473
User docs - https://docs.pinot.apache.org/basics/indexing/forward-index#disabling-the-forward-index (thanks @somandal)

[2022-10-14 05:55] siddharthteotia opened #9594 "Add Base64 encode / decode functions"
Merged as part of https://github.com/apache/pinot/pull/9114/

User docs - https://docs.pinot.apache.org/configuration-reference/functions/base64

Creating this issue for reference

[2022-10-14 05:56] #9594 closed

[2022-10-14 05:58] siddharthteotia opened #9595 "Support COVARIANCE functions"
Support added in https://github.com/apache/pinot/pull/9236

For both `COVAR_POP` and `COVAR_SAMP`

User docs

https://docs.pinot.apache.org/configuration-reference/functions/covar_pop
https://docs.pinot.apache.org/configuration-reference/functions/covar_samp

[2022-10-14 05:58] #9595 closed

[2022-10-14 05:59] siddharthteotia opened #9596 "Support CAST on MV columns"
CAST function for multi-value columns

Added in https://github.com/apache/pinot/pull/9296/

[2022-10-14 05:59] #9596 closed

[2022-10-14 06:03] siddharthteotia commented on #9055
@vvivekiyer @jasperjiaguo and I met with @Jackie-Jiang and @walterddr to review the design doc and some code walkthrough.

Overall looks good. One main suggestion received was to unify / encapsulate the different kinds of info being held in different places (e.g Trace related info, the stats being introduced in this PR etc) into some form of ExecutionContext. Will be making those changes and send

[2022-10-15 20:45] jpohanka commented on #5650
@npawar Is there any progress with this feature? We would welcome even a simple version with primitive types int, long, string.

[2022-10-15 21:11] Jackie-Jiang commented on #9589
Is this for multi-stage (v2) engine or also apply to v1? I believe v1 has the correct behavior.

[2022-10-16 00:17] xiangfu0 commented on #9575
Actually, in PrestoDB, there is a config to infer `DATE` type based on Pinot Schema: `pinot.infer-date-type-in-schema`.
https://prestodb.io/docs/current/connector/pinot.html#map-pinot-schema-to-presto-schema

I feel maybe we can implement this in Trino as a temporary workaround before this type is supported in Pinot.

[2022-10-16 01:48] kishoreg commented on #9575
+1 to add date as a first class data type. Will be useful as we integrate with tools other than presto/Trino