[2020-09-04 02:51] adriancole opened #5977 "Allow ServiceManager to install tables prior to listening on service ports or a healthy status"
ServiceManager is a nice utility to make pinot effectively a single process. It currently cannot address a common dev setup problem of installing schema.

Instead, you do it like this or with curl after the process is up.

ex
[code]

To do this after start has many problems:

1. Anything that depends on Pinot now needs to depend on the outcome of this job.
  * This is tricky in docker-compose for

[2020-09-04 03:42] adriancole opened #5978 "Defaults needed in order to install tables"
I noticed that if you leave out the following, AddTable will fail. This seems accidental as one is default and the other is empty:

[code]

[2020-09-04 06:50] kishoreg commented on #5893
@Jackie-Jiang is it possible to

[2020-09-04 06:53] kishoreg commented on #5893
I think it's worth giving it a shot and compare the results.

[2020-09-04 07:22] fx19880617 commented on #5977
I like this feature would you like to work on this?

[2020-09-04 07:34] adriancole commented on #5977
FYI here is a work around. I can help next week https://github.com/hypertrace/pinot/pull/28

[2020-09-04 10:06] QiAnXinCodeSafe opened #5980 "Unreleased Resource: Streams"
https://github.com/apache/incubator-pinot/blob/6640affe5b2ac6bc0a972c7a9e291c1d5189effb/thirdeye/thirdeye-hadoop/src/main/java/org/apache/pinot/thirdeye/hadoop/backfill/BackfillControllerAPIs.java#L105

The program can potentially fail to release a system resource.

[2020-09-04 15:22] mr-agrwal opened #5982 "Upgrade Pinot Docker to Java 11 (LTS) from current Java 8"

[2020-09-04 18:58] Jackie-Jiang commented on #5893
You mean the long values? There is no way to aggregate them inside the segment.
E.g. there is no way to solve this query: `SELECT SEGMENT_PARTITIONED_DISTINCT_COUNT(colA) FROM table WHERE colB IN (1, 2)`

[2020-09-04 19:20] fx19880617 commented on #5968
Thanks @jackjlli for quick fix in  https://github.com/apache/incubator-pinot/pull/5983

[2020-09-04 19:20] #5968 closed

[2020-09-06 23:25] npawar commented on #5901
https://github.com/apache/incubator-pinot/pull/5902

[2020-09-06 23:27] #5901 closed

[2020-09-07 14:45] mr-agrwal commented on #5893
@Jackie-Jiang Our specific use case is
`SELECT SEGMENT_PARTITIONED_DISTINCT_COUNT(colA) FROM table WHERE colB IN (1, 2)`
where we are creating a star tree with `t=1` on `colB`. In that case, we should be able to use the star tree.

[2020-09-08 03:14] #4711 closed

[2020-09-08 21:47] Jackie-Jiang commented on #5893
@mr-agrwal In order to aggregate the values, we have to store the serialized `Set` into the star-tree (same as what we need to store for `DistinctCount`. The size of this `Set` is unbounded, and is storing all the distinct values under a tree node. I don't think it will work properly for 2 reasons:
1. The star-tree size could be huge if there are many distinct values under a tree node, which can l

[2020-09-09 05:01] bradengroom commented on #5951
You can assign this to me if you'd like. I've got an initial implementation working locally. I just need to do some polish and add tests.

[2020-09-09 19:53] mr-agrwal opened #5993 "API to Reload/Reset all ERROR segments"

[2020-09-10 17:42] fx19880617 opened #5998 "Reporting per column level stats for table"
We already have table level and per segment level stats right now.

The next question here is that what's the per column level information/stats we can expose.

One typical question is:
What's the size of this column (total/raw_data/index) at per segment level as well as table level.

[2020-09-10 18:14] npawar commented on #5928
`A Pravega stream comprises a set of parallel segments, and that set can change over time according to a scaling policy` - is "set of segments" like partitions within the stream? Can we use them to instead add a PartitionLevelConsumer implementation?
The reason I ask is because we have not been steering away from StreamLevelConsumer for all practical purposes, because it is unfriendly for rebalanc

[2020-09-10 18:50] xiangfu0 opened #6000 "Fixing fetch broker information API"
Current controller `/brokers` APIs only returns instance id and expect instance is in the format of `ROLE_HOSTNAME_PORT`, however this is not the right thing any more.
So we propose the new `/broker/v2` APIs which expand the instance id to a json blob with the fields: instanceId/host/port/etc.

Current API:
[code]

New API example:
[code]

@KKcorps @kishoreg

[2020-09-10 21:33] #5915 closed

[2020-09-11 06:57] xiangfu0 opened #6003 "Review PinotFS ListFile Implementations"
Per https://github.com/apache/incubator-pinot/pull/6002, S3 has a limit on each ListObject call response. I think this policy may also be true for other blob store.

This issue is created to review other PinotFs implementations to ensure the similar issues are not presenting there.

* [ ] AzurePinotFs
* [ ] ADLSGen2PinotFs
* [ ] GcsPinotFs
* [x] HadoopPinotFs
* [x] S3PinotFs

[2020-09-11 06:58] fx19880617 commented on #6003
S3PinotFs is fixed in #6002

[2020-09-11 07:13] fx19880617 commented on #6003
@snleee
@elonazoulay

[2020-09-11 07:26] fx19880617 commented on #6003
@snleee  seems that ADLSGen2 also has the problem of truncation:
https://docs.microsoft.com/en-us/rest/api/storageservices/datalakestoragegen2/filesystem/list

[2020-09-11 07:30] fx19880617 commented on #6003
@elonazoulay could you help check if GcsPinotFs is good when the bucket has many objects?

[2020-09-14 04:21] apoorvmittal10 opened #6013 "Detection runs multiple times at same time"
Detection job gets triggered multiple times at same time because multiple detection tasks get scheduled. The problem is with detection task creation which doesn't factor in concurrent insertions. Scheduler can call same detection job creation concurrently depending on free scheduler threads.

Though after taking lock on scheduler job (`@DisallowConcurrentExecution`) the problem will persist when m

[2020-09-14 07:25] fx19880617 commented on #5977
One thing I can think of is to implement a tableBootstrapService, which implements: `org.apache.pinot.common.utils.ServiceStatusCallback`. Then you can enable it in ServiceManager.

[2020-09-14 22:58] agrawaldevesh commented on #3513
FWIW, @chenboat  I added a preso compatible date_trunc that handles your ask: https://github.com/apache/incubator-pinot/pull/4740.

[2020-09-15 05:48] lgo opened #6018 "APIs (like /instances) are inconsistently structured"
Many APIs do not have consistent or easy to use resource structures. For example, `GET /instances/{instanceName}` may return data like
[code]

Meanwhile `PUT /instances{instanceName}` requires `host` (not `hostname`) and a `type` field (`BROKER`, `SERVER`, `CONTROLLER`).

Mismatched resources like this make the APIs complex to work with and even harder to use by hand.

[2020-09-15 17:18] lgo commented on #5814
This has come up against in a different shape after Swagger was bumpted to v3 (#5888). This time, the page does list `HTTP` and `HTTPS` because the Swagger resources list those schemas, but the page does not correctly select the currently used resources which the previous version of Swagger did.

This results in any request having the user error
[code]

While failing due to making an HTTP request,

[2020-09-16 00:19] chenboat commented on #5960
Thanks. The issue was resolved by now. But it will be great to explicitly exposed this config to Pinot installation. It is also worthwhile to fix the deadlock when maxThreads == 1.

[2020-09-16 00:48] mcvsubbu commented on #5960
It is useful add some notes here on this.

The reason the semaphore was put in place was because Kafka consumers had an issue with dynamically creating new kafka metrics when a new consumer was created on the same partition while keeping the old consumer open. This led to metrics proliferation.

From kafka (or any other stream) point of view, if they are trying to emit per-partition consumer metri

[2020-09-17 15:17] mr-agrwal opened #6028 "Make BrokerReduceService.reduceOnDataTable Multi Threaded to increase aggregation performance"
Right now for some heavy Distinct Count Group By queries, we see a bottleneck in Broker performance.
This can be improved by converting the Broker Aggregation Phase from single-threaded to multi-threaded.
<img width="1237" alt="Screen Shot 2020-09-17 at 8 09 47 AM" src="https://user-images.githubusercontent.com/24796847/93490971-c3f66600-f926-11ea-9af7-dc43cd98a4d7.png">

[2020-09-17 15:24] kishoreg commented on #6028
[code]

Yes, it is single threaded. It's fine in most cases but we can definitely make it multi-threaded for the group by queries since the work done by the broker can be substantial

[2020-09-17 19:08] #5982 closed

[2020-09-17 22:05] mayankshriv opened #6029 "Partitioning mis-match can lead to bad query results in Realtime"
The current code simply assumes partitionId from kafka partition to be in accordance with the partition function defined in table config. In case there is a mis-match on kafka partition and what's set in table config, that leads to incorrect pruning of segments causing bad results for query.

There was indeed an old behavior were we wiped out the incorrect partition metadata when committing the se

[2020-09-17 23:24] Jackie-Jiang commented on #6029
Fix for the issue: #6031

[2020-09-17 23:25] Jackie-Jiang commented on #6029
Perf testing branch which removes the partition info for consuming segments: https://github.com/apache/incubator-pinot/tree/remove_consuming_partition_info

[2020-09-21 13:19] adriancole commented on #5977
ok I added a sketch for feedback. I will work on this again next week https://github.com/apache/incubator-pinot/pull/6039

[2020-09-21 14:47] icefury71 commented on #5942
One more check: Currently retention does not work if pushType is null (for real-time table). Check for a case where pushType is null and retention is configured for a table.

[2020-09-21 15:55] mcvsubbu commented on #5942
With all the changes proposed/added, it will be useful if a utility is also provided to validate an existing tableconfig. Many of them are tightening the (lax) rules from before, and are valid. It will be unfortunate if an existing installation suddenly stopped working because code elsewhere (not just in the table addition path) starts assuming things about the tableconfig.

[2020-09-21 16:07] kishoreg commented on #5942
+1 to a utility to validate, we can add a validate endpoint in the controller

[2020-09-21 17:31] icefury71 commented on #5942
Updated ticket description with all the suggestions.

[2020-09-22 05:09] mayankshriv commented on #6028
@mr-agrwal Could you please try the changes in this PR and provide some feedback:

https://github.com/apache/incubator-pinot/pull/6044

[2020-09-23 05:01] fx19880617 opened #6052 "Tunable znode size for helm chart"
Pinot actually requires much larger znode size limit comparing to the default settings.
We need to make this setting configurable and put a good default value.

[2020-09-23 11:20] ibotheperfect commented on #3673
Druid also supports jdbc now.
https://druid.apache.org/docs/latest/querying/sql.html#jdbc

[2020-09-23 14:12] ibotheperfect opened #6054 "Time format error while connecting druid to thirdeye via presto"
Hi. I'm trying to connect druid to thirdeye via presto.
I downloaded release 0.5.0 and I succesfully configured everything but when I try to get data I'm getting below error because of druid's time format.

`Caused by: com.facebook.presto.jdbc.internal.client.FailureInfo$FailureException: Invalid format: "2012-07-12 12:54:00.000" is malformed at "00"`

On thirdeye side unfortunately  I can not set

[2020-09-23 17:06] fx19880617 commented on #6000
please :)

[2020-09-24 05:58] #4904 closed

[2020-09-25 09:21] fpj commented on #5928
Hi @npawar,  I missed your message, sorry about that.

yes, but we do not expose segments individually. a group of readers coordinate among themselves to assign enabled segments. keep in mind that the set of segments in a pravega stream can change over time because of stream scaling.

We can't with the stream API because of the reason I stated above. The Batch API, which does not follow any order

[2020-09-26 16:45] buchireddy commented on #5942
Another use case: Validate that the bloomFilterColumns aren't BYTES type since that's not supported at this point.

[2020-09-27 01:14] dongxiaoman opened #6063 "Controller Metric missing a critical dot in it"
Right now the latest controller metric is missing one dot in its name, making them not easy to read:
[code]
For example pinot.**controllercontrollerInstancePostError** should have a "dot" in it, making pinot.controller.controllerInstancePostError

[2020-09-28 08:03] adriancole commented on #5876
PS I added debug around the time to call InetAddress.getLocalHost on our docker image. It had nothing to do with the near minute soup-to-nuts startup time

[code]

[2020-09-28 08:47] adriancole commented on #5876
As a water mark when I over-allocate RAM to my docker engine (6GB to make sure it isn't swapping) I get startup time like this when docker is already running schema registry, zookeeper and kafka..

[code]

[2020-09-28 12:38] #6054 closed

[2020-09-28 21:42] icefury71 commented on #5942
Looks like this should be supported, skipping validation for this particular thing

[2020-09-28 23:57] mcvsubbu opened #6068 "Helix may silently return an empty list if zk connection is lost"
Helix may return an empty list for instances, or list of children in case where zk connection is lost. This has been worked around by adding a new API in Helix (see https://github.com/apache/helix/pull/160) but the old API was not deprecated in the interface definition.

While we run the periodic broker rebuild task, it is possible to get an empty list of broker instances for a given table, causin

[2020-09-29 07:31] buchireddy commented on #5942
@icefury71 Do you mean bloomFilterColumns supports BYTES columns? From which version/

[2020-09-29 14:14] icefury71 commented on #5942
What I meant is - technically it should be supported (it's not today and we
should probably fix that).

On Tue, Sep 29, 2020 at 12:31 AM Buchi Reddy Busi Reddy <
notifications@github.com> wrote:

--
Thanks and regards

Chinmay Soman

[2020-09-29 18:31] icefury71 commented on #5942
@kishoreg @mcvsubbu Seems like we already have a `/tables/validate` end-point in the Table API. This should be sufficient ?

[2020-09-29 21:29] mcvsubbu commented on #5942
yes, that works as long as the same validations are performed. thanks

[2020-09-29 21:29] icefury71 commented on #5942
Yes, its calling the same validation function underneath.

[2020-09-29 22:25] Jackie-Jiang commented on #5942
We can also add checks on partition config where the table can be partitioned on at most one column

[2020-09-29 22:32] icefury71 opened #6074 "Support Bloom filter on columns of type BYTES"
Currently Bloom filter cannot be specified on BYTES column types (results in segments getting into an error state).

[2020-09-29 22:34] icefury71 opened #6075 "Enable off-heap memory for Bloom filter"
Currently Bloom filter uses JVM heap which is not ideal. We should enable support for using off-heap memory.

[2020-09-30 01:31] Jackie-Jiang commented on #6029
Removing the partition info for consuming segments could cause performance degradation for extremely high QPS use cases. Filed #6078 as a work-around without performance impact.

[2020-09-30 16:36] #6029 closed

[2020-09-30 18:35] Jackie-Jiang opened #6080 "Auto-recovery when segment is collapsed on server"
Segment could collapse during the pre-process on server side, e.g. server shut down in the middle of the segment preprocessing. In such scenario, the next time when trying to load the segment, the server should drop the collapsed segment and download a new copy from the controller/deep storage.
We need to handle this logic in:
- Segment loading when server starts
- Refreshing segment
- Reloading s

[2020-09-30 18:41] Jackie-Jiang opened #6081 "Optimize the performance of DISTINCT queries"
Opportunities:
1. Separate DISTINCT from aggregation and make it a standalone type of query (similar to select but deduplicate the records) so that early termination logic can be easily plugged in
2. Specialize order-by with 1 column, where we can directly work on primitive type

[2020-09-30 18:42] Jackie-Jiang opened #6082 "Optimize the performance for selection order-by"

[2020-09-30 19:40] fx19880617 opened #6083 "Support Array function for multi-value columns"
Inspired by presto array functions(https://prestodb.io/docs/current/functions/array.html),
we can support those transform functions doing multi-value -> 1 value initially.
`array_average`,
`array_join`,
`array_max`,
`array_min`,
`array_max`,
`array_position`,
`array_sum`,
`cardinality`,
`contains`,
`element_at`.

[2020-10-01 01:00] pradeepgv42 opened #6086 "pinot-admin.sh inconsistent behavior when updating table config using AddTable"
Realtime table config could be updated using pinot-admin.sh but not offline table config
updating offline table config using pinot-admin.sh AddTable throws table already exists error.

[2020-10-01 06:42] fx19880617 commented on #6083
cc: @npawar @KKcorps

[2020-10-01 07:49] inespo opened #6089 "Incorrect column name in Selection shows empty result"
When specifying the wrong column name in Selection, result shows empty instead of error message.
It would be a better user experience to show error message: "Can't find  Column X" to help debugging.

[2020-10-01 18:21] kishoreg commented on #6089
We are planning to enable validation by default when there is schema. The reason we can’t do this today is one can use Pinot in batch only mode without a schema

[2020-10-01 19:57] pradeepgv42 opened #6092 "Regenerate star-tree index when the index config is changed on reloads"
Currently only newer segments gets the updated star-tree index config. Reloads could regenerate star-tree index for already committeed segments too.

[2020-10-01 20:01] pradeepgv42 opened #6093 "Use star-tree index when filteres not part of index match all rows of a segment"
Currently all filters needed to be part of star-tree to be able to utiliize the index
for hybrid tables timestamp column gets auto added as afilter so that causes the star-tree index to be not used
if timestamp column is not part of the index already. So, potential optimization here is to utilize star-tree index if the
filters that are not part of star-tree match all the rows in a segment.

[2020-10-01 20:10] kishoreg commented on #6092
I thought this was already supported? @Jackie-Jiang

[2020-10-01 20:31] Jackie-Jiang commented on #6092
We don't support generating new star-tree when there is existing star-tree

[2020-10-01 20:32] Jackie-Jiang commented on #6093
This is a little bit tricky because the filter is shared among all segments. Will try to figure out a work around

[2020-10-02 18:13] Jackie-Jiang opened #6095 "Add documentation for configuring partition for a table"
For offline/realtime/hybrid table

[2020-10-02 22:29] mayankshriv commented on #5807
Just wanted to update this thread to state that we (LinkedIn) are targeting to migrate our users from PQL to SQL by Dec 2020, after which we would be ready to start deprecating PQL @fx19880617. Are there any other users out there who are still using PQL?

cc: @siddharthteotia @kishoreg

[2020-10-02 22:43] dongxiaoman opened #6098 "Need "realtimeRowsConsumed" metric for Low Level Consumer too"
Currently we are not seeing an aggregated per-host `realtimeRowsConsumed` metric when using LLC. That metric is useful because currently per-partition-per-table metric is too much detail meant for debugging.

It is possible to do metric aggregation to have this "per-host realtimeRowsConsumed" metric with some metric limit like the 250(450?) series in DataDog StatsD, it is not possible to get that

[2020-10-02 22:56] icefury71 opened #6099 "Make controller API consistent"
There are a few class of issues with the API today
* Config Field name (eg: tablename inside table config sometimes has type - sometimes not)
* get and put json payloads: json retrieved from get API doesn’t always work with PUT.

[2020-10-02 23:43] mcvsubbu commented on #6099
A word of caution on this. For table deletion, we specifically added table type sometime back (not sure if it is still there), preventing the operator from deleting realtime table unless they know what they are doing. The reason is that it is very easy to recreate the offline table with data if it is accidentally deleted. We don't have a mechanism to upload realtime segments yet, and so the only o

[2020-10-03 00:02] icefury71 commented on #6099
Good point. Yes we should probably continue such safeguards but try to make
other things as consistent as possible.

On Fri, Oct 2, 2020 at 4:43 PM Subbu Subramaniam <notifications@github.com>
wrote:

--
Thanks and regards

Chinmay Soman

[2020-10-03 00:19] yupeng9 commented on #5807
At Uber, we use Presto/Pinot connector and we plan to migrate to the SQL-based connector by the end of 2020.
+1 to using SQL onward.

[2020-10-03 01:25] Jackie-Jiang commented on #6092
Allow modifying/removing existing star-trees during segment reload: #6100

[2020-10-03 16:00] kishoreg commented on #4219
This is done and is available since 0.3.0

[2020-10-03 16:00] #4219 closed

[2020-10-04 04:07] fx19880617 commented on #5807
Glad to hear this :)

[2020-10-04 04:23] fx19880617 commented on #6098
I feel we can have table level aggregated metrics for each host. Just per host level metrics might be too coarse?

[2020-10-04 04:32] fx19880617 commented on #6063
Agreed. I will take a look.

[2020-10-05 18:42] deemoliu opened #6106 "Support customized maxLength for fields in schemaBuilder"
When construct a Pinot schema using [schemaBuilder](https://github.com/apache/incubator-pinot/blob/master/pinot-spi/src/main/java/org/apache/pinot/spi/data/Schema.java#L474), the maxLength of fields are always set to DEFAULT_MAX_LENGTH which is 512. Currently we need to tune "maxLength" in table schema manually.

Would it be better to expose the maxLength configuration to schemaBuilder?

[2020-10-05 21:12] yupeng9 commented on #5942
+1

Another use case is the upcoming upsert. There are several expectations for upsert table like primary key in schema, replica group setup, routing by replicas group, partition config, ingestion via LLC etc

[2020-10-06 01:38] #6092 closed

[2020-10-06 02:04] Jackie-Jiang commented on #6093
Enhance star-tree to skip matching-all predicate on non-star-tree dimension: #6109

[2020-10-06 15:24] npawar opened #6111 "StartMinionCommand"
We do not have a starter for minion (similar to StartControllerCommand, StartBrokerCommand, StartServerCommand).
This is a good beginner task/first issue.

[2020-10-06 18:25] deemoliu commented on #6106
#6112

[2020-10-07 03:14] Jackie-Jiang opened #6114 "Support modifying/removing indexes for v3 segment format"
Currently we don't support modifying/removing indexes for v3 segment format, but only support adding new indexes.
Modifying/removing existing indexes will be very helpful for enhancing the indexes for the segments.

[2020-10-07 03:35] siddharthteotia commented on #6114
https://github.com/apache/incubator-pinot/pull/5711

[2020-10-07 04:53] xiangfu0 opened #6115 "Support environment variables injection for Pinot ingestion job"
Pinot supports launch ingestion jobs with a template file and a command line option to set the values.

This logic is handled in class: `org.apache.pinot.spi.ingestion.batch.IngestionJobLauncher`.

Here we want to also support environment variables to set those values.

This will be convenient for users in k8s environment with dynamic configs settings.

E.g. user can do dynamic job loading with k8

[2020-10-08 05:18] #6093 closed

[2020-10-08 17:12] yupeng9 opened #6121 "Reduce ingestion latency during segment sealing"
We have some use cases that demand very fresh data. For example, display events aggregates of the **last minute** for decision making.

However, as shown in the diagram below, the ingestion latency spikes during segment sealing, which breaches the SLA
![image](https://user-images.githubusercontent.com/13425258/95490792-92812100-094d-11eb-8c4c-d662ce3c7d11.png)

The segment size is 5MB, so in this

[2020-10-08 18:52] fx19880617 commented on #6121
@npawar @mcvsubbu

[2020-10-08 19:47] kishoreg commented on #6121
This is something we saw in other users as well and we need to figure out a way to support this. However, you seem to experience this at a low segment size. Feels like the system is overloaded with something else.

[2020-10-08 19:57] yupeng9 commented on #6121
Correct. The problem exaggerates given the data volume is high.

![image](https://user-images.githubusercontent.com/13425258/95507042-ac2e6280-0965-11eb-9c0c-6cee486c9ff1.png)

[2020-10-08 19:59] kishoreg commented on #6121
something is not adding up, its 2k msgs/per sec but segments of size 5mb are getting flushed every 2 hours?

[2020-10-08 20:10] yupeng9 commented on #6121
There is some approximation. Each data point is the max value of the 1 min window. And each line maps to a partition.

[2020-10-08 20:16] mcvsubbu commented on #6121
Did you run the provisioning helper tool? Can you paste the output here?
(See https://docs.pinot.apache.org/operators/operating-pinot/tuning/realtime)

That being said, there is always a risk of excessive GC load during segment completion. What we have seen is that all the memory that is accumulated during consumption is released when the segment is completed. Also, segment build takes up cpu, cau

[2020-10-08 20:25] yupeng9 commented on #6121
@mcvsubbu No, we have not done that yet. Can look into it
But these are the JVM metrics of one server of this table. Note that this server also ingests many other tables.
![image](https://user-images.githubusercontent.com/13425258/95509697-af2b5200-0969-11eb-93eb-40570324d87a.png)

Do these charts look sane to you?

[2020-10-08 20:26] yupeng9 commented on #6121
Some more metrics
![image](https://user-images.githubusercontent.com/13425258/95509824-dbdf6980-0969-11eb-80e6-629a38d4165c.png)

![image](https://user-images.githubusercontent.com/13425258/95509857-e7329500-0969-11eb-90e9-2f30f4d4ea29.png)

This is for the past 24 hours

[2020-10-08 20:29] yupeng9 commented on #6121
hmm seems this tool is only v0.4 and later

[2020-10-08 20:50] pplaatje opened #6123 "Using basic auth for Confluent Schema Registry"
Hi,

We're looking into using Apache Pinot for our OLAP requirements, and we're currently running into an issue:

Our Kafka Clusters, and as such also our (Confluent) schema registry (AVRO schemas) are cloud hosted. As such, we connect to our Kafka Cluster over the public internet using the SSL configuration properties available and all of that seems to be working fine. However, we seem to be runn

[2020-10-08 21:15] mcvsubbu commented on #6121
The tool was there as of 0.1

You can download the latest version and run the tool (it is by itself as a command line). You don't need to be running the cluster at that version.

[2020-10-08 23:23] yupeng9 commented on #6121
I see. Thanks @mcvsubbu

This is the output of run on one sample segment
[code]

[2020-10-08 23:24] yupeng9 commented on #6121
I used `-periodSampleSegmentConsumed 2h`, but not sure the best value for it

[2020-10-09 00:26] mcvsubbu commented on #6121
If you run the later version that will be good. It has bugs ironed out

[2020-10-09 00:34] yupeng9 commented on #6121
I tried 0.5, but it seems I did not run it correctly
[code]

[2020-10-09 03:03] mcvsubbu commented on #6121
This is the correct output. This means that your segment does not fit into any of these buckets with the kind of memory (48GB usable)and ingestion rate (1000 events per second per partition) that you have with your retention of 336 hours. i would suggest to use higher number of hosts and see where things are.

[2020-10-09 04:53] yupeng9 commented on #6121
I see. Why shall we add more hosts? Is it because we have too long retention, and therefore need to distribute the real-time segments to more hosts?

cc @chenboat

[2020-10-09 15:56] lgo opened #6126 "Explicitly fail or alert users when batch generating segments with non-compliant data (unsorted with sortkey, partitioning)"
While using the Spark segment generation, we've had a configuration with configurations such as a `sortedColumn`. Initially it was assumed that the data will be sorted by the segment generation jobs and we missed that it needed to be sorted upstream.

This is documented on the sort index section (https://docs.pinot.apache.org/basics/indexing/forward-index).

It may be helpful to add this informati

[2020-10-09 16:04] kishoreg commented on #6126
We can easily sort it while generating the segment, that's probably a better solution.

[2020-10-09 16:05] #5742 closed

[2020-10-09 16:05] mcvsubbu commented on #6121
You can start by just running the command with either more hosts or more memory and let us see what it outputs

[2020-10-09 16:06] #5390 closed

[2020-10-09 21:11] #5640 closed

[2020-10-09 21:14] fx19880617 commented on #6083
Optimize query perf by existing multi-value aggregation functions capability.
https://github.com/apache/incubator-pinot/pull/6127

[2020-10-09 21:15] #5352 closed

[2020-10-09 23:51] #6068 closed

[2020-10-10 16:43] yupeng9 commented on #6121
[code]

Curious, how much memory do you allocate for Pinot server (i.e. -xmx) at Linkedin? And whats the memory size of your machine.

[2020-10-11 15:21] mcvsubbu commented on #6121
Pinot uses heap memory only for query execution (and then some one off operations like building indexes during load, etc.)
In hosts that have consuming segments, heap memory is also use fo inverted indices, and segment build upon completion. Inverted indices for the consuming segment may expand as rows are ingested, and released in one go when the consuming segment completes. We have seen gc overl

[2020-10-11 23:25] yupeng9 commented on #6121
Thanks @mcvsubbu for the info.

We use 48G for xmx in production. I recall we increased it from 16G a while ago to alleviate some GC pressure.

This table has 3 replicas, and it's in a tenant of 8 servers.

[2020-10-12 18:18] mcvsubbu opened #6132 "Intermittent failures in SegmentReducerTest"
We see this occasionally:

Tests run: 7, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 1.924 sec <<< FAILURE! - in org.apache.pinot.core.segment.processing.framework.SegmentReducerTest
segmentReducerTest(org.apache.pinot.core.segment.processing.framework.SegmentReducerTest)  Time elapsed: 0.096 sec
segmentReducerTest(org.apache.pinot.core.segment.processing.framework.SegmentReducerTest)  Time

[2020-10-12 22:10] mcvsubbu commented on #6121
Follow up discussion in slack

[2020-10-13 15:53] vgtom commented on #6115
hi...i would like to work on this issue(although my response maybe slow because i have a FullTime job)

[2020-10-13 21:35] dongxiaoman opened #6137 "[UI/Metric improvement] Avoid realtime segment transient "bad" status"
During real time segment transition (probably finishing one segment and creating a new one), we will often see "bad" and "red" status for the real time table. I am assuming it is transient because the status changes back to "green" shortly.

If the transient status is expected, we may change the indicator to be "yellow" or something else. Otherwise it is going to be scary that numbs alerting of tr

[2020-10-13 21:39] kishoreg commented on #6137
Got it,  this logic is only in the presentation. we will show RED only if the segment is in ERROR state in external view. If not, we can change it to yellow.

[2020-10-13 21:50] dongxiaoman opened #6138 "Real time server query performance hit when catching up Kafka backlogs"
Right now our upstream Kafka log has a "batching" behavior that every a few minutes there is a sudden spike in Kafka traffic (due to upstream Flink job's checkpointing behavior). This cause a periodical Kafka backlog for our Pinot server. For example, every 30 minutes, we will suddenly have lots of Kafka backlog to catch up.

This is fine but the query performance suffers a lot during that backlog

[2020-10-13 21:57] dongxiaoman commented on #6138
Right now maybe adding an optional rate limit in the Kafka consumption of Pinot Server is a good way to go?

[2020-10-13 22:33] mcvsubbu commented on #6138
If we add a rate limit, it should be stream-generic, or perhaps a combination of generic plus kafka-specific. Yes, we do have such patterns as well, but we have not seen a query performance drop due to this.

I think the rate limiter should be in terms of bytes (and not messages).

@npawar any comments?

[2020-10-14 00:21] mayankshriv commented on #5751
@ianvkoeppe Just checking if you are still planning on iterating your PR as per the new design?

[2020-10-14 02:08] #6132 closed

[2020-10-14 10:00] kvanjana opened #6142 "Email Alert setup with fromAddr as company ID and Backend Log files"

[2020-10-14 15:55] mcvsubbu commented on #5753
I just realized that if we have multiple data centers, this technique will not produce the same results across the data centers. Something worth noting.

[2020-10-14 16:06] kishoreg commented on #5753
Why do you say that? As long as you give enough buffer, it should be ok right?

[2020-10-14 16:10] lgo opened #6143 "Invalid query results when querying with non-existent column"
While testing some results, I accidentally used the wrong name to refer to a column. When querying, rather than raising an error the query actually returned but with `0` results, as shown below. This isn't a big deal, but is a usability hiccup that can be pretty confusion when adhoc querying Pinot.

**Query**
_Note: `amount` does not exist on the table. This was meant to be `balance`!_

[code]

**

[2020-10-14 16:17] lgo opened #6144 "Querying an indexed field for distinct values is slow"
While building a query intended to pull out all values for a dimension, the query was slow and timing out.

[code]

Meanwhile, a query that forces the star-index was working fine and returning very quickly. It's also worth noting this column is on an inverted index, which I assume would also be a suitable index to pull data. Or the dictionary itself!

[code]

Here is a simplified example configura

[2020-10-14 16:28] lgo opened #6145 "Querying a partitioned column for a non-existent value times out"
With a partition column, say `type`, if we uploaded segments containing `type=foo` but had the following query over a non-existent value:

    SELECT * FROM table WHERE type = 'bar'

The query appears to time out.

Happy to provide more configuration details if that's helpful. This table also had a lot of data, so there could have been some slow-path scan happening instead.

[2020-10-14 16:30] lgo opened #6146 "Low maximum limit for batch jobSpec pushParallelism"
On batch jobs processing lots of segments for a table, they often run into Zookeeper conflicts when updating idealState. This causes contention on updates, slowing down everything. To resolve that the pushParallelism on a job spec had to be reduced to ~5, so that it would conflicts less recently. There was another issue y'all resolved which helped ensure progress happened on conflicts.

Being able

[2020-10-14 16:36] mcvsubbu commented on #5753
I mis-worded it. The results will be the same, but the segments in each data center may not be the same, right? I am not sure if the m to n segment reduction and time boundary computation has the exact same predictable results all the time. In that case, maybe we are fine, but things may change during software upgrade, for example.

[2020-10-14 17:28] fx19880617 commented on #6143
I feel we should by default do column validation add an flag to loose this behavior for legacy offline tables which doesn't enforce this behavior. Thoughts? @mayankshriv @mcvsubbu

[2020-10-14 17:45] fx19880617 commented on #6146
I feel is is due to we upload segments to all the controller hosts and the idealStats update requests coming from all controllers will cause the slowness and update conflicts.

This issue wasn't there as controller needs to download the segment tar and untar the metadata then do the update, so it's a costly behavior in controller. With segment metadata only push mode, we may need to rethink this.

[2020-10-14 17:47] mcvsubbu commented on #6143
I think there was a PR that @jackjlli had sometime before? It is best if we enforce it as a part of SQL, and let PQL be. We are in the process of migrating from PQL to SQL, and can add this as an enforcement instead of retro fitting queries of a ton of tables that somehow get by today.

[2020-10-14 17:50] mcvsubbu commented on #6146
Not sure what you mean by rethink.
A metadata only or URI push is a cheaper operation, so there is less likelyhood of contention.
We can also make the backoff be in smaller increments?

[2020-10-14 17:52] jackjlli commented on #6143
Yes, I have a PR to detect the column mismatch in the query:
https://github.com/apache/incubator-pinot/pull/6066
We'll first monitor how many existing use cases are still firing queries with non-existing columns. After adjusting their behavior, we can restrict this in SQL.

[2020-10-14 18:05] joey-stripe commented on #6146
Here was the stripped down jobSpec we are using
[code]

And, a few relevant chunks from the pinot server conf
[code]

As well as the controller conf.
[code]

[2020-10-14 23:05] npawar commented on #5509
**Challenges**
Although this seems exactly like transform functions, there's some differences because of which we cannot handle this solely as regular transform functions.

Say we have columns `a, b, c` in the raw data source.
Say we have columns `a, c, x, y` in the Pinot schema, such that
[code]
1) The way transform functions are designed right now, arguments to transform functions can only be fr

[2020-10-14 23:19] npawar commented on #5509
FYI @kishoreg @Jackie-Jiang

[2020-10-14 23:30] Jackie-Jiang commented on #5509
Do we want to support derived field on top of derived field?
E.g. we have x in the source data, and we want to add y = f(x) and z = f(y)

[2020-10-14 23:34] npawar commented on #5509
I think we should support derived on top of derived.

[2020-10-14 23:48] npawar commented on #5509
Should the flag "derived" be part of the FieldSpec, or part of the TableConfig -> IngestionConfig -> TransformConfig?
It makes more sense in the fieldSpec. But we end up having isDerived in the schema, and the actual transform function string in the table

[2020-10-15 02:46] yupeng9 commented on #5509
+1 to derived over derived. It's useful for defining common expressions. Also, from impl it's just a topology sort

[2020-10-15 02:50] yupeng9 commented on #5509
I suggest we keep schema logical, away from the actual impl

[2020-10-15 16:02] ianvkoeppe commented on #5751
@mayankshriv, I would like to still get this done, but it's not something I can prioritize right now.

[2020-10-15 18:14] Jackie-Jiang commented on #6081
Use dictionary ids instead of fetching actual values inner segment

[2020-10-15 18:14] Jackie-Jiang commented on #6144
This is related to #6081

[2020-10-15 18:18] Jackie-Jiang commented on #6144
Inverted index only helps during the filtering. The performance difference between these 2 queries should mainly coming from the group-by using the dictionary id instead of the raw values.
(`select type from adjustment group by type` will be automatically rewritten to `select distinct type from adjustment`)

[2020-10-15 18:22] Jackie-Jiang commented on #6145
This is unexpected. This query should be at lease as fast as `SELECT * FROM table WHERE type = 'foo'`. Is this query always timing out? If it can return result sometimes, the stats in the response will be very helpful for debugging the issue.

[2020-10-15 22:19] lgo commented on #6144
Ah I did not find that original ticket! Feel free to close this in favor of that one since it sounds like the same thing (:

[2020-10-15 22:29] lgo commented on #6145
Gathering more details from folks who had originally noticed this issue, will circle back when I have specifics. I might have mispoken about the issue since just trying what I described seems to have worked 😅.

[2020-10-15 23:44] #6144 closed

[2020-10-16 20:38] #5804 closed

[2020-10-16 20:38] snleee commented on #5804
Closing the issue since the fix is merged

[2020-10-16 20:58] jtao15 commented on #6111
I'll work on this.

[2020-10-18 23:36] dbhaskaran opened #6155 "Fix quick demo instructions"
In the readme document, I noticed that the quick demo instruction has:

# Run the Quick Demo
$ cd pinot-distribution/target/apache-pinot-incubating-<version>-SNAPSHOT-bin

While in reality, it is :
$ cd pinot-distribution/target/apache-pinot-incubating-<version>-SNAPSHOT-bin/apache-pinot-incubating-<version>-SNAPSHOT-bin

Also, the running_locally.md file has the correct path, fixing the README.md

[2020-10-18 23:53] dbhaskaran commented on #6155
Submitted a PR.

[2020-10-19 06:36] cyrilou242 opened #6157 "[ThirdEye] Strange behavior for anomaly detection timeframe end date."
## System
Thirdeye built from 5f309cff34da802616d92ed361284d95b35ed9b9.
BigQuery as a data source. (should not have any impact here)

## Context
My data ingestion system has a 3 hours delay, and has a daily granularity, so I wanted to check how the timeframes (especially the upper limit) were computed for anomaly detection.
In my case below, the upper date limit seems to be wrong.

### Detection c

[2020-10-19 20:36] #5507 closed

[2020-10-19 20:36] #5677 closed

[2020-10-20 16:23] lgo commented on #6145
Egh sorry, this was a bit of noise. I completely mixed up issues we were seeing -- instead we were seeing expected behaviour (broker pruning and immedately returning zero segments, which was initially unexpected but we later realized we had only partially uploaded data).

[2020-10-20 16:23] #6145 closed

[2020-10-20 19:09] fx19880617 opened #6161 "Support ACL for pinot-s3 plugin"
Provide ACL policy for the s3 bucket write.

[2020-10-20 19:14] pradeepgv42 commented on #6161
I believe, in S3PinotFs, acls need to be set in put/copy object requests such that bucket owner is given full access to the objects created. Something like below, most likely this should fix the issue for cross account interactions:
[code]

[2020-10-20 21:55] #6155 closed

[2020-10-21 05:02] fx19880617 commented on #6146
An improvement for this: https://github.com/apache/incubator-pinot/pull/6165
This will limit the idealstates update parallelism to at most the number of pinot-controllers.

[2020-10-21 09:00] rec7y33 opened #6168 "How to set DATETIMECONVERT granularity of MONTHS, YEARS"
Hello, I am using PQL on the incubator pinot, and was trying to query data with datetime transformation. I want to set granularity of years:

`DATETIMECONVERT(EventStartTime, '1:MILLISECONDS:EPOCH', '1:MILLISECONDS:SIMPLE_DATE_FORMAT:yyyy-MM-dd HH:mm:ss', '1:YEARS')`

but I got this error:

`
[
  {
    "errorCode": 200,
    "message": "QueryExecutionError:\norg.apache.pinot.core.query.exception.Ba

[2020-10-21 19:04] Jackie-Jiang commented on #6168
@rec7y33 I think the problem is that `YEARS` is not a valid `TimeUnit`. The highest granularity for `TimeUnit` is `DAYS`

[2020-10-21 20:21] npawar opened #6169 "Cluster Manager: API for getting table state"
We have an API to enable/disable table - `GET /tables/{tableName}?state={enable/disable}&type={OFFLINE/REALTIME}`. But we don't have an API which returns the table state (enabled/disabled).
A user will not know if the table is enabled or disabled, unless they get the ideal state znode for the table (even GET idealstate doesn't return that info). An API exclusively for getting table state would be

[2020-10-21 20:26] npawar opened #6170 "Cluster Manager: Endpoint for creating a table config and schema json, given the input fields"
This is to assist the Cluster Manager UI with building the table config, without having to know about the exact json structure

[2020-10-21 22:13] Jackie-Jiang commented on #6075
Supported with #6118

[2020-10-21 22:13] #6075 closed

[2020-10-22 01:31] rec7y33 commented on #6168
I need to aggregate the data by months and years, what can I do to achieve that?

[2020-10-22 02:57] chenboat opened #6174 "Failure to build in-memory segments after turning on consumingSegment reload"
When we are evaluating the schema update improvement ([PR4954](https://github.com/apache/incubator-pinot/pull/4954)), we found segment build error during sealing of the consuming segment after we add new columns to the schema. This in turn stopped the realtime ingestion entirely.

Error stack:
[code]

To reproduce this issue, turn on
`  pinot.server.instance.reload.consumingSegment=true
`
and add

[2020-10-22 16:59] snleee commented on #6138
@jtao15 Let's take this item after #6111

[2020-10-22 17:58] npawar commented on #5753
Basic feature (move from realtime to offline using minions) is complete.
Let's open new issues for enhancements related to using hadoop map reduce/spark etc.

[2020-10-22 17:58] #5753 closed

[2020-10-22 20:12] buchi-busireddy commented on #5691
FYI, seeing these exceptions in the latest `0.5.0` pinot release when trying to group by multiple columns which also includes `BYTES` columns.

[code]
cc @Jackie-Jiang

[2020-10-22 20:51] #5691 closed

[2020-10-22 21:56] npawar commented on #5753
Documentation: https://docs.pinot.apache.org/operators/operating-pinot/pinot-managed-offline-flows

[2020-10-22 22:22] mayankshriv opened #6179 "Framework for performance testing"
As the community grows, the amount of contributions also grow. However, not everyone runs Pinot for similar workload, so it is possible that some changes that improve performance for a certain kind of workload may end up degrading performance for other kinds (we have noticed this in the past).

It would be good to build a performance testing framework that helps us validate commits against any reg

[2020-10-23 01:46] Jackie-Jiang commented on #6174
Fixed with #6176

[2020-10-23 01:46] #6174 closed

[2020-10-23 11:07] venkatvghub opened #6182 "[Thirdeye] - Anamoly images periodically fails to load."
Hello, am seeing an image loading issue on the "Anamolies" page. At times, the images show up and at times it doesnt. Have to hit page load many a times to see a missing image. Same image dissappears after a while. For example, this is what am currently seeing:
The investigation URl, of course takes to the main page. The home page with the appropriate metric is showing the values correctly. Ran pr

[2020-10-23 18:13] Jackie-Jiang commented on #5346
Vote for this solution: `One way to get this is to comb the 10k queries to select a few hundred that can be enough to detect all issues. And then we add queries to this selected list as we find more bugs.`
We can select some queries from these 10k queries, and also add some uncovered query patterns (e.g. selection queries)

[2020-10-23 18:18] mcvsubbu commented on #5346
@jackjlli isn't that what you have done by toning down 10k to 500?

[2020-10-25 23:47] babuneelam commented on #1436
I looked for this code in master branch. But, both these code fragments don't exist in master branch:

    `if (dimensions != null || !dimensions.isEmpty()) {`

and

    `if (filterJson != null || !filterJson.isEmpty()) {`

So, I believe this issue can be closed.

[2020-10-26 00:47] #1436 closed

[2020-10-26 14:47] noahprince22 opened #6187 "Support Lazy loading of Offline Segments"
https://apache-pinot.slack.com/archives/CDRCA57FC/p1603720037246100

Some discussion already here.

This would involve modifying the pinot server to include a lazy mode that would set it to lazily pull segments as they are requested using an LRU cache. It should just take some modification to the SegmentDataManager and maybe the table manager.

This would allow using s3 as the primary storage, wit

[2020-10-26 14:54] kishoreg commented on #6187
Thanks @noahprince22 for doing the analysis and creating this issue. This is an amazing feature to have.

Adding broker pruning by time should be easy. Yes, routing table should be enhanced to return the list of segments for a time efficiently.

The biggest piece of work will be around tablemanager and segmentmanager. Let's create separate issues for time based pruning and datatypes and link it to

[2020-10-26 14:55] noahprince22 opened #6188 "Add BigDecimal data type"
https://github.com/apache/incubator-pinot/pull/6053

This pull request introduced some support for BigDecimal. Add a formal BigDecimal data type.

[2020-10-26 17:24] noahprince22 opened #6189 "Support Timestamp Pruning of segments in Broker"
For time based tables, segments can easily pile up. High qps would lead to a lot of unnecessary work being done server side to read and eliminate segments.

[2020-10-26 17:24] noahprince22 commented on #6187
https://github.com/apache/incubator-pinot/issues/6189

Created an issue for the segment pruning.

[2020-10-26 18:23] jtao15 commented on #6111
The pr is merged, please close the issue, thanks!

[2020-10-26 19:37] #6111 closed

[2020-10-26 21:19] dharakk opened #6191 "Fact-dim join via Lookup UDF"
This issue represents the work to support join like functionality via Lookup UDFs in Pinot.

Design document for proposed feature: https://docs.google.com/document/d/1InWmxbRqwcqIakzvoEWHLxtX4XR9H5L01256EbAUHV8/edit?usp=sharing

[2020-10-26 21:54] siddharthteotia commented on #6191
Can we use the existing issue?
https://github.com/apache/incubator-pinot/issues/5664

[2020-10-26 22:39] Jackie-Jiang commented on #5346
@jackjlli Should we keep this issue open to track all the PRs improving the test coverage?

[2020-10-26 23:01] jackjlli commented on #5346
@Jackie-Jiang Yes, we should keep it open. The issue auto closes itself when some PR is merged.

[2020-10-27 00:39] jackjlli opened #6193 "Improve the code of SQL comparison in `ClusterIntegrationTestUtils` class"
Currently the comparison logic of SQL queries is so limited that:
* any queries with multi-value column will skip the comparison.
* order by columns have to be in the selection clause.
* no logic to validate selection queries without order by columns.

We should improve this comparison logic to cover more use cases.

[2020-10-27 10:01] depatel1010 opened #6195 "[TE] Unique index or primary key violation issue for EVALUATION_INDEX table"
An SQLException is thrown by the backend for `EVALUATION_INDEX_INDEX_C ON PUBLIC.EVALUATION_INDEX(DETECTION_CONFIG_ID, START_TIME, END_TIME)` key. The issue occurs when `dimensionExploration` is turned on and multiple anomalies for the same time window are detected in a single run.

PFA the logs and Detection configurations used to recreate the issue with the given default h2db and default `data-s

[2020-10-27 19:47] fx19880617 opened #6199 "Support Kafka and Spark plugins with Scala 2.12"
Current kafka and spark plugins are using Scala 2.11, which will have conflict if other users want to build their own plugins using Scala 2.12, so we should try to publish both libs and allow users to pick which libs to be included during startup.

[2020-10-27 20:41] flykent1990 opened #6201 "add table realtime error 500 org.apache.pinot.plugin.stream.kafka20.KafkaConsumerFactory"
hi @npawar @Xiang Fu

When the team looks at the error when adding the realtime table, the error 500 (ClassNotFoundException: org.apache.pinot.plugin.stream.kafka20.KafkaConsumerFactory)

 INFO [AddTableCommand] [main] {"code": 500, "error": "org.apache.pinot.plugin.stream.kafka20.KafkaConsumerFactory"}

my table realtime config
{
    "tableName": "airlineStats",
    "tableType": "REALTIME",
    "

[2020-10-28 04:40] fx19880617 commented on #6201
How do you start pinot? Is it directly from quickstart commandline ? Or you modified the **JAVA_OPTS** parameter?

That may remove the default plugins directory.

[2020-10-28 06:25] galalen commented on #6169
I want to take this issue

[2020-10-28 12:51] flykent1990 commented on #6201
tks @fx19880617  I have it fixed

[2020-10-28 14:12] noahprince22 commented on #6187
As a potential future optimization, after we lazy load entire segments, we should look into separately caching the metadata and the `columns.psf`. `creation.meta, index.map, metadata.properties` are all small and could either be eagerly loaded or have much looser LRU requirements.

[2020-10-28 14:49] npawar commented on #6169
Sounds good @galalen . Please ping me if you have any questions

[2020-10-28 19:03] #6191 closed

[2020-10-28 19:08] dharakk commented on #5664
Design document for a star schema join involving a fact table and small size dim tables: https://docs.google.com/document/d/1InWmxbRqwcqIakzvoEWHLxtX4XR9H5L01256EbAUHV8/edit?usp=sharing

This design require the dim table to be available on each host hence the restriction on size. Future work for this will involve lifting this restriction by implementing a broadcast join operator, which will enable

[2020-10-28 19:49] #6201 closed

[2020-10-28 20:13] flykent1990 opened #6206 "Supports parquet file parallel processing with LocalPinoFS"
hi team pinot

Can you provide me with multi parquet file processing with multi threads

I am currently processing 18Gb parquet file (152 files) with LocalPinotFS which takes 200min

Well, having added this feature will improve performance

![Screen Shot 2020-10-29 at 03 13 42](https://user-images.githubusercontent.com/71525567/97491446-c1ab1100-1994-11eb-9b75-476eb1cf23b8.png)
![Screen Shot 2020-

[2020-10-28 21:08] fx19880617 commented on #6206
One way you can try is to start a local spark cluster and submit a spark job to it:
You can ref to this doc, just replace the s3 part with your local. https://docs.pinot.apache.org/users/tutorials/ingest-parquet-files-from-s3-using-spark

[2020-10-28 22:28] flykent1990 commented on #6206
hi @fx19880617

I run the spark job and get an error like this ... can you help me

command run :
./bin/spark-submit --class org.apache.pinot.tools.admin.command.LaunchDataIngestionJobCommand --master "local[2]" --deploy-mode client --conf "spark.driver.extraClassPath="$CLASSPATH:$PLUGINS_CLASSPATH""  local:///app/pinot/lib/pinot-all-0.5.0-jar-with-dependencies.jar -jobSpecFile /tmp/structure_sche

[2020-10-28 23:11] yupeng9 commented on #4261
Added the docs at https://docs.pinot.apache.org/basics/data-import/upsert

[2020-10-29 02:42] fx19880617 opened #6209 "Support more data types"
We are seeing more usage and requirements on new data types support, e.g.
- [ ] Date
- [ ] BigDecimal

[2020-10-29 13:57] noahprince22 commented on #6209
BigInteger as well. For something like a uint64. Could represent BigInt as a varint on disc.  Also nested types, which I believe @kishoreg is working on

[2020-10-29 13:59] noahprince22 commented on #6187
https://eng.uber.com/operating-apache-pinot/

Reading this blog:

At large scale of data that requires this kind of lazy loading, you're going to have _a lot_ of segments. Do we see this causing an issue with helix state management messages?

[2020-10-29 15:22] galalen commented on #6169
@npawar  you can check my PR https://github.com/apache/incubator-pinot/pull/6211
I'm reading the state from the IdealState.

[2020-10-29 16:16] mcvsubbu commented on #6187
If you have millions of segments per table, this can be a problem. We already faced this issue at LinkedIn, and took a few actions:
1. Increased the network speed in zookeeper.
2. Moved to allocate a limited number of instances for any table (i.e. cluster the segments of a table within as few hosts as possible).
3. We tried enabling helix batching with mixed results. It seemed to help, but other h

[2020-10-29 20:57] flykent1990 commented on #6206
ok tks @fx19880617
using spark job I reduce processing time by 50% parquet file

[2020-10-29 22:26] fx19880617 commented on #6206
👍

[2020-10-30 04:56] fx19880617 commented on #6206
https://github.com/apache/incubator-pinot/pull/6214

[2020-10-30 19:26] Jackie-Jiang commented on #5346
@mcvsubbu @jackjlli We might need to further reduce the size of the query file. Currently running all queries in the query file takes more than 2 minutes (the comparing database H2 is slow), and we have 2 query files per integration test. In the github-actions, the integration test suite takes longer than 60 minutes to finish now.

[2020-10-31 04:02] fx19880617 commented on #6206
#6214 is merged. This standalone mode segment creation parallelism is also supported.

[2020-10-31 04:02] #6206 closed

[2020-11-03 02:19] Jackie-Jiang opened #6222 "Uniform the time value in SegmentZKMetadata and support time pruning on broker"
Currently the time value (`startTime` and `endTime`) stored in the SegmentZKMetadata are not uniformed for offline table and real-time table. In offline table and HLC table, the stored value is the actual time value with the actual time unit; while in LLC table, the stored value is the time in milliseconds, and the time unit is always `MILLISECONDS`. This can cause confusion for the retention mana

[2020-11-03 04:54] #4261 closed

[2020-11-03 08:48] hotienvu commented on #5351
hi @npawar I'd like to work on this. I think we need to sort the columns in topological order before applying the transform function

[2020-11-03 18:38] yupeng9 opened #6226 "Partial update in Pinot"
Issue https://github.com/apache/incubator-pinot/issues/4261#event-3951115974 was closed after the full update is supported. There are scenarios that the ingested message is for the partial update. The partial update could be:
 - Only the fields updated have the value, while other fields are ignored
 - The update fields may contain the incremental value, but not the updated value. e.g. trip fair +$

[2020-11-03 21:08] apucher opened #6228 "Support parsing of Hex strings with odd length"
Hi everyone,

I ran into the following condition with BYTES-typed columns:

`SELECT * FROM mytable WHERE my_bytes_column = '146' -- '146' is a valid hex string, but errors out. '0146' works.`

While seems to be a matter of taste, it may be worthwhile to support odd length hex strings to provide a slightly more intuitive experience.

Addendum - Exception:

[2020-11-03 21:22] apucher opened #6230 "Support parsing of double quoted Hex strings"
As a follow-up to #6228

Hi everyone,

It looks like Hex string aren't identified as such when using double quoted strings.

The query `SELECT * FROM mytable WHERE my_bytes_column = "0146"` (double quotes) returns an exception, whereas `SELECT * FROM mytable WHERE my_bytes_column = "0146"` (single quotes) works as expected.

I'm probably missing some subtleties of the specification, yet this seems

[2020-11-03 22:18] Jackie-Jiang commented on #6230
@apucher Double quote in SQL means identifier instead of literal, only single quote means literal. Double quote can be used to skip special characters in the identifier, e.g. `"member-id"`

[2020-11-03 23:14] apucher opened #6231 "Selecting from double dimension behaves differently with double vs single quote"
Hi everyone,

Along the same line of #6230 there's another potentially non-intuitive case:

`SELECT * FROM mytable WHERE dim_singleval_DOUBLE_rawencoding_rangeindex_column = 2518.9497060727695` (no quotes **AND** single quotes) errors out, while `SELECT * FROM mytable WHERE dim_singleval_DOUBLE_rawencoding_rangeindex_column = "2518.9497060727695"` (double quotes) works just fine.

[2020-11-03 23:16] apucher commented on #6230
ok, should we close this one then? @fx19880617

[2020-11-04 05:02] Aka-shi opened #6232 "[Pinot]Support environment variables injection in Table Spec"
For streaming ingestion from Kafka, we might have to provide ssl configs if Kafka is using SSL protocol for communication. As of now the property values have to be passed transparently in the table spec.

It would be safer and better to support environment variables in table spec, so that ssl truststore and keystore passwords can be set as environment variables in the container and then reference

[2020-11-04 05:02] Aka-shi commented on #6232
@fx19880617 @kishoreg

[2020-11-04 19:29] fx19880617 commented on #6230
yes 👍

[2020-11-04 19:29] #6230 closed

[2020-11-04 19:37] flykent1990 opened #6234 "error when recreating a deleted table with the same name"
hi team

now I have a problem when I delete the realtime table and recreate the same name ... the segment status always says bad ... can you help me fix this?

![Screen Shot 2020-11-05 at 02 37 02](https://user-images.githubusercontent.com/71525567/98159811-caa95e80-1f0f-11eb-83b0-28c5cecde471.png)

![Screen Shot 2020-11-05 at 02 33 01](https://user-images.githubusercontent.com/71525567/98159866-e

[2020-11-04 20:58] npawar opened #6236 "Reset the consumer offsets for a table actively ingesting"
Usecase: Realtime table where the consumer starts lagging behind (say 3-4 hours). User wished to reset the consumer offsets to latest. They were okay with losing data of the last 3-4 hours.

[2020-11-04 21:34] mcvsubbu commented on #6236
This happens automatically if data is lost.

Also, if the consumer lags behind once, then it is likely that the consumer will do so again -- looking it at from a perspective of a slow consumer against a fast producer. The pipe _will_ overflow, so you need to do the reset every once in a while. That is what happens automatically now.

[2020-11-04 22:14] kishoreg commented on #6236
There are a few scenarios that have come up in the past due to which they want the ability to
- pause/unpause consumption
- skip bad messages
- stop consumption and restart from latest offset for each offset

I understand that these operations result (skip/move to latest offset) can result in data loss but it's something that users can use in certain scenario where they prefer freshness over data

[2020-11-04 23:21] Jackie-Jiang commented on #6222
Because of the inconsistent behavior of the LLC table and simple date format described above, we should not rely on the time unit stored in the `SegmentZKMetadata`. To minimize the change, we can keep the current format of the `SegmentZKMetadata`, add APIs to read the start/end time in millis, and deprecate the old getters. We can recover the actual start/end time value with the start/end time in

[2020-11-04 23:55] Jackie-Jiang opened #6240 "Epoch time format does not work with size other than 1"
Epoch time format has the following components: `[size]:[unit]:EPOCH`
E.g. `1:DAYS:EPOCH`, `5:MINUTES:EPOCH`

This size info is not preserved In the `SegmentGeneratorConfig` and `SegmentMetadata`, thus the generated segment won't have the correct time metadata when the size is not 1.

We have never seen a use case with size other than 1, so we might just want to drop the size info from the time fo

[2020-11-05 00:00] Jackie-Jiang commented on #6234
@flykent1990 Can you please check if the deleted table has the table config and all segment metadata cleaned up? You can find these info from the Zookeeper Browser under the PROPERTYSTORE directlry.

[2020-11-05 01:47] mcvsubbu commented on #6240
I am pretty sure we have a use case with 5:minutes:epoch, I need to confirm. It uses this to transform the time column upon ingestion

[2020-11-05 02:17] fx19880617 commented on #5919
We can use reflection to auto generate this information or we can get it from TransformFunctionFactory.
I think this is useful when we have many releases of Pinot and Presto and we are keep adding new functions.

Also cc: @yupeng9

[2020-11-05 02:25] mcvsubbu commented on #6236
Just to clarify requirements:
* Upon pause, are all replicas expected to pause at the same offset?
* Is the stop/restart-from-latest for one partition, or any number of partitions, or all partitions? This can be used to skip bad messages also, but it will skip to latest offset, of course.
* How stringent is the requirement to skip bad messages? i..e. do we just want to skip bad messages, or is it

[2020-11-05 12:53] flykent1990 commented on #6234
everything has been deleted ... even in zookeeper PROPERTYSTORE is not available but cannot create realtime table

[2020-11-05 17:44] npawar opened #6242 "Add streamConfigs and batchConfigs into the ingestionConfig"
Currently when running a batch ingestion job, all the configs are provided via the ingestion-job-spec yaml file to the job. This will not be possible if we want to move to a pull-based ingestion model for segment creation. For example, in the pull-based model, we want to simply keep creating segments whenever a new file is provided into some fixed path. This means all the configs needed for segmen

[2020-11-05 18:37] Jackie-Jiang commented on #6240
@mcvsubbu Then we can use that to verify the behavior. Please check the segment metadata / ZK metadata and see if the start/end time is converted to epoch in minutes in order for it to behave correctly.

[2020-11-05 18:44] Jackie-Jiang commented on #6234
@flykent1990 From the exception log, seems like you don't have the column `timestamp` in your schema but defined it as the time column in the table config. If that is not the case, can you please provide the full stack trace for the exception?

[2020-11-05 18:57] jackjlli opened #6243 "Support more than 1 condition in CASE WHEN statement"
With this PR (https://github.com/apache/incubator-pinot/pull/5461), we now can support CASE WHEN statement, while this PR only assumes that there is only 1 condition after CASE WHEN. Queries containing more than 1 condition like below will fail:

[code]

We should fix this to accept stricter conditions.

[2020-11-05 19:16] yupeng9 commented on #5919
+1 This helps a lot minimizing the efforts of syncing the functions between Pinot and Presto. Moreover, I feel there are functions from Pinot that may not be able to introduce the counterpart in Presto. For example, the IdSet function introduced by https://github.com/apache/incubator-pinot/pull/5926

[2020-11-05 19:27] fx19880617 commented on #6243
This query can be written as:

[code]

[2020-11-06 00:23] mcvsubbu commented on #6240
OK, my bad. We don't have a use case like this.

But, for those who do, what is your migration path?

[2020-11-06 02:32] yupeng9 commented on #6236
Why do this in Pinot? This can be done via kafka tools to update the offsets for both high level and low level consumers

Also agree with Subbu that this sounds like a dangerous operation so if they really want to do that then use the general purpose Kafka tooling

[2020-11-07 02:05] noahprince22 opened #6248 "Add table configuration option that limits the number of segments a single query may hit"
This will limit the amount of compute wasted on a single query, protecting against queries that bog down the cluster.

This is especially necessary in the case of https://github.com/apache/incubator-pinot/issues/6187 as materializing all of those segments on disc is expensive.

[2020-11-07 07:32] fx19880617 commented on #6243
The issue here is that we tries to convert `'timestamp' >= 1587073457690 AND 'timestamp' < 1587077057690` to a transform function, which means that we need to implement `AND`/`OR`/`NOT` in transform functions and return `true`/`false` so that it will match the expression.

[2020-11-07 21:14] fx19880617 commented on #6243
https://github.com/apache/incubator-pinot/pull/6249/files

[2020-11-09 23:34] jtao15 commented on #6189
For time range pruning on broker we have two solutions:

1. **Naive O(n)**
Currently, for each table, brokers keep track of all its online segments. PartitionSegmentPruner maintains a mapping from segment names to partition info. Same as partition pruning, we can have a time range pruner which keeps a mapping from segment names to time range. Pruning is done by looping through online segments, get

[2020-11-09 23:59] noahprince22 commented on #6189
The particular cases where this is necessary is when we have a large amount of data necessitating a large number of segments. In this particular situation, we want to make sure this scales.

The naive solution does not scale particularly well on time when you get to millions of segments.

The specialized data structure scales well on time, but is potentially a memory hog. The brokers like to keep

[2020-11-10 00:12] noahprince22 commented on #6189
In fact, why not create a generic SortedSet based pruner that can be used for any numeric or sortable column?Then, this can be used for other columns such as sequence numbers. Which would be another very valuable use case for us

[2020-11-10 01:22] snleee commented on #6189
@noahprince22 If we keep the start timestamp only, we cannot effectively prune segments because we don't know the upper bound. Keeping start time may help for your use case but it's not a generic solution.

Simple math:

Let's assume that we roughly store 100bytes for each segment ( we need to store segment name, start & end timestamps, and some other info).
[code]

It indeed requires GBs of memor

[2020-11-10 04:20] jtao15 commented on #6189
Copied and pasted the discussion from slack channel: [slack discussions](https://docs.google.com/document/d/1qbiwzTVNeO_syBrvDL-Y-s_xep8nUtJAi1S9KJFfq4A/edit?usp=sharing)

[2020-11-10 21:14] chundongwang opened #6253 "NullPointerException is thrown when query with aggregation on top of groovy functions"
I’m getting `NPE` in `GroupByOrderByCombineOperator.getNextBlock` when the query does aggregation on top of groovy function, no matter which column I group-by with (eg dimension, datetime), or what aggregation function I use (eg AVG, SUM). The query would look like,
[code]
Without `group by`, aforementioned `groovy` function works fine with enough records.

### Expected results

Expect aggreation

[2020-11-10 22:35] icefury71 opened #6254 "Auto tune indexing config"
Make it easier for people to create a Pinot table which can execute queries in a performant way. Usually this means the Pinot user has to configure things such as inverted indexes. We can do this automatically.

For instance, users can specify something like:

[code]

which can be automatically replaced with the necessary config.

The implementation can be done in 2 parts:
1) Have a pluggable inte

[2020-11-10 23:03] mcvsubbu commented on #6254
Do you anticipate different auto-tuning customizations? In that case, is it better to have a config like:
`autoTuningStrategy: HighThroughput`, or `autoTuningStrategy: LowCost` or whatever.

[2020-11-10 23:21] icefury71 commented on #6254
Yeah most likely will need different kinds of tuning. I'm not entirely sure we can encapsulate all those in a few keywords. For instance, indexing config is one subset. The other things we could tune is segment size / rows which could need another type of implementation. Of course, we can revisit this once we know more. For now, I thought the best approach is to leave this open.

[2020-11-10 23:40] mcvsubbu commented on #6254
Do you anticipate exactly one auto-tuning customization to be used? I was just thinking of specifying a class name or a list of classes to apply the tuning. Of course, the interface would still be there, and we can have a default implementation that does a few automatic settings.

[2020-11-10 23:42] mcvsubbu commented on #6254
Another question. Do you expect that the 'auto' mode goes back and changes the table config with the settings (e.g. inverted indices etc.)? In other words, if we displayed the table config, will it show the automatically populated settings? If there is an interface and there can be multiple implementations, should it also not show which implemntation was used to arrive at the optimal config?

[2020-11-11 00:14] chenboat opened #6256 "Make time boundary offset configurable"
Currently for Pinot hybrid tables, the timeboundary offset (used to decide the split of querying either offline table or realtime table) is hardcoded to be 1 day of daily offline tables. This hardcoded value may not work well in many environments. In particular, different companies have different batch data refreshment rate: some can be well under 1 day.

It is much better to leave this field to b

[2020-11-11 00:20] icefury71 commented on #6254
Good point ! It's possible that we have a chain of resolvers (similar to ingestion side transforms). We can consider this in the future. For now, I'm thinking of exactly one resolver (since we're still experimenting).

[2020-11-11 00:23] icefury71 commented on #6254
It's technically upto the implementation. But yes, I was thinking that the resolver will populate the recommended config and persist the changes. The next time you query the table config - you should be able to see the "resolved" config.

Currently I'm thinking of exactly one resolver in the controller config. With this in mind, probably not important to show this.

[2020-11-11 01:31] chundongwang commented on #6253
With the help from @npawar (thanks!), I got it to work. So to sum up,

1. Aggregation functions like `Avg`/`Sum`/`PercentileTDigest##` would all require `double` so need to convert the  groovy return to be `double`, which means all possible return values should be cast to `double` (eg using `column_name.toDouble()`) ;
2. I have a number literal, `0.0`, in the query which I assumed to make it doubl

[2020-11-11 05:02] rec7y33 opened #6257 "pinot cluster on docker unable to restore imported data after docker restarts"
Hello, I followed this guide : https://docs.pinot.apache.org/basics/getting-started/advanced-pinot-setup
and have successfully setup the cluster in docker on my ubuntu VM.
However, once I restart the docker service/ reboot the ubuntu VM, i found out broker log has this error:
`No server found for request 8: select * from sitevisitordata limit 10`

please advice. thanks

[2020-11-11 18:55] fx19880617 commented on #6257
if you are running in docker, then you can set this config in pinot server conf file:
[code]
This `pinot-server-0` is the docker container name, so when we start the docker container, we need to specify the `--name `
e.g.
[code]

[2020-11-12 03:13] rec7y33 commented on #6257
@fx19880617 Thanks. But where can I find the config files, or do I need to make them myself?

[2020-11-12 06:19] fx19880617 commented on #6257
yes, you can follow this wiki(https://docs.pinot.apache.org/users/tutorials/use-s3-and-pinot-in-docker) to create a sample conf file, note that the wiki doesn't request a conf file for pinot-broker, but you need a one-line conf file to start pinot broker.

[2020-11-13 00:45] siddharthteotia commented on #6254
Hi @icefury71 , config recommendation engine was recently implemented and that is aimed at auto-tuning as well. Did you take a look at that?

[2020-11-13 00:46] siddharthteotia commented on #6254
I don't think we should implement another auto-tuning engine. WE should enhance the existing recommendation engine

[2020-11-13 01:47] Jackie-Jiang commented on #6240
This format won't be correctly handled, and the segment will be deleted by the retention manager mistakenly. So I don't think we need a migration path for it

[2020-11-13 02:22] Jackie-Jiang commented on #6189
I would suggest going with the easier approach (approach 1) and establish some baseline first. I would doubt that we can run into performance issue for the naive implementation as the partition based one works pretty good so far. The naive one should also work better if we have multiple pruners chained together. We can start the advanced one if we really observe performance issue from the naive on

[2020-11-13 02:27] kishoreg commented on #6254
@siddharthteotia as far as I know, the recommendation engine you are referring to is a tool that recommends a config - it does not change anything in the table config. This PR is more about having the ability to plugin the engine you are referring to.

@icefury71 I like what Subbu is suggesting, we can actually have named autoTuningStrategy or a filter chain as you suggested. By default it can be

[2020-11-13 23:13] icefury71 commented on #6254
Yes - the goal is to have a plugin interface.

Sure lemme make that change.

[2020-11-13 23:32] BACtaki commented on #6240
@Jackie-Jiang is anybody looking into it already? If not, then I'd like to work on this.

[2020-11-14 01:35] Jackie-Jiang commented on #6240
@npawar What's your thought on changing the time format to the one I proposed? We have a volunteer

[2020-11-16 05:18] dongxiaoman opened #6266 "Cannot support huge number of segments with current helix"
My company is trying to load 200k segments into Pinot, and we stopped at around 69k.

The error shows that the current 0.9.8 helix-core has[ a hard-limit on zookeeper node size](https://github.com/apache/helix/blob/helix-0.9.8/helix-core/src/main/java/org/apache/helix/manager/zk/zookeeper/ZkClient.java#L1510) (1MB) which needs to be configurable.

Right now we have applied the `jut.maxBufferSize`

[2020-11-16 19:28] BACtaki commented on #308
@VicoWu do you have any updates? @kishoreg I would like to take a stab at this if the task is still available

[2020-11-16 20:27] fx19880617 opened #6267 "Batch segment creation allowing collecting columns stats per column"
Current segment creation phase, segment stats collection takes the input of a generic row and loops through all the columns, it's good for input files in row format.

For input files in columnar format(parquet), providing an option to collect column stats column by column will reduce memory footprint.

Suggest adding new APIs to 1. collect entries per column basis, 2. generate ColumnIndexCreationI

[2020-11-16 20:36] fx19880617 commented on #6256
+1

[2020-11-16 22:22] fx19880617 commented on #308
@BACtaki  Parquet is already supported as a file input format plugin:

https://github.com/apache/incubator-pinot/tree/master/pinot-plugins/pinot-input-format/pinot-parquet

[2020-11-16 22:22] #308 closed

[2020-11-16 23:44] sajjad-moradi commented on #6256
@chenboat There's a design doc for this: https://docs.google.com/document/d/1KykbUIstFI7F4IOOlUVnXWzpgKazwRAJdok0RT1ae64/
It's been proposed and agreed upon in the issue #5751, but it's not yet implemented.

[2020-11-17 00:46] npawar commented on #6240
Suggested change looks good to me. I have 2 concerns
1. The dateTimeConvert udf is using this convention as well, and I believe is directly using the DateTimeFieldSpec and related classes. We might have to make changes to maintain that udf.
2. I see some usages of getColumnUnit, without checking the format first. There will be some thought needed to decide what happens to those.

[2020-11-17 12:39] ayushkul2910 commented on #5696
Hi, can I pick this up?

[2020-11-17 13:48] Aka-shi commented on #6161
@pradeepgv42 @fx19880617 I raised a PR for this. Can you review it?

[2020-11-18 03:47] jackjlli commented on #5696
@ayushkul2910 Yes, thanks for taking this up!

[2020-11-18 19:07] dongxiaoman opened #6275 "Performance improvement needed when pushing segments for table with lots of segments"
Right now if we have 100k+ segments, pushing new segments into the table is very slow.

**In general, we need to find a strategy to make pushing lots of segments faster**

Below are some ideas for tracking:

One possible direct reason is that the update on IdealState of segments will be very slow.

By checking jstack snapshots, I can see that when we update IdealState, we try to clone the IdealSta

[2020-11-18 19:16] dongxiaoman opened #6276 "Spark worker timing out when processing large segment input files"
When we do `CreateSegment` on a very large segment parquet file (e.g., ~ 3GB parquet), the single worker may take more than 16 minutes collecting Stats, and the worker are actually being considered "time out" by Spark and killed.

This needs to be improved if we are doing a large segment file

[2020-11-18 19:19] dongxiaoman opened #6277 "Creating segment larger than 8GB will fail due to gzip limitation"
We have seen failure when we try to create a segment larger than 8GB, due to limits on gzip
[code]

Mostly fix is here: https://commons.apache.org/proper/commons-compress/javadocs/api-1.10/org/apache/commons/compress/archivers/tar/TarArchiveOutputStream.html

We need to remove the limit, but on the other hand, need to **gauge the impact of large segments**

[2020-11-18 19:36] #6193 closed

[2020-11-18 21:06] himanshudas opened #6280 "code":500,"error":"org.apache.pinot.plugin.stream.kafka20.KafkaConsumerFactory"
I am getting an error on running this docker command. Request help.

Command:
[code]
Output:
[code]
Error:

[code]

[2020-11-18 22:26] fx19880617 commented on #6280
This means that your pinot controller is not started with the Kafka20 plugin. Can you show me how you deploy the pinot controller?

[2020-11-19 01:06] fx19880617 commented on #6232
Close as PR merged in https://github.com/apache/incubator-pinot/pull/6271

[2020-11-19 01:06] #6232 closed

[2020-11-19 02:21] rec7y33 commented on #6257
thanks :)

[2020-11-19 02:21] #6257 closed

[2020-11-19 06:29] ayush-bajaj commented on #5694
Hi, can I take this up for implementation?

[2020-11-19 09:04] himanshudas commented on #6280
Hello @fx19880617 ,

Thanks a lot for your response. I have followed the steps from this tutorial: https://docs.pinot.apache.org/getting-started/recipes/github-events-stream

I have following container running currently:

<img width="1518" alt="Screenshot 2020-11-19 at 2 17 50 PM" src="https://user-images.githubusercontent.com/1238723/99642888-085ec900-2a72-11eb-83e0-fe9d276ae930.png">

I think I

[2020-11-19 17:38] amrishlal commented on #5688
I looked at the test classes under  `org.apache.pinot.controller.api` package. For test classes that do `startZk(); startController()`, one option may be to create a component level `testng.xml` configuration file with `<suite>...</suite>` that would contain these test classes. This will allow for specifying a `@BeforeSuite` method to run `startZk(); startController()` once before all the suite te

[2020-11-19 18:36] jackjlli commented on #5694
Thanks, please do.

[2020-11-19 18:37] #6243 closed

[2020-11-19 22:54] fx19880617 commented on #6280
Got it. There was a bug in the Advanced Setup doc(https://docs.pinot.apache.org/basics/getting-started/advanced-pinot-setup#2-start-pinot-controller). It's missing `-Dplugins.dir=/opt/pinot/plugins` in the `JAVA_OPTS` variable to let Pinot Controller start up while loading all the plugins.

I've updated the tutorial to start Pinot Controller/Broker/Server.

Could you give it a try?

[2020-11-20 21:59] fx19880617 opened #6282 "Pluggable metrics registry"
The current codebase uses old yammer libs, and the world already moves to dropwizard.

Considering the difficulty of the upgrade for existing users, shall we think of abstract Metrics/MetricsRegistry(maybe more) as interfaces and build yammer/dropwizard plugins for that?

[2020-11-20 22:00] fx19880617 commented on #6282
@jackjlli ^^

[2020-11-20 22:07] #6169 closed

[2020-11-21 18:30] himanshudas commented on #6280
Hello @fx19880617 ,

Thanks a lot for your help. The setup worked for me after following above step.

I am closing this issue now.

[2020-11-21 18:30] #6280 closed

[2020-11-22 10:44] galalen commented on #5590
I would love to work on this, I can build the CLI using python, it has rich packages for CLIs

[2020-11-24 20:10] galalen commented on #6170
Can you provide more information! because I guess there is an endpoint for creating a schema, and table config will be created automatically with creating the table, correct me if I'm wrong.

[2020-11-25 00:24] JohnTortugo commented on #4036
Hey @mcvsubbu - when I try to access this link I get a 404 error. Is this the correct branch/repo?

[2020-11-25 05:28] icefury71 commented on #6254
I updated the diff with a way to register "named" TableConfigTuner methods. Also added an annotation type to automatically discover such tuner methods in the classpath (based on recommendation from @kishoreg )

[2020-11-25 21:10] kkrugler opened #6292 "Support limiting sub-groups to top N"
In Elasticsearch we can do a group by gender, and then sub-group in each gender by state, and sum a metric, and get the top 10 results (for that sum of that metric) per state.

There doesn't seem to be a way to currently do that in Pinot, though @kishoreg suggested it would be possible via a UDF (let's call it "subBuckets"), something like `select <top bucket column>, subBuckets(<aggregation opera

[2020-11-25 21:14] kishoreg commented on #6292
will be better to not have `'sum(billed_expenses)'` in quotes but at a high level this looks good

[2020-11-25 22:39] kkrugler commented on #6292
Thanks, updated.

[2020-11-25 22:55] kkrugler opened #6293 "Fix creation of pinot-integration-tests jar"
Currently the `pinot-integration-tests` jar is empty (other than a manifest), versus containing the very useful `BaseClusterIntegrationTest` class and related code. The issue is that it should be being build as a tests jar, using code from the `src/test/` directory.

In addition, it would be good to make it a fully shaded jar, so that its dependencies on other jars (for example, ZooKeeper) don't c

[2020-11-25 23:38] fx19880617 commented on #6292
Can you also put the expected output?
I suspect it could be:
[code]

[2020-11-26 00:03] kkrugler commented on #6292
@fx19880617 - good question re output format. With Elasticsearch it's a nested JSON response. I don't know what the standard is for Pinot, the above seems reasonable. You get additional details in the Elastic response for things like maximum error (due to how the top results from each shard get combined, and that could result in not actually getting the top N), etc.

[2020-11-26 01:11] #6242 closed

[2020-11-26 01:13] npawar commented on #6170
Correct. There are endpoints for both. This item was more with respect to the cluster manager. We wanted to avoid the cluster manager having to create a complex json on the UI.
But we have managed completing the UI without making it too complicated. So this item is not relevant anymore.

Are you looking for issues to contribute to? Please ping me or @kishoreg and we can find you something :)

[2020-11-26 01:13] #6170 closed

[2020-11-26 01:48] fx19880617 commented on #6292
I see.

The output of `subBuckets(sum(billed_expenses), state, 10)` can be a map(JSON blob) if we need more info or stats per group.

Also not sure if this is the case, but maybe we can just define the order by clause in the function, and have syntactic sugar for TOP_N queries.
[code]

[2020-11-26 09:44] pabrahamusa opened #6295 "NullPointer on TEXT_MATCH Queries"
Hello,

Currently I am having a config with following for real time ingestion I have enabled Text Index. When I try to query the data with TEXT_MATCH an error is throwing. Why it is so, Is this the right way to enable Text indexing?

Error:
`[
  {
    "errorCode": 200,
    "message": "QueryExecutionError:\njava.lang.NullPointerException\n\tat org.apache.pinot.core.operator.filter.TextMatchFilterOp

[2020-11-26 17:13] pabrahamusa commented on #6295
fixed it, the fieldConfigList was out of place, it should be the main attribute.

[2020-11-26 17:13] pabrahamusa commented on #6295
is it possible to have both inverted Index and Text Index at the same time?

[2020-11-26 17:36] kishoreg commented on #6295
Not as of now. Nothing in the design that prevents it but we have added some artificial checks. Why would you want this?

[2020-11-26 17:44] pabrahamusa commented on #6295
I am assuming regexp_like()  will not work for Text Index , it would be nice if we can use both. Also thinking of moving some fields into inverted index and others to TEXT.

[2020-11-27 20:54] kishoreg commented on #6292
its almost feels like its an nested query. in other words - it is a window udf

[2020-11-27 21:13] fx19880617 opened #6297 "Adding Pinot Redash integration"
We want to add the integration of Pinot-Redash.

The required work is to add a new query runner for pinot here: https://github.com/getredash/redash/tree/master/redash/query_runner

Ref to Pinot python client: https://github.com/python-pinot-dbapi/pinot-dbapi

[2020-11-27 21:19] xiangfu0 opened #6298 "Support Describe Pinot table and schema"
Pinot table conf and schema access is from restful API only right now.

It would be good to support the built-in system tables, and we can query schema in SQL style.
This will be useful for users to have a similar onboarding experience that everything can come from the query console.
It's also good for Pinot integrations with other systems.

Query examples for references:
[code]

[code]

[code]

[

[2020-11-30 18:27] icefury71 opened #6300 "Json schema validation for table config"
Currently, we're doing manual checks for each field in the schema regarding data type, range etc...

Instead, we can use Json schema (https://json-schema.org/) to use annotation for auto-validation of such things.

[2020-11-30 18:57] pb-stripe opened #6301 "Support for Non-Integer Percentile Calculations"
In evaluating Pinot for an [SLI/SLO](https://cloud.google.com/blog/products/gcp/sre-fundamentals-slis-slas-and-slos) analytics use case, I was curious if there's built-in support for percentiles above P99. Here's the resulting conversation in Slack:

[code]

I will defer to folks experienced with the codebase to add more detail on how best to implement.

Thanks!

[2020-12-01 02:40] Aka-shi opened #6302 "[pinot]Support for pausing the realtime consumption without disabling the table."
As of now, to pause the realtime consumption from kafka we have to disable the table. This also leads to the table not being available for querying.

It would be helpful if there is support for only stopping the realtime consumption while having the table available for querying.

[2020-12-01 04:33] Aka-shi opened #6303 "[pinot] Throw error when column doesn't exist during aggregations"
As of now, when we call an aggregate function on a column which doesn't exist in the pinot table, the query returns the default value for that aggregation type instead of throwing `column doesn't exist` or `column cannot be found in <table>` kind of error. This would be misleading for the user as the query will succeed.

Example Query:
`select max(blah) from transcripts` - this returns `-infinity`

[2020-12-01 04:51] kishoreg commented on #6303
@jackjlli there was some implementation on this right?

[2020-12-01 20:08] jackjlli commented on #6303
Correct, we have a PR for that: https://github.com/apache/incubator-pinot/pull/6066

[2020-12-02 09:29] HyunjoonCho opened #6307 "Getting list of non singleFieldValue field using select / group by"
Hello,
I am trying to find which values are stored for a specific field.
Works okay with singleField ones, but does not with multiples.

With below schema
[code]

[code]
gives me list of name field in the table

However,
[code]
returns errorCode 200
[code]

[code]
gives out count of individual tag - I guess

Is there any workaround for this?
Thank you

[2020-12-02 13:04] kishoreg commented on #6307
`select tags from metric group by tags `

This is not valid query - try this

`select tags from metric`

[2020-12-02 14:13] galalen commented on #6300
here is the draft json schema for table config

[code]

[2020-12-03 01:20] npawar opened #6308 "Errors in consuming segment completely stops consumption"
Just in the last day, we had 2 reports of consumption stopping completely for a partition, because of some error occurrences in consumption.

**Example 1:**
User reported that consumption is totally stopped for that partition, and saw this error when we asked him to check logs.
[code]
This is coming from LLRealtimeSegmentDataManager#buildSegmentInternal(). As a result of this, we reach this in LLR

[2020-12-03 01:24] npawar commented on #6308
@kishoreg @mcvsubbu @fx19880617 @icefury71

[2020-12-03 01:51] mcvsubbu commented on #6308
The key here is that there is no alert set on lack of consumption, and there is no guarantee that restarting will even fix the issue.

We do have a mechanism by which servers can report problems to the controller. We use that currently for problems that happen during consumption.

We may want to  extend it (in case of 1 replica, maybe) to transition the segment to OFFLINE state if segment build fa

[2020-12-03 02:00] HyunjoonCho commented on #6307
Thanks for the comment,

Yeah, this lists tags but what I'm trying to do is filtering out duplicate ones.

To illustrate, if there are tags like below:
[code]
When I do query with above one, it lists all the tags as they are.
I want to print out each tags list only once like this:

[code]
Is there a proper query for this?
Thank you.

[2020-12-03 02:59] npawar commented on #6308
For example 1, what you suggest `We may want to extend it (in case of 1 replica, maybe) to transition the segment to OFFLINE state if segment build fails` would work. Letting the ValidationManager fix it should be fine.
However, I think we should transition the segment to OFFLINE state, any time the while loop in the consumer thread exits with `ERROR` state (and not just for failed segment build o

[2020-12-03 06:21] pabrahamusa opened #6309 "TEXT index negative searches not working"
If I try with a NOT condition in regex it is not working for TEXT_MATCH regex search

eg: -select date,data  from mytable where TEXT_MATCH(data,'/^((?!background).)*$/')

This should provide me with matches without containing string background, However it is not working.

[2020-12-03 06:28] pabrahamusa commented on #6309
it does work for regexp_like  so following is working for regexp_like but not for TEXT_MATCH
select date,data  from mytable where regexp_like(container_name,'^(?!.*(background)).*$')

[2020-12-03 15:22] pabrahamusa commented on #6309
Also it would be good to support NOT searches
at the moment OR and AND will work i.e.

TEXT_MATCH(data,'quick AND brown AND fox') - works
TEXT_MATCH(data,'quick OR brown OR fox') - works
TEXT_MATCH(data,'quick NOT brown NOT fox') - Not Working

@siddharthteotia I can see you are the TEXT index expert , do you know whether there is a way to do negative searches for TEXT_MATCH also is it a quick fix

[2020-12-03 16:21] kkrugler opened #6311 "Support tarred segments > 8GB"
Currently a big segment fails during the “converting segment” phase:

[code]

As per https://commons.apache.org/proper/commons-compress/tar.html, Pinot should be using `BIGNUMBER_POSIX` for the bigNumberMode so that it doesn't have an 8GB limit.

[2020-12-03 17:14] mcvsubbu commented on #6308
I disagree that ERROR state should trigger a consume stop.  The ERROR state is set (perhaps not best name) when the segment build fails. We can change the name to SEGMENT_BUILD_FAILED if you like, and it is an end state.

In production use case, there are always multiple replicas, and we should attempt to download if the build fails -- for whatever reason. We could check the number of replicas, an

[2020-12-03 17:28] fx19880617 commented on #6311
I think this is duplicated with https://github.com/apache/incubator-pinot/issues/6277

[2020-12-03 18:23] kishoreg commented on #6308
Can do this instead
1. Add an API to get the status of consuming segment across all servers (including offset is possible)
2. If the status is bad/error because of whatever reason, disable and enable the consuming segment.

Once we have controller API for these two, the invocation can be manual or via validation manager.

[2020-12-03 19:38] npawar opened #6313 "Authentication to Cluster Manager"
In production environments, the Cluster Manager cannot be exposed to all users as-is, because it contains operations which can change the state of Pinot. The goal is to add basic authentication and have roles like admin and read-only.

[2020-12-03 19:56] kkrugler commented on #6277
I think this is a `tar` format limitation, not `gzip`. As per https://commons.apache.org/proper/commons-compress/tar.html, I think you want to switch to using BIGNUMBER_POSIX for the bigNumberMode so that it doesn't have an 8GB limit.

[2020-12-03 19:58] kkrugler commented on #6277
Also @kishoreg had said on Slack:

So maybe adding a warning if the tar output size is > 2GB?

[2020-12-03 19:59] kkrugler commented on #6311
@fx19880617 - yes, thanks. Added some comments on #6277, closing this one.

[2020-12-03 19:59] #6311 closed

[2020-12-03 21:40] fx19880617 commented on #6277
This 2G limit is on per column size not entire segment

[2020-12-03 22:44] pabrahamusa commented on #6309
We can do NOT searches using lucene regex patterns , so following should work

TEXT_MATCH(log,'/.*/ NOT quick AND NOT brown')
TEXT_MATCH(log,'/.*/ NOT fox')

Hence closing the ticket

[2020-12-03 22:44] #6309 closed

[2020-12-04 09:49] fx19880617 commented on #6307
hmm I don't think the group by behavior is per array based right now.

One solution we can probably do is to add a new `array_concat` function to concat all the values in an array to a string then group by it.
E.g.
[code]

@npawar can we use groovy to achieve this for now?

[2020-12-04 17:54] pabrahamusa opened #6317 "Allow No Raw Data Index with S3 data store option for TEXT Index"
I would like to suggest a feature for TEXT_MATCH index

At the moment if we have "noRawDataForTextIndex": "true" , this will allow to store just index without data. Which is a great feature where we can reduce the size of the index. However the issue is that we wont be able to fetch the actual data itself but just do search on it. What I would like to have is something where we store the index wit

[2020-12-04 18:54] mcvsubbu commented on #6308
I am fine adding admin API, but let us not do anything via validation manager. It can lead to some timing issues (depending on what we are trying to do) and not work in production correctly. If you do want to change automatic validation, please put forward a proposal, and we can discuss that.

Btw, here are some ideas for an API https://github.com/apache/incubator-pinot/issues/4035

[2020-12-04 22:14] fx19880617 opened #6318 "Improve maven build process"
The maven build process takes a lot of time as for any changes made, we need to build from the root.
We should try to make maven build allow us to run from any pinot-component to simplify the logic.

[2020-12-04 22:24] fx19880617 opened #6319 "Move Pinot configs management to helix"
The purpose here is to minimize the config requirement for pinot deployments and simplify the config management.

To achieve this, we can move all the common/default configs to helix as cluster configs.
Also, this change should not prevent users to start pinot using config files or setting env variables.

In my view, when a pinot server starts, it will:
1. Look up helix for global configs as base

[2020-12-05 05:57] amrishlal opened #6324 "NullPointerException while running invalid queries."
Running the following queries against the sample baseballStates table in Pinot query console causes NPE stack trace to show up in console:

[code]

[2020-12-05 06:09] kishoreg commented on #6324
We have a PR out to catch invalid queries. Schema is still optional in Pinot for batch tables which makes it hard to enable this by default. But we plan to enable validation by default and provide the ability to disable.

[2020-12-05 06:11] amrishlal opened #6325 "Invalid query executing without any error message."
Invalid queries seems to run successfully in the Pinot sql console without producing any error. This gives the impression that the query ran, but returned an empty result.

**select playerId as a, yearid as a from baseballStats limit 100
select xyz from baseballStats limit 100**

[2020-12-07 19:13] dongxiaoman opened #6328 "Improvement: Show "table not found" info in wrong query"
When we compose/run an adhoc query, we sometimes misspell table names.
The results from query is "Broker resource missing" instead of "table not found", which is quite misleading. It is misleading because sometimes we do run into broker down situation and has the same error.

It will be a small change but with much quality of life improvement. Think about the new users that are trying Pinot and ge

[2020-12-07 19:18] kishoreg commented on #6328
Makes sense, do you want to take it up?

[2020-12-07 19:20] dongxiaoman commented on #6328
Sure, I can help with that. It would be a start to contribute

[2020-12-07 22:17] jackjlli opened #6330 "Add secrets to public repo for migrating LinkedIn publication pipeline from Travis CI to Github Actions"
LinkedIn Pinot team is currently thinking of migrating the existing internal publication pipeline from travis CI to github actions, but it seems none of our LinkedIn committers/PMCs has the permission to add the secret key to the public repo. Could anyone who has "Admin" access help guide how to do that?

https://docs.github.com/en/free-pro-team@latest/actions/reference/encrypted-secrets#creating-

[2020-12-07 22:38] amrishlal commented on #6301
Support for decimal percentile has been added through https://github.com/apache/incubator-pinot/pull/6323.

[2020-12-08 19:23] mayankshriv opened #6334 "SegmentPurger does not handle schema evolution gracefully"
We ran into an issue where SegmentPurger failed due to schema evolution as follows:

- New columns were added into the schema.
- Table index was updated to have inverted index on some of the newly added columns.
- An explicit backfill was not performed.

When the SegmentPurger tried to purge older segments, it failed with the following error:
`java.lang.IllegalStateException: Cannot create inverte

[2020-12-08 19:38] mcvsubbu commented on #6334
If the schema was updated with the new columns, then the schema in the controller would have the new columns right? Perhaps you meant the other way around (i.e. "used the schema in controller as opposed to the schema in the segment") ?

Speaking of which, I think it will be super useful to retain the schema evolution in zookeeper (i.e. versioned schemas with some metadata on when an update was don

[2020-12-08 21:43] fx19880617 commented on #6328
Thanks @dongxiaoman !

[2020-12-08 21:55] fx19880617 opened #6337 "[Controller UI] show cluster name"
Can we add cluster info on the front page of controller UI.

There is an API on controller for this : `/cluster/info`. It currently shows only the cluster name.

![image](https://user-images.githubusercontent.com/1202120/101545882-c59b5d00-395c-11eb-90d8-1ee06e67a7d0.png)

[2020-12-08 23:10] shahsank3t commented on #6337
@fx19880617 - Pull request to address this change: https://github.com/apache/incubator-pinot/pull/6338

[2020-12-09 01:28] #6337 closed

[2020-12-09 10:46] jyotidhiman0610 opened #6341 "java.lang.NoClassDefFoundError: BaseThirdEyeApplication on Thirdeye Quickstart"
I am following https://thirdeye.readthedocs.io/en/latest/quick_start.html and the steps mentioned in the documentation is failing for me. I have tried the same on two different systems & they still don't seem to work:
on running
`./run-frontend.sh`
I am getting
`******************************************************
Launching ThirdEye Dashboard in demo mode
****************************************

[2020-12-10 02:42] fx19880617 opened #6343 "Allow set multiple directories for sever segment location"
This is to support the case that one pinot server with multiple drives mounted to it.

[2020-12-10 07:18] fx19880617 commented on #6317
Pinot doesn't support serving queries directly from the deep store. In order to answer queries, all the data has to be local to disk.
We are adding lazy data-loading support in https://github.com/apache/incubator-pinot/pull/6250
I feel this could be the next step once the above PR is merged. So we can separate the data part and only download partial to local disk for serving normal queries and pul

[2020-12-11 17:52] bountyx commented on #6341
+1 same issue here

[2020-12-11 19:29] pabrahamusa commented on #6317
@fx19880617   Tiered Storage plus Lazy loading will surely help. However if a raw index is considerably small we can preferably store it in SSDs and separate the data out to object storage. The only caveat here is how to map the index to data locations in object store.  There should be some way to mount the object store locally to pull the corresponding data. Either by defining partitions based on

[2020-12-12 13:22] jyoti-dhiman commented on #6341
@bountyx I was able to run this by following https://medium.com/@gregsimons_84/apache-pinot-thirdeye-quickstart-helper-b5d8a95a22eb
Hope this helps!

[2020-12-12 17:41] plaisted opened #6349 "Standalone ingestion jobs do not clean up output files after completing loading"
When running an ingestion job using the 'standalone' execution framework, the files written to 'outputDirURI' persist after the job completes. A couple issues arise from this:

- This causes subsequent ingestion runs to add the left over files from previous runs in addition to the files for the current run
- If concurrent jobs are running with the same storage location they would attempt to load e

[2020-12-13 05:46] shivam621311 commented on #6328
I would like to work on this

[2020-12-13 18:12] yupeng9 commented on #5280
The design of the geospatial indexing is updated and added to the design doc  [here](https://docs.google.com/document/d/1Mkm5RHS_tof-vIUt5-UNeOgRYSBAN6M_pN-hedV6Q0g/edit#)

[2020-12-13 18:12] yupeng9 commented on #655
This support is tracked in this issue https://github.com/apache/incubator-pinot/issues/5280

[2020-12-14 05:23] #6142 closed

[2020-12-14 05:23] kvanjana commented on #6142
Got the solutions

[2020-12-14 06:34] pabrahamusa opened #6351 "Old Segments not expired or deleted - Text Index + Inverted Index"
I am using Text Index and Inverted Index as well , noticed that the segment retention is not working. Pinot is not expiring or deleting the old segments . My segments config

`  "segmentsConfig": {
        "timeColumnName": "five_mins_epoch",
        "timeType": "MINUTES",
        "retentionTimeUnit": "DAYS",
        "retentionTimeValue": "3",
        "schemaName": "myschema",
        "replication

[2020-12-14 17:51] pabrahamusa commented on #6351
Could someone please share some document about how the retention works, I want to make sure I am implementing it properly

[2020-12-14 18:04] kishoreg commented on #6351
@pabrahamusa the retention manager deletes the segment by looking at the data time in the segment, not the creation time. Please look at the segment metadata in pinot UI and see if the max timestamp in the segment is older than 3 days.

@npawar please correct me if I am wrong here.

[2020-12-14 18:28] pabrahamusa commented on #6351
Thanks @kishoreg , today I noticed there are lot of tmp- segments created and a huge tmp file also. And all the active segments are updated with current date. Not sure what is happening however some sort of archiving process I assume. However even for retention 3 days I can still see active segments that is 5 days old.

[2020-12-14 21:21] pabrahamusa commented on #6351
one of the old but active segment testlog__0__0__20201208T0619Z
4:19
{
  "segment.realtime.endOffset": "100000",
  "segment.start.time": "96444486000000000",
  "segment.time.unit": "MILLISECONDS",
  "segment.flush.threshold.size": "100000",
  "segment.realtime.startOffset": "0",
  "segment.end.time": "96444522000000000",
  "segment.total.docs": "100000",
  "segment.table.name": "testlog_REALTIME",

[2020-12-14 21:26] npawar commented on #6351
Hi @pabrahamusa as Kishore mentioned, `retention manager deletes the segment by looking at the data time in the segment, not the creation time`. Data start/end time is the  `segment.start.time` and `segment.end.time`. In the metadata you shared, these 2 fields appear to have invalid values `96444522000000000`. That could be the reason the retention manager is not picking the segment.

[2020-12-14 22:09] pabrahamusa commented on #6351
@npawar What is controlling the end time for a segment?  My segment config is as follows. The segment timeType is in MINUTES and I am passing five_mins_epoch in MILLISECONDS . Something like 1607472900000 (Wed Dec 09 2020 00:15:00) . So entire 5 minutes the five_mins_epoch is same for all the records. Do you see any issue here which can affect segment endtime?

`
      "segmentsConfig": {

[2020-12-14 22:18] npawar commented on #6351
The timeType should be MILLISECONDS. But I suspect the problem is in the schema. Could you paste the Pinot schema here?

[2020-12-14 22:28] pabrahamusa commented on #6351
@npawar , Here is the full schema

{
  "REALTIME": {
    "tableName": "test_REALTIME",
    "tableType": "REALTIME",
    "segmentsConfig": {
      "timeType": "MINUTES",
      "schemaName": "test",
      "timeColumnName": "five_mins_epoch",
      "retentionTimeUnit": "DAYS",
      "retentionTimeValue": "3",
      "replication": "1",
      "segmentPushType": "APPEND",
      "replicasPerPartition": "

[2020-12-14 22:31] npawar commented on #6351
This one's the table config. Schema can be found under `GET /schemas/test` or under Schema tab in Swagger

[2020-12-14 22:49] pabrahamusa commented on #6351
@npawar Thanks , Please see the Schema

{
  "schemaName": "test",
  "dimensionFieldSpecs": [
    {
      "name": "log",
      "dataType": "STRING",
      "maxLength": 10000,
      "defaultNullValue": ""
    },
    {
      "name": "cluster",
      "dataType": "STRING",
      "defaultNullValue": ""
    },
    {
      "name": "cname",
      "dataType": "STRING",
      "defaultNullValue": ""
    },

[2020-12-14 23:01] npawar commented on #6351
Based on the example value you provided (1607472900000 ), the time column in your schema should be MILLISECONDS.
Something like this:
[code]
Also, we've moved onto the "dateTimeFieldSpec" for defining time columns. Example: https://docs.pinot.apache.org/basics/components/schema#creating-a-schema

[2020-12-14 23:31] pabrahamusa commented on #6351
Thanks @npawar I updated my schema to dateTimeFieldSpecs, will check and update the metadata on new segment .

[2020-12-15 04:37] kkrugler opened #6355 "Don't lose authority portion of inputDirURI when creating output files"
Assume you have a job spec file with:

[code]

During the job, you'll get this error for every segment generated:

[code]

The problem is that `SegmentGenerationJobRunner.getFileURI()` generates input file URIs that no longer have the authority portion of the original `inputDirURI`.

[2020-12-17 00:40] Jackie-Jiang opened #6362 "Support replacing real-time committed segment"
Real-time committed segment is very similar to offline segment with the following differences:
- It has metadata of consuming start/end offset
- Its name follows the real-time segment naming convention (stream info and time info embedded)

For LLC committed segment, it should be possible to replace the existing segment with a new segment covering the same consuming start/end offset.
This feature w

[2020-12-17 01:18] mcvsubbu commented on #6362
Remember to add in metadata some information about which data center this was produced in. This will make sure that we cannot (even accidentally) replace segments across data centers.

[2020-12-17 01:38] Jackie-Jiang commented on #6362
@mcvsubbu Can you please elaborate more about this? Are we planning to add this check for offline segment pushes as well? Real-time committed segment refresh should follow the same code path with the offline segment refresh.

[2020-12-17 02:13] mcvsubbu commented on #6362
I thought the issue was to cover the case of replacing committed segments  in realtime. Is that right? If so, offsets of the topic in one data center will not match that of another one, and it is not possible to replace segments from one to another

[2020-12-17 03:58] kkrugler opened #6364 "Fix logging dependencies in pinot-spi"
pinot-spi’s pom has a dependency on `log4j-slf4j-impl`. I don’t think this is right - it should only depend on `slf4j-api`. Because of the current dependency, the pinot-java-client’s dependency on pinot-spi pulls in the logging implementation, which is not what you want because it means an external project using the client often needs to exclude those logging jars.

I'm guessing there are other co

[2020-12-17 18:55] Jackie-Jiang commented on #6362
@mcvsubbu This is mainly for minion to purge/update the segment, which will include the crc check to ensure the segment is the same before replacing. I feel crc check should be enough, and is more general to prevent pushing the wrong segment

[2020-12-17 19:27] yupeng9 commented on #6362
What's the relationship between this issue and [segment merge/rollup](https://github.com/apache/incubator-pinot/issues/2715)? Also, is there common work with the [tiered storage solution](https://docs.google.com/document/d/1Z4FLg3ezHpqvc6zhy0jR6Wi2OL8wLO_lRC6aLkskFgs/edit#heading=h.io8oektr60xq)?

[2020-12-17 19:29] kkrugler commented on #6355
Fixed with #6359.

[2020-12-17 19:29] #6355 closed

[2020-12-17 21:37] Jackie-Jiang commented on #6362
@yupeng9 In the current design, merge/rollup can only be applied to offline table, but conceptually it should also work on realtime table. In order to make it work for real-time table, we need to support pushing (instead of replacing) new segments for real-time table. That is the next stage of this issue, and more complicated because we need to figure out how to handle the start/offset information

[2020-12-17 23:31] mcvsubbu commented on #6362
Right now, realtime segments are not accepted when we try to upload them via rest api. I am guessing this has to do with opening up that rest api as well. If so, then we should make sure that we only accept the segments that were built in the same data center (for which we need to add some metadata to the realtime segment while building it).

[2020-12-17 23:46] dongxiaoman opened #6367 "Return information about offline segments seen in client response"
When we run a query and there are offline segments during the query, it seems we are not receiving such information from the response.

We should either make sure there is a flag in response that it is partial result, or maybe just throw an exception

[2020-12-18 06:07] yupeng9 commented on #6362
I see. Yes, I think this will be a big enabler to several features. About tiered storage, since it has the logic of moving segments across medium, I thought it can use the same replace API that you want to introduce in this issue.

[2020-12-18 15:46] kishoreg commented on #6351
@pabrahamusa were you able to resolve this?

[2020-12-18 16:39] kishoreg commented on #6123
Looking into it

[2020-12-18 18:57] Jackie-Jiang commented on #6362
@yupeng9 I'll use the same API as the offline segment push, and support refreshing real-time committed segment

[2020-12-18 20:15] amitchopraait opened #6368 "Smart query layer with rolled up data"
Our use case is to provide users with capability to slice and dice data over varying time intervals. The user may look at certain metric over last month and then zoom in to a specific week, day or hour to further analyze the data.

For this we plan to store raw segments, as well have rollup jobs (using minion) to have aggregated data for day, month etc. With this, we will only lose the granularity

[2020-12-18 22:16] apucher opened #6371 "Data-Generator fails for AVRO on "complexWebsite" pattern"
Fix avro format on data generator for "complexWebsite"

Via Mahesh on Slack:

[2020-12-19 00:40] fx19880617 commented on #6368
Just to think about this problem.

I think we need to pre-define the granularity of segment metadata, then in the broker routing strategy, we can implement the hierarchy of segments with different time granularity.

Then for each query,  we can parse the time range from the query then pick the right segments to cover the entire time range.

Also, have you tried Star-tree for this metrics aggregati

[2020-12-20 21:12] amarnathkarthik commented on #6349
@kishoreg @plaisted Please assign this task to me, I would like to work on this issue.

[2020-12-21 05:25] samarth-gupta-traceable opened #6374 "make MAX_NUM_THREADS_PER_QUERY configurable"
make MAX_NUM_THREADS_PER_QUERY configurable.
Currently it depends on `Runtime.getRuntime().availableProcessors()` , due to which user is forced request high number of CPU in k8 deployments

https://github.com/apache/incubator-pinot/blob/master/pinot-core/src/main/java/org/apache/pinot/core/operator/combine/CombineOperatorUtils.java#L38

[2020-12-21 09:46] samarth-gupta-traceable commented on #6374
created PR" https://github.com/apache/incubator-pinot/pull/6375

[2020-12-21 21:39] amarnathkarthik commented on #6349
Here is my analysis, Looked at `LaunchDataIngestionJobCommand.java` and it's all job runner (Segment Generator and Push job). Did not see implementation to clean up `outputDirURI` after the push but do see tempDir cleanup after copying the generated segments to outputDirURI.

@kishoreg @plaisted We have 2 option, let me know which one would be appropriate:

1. **Backward compatible** - Introduce n

[2020-12-22 01:14] fx19880617 commented on #6349
1. For the ingestion job, it's by design to keep the segments in output directory. The reason is that for URI and METADATA push job, the output dir is treated at the source of truth of the segment. E.g. users will use this job to generate segments and directly write into s3, then push metadata to Pinot for loading segments from the same s3 directory.

I think it's ok to add a config like `cleanUpO

[2020-12-22 10:06] amarnathkarthik commented on #6349
@fx19880617 Thanks for the clarification and suggestion.

Shouldn't we just delete the files instead of deleting the output directory for both Tar and Uri push? Also, instead of merging the segment generation and push task, maybe add the cleanUp to remove the tar files from the output directory once push finishes similar to `SegmentMetadataPush`, this will eliminate removing incorrect segment file

[2020-12-22 21:45] fx19880617 opened #6377 "Adding /plugins APIs to show Pinot plugins status and support loading plugins at runtime"
The motivation of this is due to my recent test with S3 and other remote filesystems. If we want to use PinotFS in Pinot, the only way is to build a custom config file and set the configurations explicitly, then restart the Pinot components. And it's impossible for users to run Pinot Quickstart and interact with deep store like s3.

The proposed change is to add new APIs in all Pinot components to

[2020-12-22 22:48] chenboat opened #6378 "Create a dashboard for most expensive queries per table"
In many production settings, a Pinot cluster can handle thousand of queries per second. Expensive queries can greatly impact the overall system performance. Right now, users of Pinot have to rely on external mechanisms of pinpoint these costly queries. Namely, one has to export the broker query logs with query stats and then rely on tools like Kibana to filter and find those queries.

We propose t

[2020-12-23 02:30] SandishKumarHN commented on #5362
@KKcorps was thinking to add the below string functions

1) string1 + string2 = Concatenates (joins) string1 and string2
2) string * x = Returns the characters from the range provided at x:y.
3) string[x:y] = Returns the characters from the range provided at x:y.
4) x in string = Returns True if x exists in the string. Can be multiple characters.
5) x not in string = Returns True if x does not exi

[2020-12-25 19:11] flykent1990 opened #6386 "partial upsert feature is supported yet ?"
Hi team partial for upsert has been supported for table session 0.6.0 yet

@Jackie-Jiang @fx19880617 @yupeng9

thanks

[2020-12-25 23:00] yupeng9 commented on #6386
It's not available yet. The community plans to work on it in 2021 and the design is in progress. We'll share the design when it's available in the next months.

[2020-12-26 05:26] fx19880617 commented on #5362
Just fyi, there are String functions already implemented: https://github.com/apache/incubator-pinot/blob/master/pinot-common/src/main/java/org/apache/pinot/common/function/scalar/StringFunctions.java

We can try to translate the operators to use those functions and adding missing functions.

[2020-12-26 09:46] amarnathkarthik commented on #6298
@fx19880617 I can give it a try, but since I'm fairly new to pinot, would you be able to point me to the entry point for query processing or any help to get started with this issue would be helpful.

[2020-12-27 10:33] fx19880617 commented on #6298
Thanks!

The entrypoint of query processing starts from the parser: https://github.com/apache/incubator-pinot/blob/master/pinot-common/src/main/java/org/apache/pinot/sql/parsers/CalciteSqlParser.java

You can parse the query and set corresponding objects to PinotQuery(https://github.com/apache/incubator-pinot/blob/master/pinot-common/src/main/java/org/apache/pinot/common/request/PinotQuery.java).

[2020-12-27 20:35] pabrahamusa commented on #6351
@kishoreg I will check the segments status and update shortly

[2020-12-28 03:24] amarnathkarthik commented on #6298
Thanks! Please assign this issue to me, meanwhile, I'll start my analysis.

[2020-12-28 21:25] fx19880617 opened #6389 "Adding pinot-admin command to insert a data file to a table"
So we can build and push a segment from a data file.

Sample command:

[code]

[2020-12-29 18:39] chundongwang-css opened #6393 "ArrayIndexOutOfBoundsException from GroupByOrderByCombineOperator"
We're getting `QueryExecutionError:\njava.lang.ArrayIndexOutOfBoundsException` while executing below query:
[code]

The error log on server nodes are like,

[code]
Similar query would work fine on same table with different set of data, or other column. So this might be some kind of data hitting a issue in the logic.

[2020-12-29 19:45] Jackie-Jiang commented on #6393
It might be related to the `\t` character within the string column. The [fix](https://github.com/apache/incubator-pinot/pull/5858) is included in the `0.6.0` release

[2020-12-30 07:47] amarnathkarthik commented on #6298
@fx19880617 Here is my initial analysis, correct me if I'm wrong.
Calcite does not support `SHOW (databases | tables` kind of SQL, below are the available implementations; therefore `DESCRIBE TABLE <table_name>` should work. Would you want me to implement this first?

[code]

[2020-12-30 09:06] KKcorps commented on #5362
@SandishKumarHN Functions for 1 and 3rd already exist. You can implement the rest in the class provided by @fx19880617

[2020-12-30 09:45] fx19880617 commented on #6298
For queries like `SHOW TABLES xxx`, since it's fairly simple syntax, I feel we can just parse the query then show the results.

Since calcite supports SqlDescribeTable, then we can use it for table describe query.

[2020-12-30 16:40] kishoreg commented on #6378
why not write the query response back to Pinot. Have a logger that logs the query response to kafka topic and have that ingested into Pinot. We can build multiple visualizations from that

[2020-12-31 06:50] amarnathkarthik commented on #6298
Thanks for the clarification!

Yes, parsing `SHOW <OBJECT>` should be straight forward implementation.
Here is the list of SHOW SQL Statements in the scope (Please add if I have missed any):
1. SHOW **TABLES**
2. SHOW **COLUMNS** FROM <table_name>

**Question:**
Looking at `PinotQuery.java` and `BrokerResponse.java` it's implemented mainly for `SELECT` SQL statement adding `DESCRIBE` and `SHOW` wo

[2021-01-04 17:32] mayankshriv commented on #6334
No, SegmentPurger uses the table config from controller (to identify that a it needs to build inverted index for a column), but it uses the schema in the segment and does not find the newly added column (as neither segment reload nor backfill happened), and hence the error.
Hope this answers your question.

[2021-01-04 18:28] mcvsubbu commented on #6378
We do that in Linkedin. See RequestStatistics. Feel free to add fields to it, but please do not rename the existing members :-)

[2021-01-05 01:53] amarnathkarthik commented on #6349
@plaisted Could you please mark this issue closed? I do not see an option to close.

CC: @fx19880617

[2021-01-05 02:31] plaisted commented on #6349
Ty @amarnathkarthik will check the changes out

[2021-01-05 02:31] #6349 closed

[2021-01-05 20:49] dsabonis opened #6412 "Date formatting issue in WHERE clause"
Noticed that date transformation/formatting fails in `WHERE` clause though it works fine when used in `SELECT`.
My dataset timestamp is of the following format: `2020-10-01T14:00:00.000Z`.

The following works:
[code]

But same expression fails if moved to `WHERE`:
[code]

This is likely related with handling single quotes in `SIMPLE_DATE_FORMAT:yyyy-MM-dd''T''HH:mm:ss.SSS''Z''`

[2021-01-05 20:59] fx19880617 commented on #6412
@Jackie-Jiang

[2021-01-05 21:00] fx19880617 commented on #6393
@chundongwang-css has this issue resolved?

[2021-01-05 21:01] pabrahamusa commented on #6351
@kishoreg I checked and can see the segments with correct end-date are getting deleted as per the retention period.  Thanks for the help here. Also if in case I have to update the metadata is it possible via rest api call?

[2021-01-05 21:01] chundongwang-css commented on #6393
Cannot verify on `0.6.0` yet but confirmed this is related to `\t` character. Feel free to resolve it.

[2021-01-05 22:42] Jackie-Jiang commented on #6412
@dsabonis Thanks for reporting the issue. What is the response for the second query? Does the query throw any exception?

[2021-01-06 02:49] fx19880617 commented on #6412
sample exceptions from query console:
[code]

[2021-01-06 03:11] Jackie-Jiang commented on #6412
@fx19880617 This is caused by parsing preserved keys (`timestamp` in this case). One fix could be always treat the unparseable keys as identifier. Thoughts?

[2021-01-06 05:07] fx19880617 commented on #6412
hmm, I've seen this issue on another table with the datetime field `event_time` as well.

[2021-01-06 18:31] SandishKumarHN commented on #5362
@fx19880617 @KKcorps will add those string functions in StringFunctions class

[2021-01-06 20:56] fx19880617 commented on #6349
Thanks, @amarnathkarthik !!!

This is awesome!

[2021-01-06 21:48] Jackie-Jiang commented on #6412
Find the issue and here is the fix: https://github.com/apache/incubator-pinot/pull/6416

[2021-01-06 22:24] yupeng9 opened #6417 "Add distance range's lower bound support to Geoindex"
The Geoindex introduced in this [PR](https://github.com/apache/incubator-pinot/pull/6409) supports only the upper bound of the distance range. It would be nice to add the lower bound support for queries like this
[code]

[2021-01-07 07:20] tangyong opened #6420 "[discuss]integrating Apache DataSketches library"
The following is the discussion with Mayank on slack:

Mark: Hi Team, I have seen that in 0.4.0, pinot has implemented the initial version of theta-sketch based distinct count aggregation function, utilizing the Apache DataSketches library.  Compared to Druid the latest release which has also included DataSketches extension(Theta sketch, Tuple sketch, Quantiles sketch ,HLL sketch),  pinot has any

[2021-01-08 02:02] fx19880617 opened #6422 "Allow segment generation with limited memory"
Current segment creation requires unbounded memory as we use hashmap in AbstractColumnStatisticsCollector implementations.

This may fail minion tasks also future connectors like flink/spark/presto data sink.

The goal here is to allow configure a bounded memory size for segment creation.

@Jackie-Jiang

[2021-01-08 18:19] amarnathkarthik commented on #6298
@fx19880617 Could you please review the above approach and let me know your thoughts. Thanks!

[2021-01-08 19:39] #6412 closed

[2021-01-08 20:18] Jackie-Jiang commented on #6422
I think you are referring to the hash-set for deduplicating the values? We also stores the values in an array for sorting purpose.
We can use the off-heap data structure to reduce the memory usage, but that will also be inefficient.
I have plan to unify the segment creation for offline and real-time segment, and we might be able to borrow the off-heap data structure in real-time segments.

[2021-01-09 00:07] fx19880617 commented on #6298
Thanks! Will do!

[2021-01-11 18:11] pabrahamusa commented on #6351
Thanks this is working fine after the change mentioned above. Thanks @npawar and @kishoreg for your help

[2021-01-11 18:11] #6351 closed

[2021-01-12 03:20] pabrahamusa opened #6431 "Text Index not working correctly"
I am having Text Index and and inverted Index . And for some data Text Index not able to pull out results. for the same search Inverted Index works all the time.

Eg: - The Text Index Search for following is not working
select * from mylog where text_match(log, '1DB7BAD2-406A-D773-B1DA-291664314C4F')

but it works for
select * from mylog where text_match(log, '0D82F520-62C8-9914-14B8-4C2331E54075'

[2021-01-12 03:28] pabrahamusa commented on #6431
Partial data set for not-working search is
[code]

[2021-01-12 03:29] pabrahamusa commented on #6431
@kishoreg @siddharthteotia Could you guys help me to point to correct direction to fix this issue?

[2021-01-12 05:24] pabrahamusa commented on #6431
@siddharthteotia I just tried now and can the the query working, So that means there is a huge delay for text Index to index realtime data?  or the results to appear in search. Are there any settings that controlling the text index timings?

[2021-01-12 06:07] pabrahamusa commented on #6431
@siddharthteotia   The behavior I am seeing is that the text index not pulling results from a segment that is in CONSUMING / IN PROGRESS status..!  I am posting the consuming segment metadata here

{
  "segment.realtime.endOffset": "9223372036854775807",
  "segment.start.time": "-1",
  "segment.time.unit": null,
  "segment.flush.threshold.size": "100000",
  "segment.realtime.startOffset": "0",
  "

[2021-01-12 10:39] ayush-bajaj commented on #5694
Hey, I've added the test cases, please review whenever you get a chance to.

[2021-01-12 14:41] alexandervivas opened #6433 "Consumption from external kafka instances in third party services"
Hello guys.

In our company we already have kafka as a service hosted by a third party service provider and thus our pinot cluster setup can only connect under the following constraints:

- We don't have access to the third party kafka zookeeper's address.
- Our connection can only be setup using ssl certificates and basic auth.

At first we had some troubles making pinot to connect to our kafka t

[2021-01-12 18:20] elonazoulay opened #6435 "Security: Authentication and Authorization"
Umbrella issue to implement security.

[2021-01-12 22:10] fx19880617 commented on #6433
@npawar
Are you using Kafka high-level consumer(HLC) of simple consumer(LLC)? if using LLC, then group id is not really used, in our consumption path.

[2021-01-12 22:27] npawar commented on #6433
As Xiang mentioned, you don't need to worry about group id for LLC. Can you share your Pinot table config? Are you able to query the table and get results?

[2021-01-13 09:00] rec7y33 commented on #6201
Hi there I have the exact same problem. How did you fix it?
I start pinot with docker following guides in quickstart, ingesting data from kafka in another server.
I didnt modify JAVA_OPTS.

[2021-01-13 09:50] fx19880617 commented on #6298
Hi @amarnathkarthik , thanks for sharing the thoughts! I think it's overall good! Since we are moving to SQL and plan to deprecate PQL, we can actually move this logic completely to CalciteParser.

I also looked at `CalciteSqlParser`, for `SHOW TABLES`, it throws `org.apache.calcite.sql.parser.SqlParseException: Non-query expression encountered in illegal context`. For query like `DESCRIBE TABLE m

[2021-01-13 10:07] fx19880617 commented on #6201
do you have pinot controller logs?

typically it's because of kafka connection failure.

[2021-01-13 10:11] fx19880617 commented on #6201
Is your Kafka server accessible from the Pinot docker container?

[2021-01-13 14:28] alexandervivas commented on #6433
Hey @fx19880617 and @npawar, thanks for commenting.

By the time we started to test pinot for our analytics modules in pinot docs there wasn't any way to configure a LLC since for that we needed the kafka's zookeeper address and we don't have access to it in the third party platform so we decided to go for the one that could read the entire stream.

So far our table config have been looked like th

[2021-01-13 19:13] mr-agrwal opened #6436 "Deletion of segments not working properly"
When Uploading segments to controller using Segment Uri Push, It is putting the segments in path
`fake_job_for_testing_time_based_OFFLINE/fake_job_for_testing_time_based_OFFLINE_18597_18597_0`
whereas when trying to delete the segments, it is calling exists on path
`fake_job_for_testing_time_based/fake_job_for_testing_time_based_OFFLINE_18597_18597_0`
which logs
`Failed to find local segment file

[2021-01-13 19:18] amitchopraait opened #6437 "Getting numGroupsLimitReached for medium cardinality column (10000 distinct values)"
I have a column with 10000 distinct values.

select count(distinct(device)) from metrics

{
  "resultTable": {
    "dataSchema": {
      "columnNames": [
        "distinctcount(device)"
      ],
      "columnDataTypes": [
        "INT"
      ]
    },
    "rows": [
      [
        10000
      ]
    ]
  },
  "exceptions": [],
  "numServersQueried": 1,
  "numServersResponded": 1,
  "numSegmentsQuerie

[2021-01-13 19:27] mr-agrwal opened #6439 "Support of Mode(Statistics)"
Add support of [Mode](https://en.wikipedia.org/wiki/Mode_(statistics)) Function.
A couple of strategies for calculating the same can be implemented.

1. Max among the Mode values.
2. Avg among the Mode values.
3. Min among the Mode values.

[2021-01-13 22:21] fx19880617 commented on #6439
Is there an existing library for this? From the definition, seems we need to construct the distributions of the data, seems to be a costly function as well.

[2021-01-14 02:46] rec7y33 commented on #6201
yes. it is able to curl

[2021-01-14 02:52] rec7y33 commented on #6201
`2021/01/14 02:29:21.979 INFO [ControllerStarter] [main] Starting Pinot controller in mode: DUAL.
2021/01/14 02:29:22.045 INFO [ControllerStarter] [main] Starting Helix controller
2021/01/14 02:29:22.308 INFO [HelixSetupUtils] [main] Creating a new Helix cluster: pinot-cluster-docker
2021/01/14 02:29:23.608 INFO [HelixSetupUtils] [main] New Helix cluster: pinot-cluster-docker created
2021/01/14 02

[2021-01-14 16:28] Eywek opened #6442 "bug: query parsing error"
Hello,

I’m having a weird query issue, when I try to query my cluster (via Pinot UI, with SQL (call is `http://localhost:9000/sql`)) with:
[code]

The query is executed
But with:

[code]

I get the following error:
[code]

I don’t really understand the error and why it’s happening, the only thing that changes between 2 queries is the clientId value that starts with `ef` in the first query and sta

[2021-01-14 17:46] pabrahamusa commented on #6431
Further Analysis showed there is roughly 3 minutes delay in Text Index updates flowing in . Following are the timelines measured for TextIndex . So it looks TextIndex is doing a three minute bulk index update rather than incremental. Is there any way to reduce this ~3 mts to instant like happening for inverted Index.

[code]

[2021-01-14 21:22] vmarchaud commented on #6442
From slack:
[code]

So i tested with the following and it worked fine:
[code]

[2021-01-14 22:07] pabrahamusa commented on #6431
The issue is we are seeing a delay in getting realtime segment ingested. in this case it is about 3 minutes.
As per @siddharthteotia suggestion I tried to reduce the number of columns on the realtime table to make the text index processing more faster. However reducing the text index columns are having no effect.

[2021-01-15 01:52] HyunjoonCho opened #6444 "Query Pinot through MyBatis"
Hello,

I'm trying to access Pinot through Spring-MyBatis but having some trouble.
Came up with workaround for several steps, but having hard time redirecting execute() to executeQuery().
While MyBatis Handler calls method execute() of prepared statement, Pinot only uses method executeQuery();
execute(), execute(sql) and other calls throw exception.
https://github.com/mybatis/mybatis-3/blob/master

[2021-01-15 03:56] pabrahamusa commented on #6431
@siddharthteotia @kishoreg  reducing the rowcount to 1000 from 100000 is giving me a better performance of 20 seconds delay. The timings are below. However this causes the segment count to grow x100 . Could you guys please provide me the direction to fix the issue. I have to assume this is a bug and might need a code change?

2021-01-14 22:51:06.986000
2021-01-14 22:51:26.987000
2021-01-14 22:51:4

[2021-01-15 04:27] siddharthteotia commented on #6431
We need to optimize the text index snapshot refresh code. It uses a single background thread to refresh index across all consuming segments. We need to make the refresh multi threaded.

[2021-01-15 04:28] siddharthteotia commented on #6431
Let me think a little bit on the details of code changes. We can sync up then.

[2021-01-15 04:30] siddharthteotia commented on #6431
Also the issue is not due to the delay in getting realtime segment ingested. The delay is due to the lag/inconsistency due to snapshot based text index for consuming segments. Data is getting consumed correctly and timely into the segment

[2021-01-15 04:36] siddharthteotia commented on #6431
I had suggested to reduce the number of column s with text index. Not to reduce the number of columns in the table. This can potentially make the refresh code faster. How did you test this?

[2021-01-15 08:42] #6442 closed

[2021-01-15 14:47] pabrahamusa commented on #6431
@siddharthteotia ,sorry for the misleading comment(corrected my comment above). I did not modified the table .  I tested by reducing number of columns with text index. I deleted the text index definitions for the all columns except one i.e. log. However it is not making any difference.  But, when I reduced the number of rows per segment it does reduced the lag time. However the query performance i

[2021-01-15 18:31] pabrahamusa commented on #6431
@siddharthteotia If I understand correctly the issue is because of the way how text index scans the CONSUMING segments. it keeps refreshing the entire CONSUMING segments. If the segment size is large then the refreshing takes longer which causes the lag. Please correct me if I am wrong.

[2021-01-15 20:09] Jackie-Jiang commented on #6189
@jtao15 Can you please confirm if this feature is done and tested? Also, is there any documentation for how to enable it?

[2021-01-16 19:17] pabrahamusa opened #6449 "Errors after Pinot server ran out of max map count"
My EKS node running pinot server ran out of map areas and I bumped it to 262144 from default.
When the error came pinot stopped consuming segments. I updated the max map in os and restarted the server. After starting
the realtime table was showing Bad status. However it recovered eventually. I am seeing following message after that and
wondering is this due to some hidden problem somewhere in pino

[2021-01-18 03:54] #6436 closed

[2021-01-18 03:54] fx19880617 commented on #6436
Fixed in #6445

[2021-01-18 04:28] fx19880617 commented on #6444
@KKcorps
Have you tried the pinot-jdbc-client?
https://github.com/apache/incubator-pinot/tree/master/pinot-clients/pinot-jdbc-client
https://mvnrepository.com/artifact/org.apache.pinot/pinot-jdbc-client

[2021-01-18 04:32] fx19880617 commented on #6449
I think this is due to the max open file limit. Once you uplift it, this issue should just be resolved.

How long have you seen the real-time segments are in bad status? Pinot internally has a periodical check to fix the consuming segments errors.

[2021-01-18 07:10] #6389 closed

[2021-01-18 12:51] HyunjoonCho commented on #6444
Thanks for your comment,
yes I just solved it using jdbc client :)

[2021-01-18 12:51] #6444 closed

[2021-01-18 17:16] npawar opened #6453 "Handle creation of empty segment"
Currently, if segment creation is started with no rows, we error out. We stumbled upon this issue while working on the Kinesis connector. In the Kinesis connector, we are going to trigger segment completion on criteria of reaching  end-of-shard (in addition to rows and time thresholds). It is possible that the CONSUMING segment associated with the shard has no rows, and then the segment completion

[2021-01-18 17:31] pabrahamusa commented on #6449
@fx19880617 , Max open file limit was unlimited however I had to update vm max map count in os. After that I restarted Pinot cluster and this came right after the restart of Pinot Server. But it disappeared after 10 mts and cluster recovered automatically. It is good to know that there is a periodical check to fix the segments. Most of these segments in the ERROR list are completed ones.  Do you t

[2021-01-18 19:54] mcvsubbu commented on #6453
I am not sure creating empty segments is a good idea all the time. Certainly, for offline use cases, it is better to flag this early and fail the job, so at the minimum, we should implement this as an option.

Even in the realtime use cases, generating many empty segments may cause unnecessary overhead during query processing.

[2021-01-18 22:11] pv93 opened #6454 "`helm upgrade` command fails"
`helm version` output:

[code]

Upgrading from chart version 0.2.2 to 0.2.3

Ran the following command:
[code]

Got output:
[code]
Looks like this has to do with the latest upgrade to the chart: addition of the minion https://github.com/apache/incubator-pinot/pull/6430

[2021-01-19 06:48] fx19880617 commented on #6454
Thanks for reporting this! The issue is that `_helpers.tpl` is not packaged correctly.

Updated the package in PR #6459.

[2021-01-19 08:00] troywinter opened #6460 "HadoopPinotFS isDirectory wrong implementation"
[code]
fileStatus will always return false, since default constructor will set isDir to false, and setPath will not affect isDir.

[2021-01-19 08:18] #6454 closed

[2021-01-19 18:51] #6460 closed

[2021-01-19 20:23] spaghettifunk opened #6464 "Proposal for a Kubernetes Operator"
I created a project where you can deploy and manage (still in a basic form) an Apache Pinot cluster via a Kubernetes Operator. You can find it [here](https://github.com/spaghettifunk/pinot-operator). We could use it as base for an official Apache Pinot Kubernetes Operator ☺️

[2021-01-19 22:39] npawar commented on #6453
Regarding `Even in the realtime use cases, generating many empty segments may cause unnecessary overhead during query processing.` - In realtime case especially, this will be a very very rare occurrence. It will never even happen in streams which only rely on time/rows thresholds.
And whatever empty segments we do end up with, they should be handled in the segment merge/replace.

Also, lets keep t

[2021-01-20 00:24] Jackie-Jiang commented on #6453
Please make sure the metadata can be correctly generated without any record. Also, we should prune out empty segments as the first step to prevent the query engine (both Broker and Server side) throwing exception while processing them. Currently we assume the segment cannot be empty.

[2021-01-20 17:00] npawar commented on #6453
do you mean we introduce a broker side pruner, something like EmptySegmentPruner, that is always in effect? Or did you mean prune it in some other way?

[2021-01-20 18:40] Jackie-Jiang commented on #6453
Yes, and we need to make sure all the pruners on the broker side can handle the empty segment metadata properly

[2021-01-20 21:17] fx19880617 commented on #6464
@daniellavoie fyi

[2021-01-21 06:10] kant777 opened #6470 "support for expansion of * in the project part of a query"
Currently pinot cannot support

[code]

would be great to support the above syntax.

[2021-01-21 07:35] khanhpv opened #6471 "Spark-Pinot Connector regexp_like not worked"
Please make a confirmation about this. We have configured spark with
usePushDownFilters = true
but it seems spark not push down filters to pinot server, and exception thrown:

org.apache.spark.sql.AnalysisException: Undefined function: 'REGEXP_LIKE'. This function is neither a registered temporary function nor a permanent function registered in the database 'default'.; line 1 pos 44
        at org

[2021-01-21 08:47] fx19880617 commented on #6471
I think REGEXP_LIKE is pinot specific function, which is not registered in spark SQL. So you may need to register it then use it.
cc @mangrrua

[2021-01-21 08:52] fx19880617 commented on #6449
If all segments are in ONLINE/CONSUMING status, then you are good.

So the fix is not on the k8s side but on VM OS config.

@daniellavoie just FYI ^^

[2021-01-21 11:28] mangrrua commented on #6471
Yes, connector uses SQL instead of PQL. So it does not support regexp_like function. Use stringContains or some simirlar methods if it's fit your case.

[2021-01-21 17:38] pabrahamusa commented on #6449
@fx19880617  Thanks for the details. I just keep monitoring the system and the memory for the System was going through the edge. I noticed that once it happens and If i leave it for say couple of days following errors will appear and Pinot server will stop ingestion completely. Is there any way to fix this issue?

![image](https://user-images.githubusercontent.com/47830507/105389114-772cdf80-5be5-

[2021-01-21 17:44] pabrahamusa commented on #6449
These are my Cluster info

Number of Segments : 23114 / 23115
Status : BAD (in the UI ) This is a bug?
Estimated Size : 84312409908
Reported Size: 84312409908

[2021-01-21 23:44] kkrugler opened #6473 "Support no forward index for column"
Currently a text column can be created without any forward index, which is useful when using the column only for filtering. In this situation, the raw (original) text data is not needed, only the text index (see https://github.com/apache/incubator-pinot/pull/6284/).

There are other situations for non-text columns where this same functionality is useful to reduce the size of the column. In our par

[2021-01-22 01:14] fx19880617 commented on #6449
Can you check if the controller deep store is full? It may prevent the consuming segments to be uploaded to it, which stops the consumption.

Also, from the log, seems that you have a lot of segments, each with a small size like 3.6MB, what's the segment flush size you configured? I feel we can at least make the flush size  50 times to reduce the number of segments.

[2021-01-22 03:47] khanhpv commented on #6471
Is there any chance to push the filters using regexp_like to pinot server instead of running filter on spark to optimize using resource? @mangrrua

[2021-01-22 04:19] pabrahamusa commented on #6449
@fx19880617 do you mean the controller data folder?  I have mapped /var/pinot/controller/data to a SSD and its max size is 10GB however it was only 50% full. I am using 2 controller and both were just around 50% full.

I have some questions:
a) Is it ok if I move this controller data folder to EFS? So it will grow automatically. Or will it cause any latency?. Please note for pinot server I will co

[2021-01-22 04:34] subourbonite commented on #6449
You can't have two controllers with separate storage. You can run multiple controllers, but they must have a consistent view of the data (S3, EFS, etc).

[2021-01-22 09:35] mangrrua commented on #6471
I think it's not a good idea. Pinot will start using SQL instead of PQL completely. Also, connector uses SQL compiler of Pinot, and I don't know SQL compiler supports regexp_like function or not.

[2021-01-22 09:48] fx19880617 commented on #6449
a) For controller storage, it's only on data load/backup path, not query path, so it's recommended to use blob store like s3/hdfs.
b) I think we can leverage minion framework to generate tasks to merge small segments, this task is not yet implemented, which we can implement.
c) Do you mean restart server only won't fix? Typically restart servers will fix the error segments issue.

[2021-01-22 11:02] fx19880617 commented on #6471
I feel in this case, we need to write the query in SparkSQL syntax and in the filter PushDown code (https://github.com/apache/incubator-pinot/blob/master/pinot-connectors/pinot-spark-connector/src/main/scala/org/apache/pinot/connector/spark/connector/FilterPushDown.scala#L54) to rewrite the query to Pinot `regexp_like` expression, then query Pinot.

[2021-01-22 14:58] khanhpv commented on #6471
I'll try this. Thank you so much, mangrrua and fx19880617

[2021-01-22 14:59] khanhpv commented on #6471
When this release?

[2021-01-22 18:05] pabrahamusa commented on #6449
@subourbonite  I am running two controllers and two brokers not aware that the controller data should be shared . I can map a same PVC for both controllers. Thanks for pointing it out.

@fx19880617
a) it is good to know that I can use S3 for controller storage and use it as a backup. Could you share some documents related to setting it up. is it same as the deep store functionality?

b) Hope there

[2021-01-22 18:39] subourbonite opened #6478 "Time column predicates are invalidating use of star-tree indices"
In some cases, time-column predicates are disqualifying queries from using star-trees, when they would otherwise be used. Specifically, this appears to be the case when using a dynamic timestamp comparison against the now() operator:

`SELECT dimension, SUM(metric) AS totalMetrics FROM myTable WHERE otherDimension='filterValue' AND eventTimestamp >= cast(now() - 172800000 as long) GROUP BY 1 ORDER

[2021-01-22 18:41] fx19880617 commented on #6471
we need to make a code change for this :)

[2021-01-22 20:22] Jackie-Jiang commented on #6478
This is unexpected. `cast(now() - 172800000 as long)` should be replaced with the actual value on the broker side, and these 2 queries should be identical on the server side. @fx19880617 Can you confirm?

[2021-01-22 20:42] mayankshriv commented on #6478
I did a simple test to compile the query to BrokerRequest, and do see `cast(now() - 172800000 as long)` as LHS. My test did not actually go through any query execution.

[2021-01-22 21:16] Jackie-Jiang commented on #6478
The problem is that we don't have a scalar function implementation of `cast()`, thus it won't be resolved at compilation

[2021-01-22 23:35] fx19880617 opened #6480 "Support Kafka Consumer in exact-once semantics"
Seeing more requirements on this.

Kafka consumer supports exact-once semantics but requires code changes.
Code snippet:
[code]

We can add a config in kafka-2.0 plugin and switch the code path.

[2021-01-23 05:59] pabrahamusa commented on #6449
@subourbonite At the moment the helm chart in the repo uses Statefulset for controller. which always creates separate storage. The folder in the chart for controller is /var/pinot/controller/data.  And I used the chart to create the Cluster.
Also how can I set controller data to S3, I am assuming that involves a whole set of different configuration?

[2021-01-24 11:20] mangrrua commented on #6471
Actually, methods below uses SQL `like` method.

[code]

[2021-01-24 19:31] kkrugler commented on #6293
See a somewhat related issue filed for Flink - [Move test base classes from flink-tests to flink-test-utils](https://issues.apache.org/jira/browse/FLINK-21107)

[2021-01-25 00:19] pabrahamusa commented on #6431
@siddharthteotia
I dont know much abt Pinot code , However it seems like
MutableSegmentImpl.addNewRow() calls PhysicalColumnIndexContainer._xxxxxIndex to fetch the Index for all type of indices.
PhysicalColumnIndexContainer._invertedIndex is pulled from PinotDataBuffer (segmentReader.getIndexFor()) which I assume is memory or Consuming segments and it is same for _fstIndex, _rangeIndex, _h3Index,

[2021-01-25 01:58] khanhpv commented on #6471
It's currently not working, everywhen I execute statements with StringContains, the Pinot server returns LIKE enum not found.

[2021-01-25 13:49] RogerGMartins commented on #4134
Hi can this be patched in the latest version? The problem persists and I don't see any commit doing the fix.

[2021-01-25 21:20] fx19880617 opened #6487 "Adding numStartreeUsed in query stats"
This is to provide more insights on how many segments are using star-tree for every query.

[2021-01-25 21:20] fx19880617 commented on #6487
cc: @Jackie-Jiang

[2021-01-26 05:27] fx19880617 commented on #6449
you can follow this doc to add configs for s3.

[2021-01-26 08:30] siddharthteotia commented on #6431
I have a proposal to fix this. This is essentially an  enhancement. Let's meet and discuss. Happy to help you make the code changes else I will find time to make the changes. In any case, let's meet.

[2021-01-26 20:55] kkrugler opened #6491 "Groovy-based SimpleTemplateScript1 parser for job yaml file complains about characters in commented-out lines"
If you have a job spec file that contains something like:

[code]

Then the parsing of this file will fail with:

[code]

Where line 37 is `#   'glob:**\/*.avro' will exclude all the avro files under inputDirURI recursively.`. The problem is the `\` character, which should be getting ignored since the line is commented out.

[2021-01-26 21:05] kkrugler opened #6492 "HadoopSegmentGenerationJobRunner isn't setting up Hadoop distributed cache correctly"
Currently the code creates a tarball of the plugin directory inside of the Pinot distribution directory, and then calls `job.addCacheArchive(file://<path to tarball>`. This won't work, as all that this call does is store the path in the JobConf. On the slaves, this path is used as the source for copying files to slaves, but that `file://xxx` path doesn't exist.

The Hadoop [DistributedCache docume

[2021-01-26 22:05] pabrahamusa opened #6493 "Fatal Error - Problematic frame libc.so.6+0x15c6ff - Server Crash"
I am facing an issue where both Pinot servers are not restarting and they are keep on crashing with following error. I am using latest image. Any one came across this?

 [Times: user=0.02 sys=0.00, real=0.00 secs]
#
# A fatal error has been detected by the Java Runtime Environment:
#
#  SIGBUS (0x7) at pc=0x00007f104649b6ff, pid=1, tid=0x00007ee665d06700
#
# JRE version: OpenJDK Runtime Environmen

[2021-01-26 22:18] pabrahamusa commented on #6493
[code]

[2021-01-26 22:22] pabrahamusa commented on #6493
[code]

[2021-01-26 22:23] kishoreg commented on #6493
what changed?

[2021-01-26 22:43] pabrahamusa commented on #6493
Nothing Changes it was running for 3 days without a hinch and suddenly keep crashing. I changed the memory from -Xms512M -Xmx4G to -Xms12G -Xmx12G and servers are up . Not sure what happened here..!! Also cannot get hold of coredmp or threaddmp as it is container. I may have to map /opt/pinot to some pvc.

[2021-01-26 22:49] pabrahamusa commented on #6493
Anyways all the segments are in corrupted status..!!!  It seems I have to restore the server from backup again..!!!

[2021-01-26 23:18] pabrahamusa commented on #6493
I reloaded the segments and the server is back online . Is there any way to speed up the catch up process from the kafka stream?

[2021-01-26 23:25] SandishKumarHN commented on #6478
@Jackie-Jiang will work on adding a scalar function for cast() based on your suggestion offline.

[2021-01-26 23:47] kishoreg commented on #6493
add more servers and once they catch up, shrink the cluster and rebalance..

[2021-01-27 00:44] Jackie-Jiang commented on #6487
Is this mostly for default star-tree where we don't know if a dimension is included?

[2021-01-27 00:56] fx19880617 commented on #6487
Yes, this is a good sign for users to check if the query is fitting for star-tree or not.
This will also help when we are adding a new star-tree, we can just query to see the rebuild progress

[2021-01-27 00:59] pabrahamusa commented on #6449
@fx19880617 , Other than adding configs to controller and server I can see a Job spec as well. Why we need a Job spec? I was expecting controller to push segment directly to s3 and download directly from s3 whenever required without any job. Is it possible to implement S3 backend without Job?

[2021-01-27 08:11] pabrahamusa commented on #6449
@fx19880617 , I followed the steps and tried to modify JAVA_OPTS to add the se plugin. But it does break kafka. I am seeing the following error.

 [main] {"code":500,"error":"org.apache.pinot.plugin.stream.kafka20.KafkaConsumerFactory"}

[2021-01-27 10:20] fx19880617 commented on #6449
Can you check if you set the plugin directory in the JAVA_OPTS? `-Dplugins.dir=/opt/pinot/plugins`

[2021-01-27 10:22] fx19880617 commented on #6449
If you deploy Pinot minion and enable the CRON scheduler and set the cron expression in table config, then it's possible :)
Ref PR: https://github.com/apache/incubator-pinot/pull/6451

I'm also adding the corresponding documentation for this feature into pinot docs.

[2021-01-27 14:19] spaghettifunk commented on #5590
I think it would be nice to be able to generate the client once a release is cut. In this way both client and server have the same version. You could use **Github Actions** to do automate the generation. For example, it is sufficient to do `swagger generate client -f ./path/to//swagger.json -a kind -A pinot-sdk` and you have it available. Does it make sense?
Maybe the default generated client is t

[2021-01-27 17:11] pabrahamusa commented on #6493
Thanks @kishoreg , The server did not recover. it went to bad state again and Pinot server crashed. I had to do the hard way delete and recreate.  What are the possibilities of server crash in Pino and what steps normally we can take to avoid this?

[2021-01-27 17:49] kishoreg commented on #6493
any logs that you can share.

[2021-01-27 17:59] kkrugler commented on #6491
The [Groovy Template Engine documentation](https://docs.groovy-lang.org/docs/next/html/documentation/template-engines.html#_advanced_usage_note) warns about backslashes in text:

I think an appropriate solution would be to modify `GroovyTemplateUtils.renderTemplate()` to first strip out comment lines (maybe with a boolean parameter to control?) before passing text to the `GROOVY_TEMPLATE_ENGINE`.

[2021-01-27 18:48] anmol-v opened #6496 "thirdeye presto import breaks"
when i try to import metrics from presto, i face the following error.
in the mean while i'm able to import metrics from mysql
`java.lang.NullPointerException: null
        at org.apache.pinot.thirdeye.datasource.sql.SqlResponseCacheLoader.getDimensionFilters(SqlResponseCacheLoader.java:276)
        at org.apache.pinot.thirdeye.datasource.sql.SqlThirdEyeDataSource.getDimensionFilters(SqlThirdEyeDat

[2021-01-27 18:57] nshay opened #6497 "Parquet File Reader throws java.lang.IllegalArgumentException: INT96 not yet implemented."
When ingesting parquet files from S3, I receive the following exception:

It seems that the parquet version needs to be upgraded (currently 1.8, should be at least 1.11). [Here's the relevant JIRA
](https://issues.apache.org/jira/browse/PARQUET-1480)

My parquet file was created with parquet version 1.5

`java.lang.IllegalArgumentException: INT96 not yet implemented.
        at org.apache.parquet.

[2021-01-28 00:46] fx19880617 commented on #6491
Agreed. Will make the change.

[2021-01-28 03:16] Jackie-Jiang commented on #6497
It is still not supported in the latest parquet library, and fyi the title of the linked JIRA is `INT96 to avro not yet implemented error should mention deprecation`, and the latest parquet library just changes the exception message.
Also, the `INT96` type is already deprecated. I think the only solution would be to regenerate the parquet file without using type `INT96`.

[2021-01-28 04:17] kkrugler commented on #6491
I just noticed some yaml files have a comment at the end of a line, so the stripping should be from `#` to end of line, not complete lines.

[2021-01-28 08:31] fx19880617 opened #6500 "Add config to limit the parallelism of segment reload on Pinot Server"
Segment reload itself may trigger index generation and could put large memory pressure when many segments are reloading in parallel.

Similar to realtime segment generation, we should provide a configure on Pinot Server side to limit the parallelism on segment reload.

[2021-01-28 16:53] pabrahamusa commented on #6493
@kishoreg @fx19880617  , it crashed again and Pino server stopped consuming messaging and query started to give incorrect results. The errors I can see are below

[code]

[2021-01-28 17:04] pabrahamusa commented on #6493
@kishoreg what could be the possible reasons the space is getting filled when I try to catch up messages from the stream? This will  only happen when I recreate the table and try to catch up messages.

[2021-01-28 19:31] Jackie-Jiang commented on #6493
Storage will be filled up naturally as the servers consume more records, and flush them to the disk. Can you please check the disk space left in your data directory?

[2021-01-28 19:42] pabrahamusa commented on #6493
@Jackie-Jiang Thanks it was 100% . I deleted some data from stream . But not sure why a full stream catch up takes more disk space that normal realtime consumption. From my understanding data size for three days retention on kafka should remain same whether we consume  in Pinot at one shot or consume in three long days.

[2021-01-28 19:47] pabrahamusa commented on #6449
Thanks @fx19880617 , will try the CRON minion and see. Also as @subourbonite mentioned I mapped the stateful set for controller to use single pvc mount. So controller data is shared across all controller pods. Also I mapped the controller to use an EFS with no restriction in data size. Now my question now is

As the controller pvc have a copy of all segments will it suffice as a backup if one of t

[2021-01-28 20:31] Jackie-Jiang commented on #6493
While consuming, Pinot allocates some mmap'ed files as the off-heap memory buffer. If the consumption rate is very high, the file size could be larger because we will have more records in one segment. I would recommend giving more room for the storage, e.g. keep the usage under 50%

[2021-01-29 03:58] #6491 closed

[2021-01-29 17:41] mangrrua commented on #6471
@fx19880617 Doesn't pinot sql support `like` keyword?

[2021-01-29 18:46] kkrugler commented on #6491
Hi @fx19880617 - thanks for fixing so quickly!

I am curious, though - since the template engine is inspecting text (even comments), could a poorly-formed substitution pattern in a comment also trigger an issue?

[2021-01-29 19:17] kkrugler opened #6505 "Push parallelism isn't implemented in Hadoop batch ingestion"
In `HadoopSegmentTarPushJobRunner.run()`, this is the code at the very end of the method:

[code]

So it doesn't actually use `pushParallelism`, and `SegmentPushUtils.pushSegments()` does a single-threaded (sequential) push.

[2021-01-29 22:06] kkrugler commented on #6492
While digging into the code, I found a few more issues that I'm fixing in the same PR:

- Mapper was creating temp plugin directory in pwd (probably only an issue during tests)
- Mapper wasn't registering Pinot file systems before starting segment generation.
- Mapper was incorrectly using the `overwriteOutput` flag when writing segments to staging dir.
- Job runner wasn't clearing out staging dir

[2021-01-30 14:50] pabrahamusa commented on #6493
Thanks for the suggestion @Jackie-Jiang , I will allocate more space. Also wondering whether it is possible to set the segment time based on the time field from kafka? So that segments will expire based on kafka time rather than Pinot segment created time. My retention is 3 days , the issue happens when I have to catch up entire 3 days messages at once and all the caught up segment  dates will hav

[2021-01-30 16:58] siddharthteotia commented on #6431
Sync'd up with @pabrahamusa .

There was a bug in realtime text index. Had provided a custom build to Matt with fix and more logging. The lag issue was fixed with the build. Matt is doing some more testing.

[2021-01-30 17:26] siddharthteotia commented on #6473
What's the size of the forward index for the multi value column? Dctionary IDs in the forward index are bit encoded. Looks like it's very high cardinality and must be having several millions of rows per segment to result in reasonable size overhead.

[2021-01-30 18:25] mcvsubbu commented on #6431
@siddharthteotia can you briefly describe the bug? I thought we had handled text index from within mutable segment?
In any case, we should add a test case for it.

[2021-01-30 23:53] dongxiaoman opened #6509 "Mmap lib issue after upgrading from Ubuntu 16.0 to 20.0"
Our Pinot hosts were upgraded from Ubuntu 16.0 to 20.0, and some of the segments are having trouble loading up. Below are the error logs:
[code]

Another error is like this:
[code]

[2021-01-31 23:59] pabrahamusa commented on #6431
@siddharthteotia Afraid to say that the issue is not fully fixed. The lag time is ~20 - 40 seconds when the segment row count is 100000. However, when I bumped it to 900000 the lag time steeped up to ~7 - 9 minutes..! .  Please note that inverted index is always giving stable results ~10 secs no matter the row count of segments. It will be great if we fix the bug in a way that text index also beha

[2021-02-01 02:31] fx19880617 commented on #6509
@Jackie-Jiang ^^

[2021-02-01 03:16] siddharthteotia commented on #6431
We can go through the logs tomorrow based on the new build that I gave with additional logging and debug further. I thought you wanted to reduce the lag from 3 mins to 30secs or so which the new build has.

Also, your comparison is not fair. If your functionality can be achieved with inverted index, then text index should not be used at all. Inverted index should always be the first choice..

But

[2021-02-01 08:31] rkanumul opened #6510 "Add unit tests for ADLSGen2PinotFS"
At Linkedin we are planning to use ADLSGen2PinotFS but unit tests are currently a TODO.
Add unit tests to improve confidence and completeness.

[2021-02-01 08:36] rkanumul opened #6511 "Support Service principal based ADLSGen2PinotFS authentication"
Linkedin plans to use ADLSGen2PinotFS but requires service principal based authentication to do that for better ACL control.
The current accesskey based auth would be harder to maintain with multiple applications.

Reference docs
https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-directory-file-acl-java#connect-by-using-azure-active-directory-azure-ad

[2021-02-01 08:43] rkanumul opened #6512 "Support Auto creation of containers in ADLSGen2PinotFS on initial run"
The current implementation fails in case the container is not created beforehand. This adds additional friction when on-boarding new use cases or standing up pinot on a new environment.

[2021-02-01 09:52] ayush-bajaj commented on #5694
hey @jackjlli, I've responded to one of your comments. can you please take a look whenever you get a chance to.

[2021-02-01 15:37] pabrahamusa commented on #6431
@siddharthteotia, we can go through this and I am sure we can get this fixed. Also the fix you provided last week is working as expected for ~100K rows and thanks a lot for that.

From my preliminary testing query search performance appears same for both text index and inverted index. it is just the NRT lag that have the diff.

The queries I tried with inverted index is with term query or exact ma

[2021-02-01 17:04] dongxiaoman commented on #6509
Tried upgrade to `xerial.larray` latest version (4.2.1) , still not working

[2021-02-01 18:35] Jackie-Jiang commented on #6493
@pabrahamusa Pinot is using the time column (should be the time field in kafka as well) value to expire the segment, instead of the segment creation time. The segment will still be created, but should be removed once the latest time value is older than the retention.

[2021-02-01 20:36] fx19880617 opened #6516 "Set error messages in helix for state transition failues"
It can help access the errors from the controller UI without searching server logs for segment errors or broker/server instances go into error status.

[2021-02-01 20:44] kishoreg commented on #6516
can you please elaborate "set error messages in helix"

[2021-02-01 21:41] mcvsubbu commented on #6516
If I understand what @fx19880617  is saying, it is to provide an API in the controller to retrieve Helix state transition error messages and perhaps history as well. I concur that it is a useful feature to have. Once we have the servers and the error messages, we can look into the server for a specific cause.

[2021-02-01 22:32] fx19880617 commented on #6516
Yes, right now we only know that segment in error state from external view. The goal is to also set the stacktrace for segment loading and easy for users to retrieve it.

[2021-02-01 23:04] fx19880617 commented on #6509
hmm, does it work with java 11?

[2021-02-02 01:01] mcvsubbu opened #6517 "Time column transform with same name"
It will be useful to have a transform function in the ingestion path that transforms the time column into different units (e.g. mills to hours since epoch, or millis to minutes since epoch, etc.) without needing to change the column name.

In fact, this functionality is useful for any column.

That way, if an application has data in hadoop, or is ingesting data into a stream, it can use the same c

[2021-02-02 01:33] subourbonite commented on #6517
I actually think that having the same column name spread around multiple systems with a different grain / format / definition can become a serious data usability problem over time - especially if queries expecting the original grain or format still run successfully against the 'new' format, but return different results.

Does it make sense to possibly make a column replacement fail by default, and

[2021-02-02 04:55] HyunjoonCho opened #6519 "Update document for JDBC client"
Hello,
I updated JDBC client from 0.5.0 to 0.6.0 and it did not work with previous setting.
Then found out that it only requires controller url now, which is referred as WIP in document.
https://docs.pinot.apache.org/users/clients/jdbc#usage
Update on this document will be a big help for newcomers.
Thanks.

[2021-02-02 05:09] kishoreg commented on #6519
@KKcorps

[2021-02-02 06:04] kishoreg commented on #6516
Got it. One thing to keep in mind is that state transition error messages get cleaned up automatically by Helix. we should probably do something like this
- each server stores the error message/segment status in segmentDataManager
- exposes an api to get the status along with message
- controller can invoke the server api on demand

Please don't save the error stacktrace in Helix

[2021-02-02 08:24] longtrinhvan commented on #5598
không làm mà đòi có ăn thì ăn đầu buồi, ăn cứt

[2021-02-02 08:31] tannghia025 commented on #5598
có ví dụ write xuống pinot đâu nó như thiệt cay vl

[2021-02-02 12:35] KKcorps commented on #6519
Hi @HyunjoonCho Thanks for pointing out the issue. Fixing it in the docs now.

[2021-02-02 13:18] KKcorps commented on #6519
Hi @HyunjoonCho I can see it mentions controller URL only in the page you mentioned. Can you point me to the exact location where you found WIP and old config.

[2021-02-02 13:23] HyunjoonCho commented on #6519
Hi, the page I mentioned said WIP 8 hours ago but seems someone fixed it! Thanks

[2021-02-02 13:32] daniellavoie opened #6520 "Expose segment reload status as JMX Metric"
It would be very helpful for operation purpose to have the ability to get quick overview on the reload status of a table.

All I could find for now is the `GET /segments/{tableName}_OFFLINE/metadata?type=OFFLINE`. As I'm exploring its output, I realize that the reload status is specific to each individual segments. While providing a startree status there would be a good step forward, a global stat

[2021-02-02 14:35] khannavivek opened #6521 "Pinot creating segments again on restart and takes too much time"
Hi,

I am running pinot-ingestion-job with this params

`jobType: SegmentCreationAndTarPush
inputDirURI: 'inputdirectoryPath'
includeFileNamePattern: 'glob:**/*.csv.gz'`

and everytime I restart pinot it created all the segment again for all the files and takes too much time for that too. Is there a way to persist the previously created segment and use those segments in next start to save time?

[2021-02-02 14:37] pabrahamusa opened #6522 "Failed to send lease extension for table - Pinot Stopped"
Pinot stopped working completeky after throwing following error? it is saying entry size '44554062597' is too big ( > 8589934591 . Where is this setting? And how can I fix this?

[code]

[2021-02-02 14:52] pabrahamusa commented on #6522
After restart I can see different error also , seems like something not correct with segements. This happened when I accessed the table via controller UI.

[code]

[2021-02-02 17:29] mcvsubbu commented on #6516
I think Helix preserves the error stack/messages for a few days? State stored in segmentDataManager can go away on restart. I think there is value in retrieving helix messages (if they exist) as well.
On a recent issue in Linkedin, it turned out that the state transitions did not succeed and caused a performance hit on pinot servers. The errors went away upon restart. I can totally imagine an admi

[2021-02-02 18:43] #6522 closed

[2021-02-02 18:44] pabrahamusa commented on #6277
@fx19880617 Any way whether I can restrict the segment size not to go beyond 8GB , I tried setting
"realtime.segment.flush.desired.size":"400M", but still getting the error

[2021-02-02 19:30] fx19880617 commented on #6277
do you have the stacktrace ?

[2021-02-02 19:50] icefury71 opened #6523 "Support for configurable time column in Upserts"
Currently the Pinot upserts functionality is using the primary time column to resolve the latest version of a record/document. In some cases, its desirable to make this configurable so that we can choose a custom resolution column.

CC @yupeng9 @Jackie-Jiang @jeff-transmit

[2021-02-02 20:04] daniellavoie opened #6524 "Provide table ingestion status through API"
# Summary

Operating Pinot on behalf of data engineers represents a challenge when these users only have access to the Controller endpoints. SRE aren't specifically aware of tables configurations details as created by the system users. If something is wrong, there is no other means for data engineers to get the details of the error than requesting log extraction from SREs.

# Observed use cases

#

[2021-02-02 20:24] daniellavoie opened #6526 "Make minion workers stateless"
While minion workers are stateless by nature, the task framework requires them to register with a specific `instance_id`  to Helix. Minion workers tends to be scaled up and down based fluctuant workload requirements. While it does not prevent the system from worker, scaled down instances will remain as DEAD in the cluster manager.

If Pinot includes a cleanup job for minion instances, then we coul

[2021-02-02 20:49] pabrahamusa commented on #6277
@fx19880617  Here is the stack trace ,

I tried these
          # realtime.segment.flush.desired.size="400M" -- not sure this is working
          # "realtime.segment.flush.threshold.size": "400M" - asper docs this should work but still get below error

Only thing working for me is rows as follows, But my individual row size changes drastically so I want to fix it based on a fixed size to avoid th

[2021-02-02 20:55] daniellavoie opened #6527 "Metrics for pending minion tasks"
A metric indicating how many minion tasks are pending would be very valuable to streamline autoscaling for minion workers and also raising alerts.

[2021-02-02 21:18] pabrahamusa commented on #6277
So my config at the moment is this , however in the segment folder I can see massively huge segments i.e. > 4G . why this is happening. I am trying to control it to 500M .

[code]

[code]

[2021-02-02 22:36] fx19880617 commented on #6520
I feel it might be too much overhead to expose segment level status.
But possible to provide aggregated metrics at table level and maybe table/column level.

[2021-02-02 22:39] daniellavoie commented on #6520
Yes aggregated would be fine. Mostly, this metric is to answer `Is it down yet?`

[2021-02-02 22:51] fx19880617 commented on #6520
Got it, then I  think we can add a gauge value in pinot server per table/column/index.

[2021-02-02 23:24] pabrahamusa commented on #6277
@fx19880617 further analysis it is clear that the size is coming from columns.psf

[code]

[2021-02-02 23:52] mcvsubbu commented on #6524
We have a metric that is set to 1 if a stream partition is consuming correctly, 0 otherwise. In LinkedIn, we set an alert if the consumption falls to 0 for more than some period of time.

Note that if the consumption fails for some stream partitions, the Realtime segment checker in the controller automatically attempts to restart consumption on the partitions. You can set the frequency of the auto

[2021-02-03 00:03] fx19880617 commented on #6277
Right, `column.psf` is the single file that merges all the columns' data. Do you have the index_map file or segment metadata file, which will tell the size for each column? It should give a relative ratio for the number of rows and segment size.

From the table config, you can set the flush size to a limit number, which will flush based on a hard row limit.

@npawar I think the size-based flush me

[2021-02-03 00:03] fx19880617 commented on #6277
Meanwhile we will fix the tar gz issue

[2021-02-03 00:08] daniellavoie commented on #6524
Thanks for these details @mcvsubbu. My use case is more about providing feedback to the user who created the table config from the rest API. Metrics are intended to monitored by SRE, but if I don't have access to logs, there is no way for me to understand what is wrong with the table config without calling the SRE running the cluster.

[2021-02-03 00:13] npawar commented on #6277
The segment size threshold config will kick in only when rows threshold is set to 0. Prolly not working for you because the flush.threshold.rows is set to something in your examples.

It should be like this
[code]

[2021-02-03 00:53] xulinjintu opened #6532 "Server Rack Metadata Retrieval and Persistence on Azure Environment"
In order to move Pinot to cloud, cloud VM rack metadata awareness is needed for maintenance purpose and disaster recovery. In Azure use cases, fault domain (FD) metadata is needed in the Pinot ecosystem during update or fault events.

In this issue we will focus on retrieving and persisting FD and VM instance information of Azure VM for Pinot servers so that later on we can use this mapping to fit

[2021-02-03 01:03] fx19880617 commented on #6277
https://github.com/apache/incubator-pinot/pull/6533

[2021-02-03 02:14] mcvsubbu commented on #6524
We also return metadata to the broker as to the newest timestamp we have consumed. It is set in the BrokerNativeResponse as the minConsumingFreshnessTimeMs, indicating the lowest timestamp amongst the most recent record consumed in each segment. (i.e. if segments g1 and g2 are queried, and the timestamp of most recent record in these are t1 and t2 respectively, then we will return min(t1, t2)).

T

[2021-02-03 02:18] daniellavoie commented on #6524
Counters, metrics and gages does not tell the story of what is wrong. Health check observability is not the problem I am trying to solve here. Client needs to understand the error message related to the bad configuration, not if their config is good or bad.

[2021-02-03 02:20] rkanumul commented on #6512
https://github.com/apache/incubator-pinot/pull/6531

[2021-02-03 02:20] rkanumul commented on #6511
https://github.com/apache/incubator-pinot/pull/6531

[2021-02-03 02:20] rkanumul commented on #6510
https://github.com/apache/incubator-pinot/pull/6531

[2021-02-03 13:39] pabrahamusa commented on #6277
@npawar , I tried the configs you provided it is not working I still get the following error

[code]

[2021-02-03 15:19] HansOspina commented on #5837
@SandishKumarHN let me know if I can help with this one.

[2021-02-03 17:39] SandishKumarHN commented on #5837
@HansOspina you take up this one if you like, currently occupied with different tasks.

[2021-02-03 19:15] HansOspina commented on #5837
@SandishKumarHN can we at least tackle it together? not sure I have the pinot experience to actually do it all by myself.

[2021-02-03 19:16] SandishKumarHN commented on #5837
@HansOspina let's connect over pinot slack.

[2021-02-03 21:00] #6277 closed

[2021-02-03 21:23] pabrahamusa commented on #6493
@Jackie-Jiang Thanks I will verify this and confirm .

[2021-02-03 21:34] pabrahamusa opened #6539 "Reducing Partition count - server does not host this topic-partition"
I had 4 partitions and 3 Pinot servers running. And noticed that only 3 partitions are getting consumed as I only have 3 servers. So I reduced the partition count from 4 to 3 in kafka.  After that I am seeing errors in one of the Pinot server, other servers are fine. Restarts not fixing this issue.

[code]

[2021-02-03 22:28] npawar commented on #5648
Design doc: https://docs.google.com/document/d/1hFbzumQAGALAi8XZMOsVlwVHN-s2t37MA5QUfduL4Yk/edit#

[2021-02-03 22:32] fx19880617 commented on #6539
You mean Pinot doesn't assign 4 consuming segments to all 3 servers? If not, it's a problem, we should fix it. Can you share the idealstate/externalview for that?

Pinot should assign 4 partitions from `mylog__0_...` to `mylog__3_...`
Also, shrinking Kafka partitions is not supported, only increase the partition. Need to delete the table and recreate it.

Maybe you can try to increase Kafka partit

[2021-02-04 00:59] pabrahamusa commented on #6539
Thanks @fx19880617 for the suggestions. I tried Ideal state and can see all the 4 partitions are getting consumed as shown below which is good. However there is an issue when you shrink Kafka partition i.e delete and recreate a topic with less number of partition than before.  When that happens Pinot server keeps on ERROR-ing. Even though everything works the error is cluttering the console also n

[2021-02-04 01:45] fx19880617 commented on #6539
By design, Pinot is not handling the shrinking case. I think you need to manually delete the consuming segment `mylog__3__0__20210203T1927Z`. Also delete topic and recreate may mess up the consumer offset, @npawar may have more saying about this.

[2021-02-04 02:04] mcvsubbu commented on #6539
If you change the topic (or recreate it with diffreent partitions) then you need to drop and recreate the table.

[2021-02-04 14:32] pabrahamusa commented on #6539
@mcvsubbu , Just want to check . So that means we can only scale up. And no ways to scale down atm as per design.

[2021-02-04 23:20] fx19880617 commented on #6526
#6543 Pinot code change on cleaning up dead minion instances from helix.
K8s changes will follow once this PR is checked in.

[2021-02-05 01:39] pabrahamusa commented on #6539
Closing ticket as this is not supported feature.

[2021-02-05 01:39] #6539 closed

[2021-02-05 06:04] jtao15 opened #6548 "SDF conversion mismatch for segment completion and broker routing"
Once a segment is completed, either converted from consuming to online in real-time or uploaded in offline, the start/end time in zk metadata is updated based on the raw data.
For SDF, start/end time is stored in millis, and the conversion is done by DateTimeFormatter (default time zone: local).

For broker time boundary management, the time millis are converted back to SDF to compute the time bou

[2021-02-05 06:07] jtao15 commented on #6548
@snleee @Jackie-Jiang

[2021-02-05 06:28] jtao15 commented on #6189
@Jackie-Jiang Yes, the feature is done and tested.
It can be enabled by specifying time pruner in routing config:
[code]
The supported query operators are `RANGE`, `=`, `<`, `<=`, `>`, `>=`, `IN`, `AND`,`OR`.
E.g. `Select * FROM table WHERE timeColumn BETWEEN 20 AND 30 OR timeColumn >= 40`. Time pruner will filter out segments which don't have records in [20, 30] or [40, *).

[2021-02-05 07:25] ayush-bajaj commented on #5694
Hey, made the suggested changes and all the tests have passed. can you please take a look at it again.

[2021-02-05 10:08] fx19880617 commented on #6527
Adding minion tasks metrics for task type and status:
https://github.com/apache/incubator-pinot/pull/6549

[2021-02-07 08:40] fx19880617 commented on #6505
Yes, we should fix this to mapper jobs.

[2021-02-07 08:45] fx19880617 commented on #5387
Thanks for putting this! Closed this issue.

[2021-02-07 08:45] #5387 closed

[2021-02-07 08:59] fx19880617 commented on #6532
So in this case, we need to set server instances metadata and use it for segment assignment.
I feel the complication is that we need to handle rack metadata change which involves the segment assignment reblance.

[2021-02-07 09:34] fx19880617 commented on #6524
hmm, in this case, shall we actually provide an API `/logs` in each pinot component to fetch the log file?

[2021-02-07 22:30] dongxiaoman opened #6554 "Zookeeper client version so zookeeper client will re-resolve hosts when IP has changed"
We have the same situation as mentioned in [Zookeeper bug here](https://issues.apache.org/jira/browse/ZOOKEEPER-2184) . Simple version is, we will replace zookeeper servers with a new host that has new IP address, but still keep the host name in the DNS.
This bug in Zookeeper client is fixed in `3.4.13`+ or 3.5.5+, or 3.6.0+ and pinot is using 3.4.11
Can we upgrade at least the minor version to 3.

[2021-02-08 01:51] daniellavoie commented on #6524
This will not solve the problem I'm trying to frame. First of all, a `/logs` endpoint will expose everything and still only means something to an operator. My persona is not an SRE but an actual data administrator. To some extend, it could even be a webapp that manages table configs on top of Pinot. If each table maintains state of their ingestion status and any error report (e.g.: the kafka boots

[2021-02-08 02:19] dongxiaoman commented on #6509
@fx19880617 Just verified, still the same error with java 11

[2021-02-08 15:08] Aka-shi opened #6555 "[Pinot]API to reset a stream to earliest/latest offset"
In scenarios where the topic is corrupted or recreated or when migrating to a new cluster, pinot streaming consumption is affected because of how pinot manages offsets. It would be nice to have an API where we can reset the stream to start from the earliest/latest offset based on the configuration.

Druid provides a similar API to reset a supervisor, which does the offset and streaming tasks manag

[2021-02-08 17:57] mcvsubbu commented on #6555
In general, offsets will not match across clusters.  Assuming that the new cluster/topic is a replica of the old one, it is not reasonable to assume that the two clusters are exactly in sync either. So, if such an API exists,  pinot could receive either duplicate rows, or miss rows altogether. Is that acceptable?

[2021-02-08 18:08] vmarchaud opened #6556 "feature: support GCP's PubSub as realtime ingestion"
GCP's pubsub implemention doesn't have any kind of partition/offset system so current LLC implementation obviously can't work with it. If people are interested [here is an implementation](https://github.com/reelevant-tech/pinot-pubsub-plugin/tree/v2.0.0/src/main/java/com/reelevant/pinot/plugins/stream/pubsub) that essentially "fake" offsets and always pull latest messages. However if for some reas

[2021-02-08 18:21] mcvsubbu commented on #6556
Thanks, @vmarchaud . Does pubsub  partition the stream, or is it all in one partition? If there is only one partition, then that is another reason why it may not work in some production use cases with very high ingestion rate. We will be limited by the consumption capacity of a single server to consume the complete stream (this is another reason we moved away from HLC). On the other hand, a partit

[2021-02-08 19:54] gracewalkuski opened #6557 "add execute() to JDBC PinotPreparedStatement"
Add the implementation for the `execute()` function in the [PinotPreparedStatement](https://github.com/apache/incubator-pinot/blob/release-0.6.0/pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/PinotPreparedStatement.java) class.

Override the following function [here](https://github.com/apache/incubator-pinot/blob/e892cb2942f1f41ac7056d977eeca0e5b22897d0/pinot-clients/pinot-j

[2021-02-08 21:15] Jackie-Jiang commented on #6509
@dongxiaoman Find a similar error here, can you please try the solution: https://support.datastax.com/hc/en-us/articles/115000550123-Graph-loader-throws-failed-to-map-segment-from-shared-object-warning

[2021-02-08 21:36] dongxiaoman commented on #6509
@Jackie-Jiang Awesome finding! It solved the problem in our QA host.
Will roll out to prod and verify in a larger scale

[2021-02-08 23:04] fx19880617 commented on #6554
I'm seeing an issue of zk client connection for jdk14+ after the upgrade.
Will investigate this.

[2021-02-09 00:06] Jackie-Jiang commented on #6548
We should definitely use the same time zone for both conversions. Better to use the same class to perform the conversion so that the conversions are always consistent.
Since the time segment pruner is newly added, and also stateless, we should keep it the same as the conversion used in the metadata.

[2021-02-09 14:26] louisthomas opened #6561 "Configure Github action codeQL security"
Why?

It will help to discover security vulnerabilities across your codebase.

Documentation: https://codeql.github.com/docs/

[Code codeql github action](https://github.com/github/codeql-action)

Also, did you configure dependabot security updates? https://docs.github.com/en/github/managing-security-vulnerabilities/configuring-dependabot-security-updates

[2021-02-09 17:19] sajjad-moradi opened #6562 "Real time tables with text index enabled lead to file leaks"
When a consuming segment completes, all the files in consuming directory are supposed to be deleted. However, text index for real time tables does not clean up all the files. For each segment, one file will remain undeleted.
I dug a bit into the code and I believe found the root cause.
In “consuming” -> “online”  transition on server, first we delete the consuming segment directory and then releas

[2021-02-09 17:20] kishoreg commented on #6562
@sajjad-moradi awesome find

[2021-02-09 22:23] mikecdavis opened #6564 "feature: add support for S3 server-side encryption"
The current S3PinotFS implementation does not support server-side encryption, although it is supported via the underlying AWS SDK. Support can be added by capturing the required parameters via configuration and passing them through to the respective SDK calls.

Example configuration:
[code]

Example usage:
[code]

Ref: https://docs.aws.amazon.com/AmazonS3/latest/userguide/specifying-kms-encryption

[2021-02-10 06:19] #6527 closed

[2021-02-10 07:37] fx19880617 commented on #6557
@KKcorps ^^

[2021-02-10 10:43] KKcorps commented on #6557
Taking it up.

[2021-02-10 10:55] KKcorps commented on #6557
@gracewalkuski can you check if the code in the PR is what you are looking for or something more is needed.

[2021-02-10 16:21] gracewalkuski commented on #6557
Thanks @KKcorps ! I'll test it locally and let you know.

[2021-02-10 16:34] gracewalkuski commented on #6557
Yes that does work! Thanks so much!

[2021-02-10 21:39] #6564 closed

[2021-02-11 11:12] #6554 closed

[2021-02-11 17:20] #6512 closed

[2021-02-11 17:21] rkanumul commented on #6512
https://github.com/apache/incubator-pinot/pull/6531/

[2021-02-11 17:22] #6511 closed

[2021-02-11 17:22] #6510 closed

[2021-02-11 19:14] yupeng9 opened #6572 "Add the support of derived column in segment reload when the transform function is defined in the schema config"
Recently the transform function of the derived column is moved to `ingestionConfig` in table config, and the transform function definition in schema config is marked as deprecated.

However, it will be good for the back-compatibility to add the support in the segment reload for those derived columns still defined in schema config.

[2021-02-11 19:15] yupeng9 commented on #6572
@npawar @Jackie-Jiang

[2021-02-11 20:22] fx19880617 opened #6573 "Report explicit error message for missing properties in S3PinotFS"
Reported by the community:
When user not specify the config `region`, pinot should give correct stacktrace in the logging for missing config: `region`.
The code: `Preconditions.checkArgument(!isNullOrEmpty(config.getProperty(REGION)));` is not user-friendly as it's not giving an actionable and informative message.

Right now: the logs is very unclear like:
[code]

[2021-02-12 00:07] mcvsubbu commented on #6556
This is related to Issue #6302 . This one too, started off by asking for pause/commit/restart functionality but we concluded that it is not going to solve production problems. The right way to do this is to support a stream with this characteristics

[2021-02-12 00:08] deemoliu opened #6575 "implement partial upsert support on Pinot"
With the foundation of full upsert support (#4261) in Pinot, another category of use cases on partial upsert can be enabled. Partial upsert is convenient to users so that they only need to specify the columns whose value changes, and ignore the others. For example, the ride fare can be adjusted by adding another $5. With partial upsert, developers can specify the incremental amount only, instead o

[2021-02-12 00:10] deemoliu opened #6576 "emit metric for upsert table memory usage"
The [existing work](https://github.com/apache/incubator-pinot/pull/6204/files#diff-2fc79d140ad00f4fe862b03a12674c564a3cd85bc59e5397cb706a51a19faa39R46) emits how many pks for the table.
The new feature should emit metrics for how many memory for upsert metadata used for each table.

[2021-02-12 00:18] mcvsubbu commented on #6302
Two questions, @Aka-shi
1. After a pause, if the server is restarted, how do you desire the server should come back up? Should it consume up to the exact same paused place again? Should it simply not consume after the last completed/committed point? Should it forget that it was paused?
2. If there are multiple replicas, then the above question becomes even harder since the behavior has to be co-or

[2021-02-12 00:19] mcvsubbu commented on #6302
@snleee , @sajjad-moradi  if you have other questions/thoughts please chime in

[2021-02-12 00:30] mcvsubbu commented on #6302
Other questions:
1. Would you want all partitions of the stream to pause , or just some specific partitions?
2. Would you want all partitions/tables in a given server to pause?

[2021-02-12 00:33] deemoliu commented on #6575
cc @yupeng9 @chenboat @Jackie-Jiang

[2021-02-12 00:43] chenboat commented on #6282
+1 for this. We have seen a lot of issues with the out dated yammer metrics lib. For example, it has the stale metrics issue as reported here: https://engineering.salesforce.com/be-careful-with-reservoirs-708884018daf. This makes some alerts not working properly. The new lib should allow configuration of more recent metrics implementation. @fx19880617 @Jackie-Jiang

[2021-02-12 00:46] deemoliu commented on #6575
We summarized the challenges and thoughts for partial upsert in this [initial design](https://docs.google.com/document/d/1qrTD7x23FlPrAUVIFbWs6GSBtTsztWhWgis-xr1lGMs/edit?pli=1#heading=h.1m2ny9mqjvav)

Please review cc @yupeng9 @Jackie-Jiang @chenboat

[2021-02-12 00:59] daniellavoie commented on #6282
What do you people think of https://micrometer.io/ ?

[2021-02-12 01:03] chenboat commented on #6282
micrometer.io looks a good idea if it can deliver like slf4j.

[2021-02-12 09:43] fx19880617 commented on #6557
Thanks for adding this support @KKcorps !
Thanks for raising the issue and testing the patch @gracewalkuski !

[2021-02-12 09:43] #6557 closed

[2021-02-12 21:51] dongxiaoman commented on #6509
Close it now since it is running fine now.

[2021-02-12 21:51] #6509 closed

[2021-02-13 05:43] pabrahamusa commented on #6562
I can also see lots of these lock file not getting deleted. @sajjad-moradi , @mcvsubbu and fix you guys planning to add?

[code]

[2021-02-15 04:04] Aka-shi commented on #6302
@mcvsubbu

For all partitions. The consumption for the table itself should be stopped. I was thinking something like this.
1. User pauses stream -> pinot server commits the current consuming segments(for all partitions) along with offsets.
2. User resumes stream -> Pinot starts consumption from all partitions from previously committed offsets.

I was expecting the pause option to be at a table lev

[2021-02-15 20:06] mcvsubbu commented on #6302
Thanks for clarifying. So, you are not really looking for a "pause" (which I assumed to mean pause without committing segments). You are looking for a "commit now and do not consume until further instructions".

Last question (should have been the first). What is the use case for this?

Question for the community: Are there others who need this feature?

[2021-02-16 02:52] Jackie-Jiang commented on #6480
@yupeng9 Thanks for adding the support. Can you please also add it in the documentation?

[2021-02-16 12:37] louisthomas commented on #6573
I would like to work on this issue, thanks!

[2021-02-16 21:29] fx19880617 commented on #1051
This is supported now, please refer to the datetime functions:

https://docs.pinot.apache.org/users/user-guide-query/supported-transformations#datetime-functions

[2021-02-16 21:29] #1051 closed

[2021-02-17 03:32] laxmanchekka commented on #6362
@Jackie-Jiang : is this duplicate of https://github.com/apache/incubator-pinot/pull/6567

[2021-02-17 13:36] Eywek commented on #5837
Hello, any news on this integration?

Thank you

[2021-02-17 20:36] Jackie-Jiang commented on #6362
@laxmanchekka #6567 can solve this issue, and has a bigger scope as it also supports uploading new segment instead of replacing existing segment.

[2021-02-18 03:24] dharakk commented on #6516
Hi, from experience, this will be a really useful feature to me. I would love to give it a try if nobody is working on it.

[2021-02-18 03:50] minwoo-jung opened #6591 "A problem occurs when running thrideye using helm."
Hello~

When thirdeye is executed using helm, if the following message is displayed, it does not work. The same problem occurs when using the master branch, 0.6.0 release branch.

[code]

When I analyzed the problem, it seems to be a logging-related issue, but I do not know how to fix it. Can I get guidance on how to fix it?

[2021-02-18 04:35] pabrahamusa opened #6592 "Many ClassNotFoundException errors from latest code build"
I took the latest code and did a build and can see lot of ClassNotFoundException errors. Not sure what is causing this.

Reflections - could not get type for name org.apache.commons.digester.AbstractObjectCreationFactory from any class loader
java.lang.ClassNotFoundException: org.apache.commons.digester.AbstractObjectCreationFactory

Reflections - could not get type for name org.apache.log4j.Enhan

[2021-02-18 08:02] #6497 closed

[2021-02-18 10:16] kyostyle1 commented on #6433
I have this issue too.
Our kafka platform must be accessed with an assigned group.id.

[2021-02-18 22:53] icefury71 commented on #6282
Looks like work has already begun on this : https://github.com/apache/incubator-pinot/pull/6579 thanks to @jackjlli

[2021-02-18 23:56] siddharthteotia commented on #5807
We can split this into 2 parts

PQL endpoint removal from broker and controller.

- The controller's query console endpoint (/pql) talks to broker's endpoint (/query).

PQL cleanup from the engine

- Remove Antlr parser
- Remove PQL2Compiler
- Don't convert PinotQueryToBrokerRequest: just pass PinotQuery inside BrokerRequest to server. Server can already handle it
- Cleanup combine operator and br

[2021-02-19 00:52] pabrahamusa opened #6595 "Controller Crashing - repetition of same config causing multi value setting"
I have following settings in controller config where validation.frequencyInSeconds is accidentally repeated. This is causing controller to crash as the value is derived as multi value. it will be better to take either last defined value or avoid this crash.

controller.realtime.segment.validation.frequencyInSeconds=300
controller.realtime.segment.validation.frequencyInSeconds=900
controller.broker