[2021-02-19 00:56] pabrahamusa commented on #6592
@fx19880617. / @kishoreg   Do you guys think these errors can cause any instability?

[2021-02-19 04:38] fx19880617 commented on #6592
So far I don't see any issue with it though, those stack traces only impact the swagger UI.

[2021-02-19 18:05] fx19880617 commented on #6592
We used to put this line in log4j to swallow the warning:
[code]
https://github.com/apache/incubator-pinot/blob/master/pinot-tools/src/main/resources/conf/pinot-admin-log4j2.xml#L51

[2021-02-19 22:44] kkrugler commented on #6473
Hi @siddharthteotia - yes, one example segment is 2,637,935 rows, and `metadata.properties` for the column of interest (`creativeText_terms`) has cardinality of 48,591 (though that's lower than what I was expecting).

[code]

The dictionary is 2.9MB, and the forward index is 31MB:

[code]

[2021-02-19 23:19] chenboat commented on #5807
Uber still uses PQL extensively with a few hundred tables and dozens of use cases. It takes us time to move out of PQL. End of Feb is too tight for us to complete the migration process. Can you postpone the removal of the query endpoints at least to the end of June so that we can complete the migration? Or leave a backward compatible way for users to still query PQL endpoint for a while?

[2021-02-19 23:31] yupeng9 commented on #5807
+1 to what Ting suggested. Could we have a config to disable (and
deprecate) the endpoint first, with the default value disabled? So the
endpoint removal can be done together with the PQL cleanup.

Best,

On Fri, Feb 19, 2021 at 3:19 PM Ting Chen <notifications@github.com> wrote:

--
--Yupeng

[2021-02-20 00:03] yupeng9 commented on #6480
@Jackie-Jiang plz review it at https://github.com/pinot-contrib/pinot-docs/pull/24

[2021-02-20 01:09] kkrugler opened #6597 "No error logged when broker becomes unresponsive due to Netty transport issue"
On a five server cluster with one controller & one broker, running Pinot 0.6.0, the following query caused the cluster to no longer process queries: `select distinctcount(column) from table`, where the column in question had very high cardinality (> 1B unique values out of 5B total records).

There were no errors logged for the controller, broker, or 5 server processes. Once the cluster became unr

[2021-02-22 05:16] fx19880617 commented on #6573
Thanks, @louisthomas !

[2021-02-22 21:43] fx19880617 opened #6599 "Support REGEXP_EXTRACT function"
`REGEXP_EXTRACT(value, regexp[, position[, occurrence]])`

Usage reference:
https://cloud.google.com/bigquery/docs/reference/standard-sql/functions-and-operators#regexp_extract

[2021-02-22 22:01] fx19880617 commented on #6595
I feel we should try to validate those configures and provide more meaningful error msgs, e.g. the config `controller.realtime.segment.validation.frequencyInSeconds` is invalid.

[2021-02-23 07:51] fx19880617 opened #6603 "Move thirdeye out from Pinot Repo"
As part of the Pinot 0.7.0 release effort, we will move the thirdeye project out from the Pinot repo.

The new repo for thirdeye will be located at (https://github.com/project-thirdeye/thirdeye)

[2021-02-24 09:04] fx19880617 opened #6606 "Support SegmentSelector API to select segment names based on expression"
Since Pinot supports batch segments replacement, there is a need to find out what are segments to replace in an existing table based on segment metadata.

E.g. When we want to backfill data on a particular date, we want to find out all the segments for that date.

Sample expression:
1. Find segments for a given time range:
`segment.start.time >= 1614000000 and segment.end.time <1614150000`
2. Find

[2021-02-24 18:50] mcvsubbu commented on #6524
@daniellavoie the freshness metric is returned on a per query basis. Users will be issuing query, and on the return, can get metadata about:
- Freshness
- Partial response

If either of these are not in line with what user expects (e.g. freshness should not be less than current time minus 20 minutes), they can contact an SRE to look into the problem.

Does this model work for you?

Even if we open

[2021-02-24 19:10] daniellavoie commented on #6524
I'm trying to build a model where my users can self troubleshoot something like a bad Kafka url or credentials. These configs are user provided and we should have the ability to provide to them feedback about these being wrong. Same goes for the newly available minion based ingestion. Once a task is triggered, the only way to find out that your s3 bucket has permission issues is to call the SRE wh

[2021-02-24 19:11] kishoreg commented on #6524
I feel there are two parts to this
1. Need for an API to know the ingestionStatus of a table
2. How do we implement that API and what should we use for that

I think having 1 is important and its user friendly. It allows us to internally call multiple endpoints/queries etc to present a complete overview of what's going on with the table. I am happy to have an overall status API for a table and ing

[2021-02-24 21:06] #6603 closed

[2021-02-24 21:35] fx19880617 opened #6610 "Segment Writer API"
### Motivation
Modern data processing/analytics usually involves both streaming and batch pipelines. For the streaming pipeline, Pinot leverages Kafka as data sources. For the batch pipeline, Pinot only supports file-based segment generation in Hadoop and Spark. The split of real-time/batch pipelines makes data management harder and more error-prone.

Based on recent industry trends and works arou

[2021-02-24 21:40] fx19880617 commented on #6610
cc @yupeng9 @npawar @Jackie-Jiang @kishoreg @mayankshriv @mcvsubbu

[2021-02-25 18:24] yupeng9 commented on #6610
I'm drafting a [Pinot sink](https://docs.google.com/document/d/1GVoFHOHSDPs1MEDKEmKguKwWMqM1lwQKj2e64RAKDf8/edit#heading=h.uvocz0dwkepo) to the Flink community.  It will use this SegmentWriter.

@fx19880617 @npawar @mcvsubbu @Jackie-Jiang

[2021-02-25 18:48] Jackie-Jiang commented on #6606
Is this API mainly for debugging purpose? Should we consider using EXPLAIN for this?

[2021-02-25 18:48] icefury71 commented on #6313
Recently, we've added basic auth mechanism (eg: #6552 ). To support this in Cluster Manager, we will need the following:

* A login screen to capture username and password
* Ability to pass credentials around in different parts of Cluster Manager
* Embed these credentials in HTTP headers, when invoking the Pinot Controller/Broker API.

[2021-02-25 21:23] fx19880617 commented on #6606
the immediate use case is for data backfill, which we can programmatically replace x segments given some criteria then replace with some new segments.

[2021-02-25 21:24] jackjlli opened #6615 "Remove Travis CI in Pinot repo"
Travis CI is quite unstable and its resource is strictly limited, which takes much longer to finish comparing to Github Actions. And since Travis CI is mainly used for LinkedIn to publish internal release, as this pipeline has been migrated to Github Actions internally, Travis CI can be dropped in Pinot public repo.

This issue is used to track the status of dropping Travis CI in Pinot repo.

[2021-02-25 21:34] #6526 closed

[2021-02-25 21:38] fx19880617 commented on #6615
+1000000!

[2021-02-25 22:00] Jackie-Jiang commented on #6606
I think that should be done by enforcing the segment name convention and time alignment. In order to replace segments, all the records must match the filter.
For replacing with time range, @snleee 's design doc covers the algorithm if segments are not strictly time aligned.

[2021-02-25 22:07] fx19880617 commented on #6606
This is just one example of usage. Segment name convention is used for single segment replacement, for batch replace, the segment name should be different though.

Another example could be replacing segments with given partitions for a time range.
For debugging purposes. we can send a query to find out how many segments per day for a pinot table, which will be helpful to debug potential data missi

[2021-02-25 22:56] #6615 closed

[2021-02-26 19:17] icefury71 opened #6619 "Query console only view for Cluster Manager"
We need a way to configure the Cluster Manager UI to only show the Query Console. This is useful for many deployments where Cluster Manager is exposed to end users and they shouldn't be accessing other privileged views (eg:  Zookeeper, Swagger API).

[2021-03-01 13:10] tieke1121 opened #6624 "create real-time segment error"
error log :
INFO [SegmentDictionaryCreator] [wme_pinot__12__0__20210301T1252Z] Created dictionary for LONG column: receive_video_minutes with cardinality: 2, range: 0 to 1
2021/03/01 12:53:48.100 INFO [BaseSingleTreeBuilder] [wme_pinot__3__0__20210301T1252Z] Starting building star-tree with config: StarTreeV2BuilderConfig[splitOrder=[date_time, webex_site_id, network_type],skipStarNodeCreation=[],

[2021-03-01 13:16] tieke1121 commented on #6624
Every time when the data volume reaches 1.5 million, the error occurs

[2021-03-01 22:57] dongxiaoman opened #6626 "[Query Optimizer Improvement] IN statement for timestamp applied as pruning mechanism properly"
Right now if we write something like `SELECT  * FROM fact WHERE primary_key_id in ('id1', 'id2', 'id3', .....'id10' ) and created_at in (ts1, ts2, ts3, ts4, ... ts10) LIMIT 2000` it is actually running slower than not passing in `created_at in (xxx....)` filter.
But if we convert the `created_at in (xxx) ` into a range filter, it will run faster. Converted query is like below

`SELECT  * FROM fact

[2021-03-01 23:40] kishoreg commented on #6626
Good observation, we should be able to use min-max from the IN clause and use it to run.

@Jackie-Jiang ^^

[2021-03-02 00:16] fx19880617 commented on #6624
From the log, seems that the starTree builder is trying to read the column index that doesn't exist, can you double check if the columns in starTree confis: `SUM__xxx` are contained in your schema with the exact name?

cc: @Jackie-Jiang

[2021-03-02 01:14] tieke1121 commented on #6624
I checked my schema config file. use these schema & table configurations.  the Pinot servers received 1,500,000 records. then the error occurs

[2021-03-02 03:32] Jackie-Jiang commented on #6626
@dongxiaoman Do you have inverted index on `created_at` column? If not, then this is expected because in order to solve the `IN` clause, we have to create a set and match each value with the set. While for the range filter, we just need to compare the value with the range which is faster than set lookup.
@kishoreg We cannot really use min-max from the `IN` clause unless the values are sequential.

[2021-03-02 03:39] Jackie-Jiang commented on #6624
@tieke1121 Star-tree index cannot be applied to multi-valued fields. Can you remove the star-tree config and retry?

@icefury71 Let's add this validation to the star-tree config

[2021-03-02 04:32] dongxiaoman commented on #6626
@Jackie-Jiang It is not easy to optimize directly I would agree. I think the optimization happens in pruning stage and has to be applied case by case, `created_at in (3, 5, 7)` result set is a subset of `created >=3 and created <=7` result set, meaning we cannot simply replace the filter (not a query rewrite). We can only prune out many segments with the extra rule.

[2021-03-02 04:45] kishoreg commented on #6626
@Jackie-Jiang I was referring to the pruning of segments especially for numeric/timestamp columns

[2021-03-02 08:12] fx19880617 commented on #6624
I think startree requires columns d1,d2,...d5 to be single value column, in your schema, those are multi-value column, hence the startree build got exception which prevents the consumption moving forward.

[2021-03-02 17:28] dongxiaoman opened #6628 "[Enhancement Feature Request] Star Tree support for sumprecesion"
Right now we support big decimal via `BYTES` column and process data by functions like `sumprecesion`. It seems we cannot pre-build star tree for `sumprecesion`. Furthermore we need a mechanism to specify the parameter to that function. It can be a fixed value of `sumprecision(my_column, 40, 12)` but the 40, 12 needs to be specified

[2021-03-02 18:51] Jackie-Jiang commented on #6626
We will short-circuit the segment (not in pruning phase though) if no value matches the filter, so that should not be the bottleneck. One potential optimization for `IN` clause is to construct the dictionary id set and see if it can be converted to a single value or range, to avoid the set lookup

[2021-03-03 18:28] johighley opened #6634 "JSON Ingestion: Int parse of String with leading spaces is failing, and failing silently"
I'm ingesting JSON data to a realtime table.  The value is a JSON String but is a numeric value with leading spaces:

{ "account":"      123", ....}

If the table column type is Double, then this record will load successfully -- it ignores the leading spaces.  If the column type is Int, then the record will not load and there is no error in the server logs (or any log I can find).  It fails silent

[2021-03-03 18:53] Jackie-Jiang commented on #6634
You should see the following `ERROR` log in the server log: `Caught exception while transforming the record: ...` with the exception trace.
The reason why double works is because while converting from `" 123"` to numeric value, `Integer.parseInt()` throws exception, but `Double.parseDouble()` works fine.

[2021-03-03 18:58] johighley commented on #6634
Running the docker images.  There's no error message in pinotServer.log.  Would it be somewhere else?

[2021-03-03 19:06] Jackie-Jiang commented on #6634
@fx19880617 Any idea why the error message is not properly logged?

[2021-03-03 19:14] Jackie-Jiang commented on #6634
#6635 to trim the string before parsing

[2021-03-03 20:58] fx19880617 commented on #6634
it should be the log file inside the container. Are you running pinot server separately or pinot quickstart all in one?

[2021-03-03 22:14] fx19880617 commented on #6480
Supported in PR #6580. This feature will be available in Pinot 0.7.0 release.

[2021-03-03 22:14] #6480 closed

[2021-03-03 22:17] fx19880617 opened #6637 "Kafka ingestion: Allow users to reset the offset to consume"
This can help users to skip the bad data due to upstream issues.

[2021-03-03 22:26] johighley commented on #6634
we're running the docker images. controller, server, and broker are each their own container

[2021-03-03 22:30] mcvsubbu commented on #6637
This has to be done on a per-partition basis. A couple of ways to do this:
- Provide a method to start the offset of the current consuming segment at a certain point. So, if a segment started consumption at offset 100, but had a problem at 120, the user can set the start offset to be (say) 125. In this case, there is loss of data from 100 to 120. Hopefully there are no bad offsets beyond 125.
- Pr

[2021-03-03 23:29] fx19880617 opened #6639 "Support Pinot as a DataSource in Grafana plugin"
https://grafana.com/grafana/plugins?type=datasource

So users can query Pinot as a data source for metrics/graphs in Grafana.

[2021-03-04 01:27] fx19880617 commented on #6637
Agreed with the first approach. Approach two assumes that the bad data are coming in normal traffic load, we observed sometimes that upstream data producers may dump a lot of data due to error, so the skipping option can handle both cases.

In my view, this API should take a map of Kafka topic partitions to offsets mapping(no need for all the partitions), then seal all related partition segments t

[2021-03-04 02:31] mcvsubbu commented on #6637
- It has to be stream agnostic, so we need to take a partition number (for now) and StreamMsgOffset (serialized)
- We don't need to seal existing consuming segments. In fact, we cannot do that since they would have turned themselves OFFLINE having encountered the consumption error. We can start new consuming segments for the partitions provided, at the offsets provided.

[2021-03-04 05:16] icefury71 commented on #6624
@Jackie-Jiang added a simple validation check: #6641

[2021-03-04 05:54] fx19880617 commented on #6637
True, I think it's fine for the API.

Do you mean we should just update the offset for the current consuming segment then restart the segment consumption(drop whatever consumed then restart from the given offset)?

[2021-03-04 14:42] mcvsubbu commented on #6637
I suggest creating a new segment, with new metadata etc. having the new offset. Set it consuming state, and let the ball roll.

[2021-03-04 17:13] kkrugler opened #6642 "Add multi-valued field support to DistinctCountHLL"
Currently the code in `DistinctCountHLLAggregationFunction.aggregate()` looks like:

[code]

Note the call to `blockValueSet.getIntValuesSV()`. It should check if `BlockValueSet.isSingleValue()` returns false, and if so then use `BlockValueSet.getIntValuesMV()`. This will return a two dimensional array (`[][]`) of values that need iteration.

The same change is needed for all of the other value ty

[2021-03-04 18:38] Jackie-Jiang commented on #6642
Currently, in order to aggregate on multi-valued fields, you need to use the MV version of the function: `DistinctCountHLLMVAggregationFunction`.
In the future, we might merge these 2 versions to make it easier to use.

[2021-03-04 19:02] kkrugler commented on #6642
Hi @Jackie-Jiang Updated issue to cover merging the two.

[2021-03-04 19:08] kkrugler commented on #6642
I imagine similar merging could happen for many of the other [xxxMV](https://docs.pinot.apache.org/users/user-guide-query/supported-aggregations#multi-value-column-functions) multi-value column functions.

[2021-03-04 21:58] fx19880617 opened #6644 "Adding validation check to prevent creating two columns with different cases in schema"
Although pinot columns can be case-sensitive, I think we should still prevent the scenarios like this.
This easily breaks the external case-insensitive integrations like Presto.

E.g. in the same schema, we shouldn't allow creating two columns like: `memberId` and `MemberID`.

[2021-03-04 22:00] fx19880617 commented on #6642
right, we should be able to infer the type with the table schema during query parsing phase and then rewrite the query if it's a multi-value column.

[2021-03-04 22:02] mcvsubbu commented on #6644
I am fine for adding all sorts of validations, but I thought we agreed (perhaps verbally) on doing things in a compatible manner by introducing the concept of a `level`. If the level is set to "strict" then we can do all stuff.
This change, in particular, is backwards incompatible. It is impossible to check thousands of tables for each condition.
cc: @kishoreg , @icefury71

[2021-03-04 22:15] icefury71 commented on #6644
Yes agreed - this one in particular seems to be backwards incompatible. Currently, we don't provide a mechanism to enforce different levels of validation. We should probably get that done before adding such checks.

[2021-03-04 22:19] icefury71 opened #6645 "Support multiple levels of config validation"
Ideally, we wish to have levels of validation such as:
* strict
* basic (default)

In this case, strict validation will imply all the stringent checks are done (eg: #6644, #6300 ). basic might be closer to what we're doing today to allow for backwards compatibility of table and schema configs.

[2021-03-04 22:19] icefury71 commented on #6644
@mcvsubbu created #6645 which should be done before addressing this.

[2021-03-04 22:44] mcvsubbu commented on #6645
A nice way of doing this (from user standpoint) is to start with validation set to level 0.  Each time you add new validations, bump it up by 1. Let folks set the validation level to whatever they want.

Now, this may not look very good in the code, but then we cannot keep making incompatible changes forever. Recent validation checks have already cost us a lot of Engineering hours in terms of movi

[2021-03-04 23:06] icefury71 commented on #6645
I feel if we leave the validation levels unbounded - the validation code will be rendered unreadable. I prefer to keep it to a few levels only (eg: strict, medium, basic). We can be judicious in what validation belongs to which of these 3 buckets.

[2021-03-04 23:24] Jackie-Jiang commented on #6642
@fx19880617 We don't really need to rewrite. We have access to the column metadata during aggregation, and knows whether it is SV or MV

[2021-03-04 23:40] fx19880617 commented on #6642
Right, from the implementation side, we will eventually merge the behavior of `<function>` and `<function>MV`. Then we can rewrite all `<function>MV` to `<function>`.

[2021-03-04 23:58] icefury71 opened #6646 "Support downloading of segment from controller on load error in Realtime table"
Currently, for realtime Pinot table, a segment load error (during server restart for eg) will result in the segment going into an ERROR state. This might happen if the segment was not sealed properly (server got shut down) or default column got removed.

This can be resolved by adding a retry logic to fetch the segment from Controller (this is what happens today for Offline Table).

[2021-03-05 00:11] fx19880617 commented on #6637
I see. Then how about the current consuming segments?

There are two scenarios:
1. If the current segment is in ERROR status, then it will be in ERROR status forever
2. If the current segment is in CONSUMING status, then two consuming segments will cause race conditions right?

[2021-03-05 00:50] Jackie-Jiang commented on #6646
#6647

[2021-03-05 01:20] mcvsubbu commented on #6646
The segment download code is the same on the server, with retry logic -- whether realtime or offline

[2021-03-05 01:30] dubin555 opened #6648 "Support nested json schema in realtime ingest"
Hi forks,
Does the streaming ingest function support the nested json schema, e.g.
`{
  "a": {
    "b": "xxx"
  }
}`
Is there a way like this in the schema statement: `"a.b" is a string`

Thanks

[2021-03-05 01:31] mcvsubbu commented on #6637
A CONSUMING segment can go into ERROR state only during the OFFLINE to CONSUMING state transition. Once it has transitioned, it can never go into ERROR state. It will turn itself into OFFLINE state if there are consumption issues.

[2021-03-05 01:32] kishoreg commented on #6648
Do you want the column name to be a.b and value xxx?

[2021-03-05 01:37] mcvsubbu commented on #6645
Perhaps so, but we need to stop making incompatible changes at some point. The cost of retrofitting all tables to conditions that are not really applicable to that setup is just too much.

[2021-03-05 01:47] Jackie-Jiang commented on #6646
@mcvsubbu For real-time table, when server finds a local copy of the segment, but cannot load it, server will throw exception.  The proposal here is to download a new copy from the controller when server fails to load the local copy.

[2021-03-05 02:33] dubin555 commented on #6648
yes, sir

[2021-03-05 08:33] dubin555 commented on #6648
Also does the kafka realtime ingest part have resource control? e.g. how many consumer thread

[2021-03-05 19:46] Jackie-Jiang commented on #6648
For the json field, you can configure it as string field in the schema, and enable json index for it (Check https://docs.pinot.apache.org/basics/indexing/json-index for more details)
Note that the input data needs to be json strings. You may use `jsonFormat()` function to convert object to json string if needed.

For Kafka real-time ingestion, each Kafka partition is consumed by one thread (one co

[2021-03-05 19:48] Jackie-Jiang commented on #6645
Shall we list down all the validations we have now? I feel all (or at least most) of them are **must have** for pinot to properly work

[2021-03-05 20:21] mcvsubbu commented on #6645
Lol! Pinot has been working for years now :)

[2021-03-05 20:23] mcvsubbu commented on #6645
Perhaps we should list all the checks that we WANT to perform, and then make sure that they get done in one go, so that we can have one (maybe two) levels of validation. This thing of doing part by part costs a lot in eng hours if a test fails some use case.

[2021-03-05 20:41] jackjlli commented on #6453
Hi, what's the pros and cons between creating an empty segment v.s. not creating a segment, e.g. in Kinesis connector?

Failing the segment creation could be helpful to early detect the issue from the upstream. If we release this constraint, issues may appear underneath the creation job without any notice.

In realtime side, there could be no streaming data for newly created tables, thus it'd lead

[2021-03-06 00:00] liuchang0520 opened #6652 "add new endpoint to upload low level consumer segment to segment store"
To complete [deep store bypass for realtime segment completion](https://cwiki.apache.org/confluence/display/PINOT/By-passing+deep-store+requirement+for+Realtime+segment+completion), we need to create an endpoint to upload LLC segment to segment store.

Will create another pr for controller periodic task: **RealtimeSegmentValidationManager** to call this endpoint for LLC segment without segment sto

[2021-03-08 05:54] dubin555 commented on #6648
Thanks for the reply! I check the link that you posted. If the upstream data is in nested json, like this: `{"props":{"name":"tom"}}`, can data be stored in a column field like 'name' WITHOUT nested 'props'?

I don't quite understand. Suppose the upstream Kafka topic has 10 partitions, and I want to configure 2 consumer threads. Question 1, where to config the setting. Question 2. If lag happens,

[2021-03-08 06:38] kishoreg commented on #6648
Yes. You can create a column “name” and use a transform function

see json functions here
https://docs.pinot.apache.org/users/user-guide-query/supported-transformations

[2021-03-08 06:39] kishoreg commented on #6648
We create one thread per partition automatically.

[2021-03-08 13:49] daniellavoie opened #6654 "Cluster Manager slow or unresponsible high segment count tables"
I am experiencing an issue where the Cluster Manager with a single table cluster hosting 27 000 segments.

UI is not broken but very slow and sometime even unresponsive. With enough patience, most administration task works.

A suggestion would be to lazy load segment and use a paging iterator rather than loading all information in the browser.

[2021-03-08 16:52] mcvsubbu commented on #6654
Helix 1.0 claims to have introduced paging when fetching items from zookeeper.

[2021-03-08 17:08] kishoreg commented on #6654
I thinks it’s more to do with the controller api impl and UI implementation

[2021-03-08 17:59] #6282 closed

[2021-03-08 18:38] Jackie-Jiang commented on #6645
@mcvsubbu Several validations we added recently are for new features. E.g. Text and json index only works on string columns; upsert does not work with star-tree index; star-tree index won't work with MV columns etc. By saying `must have`, I mean if the config fails the validation, the table won't work as expected.
We should list down all the validations, and mark them either `must follow` or `sugg

[2021-03-08 21:56] daniellavoie opened #6656 "Not enough context with invalid schema during segment generation"
Batch based ingestion with `SegmentGenerationAndPushTask` makes it hard to troubleshoot and identify which schema's field is invalid.

Wrapping the exception with a message providing context about the involved field would greatly help SRE to report errors back to dev teams.

I'll work on a PR for this one.

[code]

[2021-03-09 00:42] pabrahamusa commented on #6532
@xulinjintu wondering whether your changes can be used for AWS as I am interested to use it there. Also once the segment is tagged with failure domain zone information how the segment replicas are handled to spread across different zones?

[2021-03-09 00:56] #6656 closed

[2021-03-09 09:47] Lvnszn opened #6660 "Use Sum, Avg etc. Aggregate func to agg field which type was long will added .0 at end of metrics"
Bug Report

1. Minimal reproduce step (Required)

![image](https://user-images.githubusercontent.com/12541438/110451281-03945280-80ff-11eb-8179-f66e16ead1aa.png)

![image](https://user-images.githubusercontent.com/12541438/110451158-e19ad000-80fe-11eb-9e3c-b95e5bb6960e.png)

SQL:
[code]

2. What did you expect to see? (Required)

Double should be Long.

Version: 0.7.0-SNAPSHOT-255202ec4fc7df2283f7

[2021-03-09 09:47] Lvnszn commented on #6660
cc @fx19880617

[2021-03-09 22:24] kkrugler commented on #6293
On Slack I'd asked:

@kishoreg responded with:

[2021-03-10 01:06] fx19880617 commented on #6660
I was also thinking that we can return a long value if the column is INT or LONG (There could be an issue if the result is larger than LONG.MAX, then the only way to handle it is still DOUBLE).

Or make the cast function work outside the aggregation functions.

[2021-03-10 09:28] fx19880617 commented on #6660
Another way is to have functions like `SumLong` to handle this case.

[2021-03-10 16:51] mcvsubbu commented on #6302
@Eywek this seems to be a one-time operation as you describe it? Am I right? Once the data is loaded into pinot, you intend to shut off consumption and just query the data -- i.e. you do not expect more data to arrive in the realtime pipeline. Is that right?

[2021-03-10 16:53] Eywek commented on #6302
yep exactly

[2021-03-11 02:50] Jackie-Jiang commented on #6628
#6668

[2021-03-11 15:46] Eywek opened #6669 "bug: broker crash at startup with `zip file closed`"
I'm trying to up a pulsar cluster for my tests with the following docker-compose configuration:

[code]

broker.conf:
[code]

controller.conf:
[code]

server.conf:
[code]

But sometimes, the broker fail to start with the following error in logs:
[code]

Leading to an error when I try to create a table: `Failed to find instances with tag: DefaultTenant_BROKER for table...`

[2021-03-11 20:20] fx19880617 commented on #6669
hmm, can you try to start pinot-controller/broker/server separately in your docker compose?
Meanwhile, I will take a look at the issue.

[2021-03-11 22:02] mcvsubbu opened #6671 "RealtimeTableDataManager shuts down SegmentBuildTimeLeaseExtender for all tables in the host"
This bug has surfaced because of recent commit PR #6608 . The problem is that the lease extender is a common one for all tables, and we cannot shut it down until the system is being shut down.
@Jackie-Jiang

[2021-03-12 01:10] mcvsubbu commented on #6671
There are other issues with the lease extender as well, as pointed out by @Jackie-Jiang . Looks like things changed during controller distribution and the lease extender was not fixed right.
Overall, here is what needs to happen:
- Lease extended should get instantiated in HelixServerStarter instead of table data manager. It should also get stopped there. It should be instantiated without a table

[2021-03-12 01:12] mcvsubbu commented on #6671
Looks like leases have not been working right since PR #4323 on multi-tenant realtime clusters. no effect on single-tenant clusters.

[2021-03-12 01:14] #6648 closed

[2021-03-12 03:30] npawar opened #6674 "SegmentSizeBasedFlushThresholdUpdater makes a reference to partition "0""
The assumption that partition called "0" exists may not hold true for all streams. For example, it is true for Kafka, but not for Kinesis. In Kinesis, once the shard "0" gets split, shard 0 stops existing actively.
Possibilities:
1) Use every partition to update the ratio
2) provide which partition to use as part of the update method.

[2021-03-12 03:30] npawar commented on #6674
FYI @KKcorps and @mcvsubbu

[2021-03-12 04:39] mcvsubbu commented on #6674
Using every partition to update the ratio does not work. The ratio will be too biased towards the latest segment. Why can't we use the 0th partition group ID (which is still an integer) to update the ratio?

[2021-03-12 05:14] npawar commented on #6674
Like I mentioned in the description, once partition group 0 reaches end of life, we're never going to get segments for partition group 0. Especially in the implementation we're rolling out in the first phase, shard id maps to partition group id. Once shard 0 is split, we no longer will get segments for partition group 0.

[2021-03-12 16:45] kkrugler opened #6676 "Support multiple columns in distinct count aggregations"
Currently these [Pinot aggregations](https://docs.pinot.apache.org/users/user-guide-query/supported-aggregations) only work with a single column:

- DISTINCTCOUNT
- DISTINCTCOUNTHLL
- DISTINCTCOUNTRAWHLL
- DistinctCountThetaSketch
- DistinctCountRawThetaSketch
- DISTINCTCOUNTMV
- DISTINCTCOUNTHLLMV
- DISTINCTCOUNTRAWHLLMV

This becomes a problem when you need to get the count of the total number o

[2021-03-12 16:57] mcvsubbu commented on #6674
If (integer) partition groups are going to reach end of life, we have other problems with kinesis support right?
Anyways, we should pick one partition group ID to be representative in the segment size computation. Maybe we should introduce a way to discover the lowest partition group ID available, and use that as a representative.

[2021-03-12 18:25] hyandell opened #6677 "NOTICE-binary mentions LGPL-2.1"
The https://github.com/apache/incubator-pinot/blob/a7c4259fd94312afcaccc80d99b41a2ef85e256a/NOTICE-binary#L286 file mentions that LGPL-2.1 is an optional dependency; I think possibly from the Netty licensing and may not even be true for Pinot.

JBoss Logging relicensed to Apache-2.0 in 2012 ( https://github.com/jboss-logging/jboss-logging/commit/b37e4ac4df7fbff33d5855a4c3944fe3bc634bb1 ) so I susp

[2021-03-12 18:44] pabrahamusa commented on #6532
@xulinjintu Also I was trying to compare the Azure to AWS and wondering whether it is possible to add (if not already added)  following information for Azure
a) Region
b) Availability Zone
c) Availability Set
d) Fault Domain (Already included)

This will enable AWS also to use this implementation directly and potentially works for GCP. Because AWS High Availability  is driven by Availability Zones

[2021-03-12 18:48] npawar opened #6679 "Admin command to recover from deleted CONSUMING segment case"
If a user deletes the CONSUMING segment (by mistake or intentionally coz they don't know the impact), the consumption stops. Pinot is unable to recover sucha a table automatically.
The only way out is to manually add the next sequenceID's segment zk metadata (and optionally add entries in ideal state for CONSUMING to kick off consumption immediately).

We can add admin commands to do these ops.

[2021-03-12 18:53] johighley commented on #6524
I was told to add this use case to this issue:  We're ingesting millions of records via Kafka to a realtime table as fast as Pinot can consume them.  It's 1 record per message.  We need some way to monitor the message ingestion for failures, especially due to data issues (ex: alpha chars in numeric field, missing data, or json format issue).  Looking through server logs isn't practical.  Ideally,

[2021-03-12 19:09] xulinjintu commented on #6532
@fx19880617 This is the first step, instance assignment strategy will be addressed in another issue.

[2021-03-12 19:29] xulinjintu commented on #6532
@pabrahamusa This can definitely be extended to AWS, the additional work would be implementing AWS metadata retrieval processors. Special configs for AWS might be needed.

Regarding those properties we retrieve, I wonder if fault domain is unique across different regions. Availability zone is essentially a combination of FD and UD. Since update domains are subsets of fault domains, I wonder if we

[2021-03-12 20:21] mcvsubbu commented on #6671
cc: @snleee , @sajjad-moradi

[2021-03-13 04:47] pabrahamusa commented on #6532
@xulinjintu  Adding just FD should work if FD is unique per AZ.  However do you think it will be better to add  Availability Sets , FD and UD  to provide more granular control and flexibility on replicas?  For HA, Muti AZ is only needed where Single points of failure (SPOF) are eliminated with an N+1 or 2N redundancy configuration. Where Muti Region design can bring other complexities like replica

[2021-03-13 19:23] mcvsubbu commented on #6532
@pabrahamusa , @fx19880617 , the idea here is to make it cloud neutral. The goal is to assign instances in such a way that each instance for a table is in an "island". The definition of an "island" is cloud-specific. The requirement is that the provider gives a guarantee that should there be some planned outage, no two "island"s will be taken down at the same time. For Azure, this happens to be ca

[2021-03-15 17:55] snleee commented on #6671
1. The routing back to the proper leader controller has been happening. `ServerSegmentCompletionProtocolHandler:createSegmentCompletionUrl()`.
2. The main issue was that the server-side only had the lease extender per instance id, which means that 1 single global lease extender.
3. @jtao15's fix changes servers to have lease extender per table. I think that this is cleaner than having one global l

[2021-03-15 18:11] Jackie-Jiang commented on #6532
Instance pool concept can be used as the availability set. Please read: https://docs.pinot.apache.org/operators/operating-pinot/instance-assignment#pool-based-instance-assignment for more context

[2021-03-15 21:44] mcvsubbu commented on #6671
@snleee  The existing implementation may not route to the correct controller in multi-tenant use cases. If you notice, the constructor of lease extender takes a table name, and that table name is used to find the controller to talk to.

[2021-03-15 22:32] snleee commented on #6671
@mcvsubbu You're right. I got confused. It keeps using the same lease extender since it looks up based on the instanceId

[2021-03-16 07:40] #6671 closed

[2021-03-17 05:16] xulinjintu opened #6688 "To add failure domain field in Helix instance ZNode"
To make instance rack awareness so that we can achieve high availability later, we can add a simple field called "failureDomain" under /CONFIGS/PARTICIPANT/<instance>. This field can be either written manually or by calling cloud provider metadata APIs like [Azure Instance Metadata Service](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/instance-metadata-service?tabs=linux). After

[2021-03-17 06:11] xiangfu0 opened #6689 "Upgrade Pinot JDK Support to 11"
With so many advanced features/perf optimization/better GC on high JDK versions, I propose to deprecate JDK 8  support and directly move to a higher JDK version, like 11, as it's probably the most adopted.

Some pending tasks before/during the upgrade:
- [x] Change PluginManager jar loading use separated classloader. (some try here: https://github.com/apache/incubator-pinot/pull/6424)
- [x] Check

[2021-03-17 11:16] LutzWeischerFujitsu opened #6692 "build fails on AArch64, Fedora 33"
[jw@cn05 pinot]$ mvn install -DskipTests -Pbin-dist
...
[INFO] Installing artifact /home/jw/.m2/repository/org/apache/logging/log4j/log4j-core/2.11.2/log4j-core-2.11.2.jar to /home/jw/apache/pinot/pinot-tools/target/pinot-tools-pkg/lib/log4j-core-2.11.2.jar
[INFO] Installing artifact /home/jw/.m2/repository/org/apache/logging/log4j/log4j-api/2.11.2/log4j-api-2.11.2.jar to /home/jw/apache/pinot/pin

[2021-03-17 18:38] xulinjintu commented on #6688
PS: I chose the cloud neutral term "Failure Domain" by referencing [wikipedia](https://en.wikipedia.org/wiki/Failure_domain).

[2021-03-17 18:52] fx19880617 commented on #6692
This seems to be an issue of license check.
Can you try to add `-Drat.skip=true` into your maven command to bypass this error ?
Or you can add the exclude for `apache-rat-plugin` section into root `pom.xml` file, after line here: https://github.com/apache/incubator-pinot/blob/621ceb021cefa1640708f3bb4d576270717f70d6/pom.xml#L1636

[2021-03-18 08:20] LutzWeischerFujitsu commented on #6692
Thanks, that helped. But for ThirdEye I get this problem:
[jw@cn05 thirdeye]$ ./install.sh
*******************************************************
Building ThirdEye
*******************************************************
[INFO] Scanning for projects...
[WARNING]
[WARNING] Some problems were encountered while building the effective model for org.apache.pinot.thirdeye:thirdeye-pinot:jar:1.0.0-SNAPSH

[2021-03-19 09:10] Eywek opened #6698 "minion configuration don't have any prefix"
To configure minion storage we need to provide `storage.factory.*` (see [startup](https://github.com/apache/incubator-pinot/blob/4183ffe71c19944312a99555392033cbd7481ac4/pinot-minion/src/main/java/org/apache/pinot/minion/MinionStarter.java#L164)).

But those configuration keys doesn't have the `pinot.minion` prefix like for others services (e.g. `pinot.controller.*`):
https://github.com/apache/inc

[2021-03-19 14:18] pabrahamusa opened #6699 "JSON Index - Parser fails for some normal JSONs"
I have a JSON which looks like the one below. But JSON parser fails with errors

[code]

JSON errors

server java.lang.IndexOutOfBoundsException: Index: 6279, Size: 1
at java.util.ArrayList.get(ArrayList.java:435) ~[?:1.8.0_282]

shaded.com.fasterxml.jackson.core.JsonParseException: Unexpected character ('/' (code 47)): maybe a (non-standard) comment? (not recognized as one since Feature 'ALLOW_CO

[2021-03-19 17:54] Jackie-Jiang commented on #6699
Can you please elaborate more on which operation has caused the exception? I am able to parse the JSON posted here without any exception.
Yes, we can add an option for data ingestion to put default value if the parsing encounters exception.

[2021-03-19 21:47] xiangfu0 opened #6700 "Throw exception and give error message when creating schema with spaces in column name"
We should add checks to validate column names.

[2021-03-20 00:02] skhatri opened #6701 "Add maven-wrapper so local maven binary is not required"
Add maven wrapper script so local maven binary is not required when working with code base locally

[2021-03-21 14:21] timebertt opened #6704 "Helm chart: minion in CrashLoopBackOff"
When installing pinot using the helm chart, the minion immediately goes into `CrashLoopBackOff`.

Error logs from the minion instance:
[code]

Might be related to https://github.com/apache/incubator-pinot/pull/6430/files#diff-f2f45beb0be7ab7259835411627d8aed40dff1b4a92e53ab186cd07e1a57d7feR146-R148
cc @fx19880617

## Steps to reproduce

1. Add helm repo:
[code]

2. Install pinot chart using the fo

[2021-03-21 18:14] fx19880617 commented on #6704
Can you try with latest pinot tag for minion?

[2021-03-21 21:01] timebertt commented on #6704
Thanks, that works!

[2021-03-21 21:01] #6704 closed

[2021-03-22 20:49] fx19880617 opened #6706 "Support IF statement in Transform function for post aggregation"
This is for queries like:
[code]

[2021-03-22 20:50] siddharthteotia commented on #6700
@mqliang , do you want to take this up?

[2021-03-22 20:51] fx19880617 commented on #6706
@Jackie-Jiang does pinot support transform function on top of aggregations?

[2021-03-22 20:56] mqliang commented on #6700
Sure. I can pickup this.

[2021-03-22 21:05] siddharthteotia opened #6707 "Support EXPR_MIN, EXPR_MAX aggregation functions"
Naming can be discussed but here is what the functions should do

An aggregation only query will return exactly one row and one column as the output of the aggregation function. So for example, we can do sum/min/max on a column and get the sum/min/max computed over the column values.

When aggregations are used with GROUP BY, the output rows are going to contain GROUP BY columns along with 0 or mo

[2021-03-22 21:06] mqliang opened #6708 "Support ago() transform function"
Pinot supports two types of transform functions:

* Scalar transforms
* Non-scalar transforms

Scalar transform take in a scalar (string, int etc) value and output a scalar value. For example, now() was added as a scalar transform function to return the current timestamp as milliseconds from epoch

We should consider adding another scalar function ago(timespan) which subtracts the given timespan t

[2021-03-22 21:12] kishoreg commented on #6707
I like this!

Can we find a better way to model this in a generic manner? This is more like a function that takes a bunch of rows and returns one row in the end right?

more like a
```reduce_function(functionName, input columns, output columns)```

[2021-03-22 21:19] fx19880617 commented on #6701
Thanks for bringing this up!

Do you want to contribute and submit a PR for this?

[2021-03-22 21:45] fx19880617 commented on #6708
I think @Jackie-Jiang is on adding a new data type for DATE/TIMESTAMP.

From my perspective, the reason we have so many time unit conversion functions is that we push all the overhead of managing type conversion to users.

Ideally, those functions should either return type of TIMESTAMP or DATE, then we can handle the comparison internally.

[2021-03-22 22:08] siddharthteotia commented on #6708
So for now, may be we can settle with semantic as follows:

For a filter `WHERE timeCol > ago(1h)`, we will convert current time (millis from epoch) into hours and then do subtraction. We will use assume that timeCol has values in hoursSinceEpoch or if not user then user does the conversion `WHERE toEpochHours(timeCol) > ago(1h)`. This can be applied to other timespan interval arguments (1d, 1h, 1

[2021-03-22 22:09] siddharthteotia commented on #6707
Yes, so just like current aggregation functions, it will return one row. If use along with GROUP BY, then there will be as many rows as the number of groups.

The main semantic difference between this and existing aggregation functions is that user may not necessarily want to return the column on which aggregation is computed on. So, that's where this will come handy

I was initially thinking its

[2021-03-22 22:10] fx19880617 commented on #6708
I prefer to make `ago` returns the value in a fixed time unit like millis so it will be simpler for users to modify it and later on we may easily do directory convert over it. E.g. we can convert millis value directory to `TIMESTAMP` type in the future.

[2021-03-22 22:15] fx19880617 commented on #6707
Hmm, what do you plan to handle in the case that multiple rows with the same max value? Do we want to return 1 row, or can we try to support multiple rows as well? Also, do we want to support order by on the selected columns?

[2021-03-23 00:02] pabrahamusa commented on #6699
@Jackie-Jiang I will enable the JSON index and try again and post more examples. How can I add an option for data ingestion to put default value and skip parsing if there are any formatting errors?

[2021-03-23 04:02] guruguha opened #6713 "Move SegmentReducer reduce() method to Off-Heap Implementation"
Serialize the generic row (not the default object serde, but a custom one).
Use a PinotDataBuffer to store those off-heap
Sort the rows in the buffer

Implementation will be similar to OffHeapSingleTreeBuilder’s sortAndAggregateSegmentRecords method.

[2021-03-23 06:53] mqliang opened #6714 "Benchmark data table serialization logic and pre-allocate byte[] array if need be"
As @siddharthteotia pointed out in https://github.com/apache/incubator-pinot/pull/6710#discussion_r599240463_

We need to benchmark this two serialization approach. If the proposed approach is better, will send a PR to address it.

[2021-03-23 12:06] skhatri commented on #6701
@fx19880617 - I have a PR here https://github.com/apache/incubator-pinot/pull/6702

[2021-03-23 16:53] kishoreg commented on #6707
lets restrict it to return one row for now, makes it easy to reason about.  To support order by etc, we can model that using the same syntax right for e.g

```reduce_function(sub_query("select .. from ... order by"), input columns, output columns)```

we can add support for more things like a groovy script etc.

[2021-03-23 22:25] Jackie-Jiang commented on #6706
Yes, modeled as post-aggregation

[2021-03-24 22:30] liuchang0520 opened #6715 "Add a flag in FieldSpec to indicate whether the _defaultNullValue is user-defined"
Currently in [FieldSpec](https://github.com/apache/incubator-pinot/blob/master/pinot-spi/src/main/java/org/apache/pinot/spi/data/FieldSpec.java), [_defaultNullValue](https://github.com/apache/incubator-pinot/blob/master/pinot-spi/src/main/java/org/apache/pinot/spi/data/FieldSpec.java#L69) is set in this way:
(1) If this field has a user-defined default value, set _defaultNullValue to the user-defi

[2021-03-24 22:35] kishoreg commented on #6715
We can know this by looking at the schema right? why do we need another flag for this

[2021-03-24 22:41] Jackie-Jiang commented on #6715
You don't need another flag in the `FieldSpec`, instead you can add a method in `FieldSpec` which is json-ignored and return whether the `_stringDefaultNullValue` is `null` (whether the default is user-defined).
I don't quite follow why you need to know whether the default is user-defined though. You can always leave null field as is and Pinot will fill it with default (either user-defined or not)

[2021-03-24 22:52] liuchang0520 commented on #6715
@kishoreg @Jackie-Jiang  OK make sense. I missed the step where Pinot fills in the default value after getting a null field from decoder.
This change is not needed.

[2021-03-25 01:53] #6715 closed

[2021-03-25 06:41] mqliang commented on #6714
I write a benchmark here: https://github.com/mqliang/incubator-pinot/commit/7892423579b20dafcb5802a09f20f826377f6c39

The benchmark compares three serialization methods (serialize a typical metadata map):
*  `temporaryOutputStream`: For each KV pair in metadata, first writes to a temporary output stream and then converts to byte array which is returned to the caller and written to the main stream

[2021-03-25 10:33] Eywek opened #6717 "realtime segment goes to offline because of null pointer exception"
I'm using the 0.7.0-695ca390a8080409b3b76f250f2315b81b86b362.

I have the following table schema:
[code]
On the following realtime table:
[code]

But all of my segments (except for the consuming one) are offline with following metadata:
[code]

On the logs I can see:
[code]
[code]
[code]

Do you have any idea why this happen? I don't really see why a NullPointerException is throwed.

Thank you

[2021-03-25 15:43] mcvsubbu commented on #6717
This was fixed in PR #6671

[2021-03-25 15:59] Eywek commented on #6717
Thank you, I will try with master and keep you updated

[2021-03-25 17:59] Eywek commented on #6717
It worked, thank you

[2021-03-25 17:59] #6717 closed

[2021-03-28 16:41] salamehsameera commented on #6470
I'm looking for a task to get familiar with the project, I can take this since it's labeled with 'beginner-task'!

[2021-03-28 20:34] mqliang opened #6720 "Benchmark setColumn() in DataTableBuilder and write all values one by one instead of using rowId and colId to position if need be"
As pointed at: https://github.com/apache/incubator-pinot/blob/e892cb2942f1f41ac7056d977eeca0e5b22897d0/pinot-core/src/main/java/org/apache/pinot/core/common/datatable/DataTableBuilder.java#L77

Currently, `setColumn()` use rowId&colId to first locate the offset of ByteBuffer, the write the actual value to the offset. This allowed us to set the value for a given colId, but have a lot of overhead of

[2021-03-28 23:02] mqliang commented on #6720
I write a bench mark here: https://github.com/mqliang/incubator-pinot/commit/a32a61aad5dfa6b6c4a09064c75926b00495cd3a

The benchmark compares three ways to build a data table:
* `BenchmarkDataTableRowIdColIdBuildInOrder`: for each row, call `dataTableBuilder.setColumn(colId, value);` to set the value for each column. However, set value of columns in order of: 1st col, 2nd col, 3nd col...
* `Benchm

[2021-03-28 23:57] mqliang commented on #6720
@Jackie-Jiang It turns out there is a bug in the benchmark: for `BenchmarkDataTableRowIdColIdBuildRandomOrder()`, I also time the function of shuffling column ids. After moving the shuffling logic out of the function (see fix: https://github.com/mqliang/incubator-pinot/commit/c19b51947a5df804a3c819725f037fb1d6388062), the result becomes:

benchmark result of 100 rows table:
[code]

benchmark resul

[2021-03-29 14:12] alexandervivas commented on #6433
Did you find a solution? I ended up coding something in a fork.

[2021-03-29 16:09] mayankshriv opened #6723 "Pinot SPI Refactor"
In the first phase of refactoring, we introduced the plugin based architecture for file-system, ingestion, metrics, etc. This is a continuation of the work. In this scope we would like to refactor the segment and query functionality as spi as well.

A detailed design doc can be found here: https://docs.google.com/document/d/1urROfQZuTE8JJmW3IMCeB2i3FYoEyG1TCyPsxvSaNuw/edit?usp=sharing

[2021-03-29 17:30] dongxiaoman opened #6724 "Query do not return enough results with filter of "group by , having""
we have a query like below, created_at is the time column
[code]
It is returning random results, sometimes 38 items, sometimes 20 items. In our dataset it should have much more than 400.

[2021-03-29 17:36] Jackie-Jiang commented on #6724
This is a known limitation for `HAVING` clause because the having is computed on broker side only. We don't transfer results from all the groups from servers to broker for performance concern, so in order to get the correct result, you should sort the groups: `SELECT transaction_id, count(*) as cnt FROM point_transaction where created_at >=1616760000 and created_at < 1616846400 group by transactio

[2021-03-29 18:11] dongxiaoman commented on #6724
thanks for explaining; makes sense
final statement is like below:
[code]

[2021-03-29 18:38] kishoreg commented on #6724
@Jackie-Jiang should we do automatic query rewrite for this?

[2021-03-29 18:49] yupeng9 commented on #6724
@dongxiaoman @Jackie-Jiang I think we shall reopen this issue, as the original query is a valid one but the returned result is incorrect. I have seen similar reports too.

User wouldn't understand the implementation reasons, and they will simply conclude that pinot gives incorrect results.

[2021-03-29 20:19] Jackie-Jiang commented on #6724
@kishoreg We can do automatic query rewrite for queries without ordering, but it won't work for the following scenarios:
- User wants different ordering, e.g. `select ... having col > 10 order by col asc`
- Nested having clause, e.g. `select ... having col1 > 10 and col2 > 5`
- Having clause asks for a range, e.g. `select ... having col between 5 and 10

To give accurate result, we need to gather

[2021-03-29 20:23] mqliang opened #6726 "Bump up DataTable version to address TODOs in DataTableBuilders"
As discussed into: https://github.com/apache/incubator-pinot/pull/6710, we need bump up DataTable version to address TODOs in DataTableBuilders:
[code]

For the 3rd TODO, it speculative and benchmark result shows it's not needed: https://github.com/apache/incubator-pinot/issues/6720

[2021-03-29 21:36] mqliang opened #6727 "Set up a pipeline or maven plugin to enforce java format"
There are lots of files are not formatted properly, engineers often forget to format it before commit. We need either setup a Github workflow/pipeline, or a maven plugin to enforce java format

Some tools may be useful:

CLI tools:
* https://github.com/google/google-java-format

Maven plugins:
* https://github.com/diffplug/spotless/tree/main/plugin-maven
* https://github.com/coveooss/fmt-maven-plu

[2021-03-29 21:54] fx19880617 commented on #6727
Thanks for bringing this up!

+1000 on this, I think a maven plugin should be good enough.

[2021-03-30 00:40] Jackie-Jiang commented on #6720
This is awesome findings. Small suggestion to the benchmark is to return a value extracted from the data table to ensure the code is not optimized away by the JIT.

[2021-03-30 16:25] rmatharu commented on #48
Is there a way. to get the Pinot Grafana plugin code or get it to work?

[2021-03-30 16:32] fx19880617 commented on #5837
Hi @SandishKumarHN, any update on this and anything we can help?

[2021-03-30 17:03] xiangfu0 opened #6729 "Memory Size Estimation on UpsertTable"
We need tooling to estimate the memory/disk size for the upsert table based on primary keys and their cardinalities.

[2021-03-30 17:24] jackjlli opened #6730 "Remove config of enabling lead controller resource"
Lead controller resource is design to logically separate the per-table functionality in pinot cluster.

As lead controller resource feature has been implemented and running for a while, we'd like to enable this feature to keep the behavior consistent in all Pinot clusters.

Before enabling the lead controller resource, there is only 1 pinot controller (which is also the helix lead controller) that

[2021-03-30 18:07] fx19880617 commented on #6729
This is to have the tooling to estimate upfront size, just estimate.
E.g. ```pinot-admin.sh EstimateTableSize -schema mySchema.json -tableConf myTable.json -columnStats xxxx```
@deemoliu

E.g. I have a composite primary key with two string columns, estimated size is 24 bytes and 40 bytes, the unique combination is 16 million.
Then for the Primary keymap size estimation:
- For keys:  keySpace is (2

[2021-03-30 19:54] yupeng9 commented on #6729
I see. This will be a useful tool to add. Also, we can leverage the metrics for calibration/validation.

[2021-03-30 22:48] Jackie-Jiang commented on #6726
(Optional) For the 3rd TODO, we may simplify the code by replacing `setColumn(int colId, int value)` to `pubValue(int value)` because we always put values one by one. Performance difference might not be huge, but should be cleaner.

[2021-03-30 23:10] icefury71 commented on #5904
@kishoreg @lgo ok to close this issue ?

[2021-03-30 23:36] mqliang commented on #6726
`AppendValue()` looks much better.

[2021-03-31 02:38] #6652 closed

[2021-03-31 05:11] mqliang opened #6732 "Remove DataTable V2 code after 0.8.0 is released"
As discussed in https://github.com/apache/incubator-pinot/pull/6710#issuecomment-810385539, We will stop supporting DataTable V2 after 0.8.0 is released.

Create this issue to track TODOs after 0.8.0 is released:

* remove all DataTable V2 related code.
* change the `getMetadata()` API return a `Map<MetadataKey, String>` instead of `Map<String, String>`

[2021-03-31 23:40] Jackie-Jiang commented on #5829
Reopen this issue as we should show long values correctly in Pinot Query Console

[2021-04-01 17:40] mqliang commented on #6700
Close this since https://github.com/apache/incubator-pinot/pull/6735 has been merged

[2021-04-01 18:58] joshigaurava commented on #5829
I believe there are a couple of ways to tackle this.

**1.** Given that long precision is lost when UI requests query result and that the result is display-only (meaning it is not further used in any business logic or for any processing) the server can simply send all the data as string values. However, this will require changes in the server as well as minor changes in the UI. In case the data is

[2021-04-01 20:09] mayankshriv commented on #5829
If we go route1, then we might want to measure overhead with a large
response. I have seen orders of magnitude difference in latency seen by the
broker vs something on top of the broker (eg query console, python script,
etc) which end up doing these kinds of transformations per value.

Cheers,
Mayank

On Thu, Apr 1, 2021 at 11:58 AM Gaurav Joshi ***@***.***>
wrote:

[2021-04-01 20:14] jpbetz commented on #30
closing hopelessly stale issues I've opened

[2021-04-01 20:14] #30 closed

[2021-04-01 23:54] Jackie-Jiang commented on #5829
For approach 1, my concern is more about changing the format in the json response, which might break the service parsing it. But approach 1 seems the better solution because if we only change our UI to handle it, other clients reading the result can also run into the same issue.

For approach 1, there are 2 options:
1. Return all values as string (with double quotes)
2. Only convert large values t

[2021-04-02 00:24] amrishlal commented on #6707
Looks useful, but we would probably need to hash out the edge cases and put it in a generic form. For example:
   `SELECT id AS myid, EXPR_MAX(timestamp, *) AS mydata FROM Foo GROUP BY id`
in case of scalar or aggregate function "AS" will rename the projected column. We would need to hash out how AS will work in this case (and how it may feed into a higher-level query from a subquery using this fu

[2021-04-02 10:48] kyostyle1 commented on #6433
Could you share you fork. I'm has problem cannot query from brokers to realtime server when adding group.id in consumer path.

[2021-04-02 10:56] alexandervivas commented on #6433
@kyostyle1, sorry for the inconvenience, what I actually coded was for pinot to be able to connect to kafka clusters hosted in other platforms through ssl certificates and basic auth.

I'm afraid this will be a lost cause because for them to be able to manually select the offsets where they need to consume messages from mostly for data recovering purposes and consistency in the segments they don't

[2021-04-03 01:32] Jackie-Jiang commented on #5829
@mcvsubbu @yupeng9 @siddharthteotia @fx19880617 Do you think it could cause backward incompatible issue on client side if we return values as string as mentioned above?

[2021-04-03 02:02] Jackie-Jiang commented on #6723
Segment SPI refactor PR: #6721

[2021-04-06 00:59] Jackie-Jiang commented on #5829
Decide to go with option 2 (only convert large values to string) as it won't have any impact to most use cases (values larger than 2^53 or smaller than -2^53 are very uncommon): #6745

[2021-04-07 07:54] kotharironak opened #6752 "Enhancing JSON index to provide free text search on string value space"
I tried the JSON index support in the latest `apache-pinot-0.7.0`and observed that I was not able to do a free text search on `json` value space.

As shown in the below example, I was able to do an equality search as in Q1. But, I was not able to do the `text_match` kind of search as in Q2.
[code]

Query Q1: returns -> [1236]
[code]

Query Q2: returns empty result (was expecting it to return : [12

[2021-04-07 18:08] lzwaan opened #6753 "Wrong port to start a standalone Superset deployment"
Port should be -p 8088:8088 not like below:

docker run \
  --network pinot-demo \
  --name=superset \
  -p 8088:8080 \
  -d apachepinot/pinot-superset:latest

[2021-04-07 19:07] fx19880617 commented on #6753
right, superset is on port 8088. This  should be 8088:8088

[2021-04-07 19:08] fx19880617 commented on #6753
I've updated the doc here: https://app.gitbook.com/@apache-pinot/s/apache-pinot-cookbook/integrations/superset

[2021-04-07 19:57] #6753 closed

[2021-04-08 00:17] GSharayu opened #6756 "Support IN predicate in ColumnValue SegmentPruner"
Server side segment pruning is currently supported for =, RANGE filter operators using min-max value stats (segment metadata). Similarly, bloom filter is also used for = filter.

For IN filter operator, we should add support for min-max value based pruning if the number of values in the IN clause are below a certain threshold.

Adding this support for large number of values in IN clause won't be h

[2021-04-08 01:56] daniellavoie opened #6757 "Test failure on Pinot Hadoop"
Our internal CI system picked up regressions on commit `4b0db5a3cfdfe69551cef235f9d8c25ffe31b254` found on `master`. I was able to reproduced locally with a fresh maven repository.

[code]

[2021-04-08 07:31] Jackie-Jiang commented on #6757
I cannot reproduce this locally. Based on the error message, seems the failure is caused guava library version conflict. Can you please check if there are multiple versions of guava

[2021-04-08 07:45] Jackie-Jiang commented on #6752
Json index only supports exact match. In order to do text match, you need to use `jsonExtractScalar`, e.g. `select ... where jsonExtractScalar(json_col, '$.message', 'STRING') like 'too.*'. The performance might not be very good because we have to scan and reconstruct the json from the json string.
You can add text index on the json string column, but that will treat the json string as regular str

[2021-04-08 13:14] daniellavoie commented on #6757
Seems to run fine from the IDE, but still getting the error with `mvn test`

[code]

[2021-04-08 13:16] daniellavoie commented on #6757
Might be caused by the shade plugin configuration.

[code]

[2021-04-08 13:19] #6433 closed

[2021-04-08 13:39] daniellavoie commented on #6757
Honestly, I'm clueless, hadoop-client 2.7.0 uses method signatures that matches guava 20

[2021-04-08 13:48] daniellavoie commented on #6757
Found this:

[code]

Wondering if the surefire plugin is forking the tests in a distinct JVM. Sounds like it's not the case and would explain why we are getting different behavior from the IDE.

[2021-04-08 15:00] daniellavoie commented on #6757
I added `-verbose` to the surefire plugin and found the following interesting trace

[code]

[code]

[2021-04-08 15:15] daniellavoie commented on #6757
Fixed it by adding the guava `cache` package to the `pinot-common` shade relocation configuration. PR coming through.

[2021-04-08 18:35] #6757 closed

[2021-04-09 19:48] #6453 closed

[2021-04-09 19:52] npawar opened #6766 "Add star-tree and json index to the output of /segments/{tableName}/metadata API"
This PR https://github.com/apache/incubator-pinot/pull/5718 introduced the API. We are missing json index and star tree index from it.
[code]

[2021-04-09 19:53] npawar commented on #6766
fyi @kriti-sc

[2021-04-09 20:04] npawar opened #6767 "Support REALTIME tables in reload status (segment metadata API)"
This PR https://github.com/apache/incubator-pinot/pull/5718 introduced the metadata API on the controller, which provides indexing info for each segment from the segments on the server. However, it is not handling REALTIME tables as of now.
Add support for realtime tables.
Once added, also ensure the Pinot Cluster Manager i.e. Pinot UI is able to show it for realtime tables (Reload Status button)

[2021-04-09 23:08] fx19880617 opened #6768 "DBT Pinot support?"
Wanna check if anyone is using DBT and found that making Pinot a data source of it would be useful.

https://docs.getdbt.com/docs/introduction

[2021-04-09 23:44] npawar opened #6770 "Reduce memory used for collection/sorting in SegmentReducer in the SegmentProcessorFramework"
We added this SegmentProcessorFramework: https://github.com/apache/incubator-pinot/blob/master/pinot-core/src/main/java/org/apache/pinot/core/segment/processing/framework/SegmentProcessorFramework.java
Here’s some background about the framework: https://docs.google.com/document/d/1-e_9aHQB4HXS38ONtofdxNvMsGmAoYfSnc2LP88MbIc/edit#heading=h.ths3qhhyyy7w

This framework takes M segments and converts

[2021-04-10 23:50] xiangfu0 opened #6772 "[Bug] Segment name doesn't support '/'"
Since we support segment name with start/end time in it, if the time format is in `yy/mm/dd` then it introduces special characters like '/' into segment name.

Segment upload path if fine, we can see the segment is loaded into the controller, but it's stored into a directory format.
E.g. segment name: `covid_cases_OFFLINE_2020/10/23_2021/01/28_0` is stored into many levels of directory:
[code]

Fr

[2021-04-10 23:52] fx19880617 commented on #6772
Thanks to @bitsondatadev for reporting this!

[2021-04-10 23:54] fx19880617 commented on #6772
The mitigate should be URL encoded the segment name or we just replace '/' with some other character like '_' during the segment naming phase.

[2021-04-12 18:57] chenboat opened #6777 "Use CONSUMING and COMPLETED as Pinot Realtime Segment status enum for consistency"
Today the Enum values used in realtime segment status are IN_PROGRESS and DONE.

https://github.com/apache/incubator-pinot/blob/e9170aa8e61a00032f036d6e56bf21f6bebef1e6/pinot-common/src/main/java/org/apache/pinot/common/utils/CommonConstants.java#L392

They are inconsistent with usages elsewhere in the code base where CONSUMING is used for IN_PROGESS and COMPLETED is used for DONE.

We should depr

[2021-04-12 23:26] dongxiaoman opened #6779 "Provide testing help in pinot-java-client"
Right now it is not easy to do the below simple testing steps:
1. Write some SQL, manually query into Pinot cluster
2. Record the response JSON into a resource file in Java
3. use that JSON as test fixtures to mock response

The major issue is that our [TestableResultTableResultSet.java](https://github.com/apache/incubator-pinot/blob/release-0.7.0/pinot-clients/pinot-java-client/src/main/java/org/

[2021-04-13 00:52] hochuenw-dd opened #6780 "Helm chart deployment with volumeClaimTemplates"
Hi, we deploy pinot on kubernetes using [this helm chart](https://github.com/apache/incubator-pinot/blob/master/kubernetes/helm/pinot).
Initially, we set `persistence.enable` to false and we start working on using persistent volumes and set it to true. But we are getting
```StatefulSet.apps "pinot-server" is invalid: spec: Forbidden: updates to statefulset spec for fields other than 'replicas', 't

[2021-04-13 07:49] snleee opened #6785 "Update LICENSE file and the actual license text under '/licenses'"
We had the major code change in the UI (#5684) and this PR removed all the bundled javascript/css files. The PR had some changes in `LICENSE` file but it seems that it needs improvement (i.e. we added a lot of packages to `LICENSE` file but those packages are getting pulled during the compilation so we don't need to include them for `LICENSE` file)

We keep the separate `LICENSE`, `LICENSE-binary`

[2021-04-13 17:28] mcvsubbu opened #6787 "Use absolute file paths for compat testing"
Compatibility tester needs that the yaml files used for testing (and the file paths within yaml files) reside in the resource directory path. We should change these so that the files can be absolute path. This will allow Pinot installations to specify their own test suite and run compat testing before upgrade to new pinot versions.

The tester script should take a directory name (absolute path) as

[2021-04-13 20:58] awishnick opened #6788 "Support star tree index AVG if SUM and COUNT are present"
If I have SUM and COUNT listed in functionColumnPairs, it should be possible to support AVG too without it needing to be in the list.

[2021-04-13 23:53] mqliang opened #6790 "Delete codestyle-intellj.xml and update codestyle-eclipse.xml, then enable eclipse formatter in spotless maven plugin"
- codestyle-intellj.xml file can be deleted now. Intellj support import eclipse code formatter settings since 2014. Maintaining one file is much easier that maintaining two.
- the existing codestyle-eclipse.xml is not compatible with the spotless maven plugin. We need update it from version 13 to 15.
- After codestyle-eclipse.xml  is updated to version 15. We can enable eclipse code formatter in s

[2021-04-14 09:48] FcoLopera commented on #6591
I have suffered the same issue. Fortunately, there is a solution provided by the community, you can check it here:
- https://communityinviter.com/apps/apache-thirdeye/apache-thirdeye.

Thanks to @suvodeep-pyne, he has a fork of the incubator project:
- https://github.com/suvodeep-pyne/incubator-pinot/tree/1.x/kubernetes/helm/thirdeye

By using it and the thirdeye image from his dockerhub repositor

[2021-04-14 16:33] GSharayu opened #6793 "Compute absolute lucene docID when searching the lucene realtime text index"
A Lucene index is likely to be composed of multiple sub-indexes (also called as segments in Lucene terminology). Each sub-index is an independent searchable index. The documents stored in each sub-index have docIDs relative to that sub-index. So if we have total 400 docs in Pinot table column with text index and the underlying Lucene index has 2 sub-indexes with 200 docs each, the Lucene docIDs wi

[2021-04-14 20:55] GSharayu opened #6796 "Add realtime text index segment back to queue in the refresh thread"
The refresh thread maintains a single global queue of realtime text index readers across all consuming segments across all tables.

A reader is polled, refreshed and supposed to be added back to the queue so that it can be refreshed again in the next cycle. There is a bug in the refresh thread code as it somewhere fails to add the polled reader back to the queue.

This will introduce the lag betwe

[2021-04-16 00:16] GSharayu opened #6804 "Support LZO, LZ4, ZSTD, DEFLATE, GZIP compression encoding for raw index"
When the forward index is not dictionary encoded, we have 2 choices: * store the data as is (RAW)

store the data snappy compressed - using snappy compression codec library
In addition to snappy, we should add support for other compression codecs subject to their availability in Java libraries.

Currently by default we use Snappy compression. However, this didn't really give good compression ratio

[2021-04-16 00:22] siddharthteotia commented on #6793
Resolved by https://github.com/apache/incubator-pinot/pull/6799

[2021-04-16 00:22] #6793 closed

[2021-04-16 00:23] siddharthteotia commented on #6756
Support added in PR - https://github.com/apache/incubator-pinot/pull/6776

[2021-04-16 00:23] #6756 closed

[2021-04-16 01:00] Jackie-Jiang commented on #5829
After more offline discussion, to prevent breaking the client code, we decide to limit the changes to the UI to handle large numbers.

[2021-04-16 04:58] Jackie-Jiang commented on #4450
Supported in SQL (PQL is deprecated)

[2021-04-16 04:58] #4450 closed

[2021-04-16 04:59] Jackie-Jiang commented on #32
Can be set in query options on a per-query basis. Query console also has a field to put a timeout

[2021-04-16 04:59] #32 closed

[2021-04-16 05:01] Jackie-Jiang commented on #42
Too old, no longer relevant

[2021-04-16 05:01] #42 closed

[2021-04-16 05:02] #50 closed

[2021-04-16 05:03] #77 closed

[2021-04-16 05:04] #111 closed

[2021-04-16 05:06] Jackie-Jiang commented on #3539
All the asked features are supported now with SQL query

[2021-04-16 05:06] #3539 closed

[2021-04-16 05:08] Jackie-Jiang commented on #4265
This is done, and the replacement is the `pinot-client` package

[2021-04-16 05:08] #4265 closed

[2021-04-16 05:10] #4332 closed

[2021-04-16 05:10] #4407 closed

[2021-04-16 05:10] #4408 closed

[2021-04-16 05:10] #4507 closed

[2021-04-16 05:10] #4673 closed

[2021-04-16 05:10] #4689 closed

[2021-04-16 05:10] #5517 closed

[2021-04-16 05:10] #5518 closed

[2021-04-16 05:10] #5519 closed

[2021-04-16 05:10] #5520 closed

[2021-04-16 05:10] #5521 closed

[2021-04-16 05:10] #5523 closed

[2021-04-16 05:10] #5524 closed

[2021-04-16 05:10] #5525 closed

[2021-04-16 05:10] #5526 closed

[2021-04-16 05:10] #5527 closed

[2021-04-16 05:10] #5863 closed

[2021-04-16 09:53] fx19880617 commented on #6804
there is some previous discussion here: https://github.com/apache/incubator-pinot/issues/5407

[2021-04-16 16:26] MrNeocore opened #6805 "Schema not updated when selecting another table in Query Console Tab on Pinot UI"
Copied from Slack

## Context:
- I've got 2 tables with 2 separate schemas
- I'm on the Query Console Tab

## Problem :
- I click on  a table, the schema appears below it - the schema is valid (the one corresponding to this table)
- I then click on the other table, the schema of the previous table remains
- If I reload the page and click on the other table first, its schema remains after I click o

[2021-04-16 16:43] #5346 closed

[2021-04-16 17:16] shahsank3t commented on #6805
Thanks for reporting @MrNeocore I am able to reproduce this and working on a fix for it.

[2021-04-16 17:28] yupeng9 commented on #6804
I'd also suggest Gorilla TSZ compression to the list, which was proposed by Facebook [Gorilla project](http://www.vldb.org/pvldb/vol8/p1816-teller.pdf). This compression algorithm is adopted by Uber's [m3TSZ](https://github.com/m3db/m3/tree/master/src/dbnode/encoding/m3tsz), which showed 40% improvement over standard TSZ, [observed from Uber's production workloads](https://m3db.io/docs/architectur

[2021-04-16 17:59] shahsank3t commented on #6805
Fixed and created a PR - https://github.com/apache/incubator-pinot/pull/6806

[2021-04-16 19:30] #6805 closed

[2021-04-16 19:54] fx19880617 commented on #6804
I feel we should separate encoding and compression.
Maybe add two new fields into the schema.
For raw index encoding, we can support multiple options for different types:
e.g. INT/LONG : Delta/DoubleDelta/Gorrila
FLOAT/DOUBLE: Gorrila

For compression, we can support LZO, LZ4, ZSTD, DEFLATE, GZIP, SNAPPY etc

[2021-04-16 20:55] siddharthteotia commented on #6804
In columnar database world, encoding is commonly referred to column level compression techniques which play nice with columnar query execution - dictionary encoding, RLE, delta where the true benefit is that query processing can happen on compressed columnar data (e.g dictionary encoding)

The purpose of this issue is to not add any new column level encoding. I was thinking of having a separate is

[2021-04-16 21:22] fx19880617 commented on #6804
Got it, so we should still make it columnar and do it at block level? Then we still need to add this to schema right?

[2021-04-16 21:35] siddharthteotia commented on #6804
Yes this will also be columnar and will be block level although LZ4 supports some form of streaming/frame. I am not sure why do we need to add it to schema? Do you mean configuring it via table config?

[2021-04-16 22:00] fx19880617 commented on #6804
Cause we want to allow tuning compression per column basis, e.g. column1 in snappy and column2 in lz4 right?

This info can be stored:
-  either inside FieldSpec in schema,
-  or add a new field in tableConfig, with a map of columns to compression type mapping.

[2021-04-16 22:05] siddharthteotia commented on #6804
Right. Since all the per column index/encoding/compressions and any tuning info is in table config, may be we can continue to have it in the config. The table config already has a field to capture this.

[2021-04-17 00:00] fx19880617 commented on #6804
Got it. For this part, if users change the config for a column compression type, do we consider rebuilding the column data?

[2021-04-19 05:35] Jackie-Jiang opened #6812 "Add an endpoint to manually trigger each controller periodic task"
Currently the controller periodic task can only be triggered via the scheduler. Occasionally users might need to use the periodic task to fix some state (e.g. use `RealtimeSegmentValidationManager` to add consuming segments for a new partition, use `SegmentRelocator` to relocate segments etc.). It would be good to add an endpoint to manually trigger the periodic task.

[2021-04-19 11:11] jnsrikanth opened #6813 "Unable to create offline table baseballStats while quick-start-batch launch of Apache Pinot"
Hi,
I have installed Apache Pinot on Ubuntu Linux 18.0.4 as per the instructions given in the official link below.

https://docs.pinot.apache.org/basics/getting-started/running-pinot-locally

However, I am facing the below Error while starting up of Apache Pinot after issuing the below command.

bin/quick-start-batch. sh

The Error Log from the console is below:

Executing command: StartMinion -mi

[2021-04-19 16:26] mcvsubbu commented on #6812
I think this is a useful feature to have, but we need to be careful to trigger this in the lead controller for the table. Otherwise,  if two controllers work on the same task simultaneously, weird things may happen

[2021-04-19 16:47] amrishlal opened #6814 "FLOAT missing from Literal datatypes, but defined in Column datatypes."
FLOAT is missing from Literal datatypes (org.apache.pinot.common.request.Literal) but defined as a column datatype (org.apache.pinot.spi.data.FieldSpec.DataType). This may create type conversion issues since the only way to specify values for FLOAT column is by using DOUBLE literal values.

Literal defines the following datatypes:
    BOOL, BYTE, SHORT, INT, LONG, DOUBLE, STRING, BINARY

FieldSpec

[2021-04-19 17:55] Jackie-Jiang commented on #6812
@mcvsubbu Good point. In order to run a particular task on a particular table, we also no to figure out which controller hosts the target table.

[2021-04-19 20:31] mikecdavis-dd opened #6815 "Support environment variable injection via Pinot helm chart."
The current Pinot helm chart does not provide a way to inject custom environment variables. Environment variables can be used as a substitute for config properties as well as templated table definitions and is already supported as part of the Pinot runtime.

Specifically we need to inject secrets for Pinot Basic Auth https://github.com/apache/incubator-pinot/pull/6613 as well custom Kafka credenti

[2021-04-19 20:55] Jackie-Jiang commented on #6814
The literal type should not matter. We should convert the literal values based on the field data type, and as long as the values can be represented by the literal, we are good. Actually on the server side, literal is always stored as string

[2021-04-19 21:01] Jackie-Jiang commented on #6813
@jnsrikanth Hi Srikanth, I cannot reproduce the issue here. Which version of pinot are you running? Can you please try the latest master and see if it works?

[2021-04-19 22:27] fx19880617 commented on #6813
Can you check if the broker is started as expected? Is the default broker port(8000) occupied?

[2021-04-20 05:42] amrishlal commented on #6814
From what I saw server is converting a string literal that appears in the predicate at least twice to an integer value and this is after Broker/Calcite has already parsed the string as number and possibly operated on (plus/minus scalar functions). So while it works, there is a bit of cost associated with it. There are also potential correctness issues. For example long to double conversion (which

[2021-04-20 19:18] Jackie-Jiang commented on #6814
I agree that always using string literal is not efficient (legacy behavior carried over from PQL). For literal, we should keep only the necessary types as long as the value can be represented correctly without losing accuracy. Keeping `LONG`, `DOUBLE` and `STRING` should be able to represent all types supported by Pinot. We don't want to add too many literal types because that will complicate the

[2021-04-20 20:33] mangrrua opened #6821 "UI - Not showing all pinot servers in Tenant details"
I have 2 pinot servers, and 1 tenant called as `DefaultTenant`. In the tenant section of the UI, seems DefaultTenant has only 1 server. When i want to see details for the DefaultTenant, both of two servers seems, but only one server shown as **link**. But when i check the `/tenants/{tenantName}/metadata` endpoint for DefaultTenant; two servers are listed for this tenant. Seems there is a bug in th

[2021-04-21 04:12] xiangfu0 opened #6823 "Mask credentials in minion tasks spec and table configs."
For example, s3 SecretKey.
It would be better to mask the credential information during table APIs and minion task APIs.

[2021-04-21 04:33] icefury71 commented on #6524
Added a high level design document for this issue. At the moment, I've only considered Pinot RealTime tables. Once the high level approach is agreed upon - I will extend this to Minion based ingestion of Offline tables as well.

You can find the design here: https://docs.google.com/document/d/12w6rEJBRKACKomSdL871GCjTtzLxY1N7kYE308RT8JY/edit

[2021-04-21 13:51] daniellavoie commented on #6524
I like this design very very much!

[2021-04-21 16:34] mcvsubbu commented on #6524
Also see Issue 4035

[2021-04-21 21:50] xiangfu0 commented on #6821
Thanks for reporting this!
Pasted the page:
![image](https://user-images.githubusercontent.com/1202120/115625404-e1225700-a2b0-11eb-9a46-db60e595d7cd.png)

cc @shahsank3t

[2021-04-23 05:33] singhalprerana opened #6834 "Pinot PreparedStatement creates invalid query if one of the parameters has '?' in its value"
Sample pinot query : `select * from table where team in (?, ?, ?)`..
Now say parameters are: `'abc'`, `'pqr with (?)'` and `'xyz'`..
Now, on executing `PreparedStatement:fillStatementWithParameters` method on this will return `select * from table where team in ('abc', 'pqr with ('xyz')', ?)` -- which is clearly wrong (what we wanted was `select * from table where team in ('abc', 'pqr with (?)', 'x

[2021-04-24 18:24] kriti-sc commented on #6766
Sample response for exposing both `json-index` and `star-tree-index`
[code]

[2021-04-26 18:25] desaijay230592 commented on #6532
Please refer to the PR #6842 for Failure Domain Retrieval Logic for Server Instances.

[2021-04-26 20:28] snleee opened #6844 "Support selection of duplicate columns"
Currently, Pinot does the deduplication when the query has multiple selection clauses on the same column. The standard SQL doesn't perform the deduplication in this case.

[code]

[2021-04-27 02:35] Jackie-Jiang commented on #6844
Does standard SQL support making 2 different alias on the same column?
To support selecting duplicate columns, you can change `SelectionDataTableReducer` and pass `selectionColumns` into `SelectionOperatorUtils.renderResultTableWithoutOrdering()`

[2021-04-27 03:46] troywinter opened #6848 "Support fill null value with default value when column is not present in record"
We are getting `Caught exception while transforming the record:` when ingesting json data from kafka, it will throw `java.lang.ClassCastException: null` and no stack trace will be printed. The problem from json record is, json payload is not providing full columns from schema, some columns are missing, in this situation, if pinot is getting an value from GenericRow, it will be null, then add that

[2021-04-27 04:38] Jackie-Jiang commented on #6848
Pinot should be able to fill the default value. Not sure what has caused the exception.
Can you please share the table config and schema? Have you configured any record transform function?

[2021-04-27 05:52] troywinter commented on #6848
[code]
here is the transform config, I don't think the exception is from transform stage, from the code structure, it could be caused in the index function call, like when cast to some type, in my case, `group_name` is always present in any message.

[2021-04-27 09:19] pedro93 opened #6849 "UI - Incorrect pop message when creating a table"
Hello,

When creating a table in the cluster manager view, it is possible to misconfigure a table definition, save it and the UI reports a successful & valid creation when the Pinot backend reports a number of exceptions.

This is easily reproducible by deploying a local pinot instance with only 1 server and in the UI define a table with a replication factor of 2.

This was found in pinot v0.7.0

[2021-04-27 09:51] pedro93 opened #6850 "UI - Reporting invalid configurations during table creation"
Bug found in pinot v0.7.0

When creating a table definition in the UI, it will not allow definitions with `upsertConfig` due to reporting that such configurations are invalid.

A workaround for this is to directly use the swagger API. It seems the UI is not using the same backend service for configuration validation.

An example configuration could be:
[code]

With a schema definition:
[code]

[2021-04-27 09:56] pedro93 opened #6851 "Controller reports NumberFormat warning Logs"
When deploying pinot in Kubernetes without performing any apparent action, the controller continuously reports the following 2 exceptions at a warning level:

[code]

[code]

It appears to be a misconfiguration somewhere but the message itself does not give me enough context to investigate more.

Is this an important message?
If it is an exception should it be a warning?
What is the root cause?

F

[2021-04-27 17:44] Jackie-Jiang commented on #6848
Can you please check all the logs? When the exception first occur, it should log the full stack trace. You may also restart the server so that the first exception after restart logs the full stack trace.
Casting `null` to other type won't cause exception. It's more likely we are trying to ingest values of unsupported type (e.g. some json class).

[2021-04-27 18:43] snleee commented on #6844
@Jackie-Jiang Thank you for the suggestion. I will take a look on that.

[2021-04-27 19:15] burgalon opened #6852 "Thirdeye docker quickstart "Unrecognized field at: whitelistDatasets""
When following the instructions of starting ThirdEye using docker I get an error:
[code]

[code]

[2021-04-27 19:22] apucher opened #6853 "Secure Pinot gRPC endpoints with TLS/SSL"

[2021-04-27 20:33] apucher commented on #6853
@xiangfu0 heads-up that pinot's gRPC doesn't yet support TLS/SSL

[2021-04-27 20:46] Jackie-Jiang opened #6854 "Recover real-time consumption when consuming segment stuck"
One possible solution is to manually delete the consuming segment and let the controller create a new one during real-time segment validation. But this scenario is not covered in the `PinotLLCRealtimeSegmentManager.ensureAllPartitionsConsuming()` yet.

[2021-04-27 21:02] npawar commented on #5263
Closing this issue, as this is a subset of https://github.com/apache/incubator-pinot/issues/6812. Looks like there is agreement to add this feature on 6812, so we don't need to continue this old thread anymore.

[2021-04-27 21:06] #5263 closed

[2021-04-27 22:20] mcvsubbu commented on #6854
Another way is to manually set the consuning segment to be in OFFLINE state (if it s not already so).

[2021-04-28 00:56] mikecdavis-dd opened #6856 "Add missing support for ParquetRecordReaderConfig."
Parquet input format has two supported implementations with `ParquetAvroRecordReader`  (default) and `ParquetNativeRecordReader`. In order to use the `ParquetNativeRecordReader` you must supply a configuration with "useParquetAvroRecordReader" set to `false`.

example readerConfig.json
[code]

However, when trying to provide this config via the `CreateSegmentCommand` (e.g. `bin/pinot-admin.sh Crea

[2021-04-28 01:09] GSharayu opened #6858 "Fix the race condition in realtime text index refresh thread"
The refresh thread maintains a single global queue of realtime text index readers across all consuming segments across all tables.

A reader is polled, refreshed and supposed to be added back to the queue so that it can be refreshed again in the next cycle.
There is a race condition:  If we find the queue empty, but something gets added before we lock the mutex, the thread signal will be lost and

[2021-04-28 02:14] #6856 closed

[2021-04-28 03:15] troywinter commented on #6848
From the log, the ingestion already complete, group_name is string, and it has produced the right column transform result, that exception catching include transform and index call, it could from transform call or index call.

[2021-04-28 05:08] Jackie-Jiang commented on #6848
Good point. We should probably isolate the transform and index and catch exception separately.
Does this exception occur multiple times or just once? Is it reproducible? I need the full stack-trace to identify the issue.

[2021-04-28 06:19] troywinter commented on #6848
[code]
Here is the full exception from log, it's not from transformation I defined in the table, but it's from the Sanitization transform for multivalue columns, the problem is we have mixed multi value mixing string and integer, so a cast to string will fail.

To properly handle this situation, should we convert value to String not cast? What do you think?

[2021-04-28 20:38] Jackie-Jiang commented on #6848
For a multi-valued column, the input array must have all the values in the same type because we use the type of the first element to determine the source array type.
If the column type is multi-value STRING, we might be able to solve it by always using `toString()` for the type casting. But we should avoid having mixed type data in the same input array.
I'll submit a fix for the `SanitizationTrans

[2021-04-29 08:54] syed72 opened #6864 "Data ingestion not working for data with JSON type"
Hello guys,Data Ingestion not working for data with JSON data types. No segments getting created
Followed the below steps in StackOverflow.

https://stackoverflow.com/questions/65886253/pinot-nested-json-ingestion

Even examples given for JSON data types in build also not working (githubEvents)https://github.com/apache/incubator-pinot/tree/master/pinot-tools/src/main/resources/examples/batch/githu

[2021-04-29 20:16] Jackie-Jiang commented on #6848
Fixed in #6863

[2021-04-29 20:16] #6848 closed

[2021-04-29 22:48] Jackie-Jiang commented on #6723
Segment-local module PR: #6761

[2021-04-29 22:57] Jackie-Jiang opened #6865 "Add controller rest API to list recently created/modified tables"

[2021-04-29 23:08] mcvsubbu commented on #6865
What is the use case here?
Why not publish an event into a (lightweight pinot) table for each table creation, and query that table? We can then add other  columns as well to this table, and use it to provide statistics about pinot tables? (

[2021-04-30 01:52] Jackie-Jiang commented on #6865
@mcvsubbu I believe publishing events requires extra dependency on a streaming service, unless we can find a way to short-circuit it and directly ingest the events into a table.

What I'm thinking here is to just grab all table config ZNRecords, and sort them based on creation time or last modification time. This can help track the recent changes in a large cluster.

@yupeng9

[2021-04-30 02:37] mcvsubbu commented on #6865
I recently did that for the corp cluster at Linkedin, so I can see that this may be useful. In our case, the zookeeper servers had also been replaced but the new servers had retained the metadata too (surprise for me). Are there cases where this can change? Also, do we want to depend on zk metadata for our info? It will be nice if we had a pinot internal table that kept certain things.

[2021-04-30 11:06] jtarun opened #6868 "Bad segment created in Windows OS"
setDirectoryPermissions() in SegmentV1V2ToV3FormatConverter ignores the exception as it is unable to set the permissions in Windows. This leaves the segment in bad state, while the job outputDir is still zipped and uploaded to Pinot by the ingestion job. Two fixes are required here -
1) Throw the exception when segment creation fails at any stage. This will at least ensure that ingestion job throw

[2021-05-02 19:26] kriti-sc commented on #6766
PR: https://github.com/apache/incubator-pinot/pull/6873

[2021-05-03 22:55] JoaoComini commented on #6115
Hi folks! 😄
Given that we already have Groovy templating working on `IngestionJobLauncher`, what would be the priority when there's a
`-values` parameter and an enviroment variable with the same name?

[2021-05-04 12:11] CurriedFloat commented on #4230
I'm trying to plot a timeseries with gaps showing null/missing data.

Trying to avoid doing:
- Caller-side mask on the data and the NULL value vector.
- Caller-side mask using some defaultNullValue.

Can this be done in the query?

[2021-05-05 21:48] mqliang opened #6882 "Use middleware mechanism to do preprocessing"
Copy from discussion at https://github.com/apache/incubator-pinot/pull/6811#issuecomment-827016380

I observe there are bunch of pre-processing logic for a request:

* authz/authn
* admission control (e.g. disallow user to create new segments if existing number of segments exceed a threshold. We don't have this logic yet, but it's useful and may be added in future)
* request validation (validate t

[2021-05-06 23:44] Jackie-Jiang commented on #6882
Authz/authn can be done in an HTTP middleware, the query specific check/rewrite does not fit well in the middleware IMO. AFAIK LinkedIn does not use the broker rest endpoint and has their own restli endpoint, and that is the reason why authz/authn is implemented within the request handler in the first place

[2021-05-07 21:31] awishnick opened #6894 "Confusing errors when trying to ingest Parquet files compressed with ZSTD"
I tried to run a SegmentCreation job to ingest some Parquet files written by Trino. I got some confusing error messages that made it look like the file was corrupted. It turns out that this is because the files were compressed with ZSTD (which is suggested by Trino). Desired behavior would be to detect and support ZSTD compression, or at least to error out saying to use a supported compression alg

[2021-05-07 22:24] xiangfu0 commented on #6894
Have you tried using `org.apache.pinot.plugin.inputformat.parquet.ParquetNativeRecordReader` as record reader? It's using native parquet reader. Meanwhile we can look at how to detect and support ZSTD compression.

[2021-05-09 06:55] apucher opened #6896 "controller UI crashes if no brokers or servers online"
The controller UI crashes ungracefully to a white screen if all brokers are offline and/or all servers are offline.

<img width="1792" alt="Screen Shot 2021-05-08 at 11 52 46 PM" src="https://user-images.githubusercontent.com/25439965/117563140-bed25c80-b058-11eb-9828-2e5c2fa86597.png">

[2021-05-12 05:03] icefury71 commented on #4230
I'm not sure I understand your question. I'm assuming you want to filter out null values in your query response, does the `column IS NOT NULL` not work for you ?

Or do you want this to happen automatically without specifying such predicates ?

[2021-05-12 05:07] Jackie-Jiang opened #6902 "RealtimeToOfflineSegmentsTask not handle null values properly"
1. Null value vector cannot be created on the output segments
2. New added columns can cause NPE

The root cause of the issue is that we skip the record transformer within the `SegmentProcessorFramework`. For existing null values, `_nullValueFields` are not preserved within the `GenericRow`; For new added columns, the field will be `null` without the `NullValueTransformer`. Besides these issues, t

[2021-05-12 10:01] CurriedFloat commented on #4230
No I want to include null values but as null and not as defaultNullValue so I can distinguish the two cases.

If defaultNullValue is zero and nullHandling is enabled and some points are actually zero.

t: 1 v: 110
t: 2 v: 0     <- actually zero
t: 3 v: 114
t: 4 v: null  <- null
t: 5 v: 113

So I can make a plot with gaps:
https://codepen.io/curriedfloat/pen/WNprwWP

[2021-05-12 22:18] #5280 closed

[2021-05-12 22:20] yupeng9 opened #6904 "Complex type handling"
Today Pinot supports primitive data types (including int, long, float, double, string, bytes), as well as limited multi-value types such as an array of primitive types. Such simple data types allow Pinot to build fast indexing structures for good query performance, but with a tradeoff on the ingestion limitations. It’s common for users to ingest data with complex data types into Pinot, such as JSO

[2021-05-13 00:17] apucher opened #6907 "read pinot.server.tls properties for kafka tls if no other config provided"

[2021-05-13 04:59] icefury71 commented on #4230
Unfortunately that's not possible with the current implementation. Current implementation will ignore nulls or treat them as default values in the filter operator. Everything else in query processing currently, does not need to care about nulls. It is definitely in the scope of this issue to ensure all query processing layers can handle null values - however hasn't been done yet.

[2021-05-13 08:19] pedro93 opened #6909 "[Improvement] UI not reporting why table definition is invalid"
When editing an existing Pinot table, if the configuration is invalid a popup will be shown that the definition is invalid but the message does not indicate why.

A current workaround exists using the swagger API `POST/tables/validate` endpoint. This endpoint should be called by the UI before submitting the new table definition to validate whether the definition is correct and if not inform the us

[2021-05-13 15:11] troywinter opened #6910 "Segment Pruning is not happening when filtering transformed timecolumn"
When filtering a transformed column, segment pruning is not happening, below query cost more than 2s to finish,
[code]
The query result is:
[code]
And if not using a transformed time column in filter, it will return in 647ms
query:
[code]
result is:
[code]

[2021-05-13 17:48] Jackie-Jiang commented on #6910
Filtering on Transform function (comparing to column) is not efficient in both segment pruning and filter processing. One possible solution would be building some query re-write rules for certain transform functions to rewrite them into columns, e.g. `datetimeconvert(__time, '1:MILLISECONDS:EPOCH', '1:MILLISECONDS:EPOCH', '30:MINUTES') >= 1620830760000` to `__time >= 1620831600000`

[2021-05-13 18:49] pedro93 opened #6912 "Segment compaction for upsert real-time tables"
Hello,

This issue serves to request support for segment compaction on real-time upsert-enabled tables which currently does not exist as mentioned in a [slack thread](https://apache-pinot.slack.com/archives/CDRCA57FC/p1620826182368300). This means that segments with old & stale entries are keep in disk and only deleted when the retention policy for segments is activated.

Giving a concrete example

[2021-05-13 21:24] #6189 closed

[2021-05-14 01:38] cxing opened #6920 "[BUG] Pinot print many error log 'Grpc/Admin port is not set for instance' in controller"
I have configed
`pinot.server.grpc.enable=true
 pinot.server.grpc.port=8090`

pinot version: 0.7.1
[pinot_error.log](https://github.com/apache/incubator-pinot/files/6475999/pinot_error.log)

but still can got those error in controller, please see the attach file, thx
2021-05-14 01:32:28.984 WARN [PinotInstanceRestletResource] [grizzly-http-server-9] Admin port is not set for instance: Controller_s

[2021-05-14 04:35] siddharthteotia opened #6921 "Arrow Flight Endpoint for Pinot"
In addition to being used as the in-memory and wire columnar format in few compute engines, Arrow is also commonly used for data sharing between JVM and non JVM systems without SerDe overhead. So python users working with Pandas and other analytical libraries can consume arrow in-memory format generated by JVM based engine.

See this example on how PySpark uses Arrow - https://kontext.tech/column/

[2021-05-14 10:21] pedro93 opened #6923 "Change zookeeper helm chart dependency"
The current zookeeper helm chart component of Pinot's Kubernetes deployment is [deprecated](https://github.com/helm/charts/tree/master/incubator/zookeeper) as of Nov 13, 2020.
Consider changing to the more up-to-date, better documented helm chart from bitnami: https://github.com/bitnami/charts/tree/master/bitnami/zookeeper

[2021-05-14 23:46] Jackie-Jiang commented on #6920
Solved in #6632

[2021-05-14 23:46] #6920 closed

[2021-05-17 02:58] troywinter commented on #6910
Is Pinot planning add this kind of query re-write/optimization to fix this issue?

[2021-05-17 19:36] Jackie-Jiang commented on #6902
#6922 Support null values in `PinotSegmentRecordReader`

[2021-05-17 19:40] Jackie-Jiang commented on #6910
@troywinter Yes. We'll post updates under this issue.

[2021-05-18 12:13] shahsank3t commented on #6821
@mangrrua @xiangfu0
Fixed this issue in https://github.com/apache/incubator-pinot/pull/6934

[2021-05-18 12:50] shahsank3t commented on #6896
@apucher
Fixed this issue in PR: https://github.com/apache/incubator-pinot/pull/6935

[2021-05-18 20:00] GSharayu opened #6937 "Fix the handling of time and date time columns in rule engine"
Fix the handling of time and date time columns and remove corresponding limitations

FlagQueryRule - Flags queries with tables that have time column (deprecated) or one or more DateTime columns (new way of specifying time columns) but don't use it in queries in the filter clause as a feedback to the user that they should consider using the time column as a filter. Two things need to be fixed in th

[2021-05-18 22:56] xiangfu0 opened #6939 "Support query response dump in different formats and location"
From the query endpoint, Pinot currently only supports customized JSON format.

It would be great to support:
1. user can specify the response format, e.g. CSV
2. user can specify a file to dump the query response to, e.g. local or remote(s3) file or directory.

This can be implemented in broker query API or we can do all the reformat and response dump using org.apache.pinot.tools.admin.command.Po

[2021-05-19 04:42] khushbu14 commented on #6939
@xiangfu0 It would be great to extend the support to include compression as well for the output.

[2021-05-19 04:46] xiangfu0 opened #6940 "Introduce `advertised.host` `advertised.port` support for cloud users"
This problem brought up our attention when more users are under cloud deployment especially Kubernetes.
With such deployment, an external client is very hard to connect to Pinot as all the host/port returned from zookeeper/helix can only be resolved within the cloud environment itself.
E.g. with our helm deployment in k8s, if we open controller 9000 port, then the pinot client will find the broker

[2021-05-19 04:46] xiangfu0 commented on #6940
Some Ref from Kafka: https://www.confluent.io/blog/kafka-listeners-explained/

[2021-05-19 05:45] xiangfu0 commented on #6939
cool! Added to bullet 3

[2021-05-19 16:48] MacNale opened #6943 "Stream Quickstart 0.7.1 fails with SSL Handshake failed error"
`docker run     --network=pinot-demo     --name pinot-quickstart     -p 9000:9000     -d apachepinot/pinot:test QuickStart     -type stream`
![image](https://user-images.githubusercontent.com/14235758/118851979-f1215c80-b897-11eb-931e-2cba81f15249.png)

I tried to run locally, same error.

I could launch 0.6.1 successfully with docker.

[2021-05-19 17:17] mayankshriv commented on #6943
From the log it seems to use 0.8.0 and not 0.7.1 (which is working for us).

[2021-05-19 17:24] mayankshriv commented on #6943
Tried `pinot-tools/target/pinot-tools-pkg/bin/quick-start-streaming.sh` with latest master and could not reproduce the issue. Are you on VPN @MacNale that might be causing this?

[2021-05-19 18:26] apucher commented on #6943
this looks like a ssl-handshake issue with the meetup provider. not related to pinot internals

[2021-05-19 19:34] xiangfu0 commented on #6943
have you tried with `quick-start-hybrid.sh` and if that one works?
Also, check if you can run the below command directly:
[code]

[2021-05-19 21:35] #6943 closed

[2021-05-19 21:36] MacNale commented on #6943
Disconnected from VPN and ran the command from my mac. It worked fine. This seems to be a problem with downloading the stream from meetup.com.

[2021-05-20 01:38] cxing opened #6948 "Pinot ui can't show all the pinot servers"
We have 30 server clusters but this ui just show 10
![image](https://user-images.githubusercontent.com/13634486/118905765-f392bd80-b94e-11eb-997b-539ae5f2a51e.png)

[2021-05-20 04:07] xiangfu0 commented on #6948
@shahsank3t

[2021-05-20 08:17] troywinter commented on #6910
One thing that Druid did right I think is separating datetime transform with time bucketing, timefloor function will only convert the time column by a period, it doesn't affect the format of time, so it's easier to prune segments in Druid.

[2021-05-20 17:58] mayankshriv opened #6952 "Non-intuitive response from query execution when broker for table not found"
When a broker for a table in the query is not found, the error returned to the user is cryptic and non-intuitive;

[code]
It would be good to make this a more user friendly, so users get an idea of the root cause and can take action to fix it.

[2021-05-20 20:10] mayankshriv commented on #6952
This was already addressed in https://github.com/apache/incubator-pinot/pull/6765.

[2021-05-20 20:10] #6952 closed

[2021-05-21 01:05] #6700 closed

[2021-05-21 01:14] Jackie-Jiang opened #6955 "UDF argument type matching"
In `FunctionRegistry`, the UDFs annotated with `ScalarFunction` are registered based on the function name and the number of arguments. In addition to that, we should also allow registering multiple functions with same name and number of arguments but different argument types, and perform type matching when loading function from the registry.

E.g. `double divide(double a, double b)` and `long divi

[2021-05-21 03:16] siddharthteotia commented on #6955
+1
When this came up in our offline discussions with you and @amrishlal , we had discussed compile time code generation of java classes using templates as opposed to manually hand writing each combination of a function. There could be other approaches too

[2021-05-21 05:18] shahsank3t commented on #6948
@cxing @xiangfu0
PR raised: https://github.com/apache/incubator-pinot/pull/6956

[2021-05-21 16:23] pedro93 opened #6958 "V3UpdateIndexException: Default value indices for column cannot be updated for V3 format segment."
Hello,

As discussed in this [slack thread](https://apache-pinot.slack.com/archives/C011C9JHN7R/p1621607719059200) there seems to be a bug in Pinot v0.7.1 where updating the default value of an existing dimension field of type String in a Schema will through an exception of this sort:
[code]

The concrete change in question was from:
[code]
to:
[code]

This pinot instance already had existing segm

[2021-05-21 17:25] #6948 closed

[2021-05-21 18:26] Jackie-Jiang commented on #6958
Changing the existing field in schema is backward-incompatible change, thus causing this exception. When server throw such exceptions, it should drop the segment and try to download a new one from the deep storage, then it should auto recover

[2021-05-22 08:31] #6896 closed

[2021-05-22 10:17] #6821 closed

[2021-05-24 18:58] sajjad-moradi opened #6962 "Servers return wrong column types in case of empty results (everything defaults to STRING)"
**Non-empty results (correct types):**
![image](https://user-images.githubusercontent.com/8548220/119394222-cadc3200-bc86-11eb-9281-4dc84ae525cc.png)

**Empty results (incorrect types):**
![image](https://user-images.githubusercontent.com/8548220/119394045-98cad000-bc86-11eb-9259-081ad71f23d8.png)

This part of the code needs to be changed:
https://github.com/apache/incubator-pinot/blob/master/pin

[2021-05-24 20:48] Jackie-Jiang commented on #6962
This happens when all the segments are pruned out, and Pinot server short-circuits the query to directly return without checking the schema. We should just not return the schema when there is no record returned.

[2021-05-24 22:36] jadami10 opened #6963 "GenericRow.compareMap always returns true for maps of different sizes"
I believe this was a subtle bug introduced in #6525. The current code structure is
[code]
If a GenericRow has a different number of fields, this always returns true. I don't believe this was the intention in that change. Previously it was doing `return _fieldToValueMap.equals(that._fieldToValueMap) && _nullValueFields.equals(that._nullValueFields);` which returns false on size differences.

[2021-05-24 23:31] sajjad-moradi opened #6966 "Issues with recent changes on upload segment endpoint"
The changes introduced in this [PR](https://github.com/apache/incubator-pinot/pull/6567/files#diff-d0a60155908b7919915de944c49dfad57e2e5e1cc7ad2988176ac090e57567d7R299) caused the following problem for Refresh use cases in LinkedIn:
- The segment directory in deep store is changed from `tableName/segmentName` to `tableName_OFFLINE/segmentName`. This means that for refresh use cases, the new segmen

[2021-05-25 00:03] Jackie-Jiang commented on #6966
I believe the problem is on `PinotSegmentUploadDownloadRestletResource` line 295 where `tableNameWithType` is mistakenly passed to the `getZkDownloadURIForSegmentUpload()` where `rawTableName` is expected.

Since this PR has been merged for more than 1 months, should we consider changing the behavior to use `tableNameWithType` in the segment path, or revert it back to the old behavior of using `ra

[2021-05-25 00:38] #6766 closed

[2021-05-25 00:54] #6308 closed

[2021-05-25 01:13] mcvsubbu commented on #6966
Exactly. We should fix the controller to do the right thing -- drop the segment in the right place. Otherwise, we open up to other issues that may only surface much later, making production systems take a huge repair time. Right now, the only thing we could find is retention (the new segments uploaded will not get retained out).  But there is no saying what else is out there.

[2021-05-25 01:14] #6844 closed

[2021-05-25 01:17] chenboat commented on #6966
The current issue seems to me is primarily about data deletion. We can first patch the SegmentDeletionManager so that it can deal with segments in both types of paths (with type or without). After that we can revert back to the old behavior of using rawTableName.

[2021-05-25 01:50] mcvsubbu commented on #6966
We are seeing production problems with storage, so the best way to move forward is to fix the bleeding and then repair (in the background) what is broken. Please coordinate with @sajjad-moradi  to fix so that upload goes to the right place, and then we can discuss (and add to this issue) how other installations can repair their systems.

[2021-05-25 01:50] sajjad-moradi commented on #6966
@chenboat: I believe it's a safer bet to directly aim for reverting back to the previous directory structure. This way we prevent any potential issues that's not yet discovered. Also if we change SegmentDeletionManager now for cleaning segments in both paths, we later need to make another change once the directory structure is restored to the old way.

[2021-05-25 03:47] chenboat commented on #6966
I suppose there is already some offline table segments being pushed to _tableName_OFFLINE/segmentName_ dir. Do you need to clean them? Or you have other manual means to clean them? If you want to clean them using Pinot services, I proposed to have the SegmentDeletionManager to delete the extra dir's segments as well. Otherwise, yes I agree we can reverting to the old directory layout.

[2021-05-25 08:36] syed72 opened #6970 "Increase the latency of a query which has TIME as sorted column when ORDER BY TIME DESC is applied"
Hi,
There is usecase, where need to Increase the latency of a query which has ATIME as sorted column in a pinot table when ORDER BY ATIME DESC  limit 100 is applied.

I've a select query which has ORDER BY ATIME ASC limit 100 is applied , then the the time taken for query is barely 15ms, (total rows - 450M, segments- 290, numOfDocsScanned - 318), where as for ORDER BY ATIME DESC limit 100 is takin

[2021-05-25 16:13] sajjad-moradi commented on #6966
AFAIK SegmentDeletionManager is used for deleting active segments that need to be deleted because of their retention time. Other than retention issue, there's another problem. For refresh use cases, the new segments go to tableName_OFFLINE/segmentName dir, but the older version remain undeleted under tableName/segmentName dir. This exact issue also exists in case of purge task. The purged segments

[2021-05-25 17:02] #5704 closed

[2021-05-25 17:08] daniellavoie opened #6971 "User provided table configuration can crash Servers"
# Context

Been brainstorming with @mayankshriv about my observations regarding Pinot stability. From running clusters in production and troubleshooting people in our community Slack, my takeaway is that it’s very easy to crash a Pinot Server if you a create tables for which your system is not resourced properly. OOM, segments beings too big or too numerous are all correlated to your input dataset

[2021-05-25 17:34] GSharayu opened #6972 "Implement PassThroughTransformOperator to optimize select queries"
For general select queries

e.g SELECT * FROM Foo  ..... LIMIT N

e.g SELECT col1, col2  ..... FROM Foo  .... LIMIT N

the columns are identifier expressions and not some transform functions. So, we should have a PassThroughTransformOperator that avoids the if conditional check repeatedly in TransformBlock.

If the columns selected in the query are identifier expressions then no need to make the c

[2021-05-25 22:45] siddharthteotia commented on #6972
Resolved by PR https://github.com/apache/incubator-pinot/pull/6973

[2021-05-25 22:45] #6972 closed

[2021-05-26 01:03] siddharthteotia opened #6978 "Support SQL EXPLAIN PLAN FOR <query>"
**Background**

Standard SQL supports EXPLAIN plan functionality. The output of EXPLAIN is the physical execution plan (in a tree format) giving overview of the physical relational operators that will be used to execute the query. The query plan is always interpreted bottom-up (industry standard in databases).

In most databases (both OLTP and OLAP), the EXPLAIN plan also outputs the cost of the q

[2021-05-26 01:03] siddharthteotia commented on #6978
We have started working on this. Will be sharing design/details etc with the community.

[2021-05-26 01:14] jtao15 opened #6979 "Time partition support for SegmentProcessorFramework"
Result segments need to be time aligned for some minion tasks (e.g. backfill support for merge/rollup), it will be good if we can add time partition support based on the time window/bucket.

The configs can be something like below:
1. window start time (in milliseconds)
2. time bucket/list of time buckets (in milliseconds)

Say the input n segments have data between 02/2021 to 05/2021, and we want

[2021-05-26 01:24] snleee commented on #6979
1. `SegmentProcessorFramework` does not need to know about the time buckets or start time. The only input config that we need is `timeGranularity (e.g. daily, monthly...etc)`.
2.  Internally, the segment processor framework should correctly transform time column value and partition it accordingly based on the output partition value.

[code]
If we make sure that all the data with the same partition

[2021-05-26 06:39] chenboat commented on #6639
@cbalci ^^ I think Caner has done something similar but he uses Presto interface with Grafana.

[2021-05-26 06:58] troywinter opened #6981 "Support groovy UDF transform in post-aggregation"
Currently only scalar UDF is supported for post-aggregation transform, when user want to transform an aggregation result, user need to create a scalar UDF for every case.

Pinot need to support groovy UDF for post-aggregation transform.

[2021-05-26 08:15] Eywek opened #6982 "Avoid timeouts when using a large offset limit"
Follow up from https://apache-pinot.slack.com/archives/C011C9JHN7R/p1621587669055200

---------------

We're having issue with LIMIT on a table with 4.5 millions of rows, when I’m doing this query:
[code]
I’m getting a result in ~2.5s, and I can see in the query response stats totalDocs=4794306  which is fine.

But when I’m doing this one (offset 1 000 000 instead of 100 000):
[code]
I’m getting n

[2021-05-26 17:41] Jackie-Jiang commented on #6970
We should optimize the selection order-by operator to only scan the required docs when the first order by column is sorted

[2021-05-26 22:38] laxmanchekka opened #6988 "Realtime to Offline segment conversion task fails to progress with data gaps"
Realtime to Offline segment conversion task fails to progress when there are larger data gaps in REALTIME table.
Noticed when the data gap is larger than the bucketTimePeriod.

[2021-05-26 22:39] laxmanchekka commented on #6988
@Jackie-Jiang @npawar

[2021-05-26 22:45] laxmanchekka opened #6989 "Realtime to Offline segment conversion: Provision for rolling offline segments based on segment size"
REALTIME tables segment size can be controlled using `realtime.segment.flush.threshold.segment.size` (say "100M")
We don't have any similar configuration for OFFLINE tables which can be used during Realtime to Offline table conversion.

There is a configuration `maxNumRecordsPerSegment` with which we can indirectly achieve desired size. However, having a direct size based control will be really he

[2021-05-26 22:45] laxmanchekka commented on #6989
@Jackie-Jiang @npawar

[2021-05-27 01:23] npawar opened #6992 "End-to-end integration test for Kinesis connector"
We added Kinesis integration https://github.com/apache/incubator-pinot/pull/6661
We need an integration test which can start Kinesis locally, and then test the whole realtime consumption end to end.

[2021-05-27 01:24] npawar commented on #6992
https://github.com/apache/incubator-pinot/issues/5648

[2021-05-27 18:14] oker1 opened #6995 "RealtimeToOfflineSegmentsTask uses too much disk space relative to segments size"
Proposed change: https://github.com/apache/incubator-pinot/pull/6994

[2021-05-27 19:04] jtao15 commented on #6979
Besides the time partition, it's good to make the resulted segment name configurable also. Listing down the requirements of the improvements:
1. Time partition
- Partition bucket granularity (Hourly, Daily, Weekly, Monthly, Yearly) should be configurable.
- Each mapper directory can only contains data in one time bucket. (E.g. merge segments (from 02/2021 to 05/2021) by month, there should be 4 ma

[2021-05-27 21:00] yupeng9 commented on #6904
User docs is at https://docs.pinot.apache.org/basics/data-import/complex-type
This will be released as part of 0.8

[2021-05-27 21:00] #6904 closed

[2021-05-27 23:29] harishks commented on #6487
Will be happy to pick this one up.

[2021-05-31 14:25] KKcorps opened #6999 "Apache pulsar connector for Ingestion"
* Support Apache Pulsar for ingesting the data directly into Pinot
* Complete E2E integration tests and examples should be added.

[2021-05-31 14:25] KKcorps commented on #6999
Assigning this to myself.

[2021-05-31 14:28] KKcorps commented on #5837
@xiangfu0 Picking this up.

[2021-05-31 14:28] #6999 closed

[2021-05-31 17:14] pedro93 opened #7000 "Specify dateTime field as human readable string"
Hello,

Following a discussion on [this thread](https://apache-pinot.slack.com/archives/C011C9JHN7R/p1622466597303800) I would like to propose an enhancement wherein a pinot operator can define a dateTimeField in a schema and have its result being shown to the Pinot user at query time as a human readable string while at the same time being able to use date time transformations as mentioned [here](

[2021-05-31 19:57] kriti-sc commented on #6823
Picking this up.

[2021-06-01 11:33] khatripallavi25 opened #7002 "Batch ingestion using spark creates duplicates in pinot offline table"
This is a query-

trying batch ingestion using spark example spark-3.1.1-bin-hadoop2.7. We see duplicate data in final table. Do we have a workaround for this?

[2021-06-01 16:48] mapshen opened #7004 "Preserver Kafka Message Metadata in Pinot Tables"
Opening this issue as per the conversation in Slack.

When streaming from Kafka, Pinot currently lacks of a way to allow users to uniquely identify messages. We may achieve it by exposing the metadata of Kafka messages such as offset/timestamp.

The approach suggested by @kishoreg is

[2021-06-01 17:22] npawar commented on #6674
https://github.com/apache/incubator-pinot/issues/5648

[2021-06-01 21:45] GSharayu opened #7005 "Support IN operator in BloomFilter based segment pruner"
Server side segment pruning is currently supported for =, RANGE,IN filter operators using min-max value stats (segment metadata). Similarly, bloom filter is also used for = filter.

For IN filter operator, we should add support for bloom filter based pruning if the number of values in the IN clause are below a certain threshold.

Adding this support for large number of values in IN clause won't be

[2021-06-02 06:06] KKcorps commented on #6992
Assigning this to myself.

[2021-06-02 18:24] daniellavoie opened #7008 "Connecting Pinot with non TLS config to a TLS kafka port causes heap exhaustion"
# Context

A table was wrongly configured to point at a TLS port of Kafka (MSK to be specific) while the configuration details still inferred non TLS connectivity. While this is a problem in itself, the side effect is even worst. The misconfiguration will actually exhaust all available heap memory of a Pinot Controller.

This implies that a user provided configuration will impact the cluster stabi

[2021-06-02 19:12] mapshen commented on #7004
@kishoreg @npawar Supposedly the offset can be added to a decoded row by modifying [1],  now I have a few questions regarding the implementation details:

* What would a good column name to follow our convention? `$offset` or `offset`?
* Should we make it configurable or always present like the virtual columns?
* Where should we define its data type when it is indexed [2]? We do this for other col

[2021-06-02 21:48] apucher opened #7009 "realtime segment completion is broken with HTTPS"
If a controller is configured with HTTPS ingress ONLY, segment upload fails due to a lack of protocol information pass-thru in the segment uploader. A typical exception looks like this:

`12:59:37.439 ERROR [ServerSegmentCompletionProtocolHandler] [mytable__0__0__20210602T1951Z] Could not send request http://localhost:18998/segmentConsumed?reason=rowLimit&streamPartitionMsgOffset=2500&instance=Ser

[2021-06-03 01:28] siddharthteotia commented on #7005
Support added in PR https://github.com/apache/incubator-pinot/pull/7007

[2021-06-03 01:28] #7005 closed

[2021-06-03 03:49] #6963 closed

[2021-06-03 05:55] Jackie-Jiang commented on #6902
#7013 Preserve null values in `SegmentMapper`

[2021-06-03 07:55] lakshmanan-v opened #7014 "Add HLL++ support for better accuracy and possibly lower memory cost"
DISTINCTCOUNTHLL accuracy and memory footprint can be improved through latest HLL algorithms. We have a choice either replace the existing implementation with a better one or leave the existing DISTINCTCOUNTHLL to implement original HLL and create separate functions (ex: DISTINCTCOUNTHLLPLUSPLUS).

[Google's HLL++](http://static.googleusercontent.com/external_content/untrusted_dlcp/research.google

[2021-06-03 12:29] daniellavoie opened #7015 "PinotOutputFormatTest.testPinotOutputFormat fails with java.lang.NoSuchMethodError"
Our internal CI picked up a consistent regression with the `PinotOutputFormatTest` from pinot-hadoop.

The build is running using docker image `3.6.3-adoptopenjdk-8` and running the with `mvn verify -Pbin-dist`.

[code]

[2021-06-03 17:10] Jackie-Jiang commented on #7014
Another alternative is the Data Sketch HLL: https://datasketches.apache.org/docs/HLL/HLL.html
They claim better performance in this paper: https://datasketches.apache.org/docs/HLL/Hll_vs_CS_Hllpp.html

[2021-06-03 19:09] lakshmanan-v commented on #7014
Good point @Jackie-Jiang. We could add this as a separate function DISTINCTCOUNTHLLSKETCH (similar to DISTINCTCOUNTTHETASKETCH). It would be nice to document the parameters, accuracy and space requirements of each of HLL implementations as we have a handful of them already. Users can chose the right one based on their need.

[2021-06-03 21:19] GSharayu opened #7018 "Changes in inverted index rule engine to handle DateTime column"
QueryInvertedSortedIndexRecommender - InvertedSortedIndexJointRule queries with tables that have time column (deprecated) or one or more DateTime columns (new way of specifying time columns) but don't use it in queries in the filter clause as a feedback to the user that they should consider using the time column as a filter.

This issue is followup for issue #6937

[2021-06-04 03:48] siddharthteotia commented on #6937
Closed by PR - https://github.com/apache/incubator-pinot/pull/6938

[2021-06-04 03:48] #6937 closed

[2021-06-04 03:48] siddharthteotia commented on #6796
Closed by PR - https://github.com/apache/incubator-pinot/pull/6800

[2021-06-04 03:48] #6796 closed

[2021-06-04 03:49] siddharthteotia commented on #6858
Closed by PR - https://github.com/apache/incubator-pinot/pull/6990

[2021-06-04 03:49] #6858 closed

[2021-06-04 16:21] MrNeocore opened #7022 "User feedback on REALTIME table update for topic modification"
Following Slack discussion : https://apache-pinot.slack.com/archives/C011C9JHN7R/p1622809155406800

Changing the topic a REALTIME table is consuming from is not possible as for now.
-> `stream.kafka.topic.name`

However, a table definition update is fully accepted without warnings.

We should provide some user feedback regarding this limitation.

1. In the docs: I'll open a PR.
2. At the API level

[2021-06-04 16:33] mcvsubbu commented on #7022
We had considered this before. The best way to do this seemed to be to introduce a new API call into streams, returning a boolean whether or not the new streams config is compatible with the old one. Each underlying stream would then have to implement the logic to scan through. In case of Kafka, change in topic, or change in broker address should not be permitted (at least for some implementations

[2021-06-04 17:29] timsants commented on #7015
I suspect we are getting a conflict with the `org.reflections` library. The latest version does not depend on the `com.google.common.base.Predicate` predicate anymore and now depends on `java.util.function.Predicate`

https://github.com/ronmamo/reflections/blob/master/src/main/java/org/reflections/util/ConfigurationBuilder.java#L26

[2021-06-04 18:04] npawar commented on #7004
i like the idea of making it a virtual column, and having it be always present, “$offset”

since we wont know the datatype of the offset (kafka is long, kinesis sequence numbers exceed long range, hence are string) we could keep the offset datatype as string?
this would have serialized value of whatever the stream’s implementation of StreamPartitionMsgOffset is

a segment can have only 1 sorted in

[2021-06-04 18:35] mcvsubbu commented on #7004
+1 to keeping it virtual column
+1 to making it configurable, since it can be quite some overhead
+1 to keeping it a string, pinot is transparent to the stream underneath.
We should not be building indices on it. Please use raw index. It is supported for consuming segments now.

In case of kinesis, we should (may want to) also keep track of other metadata like partition IDs in the group during the

[2021-06-04 20:15] mcvsubbu commented on #7004
@mapshen curious what your use case is for this feature. It adds significant overhead to realtime consuming memory. When we do have an error, we put out the offset that caused the error. I don't see the advantage of having the offset information for each row.

[2021-06-08 04:20] timsants commented on #7015
@xiangfu0's PR with the fix: https://github.com/apache/incubator-pinot/pull/7030.

TLDR: Test was depending on a shaded version of `pinot-common` which shaded com.google.guava. So the shading on `pinot-common ` was removed and transferred over to the jar of `pinot-hadoop`.

[2021-06-08 20:40] GSharayu opened #7034 "Support range index rule recommendation"
Currently,

As part of pinot automated onboarding, we support automated inverted index and sorted index recommendations.
Wiki Doc: https://cwiki.apache.org/confluence/display/PINOT/Automated+Inverted+Index+Recommendation+for+Pinot

 This issue will add an automated support to recommend range index in pinot.

[2021-06-09 03:24] yupeng9 opened #7036 "Segment reader on the deep store for compute frameworks like Presto and Spark"
There are senairos that users need to run complex adhoc queries (e.g. multi-way join with other datasets) or ETL jobs that scan all Pinot segments. Pinot servers are not designed this pattern of workloads. And even we allow this type of scan over the segments, such queries can significant degrade server performance and affect other important online queries.

As an alternative, compute frameworks l

[2021-06-09 18:34] johighley opened #7039 "More control of realtime segments - topic partitions offsets"
We had some kind of issue with a Kafka topic such that the most recent offsets changed (to lower values).  The realtime table is not processing any new messages to the topic now.  The consumers seem to recognize what the most recent offset is, but ignore them. The following log messages repeat.  If I create a new table for the same topic, it will process new messages without issue.

Short of delet

[2021-06-10 16:49] awishnick opened #7040 "pinot-admin always returns 0 exit code"
I've noticed that all sorts of errors e.g. in LaunchDataIngestionJob (standalone) surface in stdout/stderr, but the exit code is 0. For calling this in an automated context, that's really bad because we silently miss errors.

[2021-06-10 17:04] mcvsubbu commented on #7040
@awishnick have you tried setting the system property `pinot.admin.system.exit` to `true`?

[2021-06-10 17:13] #7040 closed

[2021-06-10 18:48] MrNeocore opened #7043 "Support query result post-aggregation / nested query"
Following Slack discussion : https://apache-pinot.slack.com/archives/C011C9JHN7R/p1623346401028100

**Data**
date      | 01 | 02 | 03
entity1 | 1  |  2 |  3
entity2 | 3  |  4 |  5

**Goal**
Aggregate data in "2 dimensions", first per entity (say, AVG), then per date (say, SUM)

This use case appears to be solvable using generic nested queries or an improvement to the existing post-aggregation feat

[2021-06-11 08:25] pedro93 opened #7048 "UI - Autofill breaks during table creation if table name != schema name."
Hello,

When creating a table whose name does not match exactly the name of an existing schema the UI will not provide auto-complete functionality regarding which fields we can use. The workaround is to copy/paste a json definition a table that matches the schema and then manually edit the json as necessary.

Steps to reproduce.
1.) Create a schema with some fields with name XXX.
2.) Try to create

[2021-06-11 18:48] yupeng9 opened #7051 "The column with JSON index on shall not be truncated"
The column of string type of a default length, and value beyond the threshold will be truncated. This creates issue for JSON field (i.e. with JSON index on), as the JSON parsing will fail. We shall have a validation rule that requires overriding the length (perhaps to the max) for such fields.

[2021-06-11 18:59] Jackie-Jiang commented on #7051
You may set the json field as data type `JSON` (introduced in #6878) and the value won't be truncated

[2021-06-11 19:24] yupeng9 commented on #7051
Good to know that. A `JSON` type is useful

[2021-06-12 19:29] theauheral opened #7055 "ThirdEye not supported anymore?"
Is ThirdEye not supported anymore by Pinot? I do not see it in the repo anymore and the docker image has the following errors when I launch it.

[code]

[2021-06-14 01:36] Jackie-Jiang commented on #7055
We have removed ThirdEye from Pinot repo in preparation for Apache Incubator graduation. @xiangfu0 Do we have a separate repo for ThirdEye alone?

[2021-06-14 02:26] xiangfu0 commented on #7055
Thirdeye is moved to
https://github.com/project-thirdeye/thirdeye

On Sun, Jun 13, 2021 at 18:36 Xiaotian (Jackie) Jiang <
***@***.***> wrote:

[2021-06-14 14:16] walterddr commented on #6939
this sounds like a cool feature. I would like to try implementing it. To clarify a few details.
- this feature only applies on the admin query layer?
  - is there a particular place we have in mind if we add this to broker query API layer? (QueryOptions?)
- the plan here is to only support several out of the box format/algorithms at this stage, yes?
  - do we plan to support SPI for users to overr

[2021-06-14 14:56] shailesh-accuknox commented on #4705
What will be the -format for GCS??

Getting errors like:
Failed to generate Pinot segment for file
java.lang.IllegalStateException: Invalid segment start/end time

[2021-06-14 18:45] snleee commented on #6785
Closing the ticket since it's addressed.

[2021-06-14 18:45] #6785 closed

[2021-06-15 19:36] MrNeocore opened #7060 "Optimize DISTINCT + ORDER BY"
Following Slack discussion : https://apache-pinot.slack.com/archives/C011C9JHN7R/p1623782718117700

**Context**
Documents: 100M
Segments: 90

**Query**
Getting DISTINCT values for a low cardinality column (45 distinct STRINGs)

Query `select DISTINCT(kpi) from kpis` takes ~10ms
While `select DISTINCT(kpi) from kpis ORDER BY kpi` takes more than **300ms**

Please have a look at the discussion by @m

[2021-06-16 02:37] dongxiaoman opened #7065 "Allow setting Helix HostName for Controllers and Brokers too"
Right now based on code reading, for Controllers and Brokers we are not able to update Helix Hostnames by config file.

For our cloud environment and security concern, we replace hosts very frequently, even Controllers and Brokers got replaced quickly;
In order to re-use the same Controller-Id and Broker-Id, we need to find a way to update the helix: hostname property.

[2021-06-16 10:24] xiangfu0 commented on #5797
Since the negate of a regex is not a trivial conversion, based on current `FilterKind` enums, I think we need to add:
[code]

[2021-06-17 10:09] #3623 closed

[2021-06-18 07:24] syed72 opened #7072 "Support database concept to create like dbname.tablename"
Hi,

Need support something like Mysql where we can have multiple databases and same table inside it...
i.e., dbName.TableName

{
  ****"tableName": "myDb.myTable",****
  "tableType": "OFFLINE",
  "segmentsConfig": {
    "timeColumnName": "outgoingName",
    "timeType": "DAYS",
    "retentionTimeUnit": "DAYS",
    "retentionTimeValue": "365",
    "segmentPushType": "APPEND",
    "segmentAssignment

[2021-06-21 11:52] MrNeocore opened #7077 "Backward compatible change leading to non-queryable REALTIME table ?"
Following Slack discussion: https://apache-pinot.slack.com/archives/C011C9JHN7R/p1624260346227200

After adding a new INT column on a REALTIME table via updating its schema file and calling the API `POST /schemas` and `POST /tables` (*) endpoints - the schema is correctly updated but querying the table results in the following error :

*: Likely an unnecessary call from a generic workflow

[code]

[2021-06-21 17:09] MrNeocore commented on #7077
This behavior is due to the fact that `pinot.server.instance.reload.consumingSegment` was off (`false`)
The following PR https://github.com/apache/incubator-pinot/pull/7078/files updated this default behavior :+1:

Closing !

[2021-06-21 17:09] #7077 closed

[2021-06-21 20:14] siddharthteotia commented on #7034
Support added in PR https://github.com/apache/incubator-pinot/pull/7063

[2021-06-21 20:14] #7034 closed

[2021-06-21 22:26] #6787 closed

[2021-06-22 01:59] xiangfu0 opened #7080 "Report Rebalance progress"
For table segment rebalance, in w/ downtime mode, we directly set the new idealStates and mark it as DONE.
Ideally, we can also check the diff between ExternalView and IdealStates, so users will know the rebalance progress.

[2021-06-22 08:01] #6689 closed

[2021-06-22 23:15] kriti-sc commented on #6823
PR: https://github.com/apache/incubator-pinot/pull/7081

[2021-06-23 18:44] kkrugler opened #7082 "Fix handling of missing Deleted_Segments directory in SegmentDeletionManager"
In `SegmentDeletionManager.removeAgedDeletedSegments()`, there’s this bit of code:
[code]
But if we’ve never deleted any segments, then this "Deleted_Segments" directory won’t exist yet. So shouldn’t this check be “if it exists && it’s not a directory”? Otherwise we get regular warnings in our log files, which trigger an alert, etc, etc.

Also the `HadoopPinotFS.isDirectory()` call throws a `FileN

[2021-06-23 19:01] mcvsubbu commented on #7082
According to this
https://github.com/apache/incubator-pinot/blob/master/pinot-spi/src/main/java/org/apache/pinot/spi/filesystem/PinotFS.java#L78
DeletedSegments directory will be created on demand, when the first segment is deleted.

@kkrugler  the call to remove aged deleted segments, is invoked from retention manager. If you never ever delete anything from any table in your cluster, you can (for

[2021-06-23 19:58] Jackie-Jiang commented on #7082
I think we should check and create delete segments directory if missing in the constructor of `SegmentDeletionManager`

[2021-06-23 21:32] kkrugler commented on #7082
Hi @mcvsubbu

Yes, I've manually created the directory, so the warnings and alerts are gone.

Agreed, as that would be more consistent with how Java's `File.isDirectory()` works. I'll file a separate issue for that.

Though even if this method worked as expected, and returned false, we'd get a warning in the logs every 5 minutes or so.

Which is why I agree with @Jackie-Jiang that we should try to

[2021-06-23 21:33] kkrugler opened #7083 "The XXXPinotFS.isDirectory methods should return false if the provided directory doesn't exist"
This would be consistent with how Java's `File.isDirectory()` (and `File.isFile()`) work.

Currently at least `HadoopPinotFS.isDirectory()` (don't know about others) throws a `FileNotFoundException` if called on a non-existent file/directory.

[2021-06-23 23:14] mcvsubbu opened #7084 "Need more metrics on minion task status"
It will be useful to have the following metrics out of Pinot:
- The number of tasks and sub-tasks currently "in flight" (either in progress or in queue)
- The min/max/average/p95 etc. of a sub-task queue time
- The min/max/average/p95 etc. of sub-task execution time

[2021-06-23 23:51] mcvsubbu commented on #7082
@kkrugler you are right. The two warnings in lines 220 and 226 should not be so. The first one can be removed, and the second one can be turned into an INFO, perhaps. Are you configuring retention manager to run ever 5 mins? The default is 6 hours.

And yes, I am fine with SegmentDeletionManager auto-creating the dit as well. In which case, the first `if` can be removed.

[2021-06-24 00:15] kkrugler commented on #7082
Hi @mcvsubbu - ops guy reported warnings every 5 minutes, but looks like that was just the alerting system firing over and over again, not actually due to new entries in the warn/error log file that we set up for each service.

[2021-06-24 03:05] mqliang opened #7088 "Add CRC validation on pinot-minion to drop duplicate tasks"
BaseSingleSegmentConversionExecutor tasks follow the pattern of:
* download segment
* processing segment
* upload the new segment

It will be helpful to check segment CRC first before starting a SegmentConversion task. Without this logic, minion will start the task blindly and fail when uploading segment, which will make minion do unnecessary works and increase the waiting time of other tasks.

[2021-06-24 08:11] MrNeocore opened #7090 "SegmentNameGenerator: Extend interface to accept input file name"
Following Slack discussion: https://apache-pinot.slack.com/archives/C011C9JHN7R/p1624443889243500

**Use case:**
Some tables in Pinot are used in conjunction with [IdSet filtering](https://docs.google.com/document/d/1s6DZ9eTPqH7vaKQlPjKiWb_OBC3hkkEGICIzcd5gozc/edit#) or [Lookups](https://docs.pinot.apache.org/users/user-guide-query/lookup-udf-join) - and in some cases don't have a time column.
- H

[2021-06-25 08:40] atris commented on #7036
Folks, this is relevant to a use case we are evaluating Pinot for. Can I take this issue up?

[2021-06-25 14:50] mayankshriv commented on #7036
@yupeng9 Is the proposal to have Presto/Spark engines read Pinot segment format? The segment format in Pinot is optimized to assist the query execution engine of Pinot. If the proposal is to bypass the query execution entirely, what value does the format itself provide to other engines? In other words, why would running Presto/Spark on the pinot format be better than running on ORC/Parquet? One be

[2021-06-25 16:33] mcvsubbu commented on #7036
Would having a feature to "backup" data (I found there is no opposite to "ingest". The closest nice word was maybe disgorge :) from pinot to deep store in some (configurable) format? Minion jobs could do that.

[2021-06-25 16:33] yupeng9 commented on #7036
@atris You are welcome to take this. There are existing implementations of segment reading in the Pinot server, so an important part of this work is to abstract the interface out. So it will be good to share the interface design first with the community and reach an agreement.

@mayankshriv Yes, apart from the isolation benefits that I mentioned in the issue description, a single source of data is

[2021-06-25 20:44] xiangfu0 commented on #7036
I actually found an interface of [RecordReader](https://github.com/apache/incubator-pinot/blob/master/pinot-spi/src/main/java/org/apache/pinot/spi/data/readers/RecordReader.java) and the implementation of [PinotSegmentRecordReader](https://github.com/apache/incubator-pinot/blob/master/pinot-segment-local/src/main/java/org/apache/pinot/segment/local/segment/readers/PinotSegmentRecordReader.java). S

[2021-06-25 20:50] yupeng9 commented on #7036
Yes, I think it's possible. We could extend it to read from other sources like HDFS, also we can enhance it with the FilterScan.

[2021-06-25 23:47] atris commented on #7036
I am happy to take this task

[2021-06-25 23:54] mcvsubbu commented on #7036
If we push back to hdfs in some well known format, then the advantage is that we don't have to write a pinot connector for each the other pieces that want to read this data.

[2021-06-26 01:03] yupeng9 commented on #7036
@mcvsubbu That's another option on the table. But do you suggest some async job to manage this like an ETL job, or make it part of data back to deep store? Does that mean a table owner can choose the backup format like Parquet?

[2021-06-26 14:53] mcvsubbu commented on #7036
@yupeng9  A configured minion job works. Alternatively, a periodic task in the grid also works (since we already have an interface to pull segments from Pinot). Of course, Pinot's realtime segments will not be a part of this, but I am not sure that is a requirement.

[2021-06-26 15:29] mayankshriv commented on #7036
Why not just retain the original data (format) from which Pinot segments were generated in the first place?

[2021-06-26 18:46] mcvsubbu commented on #7036
If those segments are already there, then this issue is moot. I am assuming that they are not there, probably because we have a realtime only table. (Or, auto-moving the completed realtime to the offline table).

[2021-06-26 20:12] yupeng9 commented on #7036
Not sure I fully followed this. For real-time only table, we still have the sealed segments stored in the deep store, right? In Uber's case, the deep store is HDFS, so there are already segments available. With the reader, compute frameworks can directly query those.

Also, we do not use minion at Uber now, so having a reader integration with Presto/Spark could save this ETL job. Also, I assume we

[2021-06-27 00:27] mcvsubbu commented on #7036
I should not have said "segments". @mayankshriv was asking about the data in original format before it is pushed to pinot (avro/orc/parquet/whatever), and that is what I was writing about.

[2021-06-28 15:52] atris commented on #7060
I would like to take this up please. Please. assign this to me

[2021-06-28 16:00] kishoreg commented on #7060
Done

[2021-06-28 16:19] atris commented on #7060
Thanks!

[2021-06-28 18:26] Jackie-Jiang commented on #7082
@kkrugler @mcvsubbu Fix for the issue, please take a look: #7097

[2021-06-28 21:03] mcvsubbu commented on #7084
PR #7091

[2021-06-28 22:02] mqliang commented on #7088
close this as the PR has been merged.

[2021-06-28 22:02] #7088 closed

[2021-06-28 22:05] #7082 closed

[2021-06-29 02:21] minwoo-jung opened #7100 "[question] Even if I recreate the kafka topic or modify the topic properties, I wonder how consuming can continue to do it."
Hello~
I am using pinot well. Thank you for making a great product. :)
I have a question because it didn't work as I thought while using it.

**Even if I recreate the kafka topic or modify the topic properties, I wonder how consuming can continue to do it.**

I am storing data in Stream ingestion way.
for some reason I need to delete the kafka topic and recreate it. The consuming segment seems to

[2021-06-29 03:14] minwoo-jung commented on #7100
It doesn't matter how much data is lost. Only comsuming should be restored and operated normally.:)

[2021-06-29 03:23] mcvsubbu commented on #7100
If you don't care about data loss, then you can do the following:
- Drop your table
- Recreate the table with the correct topic.

[2021-06-29 03:48] minwoo-jung commented on #7100
@mcvsubbu
First of all, thanks for the quick reply. :)
This means that the data in the previously saved table is maintained, and the data in kafka is irrelevant even if it is lost.
I would like to keep the data previously stored in the table.

is there any workaround?:)

[2021-06-29 03:54] minwoo-jung commented on #7100
Is there any way(workaround) to lose some data in the table and recover consuming **without recreating the table**?
For example, Data stored in the consuming segment is lost, but how to initialize the cosuming segment.

[2021-06-29 18:33] mcvsubbu commented on #7100
As of now, there is no workaround.

If you think about it, Pinot consumes from Kafka using offsets. Kafka guarantees a unique offset for each message in the queue, and a unique queue per topic. Across topics, the offsets and queues will not match in general, so the semantics of an identifier of a 'row' is lost.

[2021-06-29 18:42] mcvsubbu commented on #7084
PR #7099

[2021-06-30 00:09] mqliang opened #7106 "Move minion metrics into pinot-common"
As discussed in https://github.com/pinot-contrib/pinot-docs/pull/36:

It will be good to bring minion metrics to pinot-common( the same package as the other component metrics)?

[2021-06-30 04:27] icefury71 commented on #7036
@mcvsubbu @mayankshriv from what I understand, the data source is realtime only in Uber's case (for the corresponding use case). Yes, you could argue that it can be persisted directly from Kafka -> Parquet via some ETL job but that will be redundant and operationally expensive. Since we already have all the data sitting in deep store (in Pinot format), exposing read API on such archived segments m

[2021-06-30 04:51] minwoo-jung commented on #7100
@mcvsubbu
Thanks for the reply.
I understand what you are saying and I know that solving problems is not easy.
I'd like to ask you a few more questions.

**1**
Is there any development in progress to solve this problem?
When the above situation occurs, this issue is important to me because I want to keep the existing data and minimize the modification of the business code.

**2**
If I follow the m

[2021-06-30 11:02] atris commented on #7060
So I investigated this and noted that in case there is no ORDER BY present, there is a possibility that we will early terminate during a DISTINCT operation. However, in case of ORDER BY being present, DistinctCombineOperator will not allow early termination, thus forcing all segments to be processed.

I do not see how we can avoid this, since ORDER BY will have to ensure that the results are order

[2021-06-30 15:46] mcvsubbu commented on #7036
@icefury71 I was not suggesting that we etl from kafka -> parquet. I was suggesting that we provide a job to to reverse conversion -- pinot segment to avro/parquet/orc/whatever. This should be fairly easy to write, and under Pinot control. If we do this, we don't need to provide a specialized reader for spark/presto/trino/whatever.

[2021-06-30 17:21] yupeng9 commented on #7036
@mcvsubbu By Pinot control, do you mean a minion job? Or is it possible to make this part of the segment sealing and saving in deep store?

[2021-06-30 17:32] mayankshriv commented on #7060
IIRC, the result returned in both cases was the same, so early terminate may not apply for this case, so I think something else is going on. @wuwenw @Jackie-Jiang can you take a look on the latency difference.

@atris Yes, it would be great to add dictionary based distinct support if you are up for it.

[2021-06-30 17:57] mayankshriv commented on #7060
Chatted with @atris, there's indeed a bailout that stops scanning records after we hit the record limit during the combine phase of distinct operator. It is just a fluke that the results matched even though we didn't scan all records. For other use cases, early bailout in case of no order-by and small limit may result in incorrect results.

[2021-06-30 17:58] mayankshriv commented on #7060
@MrNeocore As an experiment, can you try a really large value of limit in your query? I think the first query performance will also degrade.

[2021-06-30 18:00] elonazoulay opened #7110 "Pinot broker query limit throws 500 error"
Broker queries with a limit of Integer.MAX_VALUE throw a 500 error.
It looks like the error happens in the `reduceOnDataTable` call in SingleConnectionBrokerRequestHandler::processBrokerRequest.
Pasting logs below.

[2021-06-30 18:37] elonazoulay commented on #7110
Enabled debug logging, here is the stack trace (:
[code]

[2021-06-30 18:43] mcvsubbu commented on #7036
By Pinot control, I mean we have full control of the source as well as  how it is used, APIs, etc.

[2021-06-30 22:35] Jackie-Jiang commented on #7110
The root issue is that we pre-allocate the array based on the `LIMIT`

[2021-06-30 22:41] Jackie-Jiang commented on #7110
#7112

[2021-07-01 14:46] MrNeocore commented on #7060
@mayankshriv I don't have that big table available right now, but I'll try it out whenever possible :)

[2021-07-01 18:19] keweishang commented on #6523
We at Bolt also need this feature. We use Kafka Streams to join different Kafka topics. Kafka Streams' JOIN produces many Kafka records with the same event-time column value. Pinot randomly picks one record as the latest one when the event-time value is the same and it doesn't guarantee that the record of the latest Kafka offset is chosen.

It would be great to use other columns (e.g. an int/long

[2021-07-01 23:39] mayankshriv commented on #7084
Thanks for adding this feature. We also wanted to add rest-api's to make these status queriable in a debug env. Hopefully I can resue the code from #7099.

[2021-07-02 12:13] shahsank3t commented on #5829
PR to fix this issue: https://github.com/apache/incubator-pinot/pull/7120

[2021-07-02 15:16] kishoreg commented on #7051
do we have docs updated?

[2021-07-02 17:46] Jackie-Jiang commented on #7051
Yes, the doc is updated here: https://docs.pinot.apache.org/basics/components/schema

[2021-07-02 17:46] #7051 closed

[2021-07-02 18:13] #5829 closed

[2021-07-02 18:53] Jackie-Jiang commented on #7043
In order to do general post-aggregation and nest query, we should build another set of operators on broker side that work on `ResultTable` (row major table). Currently all the operators on the server side works on the `DataSource` which is column major.

[2021-07-02 18:57] mayankshriv commented on #6523
Tagging @yupeng9 to see if this could be done easily?

[2021-07-02 19:46] yupeng9 commented on #6523
I don't think it's hard. We need to add a configuration, and have the upsert metadata manager use it instead of the time column for determining the latest. I can take this when I have some cycyles.

[2021-07-03 01:50] dongxiaoman opened #7124 "pinot-admin.sh has bash error processing IFS and PLUGINS_INCLUDE env"
Based on our latest test on latest master (this is probably there for a while)
That if we run the command with
`bash xxxxx/pinot-admin.sh` , and has `$PLUGINS_INCLUDE` defined, the below processing cannot get the plugins array properly:
[code]
I believe it is the file `src/main/resources/appAssemblerScriptTemplate`

We recently tested out the plugins_include macro and it works with trouble.

[2021-07-05 09:05] minwoo-jung commented on #7100
Hi @@mcvsubbu

I am writing to get answers to the above questions.
You're so busy, but can you answer me when you have time?

I am a developer developing an [open source pinpoint apm](https://github.com/pinpoint-apm/pinpoint/issues).
We are developing to collect system metric data, store and analyze raw data in pinot to show meaningful data to users.
We reviewed and looked at pinot for a long time

[2021-07-05 13:41] syed72 opened #7128 "Add api to get table stats via restapi"
It will be very helpful, if api is added to get table stats , like offline segment count, online segment count, table creation time, table modified time , offline ingestion job time(time at which ingestion job triggered/finished) etc.,

Thanks

[2021-07-05 13:42] syed72 commented on #7072
Can someone acknowledge this?

[2021-07-05 21:28] kriti-sc commented on #6679
Picking this up

[2021-07-06 18:11] kkrugler commented on #7090
Java 8 is the minimum version, right? So we could extend the `SegmentNameGenerator` interface with a default method that takes the input filename, and just calls the old version.

[2021-07-06 18:13] kkrugler commented on #7090
Also currently is it possible to implement a custom name generator, via java classes in some plugin dir? I guess we could support patterns to be able to define the resulting segment name based on the input file path, but that seems like it could get messy. Wondering if a first cut to just enable this, and ensure you can implement your own name generator class.

[2021-07-06 18:17] mayankshriv commented on #7090
Yes, Java8 is the minimum version.

[2021-07-06 18:18] mayankshriv commented on #7090
IIRC, segment name generator is not pluggable, atm. I can see that plugging in custom name generators would be useful. It might open up the door for operational overhead though (given that we rely on names to overwrite segments).

[2021-07-06 18:22] kkrugler commented on #7090
And pluggable name generators would make it harder to provide a hosted solution :) But without that, I'd need to also add support to format the input dates to be `YYYY-MM`.

[2021-07-06 18:31] kkrugler commented on #7090
How about being able to define things via:

[code]

or, for our use case:

[code]

We could also support formatting of the input dates via say `${minTimeValue:yyyy-MM}`, but maybe that's a bridge too far.

[2021-07-06 22:41] xiangfu0 opened #7130 "Add a partialResults flag in Response metadata"
It would be good to let the broker add a partial result flag, case I can think when this flag is set to true:
1. Any exceptions during segment processing or timeout
2. Routing table doesn't contain full segments, e.g. all replicas are down for a segment in idealStates.

Then client-side can leverage this flag to decide the behavior like retry or just surface partial results.

[2021-07-06 22:41] xiangfu0 commented on #7130
cc: @yupeng9 @mcvsubbu @mayankshriv

[2021-07-06 23:04] yupeng9 commented on #7130
+1

It'll be also good to have a broker or table-level config that disallows partial results. It's common to see that users are okay with query failure (which they can retry), but not okay to see partial/incomplete/incorrect results.

[2021-07-07 00:57] Jackie-Jiang commented on #7072
Pinot does not have the database concept, and requires all the table name to be unique. I believe the ask here is to allow `.` within the table name. Currently `_` is allowed as part of the table name, do you think you can replace `.` with `_` as the delimiter?

[2021-07-07 17:14] yupeng9 commented on #7036
We saw some other use cases that need this segment reader. Usually an ingestion pipeline can be set up from Kafka to Hive. However, such ingestion set up is difficult for upsert table, especially the partial upsert, because it's sometimes not straightforward to implement the partial upsert logic in Hive ETL to derive the same full values from the raw Hive dataset from Kafka. It would be easier to

[2021-07-07 18:10] yashrsharma44 commented on #6865
Hi @Jackie-Jiang,

I wanted to pick up this issue, if no one is working on it.
Could you provide more details about the requirements and what needs to be done?

Thanks!

[2021-07-07 18:25] rpatid10 opened #7134 "Pinot Is Not Able to Read JAAS File Property (java.security.auth.login.config) While Doing Integration With Kerberos Kafka."
I am trying to Integrate  Kerberos Kafka with  Pinot.When I am starting Pinot With the help of **quick-start-batch.sh** file and set **JAAS file Location** In **quick-start-batch.sh** it worked as expected and I am able to ingest Data from Kerberos kafka. Now when I am trying to start each component(Controller,Server,Broker) Independently and setting JAAS file Location In all these files (start-co

[2021-07-07 18:57] rpatid10 commented on #7134
@kishoreg @xiangfu0

[2021-07-07 20:04] Jackie-Jiang commented on #6679
@npawar @kriti-sc This scenario should be handled within `PinotLLCRealtimeSegmentManager.ensureAllPartitionsConsuming()` when a partition does not have any consuming segment in ideal state. We should pick the end offset of the latest completed segment and put it as the start offset of the new created consuming segment.

[2021-07-07 20:10] Jackie-Jiang commented on #7130
@mcvsubbu @snleee @siddharthteotia @jackjlli I believe this flag is already available in the LinkedIn MP. Can you please help move that into the open source code?

[2021-07-07 20:18] Jackie-Jiang commented on #6865
@mcvsubbu I agree having a pinot cluster change log table could be very useful, but that involves much bigger change. IMO checking the ZNode metadata should be good enough to solve this issue for now, and we can change the underlying implementation when the log table is available in the future.

[2021-07-07 20:25] Jackie-Jiang commented on #6865
@yashrsharma44 Great! Thanks for volunteering. Basically we want to add a new rest API endpoint on controller to list all tables sorted by their creation/modification time. One way to do that is to enhance the `PinotTableRestletResource.listTableConfigs()` (we should rename this method because it only returns the table names instead of configs) to take an extra query parameter for the ordering. By

[2021-07-07 20:29] mcvsubbu commented on #6679
Currently (unless through human intervention), it is never possible that IDEALSTATE does not contain a CONSUMING segment for each partition(group). I therefore agree with Neha, that if the consuming segment is deleted (for whatever reason) by the administrator, the admin should re-create the consuming segment via human interaction.

So, we can create an Admin API that allows the operator to recrea

[2021-07-07 20:31] mcvsubbu commented on #6679
I disagree with this. I think Neha's approach of creating a command to do this is better, and can be a general solution for multiple issues

[2021-07-07 23:12] Jackie-Jiang commented on #6679
@mcvsubbu I see. Yes this api can be useful to skip the bad records which can cause consumption to stop.
I would recommend modeling the api to take the following parameters:
- table name
- partition number
- start offset (optional, use the end offset of last completed segment if not specified)

We should not ask the user to create the whole ZK metadata because that will be very hard to use.

[2021-07-08 00:57] Jackie-Jiang commented on #4508
We have added a star-tree page: https://docs.pinot.apache.org/basics/indexing/star-tree-index

[2021-07-08 00:57] #4508 closed

[2021-07-08 01:24] Jackie-Jiang opened #7137 "Star-tree Optimizations"
Problems:
1. Certain predicates (e.g. `NOT_EQUAL`) can select too many branches, limiting the performance of star-tree
2. Star-tree does not support filters with `OR`

Potential solutions for 1:
- During aggregation, negate the aggregation result of the non-selected branches from the star node branch. This solution could become complicated for multiple predicates.
- Create a derived column for the

[2021-07-08 04:41] mayankshriv opened #7138 "Support for Tenant data isolation"
We have seen requirements where multiple tenants (clients) need to be hosted on the same Pinot table (one table per client is not scalable). However, the tenants would like to ensure that their data is isolated from other tenants' data on the Pinot table. Isolation here means:

- Guarantee that a client's (tenant) data is protected against any leaks (accidental or otherwise) to other clients.
- Ce

[2021-07-08 07:09] apucher opened #7139 "kinesis test should handle missing docker gracefully"
just for tracking for now.

best case, skip test with notification and document docker dependency

[2021-07-08 11:10] LiranBri commented on #5762
+1

[2021-07-08 13:51] LiranBri commented on #7138
We would highly appreciate such an ability!

[2021-07-08 15:58] johighley commented on #7138
Mayank created this request after our Slack conversation, so to expand the use case:  We have a lot of clients (tenants) and require data separation. Each client will have the same set of tables (ex: customer, account).  We need the ability for each tenant to have the same set of tables without requiring unique table names.

Some way to indicate the tenant for operations would be needed:  select *

[2021-07-08 16:36] mcvsubbu commented on #6679
One of the problems faced is that kafka topic (whether new topic on the same table, or some unerlying kafka change) causes offsets to go lower.

So, the option to re-add consuming segment should be to pick the latest or earliest available offset (as per table config) even if it is lower than the previous segment. So, maybe an option like `ignoreOffsetConsistency` ?

Operator can provide an offset,

[2021-07-08 16:58] kishoreg commented on #7138
what about the data across tenants? will there be a separate physical table for each client

I am trying to understand if your requirement boils down to have a distinction between physical and logical table names

[2021-07-08 17:04] johighley commented on #7138
I _think_  it would be a separate physical table.  Table configuration could be the same; basically, the table's broker and server tenant tags would allow a list of tenants instead of just one.

[2021-07-08 17:25] yupeng9 commented on #7138
+1 to this, and we see similar asks at Uber. Also, we could start with removing the constraint that a table name is unique in a cluster, but allow the tenant name as the namespace. So we can have the same table name in different tenants.

[2021-07-08 18:23] Jackie-Jiang commented on #6679
I feel this is way too complicated, and we should break it down to several primitive operations.

Since the consuming segment can only be removed manually, and the controller won't automatically recreate it, the race condition will be easy to address: a version check when updating the ideal state is good enough.

The first api is the same as I suggested above.
We can provide another api to read th

[2021-07-08 18:34] yashrsharma44 commented on #6865
I checked out the `TableConfig` - https://github.com/apache/incubator-pinot/blob/master/pinot-common/src/main/java/org/apache/pinot/common/utils/config/TableConfigUtils.java class, but didn't find any **last related**/**last modified** parameter. Any pointers where I can get the time parameter?

[2021-07-08 18:47] Jackie-Jiang commented on #6865
@yashrsharma44 `TableConfig` is stored as a `ZNRecord` in the Zookeeper. We can use the `ZNRecord` metadata for the create/last modify time (`ZNRecord.getCreationTime()` and `ZNRecord.getModifiedTime()`).

[2021-07-08 19:35] npawar commented on #6679
+1 to this `automatic fix always pick the latest offset if there are completed segments, or earliest available offset if not`. One thing to watch out for here is in Kinesis, it is valid to have no CONSUMING segment. We shouldn't end up creating a CONSUMING segment for those, we might have to add endOfPartition into segment metadata. This issue and the suggestion was created before we got the Kines

[2021-07-08 20:20] Jackie-Jiang commented on #6679
@npawar Skipping offset can be useful when certain bad records can hang the consumption. Ideally we should automatically skip such records, but this is not always handled properly. Skipping offset can help resume consumption in such scenario at the cost of losing some records, but without dropping the whole table or deploying the new code

[2021-07-08 20:24] pabrahamasurion opened #7143 "Remove unapproved company Icon from apache pinot website"
Hello,

I can see Asurion logo listed in Apache Pinot Website.  As per corporate policy this is not allowed until there is an approval. I did not provided any approval to anyone as well. Could you guys please remove Asurion logo from https://pinot.apache.org/

Thanks

[2021-07-08 20:36] xiangfu0 commented on #7143
Thanks for bringing this up. Removed the logo!

[2021-07-08 20:36] #7143 closed

[2021-07-08 21:04] Jackie-Jiang opened #7144 "Add `numConsumingSegmentsProcessed` and `numConsumingSegmentsMatched` into the query response metadata"
Currently we have the following metadata in the query response:
- numSegmentsQueried: number of segments queried by the broker
- numSegmentsProcessed: number of segments processed after the server-side segment pruning
- numSegmentsMatched: number of segments that has records matched
- numConsumingSegmentsQueried: number of consuming segments queried by the broker

We want to also add `numConsuming

[2021-07-08 21:49] #7110 closed

[2021-07-08 21:50] xiangfu0 commented on #7124
ic, can you make the workaround with java option`-Dplugins.include`?

[2021-07-08 21:56] xiangfu0 commented on #7134
Have you tried to add `-Djava.security.auth.login.config="/home/dev/client_jaas.conf"` into `JAVA_OPTS`?
Something like:
[code]

[2021-07-08 21:57] xiangfu0 commented on #7134
In your case, please make sure all controllers and servers have this -Djava.security.auth.login.config=/home/dev/client_jaas.conf`

[2021-07-08 22:03] #7139 closed

[2021-07-08 22:04] #7106 closed

[2021-07-08 22:06] xiangfu0 commented on #7124
Can you paste the errors?
I feel it could be the issue of sh vs bash.
the first line of pinot-admin.sh mentioned sh.
[code]

[2021-07-08 23:55] mcvsubbu commented on #6679
@npawar , @Jackie-Jiang so far what I have heard is that people do things to Kafka, and then want to recover on the pinot side -- they don't care about missed or duplicate data.

So, we can offer this as a solution. Delete all your consuming segments, and the entering the command to create them. Two APIs will get them back to normal.

While recreating the consuming segments, they have a choice:
-

[2021-07-09 14:23] egalpin opened #7147 "Apache Beam IO Connector"
Hi folks 👋

I noted that there's an Apache Spark integration[1] for creating segments and batch-ingesting data. I'd be keen to explore creating a similar IO connector for Apache Beam[2], and I would be interested in providing support both in terms of brainstorming and/or implementation.

I'm opening this issue to better understand the community support of and implications of such an integration, w

[2021-07-09 16:16] yashrsharma44 commented on #7144
Can I pick this up?

[2021-07-09 18:42] Jackie-Jiang commented on #7144
@yashrsharma44 Sure, go ahead!

[2021-07-09 18:46] Jackie-Jiang commented on #6679
@mcvsubbu So the suggestion here is to add an `offsetMode`:
- AUTO: pick the end offset of the last completed segment, or offset per the table config if there is no completed segment
- EARLIEST/LATEST: As if there is no completed segment

I'd still suggest allowing users to manually put the offset if they want. This might not be as easy to use, but can make special requirement possible, e.g. skipp

[2021-07-09 21:09] xiangfu0 commented on #7134
@rpatid10 can you provide the detailed command you are using for starting all pinot components, so we will document those.

[2021-07-09 23:22] atris commented on #7043
@Jackie-Jiang If it makes sense, I would like to start working on this.

[2021-07-10 00:38] mcvsubbu commented on #6679
@Jackie-Jiang I don't  understand the proposal clearly. Table config already has ways to specify earliest/latest/1d/3d etc.

Let us see what are the cases we need to handle:
- User has deleted the consuming segment (or segments) by mistake and wants to restore whatever was there
- User has deleted the consuming segments (or segments) because some partition-groups had a bad offset. User has the rig

[2021-07-10 02:25] rpatid10 commented on #7134
Steps to enable Kerberos Authentication:
First do kinit and klist:

kinit -kt <your_keytab_path>  <principal_name>
klist
Command to start components:

Start Controller :

JAVA_OPTS="-Xms1G -Xmx4G -Dplugins.dir=plugins -Djava.security.auth.login.config=/home/dev/client_jaas.conf" \
 bin/pinot-admin.sh \
StartController \
-configFileName /home/dev/apache-pinot-incubating-0.7.1-bin/cont.conf

Start b

[2021-07-10 10:20] xiangfu0 commented on #7134
Thanks!

[2021-07-11 14:31] MrNeocore commented on #7090
@kkrugler As a user, this idea seems interesting and pretty flexible :) Then, as you suggested, it would seem possible to add more advanced parsing to extend that feature further down the line.

FYI, the way I 'solved' this for now is by using the `fixed` strategy in conjunction with custom job spec templating.
But this adds business-level complexity and implies to run an ingestion job for every s

[2021-07-11 16:15] MrNeocore commented on #7060
@mayankshriv I can confirm a degradation in performance when using a large `LIMIT` value without ORDER BY
Performance remains better than with ORDER BY though. (~250ms vs 350ms)
Interestingly, adding the same `LIMIT` to the query with `ORDER BY` improves performance

**In summary (same context as before):**
- `select DISTINCT(kpi) from kpis` -> less than 10ms
- `select DISTINCT(kpi) from kpis LIMI

[2021-07-11 16:26] MrNeocore opened #7150 "Mobile version of controller UI is not usable"
It seems like the UI provides a mobile friendly version, but that version is actually not practical to use (see screenshots).
Switching to Desktop mode view is an okay workaround.

Should this be the default view even for mobile then ?

[2021-07-11 16:38] MrNeocore opened #7151 "Controller's `/segments/<tableName>/metadata` does not return metadata from all segments of the table"
**Following Slack discussion:** https://apache-pinot.slack.com/archives/C011C9JHN7R/p1625240658371100

This endpoint is supposed (see Swagger screenshot) the metadata of all segments. However, it appears to only return a single segment's metadata (from a "random one").

The table really has many segments, and multiple calls to this endpoint return metadata from different segments every time.

**Ex

[2021-07-11 16:43] kkrugler commented on #7090
I've dug into this a bit, and started a first pass. The problem is that the distinction between real-time (from Kafka) and batch (from input files) is erased early on, as is right and proper :) But it means that where segment generation is occurring, information about the input file path/name has been lost. So the changes are more extensive than I was expecting.

[2021-07-11 19:40] Jackie-Jiang commented on #6679
@mcvsubbu
In AUTO mode, we create the new consuming segment in the same way it is created during regular consumption: pick the last offset of the previous completed segment if exists, or follow the offset rule within the table config if not.

We need other mode because in certain cases the default way won't skip the bad offset (second scenario). Let's say there is a bad offset two days ago, and th

[2021-07-11 21:26] MrNeocore commented on #7090
Ah that makes sense.. thanks for looking into it, let's hope there's still a nice way to do it

[2021-07-12 02:50] mcvsubbu commented on #6679
User can always modify the table config to set any starting offset -- earliest/latest included. This setting makes sense ONLY when a table is created , or in such repair situations. So, I suggest we take this from the table config instead of asking user to provide an argument

[2021-07-12 04:59] atris commented on #7060
@MrNeocore Not surprised. In the first case, we are still early terminating although with a larger limit as compared to the previous iteration. It is faster than ORDER BY query due to the explanation above.

Should we close this ticket as expected behaviour?

[2021-07-12 06:47] LiranBri opened #7152 "storing json in a columnar format"
when storing a json, it would be beneficial to store it in a columnar format so each indexed field is treated like a column in a regular table.
then Pinot can possibly be able to also use different kinds of indexes on the values and not just inverted index, as well as other benefits of storing in columnar format (compression, etc)

[2021-07-12 06:49] RuslanTM opened #7153 "New data keep saving in old format after changing schema"
Hey there!
I am researching **schema evolution in pinot**.
I use **pinot, kafka and avro schema registry**.
Messages in kafka are sending in **avro** format.

I have created a pinot realtime table that based on avro schema:

`
{"namespace": "some.domen",
 "type": "record",
 "name": "Product",
 "fields": [
     {"type": "double", "name": "productID"},
     {"name": "name", "type": "string"},
     {

[2021-07-12 07:01] xiangfu0 commented on #7152
Pinot data are stored in columnar format and have multiple index supports.
Please see: https://docs.pinot.apache.org/basics/indexing

[2021-07-12 07:03] xiangfu0 commented on #7153
Please this this doc: https://docs.pinot.apache.org/users/tutorials/schema-evolution#update-the-schema
[code]

[2021-07-12 07:09] LiranBri commented on #7152
actually @kishoreg asked me to open this issue so he can document and explain the work in progress for this issue

[2021-07-12 07:37] troywinter commented on #7090
May I ask anyone is working on this issue?

[2021-07-12 09:01] MrNeocore commented on #7060
This issue is not impacting my use cases much at all, but should "technically understandable" be considered "expected behavior" (from a user perspective) ?

Of course if it seems there's no way to improve / fix the issue, then let's close it, as "known behavior" maybe ?

Maybe I'm just being pedantic lol

[2021-07-12 09:04] atris commented on #7060
I would say that we document this behaviour and make users aware of this scenario. WDYT?

[2021-07-12 13:04] kkrugler commented on #7090
@troywinter - Yes, I've started some work (see above for my comments on why it's a bit harder than I was expecting)

[2021-07-12 14:51] RuslanTM commented on #7153
@xiangfu0 I set this property and everything the same:
<img width="525" alt="Screenshot 2021-07-12 at 20 40 23" src="https://user-images.githubusercontent.com/11804145/125307988-5c485600-e352-11eb-80b8-548a3dee8462.png">

In kafka topic you can see Product_823 and Product_973 have country = USA:
<img width="323" alt="Screenshot 2021-07-12 at 20 47 54" src="https://user-images.githubusercontent.com

[2021-07-12 16:17] Jackie-Jiang commented on #7153
There are 2 ways of handling the schema change with new columns within consuming segment:
1. (Supported) Keep the already consumed records and add new columns as default values. The next consuming segment will pick up the new schema and consume the actual data. With this approach, the consumed records are kept, but we have to wait for the next consuming segment to ingest the actual data for the ne

[2021-07-12 19:04] amrishlal opened #7155 "Manually trigger periodic task using controller api."
I discussed this with @mcvsubbu a bit. Setup controller api to allow for manually triggering a periodic task. When the controller gets a request to manually execute a periodic task, it will send a broadcast helix message to all the controllers in the cluster for executing the periodic task against the tables. Upon getting the broadcast message, each controller will run the specified periodic task

[2021-07-12 21:19] jackjlli opened #7156 "Make configs for controller periodic tasks human readable"
The current configs for controller periodic tasks have to use number in seconds, which is not convenient.
We can introduce a new set of configs to make them human readable, like `2h30m`.

[2021-07-12 23:19] siddharthteotia commented on #7043
At LinkedIn, we will be exploring a combined design for subqueries and distributed joins since design / architecture wise there might be overlap and it is good to think of both design wise. cc @amrishlal  @jackjlli
Once we have had some preliminary thought / initial design, we will share with community to iterate upon and collaborate further.

[2021-07-12 23:27] siddharthteotia commented on #5664
At LinkedIn, we are exploring a combined design for subqueries and distributed joins since design / architecture wise there might be overlap and it is good to think of both design wise.

cc @amrishlal @jackjlli

Once we have had some preliminary thought / initial design, we will share with community in the next couple of weeks/months to iterate upon and collaborate further.

[2021-07-12 23:27] siddharthteotia commented on #7043
https://github.com/apache/incubator-pinot/issues/5664

[2021-07-13 00:10] Jackie-Jiang commented on #6679
@mcvsubbu Forcing the user to change their table config in order to fix a segment does not seem correct to me. For example, user is using EARLIEST for all the new partitions. In order to fix one partition, user has to first change the table config to LATEST, invoke the repair API, then change the table config back. This can also cause problem when there is a new partition added (could be common fo

[2021-07-13 00:13] mcvsubbu commented on #6679
@Jackie-Jiang the user need not change back. They can keep it at LATEST. New partitions will always consume as they are detected (and therefore earliest). Like I mentioned before, this setting is used exactly once, when the table is created. After that, the setting is pretty much "minimize data loss". All the correction algorithms look for the earliest data available to minimize data loss and use

[2021-07-13 00:33] Jackie-Jiang commented on #6679
@mcvsubbu I don't think that the case at least based on my reading. Once controller detects a new partition, it will fetch the partition offset based on the offset criteria from the stream config (see `StreamMetadataProvider`). Note that controller checks new partitions periodically, so at the time new partition is detected, the LATEST might not include the earliest event.
Also, I don't see any dr

[2021-07-13 00:49] mcvsubbu commented on #6679
@Jackie-Jiang if that is the case (i.e. it fetches latest on new partitions) then we have a bug. I know for certain it was not the case when we first coded it up (at the time, only Kafka worked). Maybe in all the re-factoring somewhere things got messed up. Although, we have not had complaints of data loss

[2021-07-13 02:35] cxing opened #7159 "Pinot retention failed when integrate with HDFS"
**1.Realtime table can't be retention and fund exceptions in leader controller log**
2021-07-11 03:08:50.378 ERROR [ControllerPeriodicTask] [pool-12-thread-4] Caught exception while running task: RetentionManager
java.lang.IllegalArgumentException: Wrong FS: file:/user/hzpda/pinot_backup/Deleted_Segments/people_call_chat_relations, expected: hdfs://rpbt1hmn002.webex.com:8020
        at org.apache.

[2021-07-13 03:35] atris commented on #5664
Great to see this. I am excited about this feature - but I don't see a strict need for subqueries to be designed in conjunction with joins. IMO subqueries are simpler and have independent use cases (nested aggregates).

I have been working on a sub query only proposal that I plan to share today.  Please share your inputs and feedback on it, and let's ensure its aligned with your overall plan of jo

[2021-07-13 03:39] RuslanTM commented on #7153
@Jackie-Jiang first approach is more preferable. Is it supported in the last version of pinot?

[2021-07-13 05:16] atris commented on #7043
@siddharthteotia Thats great to hear. I am already working on this feature, since its crucial for our evaluation of Pinot. I would request your inputs and feedback on the proposed design and lets ensure alignment with your overall plans for Joins (I plan to publish today).

[2021-07-13 05:41] xiangfu0 commented on #7159
I think this is already fixed by https://github.com/apache/incubator-pinot/pull/7027

Can you confirm?

[2021-07-13 05:57] cxing commented on #7159
Yes it's already fixed in #7027 i will close this issue, thx

[2021-07-13 05:57] #7159 closed

[2021-07-13 06:35] siddharthteotia commented on #5664
@atris, Subqueries can broadly be divided into two categories

- inner query (and there could be multiple of these) referring to same table as outer query
- inner query (and there could be multiple of these) referring to different tables not necessarily same as outer query.

Since the overall query might touch more than 1 table and might require us to consider data movement / exchange operators (a

[2021-07-13 06:37] atris commented on #5664
If the outer query is being executed on a broker node, on top of the result of the underlying topmost Combine operator, would this still be a problem?

[2021-07-13 06:40] siddharthteotia commented on #5664
I don't completely follow that. Can you give an example ? Also, are you approaching this from making subqueries work for a particular scenario ?

[2021-07-13 15:51] shahsank3t commented on #7150
Currently, controller UI doesn't support the mobile resolution but only supports the desktop version.

[2021-07-14 15:54] atris commented on #7137
I am working on 2.

[2021-07-14 21:31] Jackie-Jiang commented on #7155
This is good design. So basically we want to guarantee that:
1. Only the leader controller can process the table
2. The API can be triggered on any controller and the request will be broadcasted to all the controllers

One challenge I can see here is that we need to gather the responses from the broadcasted helix message. We never use the custom Helix message this way, but the Helix messaging serv

[2021-07-14 21:33] Jackie-Jiang commented on #7156
Currently we have `frequencyInSeconds`, `initialDelayInSeconds` etc. We can add another set of configs `frequencyPeriod`, `initialDelayPeriod` which takes the human readable period string

[2021-07-14 21:38] Jackie-Jiang commented on #7153
@RuslanTM Yes it is already supported. As mentioned above, you need to wait until the current consuming segment committed, then the next consuming segment will consume the actual data for the new added columns. The current consuming segment will be filled with default value for the new added columns, which is `"null"` for new column `country`.

[2021-07-14 21:39] mcvsubbu commented on #7156
Exactly, that is the idea.

[2021-07-14 21:46] mcvsubbu commented on #4001
PR #7149, PR #7108, PR #7105, PR #7103, PR #7074, PR #7024, PR# 7020, PR #7011, PR #6959, PR #6550, PR #6160, PR #6129

[2021-07-14 22:29] Jackie-Jiang opened #7161 "Query console does not response when the query is not a valid SQL"
When the query fails to compile, the response is not a json, and query console is not able to handle it.
We can change the query response to a valid json for query console to work

[2021-07-15 00:11] mcvsubbu commented on #7155
Why gather responses? This is similar to our current segment reload message -- no response

[2021-07-15 07:43] tmichaud314 opened #7163 "ST_Contains unsupported filter"
Description:

The latest docs indicate support for `ST_Contains` geospatial predicate though when running a query with ST_Contains, the controller always logs this error:
[code]
Can someone confirm that `ST_Contains` should be supported and the reported behavior is unintended?

Note - other ST functions work including ST_Area, ST_Geometry_Type, ST_GeomFromText, and ST_Distance.

Docker image tag:

[2021-07-15 16:40] kyrsideris opened #7164 "Ingestion of Parquet with `int96` and `decimal` data types fails in 0.8.0-SNAPSHOT"
According to #6525, which is part of the [release-0.7.1](https://github.com/apache/incubator-pinot/releases/tag/release-0.7.1) based on the comparison: https://github.com/apache/incubator-pinot/compare/release-0.6.0...release-0.7.1,
it seems that ingestion of Parquet files that include `int96` and `decimal` data types should have been addressed in newer versions. Nevertheless I am still getting an

[2021-07-15 18:13] suddendust commented on #7156
Hey @mcvsubbu can I pick this up?

[2021-07-15 18:51] mcvsubbu commented on #7156
Sure, please do. Just make sure that we accept _both_ old and new configurations, and prefer the new one if both or specified. Be sure to change the documentation as well to say that these new configs have been introduced and the old ones deprecated.

[Sigh!] we have no way of deprecating configurations to make them easily visible for admin (other than release notes), so please tag your PR with re

[2021-07-15 20:45] KKcorps opened #7166 "JDBC driver doesn't work with Kuberneteres Pinot cluster"
The JDBC driver is not able to run queries if pinot is deployed in kubernetes cluster.
The driver uses controller URL in the connection and then fetches the broker list from controller for the tenant specified in JDBC properties
Now what's happening is that in clusters such as k8s, the controller returns the broker hostname and not IP/ingress url
[code]
Queries cannot be executed against hostname

[2021-07-15 20:46] KKcorps commented on #7166
@Jackie-Jiang @kishoreg

[2021-07-15 22:55] xiangfu0 commented on #7166
You are right, pinot client expects to use pinot controller for getting table management info and broker to query.
Here is one workaround solution: modify pinot client to take a flag/param to be controller-only mode, so it can query pinot directly on the controller. Then JDBC-driver also need to pass that flag to the pinot-client.

[2021-07-15 22:57] xiangfu0 commented on #7166
another workaround is to write a proxy service to take this if we don't want a lot of traffics to the controller. I know Uber is doing this.

[2021-07-16 06:56] amrishlal commented on #7155
async callback is what I was thinking about using.

if one of the controllers fails to complete manually triggered periodic task successfully, then the user may want to know about that and hence the need for gathering responses. Also, user may want status information on when the periodictask was run last and what was the result of that run before deciding to trigger the periodictask manually again

[2021-07-16 07:49] deepakcse2k5 opened #7168 "I am not able to manage offline flows ( from realtime to offline)"
Hi ,

I have started Quickstart batch with minions :- bin/quick-start-batch-with-minion.sh

followed instruction from here:- https://docs.pinot.apache.org/operators/operating-pinot/pinot-managed-offline-flows

created realtime table - "tableName": "transcript_realtime",
  "tableType": "REALTIME".

crated realtime table :-
<img width="791" alt="transcript-table-realtime" src="https://user-images.gi

[2021-07-16 10:32] suddendust commented on #7156
I have picked this up.

[2021-07-16 16:13] mcvsubbu commented on #7155
No, let us not complicate this any more than we have to. Unless helix provides a response option (I think it does not). The user can trigger the API and scan the logs for further info. In any case, the logs will have more detailed information on what went wrong.

[2021-07-16 19:18] suddendust opened #7171 "Update Contributions Guide with Code Formatting Guidelines"
Currently, the guide exists at https://docs.pinot.apache.org/developers/developers-and-contributors/code-setup#intellij but it is not easy to find, especially since the developer expects it in the already existing CONTRIBUTING.md. I have raised a PR for this.

PR for this: https://github.com/apache/incubator-pinot/pull/7170

[2021-07-16 20:37] siddharthteotia commented on #6708
Support added in https://github.com/apache/incubator-pinot/pull/6820

[2021-07-16 20:37] #6708 closed

[2021-07-18 07:26] suddendust commented on #7156
@mcvsubbu I have raise a preliminary PR for this #7173

[2021-07-18 15:46] mcvsubbu commented on #7156
Thank you for your contribution, one of the committers will take a look

[2021-07-18 17:41] brayanjuls commented on #7151
Hi, I tried to reproduce this error to fix this issue but I was not able to reproduce it. I created an offline table  with ten segments and this was the result when I used the api /segments/{tableName}/metada . I did this test in branch master. In which branch/tag did you find this problem ?

Segments of the table:
![image](https://user-images.githubusercontent.com/7233005/126076909-3112c4d7-3f37-

[2021-07-19 11:01] KKcorps commented on #7166
@xiangfu0 The proxy deployment solution is scalable but less pragmatic for users who will be using the driver. Either we should provide an out of the box proxy which can be easily deployed OR expose query endpoint in controller which may not be scalable.

[2021-07-19 13:14] suddendust commented on #7004
If this feature is a go, I can pick it up (it might take me a while to implement it tho as I am still navigating my way around Pinot. So hopefully it's not an urgent feature).

[2021-07-19 16:13] mcvsubbu commented on #7004
@mapshen has not described a use case for this yet. For reasons that I mentioned before, I am reluctant to include this a a feature

[2021-07-19 16:24] mikecdavis-dd opened #7176 "Helm chart 0.2.4 is no longer backwards compatible."
A recent helm chart [refactor](https://github.com/apache/incubator-pinot/pull/6839) added "chart" version as a matchLabel to the StatefulSets. This prevents upgrading from previous chart versions and upgrades to future versions since matchLabel changes are not allowed in the StatefulSet specification.

[2021-07-19 16:35] mapshen commented on #4686
Believe we encountered the same issue while running Pinot 0.7.1. It tried to reconnect but was always failing...we had to restart the server to get it reconnected.

@arthuersundar Wondering if you have a figured out a way to work around this?

Sample error logs:
[code]

[2021-07-19 16:55] mapshen commented on #7004
@mcvsubbu Okay, let me formalize the use case here:

We talked over Slack about it if you recall :)

@suddendust, appreciate your offering help. My impression was actually that we agreed to add this in principle but I just couldn't find time to write up a proposal on how to approach this.

[2021-07-19 17:10] mcvsubbu commented on #7004
Sorry, there was no discussion in the slack channel after I got added to it. I saw the mention for a meeting and I was hoping that one would be called, but I did not get any invite. None of these requirements were mentioned in the slack channel.

What are your queries ? (are they like `select *` and you want to know which new rows came in since you executed the same query previous time?

Pinot gua

[2021-07-19 17:44] sajjad-moradi commented on #7004
@mapshen Can you elaborate a bit on why this use case is needed? Maybe it makes it easy to understand, as Subbu mentioned, if you provide queries for this use case!

[2021-07-19 21:05] mapshen commented on #7004
Sure. Say we have an inventory table of products and, to begin with, a query like
[code]
 is executed, from which I record the offset.

Next time a query is issued, if I don't want to reprocess, or even fetch, the rows I have already seen, and only care about the latest change if any, I would do
[code]
If I don't want to miss any messages/rows in between since the last fetch, I could do
[code]
Fro

[2021-07-19 21:30] mcvsubbu commented on #7004
Can you use the UPSERT feature, which updates the rows that have come in?

[2021-07-19 22:11] Jackie-Jiang commented on #7163
Can you please try `select * from "test" where ST_Contains(ST_GeomFromText("MULTIPOINT (20 20, 25 25)"),ST_GeomFromText("POINT (25 25)")) = 1` (add `= 1` for the `ST_Contains` evaluation). `ST_Contains` is modeled as a transform function instead of a filter predicate, so we need to add a comparison predicate around it

[2021-07-19 22:15] Jackie-Jiang commented on #7164
You need to explicitly enable the native parquet record reader to support `int96`.
You may set the class name for record reader to: 'org.apache.pinot.plugin.inputformat.parquet.ParquetNativeRecordReader'
Add @xiangfu0 to confirm

[2021-07-19 22:30] xiangfu0 commented on #7164
yes. Please change
```className: 'org.apache.pinot.plugin.inputformat.parquet.ParquetRecordReader'```
to
```className: 'org.apache.pinot.plugin.inputformat.parquet.ParquetNativeRecordReader'```

[2021-07-19 22:30] mapshen commented on #7004
Unfortunately no. We don't always only care about the latest.

Also, this UPSERT feature has its limitations as documented here [1], of which the required partition expansion is a showstopper already.

On top of it, we need to break ties correctly and reliably when it happens, for which we cannot rely on the time column, as there might be 2 messages with the same timestamp and primary key but diff

[2021-07-19 22:34] mayankshriv commented on #7168
@deepakcse2k5 As the doc suggests, this managed flow requires setting up Pinot Minion component to run the `RealtimeToOfflineSegmentsTask`. Unclear from your description if you did that?

[2021-07-19 23:48] mayankshriv commented on #7060
Since we have agreement, marking the issue as closed.

[2021-07-19 23:49] #7060 closed

[2021-07-20 00:03] #7171 closed

[2021-07-20 00:39] MeihanLi commented on #6955
Thanks Jackie and Siddharth for bringing it up! This support is important in our use cases, and we'd like to take up the implementation cc: @yupeng9

[2021-07-20 02:07] tmichaud314 commented on #7163
Adding `= 1` to the query fixes the syntax error. Thank you.

[2021-07-20 02:07] #7163 closed

[2021-07-20 05:14] #6865 closed

[2021-07-20 06:50] syed72 commented on #7072
ProcessingException(errorCode:150, message:PQLParsingError:
org.apache.pinot.sql.parsers.SqlCompilationException: Caught exception while parsing query: select * from 59398999_Stratus_logagent_performance_review_tbl1416000000692493 limit 10
	at org.apache.pinot.sql.parsers.CalciteSqlParser.compileCalciteSqlToPinotQuery(CalciteSqlParser.java:322)
	at org.apache.pinot.sql.parsers.CalciteSqlParser.com

[2021-07-20 17:18] MrNeocore commented on #7151
@brayanjuls Interesting, let me try on several clusters and tables, see if that issue is maybe more specific to some case

[2021-07-20 17:20] MrNeocore commented on #7150
Should we keep this issue around and opened for a possible future mobile-friendly UI ?

[2021-07-20 17:27] MrNeocore commented on #7151
I could reproduce using different tables (OFFLINE and REALTIME) and 2 clusters, but both on version `0.8.0-SNAPSHOT-46009e152b8f56c244e415beefa81dbc626de7cb` - so maybe that's why you could not reproduce ?

[2021-07-20 19:05] brayanjuls commented on #7151
I am in version 0.8.0-SNAPSHOT-6d0ab91de409fec8ddbf816c2348c8b95a37e393 which is a recent one, maybe the problem was already solved in this version. I will try to reproduce using your version, but could you give it a try with a recent version.

[2021-07-21 07:14] dharakk opened #7183 "Presto queries on Pinot segments failing with NPE"
Presto query on PInot segment path failing with the following error. The data table returned by the server is null. Most probably a fix in presto-pinot driver https://github.com/prestodb/presto-pinot-driver

`
java.lang.NullPointerException: null value in entry: Server_streampinot-stg22-phx3_7090=null 	at com.google.common.collect.CollectPreconditions.checkEntryNotNull(CollectPreconditions.java:32

[2021-07-21 14:32] khushbu14 opened #7185 "Connection is not closed in pinot JAVA client using the close API"
As per the documentation of [pinot java client](https://docs.pinot.apache.org/users/clients/java), while closing the pinot connection using the close api, the connection is not closed. Only after the main thread in java terminates, the connection is closed.
This hinders using this client in a multithreaded app to query pinot in parallel.

[2021-07-21 15:58] kishoreg commented on #7004
@mcvsubbu , this is a very powerful feature. This is equivalent to cursor API in databases. For e.g. we can use this in ThirdEye to analyze new events that come in since the last time we ran anomaly detection.

I am +1000 on this feature. Another side benefit of this is in debugging kafka lag. Kafka provides an offset API and we can compare the two to compute the lag.

btw, I am fine with this bei

[2021-07-21 16:44] yupeng9 commented on #7004
+1

Other systems like Presto support these kind of features. https://prestodb.io/docs/current/connector/kafka-tutorial.html

e.g.
![image](https://user-images.githubusercontent.com/13425258/126526785-2cfaea4c-2699-4b75-a93a-2696404fcf28.png)

All columns with the underscore prefix are ingested by default. I also suggest we add partition id and (possibly key), which are useful for troubleshooting,

[2021-07-21 16:48] mcvsubbu commented on #7004
There are many other methods to get the Kafka (or a stream) lag, so I don't consider that as big plus. In fact, we are experimenting with something that we will put out a PR on soon.

I am clearly not a +1000, I am curious what the others in PPMC (or even community) think about adding a feature like this. If implemented, it has to be done very carefully to make sure no extra  garbage is generated