[2021-11-04 00:21] Jackie-Jiang commented on #7694
@mapshen Have you reloaded the table? After adding a field, you need to reload the table in order to generate the new column

[2021-11-04 00:23] Jackie-Jiang commented on #7689
+1. We should validate the time format when getting the first event from the upstreaming. It might not be possible to validate it during the table creation because we haven't got the event yet.

[2021-11-04 00:38] jackjlli commented on #7388
https://github.com/apache/pinot/issues/7213 for the design of generic window functions (sliding window, rolling average, etc).

[2021-11-04 00:44] mapshen commented on #7689
Oh, I am saying the format config itself should be validated upon creation. You don't need an event to tell that `yyyy-MM-ddTHH:mm:ss` is not valid.

[2021-11-04 00:50] mapshen commented on #7694
@Jackie-Jiang Yes we did. We don't see this error with a regular table. This only manifests when `upsert` is on. Does `reload` rebuild the index `upsert` uses?

[2021-11-04 01:03] Jackie-Jiang commented on #7689
Oh, I see. Good point.
So basically we should perform 2 validations:
1. Validate the format itself when creating the table
2. Validate if the value follows the format when getting the first event

[2021-11-04 01:07] Jackie-Jiang commented on #7694
No for the current consuming segments. We are working on a solution to make reload work on consuming segment with all the available feature support. For now one workaround is to restart the server so that a new consuming segment is created (disable then reenable the table can also serve the purpose)

[2021-11-04 01:10] mapshen commented on #7689
Should Pinot continue to validate all the following events? I am not quite clear on how helpful it is if it only validated the first one. On the other hand, if it does validate all events, we need to figure out how much it will impact the performance.

[2021-11-04 02:11] ashishkf opened #7701 "Support NOT operator"
Filing this issue based on slack discussion with @Jackie-Jiang.

Pinot does not support REGEXP_NOT_LIKE - w/o NOT operator it is hard to write queries that filter out rows that match a given REGEXP.

[2021-11-04 02:49] jackjlli commented on #7213
Hi all,

Here is the design document for supporting window functions in Pinot:
https://docs.google.com/document/d/17qUJl5hL1E8haB9APDsZTYa7askR6n5B0IQqyyZ3dYs/edit?usp=sharing

Please feel free to leave any comments or feedback.

Thanks,
Jack

[2021-11-04 03:17] kishoreg commented on #7213
Thanks for putting this together. Very good write up.

High level thoughts
- can we do match recognize instead of window? It's much more modern and more powerful than window functions and is a superset
- in the first version, let's make sure we only support functions where local aggregation is possible or the number of records returned by server is limited (this can be configured by the user).. wi

[2021-11-04 16:35] amrishlal commented on #7213
My understanding is that Window Functions would be applied over the resultset being produced by a query to show additional column aggregations by partitioning the resultset. match_recognize seems to work over the table produced by the FROM clause to output another table that matches certain pattern sequences. So they appear to be different in that sense, some of the internal operators for window f

[2021-11-04 16:48] atris commented on #7701
We should not target specific operators for NOT -- rather, have a generic NOT operator which can apply the inverse predicate.

@Jackie-Jiang Does that make sense?

[2021-11-04 17:00] Jackie-Jiang commented on #7701
@atris Yes. I think the purpose of this issue is to add the generic NOT operator (similar to AND/OR). The lack of REGEXP_NOT_LIKE is the trigger of the issue.

[2021-11-04 17:03] atris commented on #7701
Ack. Shall I take a shot at this?

[2021-11-04 17:17] mcvsubbu commented on #7701
With support for text index, does it make sense for adding more features to the regexp functionality?

[2021-11-04 17:37] mapshen commented on #7694
@Jackie-Jiang it doesn't seem explain why we don't experience such an issue with tables without having `upsert` enabled.

Even in this `table1`, we only receive the error with

[code]

The error will not show up if we do

[code]

That said, maybe we are doing the reload incorrectly? Can you let us know the right way to do it?

Also, what is the right way to restart the server so that a consuming s

[2021-11-04 17:49] kkrugler commented on #7694
Hi @mapshen - I'd suggest you repost this to the Slack #troubleshooting channel, as that will make it visible to the wider Pinot community, and provides faster/more effective resolution. It also exposes the conversation to other Pinot users, which is often very helpful as they deal with similar problems, thanks.

[2021-11-04 18:31] atris commented on #7701
I don't think this is specific to regexp indices

[2021-11-04 18:45] mcvsubbu commented on #7701
Ah ok

[2021-11-04 19:04] #7591 closed

[2021-11-04 20:35] dongxiaoman opened #7704 "Error with Data size larger than 1M, will not write to zk. Data (first 1k)"
This is not critical but shows some problems worth investigating.

Our QA cluster is having trouble with some accumulated data. It has 10k+ real time segments in place, data are not too much.

In logs we see something like below:
[code]

[2021-11-04 21:51] jackjlli commented on #7213
Totally agree on that. Window function is not the only feature facing this (e.g. post aggregation in order-by, having clause with LIMIT, etc). Same for future features like joins and sub queries.

Do we know when we aim to finish the query spi layer? If it will take a while, we can first do the implementation on the execution part with the existing way of query compilation and then wire in with th

[2021-11-04 23:19] mcvsubbu commented on #7704
In the current version of helix that we use in Pinot, data over 1M is automatically compressed by Helix before writing to the zookeeper. I think your compressed data is exceeding this limit (helix provides only one limit in 0.9.x, we have requested to have two limits and they will provide it in 1.x)

https://github.com/apache/helix/blob/master/zookeeper-api/src/main/java/org/apache/helix/zookeeper

[2021-11-05 02:45] Jackie-Jiang commented on #7689
Validating all might be too much. Or we can add a flag to allow turning the validation on/off

[2021-11-05 14:58] walterddr opened #7710 "Support extended functionalities in CLI"
#7673 outlines the major step to retire args4j and replace it with picocli.

However there are a couple of follow-ups that we need to do to ensure better error messaging and raising earlier argument parsing exception

1. Add mutually exclusive option check for now. (e.g. -configFile cannot be used together with explicit config settings, but we dont error out for now)
2. Add enum checker (e.g. -fil

[2021-11-05 17:28] dongxiaoman commented on #7704
I just realized that it is probably because I have 192 partitions and `"replication": "2"` setting, while I have only 4 hosts to process them. I believe the real time servers is trying to go online for all the 192*2/4 segments at the same time (in one message) which generates a very large JSON file that exceeds the 1MB size.
Right now if I add more hosts it should solve the problem for me.

[2021-11-05 19:04] diogobaeder opened #7711 "Table synchronous dropping"
Hey there folks,

Currently it's too hard to run any integration tests between my Python-based project and Apache Pinot, because it's really hard to have each test running starting from a deterministic state regarding Pinot. I already tried deleting all segments, tried dropping the table and recreating it, and none of these approaches work well enough - deleting segments requires me to manually re

[2021-11-05 22:06] mcvsubbu commented on #7711
For testing purpose, you can also consider killing all zk, and pinot processes and restarting them (you will need to start zk process without saving to persistent store).

For production use case, implementing a table delete api that is idempotent is possible I believe. Essentially, the controller API needs to do the following steps (not necessarily in this sequence):
- disable table, remove all m

[2021-11-05 22:46] xiangfu0 opened #7713 "Don't throw exception when query ends with semicolon"
Semicolon is the standard way to separate each SQL statement in database systems that allow more than one SQL statement to be executed in the same call to the server.

Though Pinot doesn't support multiple statements right now, we shouldn't throw exception when query ends with semicolon.

[2021-11-05 22:55] Jackie-Jiang opened #7714 "Ignore query option from the commented out queries"
Currently query option is processed as a regex (see `CalciteSqlParser.java` for details). This behavior will cause options being picked up from commented out queries. E.g.

[code]

To fix this issue, we can consider switching to the standard SQL option syntax supported by Calcite

[2021-11-06 00:34] diogobaeder commented on #7711
Hey there @mcvsubbu !

Thanks for the suggestion, but that's not a viable workaround for my project; The thing is, not only we run those tests locally, but we also run them on GitLab-CI, where we spawn services as docker containers using GitLab-provided tooling and then run the tests, so we'll need to have those components running during the whole test suite.

I think the idea of deleting the tabl

[2021-11-06 00:56] #7554 closed

[2021-11-06 16:21] dongxiaoman opened #7716 "[Refactor] Avoid Scala in pinot-kafka-xxx project"
Right now the only places scala are needed are in `pinot-kafka-xxx` which forces a scala version of `2.10` and `2.11` respectively.
It introduces conflict at runtime when our own plugin loads another version of scala (e.g., `2.12`)

Based on code reading, the reason `kafka_2.10`/`kafka_2.11` are needed is because of `KafkaDataServerStartable`. That `StreamDataServerStartable` is not needed for our

[2021-11-06 20:33] shahsank3t opened #7717 "Allow adding JSON data type for dimension column types"
JSON option is missing in UI for dimension column types, need to add it

[2021-11-07 10:23] jadireddi commented on #7713
Would like to pick up this ticket.

[2021-11-08 20:43] kkrugler commented on #7716
I think the `StreamDataServerStartable` implementations are only needed for tests and quickstart (aka demo), so part of this cleanup could be to move that interface out of `pinot-spi`, and into a new subproject that bundled all of the different stream data server jars - this could be depended on by `tools` and (elsewhere, as needed) test scope. Hmm, feels a bit messy though.

[2021-11-08 22:10] #7717 closed

[2021-11-09 00:33] walterddr commented on #7673
I think we can close this one @xiangfu0

[2021-11-09 00:33] #7673 closed

[2021-11-09 11:20] richardstartin opened #7730 "High contention in broker with low number of servers"
In a 60s profile from a load-test which exacerbates traffic in a single route, 37s was spent waiting for `ServerChannels$ServerChannel`, with some wait times of nearly 1s.

<img width="1194" alt="Screenshot 2021-11-09 at 11 14 21" src="https://user-images.githubusercontent.com/16439049/140914657-ff9bea5a-0f57-45e7-b1f4-9be0c7ff6f96.png">

This is caused by the synchronized `ServerChannels$ServerCh

[2021-11-09 17:26] kbastani commented on #7546
@xiangfu0 @Jackie-Jiang Do we have an update on this fix?

[2021-11-10 07:06] minwoo-jung commented on #6679
Hi @Jackie-Jiang @mcvsubbu
Is there any further progress or development since the discussion above?
I think it will be very helpful to keep the data for a long time and to operate it stably when saving data with kafka in real time.
I know you are busy, but I look forward to your reply.
I have previously inquired about this issue. ref : https://github.com/apache/pinot/issues/7100

[2021-11-10 20:49] dongxiaoman opened #7740 "Transient Status 305 error from recent master version (10/29/2021)"
For the past a few days, our production cluster has seen several cases of this exception, causing queries to fail.
[code]
When I tried to query `point_entry__188__1334__20211110T1449Z` it is clear that those realtime segments were deleted by Pinot retention manager already, somehow the query is still hitting those segments.

This bug is hard to reproduce, the first time we hit it, we did not find

[2021-11-10 20:56] dongxiaoman commented on #7740
Some extra logs in `pinotbroker`
[code]

[2021-11-10 21:59] Jackie-Jiang commented on #7546
Fixed by #7678

[2021-11-10 21:59] #7546 closed

[2021-11-10 23:37] mcvsubbu opened #7741 "Realtime consumer loses data when new partitions are detected in stream"
This issue happens  on tables that are configured with an offset criteria of anything other than SMALLEST.

Tables are often provisioned with offset criteria set to LARGEST (basically, ignore earlier offsets and consume only from the latest messages). This is done so that we don't have to consume older data from a stream, only to discard all the data consumed so far since they are too old. Other p

[2021-11-10 23:38] mcvsubbu commented on #7741
cc: @npawar , @Jackie-Jiang , @sajjad-moradi

[2021-11-10 23:45] Jackie-Jiang commented on #7740
I feel this issue might be related to the ZK callback lag/inconsistency. Can you please check the ZK server system usage and see if the ZK servers are overloaded when the exception happens

[2021-11-11 10:45] shahsank3t opened #7745 "Add TIMESTAMP to datetime column Type"
This is to address the comment from @Jackie-Jiang mentioned in https://github.com/apache/pinot/pull/7718#pullrequestreview-800656895

[2021-11-11 11:24] richardstartin opened #7747 "Rework `PinotByteBuffer` to allow batch operations"
Aggregation performance appears to be bottlenecked on `DirectByteBuffer` bounds checks, as can be seen in this profile taken from a pinot server in live system executing group by queries (among other things) - nearly 30% of samples were in `Buffer.checkIndex`.

<img width="755" alt="Screenshot 2021-11-11 at 11 16 33" src="https://user-images.githubusercontent.com/16439049/141289056-82af984c-c54c-4

[2021-11-11 14:42] richardstartin opened #7748 "Reduce number of Helix threads in Pinot server"
In numerous profiles collected from different deployments, the number of `HelixTaskExecutor-message_handle_thread` is always 42, even in small deployments with 4 cores and 4GB heap per server. This number seems far too high and does not depend on the number of cores available, so should be reduced to depend on the number of cores available to the server.
<img width="353" alt="Screenshot 2021-11-11

[2021-11-11 16:26] mneedham opened #7749 "Error message for invalid table config"
If I try to edit table and put in an invalid config I can see a red box in the top right, but it doesn't tell me what mistake I've made.

![Peek 2021-11-11 14-50](https://user-images.githubusercontent.com/13220/141333150-660d2313-9672-4402-8713-0b371f555cf8.gif)

In the network tab of developer tools I can see what the error is:

[code]

It'd be cool if this error message was displayed somewhere o

[2021-11-11 18:07] #7745 closed

[2021-11-11 21:07] dongxiaoman commented on #7740
@Jackie-Jiang After some debugging, it turns out to be a one-time problem. We have clusters in two regions, and we only restarted one region.

It is not easy to reproduce that one-time issue anymore. Maybe it is related to a "kill all controllers" restart that should be avoided in future.

[2021-11-11 21:07] #7740 closed

[2021-11-12 17:01] dianaarnos opened #7758 "Problems to use transform functions and ingest dateTime columns with RFC3339 format"
Hi there,

### What am I trying to do?
(in case I'm taking the wrong approach here and someone can point me to a better solution)

I need to select all docs by month and year.

Currently I'm ingesting data from a kafka topic into Pinot and here's an example for a message value:
[code]

As you can see, the `operationDate` field follows the RFC3339 format.

### What is happening
First, I tried the f

[2021-11-12 22:31] Jackie-Jiang commented on #7758
The value you provided are of format `yyyy-MM-dd'T'HH:mm:ss.SSSZ`. Notice there is no single quotes around `Z`.

In the `dateTimeFieldSpecs`, the format should be `1:MILLISECONDS:SIMPLE_DATE_FORMAT:yyyy-MM-dd'T'HH:mm:ss.SSSZ`

In the `dateTimeConvert` function, it should be `DATETIMECONVERT(operationDate, '1:MILLISECONDS:SIMPLE_DATE_FORMAT:yyyy-MM-dd''T''HH:mm:ss.SSSZ', '1:MILLISECONDS:SIMPLE_DATE

[2021-11-12 23:05] #7741 closed

[2021-11-13 00:19] icefury71 commented on #5598
@mangrrua I see that the read side was done. Should we keep this ticket open to ensure the Spark writer to Pinot is also tracked ? Btw, is that something you're already working on ?

[2021-11-13 02:16] #7749 closed

[2021-11-15 08:48] dianaarnos commented on #7758
Thanks for the quick answer, @Jackie-Jiang !
I did the changes to the schema and `dateTimeConvert()` and now I get another error:
[code]
The date on the message is exact the same one on my original post example: `"operationDate": "2021-05-20T12:55:54.000+0000"`

I will try the transform. Worst case scenario I'll change my producer's write the message already as millis since epoch and avoid all of

[2021-11-15 09:46] TheWinds opened #7766 "H3 index bug"
When using the H3 index, in some cases, the correct filtering of distances is not possible.

## Test case
### Data

#### geodata.csv
[code]
#### schema
[code]

#### table

[code]

### Query
[code]
### Query Response
[code]

## Analysis
**This appears to be a problem with KRing calculations***

### Code
https://github.com/apache/pinot/blob/e3d238ac1d8633331d9507713266e41e6b40f870/pinot-core/src/mai

[2021-11-15 13:34] dianaarnos commented on #7758
I made `dateTimeConvert()` run successfully by changing bucketing from `30:DAYS` to `15:DAYS`
[code]

Other than that, I noticed a couple of messages had a malformed RFC3339. After fixing those everything worked fine.

In case anyone had to deal with a similar problem:
Original RFC3339 format looks like the following: `yyyy-MM-ddTHH:mm:ss.SSSZ`.
So a correct dateTime would be something like: `2021

[2021-11-15 13:34] #7758 closed

[2021-11-15 18:36] Jackie-Jiang commented on #7766
Thanks for reporting this. What is the `edgeLength` for your H3 index? Based on the visualization, I think `(int) Math.floor((distance / _edgeLength - 2) / 1.7321)` should be `0` (distance should be less than `(2 + 1.7321) * _edgeLength`).

[2021-11-15 19:28] #7555 closed

[2021-11-15 19:54] etadelta222 commented on #7606
Adding the default value worked @Jackie-Jiang!

[2021-11-15 20:00] Jackie-Jiang commented on #7606
@etadelta222 Thanks for confirming it! Shall we close the issue if the problem is solved?

[2021-11-15 20:58] dang-stripe opened #7770 "Make broker segment unavailable exception configurable on Pinot Java client"
We're currently using the pinot java client for queries. With the introduction of https://github.com/apache/pinot/pull/7397, we're seeing more query exceptions since the java client currently raises an exception when there are any exceptions in the response: https://github.com/apache/pinot/blob/6611ff82f46ea837e6bd8edefd46ccc16d4e2002/pinot-clients/pinot-java-client/src/main/java/org/apache/pinot/

[2021-11-15 21:10] Jackie-Jiang commented on #7770
2 options I can think of:
1. Add a flag to not fail the query, but log the exceptions as response metadata
2. Configure certain error codes to be ignored

[2021-11-15 22:13] Jackie-Jiang commented on #7770
@xiangfu0 ^^

[2021-11-15 22:35] icefury71 opened #7771 "Spark 3.x support"
Need to implement full feature support for Spark 3.x

CC @xiangfu0

[2021-11-16 00:16] sajjad-moradi commented on #3451
https://github.com/apache/pinot/pull/7267 adds a mechanism to get the latest offset for each consuming segment and uses that as the basis for ending the consumption catch-up period.

[2021-11-16 04:55] kautshukla opened #7773 "JDBC client : Headers should be passed in PinotControllerTransport while creating instance of PinotConnetion"
https://github.com/apache/pinot/blob/d1606cd0f3877c1a8ec08255d003ef104a94c500/pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/PinotDriver.java#L71

Prerequisite: https://github.com/apache/pinot/blob/d1606cd0f3877c1a8ec08255d003ef104a94c500/pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/PinotDriver.java#L60 : headers map is not empty {JDBC with headers f

[2021-11-16 05:00] camac commented on #7499
For anyone interested here is the aforementioned blog post which gives a bit of an overview of the kinds of Joda-Time to java.time transformations we are covering in our Sensei migration cookbook for Joda-time to java.time
: https://www.securecodewarrior.com/blog/migrating-joda-time-to-java-time

We have quite a few more recipes to publish over the next month so the cookbook should start to cover

[2021-11-16 07:04] TheWinds commented on #7766
The _edgeLength of `resolution 7` is `1220.629759`

[code]

You can click the link to see the visualize result https://codepen.io/jsthewinds/pen/GRvwXoe

and the center point is dragable , drag it or modify config params to obverse it.

[2021-11-16 07:41] atris commented on #7701
JFYI, I will be working on this

[2021-11-16 17:04] mcvsubbu commented on #6302
@Aka-shi did the periodic task help you recover from kafka downtimes automatically?

[2021-11-16 17:08] mcvsubbu commented on #6854
@Jackie-Jiang what was the exact scenario when consumption got "stuck" ?  As of now, it is the case that we retry a few times and if the stream throws exception, then we automatically mark the state as OFFLINE in idealstate. If all replicas are marked OFFLINE, then automatic recovery happens through periodic job. If some replicas are OFFLINE, then others are allowed to complete the segment, and ev

[2021-11-16 23:05] walterddr opened #7778 "SegmentGeneratorTaskRunner doesn't take IngestionConfig into consideration"
See: https://github.com/apache/pinot/blob/611f3b11b1336bc9f426ead5ba908a9632a50fd9/pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-common/src/main/java/org/apache/pinot/plugin/ingestion/batch/common/SegmentGenerationTaskRunner.java#L105.

By the time SegmentGeneratorConfig is created.
1. it is not using `IngestionUtils.generateSegmentGeneratorConfig` to generate segmentGeneratorConfig.
2

[2021-11-16 23:05] walterddr commented on #7778
happy to take additional feedback on the usage here. I am not sure if there's any other configuration type I am missing

[2021-11-16 23:11] Jackie-Jiang commented on #7766
I somehow feel the `_edgeLength` is not accurate. Based on the visualization, the diameter of the circle should be less than `7 * _edgeLength`, but `10000 > 8 * 1220.629759`

[2021-11-16 23:11] Jackie-Jiang commented on #7766
Adding @yupeng9

[2021-11-17 00:38] dongxiaoman opened #7779 "Real time tiered storage feature causing temporary offline segments"
NOTE: This is not an urgent bug but it seems quite annoying if we can confirm it is the root cause.

Right now we can see clear correlation of query failure (because right now any offline segments could cause failure) seconds after a realtime segment is moved into another tiered storage.

We have a query error for a missing segment at timestamp `"timestamp":"2021-11-16T22:13:18.256Z`
and 5 seconds

[2021-11-17 00:46] dang-stripe commented on #7770
@Jackie-Jiang @xiangfu0 I think we have a preference for option 1 since it'll give us more control over what consistency guarantees we need which may very per query.

[2021-11-17 15:29] mbecker commented on #6302
Hi,

maybe adding another question to this issue: How to restart the ingestion process (with new configuration)?

Let's assume the following two use cases:

- The Kafka broker died completely; all data lost; the Kafka broker is completely built up new
- Using a new / different Kafka broker

How could I restart the streaming ingestion process (maybe with new configs that the "old" offsets doesn't m

[2021-11-17 16:39] kbastani opened #7783 "Various JDBC client issues"
There are various JDBC issues that were detected through Tableau integration tests. This issue details those issues to be fixed for 0.9.0 release.

- The default maximum limit on records is added to SQL queries without a defined limit, which causes errors to be returned for some queries.
- Various timeout issues were detected in the async HTTP client requests to the Pinot broker.

[2021-11-17 19:03] mneedham opened #7785 "[Docs] Realtime segment thresholds"
Update the docs to explain the interaction between the various realtime segment thresholds

https://docs.pinot.apache.org/configuration-reference/table#realtime-table-config

Diogo Baeder:
[code]

Mark:
[code]

Kishore:
[code]

Mayank:
[code]

Neha:
[code]

[2021-11-17 19:12] mcvsubbu commented on #7785
@mneedham you may want to take a look at this
https://docs.pinot.apache.org/operators/operating-pinot/tuning/realtime#tuning-realtime-performance

[2021-11-17 19:13] xiangfu0 commented on #7773
0.9.0 is already cut and about to release, we may include this in 0.10.0 release.

[2021-11-17 19:14] xiangfu0 commented on #7773
@kautshukla  Please file a PR for the change  :)
Thanks!

[2021-11-17 19:31] mneedham commented on #7785
@mcvsubbu ah cool. So maybe we rather just need to link to that page from this one https://docs.pinot.apache.org/configuration-reference/table#realtime-table-config

[2021-11-17 19:55] xiangfu0 commented on #7770
Agreed, here we should provide some options for client side to config when to fail and how the exceptions are thrown.

[2021-11-17 20:40] walterddr opened #7786 "StringColumnPreIndexStatsCollector doesnt work for datetime"
datetime fields are not necessarily sorted by string ordering.

adding StringDatetimeColumnPreIndexStatsCollector to handle the ordering issue

[2021-11-17 22:59] Jackie-Jiang commented on #6854
@mcvsubbu I don't remember the exact scenario when this ticket was created. But I do think we should handle the case of a partition not having a consuming segment. It could happen in the following cases:
- Consuming segment manually deleted accidentally
- Schema evolution to recreate the consuming segment
- Bootstrap a realtime table with immutable segments (e.g. cloning a realtime table)

[2021-11-17 23:34] mneedham opened #7789 "[Docs] IN_ID_SET"
[code]

[2021-11-17 23:36] mneedham opened #7790 "[Docs] Chaining transformations"
This is a note of something that I need to document

[code]

Working example:

[code]

[code]

[2021-11-17 23:39] Jackie-Jiang commented on #7779
What is the replication setting for this table? When moving segments across tiers, there should be no downtime if there are more than one replicas.
Also, can you please share the query error you got? If it is `BROKER_SEGMENT_UNAVAILABLE_ERROR_CODE (305)`, you should be able to find warning of `Failed to find servers hosting segment: ...` on the broker

[2021-11-18 00:17] Jackie-Jiang commented on #7786
We don't have a data type for date time as of now, so we need to use other data type (`STRING`, `INT` or `LONG`) to represent the values. We process date time fields the same way as dimensions and metrics, so the ordering must be aligned with the data type. Ordering date time field differently will cause wrong result.

[2021-11-18 00:18] kkrugler opened #7791 "Only download required files from segment for metadata push"
Currently in `SegmentPushUtils.generateSegmentMetadataFile(PinotFS fileSystem, URI tarFileURI)`, it calls
[code]
to download the segment from deep store and create a temp copy locally. It then unpacks and untars the segment, extracts the two files of interest (`creation.meta` and `metadata.properties`), creates a new tarball with these two files, and then pushes that to the controller.

The actual

[2021-11-18 00:23] Jackie-Jiang commented on #7791
We can use `TarGzCompressionUtils.untarOneFile()` to untar one single file from the segment tarball

[2021-11-18 00:28] walterddr commented on #7786
well. this will cause problem because it doesn't give correct statistics to the SegmentColumnarIndexCreator
[code]

[2021-11-18 01:07] Jackie-Jiang commented on #7786
I see. I feel we should force the time format to increase along with the time (e.g. `yyyyMMdd` is fine, but not `MMddyyyy`). If the original time value does not follow such time format, we can use ingestion transform to convert it

[2021-11-18 03:23] kkrugler commented on #7791
@Jackie-Jiang - the problem with `TarGzCompressionUtils.untarOneFile()` is that it still requires the segment to be previously downloaded from deep storage to local storage, which is the time-consuming bit that can be avoided.

[2021-11-18 11:08] mneedham commented on #7790
Have updated the docs here - https://docs.pinot.apache.org/developers/advanced/ingestion-level-transformations#chaining-transformations. Thanks to Jonathan for the example!

[2021-11-18 11:08] #7790 closed

[2021-11-18 15:53] walterddr commented on #7786
that's definitely one solution but IMO it will make user experience bad. either we enhance our documentation and error messaging; or we should automatically populate a shadow timeColumn that's sorted by time.

Especially when we have the tableConfig / ingestionConfig telling us we should sort by underlying datetime.

[2021-11-18 18:13] Jackie-Jiang commented on #7791
Oh I see the problem you referred to. There are 2 versions of metadata push, one also push the segment metadata to the controller so that controller doesn't need to download the segment from the deep store.

[2021-11-18 21:39] Jackie-Jiang commented on #7786
E.g. date time is stored as `STRING` but ordered as time value, the following query will fail because it will still filter with string order:
`SELECT * FROM myTable WHERE timeCol < '11182021'`
This query will match time value `01012022`.

Because of this behavior, we should definitely validate the time format to ensure the time ordering is the same as data type ordering.

[2021-11-18 22:41] richardstartin opened #7795 "Change default raw index compression format to `LZ4`"
LZ4 decompression is consistently faster than Snappy and produces smaller file sizes. These results are taken from a benchmark which consists of raw string sentences composed of words from Wikipedia (the distribution is the distribution of sentence length in words):

[code]
Since overriding the chunk compression requires verbose configuration and this is an entirely backward compatible change (the

[2021-11-19 01:58] walterddr commented on #7786
Well in that case yeah. I don't see a better solution. But I still think we need some sort of automated solution instead of relying on the user to safe guard this

[2021-11-19 22:22] siddharthteotia commented on #7795
+1
Linking related issue - https://github.com/apache/pinot/issues/6804

[2021-11-20 00:47] Jackie-Jiang commented on #7786
Agree. We should provide a `DATE_TIME` data type which is similar to the `TIMESTAMP` data type but with timezone info embedded, then everything would work seamlessly.

[2021-11-20 04:36] kautshukla opened #7805 "Security definition is missing, if auth enabled swagger API's won't work"
https://github.com/apache/pinot/blob/6b33448da58992773ee23b863da029650e9ec37f/pinot-controller/src/main/java/org/apache/pinot/controller/api/ControllerAdminApiApplication.java#L111

Sol:

ApiKeyAuthDefinition apiKeyAuthDefinition = new ApiKeyAuthDefinition("Authorization", In.HEADER);
beanConfig.getSwagger().setSecurityDefinitions(Collections.singletonMap("bearerAuth", apiKeyAuthDefinition));

[2021-11-20 09:25] arezamoosavi opened #7806 "Creat Table from Kafka Avro Formats"
I want to create table based on avro format and I like to konw what should be set for:
`stream.kafka.decoder.class.name`

Is there any link for different data stream format?

[2021-11-20 18:19] mayankshriv commented on #7806
Hi Ali,
Please checkout the Pinot docs at https://docs.pinot.apache.org/basics/data-import/pinot-stream-ingestion.

If you still have questions, please join the Apache Pinot community slack for faster and morr response.

Best Regards
Mayank

[2021-11-21 05:41] kautshukla commented on #7773
@xiangfu0 : Already raised it.

https://github.com/apache/pinot/pull/7774

[2021-11-22 18:17] richardstartin commented on #7795
Done in #7797

[2021-11-22 18:17] #7795 closed

[2021-11-22 18:19] richardstartin commented on #7616
Implemented in #7661, can be enabled with field level raw index version config.

[2021-11-22 18:19] #7616 closed

[2021-11-22 18:20] richardstartin commented on #7476
@suddendust can you close this if the problem has been solved please?

[2021-11-22 18:22] richardstartin commented on #7437
Should we make this the default in 0.10.0? We have already had reports that this improves query latency by integer multiples. @mayankshriv @Jackie-Jiang @kishoreg

[2021-11-22 18:24] Jackie-Jiang commented on #7805
@apucher Can you please take a look and see if this is the correct fix?

[2021-11-22 18:28] apucher commented on #7805
we'll need this in every single starter. I'll look into it

[2021-11-22 18:44] kautshukla commented on #7805
@apucher : It just that if auth token is enabled you has to enable security definition on swagger that's in a single place. Because you are expecting headers and resolving through request context but not passing it as didn't added a security context on ControllerAdminApiApplication.java class.

[2021-11-22 18:53] Jackie-Jiang commented on #7437
@richardstartin Yes. I'd suggest making both this and the new raw forward format default in 0.10.0

[2021-11-22 21:27] bowen-stripe opened #7811 "/query/sql silently returns when all servers are down"
Problem Statement:
Need a reliable way to tell if query result is valid to use when all servers are down.

Repro steps:
1. Take down all servers (I did "svc -d /etc/service/pinot-server")
2. Execute a query via broker ("select * from MyTable limit 10" via /query/sql)

Expected Results:
HTTP response has a non-200 status code, or "exceptions" field in response content shows error message about no s

[2021-11-22 21:49] Jackie-Jiang commented on #7811
This issue should be fixed by #7397 under the condition `numUnavailableSegments != 0`

[2021-11-22 22:28] snleee opened #7813 "Supporting Consistent Data Push and Data Rollback on Pinot"
@jackjlli and I have come up with the design document for supporting the consistent push on Pinot. The main idea is to reuse the "segment replacement protocol" added as part of the merge-rollup service to switch old segments with new segments.

The existing protocol has some limitations since it was originally designed in the context of merge/rollup. Here are some main changes:

- Add "reverted" s

[2021-11-22 22:43] snleee commented on #7390
Added #7813. Let's move the discussion there.

[2021-11-22 22:43] #7390 closed

[2021-11-22 23:09] bowen-stripe commented on #7811
Ah, that should be sufficient. Thanks!

[2021-11-22 23:09] #7811 closed

[2021-11-22 23:24] richardstartin commented on #7437
@Jackie-Jiang let’s keep the forward index version separate because it will need a little bit of work to allow the fixed and variable length writer versions to evolve independently, which isn’t a problem when enabling on a column by column basis. I’ll open an issue for that.

[2021-11-22 23:24] #7437 closed

[2021-11-23 00:52] siddharthteotia commented on #6921
Sorry, I somehow missed this discussion thread.

@kishoreg @mayankshriv @lfeagan - Arrow is a specification rather than implementation (has mulitple programming lang impls).

My main intention behind this issue was from database connectivity point of view. So like JDBC, ODBC, this will be another connector to Pinot and the binary protocol will be based on Arrow spec and the transport will be via G

[2021-11-23 10:58] Lvnszn opened #7818 "Pinot will skip the transform if the column already exists"
## Pinot Version
0.7.0

## TableConfig
[code]

## Schema
[code]

## Data
[code]

## Query
[code]

## Result

|sku|value|...|
|1234|可以了吧|...|

## Expect

|sku|value|...|
||可以了吧|...|

[2021-11-23 14:27] mneedham commented on #7789
This is where we've got to so far - https://docs.pinot.apache.org/users/user-guide-query/filtering-with-idset

[2021-11-23 16:22] #6988 closed

[2021-11-23 19:03] lfernandez93 commented on #5246
@kishoreg how do we up vote this issue?

[2021-11-23 19:42] lfernandez93 commented on #5246
+1 is there any update on this?

[2021-11-23 20:15] #7770 closed

[2021-11-23 21:33] kkrugler commented on #7818
Hi @Lvnszn - are you saying that because the "sku" field in the incoming JSON record IS NOT in the `custom_props` sub-record, you don't think it should wind up in the row?

[2021-11-23 22:26] xiangfu0 commented on #7818
yes. the transform function should give "" instead of "1234"

[2021-11-23 22:33] kkrugler commented on #7791
Hi @Jackie-Jiang - yes, re using a metadata push so that the controller doesn't have to download the segment. But I'm curious what the 2 versions of metadata push were. I only know of a full segment push, and a metadata push (at least from how you can configure the job yaml).

[2021-11-23 22:43] richardstartin opened #7821 "Discuss: Forking the JsonPath library"
I have made several improvements and bug fixes to the [JsonPath library](https://github.com/json-path/JsonPath) since September, motivated by improving Pinot, and these changes have been merged but not released. I have tried contacting the maintainer of the library through Github and via email and have not had any response. Since the library is not well maintained I would like to propose that it I

[2021-11-23 23:34] kkrugler commented on #7818
Hmm, others should weigh in here, but since your record ALSO contains an `sku` field at the top level, this looks like undefined behavior to me, not a bug. Why not call your column something else (e.g. `custom_sku`) so that it doesn't collide with fields at the top level of the JSON record?

[2021-11-23 23:45] xiangfu0 commented on #7818
I think by default pinot extract all the top level fields into a record for consuming, then evaluate each transform function.
So filed `sku` is already extracted then the transform function did the job then saw the field `sku` was there already, then skipped set the transformed results.

[2021-11-24 00:04] Jackie-Jiang commented on #7818
This is expected behavior. Pinot will skip the transform if the column already exists

[2021-11-24 00:20] Jackie-Jiang commented on #7791
Just went over the code, and we are actually using the proper metadata push API (the other way is letting the controller download the segment and extract the metadata). The inefficiency comes from not using the metadata from the local generated segment.
Ideally, we should follow these steps when generating and pushing the segments:
1. Generate the segments from the raw data
2. Cache the segment me

[2021-11-24 07:34] Lvnszn commented on #7818
Thanks for your reply. IMO, the tableConfig is base on schemaConfig, so give me a hint than the rule in tableConfig higher weight than schema.

[2021-11-24 07:38] #7818 closed

[2021-11-24 18:00] kkrugler commented on #7791
Hi @Jackie-Jiang - yes, it would be more efficient to save the metadata when doing a generate-and-push job. But for our use case, we run Hadoop map-reduce jobs to build segments (highly parallelized) and save to HDFS, and then separately have Pinot jobs to push the segments. So for that use case, we'd want to still do this optimization. Others on Slack have suggested saving the metadata files to a

[2021-11-24 19:22] mcvsubbu commented on #6302
@mbecker I think the scenario you state is closer to issue #6555 and/or issue #7280 but I agree that these are closely related.

[2021-11-24 19:43] Jackie-Jiang commented on #7791
Make sense.
To achieve the benefits described above, we need to ensure 2 things:
1. The metadata files should be put in the beginning of the tar ball
2. The `PinotFS.open()` implementation only download block of data instead of the whole file (checked the `S3PinotFS` and seems that is not the case)

[2021-11-24 20:00] richardstartin commented on #7791
The benefit is a guarantee that this works everywhere. Could you elaborate on how the the mismatch scenario arises in concrete terms?

[2021-11-24 22:23] kkrugler commented on #7791
Hi @richardstartin - could you explain what you mean by "this works everywhere"? That makes me feel like I don't really understand what you're proposing, and/or that you don't understand what I'm proposing. Streaming unpack of files should also "work everywhere", and should be highly performant, with minimal code changes.

As to the mismatch scenario, I'm assuming the idea is to store segments in

[2021-11-24 22:46] richardstartin commented on #7791
I understand what you’re proposing. You want to start downloading the segment and, relying on the metadata being at the start of the segment, essentially abort the download once you have the metadata. The motivation is to save the download time for most of the segment file. Is that correct?

By everywhere, I mean for all filesystem implementations and for all segments, no matter how they have been

[2021-11-24 22:57] kkrugler commented on #7791
@richardstartin - yes, re aborting the download once the two files of interest (`metadata.properties` and `creation.meta`) have been extracted. This will still work even if these files aren't near the beginning of the file, or before the bigger data files. It will just not be as much of an optimization, but even in the worst case it will be faster than the current code (no creation of temp files o

[2021-11-24 23:20] richardstartin commented on #7791
So the analogy with transaction logs was messing with a system’s state without fully understanding the consequences. You do it at your own risk, and file structures shouldn’t be optimised to simplify manual actions.

I agree that the exact order of the segment file changing doesn’t create a correctness problem, but it does make a very worthwhile optimisation brittle. My concern is that this optimi

[2021-11-24 23:34] kkrugler commented on #7791
@Jackie-Jiang - good catch re S3PinotFS buffering the entire file into memory on the `open()` call. I've checked the other FS implementations, and they don't seem to be doing a complete download, but rather are returning a stream to the original source data. I've pinged @KKcorps on Slack to find out the reasoning here, as it seems possible to use the S3Client support for `getObject()` to avoid the

[2021-11-25 00:27] dongxiaoman opened #7829 "Crash when running docker pinot in M1 Pro macbook"
As the one using M1 Pro MacBook, I tried following https://docs.pinot.apache.org/basics/getting-started/running-pinot-in-docker to run the command to start Pinot, and I get the below warning in command line:
[code]
And of course in Docker I got the SIGSEGV crash log like below:

[code]
Probably needs to build a docker for Apple Silicon CPU

[2021-11-25 09:02] atris opened #7831 "Multiple Predicates Within A Single Query"
This issue tracks the work for supporting multiple predicates within the same query (especially for FILTER clauses). Phase 1 implements the main functionality. Phase 2 will also support ORDER BY with the same syntax.

Part of #7519

[2021-11-25 09:03] atris commented on #7831
Design document:

https://docs.google.com/document/d/1ZM-2c0jJkbeJ61m8sJF0qj19t5UYLhnTFvIAz-HCJmk/edit?usp=sharing

[2021-11-25 13:35] richardstartin commented on #7791
For the sake of considering alternatives, if the required metadata could be squeezed into 2KB it could be stored in the file attributes on the segment file. S3 allows [retrieval of all attributes](https://docs.aws.amazon.com/AmazonS3/latest/userguide/UsingMetadata.html) without downloading the file via a `HeadObject` request, and HDFS [extended file attributes](https://hadoop.apache.org/docs/stabl

[2021-11-25 15:53] kriti-sc commented on #7586
@xiangfu0 Added possible fix.

[2021-11-26 05:19] suddendust commented on #7476
@richardstartin thanks for the fixes and all the quick help :) Closing this issue.

[2021-11-26 05:19] #7476 closed

[2021-11-29 17:10] mapshen opened #7834 "Upgrade Kafka Lib to 2.4+"
Currently, Pinot is built using 2.0 by default. One feature we are looking at with 2.4+ is the capability to consume from follower replicas of a topic instead of the leader one. Are we considering an upgrade?

[2021-11-29 17:56] weixiangsun opened #7835 "support is null or is not null checking inside case condition"
Currently, null checking is only supported inside filtering. I want to support the following use case:
select case
   when timeStamp IS NULL then  now()
   else timestamp
end
from meetupRsvp

[2021-11-29 19:33] xiangfu0 commented on #7834
Thanks for bringing this up!

Just wanna check the compatibility of using Kafka 2.4 consumer to consume Kafka broker from 2.0+.

If things are fine, we can safely just bump up the version number in pom file.

[2021-11-29 19:36] lakshmanan-v opened #7836 "Support MIN/MAX transformation functions"
Currently MAX()/MIN() are supported in aggregate functions. But in non aggregate situations, we need to use complex Switch case statements to find MIN/MAX.

It would be great if we can support these functions in a recursive way as well.

Example:
**Current approach:**
[code]

**Proposed approach:**
[code]

[2021-11-29 19:36] xiangfu0 commented on #7834
From this wiki: https://cwiki.apache.org/confluence/display/KAFKA/Compatibility+Matrix

Seems that we can safely upgrade kafka consumer to consume older broker verisons.

[2021-11-29 19:37] xiangfu0 commented on #7834
Do you want to file a PR to test the version upgrade?
https://github.com/apache/pinot/blob/master/pinot-plugins/pinot-stream-ingestion/pinot-kafka-2.0/pom.xml

[2021-11-29 19:40] richardstartin commented on #7836
I am interested in picking this up in early 2022 cc @mayankshriv @Jackie-Jiang

[2021-11-29 20:10] mayankshriv commented on #7831
Thanks @atris for creating this PEP request. The overall design doc looks good to me. +1 on the feature implementation.

[2021-11-29 23:29] dongxiaoman opened #7837 "PrestoDB/Trino connector cannot connect to Pinot after Pinot cluster updates its instance hostname"
If the Pinot cluster adopts https://github.com/apache/pinot/pull/7064 to update its Helix hostname to Pinot Helix Instance, the PrestoDB/Trino connector will not be able to connect to Pinot any more.

The main reason is inside PrestoDB/Trino code, that it tries to derive `hostname:port` connection string to each Pinot server instance by using the traditional naming convention.

For example, if our

[2021-11-29 23:30] Jackie-Jiang commented on #7835
Same as #7691 where we need to access the null vector index within case statement

[2021-11-29 23:36] weixiangsun commented on #7691
Are we going to run multiple queries corresponding to each condition inside the CaseTransform? @atris

[2021-11-30 00:00] xiangfu0 commented on #7837
cc @elonazoulay

[2021-11-30 00:06] atris commented on #7691
No, a single scan with multiple predicate evaluations along the way. Please see:

https://github.com/apache/pinot/pull/7830

[2021-11-30 01:38] weixiangsun commented on #7691
I see. This is used to reduce the data set for aggregation. My use case is:
select case
when timeStamp IS NULL then now()
else timestamp
end
from meetupRsvp

https://github.com/apache/pinot/issues/7835 is different that there might be no aggregation in my use case. It will generate one column. it will generate different columns inside the resultset.

[2021-11-30 01:57] weixiangsun commented on #7835
They are different. Please reference to https://github.com/apache/pinot/issues/7691#issuecomment-982199086

[2021-11-30 02:06] Jackie-Jiang commented on #7835
The ask itself is different, but in order to solve the issue, we need to access the index within the case transform function. We should try to solve these 2 issues together by allowing using index to filter within the case transform function.

[2021-11-30 02:19] weixiangsun commented on #7835
Is Null, Is Not Null checking are not only for case transform function. It might be for If function even though it is not supported by pinot yet.

[2021-11-30 02:26] Jackie-Jiang commented on #7835
Understood. In order to solve `IS NULL` and `IS NOT NULL`, we need to access the `NullValueVector` index. Currently case transform function does not support accessing index, so I'm suggesting adding general index access support to case transform function when we try to resolve this issue instead of specialize the null index.

[2021-11-30 02:53] weixiangsun commented on #7835
adding general index access support to case transform function via BlockValSet or some other way?

[2021-11-30 04:24] Jackie-Jiang commented on #7835
I believe @atris is working on that

[2021-11-30 04:35] weixiangsun commented on #7835
What @atris is working on is to implement filter clause instead of case when clause. His work item does not add general index access support to case transform function.

@atris can you confirm it?

[2021-11-30 04:40] atris commented on #7835
Well, I am working on adding multiple predicate evaluation within a single query, where each predicate can be evaluated using an index.

CASE can be modified to use this mechanism

[2021-11-30 05:11] weixiangsun commented on #7835
Does the index here mean IndexSegment?

[2021-11-30 13:39] Eywek opened #7842 "feature request: `LIKE` operator in `JSON_MATCH`"
Hello,

I was wondering if it was planned to add the LIKE operator to JSON_MATCH ? I’m currently using
[code]
but it’s very slow (even with small number of scanned documents (21). And I was thinking that maybe having it directly with JSON_MATCH could speed-up this operation?
[code]

edit: the `labels` column already have a JSON index

Thank you

cc @atris

[2021-11-30 13:46] richardstartin commented on #7842
Hi @Eywek how slow is "very slow"?

Is there a natural way for you to filter the JSON documents before applying the `JSONEXTRACTSCALAR` and `REGEXP_LIKE` functions? Without an index structured to support these functions, they are naturally quite expensive.

Have you considered extracting `$.demande_intention` into a text column during ingestion so you can create a text index on it, instead of stor

[2021-11-30 13:51] Eywek commented on #7842
~600-800ms for 21 documents (vs 22-40ms without this filter)

I'm using a JSON index on the column and operations like `JSON_MATCH(labels, 'demande_intention  = ''foo''')` are fast (30-40ms)

Yep I know it would be the best way to do it but since the `labels` column contains dynamic data, we don't want to add each field of the JSON object to the schema

[2021-11-30 16:29] atris commented on #7831
Thank you for taking a look and reviewing!

[2021-11-30 16:48] atris commented on #7835
@weixiangsun I am not sure I understand, but yes, the ability to use an index (Startree, inverted) to solve a specific sub predicate

[2021-11-30 17:09] Manis99803 opened #7843 "Issue with quota related configuration in the dimension table"
Should the Dimension table honor replication at all or not (for quota), because looks like it don't seem to apply it.

For example, say if I am having a pinot cluster with 4 servers, on creating a dimension table with storage configured to be 200 MB. Since this is a dimension table, the table is replicated on all the servers.

Now, if we populate this dimension table with segments having 100k reco

[2021-11-30 23:33] Jackie-Jiang commented on #7836
The functionality can be easily added by adding a transform function. The challenge here is to automatically consider the `min/max` as transform when it has more than 1 arguments

[2021-12-01 01:46] Jackie-Jiang commented on #7843
The analytics are correct. We should specialize the dimension table by counting all the servers within the tenant, and ignore the replication settings within the table config.
Do you want to contribute a fix for this issue?

[2021-12-01 03:57] Manis99803 commented on #7843
Sure @Jackie-Jiang, I will work on fix for this issue

[2021-12-01 19:47] mapshen opened #7849 "Inconsistent Row Counts from Upsert Tables"
## Summary
We recently found that querying Pinot `upsert` enabled tables can return different numbers of rows at different times. The row count returned can be higher than, equal to, or lower than the true count, whereas we expect it to be always the same as the true one.

## Setup

### Versions
Pinot Version: 0.8.0
Trino Version: 362

### Kafka Topic
Topic `topic1` is single partitioned, and the

[2021-12-01 23:14] mapshen opened #7850 "Segment replicas leading to split query views"
We run Pinot 0.8.0. When setting up a realtime table consuming from a single-partition kafka topic, we set `replicasPerPartition` to 2, which means there are two consuming segments, running on two separate pinot servers. However, when you take one server down, wait for a while and then bring it back up, your query could still hit either of the two consuming segment although one is lagging behind,

[2021-12-02 01:15] Jackie-Jiang commented on #7850
I believe this can be addressed with #7274

@sajjad-moradi What's the current state of the development of the feature? I saw a PR is merged, but the issue is still open

[2021-12-02 01:50] sajjad-moradi commented on #7274
Implementation of the 2nd approach is done in #7267 and https://github.com/apache/pinot/pull/7753.

[2021-12-02 01:50] #7274 closed

[2021-12-02 01:54] sajjad-moradi commented on #7850
@mapshen you can check #7267 and #7753. It basically makes sure that the consumption is caught up to the latest offset in the stream before enabling query execution.

I just closed the issue.

[2021-12-02 01:58] mapshen commented on #7850
@sajjad-moradi this applies to consuming segments only, correct?

When we consume from the earliest, there might be segments completed along the way and those will be available for querying once finished?

[2021-12-02 03:20] sajjad-moradi commented on #7850
That's correct. The completed segments will be available for querying. Basically when a consuming segment completes, the last ingested offset (+1) will be used as starting offset of the next consuming segment. If there's a server restart, the start offset of the consuming segment, that's written in segment zk metadata, will be used as the starting point for consumption. The mentioned PR's basicall

[2021-12-02 05:53] getpiyushfar opened #7855 "Feature Request: Client that supports JPA Repository"
Should be able to use Java Spring Boot data JPA with Pinot so that writing manual SQL queries can be eliminated.

[2021-12-02 15:50] mneedham opened #7856 "TimeBoundaryManager assumes real time table name matches schema name"
Given the following setup:

hybrid_schema.json
[code]

2. hybrid_offline.json
[code]

3. hybrid_realtime.json
[code]

We see this error in the logs:

[code]

It seems like the TimeBoundaryManager assumes that the schema name is the table name - https://github.com/apache/pinot/blob/master/pinot-broker/src/main/java/org/apache/pinot/broker/routing/timeboundary/TimeBoundaryManager.java#L74

[2021-12-02 15:54] mapshen commented on #7850
@sajjad-moradi It seems the latest offset is only fetched once when the segment starts to consume. However, in cases where it takes quite a while for a segment to catch, this approach could still lead to split views? What is the need for avoiding "chasing a moving target"?

[2021-12-02 18:11] #7843 closed

[2021-12-02 23:20] sajjad-moradi commented on #7850
We have seen some use cases for which the stream has a bursty traffic pattern. Let's say we wanted to fetch the latest stream offset on every status call. If every time when the status check happens, there's some new events available on the stream that have not yet been ingested/processed, then this status checker declares that the consumption is not caught up while indeed there are few messages l

[2021-12-02 23:24] sajjad-moradi commented on #7850
@mapshen if the behaviour of offset based status checker is still not desirable for your use case, you can disable it and use the consumption catch-up wait time. If you do that, at startup time, the server will not serve queries until the the wait time is over.

[2021-12-02 23:25] sajjad-moradi commented on #7850
@mcvsubbu did we have any other reason for not chasing the moving target for consumption?

[2021-12-03 00:25] asockalingam commented on #5246
where do we upvote?

[2021-12-03 01:13] Jackie-Jiang commented on #7422
Related to #7213

[2021-12-03 01:21] Jackie-Jiang commented on #7213
@jackjlli Weixiang (@weixiangsun) is working on the gapfill function which is quite similar to the window function. Both features require reading the results from previous rows. Can you sync up with each other on the design so that we don't duplicate the implementation? I feel a lot of the code can be shared across the 2 features.

[2021-12-03 02:10] Jackie-Jiang commented on #7856
The issue is that `schemaName` is not configured within the offline table config, so the time boundary manager is not able to find it

[2021-12-03 05:25] atris commented on #5246
@kishoreg as discussed offline, I wj take this up

[2021-12-03 10:59] atris opened #7862 "Mutable FST Support"
This issue tracks the implementation of mutable FST, which will allow Pinot to perform in-memory, real time text searches using text indices, while allowing the index to grow and mutate. The new data will be available to search without any lag, and not requiring a flush.

Please refer to the design document:

https://docs.google.com/document/d/1O2ttsplFAflkM1Q-8-7yRNrD9EgCCWYm-W63NdC7ghE/edit?usp=

[2021-12-03 16:00] mneedham commented on #7856
@Jackie-Jiang Oh I see. I thought that if you passed the schema file when you ran the `AddTable` command it would associate the table with that schema!

[2021-12-03 16:30] yupeng9 commented on #7849
Thanks a lot for the detailed report and investigation!

Regarding #3, I think it's possible if the Trino execution takes long and the segment fetch takes some time apart. There's no snapshot concept so multiple calls to pinot table cannot guarantee consistency.

[2021-12-03 16:38] mapshen commented on #7849
@yupeng9 As discussed in Slack, after patching #7844 and #7860,  the off-by-one rate has dropped from 50% to 2% during a test with 3000 repeated queries of `select count(1) from <table>` before and after. However, the bad news is that it’s not down to zero yet. Any idea on what else we should look at?

Regarding case 3, Trino perhaps needs to perform deduplication when querying multiple `validDocs

[2021-12-03 16:46] yupeng9 commented on #7849
One idea on debugging is to print virtual columns of `$docId` and `$segmentName` of the duplicated records. This will give some insights on the internal state, and along with some logs about the ingestion activity at that time.

[2021-12-03 16:49] yupeng9 opened #7863 "Index selected sub fields in JSON column"
Today, all the nested fields of a JSON column are indexed during the index creation. This leads to unnecessary storage cost, if users know beforehand what nested fields are needed in the predicates. However, users may want to keep the entire JSON column in the projection list. It'll be good to enhance the JSON index spec and allow users to specify the nested fields to index.

[2021-12-03 17:28] mapshen commented on #7849
What logs should we look for? There are tons of logs with debugging turned on.

[2021-12-03 23:31] dang-stripe opened #7864 "Broker /health endpoint returns 200 OK when process first starts up"
After restarting a broker process, we noticed our brokers have their `/health` endpoint return 200s right after the process starts up. Queries sent to the broker during this time return with `BrokerResourceMissingError` in the exceptions field. This happens for several seconds and then the `/health` endpoint will return 503 until it's done building its routing maps.

We're concerned that our load

[2021-12-04 06:25] mqliang opened #7866 "Benchmark result of ThreadTimer, System.currentTimeMillis() and System.nanoTime()"
Benchmark code
[code]

Benchmark result of adoptopenjdk-11.jdk on macOS Monterey v12.0.1
[code]

[2021-12-04 07:02] mqliang commented on #7866
A good doc about currentTimeMillis(),nanoTime() and vDSO : https://pzemtsov.github.io/2017/07/23/the-slow-currenttimemillis.html

[2021-12-04 08:47] richardstartin commented on #7866
Hi @mqliang, there’s a problem with your benchmark: unless you present the produced value to a blackhole (or return the value if there’s only one) the JIT compiler may notice that the value is never used, and then eliminate all the code used to produce the value. That is, the code you’re measuring may not execute. There may be some a side effect in the invocation of the method which prevents dead

[2021-12-04 09:19] richardstartin commented on #7866
In fact there's a simpler problem with the benchmark (once you prevent dead code elimination you should see ~2-5ns for `benchmarkThreadCpuTimer`) but you need to call `ThreadTimer.setThreadCpuTimeMeasurementEnabled(true)` to actually measure anything:

[code]

I ran this on my MacBook Pro
[code]

Again, if you want to see this really blow up, run it on Xen.

[2021-12-04 09:25] richardstartin commented on #7866
For the sake of posterity, here are the results for `benchmarkThreadCpuTimer` with and without changes on my MacBook:

DCE:
[code]

[code]

Blackhole, measurement disabled:

[code]

[code]

Blackhole, measurement enabled:

[code]

[code]

[2021-12-04 18:58] lgo opened #7867 "Query error on `select $segmentName, * from table limit 1`"
While running some adhoc queries to debug some things, I found the following query would fail. It's not a significant issue, because a query explicitly listing columns to select works fine.

[code]

with the exception(s)
[code]

Note, the commit this was on is roughly ce9fb572d157d82f8a014624152ddd53332372be, and I have not yet tried to reproduce this on the latest version.

[2021-12-04 19:07] lgo opened #7868 "Query 500 on `select col, count(*) from table` missing `group by` (query mistake)"
While writing some adhoc queries, I found the controller query console was throwing a 500 and I was scratching my head about the error until I realized the query was incorrect. I'm not sure if Pinot often 500s on invalid queries, or this is a corner case, but certainly making sure a helpful error is returned is better that informs the user their query is invalid.

For example, I was trying
[code]

[2021-12-04 20:21] kriti-sc commented on #7714
@Jackie-Jiang added a possible fix. Introduced a regex for detecting commented-out queries. If a commented-out query is detected, the regex matching for query options is bypassed.

[2021-12-04 21:17] kriti-sc commented on #7714
I tried looking this up but seems to me that specifying query options is not a part of the ANSI SQL standard, they differ on a vendor to vendor basis.

There is also this comment in the code: https://github.com/apache/pinot/blob/9a61b491da01afa23d5788dd42a6ee579bcb118e/pinot-common/src/main/java/org/apache/pinot/sql/parsers/CalciteSqlParser.java#L106

[2021-12-05 02:38] mayankshriv commented on #7868
Hello Joey,
Thanks for finding this issue. Do you mind creating a GitHub issue with details for both the problems you encountered?
Also, please feel free to join the Apache Pinot slack community for more interactive discussions.

Thanks
Mayank

[2021-12-05 05:02] siddharthteotia opened #7870 "Possible storage optimization for MV forward index"
We recently observed a huge increase on table size upon adding a MV column. Table size went from 2TB to 12TB.

Column was dictionary encoded (back then raw MV column support wasn't added or was in the middle of being added). Column is needed in WHERE clause so it is dictionary encoded along with inverted index. Both forward and inverted index have resulted in size increase. Some stats from a sampl

[2021-12-05 08:24] kriti-sc commented on #7510
@xiangfu0
This already happens: https://github.com/apache/pinot/blob/7e9ca6a5a4afe0d4e283ac1307c45430e474cbf2/pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark/src/main/java/org/apache/pinot/plugin/ingestion/batch/spark/SparkSegmentTarPushJobRunner.java#L112

However, parallel push logic is missing in Hadoop Segment Generation.

[2021-12-05 08:28] kriti-sc commented on #7510
Also, the below logic of setting parallelism to number of segments to push does not seem wise. It should be removed or changed to a smaller number.
[code]
https://github.com/apache/pinot/blob/7e9ca6a5a4afe0d4e283ac1307c45430e474cbf2/pinot-plugins/pinot-batch-ingestion/pinot-batch-ingestion-spark/src/main/java/org/apache/pinot/plugin/ingestion/batch/spark/SparkSegmentTarPushJobRunner.java#L96

[2021-12-05 16:41] kishoreg commented on #7870
Even though the number of docs is low, the total number of entries is quite high - 336 million. There is not much we can do to reduce the size of forward index without sacrificing the access speed. One option would be to eliminate the forward index if it's not needed post-filtering and just keep the inverted index similar to what we do for some text index columns.

One thing that stands out is tha

[2021-12-05 16:57] kishoreg commented on #7870
Daniel Lemire has done a lot of work on Integer compression techniques. In fact, we did use PFOR and PFORDelta in the early days of Pinot and removed them because of latency requirements of site facing. It might be worth revisiting given the broader use cases for Pinot.

https://github.com/lemire/FastPFor - there are a lot of references

[2021-12-05 21:49] ashishkf commented on #7870
+1 for the using LZ4 compression for the dictionary encoded fwd index.

[2021-12-05 22:07] ashishkf commented on #7870
BTW - compressing fwd index for dictionary encoded columns can/should be done for SV columns also.

[2021-12-06 23:15] jmint-stripe opened #7874 "Realtime consumption halted if segment state transition fails"
We observed some realtime ingestion lag on one of our Pinot clusters. After some investigation we determined that the lag was happening on a subset of the partitions for the Kafka stream we were ingesting from.

Analyzing the logs showed that this was caused by a temporary ZooKeeper connection issue that caused a cascade of `InterupptedException` and this caused some segment state transitions from

[2021-12-06 23:18] Jackie-Jiang commented on #7856
@mneedham Yes, to find a schema for a table, pinot will first look up the schema with the same name as the table (without the type suffix), and if it cannot find the schema, it will read the table config and check the schema with name configured in the table config. We suggest always using the same name for table and schema for easier management, and to avoid additional lookup to table config.

[2021-12-07 00:54] Jackie-Jiang commented on #7864
Can you please check if the 200s are returned before the process is stopped or after the new one is started? IIRC, the service status should never change from 200 to 503 once it turns to 200. I suspect the 200s are returned before the process is stopped

[2021-12-07 01:17] Jackie-Jiang commented on #7867
Pinot doesn't support `select *` with extra columns in the select clause currently.

There are 2 ways to fix the issue:
1. Re-write the query on the broker side with the actual columns
2. Expand the `*` on each segment on the server side (current approach in `SelectionOperatorUtils.extractExpressions()`)

IMO the first fix is cheaper as the rewrite only need to be performed once per query instead

[2021-12-07 01:28] Jackie-Jiang commented on #7868
We should validate this query on the broker side and directly reject it if the query is invalid

@xiangfu0 For the example query above, should we attach the group-by clause if it is missing or just fail it?

[2021-12-07 04:44] jadami10 commented on #7864
I've doubly confirmed this. You get:
- 200s back while the broker is draining.
- connection refused while it's down
- connection refused while the service is starting
- 200s after the `PinotServiceManager` starts
- 503s once the broker starts building the routing table
- 200s once the broker is done building the routing table

I think the problem is that the `PinotServiceManager` manager registers

[2021-12-07 04:45] jadami10 commented on #7864
My second question here is, can we make it configurable for service status to go to 503 once we send `TERM` or `HUP`. Otherwise even though the broker will go down after draining requests, the load balancer will still think it's safe to send requests that way.

[2021-12-07 15:42] priyen opened #7875 "Support loading plugins from multiple directories"
At Stripe, we have a use case that we would like Pinot to load plugins from it's install directory, but also additional directories where we have our plugin jars. I've created a pull request adding this support here: https://github.com/apache/pinot/pull/7871

[2021-12-08 02:48] Jackie-Jiang commented on #7864
@xiangfu0 Can you please take a look at this issue?

[2021-12-08 05:45] jadami10 commented on #7864
@xiangfu0, curiosity got the better of me. I proposed a fix in #7879 based on my findings, but please take a further look as well since this code path is a bit complicated.

[2021-12-08 06:32] xiangfu0 commented on #7864
Thanks for bringing this up. Your tests and assumptions make sense.

`PinotServiceManager` itself can start without any role, so 200 is valid, however if it starts with other roles, then we should ensure the health check invalid.

For shutdown phase, both `PinotServiceManager` and Broker healthcheck should fail when you send the signal.

[2021-12-08 06:35] xiangfu0 commented on #7864
Another thing wanna check is, have you tested with the instance level API `/health/services/{instanceName}`?

[2021-12-08 09:12] xiangfu0 commented on #7864
@jadami10 do you wanna try this one: https://github.com/apache/pinot/pull/7880
This PR enables health check when all bootstrap services are ready. When sending the signal,  PinotServiceManager disable healthcheck first.

[2021-12-08 10:30] siddharthteotia opened #7881 "Support FLATTEN (unnest), KVGEN type functions"
We current flatten (virtually) the JSON records during JSON index creation. Also, there was a feature recently added to flatten the JSON data (at any chosen subtree level) during ingestion which physically stores flattened records / schema.

We should consider exposing FLATTEN function in SQL for flexible exploration of repeated data in JSON

Take the following example

[code]

Doing something lik

[2021-12-08 11:28] richardstartin commented on #7881
This may require a table or dataframe abstraction at the block level and the ability to join the table to other blocks on docId. Imagine you have documents at docId N and N+1

[code]

which is flattened to

[code]

and you want to group by age and some other field not in the JSON, then it needs to be joined to a block

[code]

to create a wide table

[code]

which can then be provided as the input

[2021-12-08 17:06] kishoreg commented on #7881
@siddharthteotia we are also thinking along the same lines. I was not aware of KVGEN, it looks neat. Does any other engine provide this functionality?

@richardstartin you are right, we will have to write a new project+filter block to accomplish this. The good thing about UNNEST is it's applicable at a row level. In other words, join is restricted within a single row.

[2021-12-08 17:07] kishoreg commented on #7881
Strong +100 on this feature.

[2021-12-08 17:36] mneedham opened #7882 "Validating duplicate config properties"
We had a situation where defining `controller.data.dir` twice leads to the values being concatenated.

It would probably be better if an exception was thrown telling the user to only set the property once.

[2021-12-08 19:06] #7773 closed

[2021-12-08 19:26] jadami10 commented on #7864
This is not the case as `PinotServiceManager` tries to stop the broker first, and the broker sleeps for default 10 seconds then just deregisters the handler. But #7880 seems to do all right here by just failing the PinotServiceManager instead. Are we comfortable rolling this out as the new default for everyone?

Thank you for doing this. This was my other thought at how to approach it, and it does

[2021-12-08 21:45] xiangfu0 commented on #7864
True, I'm making changes to not add PinotSM status check when the SM port < 0.

[2021-12-08 22:26] mapshen commented on #7874
+1 on this. We experienced this issue as well when there is a Zookeeper issue a couple of weeks ago. Tried to reset/reload the segment, but it went back into the bad state.

[2021-12-09 01:19] dang-stripe commented on #7770
Thanks for addressing this! The fix is much appreciated.

[2021-12-09 02:20] #7305 closed

[2021-12-09 03:29] kishansairam9 commented on #7882
Hello,

This occurs due to behaviour of Apache Commons `PropertiesConfiguration` ([docs](https://commons.apache.org/proper/commons-configuration/apidocs/org/apache/commons/configuration2/PropertiesConfiguration.html#:~:text=If%20a%20key%20is%20used%20more%20than%20once%2C%20the%20values%20are%20appended%20like%20if%20they%20were%20on%20the%20same%20line%20separated%20with%20commas)). Addressing th

[2021-12-09 07:51] sajjad-moradi commented on #7874
Ideally calling segment _reset_ endpoint on controller should fix the problem and you shouldn't need to restart the server. I just looked into the code for consuming segments and found the issue that prevents segment reset doing its job. I'll create the PR for the fix soon.

[2021-12-09 18:01] sajjad-moradi commented on #7874
PR for the fix: https://github.com/apache/pinot/pull/7886

[2021-12-09 20:26] mayankshriv opened #7887 "DistinctCount with low selectivity"
DistinctCount queries are expensive, especially as selectivity decreases. Currently, this can degrade the overall performance across the table. One idea preventing overall perf degradation and pileup effect would be to switch internally to DistinctCountHLL for distinct values larger than a certain threshold. This would be better than simply truncating the collection of distinct values.

[2021-12-09 21:25] TT1103 opened #7888 "MAX function should not cast to double, but instead keep original type"
When selecting a max of a large long, it truncates the result and loses precision.
For example:
`select MAX(1639054811930692679) from table` returns 1.63905481193069261E18, and loses precision.

Instead, the MAX function should return the original type.

[2021-12-10 08:22] #7864 closed

[2021-12-10 19:09] ksnijjer commented on #7689
@Jackie-Jiang saw this issue again with another user, segment build failing because of wrong format(missing millis) specified for time column:
`2021/12/10 08:42:35.713 ERROR [LLRealtimeSegmentDataManager_dark_store_projection_stage__0__0__20211210T0838Z] [dark_store_projection_stage__0__0__20211210T0838Z] Could not build segment
java.lang.IllegalArgumentException: Invalid format: "2021-12-07 15:39

[2021-12-10 19:54] suddendust commented on #7229
@npawar Any updates on this? Thanks!

[2021-12-10 22:44] #7786 closed

[2021-12-10 22:52] Jackie-Jiang commented on #7689
#7804 Added validation on SDF when adding/updating the schema, and ensure it is in lexicographic order. This is required for range query to work properly.

To solve the problem raised by @ksnijjer, we need to validate the input value (the second validation mentioned above)

[2021-12-11 06:37] siddharthteotia commented on #7870
Working on adding support for compressing raw index with dictionary

[2021-12-11 13:14] moszutij opened #7890 "Pinot Helm Chart should honour the readinessEnabled probe flags on the StatefulSets"
Spotted a minor bug in the Controller, Broker, Server and Minion StatefulSets where the readinessEnabled probe flags in the Helm Values file is not honoured.

[2021-12-11 16:41] mapshen commented on #7689
Thanks @Jackie-Jiang - it would be great to update the docs to reflect this as well!

[2021-12-12 07:44] #7609 closed

[2021-12-12 12:13] suddendust commented on #7338
@Jackie-Jiang Have raised a preliminary [PR](https://github.com/apache/pinot/pull/7893) for this. One question - Will it be a good idea to limit this factor? If the parallelism is too high, then there might be a severe resource crunch.

[2021-12-13 06:55] #6628 closed

[2021-12-13 12:52] richardstartin opened #7895 "Pluggable indexes"
Design doc: https://docs.google.com/document/d/1Slu7klgQn_3RcEJWUuHq9AF0v5ZDA9M2Y0dy8iqrtLQ/edit?usp=sharing

This will consist of two phases: #7885 and #7897

[2021-12-13 15:38] walterddr commented on #7689
Yes I think #7804 should address the issue by validating during schema change, and the error message should also be improved to include the entire SDF pattern passed in. Let me also change the docs as well

[2021-12-13 22:44] Jackie-Jiang commented on #7338
@suddendust Thanks for taking this up. Instead of allowing user to specify the parallelism through the query parameters, I would suggest passing the `_refreshThreadSemaphore` into the `reloadAllSegments` so we won't bring down the server

[2021-12-13 23:36] Jackie-Jiang commented on #7870
@siddharthteotia For clarification, are you suggesting compressing bit-compressed forward index when a column is dictionary encoded?

[2021-12-13 23:45] #7890 closed

[2021-12-14 05:20] sajjad-moradi commented on #7850
Not really. The server doesn't serve queries until consumption catch-up wait is over. So all queries go to the other server which has not been restarted and has ingested the latest stream events.

[2021-12-14 10:53] suddendust commented on #7338
@Jackie-Jiang Reload already piggybacks on the refresh semaphore to control the number of parallel `SegmentReloadMessage` it is processing:

[code]

So my understanding is that we're trying to parallelise the actual reloading of segments in `reloadAllSegments` which currently is sequential. As you proposed, the parallelism factor can be a part of the `SegmentReloadMessage` but how will the user co

[2021-12-14 20:51] imvankit opened #7900 "Security vulnerability while provisioning pinot version 0.9.1"
Hi Team,
Hope you are doing well. We are trying to provision (download binaries) of pinot version 0.9.1 but this latest version is being highlighted for security vulnerabilities mentioned below.

Security Vulnerabilities:
1) org.webjars swaggar-ui:3.18.1
2) org.apache.pinot:pinot-azure:0.9.1
3) org.apache.pinot:pinot-distribution:0.9.1

Helpful links:
https://nvd.nist.gov/vuln/detail/CVE-2019-1749

[2021-12-14 21:24] mqliang commented on #6720
With "return a value extracted from the data table to ensure the code is not optimized away by the JIT", code: https://github.com/mqliang/pinot/commit/a32a61aad5dfa6b6c4a09064c75926b00495cd3a#diff-ea557c4916a39b7358c4acd1d5f3e6c5677bf454fec3e2a3db9df65230931702

[code]

From the benchmark result, the function of `ByteBuffer.position()` itself is very lightweight. So as long as caller of DataTableB

[2021-12-14 21:29] Jackie-Jiang commented on #7338
@suddendust Currently we only acquire one semaphore for `reloadAllSegments()` because internally it will load segments in sequential. When we make it using multiple threads, we should also acquire more semaphores.

`reload` and `refresh` are essentially doing the same thing, where we need to keep 2 copies of segment loaded at the same time, so we should use the same semaphore to control both of th

[2021-12-14 23:24] #7900 closed

[2021-12-15 00:17] #5648 closed

[2021-12-15 00:20] npawar commented on #6992
Reopening this, since the test had to be disabled due to issues with LocalStack and docker

[2021-12-15 13:23] PrachiPrakash commented on #6470
@xiangfu0 is this still a required feature, was playing around with the code would like to give it a try

[2021-12-15 18:39] walterddr opened #7910 "Improve segment-level DebugInfo"
This issue was discussed partially in https://github.com/apache/pinot/pull/7896.

Originally the issue we discovered was that there were null stacktrace DebugInfo returned from the DebugAPI, (see below). We found out that 2 of the place stacktrace were swallowed.

While we address this issue by making the error explicitly thrown. we realized that the control flow were not as expected. There are se

[2021-12-16 01:45] walterddr commented on #7910
@mcvsubbu could you please comment on this issue?

[2021-12-16 03:05] Jackie-Jiang commented on #7910
@mcvsubbu Essentially we want to change the way how exception is passed. Currently exception is caught within the method, and passed via boolean `false` or `null`. The problem of this approach is that we lost the stack trace as that won't be included in the return value. The proposal here is to throw the exception out and the caller can catch and handle the exception with the full stack trace.

[2021-12-16 05:51] mqliang opened #7913 "Increase DEFAULT_VALUE_PRUNER_IN_PREDICATE_THRESHOLD or derive the value with some simple policy"
For IN predicate, `ColumnValueSegmentPruner` prune the segments based on:
* Column min/max value
* Column bloom filter

However, we will skip pruning when there are too many values in the IN predicate, currently we skip pruning when IN predicates has more than 10 items:
https://github.com/apache/pinot/blob/12edbdb1e521e0d9ee35a2d6ef2fed172e5beaa1/pinot-spi/src/main/java/org/apache/pinot/spi/utils/

[2021-12-16 07:06] Sangarshanan opened #7914 "Add error messages on the UI"
Currently making any bad updates i,e backward-incompatible schema changes just returns an error
![image](https://user-images.githubusercontent.com/21971847/146323787-0df2d8c4-97bd-4692-b6d6-221c26ba2045.png)
An error clear message here instead would help a lot

[2021-12-16 08:29] shuitai opened #7915 "segment management"
As I know, pinot manages segment list in zookeeper, if there are so many segments in zookeep, will it lead to be performance issue?

[2021-12-16 11:45] Aka-shi commented on #6302
@mcvsubbu Yes. That helped us in recovering. Apologies for delayed response.

[2021-12-16 12:36] aleksdikanski commented on #7270
Hi, I had a look at this issue, as I'm currently investigating pulsar and pinot integration for my current company.
I first encountered the first error with the `InvalidProtocolBufferException` (kubernetes deployment) and later with a different setup (local docker) the `IndexOutOfBoundsException`.

So far, it does not look like an issue with false shaded libraries. As one can see from the stacktra

[2021-12-16 15:58] kishoreg commented on #7270
@KKcorps can you help here?

[2021-12-16 17:14] KKcorps commented on #7270
Taking it up.

[2021-12-16 17:24] mcvsubbu commented on #7915
Are you facing a performance problem? If so, can you characterize it? How many tables/segments do you have? How many servers/brokers?

At LinkedIn, we do run a cluster with several million segments (and thousands of tables), and 100s of servers. Over time, we have made improvements to pinot that helps us handle this type of load. The load is on zookeeper. Increasing bandwidth on zookeeper, separat

[2021-12-16 20:19] Jackie-Jiang commented on #7913
The problem here is that:
If segment cannot be pruned, we are paying the overhead of parsing all the values in the IN clause and apply it to bloom filter (assume comparing min/max value is very cheap)
If segment can be pruned, even if we skip the pruning because there are too many values in the IN clause, the segment will still be quickly skipped after looking up the values in the dictionary and f

[2021-12-16 20:34] aleksdikanski commented on #7270
thanks, I linked the changes that I made for it to work for me as a draft PR, in case it helps you.

[2021-12-16 21:26] amrishlal commented on #7213
@kishoreg @mayankshriv @Jackie-Jiang @richardstartin we are planning to start window function implementation soon. Is there anything remaining with respect to design or any other related issue that needs to be discussed before we do so?

[2021-12-16 22:14] Jackie-Jiang commented on #7914
@jadami10 Do you want to help with this UI enhancement?

[2021-12-17 00:28] jadami10 commented on #7914
yes! I can help here

[2021-12-17 00:48] icefury71 commented on #7612
@dongxiaoman can this issue be closed ? Can you update the ticket with the resolution steps as well

[2021-12-17 02:23] mcvsubbu commented on #7910
Can we log/add the exception where it is caught and continue the existing interface?

[2021-12-17 02:27] mcvsubbu commented on #7910
I remember we had some issues early on when for whatever reason segment build took a long time, it went into infinite loop. replica A timed out, replica B took over, and then replica B timed out, came back to replica A, and so on. In order to NOT go in infinite loop, we save the built segment, and if we are asked to build the same segment, we commit the segment already built. I don't want this bug

[2021-12-17 04:58] walterddr commented on #7612
I think this ticket can be closed.

The root cause was that one of the very old segment wasn't properly conformed with the new indexed segments. thus the query always fails when hitting that specific segment. (@dongxiaoman plz correct me if I remembered wrong).

[2021-12-17 05:12] jadami10 commented on #7914
@Sangarshanan, can you tell me exactly what you were trying to do? Trying to make a bad schema change locally gives me
![image](https://user-images.githubusercontent.com/4760722/146492444-b9402399-76e1-4196-945c-585aecc2ce3b.png)

[2021-12-17 05:12] jadami10 commented on #7914
also
![image](https://user-images.githubusercontent.com/4760722/146492479-53c72954-7091-47dc-8006-ec5a64e33541.png)

[2021-12-17 08:43] Sangarshanan commented on #7914
You can reproduce this by updating the Datatype of `yearID` in the example `baseballStats` dataset from `INT` to `LONG`, not sure how you get the Backward incompatible schema error on your side tho I am on version `0.9.2`

[2021-12-17 10:00] #7895 closed

[2021-12-17 15:59] jadami10 commented on #7914
how are you running pinot? The code to block these updates was added in April in #6737 and the code to surface the errors in the UI has been even longer since October 2020 #6198.

I am running the quickstart locally and 0.9.0 in production and both show the error.

[2021-12-17 16:27] walterddr commented on #7910
yes, we later checked the server log and found out that the ingested data was not conforming with the time-format provided to the ingestion transformation function.

[2021-12-17 16:32] walterddr commented on #7910
https://github.com/apache/pinot/pull/7909/ was aiming at exactly this - catch and log the exception where it is and continue the existing interface without changing the behavior

[2021-12-17 17:26] kbastani opened #7922 "SQL MIN/MAX functions produce error when using HAVING without NULL check"
The following SQL query will cause an error when using `MIN` or `MAX`.

[code]

The error produced is as follows:

[code]

There are multiple ways to work around the exception.

This workaround checks for a NULL value for the `calcs.int0` field.

[code]

This workaround adds a `COUNT(1)` as a field in the `SELECT` clause.

[code]

Another relevant condition for reproducing this issue is to set a `

[2021-12-17 17:39] mcvsubbu commented on #7910
Would you be able to copy/paste the server exception log? Just want to make sure that the particular execution path is covered in our solution. If ingested data was the problem, I suppose the stack would have been where we ingest data and transform it?

[2021-12-17 19:32] Sangarshanan commented on #7914
I am running Pinot with quickstart using this command https://docs.pinot.apache.org/basics/getting-started/running-pinot-locally#quick-start

[2021-12-17 20:58] mikecdavis-dd opened #7923 "IndexOutOfBoundsException when generating REALTIME inverted index"
After migrating from `0.8.0` to `0.9.2` we started to see the receive the following exception for some of our high volume REALTIME tables:

[code]

Another similar example:
[code]

Digging into the stack trace a bit this [method](https://github.com/apache/pinot/blob/f4e55182a8c552c8493d1693868b0c752b1a1d56/pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/impl/invertedindex

[2021-12-17 21:43] mapshen opened #7924 "`pinot.server.instance.reload.consumingSegment` deprecated?"
There are several references to `pinot.server.instance.reload.consumingSegment` in the docs such as [1] and [2]. When I go to the code base at [3], it seems `CONFIG_OF_INSTANCE_RELOAD_CONSUMING_SEGMENT ` is never used anywhere.

[code]

[1] https://docs.pinot.apache.org/configuration-reference/server
[2] https://docs.pinot.apache.org/users/tutorials/schema-evolution
[3] https://github.com/apache/p

[2021-12-17 22:42] Jackie-Jiang commented on #7924
It is used in `HelixInstanceDataManagerConfig.shouldReloadConsumingSegment()`. There is no directly access to the constant because the prefix is trimmed off in the instance data manager config.

[2021-12-17 22:48] jadami10 commented on #7914
oh interesting... when i run it from the downloaded release, the responses all have `_error` and `_code`
![image](https://user-images.githubusercontent.com/4760722/146615583-197e7cfa-fd3f-4a0f-ad13-2a5879418894.png)
but running it from source I get
![image](https://user-images.githubusercontent.com/4760722/146615610-864500ca-df28-4948-aa19-95a935685074.png)

@Jackie-Jiang, I can modify the fronten

[2021-12-17 22:48] mapshen commented on #7924
As per [1], `pinot.server.instance.reload.consumingSegment` is set to `false` by default, but based on our tests, without setting this to `true`, the current consuming segment(s) will still reflect the default null value for newly added columns, which conflicts with what documented at [2]

[1] https://docs.pinot.apache.org/configuration-reference/server
[2] https://docs.pinot.apache.org/users/tuto

[2021-12-17 22:51] Jackie-Jiang commented on #7924
Good catch! I think we forgot to update the documentation. The default is actually true (CommonConstants.Server.DEFAULT_RELOAD_CONSUMING_SEGMENT). Let me update the documentation.

[2021-12-17 22:56] Jackie-Jiang commented on #7914
@jadami10 @Sangarshanan  This issue is fixed recently in #7812, but not included in the release yet. It should be included in the next release

[2021-12-17 23:22] jadami10 commented on #7914
good catch. that one even links to 2 more PRs fixing it. Should we close this issue then or wait for the next release?

[2021-12-17 23:55] Jackie-Jiang commented on #7923
Can you please check if there are other errors of `Caught exception while transforming the record: ...` which is not caused by `IndexOutOfBoundsException`? Based on the code, I think the `IndexOutOfBoundsException` can happen when some of the previous records are not indexed properly

[2021-12-18 00:30] Jackie-Jiang commented on #7914
I think we can close this issue as it is already fixed in the latest master. What do you think @Sangarshanan?

[2021-12-18 00:35] Jackie-Jiang commented on #7922
What is the semantic of `HAVING` without `GROUP BY`? The error message is definitely confusing.

[2021-12-18 02:28] Sangarshanan commented on #7914
Got it ! Yep can close this now

[2021-12-18 02:28] #7914 closed

[2021-12-18 04:32] kbastani commented on #7922
The query is a part of the Tableau testing suite of SQL queries used to test SQL compliance. This is a kind of unit test that failed repeatedly for a variety of scenarios when using MIN/MAX aggregation. I've reviewed with @xiang @kishoreg and @mayankshriv who can provide more details on a fix.

[2021-12-18 10:32] jerrinot commented on #7713
this appears to be fixed by https://github.com/apache/pinot/pull/7861

[2021-12-18 20:02] sajjad-moradi opened #7929 "Performance problem in segment build"
We found out that during segment completion, segment build takes a long time. For one table it takes more than half an hour to build an immutable segment while it used to take around one minute to do so. After some investigation, it turned out that the root cause is in this PR: https://github.com/apache/pinot/pull/7595
More specifically the issue is with refactoring of `BaseChunkSVForwardIndexWrit

[2021-12-18 20:05] sajjad-moradi commented on #7929
@kishoreg @richardstartin @Jackie-Jiang @mcvsubbu
I'm going to create a PR to basically revert the code changes of `BaseChunkSVForwardIndexWriter`. Please take a look as this has blocked our deployment in Linkedin.

[2021-12-18 20:21] richardstartin commented on #7929
@sajjad-moradi the purpose of the change was to reduce the amount of memory required for variable length data when some of the values are very long, which results in very large buffers. An impact on build time was expected, but the impact on small fixed size chunks wasn’t considered. Memory mapping 4-8KB at a time doesn’t make sense and will result in very high syscall overhead, so this is less th

[2021-12-18 20:27] sajjad-moradi commented on #7929
Yes, as I mentioned earlier, only BaseChunkSVForwardIndexWriter needs to be reverted, not all the changes in that PR. The fix PR is linked here.

[2021-12-18 20:43] richardstartin commented on #7929
For some context about the change and what this will go back to, if you happen to have an outlier  record in a set of JSON records, of say 1MB (which isn’t that large) compared to 10KB on average, you need ~1GB for the buffer, then ~2GB for the compression buffer. Saving 2GB per raw index build is a really nice improvement, if that’s how you’re using Pinot. Perhaps the problem is sharing the logic

[2021-12-18 23:25] jerrinot commented on #7197
a quick win: change the GitHub project description. It also says "Incubating":
![image](https://user-images.githubusercontent.com/158619/146658098-ccfc6f46-2cc0-44f8-8798-177b661af6c3.png)

[2021-12-19 03:33] mcvsubbu commented on #7929
If you want to allocate  memory in the realtime context, please use the class RealtimeIndexOffheapMemoryManager . It will make sure to allocate memory as per the configuration set by the admin -- memory mapped, or direct, etc. It is also accounted for, and so can be used for provisioning purpose.

[2021-12-19 03:35] mcvsubbu commented on #7929
Yes, we should not modify general logic for outlier use cases. In this case, we had a production issue, and had to revert the deployment, and spend multiple days trying to reproduce the problem, narrowing down the commit and then identifying a problem within that commit.

[2021-12-19 05:23] richardstartin commented on #7929
Before my change `ByteBuffer.allocateDirect` was used, but I'll make a note of this.

I apologise for the inconvenience caused by the change, but it's anything but an outlier use case. New user experience has to be considered - if a new user stores text (web scraping, XML, JSON, typically no control over max length) in a raw index, they will find it requires a lot of memory. How do we prevent that

[2021-12-19 07:18] KKcorps commented on #7270
@aleksdikanski I remember implementing it this way because I don't want to make any assumptions regarding message-id format in the pinot code. The pulsar team can change the message-id format but our code should still work as long as pulsar lib is handling the new format correctly.

I remember testing this out as well but your concern is valid. I am looking for another solution if that doesn't wor

[2021-12-19 07:21] KKcorps commented on #6992
@npawar I think Xiang fixed that with the Localstack version upgrade and it started working after that as well. Is the issue same as before?

[2021-12-19 08:27] xiangfu0 commented on #6992
This issue happens again recently, so I turned off the kinesis test

On Sat, Dec 18, 2021 at 23:21 Kartik Khare ***@***.***> wrote:

[2021-12-19 18:08] mcvsubbu commented on #7929
I meant if you wanted to change anything in the realtime mem allocation path. Code has evolved, and more and more special casing has been added since the time the memory manager was introduced. Not all changes have followed the approach. Perhaps because it did not matter either way. As we moved forward to make changes, we should keep that in mind. Now that you have done so, I am fine, thanks.

Per

[2021-12-19 18:46] suddendust commented on #7338
@Jackie-Jiang Shouldn't max reload threads be a server config instead of a param in the segment reload message, much like`max.parallel.refresh.threads`? So essentially the factory uses the same number of max. threads to handle every reload message.

Also, "By default the server uses 40 threads to handle the messages." - I couldn't find any doc for this anywhere, could you point me to it? Thanks!

[2021-12-19 19:11] KKcorps commented on #7270
@snleee @aleksdikanski can you tell me how to reproduce this issue? I feel like this can also be related to offset at the startup of the client. If might be throwing error in case of empty string.

[2021-12-19 19:30] richardstartin commented on #7929
I think the best path forward is to merge the PR with the amendment to use the compression bound instead of 2x chunk size and then find a way to decouple fixed and variable byte raw index versions so that V4 can become the default for raw text without affecting the raw fixed width index.

[2021-12-20 13:28] Eywek opened #7936 "feature request: `NOT LIKE` operator"
I would like to be able to use the `NOT` operator before the new `LIKE` one:
[code]

Thank you

[2021-12-20 13:28] Eywek commented on #7936
cc @atris

[2021-12-20 17:25] aleksdikanski commented on #7270
Sure @KKcorps , I basically followed the guides on the pulsar and pinot websites:
- set up a pulsar standalone cluster using https://pulsar.apache.org/docs/en/standalone-docker/#start-pulsar-in-docker
  **Please note** that I ran the pulsar container in the same network as the pinot cluster for this demo setup and that I gave the pulsar container a name (basically add a `--network <pinot-network>

[2021-12-20 17:54] richardstartin commented on #7929
V4 solves the buffer size problem

[2021-12-20 18:20] #7713 closed

[2021-12-20 18:25] sajjad-moradi commented on #7929
@richardstartin is V4 currently being used or is to going to be used in future?

[2021-12-20 18:53] richardstartin commented on #7929
@sajjad-moradi yes, but it requires field level config. I will open an issue to discuss making it default.

[2021-12-21 00:10] Jackie-Jiang commented on #7338
@Jackie-Jiang I was suggesting to directly use the `_refreshThreadSemaphore` for the reload because `reload` and `refresh` are essentially the same, and we should not have 2 different threshold for them.

The 40 threads is a Helix default setting (didn't find the documentation, but the value is in `HelixTaskExecutor.DEFAULT_PARALLEL_TASKS`), which is not really related to this discussion.

[2021-12-21 03:05] siddharthteotia commented on #7922
The query is not correct. Standard SQL does not support use of HAVING without GROUP BY.

Try the examples here for MySQL - https://www.w3schools.com/sql/sql_having.asp

Error message should still be fixed and should indicate query/syntax is invalid .

[2021-12-21 06:45] jomach commented on #4507
a guide how to perform authentication on kafka

[2021-12-21 06:48] suddendust commented on #6679
Hi, is there any update on this? We have a use-case wherein we had to update like 22k segments as we migrated our kafka clusters. Doing this manually is not possible (Actually we have to update only the consuming segments which is less than 64, but once you expand the segments list in the controller UI, for each segment, you'll have to scroll up to the top of the list to be able to edit the metada

[2021-12-21 08:25] KKcorps commented on #7270
Can you also mentioned the Pulsar version you are testing this on? Pinot version seems to be 0.9.1 from the exception logs.

[2021-12-21 08:36] aleksdikanski commented on #7270
I did give the pulsar docker images, which uses the latest version 2.8.1,

[2021-12-21 08:46] xiangfu0 commented on #7197
this is done by: https://github.com/apache/pinot/pull/7738

[2021-12-21 08:47] #7197 closed

[2021-12-21 08:52] xiangfu0 commented on #3929
close as not valid.

[2021-12-21 08:52] #3929 closed

[2021-12-21 08:53] xiangfu0 commented on #4792
close as not valid

[2021-12-21 08:53] #4792 closed

[2021-12-21 09:02] aleksdikanski commented on #7270
I also dig a bit yesterday and saw, that the start offset for a segment is fetched from Zookeeper. So I looked at the entry (PinotCluster / PROPERTYSTORE / SEGMENTS / <table-name> / <segment>) and saw, that the offset is set to the `toString()` value of the MessageId as well, e.g., something like `"segment.realtime.startOffset": "3432:0:1:0"`. IMHO it is a bit dangerous to use the `toString()` rep

[2021-12-21 13:36] KKcorps commented on #7270
Yeah, I think the string offsets are borrowed from the Kafka implementation. We might need to make this more generic.

[2021-12-21 15:53] walterddr commented on #7910
sorry, i don't have the server exception log readily available, but we've seen this errorInfo from debug endpoint multiple times with `"errorInfo": {"errorMessage": "Could not build segment", "stackTrace": null}`.

this is what I am trying to address:
by searching through the code path there's only 2 places where this could happen, and both of them are utilizing `buildSegmentInternal` method, but

[2021-12-21 18:09] mneedham opened #7940 "(Possible) table config cache invalidation issue in PinotLLCRealtimeSegmentManager"
I noticed that when a new segment in a real-time table is created it ignores changes that I make to `tableIndexConfig.streamConfigs.realtime.segment.flush.threshold.rows`. Even if I restart the Pinot Server it doesn't help, only restarting the Pinot Controller will have it pick up the updated threshold for new segments.

I think the problem is that when the Controller creates the new segment entry

[2021-12-21 18:23] kbastani commented on #7922
This issue is fixed as of the latest SNAPSHOT build. Closing issue.

[2021-12-21 18:23] #7922 closed

[2021-12-21 18:25] mayankshriv commented on #6256
@sajjad-moradi Just checking if there's a plan to implement this feature?

[2021-12-21 18:29] weixiangsun commented on #6256
+1

[2021-12-21 18:44] xiangfu0 opened #7941 "Allow run quickstart with extra configs"
So users can enable some features e.g. grpc/presto integration etc.

[2021-12-21 19:58] KKcorps commented on #7270
@aleksdikanski In which file does this exception occur? Is it in pinot-all.log or pinot-quickstart.log or during creation of the table itself when running the pinot-admin command?

[2021-12-21 20:29] Jackie-Jiang commented on #6679
I think here is what we have agreed on:
- Create a new rest API on controller to fix the partition without consuming segment
- The API takes the table name, optional partition group id (if not provided, apply to all partitions)

I feel the offset strategy might not be needed because that can only be applied to new partition where no segment exists, which is handled in the periodic check. In order

[2021-12-21 20:55] mcvsubbu commented on #6679
@sajjad-moradi  has been working on a proposal for a solution for a bunch of open issues related to this one (pausing consumption, etc). I think we should find a solution that addresses all of these instead of one problem at a time.

[2021-12-21 21:03] aleksdikanski commented on #7270
Hi, I used the log output of the docker containers, so actually no log files were created. the error occurred in the logs of the pinot-server container at the time the first message was read from the topic. The `AddTable` command did **not** result in the exception.

[2021-12-21 23:53] amrishlal commented on #7941
It would also be useful if QuickStart could could have config that would allow it to load table and data from an external filesystem directory.

[2021-12-22 01:05] sajjad-moradi commented on #6256
Background:
One of our internal clients needed this feature and he agreed to implement it at that time. Their requirements changed and I don't think he's going to work on this anymore.

This is not a priority for us at Linkedin now and there's no plan to take this on soon, but we'd be happy to help reviewing for anyone picking this up.

[2021-12-22 13:18] KKcorps commented on #7270
@aleksdikanski https://github.com/apache/pinot/pull/7947 can you try this and see if it is working on your end. It is working on my end. There was also a corrupt `\n` in your airline data json. Please remove that before testing.

I am also noticing some issue with using the auto.offset.reset to largest. It works fine when using `smallest`
Working on the fix for that as well.

[2021-12-22 18:17] dongxiaoman commented on #7612
Forgot to close it. Happens only to one segment that is probably generated by some version of library that may have issues.

[2021-12-22 18:17] #7612 closed

[2021-12-22 19:47] aleksdikanski commented on #7270
@KKcorps thanks I tested your changes and I don't get any errors regarding the MessageId anymore.
The messages are now correctly consumed by pinot.

[2021-12-22 19:53] mapshen commented on #7850
It does lead to split views in our experiments.

As you mentioned in https://github.com/apache/pinot/issues/7274, the time threshold doesn't guarantee the server will be all caught up when the wait is over.

[2021-12-22 20:19] dang-stripe opened #7954 "Clean up unused tmp segment directories"
We noticed some of our pinot servers had many `tmp` directories taking up lots of disk space. This seemed to happen after the process was interrupted or killed while trying to unpack a segment here: https://github.com/apache/pinot/blob/c9e36dd0a53370d7b8dc24459426dc77497eb8ac/pinot-core/src/main/java/org/apache/pinot/core/data/manager/BaseTableDataManager.java#L424-L434

We've been manually purgin

[2021-12-23 00:41] dongxiaoman commented on #7779
The replication factor is 2.
At the time of this error being reported, we had enforced the rule in our Pinot Java Client to throw exception whenever there is one segment not being processed. The rule is strict so we saw many errors.
For now let's close this issue; we can re-open if there are similar complaints

[2021-12-23 00:41] #7779 closed

[2021-12-24 01:26] #7940 closed

[2021-12-24 07:55] #7714 closed

[2021-12-24 13:05] suddendust commented on #7867
@Jackie-Jiang Can I pick this up?

[2021-12-24 13:08] tuor713 opened #7958 "Intermittent query inconsistencies under heavy upsert with single segment"
After testing upsert loads with latest master (including https://github.com/apache/pinot/pull/7844), we still see occasional inconsistent queries (i.e. receiving intermittently fewer records than previously known), even with using only a single (large enough) segment.

The test table has 1 million position records. After an initial load of all 1 million records, we continuously push upsert into Ka

[2021-12-25 13:47] suddendust commented on #7867
@Jackie-Jiang Thinking about the behaviour in the following cases:
1. `select playerId, * from baseballStats`: We should return the `playerID` column once or twice? IMO we should return this twice as that is what the user has asked for.
2. What about default virtual colums? They shouldn't be returned (like how doing `select *` right now doesn't return the virtual columns).

[2021-12-29 21:39] npawar opened #7966 "Disable query-level Groovy function by default"
In Pinot you can write a Groovy script as part of your query: https://docs.pinot.apache.org/users/user-guide-query/scalar-functions#groovy-scripts. This is a security risk, and we should disable this by default.

[2021-12-30 07:00] amrishlal commented on #7966
We had some discussion on this earlier too: https://github.com/apache/pinot/issues/7310. I would agree that groovy functions should be disabled by default :-)

[2021-12-31 09:43] shuitai commented on #7915
Currently, we are using druid, just one cluster, we have about 100 tables and about 500 thousand segements,
As I know, druid keeps the segements information in sql db, such as postgres.  But if the number of segment becomes very large, it will affect the druid performance. We need to compact the segments and decrease the number of it.

So we are checking if pinot will be a good choice.
But pinot s

[2021-12-31 16:34] kishoreg commented on #7915
which aspect of performance are you referring to? Pinot never accesses Zookeeper in the query path.

Zookeeper's internal data structure is a hashmap and as Subbu mentioned we have seen millions of segments and thousands of tables.

[2022-01-04 13:11] PrachiPrakash commented on #7868
https://github.com/apache/pinot/pull/7972/commits/b6d96982294b7a0158fae3a434050623f052caa1 this tries to solve this problem by validating it after the query compilation. it would be really good if someone can review this change.
Thanks,
Prachi

[2022-01-05 02:27] ashishkf opened #7973 "chunk compression type is hardcoded to passthrough for metric columns"
There doesn't seem to be a way to use LZ4 compression for metric column.

https://github.com/apache/pinot/blob/f2f8e38f9424bcacf3946197c9afcd50ef1d58fa/pinot-segment-local/src/main/java/org/apache/pinot/segment/local/realtime/converter/RealtimeSegmentConverter.java#L100

[2022-01-05 07:13] richardstartin commented on #7973
This makes sense the way it is for a couple of reasons:
* chunks for metric columns are tiny: 4-8KB depending on the data type. This means there would be many chunks to decompress in a column scan.
* general purpose compression algorithms work better on text than arbitrary numeric data, so the compression ratio for the average user’s column likely wouldn’t be very good.

These two factors combine

[2022-01-05 21:34] sajjad-moradi commented on #7929
The PR is merged. Closing the issue.

[2022-01-05 21:34] #7929 closed

[2022-01-06 02:22] dang-stripe opened #7976 "Brokers getting into stuck state when interrupted during OFFLINE -> ONLINE state transition"
We've noticed a case where brokers get stuck when they're interrupted via SIGTERM when the broker resource is transitioning from OFFLINE to ONLINE states. This seems to leave the broker in a stuck state indefinitely and subsequent SIGTERMs are ignored. We end up needing to kill the process via SIGKILL to recover it. Will pinot/helix retry state transitions on errors like this?

Here's a log we fou

[2022-01-06 17:42] mapshen opened #7977 "lastwithtime() multiple column support"
Say a user has a table `t1` with 200+ columns `A`, `B`, `C0`…, `C200`. When the user runs `select max(A) from table group by B`, they get the max `A` for each `B`.

If they would like to get the corresponding `C0`, …, `C200` for each `max(A)` per `B` without aggregating on or grouping by the `C` columns, they need to do
[code]
But applying `lastwithtime()` for each of the columns increases the lat

[2022-01-06 22:08] egalpin opened #7978 "Augmented Index Configuration for JSON data"
As of today, the JSON index is an inverted index and can't be further configured by the user via schema settings. It would be very powerful to support the ability to specify different data types and indexes for fields of JSON columns. Using the example from the JSON Docs[1]:

[code]

For example, having the ability to specify that `number` is an `int` and building a range index would allow for ran

[2022-01-06 22:08] egalpin commented on #7978
Note this may be related to #7863

[2022-01-07 09:17] richardstartin opened #7980 "`InIdSetTransformFunction` is inefficient"
`InIdSetTransfomFunction.transformToIntValuesSV` works by expanding a set into an inflated bitmap using 32 bits per docId by checking if each dictId is in the `IdSet` or not:

[code]

For `INT` columns, the `IdSet` is backed by a `RoaringBitmap` and `contains` is a log(n) operation. This translates to a lot of time spent locating  `Container`s in large `IdSet`s:

<img width="840" alt="Screenshot 2

[2022-01-07 23:10] mapshen commented on #7850
The issue also manifest when a segment is flushed and built. Since sync the built segment to the non-committer servers may take some time and the committer server will first start consuming. You will see different results when the query is routed to different servers till the non-committer servers catch up.

[2022-01-08 14:27] lksvenoy-r7 opened #7983 "Pinot Recommendation Engine does not support BOOLEAN type"
**Current Behavior**

The Pinot Recommendation Engine does not support the BOOLEAN type (See the isEmployed dimension)

Recommender Input (Using BOOLEAN type):
[code]
Output
[code]

**Expected Behavior**
The recommendation engine should be able to deal with the BOOLEAN type by simply converting it to its internal representation (integer)

**Workaround**
Internally BOOLEAN is treated as an integer,

[2022-01-08 15:17] mayankshriv commented on #7980
Thanks for filing this issue @richardstartin

[2022-01-08 17:23] kishoreg commented on #7980
@richardstartin adding int values into bitmap and doing the intersection will tell us the values that exists in both sets but we would lose the association with the docId rt?

Am I missing something here?

[2022-01-09 21:52] richardstartin commented on #7980
I implemented this and the cost of constructing the temporary bitmap is too high, so it's not a good idea.

[2022-01-09 21:52] #7980 closed

[2022-01-09 23:22] kishoreg commented on #7980
idset should probably have a bloom filter internally to check for existence before checking roaring bitmap

[2022-01-10 06:14] ea-nicholasyu opened #7986 "Issues with AWS EMR + Parquet"
Spoke with Dunith Dhanushka and Mayank. They was able to recreate "File does not exist" issues encountered using AWS EMR (spark) to ingest data in parquet format. Mentioned that suspect is the parquet libraries that came with Hadoop dependencies.

[2022-01-10 08:16] Arpita030125 opened #7987 "Pinot JDBC Client Connection Exception"
I have been trying to connect to authenticated Pinot Controller : sample only
final String dB_URL = "jdbc:pinot://hostname:port";
through JDBC Client with the following set of properties:samples only
properties.setProperty("username", "user");
properties.setProperty("password", "pass");

When I am trying to access the controller URL directly with the same set of credentials I am able to do so.
But

[2022-01-10 20:50] navina opened #7988 "Enhance Pinot Streaming Consumer Interface"
There are streaming systems which require additional client-initiated operations to guarantee the availability of data for replay. For example, Google Pubsub does **not** expose any notion of `offsets` for messages. It only delivers the messages that were published after a consumer is created. In order to replay or rewind, the client has to manually create/manage `snapshots` (aka checkpoints), whi

[2022-01-10 21:11] weixiangsun commented on #7422
Here is the document for Pre-Aggregation Gapfilling function design: https://docs.google.com/document/d/1FQbsTVywWLlmFaeUcYqDkb-XRWCpVhZe10BZyD2VzcU/edit#heading=h.brbishq9xbz1

@siddharthteotia @jackjlli @amrishlal @lakshmanan-v and I had couple of rounds of design meetings. Thanks a lot for the effort!
Here is the meeting minutes:
1. We went through the design document and discussed the query de

[2022-01-10 22:20] npawar commented on #7988
FYI @mcvsubbu @snleee @sajjad-moradi .

Thanks @navina . This will be certainly useful for streams like PubSub.

From your doc I see ``commit` will be invoked whenever the controller requests the server to commit a segment`. More specifically, will the commit be invoked before server gets back to the controller for metadata commit or after?
If it's the latter, some server failure scenarios might g

[2022-01-11 00:00] navina commented on #7988
@npawar :  The commit will be invoked *before* the server gets back to the controller. Basically, when the server enters `COMMIT` state, it will first checkpoint to the stream, followed by building a segment and responding to the controller with metadata.
Checkpoint is used as a "marker" in the stream. So, even if the server fails or enters commit state again, it should re-create (or use the exist

[2022-01-11 00:10] mcvsubbu commented on #7988
I hope we are discussing in the design document. As of now, it is very minimal. I have left some comments there. Please address them, thanks.

[2022-01-11 00:50] #7954 closed

[2022-01-11 20:46] lksvenoy-r7 opened #7992 "RealtimeToOfflineSegmentsTask task timeout is not configurable"
The task timeout for the RealtimeToOfflineSegments task is not configurable, meaning large tables with large segments can time out when performing the task. In my case, this makes the task useless for some of my larger tables.

Looking at the source code, it looks like all tasks have a hardcoded timeout of 1 hour: https://github.com/apache/pinot/blob/master/pinot-controller/src/main/java/org/apach

[2022-01-11 20:48] hristo-stripe opened #7993 "Support for `any_value` aggregation function"
Many databases provide an `any_value` aggregation function, which is useful in queries like this:

[code]

[2022-01-11 21:11] lksvenoy-r7 opened #7994 "RealtimeProvisioningHelper does not account for deepStore"
The RealtimeProvisioningHelper assumed that you need all the segments in memory in the realtime host, this isn't the case if you are pushing completed segments to deepStore. It would be nice if we could tell the realtime provisioning helper that deep store is enabled so that it can account for this.

[2022-01-11 21:20] mcvsubbu commented on #7994
@lksvenoy-r7 thanks for filing the issue. One question. All realtime completed segments are indeed stored in deepstore. The question is whether there needs to be a copy in memory (on the server) or not.
Currently, there is an argument `retentionHours` that can be provided, which says how many hours of data are typically queried. (See https://docs.pinot.apache.org/operators/operating-pinot/tuning/r

[2022-01-12 09:08] lksvenoy-r7 commented on #7994
@mcvsubbu that definitely helps and that is what I have been doing, but this is misleading, as retentionHours should have a direct correlation to the retention of the table. If a query causes a server to load segments from deep store, memory usage is going to be higher. By separating those two concepts, table retention and deep store, it is possible to give a more accurate picture of how much memo

[2022-01-12 09:14] dianaarnos opened #7996 "Add Ingress resource to helm chart"
While deploying Pinot to Kubernetes we noticed the provided helm chart does not provide an Ingress and this is something we need to run it inside our current environment.

After a quick discussion on Pinot's Slack, we decided to add this option to the Helm Chart, as long as an opt-in (or opt-out) mechanism is provided.

Related PR: https://github.com/apache/pinot/pull/7997

[2022-01-12 09:20] lksvenoy-r7 opened #7998 "Pinot Dashboard tenant view shows incorrect amount of servers and brokers"
**Current behaviour**
The homepage of the Pinot Dashboard (locally http://localhost:9000/#/) does not show the correct amount of servers and brokers on the tenant view.

(Screen from http://localhost:9000/)
![image](https://user-images.githubusercontent.com/46895578/149098824-11095196-4717-4993-8f69-20fb6d4af889.png)

However, when clicking on the link for the tenant, the correct amount of brokers

[2022-01-12 09:27] lksvenoy-r7 opened #7999 "Enhancements to documentation about moving completed segments to different hosts"
The documentation detailing how completed segments may be moved to a different host is described here: https://docs.pinot.apache.org/operators/operating-pinot/tuning/realtime#moving-completed-segments-to-different-hosts

This documentation mentions that segments may be hosted on a different host using the tagOverrideConfig, but there is no mention of it being possible to use the instanceAssignment

[2022-01-12 09:40] lksvenoy-r7 opened #8000 "Can not open new tabs from Pinot Dashboard"
**Current behavior**
Currently when navigating the Pinot Dashboard, it is not possible to right click and open a new tab on the various links to resources (such as tables, tenants, and other links). I am not entirely sure, but I seem to remember that this used to be possible in a previous version of Pinot. In any case, it would be a huge user experience improvement for developers if we could open

[2022-01-12 16:17] richardstartin opened #8002 "Query console goes blank on syntax error"
Steps to reproduce (using Safari):

1. go to query editor
2.  type `select count(*) from airlineStats where insubquery(OriginAirportID, 'select idset(DestAirportID) from airlineStats') = 1 and`
3. press enter:
<img width="1792" alt="Screenshot 2022-01-12 at 16 16 52" src="https://user-images.githubusercontent.com/16439049/149178866-9feee1e9-b01b-47d2-8d88-05c1c6732c3f.png">

[2022-01-12 16:52] richardstartin opened #8003 "Make query console state URL based"
This allows the back/forward buttons to be used, makes it easier to recover from errors, and would allow users to send each other links to queries, instead of the queries themselves to be pasted into the console.

[2022-01-12 17:48] mcvsubbu commented on #7994
OK, I see where the confusion arises. We will address it.

[2022-01-12 20:21] aleksdikanski commented on #7270
Hi @KKcorps are there any updates on this? Can I support in any way?
Could we merge your PR #7947? I guess until the pulsar plugin isn't added again to the distribution, nothing will break, as the pulsar plugin isn't currently included in the release.

[2022-01-12 20:28] KKcorps commented on #7270
Hi, The PR for the fix is already merged. Is there any other issue with code will be happy to help.

[2022-01-12 20:31] jonathanl-telenav opened #8007 "Performance: HTTP connection pooling could be used to reduce client latency"
The time to set up and tear down HTTP broker connections to execute queries has a negative impact on query latency. A simple connection pool could keep established connections alive for reuse. See c3p0 and dbcp for some details on connection pooling. This optimization should have no effect on threading or transactions. It's just a way of reusing a live connection instead of opening a new connectio

[2022-01-12 20:34] hristo-stripe opened #8008 "EXPLAIN PLAN FOR <query> breaks on simple aggregation + filters"
When I run the following query (replacing $number with a numerical value):
[code]

I get results that don't show much:
[code]

The query itself produces a count successfully, however the explain plan doesn't work at all.

If I try
[code]
it crashes and I get the exception:
[code]

cc @amrishlal since it looks like you built most of that functionality.

[2022-01-12 20:41] aleksdikanski commented on #7270
@KKcorps You mentioned something not working with the `largest` offset, does this persist?

I'm not using the `largest`offset for my use case, and have demoed the pulsar / pinot integration in my company. So I would be interested to make this part of the pulsar release again by reverting PR #7272. Maybe also a question for @snleee

[2022-01-12 20:45] #8002 closed

[2022-01-12 22:06] richardstartin opened #8009 "Explain plan should elide function parameters"
Run this query against hybrid quick start:

[code]

it prints:
[code]

Printing function parameters leaks data when taking an explain plan. The base64 encoded idsets can be deserialised to reveal the values of an entire column, and anyone capable of reading the source code can decode these parameters:

[code]

prints the airline ids, and the subquery could easily have been for social security numb

[2022-01-12 22:19] richardstartin commented on #8008
This can be reproduces on airline stats:

```explain plan for select * from airlineStats where AirlineID=0 and ArrDelay >= 0 limit 10```

[code]

here's the root cause:
[code]

[2022-01-12 22:35] amrishlal commented on #8009
Thanks, I will take a look at the issue.

[2022-01-12 23:25] klsince opened #8010 "The segment info shown on Pinot UI is not consistent with what's found in External View"
The Table Info panel in Pinot UI like below shows segment info that's inconsistent with what's in External View. For example, we noticed that the UI showed wrong number of segments and wrong status (BAD), when there were more segments found in External View and all in GOOD status.

![image](https://user-images.githubusercontent.com/61892277/149238748-a0fe4047-0d2b-4cf1-b09a-8d78fd131355.png)

[2022-01-12 23:45] bowen-stripe opened #8011 "Pinot offline table refresh impacts query latency"
whenever i refresh an offline table (via Spark to run job SegmentCreationAndMetadataPush), Pinot server CPU usage goes up (from 15% to 70%) and query latency is affected noticeably (from 20ms to 2s) during that time.
Reducing `pushParallelism` (to 2) helps but latency impact is still noticeable (from 20ms to 1s).

We need a way to offload these table preparation work from Pinot server to minimize

[2022-01-13 00:11] klsince commented on #8010
This may be due to large response got truncated by browser.
![image](https://user-images.githubusercontent.com/61892277/149242887-02c59909-432f-459a-a14f-7d9751ee0270.png)

[2022-01-13 03:49] ksnijjer commented on #8010
On a similar pattern Admin console just becomes useless(hangs/crashes) if table has large number of segments, none of the UI options for e.g Edit Schema/table etc. work at that pt. Perhaps we should only load list of first x segments initially and then load rest on demand or paginate it vs. trying to load everything in one shot which causes browser issues.

[2022-01-13 05:48] klsince commented on #8011
hey @bowen-stripe , does the spark job generate segments with the latest table config and schema? So that the servers don't need to preprocess the segments, like to add or remove indices, to make segments consistent with latest table config/schema before serving queries.

And when CPU util goes high, you might take some stack traces or flamegraphs to help identify the hot methods.

[2022-01-13 09:32] KKcorps commented on #7270
My bad. I need to get on this issue again. I remember testing it out thoroughly and it seemed to be a problem with my test case rather than the plugin itself. I will update you in next 24 hrs.

[2022-01-13 11:36] lksvenoy-r7 opened #8014 "RealtimeToOfflineSegmentsTask tasks time out with large amount of rows"
We are seeing an issue in production where the RealtimeToOfflineSegments task is taking a very long time to complete, and timing out in the end.

There are two areas where it is slow, during segment mapping:
`2022-01-12T12:40:28Z Initialized mapper with 43 record readers`

And during row sorting
`2022-01-13T10:10:09Z Start sorting on numRows: 42757049, numSortFields: 9`

We are using Pinot 0.9.3 w

[2022-01-13 13:56] tushar-dubey-rzr commented on #5647
@mcvsubbu @npawar has there been any progress on this front. My team is in process of adopting Pinot for a usecase and there is a need for ingesting from multiple topics into a single Pinot table. Any workarounds for this would also be greatly appreciated. let me know.

[2022-01-13 18:37] lakshmanan-v commented on #7422
cc @Jackie-Jiang @mayankshriv @kishoreg @elonazoulay

[2022-01-13 18:58] amrishlal commented on #8008
@hristo-stripe @richardstartin I will take a look. Thanks for identifying the issue.

[2022-01-13 20:17] kishoreg commented on #7213
@amrishlal

Can you please address the comments from @Jackie-Jiang  in the design doc? This is a complex feature and the design doc is mostly describing how Pinot operators work. It will help me a lot if you can expand on the following topics
- How will the Window Operator work
- Current proposed solution of pulling all records into a broker is not a scalable solution. Pulling all records into a s

[2022-01-13 21:22] Jackie-Jiang commented on #7958
This is great analysis. Link to the fix: #7971

[2022-01-13 21:34] Jackie-Jiang commented on #7867
@suddendust Thanks for volunteering on this. I've assigned the issue to you

For the questions:
1. I think the standard SQL behavior returns each column only once
2. We should not return the virtual columns, unless it is explicitly queried, e.g. `select $docId, * from ...`

[2022-01-13 22:43] bowen-stripe commented on #8011
I used `LaunchDataIngestionJobCommand` with job config like this:

[code]

I assume it reads table config from cluster when producing segment data. And no change was made to table config before / after.

I can try to grab some stack trace / flamegraph.

[2022-01-13 23:06] Jackie-Jiang commented on #7973
IMO this is a bug. For metrics, we use `PASS_THROUGH` by default, but should allow overriding it if it is explicitly configured in the `FieldConfig`

[2022-01-14 00:47] MeihanLi opened #8019 "Group by multi-value columns without aggregation can not work"
[Pinot SQL] It seems that non-aggregation group by only works for single value columns. Grouping by multi-value columns throws an exception with error code 200. The exception message from Pinot Controller UI is redundant and it repeats the first message over 20 times. The detailed stack tree is not meaningful for us to understand what causes the issue.

Example tags_value (String array):
`restaura

[2022-01-14 02:02] Jackie-Jiang commented on #7976
Can you please try a thread dump after sending the SIGTERM and see which thread is preventing the broker to be shut down? I suspect the interruption might be swallowed by some thread

[2022-01-14 02:08] mayankshriv commented on #8019
cc: @atris

[2022-01-14 02:09] Jackie-Jiang commented on #7977
To achieve that, we can:
1. Add the transform function `array` which combines multiple values into an array
2. Support MV in `lastwithtime`

Add @weixiangsun to the discussion

[2022-01-14 02:14] mayankshriv commented on #8000
cc: @shahsank3t

[2022-01-14 02:52] chimucong opened #8020 "pinot-druid-benchmark fails"
I ran into trouble when running the benchmark.
When importing the TPC-H data, the exception occurs:
[code]
The corresponding row in TPC-H data that causes this exception is
[code]
which has a semicolon in the `l_comment` column.

For `org.apache.pinot.plugin.inputformat.csv.CSVRecordReaderConfig`,  `multiValueDelimiterEnabled` is set to `true` by default, and the `DEFAULT_MULTI_VALUE_DELIMITER` is

[2022-01-14 06:41] Jackie-Jiang commented on #8007
Which connection are you referring to? The connections between broker and servers are async (non-blocking) and reused for multiple queries. We maintain one connection between each broker and server pair.

[2022-01-14 14:04] jonathanl-telenav commented on #8007
Ah, that is the information I was looking for. Thanks @Jackie-Jiang!

[2022-01-14 17:47] Jackie-Jiang commented on #7983
We should probably add a `BooleanGenerator`. Do you want to help contribute a fix?

[2022-01-14 17:57] Jackie-Jiang opened #8022 "[UI] In query console, show partial results even if the response contains exceptions"
#7981 adds the support to always show the query stats even if the response contains exceptions. We should extend that to also show the partial results. Partial results can be very useful when there is no way to workaround the exceptions

[2022-01-14 17:59] walterddr commented on #8022
sounds good to me

[2022-01-14 19:18] Jackie-Jiang commented on #7987
@apucher Can you please take a look?

[2022-01-14 19:18] kbastani commented on #7941
@amrishlal See https://github.com/apache/pinot/pull/8024

[2022-01-14 19:25] lksvenoy-r7 commented on #7983
Sure I'd love to, but its going to take me a little while to get around to
it.

On Fri, 14 Jan 2022, 17:48 Xiaotian (Jackie) Jiang, <
***@***.***> wrote:

--
NOTICE OF CONFIDENTIALITY: At Rapid7, the privacy of our customers,
partners, and employees is paramount. If you received this email in error,
please notify the sender and delete it from your inbox right away. Learn
how Rapid7 handles privacy

[2022-01-14 19:37] richardstartin commented on #7973
@Jackie-Jiang let's make it configurable when there are encoding modes which make sense for numeric data. LZ4 and Snappy aren't good options for numeric data, and are dominated by dictionary encoding.

[2022-01-14 21:22] abhs50 opened #8027 "Support batch ingestion of data from Hive table into Pinot"
Add support for loading data in Hive Table in following format : org.apache.hadoop.mapred.TextInputFormat

[2022-01-14 21:29] Jackie-Jiang commented on #7992
#8028

[2022-01-14 21:33] Jackie-Jiang commented on #7993
Do you want to help contribute this function? Since the return type of aggregation function is fixed, we might need to take a second argument as `dataType`

[2022-01-14 21:36] Jackie-Jiang commented on #7998
@shahsank3t Can you please help take a look at this issue?

[2022-01-14 22:00] kishoreg commented on #8027
@abhs50 The problem with TextInputFormat is that the reader only providers line number and byte[]. That byte[] can be JSON, CSV, etc, and depends on the program that generated this file. So we still need a deserializer that provides more information on how to deserialize the byte[] into a Pinot GenericRow

Do you know whats the underlying format in your case?

[2022-01-14 22:08] Jackie-Jiang commented on #7999
Good catch! Could you please help update the documentation? You can find them under this repo: https://github.com/pinot-contrib/pinot-docs

[2022-01-14 22:21] Jackie-Jiang commented on #8020
Good catch. Thanks for contributing the fix. This is a very old benchmark (almost 5 years) and not being actively maintained. Please let us know if you run into more issues

[2022-01-14 22:21] #8020 closed

[2022-01-14 22:27] #8000 closed

[2022-01-14 22:31] abhs50 commented on #8027
It's CSV(tab-separated) in our case.

[2022-01-14 22:41] Jackie-Jiang commented on #8011
If possible, can you share the table config for this table? Currently several index types are not generated at segment creation by default, which might cause the issue

[2022-01-14 22:42] hristo-stripe commented on #8008
I'd like to reopen this issue. The queries do produce rows, e.g. the `count(*)` returns a positive number and the `select * ...` query returns real rows. While the patch seems to address a real bug, it does not address the one I am hitting. I can try to get a more detailed exception by digging into the logs.

cc @Jackie-Jiang

[2022-01-14 22:52] richardstartin commented on #7973
Here are the sizes of 8KB (1024 doubles) of different distributions/patterns with Snappy and LZ4. There are encodings which can be introduced to reduce the size of metric columns (e.g. xor or delta encoding) but making it possible to compress metric column with general purpose compression algorithms isn't in the user's interest.

|Compression|Distribution                 |Compressed Size (KB)|
|--

[2022-01-14 22:53] Jackie-Jiang commented on #8019
This query will be rewritten to `select distinct(tags_value) from myTable`. Currently there is no MV support for distinct queries.
The syntax for MV distinct is unclear: Should we break the MV into multiple individual values when calculating the distinct?
Once we decide the syntax, we can add the support.

[2022-01-14 22:59] weixiangsun commented on #7977
In order to make the follow query work:
    select max(A), lastwithtime(A, array(C0, C1)) from table group by B
There are two things we need pay attention to:
1. We need add the data type for C0,C1 since when creating the aggregation function, there is no data type for each column;
2. C0 and C1 should have the same data type

Here is my proposal:
select max(A), lastwithtime(A, 'dataType', C0, C1)

[2022-01-14 23:01] bowen-stripe commented on #8011
Here you go:
[code]

[2022-01-14 23:07] mapshen commented on #7977
In our use case, C0 and C1 don't necessarily are of the same type. Couldn't the function read the column type definitions from the schema directly?

[2022-01-14 23:14] ashishkf commented on #7973
I think in many cases the metric values don't change much - for example cpu usage gauge will have only slight variations for a given metric series over a small interval (say, 10 minutes). We have seen good compression ratios - in our data (storing Kubernetes metrics), we are getting 1 bytes per row instead of 8 allocated for the 'double' column. As a workaround we marked the value column as dimens

[2022-01-14 23:25] richardstartin commented on #7973
The problem is you won't get any savings from LZ4 - those CPU readings can be almost identical but with a little bit of noise the data is difficult for a text oriented algorithm like LZ4 to compress. The XOR of any two adjacent values will typically have very few set bits so can result in high compression ratios, perhaps even 8x. Implementing codecs such as xor or delta encoding is a feature that

[2022-01-14 23:33] weixiangsun commented on #7977
lastwithtime(A, 'dataType', C0, C1)  should return the data of MV column type where the all values are having he same type. This is my understanding.
 @Jackie-Jiang can confirm it.

[2022-01-15 00:04] Jackie-Jiang commented on #8011
Based on the table config, there should be no index needed to be generated on the server side.
Cold start after refreshing the segments could be another factor for the high latency

[2022-01-15 00:07] amrishlal commented on #8008
I tried reproducing it locally (count(*) query on a column with range index) using a test case in OfflineClusterIntegrationTest.java, but not able to do so.

[code]

[2022-01-15 01:56] Jackie-Jiang commented on #7977
Another workaround would be concating the values into a string, then it works.
Pinot MV must have all elements of the same type, so if C0 and C1 are of different types, we need to create an array that covers both types. E.g. `int` & `long` -> `long array`

[2022-01-17 07:35] atris commented on #8019
I believe it should be individual values and ORing the result together.

[2022-01-17 10:15] mr-agrwal opened #8031 "Pinot JDBC does not support pinot authentication"
When trying to connect to pinot using jdbc client, after passing username/password details we are still getting 403.

Steps to setup test pinot cluster with auth to test
[code]

Code for jdbc client
[code]

[2022-01-17 10:15] KKcorps commented on #8031
Taking this up.

[2022-01-17 16:18] franoisD commented on #5954
Hello,
Are there any news about this topic?
I can't consume protobuf messages from kafka

[2022-01-18 10:19] aditya-pt commented on #7888
+1
min and max should follow the original type as there is no issue of overflows
We can also have sum functions like **sumInt** and **sumLong** which may overflow but help preserve the original type

[2022-01-18 18:55] kbastani commented on #7987
Here is the issue when using basic authentication to lock down the controller.

https://github.com/apache/pinot/blob/bfe64b55460986135c6931e96e0cfc6ff178ad8c/pinot-clients/pinot-jdbc-client/src/main/java/org/apache/pinot/client/utils/DriverUtils.java#L75

[2022-01-18 18:59] Jackie-Jiang commented on #8019
@atris For single column, we can do that. But if there are multiple MV columns in the distinct, should we return all the combinations (the same semantic for group-by right now)?

[2022-01-18 19:01] atris commented on #8019
Yes, IMO. Sorry, when I meant the grouping in my earlier comment, I meant this exact behaviour.

[2022-01-18 19:20] kbastani commented on #7987
@Arpita030125 Can you try the following in your JDBC client? (not recommended for production code)

[code]

[2022-01-18 19:56] kbastani commented on #7987
The fix for this issue is here: https://github.com/apache/pinot/commit/fcccf1b5a15847c541f5cf6d96a05bb0d15c98df

Previously, no headers would have been passed along to the controller which would cause a 403 unauthorized response when attempting to select an available broker to query.

[2022-01-18 19:57] #7987 closed

[2022-01-18 20:17] kbastani commented on #7987
I've updated the Pinot docs with the relevant details on how to securely connect and query with JDBC. https://docs.pinot.apache.org/users/clients/java#authentication

[2022-01-18 20:54] kbastani commented on #8031
@mr-agrwal Here is a workaround until @KKcorps implements basic authorization in the JDBC spec. See the new docs section for JDBC authentication:

https://github.com/kbastani/order-delivery-microservice-example/blob/5232fb4b60e3e62b28041746dfea7e2ce60c9c2c/debezium-mysql-connector-order-outbox.json#L25

[2022-01-18 23:07] MeihanLi commented on #8019
I feel like that we can break the MV into multiple individual values, since that is the behavior for aggregation group by, "select tags_value, count(*) from myTable GROUP BY tags_value"

[2022-01-19 00:23] Jackie-Jiang commented on #7888
Currently aggregation function requires fixed return type. Without changing the query engine, one way to handle it is to add different version of `MAX` (e.g. `MAXLONG` and `MAXDOUBLE`), and broker can override the original `MAX` function based on the column schema

[2022-01-19 06:38] suddendust commented on #8022
I can pick this up @Jackie-Jiang

[2022-01-19 08:05] siddharthteotia opened #8039 "Improve accuracy of group by without order by queries"
Currently GROUP BY queries without ORDER BY can generate very inaccurate results since each server will keep at max N (N coming from LIMIT N) groups which are randomly selected and there is no resize/trimming unlike ORDER BY.

An easier way to handle this would be to add implicit ORDER BY on GROUP BY and/or agg columns if there is no ORDER BY in the query. This will allow us to reuse to current OR

[2022-01-19 08:41] siddharthteotia opened #8040 "Hierarchical GROUP BY aggregation"
Consider the schema -- Country, salesPersonName, AmountSold

We want to find out top N countries by total amount of sales. For each such top N country, we want to find the top N sales people who have done the maximum total sales.

Input

[code]

N = 2

Output

[code]

The value of N can differ from one level to next level in hierarchy. In the above example, N could be 3 at the country level (level

[2022-01-19 11:07] ImAbhishekTomar opened #8041 "Need Help - Realtime table | External Kafka Topic Configuration with SSL"
Hi Team,

I am trying to connect my existing Kafka topic with a real-time table but it's showing a timeout issue. can you please help me configure the real-time table with SSL?

All of my configuration details are mentioned below.

@moszutij  @mayankshriv

## ERROR

[code]

### How I am consuming my topic in console

[code]
### My Topic Avro output

[code]

# My Pinot Schema

[code]

# My Pinot Re

[2022-01-19 17:35] Jackie-Jiang commented on #8019
@kishoreg What do you think about the distinct on MV column semantic? I don't see a sql standard for this. To follow the semantic of MV group-by, we can return all combinations of the column values, e.g. col1: [1, 2], col2: [3, 4], distinct(col1, col2) -> [1, 3], [1, 4], [2, 3], [2, 4]

[2022-01-19 18:04] Jackie-Jiang commented on #8039
I've also thought about this problem, and leaning towards the first approach because without ordering, the second approach might also not give accurate results.
The cheapest solution that can give deterministic results should be always order by all the group by columns, and only keep `limit` groups per server. On the broker we can do merge sort and return once `limit` groups are reached. We cannot

[2022-01-19 18:10] Jackie-Jiang commented on #8039
This optimization can also be applied to cases where order by is only applied to group by columns. No need to keep extra groups in such case

[2022-01-19 18:22] Jackie-Jiang commented on #8040
Currently `1 + N at first level` queries need to be fired to solve this.

I think this query can be modeled using subquery (not supported yet):
`SELECT Country, salesPersonName, SUM(AmountSold) FROM sales WHERE Country IN (SELECT Country FROM sales GROUP BY Country ORDER BY SUM(AmountSold) DESC LIMIT 2) GROUP BY Country, salesPersonName ORDER BY SUM(AmountSold) DESC`

Some information is missing t

[2022-01-19 18:24] Jackie-Jiang commented on #8040
I feel firing multiple queries might be the best solution if N is not too large

[2022-01-19 18:32] Jackie-Jiang commented on #8041
Adding @apucher to the thread

[2022-01-19 19:02] yupeng9 commented on #8019
As @MeihanLi said, why don't we take the same behavior as the query **with** aggregations, namely `select tags_value, count(*) from myTable GROUP BY tags_value`?

[2022-01-19 19:03] atris commented on #8019
Yes, I believe that is the consensus here

[2022-01-19 21:20] #7834 closed

[2022-01-20 05:50] #8007 closed

[2022-01-20 09:24] Lvnszn opened #8044 "Here is typo in document"
Looks like `Returns the ISO week of the year from the given epoch millis and timezone id. The value ranges from 1 to 53`

![image](https://user-images.githubusercontent.com/12541438/150310520-84137575-1839-4810-b58a-4a04faf166ff.png)

https://docs.pinot.apache.org/users/user-guide-query/supported-transformations#datetime-functions

[2022-01-20 16:53] walterddr opened #8045 "Add "DateTime" DataType"
Currently datetime objects are either stored as String with simple date format or stored as timestamp which persists as epoch long value.
This has several problems.
1. #7804 added validation that requires the underlying string and the simple date format needs to be both time and lexical ordering.
2. timestamp can only return a ISO standardized string

There's no way for users to request a customiz

[2022-01-20 17:48] Jackie-Jiang commented on #8044
Good catch! Updated the doc

[2022-01-20 17:48] #8044 closed

[2022-01-20 18:54] walterddr opened #8046 "Fixing validation step for schema/table codepath"
Currently table config validation are not just triggered when table config is being add/updated. some part of the validation code is also used outside of table config change code path.

several issues we want to fix.
1. ensure that table config validation only runs when table config are being updated/added because it is the only codepath that supports a user manual SKIP option. (see #7921)
2. othe

[2022-01-20 22:08] #7992 closed

[2022-01-20 22:20] ksnijjer opened #8050 "Extend Geospatial support to include additional functions like st_envelope, st_buffer etc."
We have a geospatial usecase where we need to find the points in a polygon which Pinot can do really well with ST_Contains but what we need to do is fetch the Polygon by creating a Bounding box around a Point. Other tools for e.g postgis offers function like `ST_Envelope` to create this bounding box and `St_Buffer` to take a buffer for the radius.

Request is to add similar geometry capabilities t

[2022-01-21 01:13] npawar opened #8052 "isLiveTable check breaks Kinesis like streams"
PR https://github.com/apache/pinot/pull/7756/files introduced a check for liveTable in the path of adding new partitionGroups.
This branch was introduced in `setupNewPartitionGroup` (prior to this PR we had just the else part)
[code]
For new table, we go to the `else`, and for existing table detecting a new partitionGroup we go to `if`. Within the `if`, a call is made to `getNewPartitionGroupMetad

[2022-01-21 01:15] npawar commented on #8052
Fixing in https://github.com/apache/pinot/pull/8053 by using the patch that was suggested in an alternative PR https://github.com/apache/pinot/pull/7743

Tagging @KKcorps , who detected this bug when enhancing integration tests for Kinesis. The current integration test misses checking this.
Tagging @KKcorps also to take note of this requirement when working on https://github.com/apache/pinot/pull/

[2022-01-21 01:31] npawar commented on #8052
fyi @mcvsubbu @Jackie-Jiang

[2022-01-21 06:15] Jackie-Jiang commented on #8052
Have you verified that the approach in #7743 works? I feel it should work since it follows the current way of fetching offsets.
However, the issue for the current approach is that `getPartitionGroupSmallestOffset()` won't give correct offset for Kinesis, and I think that should be fixed because that is also used to fix the errored consuming segment.

Adding @mcvsubbu @KKcorps for more inputs

[2022-01-21 06:25] KKcorps commented on #8052
The `computePartitionGroupMetadata` in `KinesisStreamMetadataProvider` returns `startingSequenceNumber` of each shard in case an empty `partitionGroupConsumptionStatuses` list is passed. This is true for this scenario and hence correct offsets are being returned.

[2022-01-21 06:28] npawar commented on #8052
Yup 7743 should work as that one doesn't use empty list for current

[2022-01-21 06:39] npawar commented on #8052
Regarding, `getPartitionGroupSmallestOffset()`, also agree that this should be fixed regardless for Kinesis as it is used in validation manager. But that's a much smaller and infrequent case, so i think we should prioritize first fixing the bigger case of broken new partitiongroups.

[2022-01-21 07:20] polyzos commented on #7270
@KKcorps any updates on this? is there anything to help here?

[2022-01-21 07:23] KKcorps commented on #7270
Hi The PR was upgraded from draft status to ready for review. Still waiting to be merged

[2022-01-21 12:17] lksvenoy-r7 commented on #7983
Here is the PR: https://github.com/apache/pinot/pull/8055/files

[2022-01-21 12:33] lksvenoy-r7 commented on #7999
PR opened: https://github.com/pinot-contrib/pinot-docs/pull/72/files

[2022-01-21 17:22] Jackie-Jiang commented on #7999
Thanks for helping enhance the documentation. The PR has been merged

[2022-01-21 17:22] #7999 closed

[2022-01-22 17:20] aleksdikanski commented on #7270
Hi @KKcorps,

could you also revert the change in https://github.com/apache/pinot/pull/7272/files in your PR? Otherwise the issue will be fixed but pulsar plugin will not be included in the next pinot release.
Also there are some tests failing in your PR.
Thx

[2022-01-24 11:12] atris opened #8060 "Multiple Grouping Sets and Familia Support"
This issue tracks the development of the feature that brings multiple grouping sets to Pinot.

**What is A Grouping Set?**

Consider the following query:

[code]

(brand, segment) represents a single grouping set.

A query using multiple grouping sets would be represented as:

[code]

An equivalent query using UNION ALL would be:

[code]

GROUPING SETS also allows empty sets () which is equivalent

[2022-01-24 11:14] atris commented on #8060
I have started working on this and aim to publish a design document by end of this week

[2022-01-24 16:35] walterddr commented on #8060
Hi @atris . This looks like a super powerful feature. thanks for working on this.

on the higher level, would you please describe briefly the scope of this design? specifically
1. is it more on the syntactically support (e.g. I think calcite parser natively supports the 3 concepts, see: https://calcite.apache.org/docs/reference.html#groupItems) or more on how to design the aggregation operators to

[2022-01-24 17:27] jadami10 opened #8061 "Broker InstanceDetails page does not show tables in different server tenants"
If you have a table with the following config:
[code]
The `/instance/BROKER_` page will not show your table.
The `/tenants` page will not show your table (though maybe this is ok since server tenant maybe takes more priority here)

I started trying to tackle this by doing `/v2/tenants/{tableName}/tables` where it would return `{"server": [table1, table2], "broker": [table1, table3]}`, but I stoppe

[2022-01-24 17:43] xiangfu0 commented on #7941
https://github.com/apache/pinot/pull/8059

[2022-01-24 19:17] walterddr opened #8064 "Adding batch operation APIs for PinotFS"
Currently PinotFS doesn't support batch operation API extensions easily.

For some usage such as SegmentDeletionManager. once has to iterate over all files checking for deletion and then do the actual delete. but for many of the cloud FS, there's more efficient batch APIs to reduce significantly on the remote request overheads.

Propose to
1. add `delete` / `copy` / `move` `(List<URI> segmentUris,

[2022-01-25 05:36] Manis99803 opened #8068 "Issues in generating the segment when working with Fixed type in SegmentNameGeneratorSpec"
Issue:

Currently, with a Fixed type in the Pinot SegmentNameGenerator, we are able to generate a segment with an user-defined name. However, there is some issue with respect to this when we want to generate more than one segment.

For Example:
Let's say we have 5 different CSVs and we are trying to push these CSVs to the Pinot Offline table. The ingestion job has the following configuration:
[cod

[2022-01-25 17:33] Jackie-Jiang commented on #8068
Fixed segment name generator will ignore the sequence id. In order to include the sequence id, you may use the `simple` segment name generator, and set the name prefix to `SEGMENT`

[2022-01-25 17:36] Jackie-Jiang commented on #8064
Discussed offline, and another issue for remote FS is that `move` might not be an cheap operation (e.g. S3 move is actually copy + delete). To solve this, we should add a config to allow directly deleting the segment without moving it to a different directory.

[2022-01-25 17:48] mcvsubbu commented on #8064
Do you mean not saving the deleted segments? I believe we already have a config there.

[2022-01-25 18:30] Jackie-Jiang commented on #8064
@mcvsubbu Which config are you referring to?
I find a config for the retention days before deleting the segment from the deleted segment dir, but didn't find one to skip moving the segment to the deleted segment dir. In `SegmentDeletionManager.removeSegmentFromStore()`, segment is always moved.

[2022-01-25 18:48] jackjlli commented on #8068
Both `SimpleSegmentNameGenerator` and `NormalizedDateSegmentNameGenerator` respect the sequence Id. You can either set `simple` or set `normalizedDate` to the ingestionConfig of your table config.

[2022-01-25 19:23] walterddr commented on #8064
for this issue it is more the multiple-round-trip per segment when we operate on the entire table.

Even if the deleteSegment does the deletion only without the move. on a large enough table it will still take 10s of minutes to complete the deletion since it requires pinot to issue `delete(URI segmentUri)` sequentially segment after segment instead of leveraging the underlying PinotFS impl, which

[2022-01-25 19:56] richardstartin commented on #8064
This raises the question of how the state of the deletion operation is maintained, currently it is managed by the client. Some databases do the wrong thing and let you delete as many rows as possible before a timeout is reached because they treat this as a stateless operation.

[2022-01-25 21:25] abhijeetkushe opened #8070 "GetRecord.IteratorAgeInMilliseconds metrics not being reflected and data not being queried in Table"
Table Config
[code]

- I upgraded pinot to 0.9.1 version from 0.8.0 last month and after that I started seeing GetRecord.IteratorAgeInMilliseconds metrics displaying in correct values
- Yesterday I observed the data stopped being displayed in the Table from the Query Console even though the GetRecords metrics showed that records were read but where not read from the Table.There were some new data

[2022-01-25 21:27] abhijeetkushe commented on #8070
![Screen Shot 2022-01-25 at 9 43 16 AM](https://user-images.githubusercontent.com/2093096/151062519-2f8fab72-b912-41a1-a51a-8692dacfaf44.png)

[2022-01-25 21:27] KKcorps commented on #8070
Looking into it.

[2022-01-26 04:17] Manis99803 commented on #8068
In case of `SimpleSegmentNameGenerator` sequence Id is respected. However, the segment names also have the timestamp in them.

For Example:
If I create a table "user" and push data to it and I am going with "Simple" SegmentNameGeneratingScheme and generating 2 different segments. The names would be as follows:

user_OFFLINE_1643169382000_1643169385000_0
user_OFFLINE_1643169386000_1643169389000_1

[2022-01-26 05:01] jackjlli commented on #8068
@Manis99803 For APPEND use cases, these timestamps are the minmax value of the time column in your raw input file, which differentiates which batch of jobs the segments belong to. Without the values of time column appeared in the segment name, there is no way to tell when this batch of segments it belong to. What's worse, since segment name is the identifier for segment, if the minmax value is mis

[2022-01-26 07:29] Manis99803 commented on #8068
@jackjlli, Thanks for pointing this out. I understand the entire use case now, let me go ahead and close this issue.

[2022-01-26 07:29] #8068 closed

[2022-01-26 15:14] walterddr opened #8072 "Support instant deletion"
Description
===
SegmentDeletionManager currently perform a move when segment deletion is being invoked, this causes huge overhead (both time and read/write IO) in some cloud PinotFS such as S3 (because "move" is implemented as "copy-and-delete").

Goal
===
We would like to eliminate the move (copy-and-delete) step in S3 by instant delete the segments.

Status Quo
===
Currently deleting segment goe

[2022-01-26 15:28] suddendust commented on #7338
@Jackie-Jiang This was merged, can we close the issue?

[2022-01-26 17:45] Jackie-Jiang commented on #7338
@suddendust Thanks for the contribution! Closing the ticket

[2022-01-26 17:45] #7338 closed

[2022-01-26 18:12] abhijeetkushe commented on #8070
I have more updates.I do see the data in the table but not realtime. shardIteratorType as LATEST.I ran the below query
`select $segmentName,ToDateTime(eventTimestamp,'yyyyMMddHHmm') from workflowEvents order by eventTimestamp desc limit 100 `
$segmentName	todatetime(eventTimestamp,'yyyyMMddHHmm')
workflowEvents__0__58__20220125T2005Z	202201260000
workflowEvents__1__60__20220125T2106Z	202201260000

[2022-01-26 18:26] mcvsubbu commented on #8072
Can you state the problem you want to solve?  Is it that the retention of a deleted segment taking up storage cost in the cloud? Or, is it that deletion takes a long time (it is a background task, so I don't see why that should matter much).

[2022-01-26 18:31] abhijeetkushe commented on #8070
Kinesis Get Records shows that it is read
![Screen Shot 2022-01-26 at 1 06 57 PM](https://user-images.githubusercontent.com/2093096/151224707-d98ec9d1-0b86-41a9-a6a8-e49ca57ece23.png)

[2022-01-26 18:43] abhijeetkushe commented on #8070
I also the records do ge read at that time
```16:43:05.029 INFO [LLRealtimeSegmentDataManager_workflowEvents__1__60__20220125T2106Z] [workflowEvents__1__60__20220125T2106Z] Consumed 12 events from (rate:0.19965394/s), currentOffset={"shardId-000000000001":"49622318632194742639402514501316476653895236003058155538"}, numRowsConsumedSoFar=43, numRowsIndexedSoFar=43```

[2022-01-26 20:26] walterddr commented on #8072
Hi @mcvsubbu, yes. I think the problem I stated to solve is "this (copy-and-delete) cause huge overhead during the deletion operation". this is both in time and I/O cost.

One example is I wanted to delete and recreate a table, it is not ideal to wait until the background task to finish.

[2022-01-26 20:32] walterddr commented on #8064
I dont think it is currently "managed" by the client. if some segments were not deleted (moved), it simply just logs a warning and move on to the next segment, it doesn't even return it back to the client.

[2022-01-26 21:29] mcvsubbu commented on #8072
Recreating a table is a more involved problem. What we need to do is to wait for the external view to disappear in the table drop API. I believe there is an issue for it already.

Deletion of segments from the deep store happens right away, it is the wait on externalview that takes time. Hopefully in your cluster, this is a short time.

Deletion via retention manager happens MUCH later and does no

[2022-01-26 21:41] walterddr commented on #8072
hmm I think I understand your confusion when I give examples here and there. let me rephrase the entire description of the issue and let's restart the discussion from this point forward.

[2022-01-26 22:07] mcvsubbu commented on #8072
I still don't understand why the latency is a problem.  Is it that the background task takes too long  to complete ? Or, is it that each I/O to S3 costs, and we want to minimize the number of I/Os (at the cost of not having a backup, of course)? Or, is it both?

Assuming it is both, the best way to solve this problem as of now will be to
- Set the retention days to 0 (instead of default 7) AND
- C

[2022-01-26 22:39] Jackie-Jiang commented on #8072
I agree we should have both cluster config and table config override for retention time, but we also want to give user the flexibility to delete the segment immediately without moving to a deleted folder through the rest API (note that for some cloud storage, `move` is not supported, and it is implemented as `copy` then `delete` which can be super expensive).

Some scenarios I can think of:
- User

[2022-01-26 23:21] mcvsubbu commented on #8072
What does "super-expensive" mean? We should not be adding/deleting segments at hundreds per second, so I am just curious here.  I think segment reads/downloads will have much more cost (but perhaps that is where the "tiered storage" comes in).

With that, yes, there may be use cases where user wants to drop the segment or segments right away. So, both segment delete and table delete can have the u

[2022-01-26 23:26] walterddr commented on #8072
@mcvsubbu agreed! I was not proposing to change the API to solve the problem (that's why I created this issue instead of continuing the discussion in the previous PR), as the proposal is to "find a way support instantly delete the segment".

I am fine with going through setting the RETENTION setting to 0 instead of 7 approach, as long as I can change the logic (as you mentioned) to instantly delet

[2022-01-26 23:41] AkshathPatkar opened #8075 "Pinot GCS write fails to GCS bucket WITH CMEK enabled"
If we enable deep storage on GCS bucket with CMEK enabled some times GCS segment upload is failing with error.

`{
  "error": {
    "code": 400,
    "message": "Bad Cloud KMS crypto key: projects/atomic-sled-797/locations/us/keyRings/tst-gcs-key-us-01/cryptoKeys/gcs-01/cryptoKeyVersions/4",
    "errors": [
      {
        "message": "Bad Cloud KMS crypto key: projects/atomic-sled-797/locations/us/

[2022-01-26 23:50] walterddr commented on #8045
Context
===

for more context. let's say user want to configure this during ingest:
[code]

they have to set the `"dataType"` to `STRING` because one want the result of
[code]
to be a string that conforms with the SDF specified . (for example the STRING is directly feed into some downstream program)

Challenge
===
However,
1. in SQL database, setting a column to STRING type means we need to suppor

[2022-01-27 00:17] richardstartin commented on #8045
The range index would favour storing dates as an integer epoch (I.e. an offset in days since 1970-01-01) which can be converted to an actual date very quickly, which would allow raw storage without the indirection of a dictionary. If we were to reintroduce integer compression for raw columns these would compress very well too.

[2022-01-27 18:46] Jackie-Jiang commented on #8075
Thanks for investigating into the issue. Would you mind helping contribute a fix for this?

[2022-01-27 21:08] xiangfu0 opened #8079 "Calcite parsing on column contains keyword."
E.g. Running OfflineComplexTypeHandlingQuickStart

Then execute query:
[code]

Stacktrace:
[code]

[2022-01-28 01:12] siddharthteotia commented on #8060
Not sure if this is similar / overlapping but linking the issue here for reference - https://github.com/apache/pinot/issues/8040

Looking forward to the design doc

[2022-01-28 08:42] ImAbhishekTomar commented on #8041
need help on this.

[2022-01-28 08:55] apucher commented on #8041
Hi @ImAbhishekTomar - sorry for the late reply. I'm not an expert with kafka configs - one thing to try is to provide the key/truststore as an absolute `/opt/pinot/....` rather than relative `./../../../app/....` path. Also, I'd keep the keystores in the app's config/work directory as otherwise restrictive security managers might block access.

if this doesn't work, I'll defer to @npawar and @tims

[2022-01-28 09:15] mneedham opened #8084 "Min identified as aggregation function instead of transform function"
When I try to use the `min`  scalar function e.g.

[code]

It instead uses the aggregation function. i.e. it finds the minimum value across all rows, rather than computing the minimum value of `distance`  and `5` per row

<img src="https://user-images.githubusercontent.com/13220/151518911-3648beb1-af4d-4753-afb4-d89eff5c9bf6.png" alt="image" width="500"/>

If I would use the function with some har

[2022-01-28 09:23] richardstartin commented on #8084
`min` _is_ an aggregation function in SQL. I think you're trying to use it like `least` (`max`: `greatest`) which isn't implemented in Pinot.

[2022-01-28 09:32] richardstartin opened #8085 "Add `least` and `greatest` functions"
`least(1,2,3,4,5);` yields 1
`greatest(1,2,3,4,5);` yields 5

|  foo | bar |
| ---- | --- |
| 1     |  0   |
| 2     |  1   |
| 5     |  4   |
| 6     |  7   |

`least(foo,bar,3) as min_ceiling;` yields

| min_ceiling |
| ----------- |
|   0               |
|   1               |
|   3              |
|   3              |

`greatest(foo,bar,3) as max_floor;` yields

| max_floor |
| ---------- |
|

[2022-01-28 14:11] moszutij opened #8086 "Support for TIMESTAMP data type in Configuration Recommendation Engine"
When I run the configuration recommendation engine on a schema that contains a field with a TIMESTAMP data type, the following error is thrown:

`{
  "_code": 400,
  "_error": "java.lang.IllegalArgumentException: Time column can be only INT or LONG: TIMESTAMP"
}`

The [TimeGenerator](https://github.com/apache/pinot/blob/0fe7ef89127b9e920ef369cd9adad9c8b817dde9/pinot-controller/src/main/java/org/ap

[2022-01-28 14:12] mneedham commented on #8084
Pinot has two different `min` functions. There's the aggregation function that you mention, but there is also a scalar function defined here - https://github.com/apache/pinot/blob/master/pinot-common/src/main/java/org/apache/pinot/common/function/scalar/ArithmeticFunctions.java#L57

[code]

So I wanted to call this `min` function in my query, but it calls the other one. So is your suggestion that

[2022-01-28 14:23] richardstartin commented on #8084
I’m aware of the scalar arithmetic functions. In SQL this function, which operates on tuples, not sets, is called least, not min. min is an aggregation over a set. I experimented with adding least and greatest scalar functions, and it works, but I would prefer to implement this as a TransformFunction for efficiency reasons (vectorisation).

[2022-01-28 15:43] mneedham commented on #8084
Got it, thanks!

[2022-01-28 18:09] xtrntr opened #8089 "Truncated results when using GROUP BY on a high cardinality column"
## Description

`userid` is an INT column with a cardinality of >8M, from 1 to 8,XXX,XXX

TABLE has total of 3,192,209,696 rows.

TABLE has 70 segments distributed over 4 servers running on Pinot with Kubernetes, 10 cores and 35GB memory each (16GB xms/xmx). Using SSD for disk.

## Queries to replicate issue

`SELECT DISTINCTCOUNT(userid) FROM $TABLE WHERE userid BETWEEN 7000001 AND 8000000`

yiel

[2022-01-28 19:13] aditya-pt opened #8090 "Partitioned replica group assignment fails if "numReplicaGroups": 1"
If we create replicaGroupPartitionConfig config as below with  `"numReplicaGroups": 1`

[code]
Rebalance servers fails with following error

[code]
Error stack trace in controller logs
[code]

If numReplicaGroups is changed to 2. Server rebalance is successful
[code]

[2022-01-28 21:27] walterddr opened #8091 "table creation shouldn't be allowed if table delete is happening async in background"
Currently table is deleted first and the segments were deleted async behind the scene.

however if the controller died during the async deletion and got restarted. User can call the API to create an exact same name table without any issue. This should not be allowed since there's still left-over segments.

I am not sure what's the right way to fix it. but some thoughts:
1. create a soft delete sta

[2022-01-28 21:30] mcvsubbu commented on #3451
@sajjad-moradi can this issue be closed now?

[2022-01-28 21:32] walterddr opened #8092 "should SegmentDeletionManager expose the 2 public APIs?"
Currently SegmentDeletionManager has
1. a `deleteSegments` API that allows users to delete segments from property store and from deep store.
2. a `removeSegmentsFromStore` API that allows users to only delete from deep store.

This creates confusion regarding failure recovery, when the component service dies in the middle of the execution, they can either result in
- using `deleteSegments`, proper

[2022-01-28 21:34] mcvsubbu commented on #8091
Related to Issue #7711

[2022-01-28 21:36] mcvsubbu commented on #8091
During deletion:
- Start the deletion process and wait until the table goes away from EXTRERNALVIEW

During table creation:
- Verify that the table does not exist in IDEALSTATE or EXTERLAVIEW

[2022-01-28 21:41] walterddr commented on #8091
sweet. thanks for referring to #7711. is it a duplicate entirely? i think we can close this one if it is

[2022-01-28 22:21] bowen-stripe commented on #8011
Update: this appeared to be a (lack-of) memory issue. After scaling up the cluster by 2x, # of page swap went down significantly. Closing this for now.

[2022-01-28 22:21] #8011 closed

[2022-01-28 22:26] ksnijjer commented on #8091
For the user issue that we saw, table information was gone from EV/IS however entries were still left(controller seemed to die/restart in the middle) in ZK>PropertyStore(Table def. and Segments). Now table creation was still going through returning a 200 response but table didn't get created, so only checking IS/EV to allow table creation won't help.

[2022-01-29 02:18] ImAbhishekTomar commented on #8041
registry hosted on http and https both and I tried but nothing is working in config.

[2022-01-29 02:22] apucher commented on #8041
Have you tried using an absolute path for key and trust store as suggested above?

if not, you could also ping the Apache Pinot Slack Community here: https://communityinviter.com/apps/apache-pinot/apache-pinot

[2022-01-29 23:01] richardstartin commented on #7870
@siddharthteotia how fast have you got with this? Do you have the frequency distribution of the column? I have some ideas for variable length dictionary encoding which will pay off if the frequency distribution has skew and we sort the dictionary by descending frequency.

[2022-01-29 23:11] richardstartin commented on #7870
In addition to the above, given that there are runs, LZ4 will do a better job if the values are byte aligned - runs of 18 bit dictionary codes looks like a random sequence of bytes to LZ4 because the 2 bit offsets scramble the bytes (I have a demo of this effect with base64 encoding). It’s worth experimenting with rounding up to 24 prior to LZ4 compression, iff LZ4 compression is enabled.

[2022-01-31 01:12] #3451 closed

[2022-01-31 12:50] richardstartin opened #8094 "Make it possible to read strings from `Dictionary` as `byte[]`"
Currently reading values from `StringDictionary` is very expensive in terms of allocations.

Firstly an oversized `byte[]` in `StringDictionary`

[code]

Then a `String` is allocated once the size is known in `FixedByteValueReaderWriter`:

[code]

Having a `byte[]` is often preferable to a `String` anyway, so this could be streamlined by calculating the length of the `String` and then allocating t

[2022-01-31 13:35] richardstartin opened #8095 "Less verbose logging"
It's very difficult to diagnose the cause of a test failure in CI because of the very verbose logging which is almost always irrelevant to the cause of failure. A lot of the culprits come come from Helix, but some Pinot logging should be moved from WARN to DEBUG.

[2022-01-31 18:00] walterddr commented on #8091
Observation
===

The issue is whether EXTERNAL VIEW for a table goes away before or after the PropertyStore remove entries for the associated segments.

Upon checking the code in https://github.com/apache/pinot/blob/dd73ee7de1d8e8439e71b34d24627db48e06990e/pinot-controller/src/main/java/org/apache/pinot/controller/helix/core/PinotHelixResourceManager.java#L1624 the order for deleting offline table

[2022-01-31 18:52] Jackie-Jiang commented on #8091
When creating the table, we should check all the related entries for the table is already removed. Per the sequence of entry deletion, we should check table config, instance partitions, segment lineage, task related metadata.
EV should not matter because Helix is able to handle it properly when the new IS is created

[2022-01-31 18:59] Jackie-Jiang commented on #8079
Is this query supported in presto? This query syntax is not supported by Calcite (at least for the lex and conformance we use), so I think this query cannot be supported by other DB that uses Calcite as the parser.
Does it make sense to always quote the identifier for presto connector if presto supports different syntax?

[2022-01-31 19:05] Jackie-Jiang commented on #8085
We should replace the scalar function `min` with `least` and `max` with `greatest` (in `ArithmeticFunctions.java`). Currently we don't support arbitrary number of arguments in scalar function, but we can add different versions (e.g. 2 arguments, 3 arguments etc.). If user has more arguments, they can use nested `least` and `greatest`.
We can also add transform function for them, which can take arb

[2022-01-31 19:12] richardstartin commented on #8085
I would prefer to implement this as a transform function so we can operate on arbitrary tuples. I already experimented with adding `least` and `greatest` to `ArithmeticFunctions` and the results were unsatisfactory (strictly binary, does not hand null well).

[2022-01-31 19:24] walterddr commented on #8091
I have the same observation as @Jackie-Jiang and also lean towards the 1st solution.

[2022-01-31 21:38] Jackie-Jiang commented on #8092
Good point.
The retention manager doesn't really check the deep store file, but scan the ZK metadata, so I think we should first delete from deep store, then remove the ZK metadata as the last step so that the retention manager can always find the undeleted segments

[2022-01-31 21:42] walterddr commented on #8092
Exactly what I thought as well @Jackie-Jiang ^ implementing a fix

[2022-01-31 22:31] Jackie-Jiang commented on #8085
We might want both because transform function cannot be applied to ingestion transforms and post-aggregation transforms. Performance wise, transform function version is definitely better.

[2022-02-01 00:05] mqliang opened #8099 "Add Built-In plugin related info into pinot-common?"
While it's true that any pinot package should has NO dependency on pinot plugins, we have some ***build-in*** plugin, which is likely will never be removed from pinot repo, kinesis is one of the example.

Other part of Pinot may need some information about those build-in plugins, https://github.com/apache/pinot/pull/8067 is an example.

Is it a good idea to create a "PinotBuiltInPluginsType" file

[2022-02-01 20:15] #8052 closed

[2022-02-01 20:18] #5351 closed

[2022-02-01 20:19] #4345 closed

[2022-02-02 05:12] vijaya-lakshmi-venkatraman commented on #6328
HI,
I see that there is a merged PR associated with this issue.
Is this still open?

[2022-02-02 05:34] vijaya-lakshmi-venkatraman commented on #6487
Hello,
I would like to give a try if this is still available.

[2022-02-02 09:07] siddharthteotia commented on #8090
`numReplicaGroups` as 1 in `replicaGroupPartitionConfig` is treated as non-replica group based assignment. The concept of `numPartitions` and `numInstancesPerPartition` is only applicable to replica group based instance assignment.

We can consider fixing this -- will have to discuss the semantics of interpreting numReplicaGroups in a couple of places in the code. When assigning instances in repli

[2022-02-02 19:06] Jackie-Jiang commented on #6328
@vijaya-lakshmi-venkatraman Thanks for the reminder, the issue is resolved

[2022-02-02 19:06] #6328 closed

[2022-02-02 19:30] Jackie-Jiang commented on #8090
@siddharthteotia The problem here is that with single replica-group, there is no way to enable the partition-based assignment. I don't think the legacy `ReplicaGroupSegmentAssignmentStrategy` can support this either.

[2022-02-03 04:45] vijaya-lakshmi-venkatraman commented on #6301
Hello,
Is this still available?

[2022-02-03 04:59] yupeng9 opened #8114 "Delete segments of a given time range"
There are occasional asks from users to delete segments of a given range. (.e.g from 4days ago to yesterday). Since the segment metadata has the range info, it's possible for such deletion at the day's level for offline tables.

[2022-02-03 15:21] moszutij opened #8116 "A segment is not removed (moved to Deleted_Segments folder) from an S3 backed segment store when a segment is deleted"
Steps to reproduce
1. Setup controller with an S3 backed segment store
2. Create a segment using LaunchDataIngestionJob with a job type of `SegmentCreationAndMetadataPush`

The segment metadata will look something like the following:
[code]

From the UI, navigate to the newly created segment and delete it. The expected outcome is the segment file `s3://<reacted>/bi-analytics/pinot/deepstorage/acti

[2022-02-03 15:34] kbastani opened #8117 "Infer SDF for Timestamp in dimension field spec"
When ingesting a `Timestamp` field as a String that has an SDF (Simple Date Format) pattern that is non-default for `java.sql.Timestamp` in a schema's dimension field spec (which requires `yyyy-mm-dd hh:mm:ss[.fffffffff]`) Pinot will fail to import the record. To work around this, the source data must either be modified to match the standard SDF or transformed in the table spec.

Example:

[code]

[2022-02-03 16:54] walterddr commented on #8114
I think we need a more formal definition for this feature before we consider the implementation.

For example,
- do we only support absolutely aligned segment time boundaries? (e.g. do not touch any segment that are across the start/end timestamp)
  - if so, what happen to those that cross the start/end timestamp?
  - also what happen if data were reuploaded?

also i felt like this can be achieve

[2022-02-03 17:14] yupeng9 commented on #8114
Agreed. Perhaps there's a way for the user to review the identified segments (via dryrun), and then choose.

[2022-02-03 19:09] egalpin commented on #7966
+1

[2022-02-03 19:09] egalpin commented on #7310
+1

[2022-02-03 19:44] Jackie-Jiang commented on #6301
Close this per the fix in #6323

[2022-02-03 19:44] #6301 closed

[2022-02-03 19:45] #7998 closed

[2022-02-03 19:53] AkshathPatkar commented on #8075
Thanks I have sent a PR over https://github.com/apache/pinot/pull/8121. Let me know if you need more information on this

[2022-02-03 20:03] Jackie-Jiang commented on #8116
@walterddr Can you please take a look at the issue? Seems the issue is that we don't enforce the path for remote storage, thus constructing the path using `URIUtils.getUri(_dataDir, rawTableName, URIUtils.encode(segmentId))` might not match the actual remote path.

[2022-02-03 20:10] Jackie-Jiang commented on #8117
Auto-infer SDF by trying common patterns can be quite expensive. Currently in order to ingest date time as timestamp, user can use ingestion transform `fromDateTime(dateTimeCol, 'pattern'` to convert the date time to timestamp

[2022-02-03 20:12] #8085 closed

[2022-02-03 20:12] #8084 closed

[2022-02-03 20:17] walterddr commented on #8116
hmm. this doesn't make sense if it works on a local file system but not S3, since the URI get passed into both PinotFS should be the same. I wonder if it is something wrong with the PinotFS impl for S3. but I will look into it.

Meanwhile, you can take a look at: https://github.com/apache/pinot/issues/8072. by setting the deletion retention period to zero so it will instantly delete the files

[2022-02-03 20:18] kbastani commented on #8117
The overhead for this would be the same as it was before for the default condition, meaning that only if the time format for a `TIMESTAMP` in a dimension is not recognized, it will go on to the inference logic.

[2022-02-03 20:36] moszutij commented on #8116
I think the root cause might be the differences between the implementation of LocalPinotFS.exists(...). and S3PinotFS.exists(...).

LocalPinotFS.exists() for the following URI: file://var/pinot/controller/data/actions/ will return true and then attempt to move the file(s) to the Deleted_Segments folder whereas
S3PinotFS.exists() for the following URI: s3://<bucket>/pinot/controller/data/actions/ w

[2022-02-03 23:32] Jackie-Jiang commented on #8116
Note that the actual file path in s3 is `s3://<reacted>/bi-analytics/pinot/deepstorage/actions/actions.tar.gz`, and the file path pinot checked is `s3://<reacted>/bi-analytics/pinot/deepstorage/actions/actions` (the `.tar.gz`) is missing. The reason is that pinot assume all segments follow this path pattern, which is not the case for s3 segment push, where segment remains where it is

[2022-02-03 23:49] Jackie-Jiang commented on #8075
Thanks for submitting the fix. The fix has been merged, and closing this issue

[2022-02-03 23:49] #8075 closed

[2022-02-03 23:55] Jackie-Jiang opened #8123 "[UI] Query console cannot show query result when multiple columns have the same name"
![Screen Shot 2022-02-03 at 3 55 21 PM](https://user-images.githubusercontent.com/17555551/152448913-646e9132-ee30-486b-864b-6e1b78b93a35.png)
![Screen Shot 2022-02-03 at 3 55 49 PM](https://user-images.githubusercontent.com/17555551/152448953-25197cd0-de0c-42df-9ecf-f4a8957b85e9.png)

[2022-02-03 23:56] Jackie-Jiang commented on #8123
@shahsank3t Can you please help take a look?

[2022-02-04 09:58] nairDev25 opened #8130 "Batch Ingestion Not Working on Latest Build"
Facing issue while running Batch Ingestion Job. Got this issue after upgrading to latest nightly build. 0.10

The same ingestion is working witj 0.9.2 build,

Command to Run:
/pinot/bin/pinot-admin.sh LaunchDataIngestionJob -jobSpecFile  job_config.yaml

Log:

2022/02/03 00:11:06.064 INFO [CrcUtils] [pool-6-thread-1] Computed crc = 1828318080, based on files [/tmp/pinot-b263f2fa-8bad-4a49-9511-508

[2022-02-04 14:01] shahsank3t commented on #8123
@Jackie-Jiang Fixed in PR: https://github.com/apache/pinot/pull/8131

[2022-02-04 18:42] #8123 closed

[2022-02-04 23:30] Jackie-Jiang commented on #8130
Thanks for reporting the issue. Can you share the last commit hash for the build?
@vvivekiyer Can you please take a look and see if #8110 could cause the issue?

[2022-02-04 23:38] Jackie-Jiang commented on #8130
#8132 seems fix the issue. Can you please try the latest master?

[2022-02-05 00:02] #8091 closed

[2022-02-05 23:54] kkrugler opened #8141 "Support pushFileNamePattern job conf option"
We do daily builds of offline segments using Hadoop, and then store the results in HDFS in the directory that is configured as our Pinot cluster’s deep store. Our build generates 35 new (or more typically updated) per-month segments each day, which we then deploy to our Pinot cluster via a metadata push.

What this means is that we’ve got a deep store directory in HDFS with ≈ 1200 segments (repres

[2022-02-06 23:23] pjfanning opened #8142 "upgrade apache commons libs due to cves"
commons-collections 3.2.1 has a well-known CVE - see https://mvnrepository.com/artifact/commons-collections/commons-collections

commons-io 2.4 cve -see https://mvnrepository.com/artifact/commons-io/commons-io

commons-beanutils 1.8.3 - see https://mvnrepository.com/artifact/commons-beanutils/commons-beanutils

[2022-02-06 23:31] pjfanning opened #8144 "org.codehaus.jackson:jackson-mapper-asl is not maintained and has a serious CVE"
[org.codehaus.jackson:jackson-mapper-asl](https://github.com/advisories/GHSA-r6j9-8759-g62w)

it should be easy to switch to jackson 2.x - very similar api

[2022-02-07 00:36] pjfanning commented on #8144
I tried https://github.com/apache/pinot/pull/8145 but build fails due to dependency convergence check associated with hadoop 2.7.0

[2022-02-07 11:07] pjfanning opened #8149 "upgrade snakeyaml due to cve"
https://github.com/advisories/GHSA-rvwf-54qp-4r6v

[2022-02-07 11:12] pjfanning opened #8151 "upgrade h2 due to cves"
see cves in https://mvnrepository.com/artifact/com.h2database/h2

[2022-02-07 12:19] richardstartin commented on #8130
This was fixed by #8132.

[2022-02-07 12:19] #8130 closed

[2022-02-07 13:13] richardstartin opened #8153 "TableCacheTest is flaky"

[2022-02-07 19:34] ashishkf commented on #7701
Any timeline for this?

[2022-02-07 19:52] atris commented on #7701
https://github.com/apache/pinot/pull/8148

[2022-02-07 20:33] rasmus93 opened #8156 "Queries are failed under load(looks like regression bug)"
Hi, seems like there is problem with running many queries in parallel in latest build.
While performing load test I found such exceptions in logs:
[code]
and
[code]

Such exception I get even if run load only with queries like `select count(column) from test_table`. I can say that this exception is happened only on high load, i.e. I found request which were failed in logs and tried to run it separ

[2022-02-07 21:12] richardstartin commented on #8156
Hi @rasmus93, thanks for the report. It is unlikely that this is caused by 3c98a4469644fe94c40ec004c0792870ef9d8af3 if it affects `select count(column) from test_table` because the code changed there is only invoked by the `lookup` UDF. There are several commits between the two you report:

[code]

and I think the most likely culprit is 86fe41e2e9c17090f1fa9bcc39dbd61e3b649402 which times out quer

[2022-02-07 21:40] Jackie-Jiang commented on #8153
Can you please link a failed Actions run?

[2022-02-07 21:46] Jackie-Jiang commented on #8156
I think the issue is most likely caused by #8083 where the same `TSerializer` is shared across multiple threads. Per this [ticket](https://issues.apache.org/jira/browse/THRIFT-2218), seems it is not thread-safe. @mqliang Can you please help fix it?

[2022-02-07 23:40] pjfanning opened #8157 "upgrade calcite due to cve"
https://github.com/advisories/GHSA-hxp5-8pgq-mgv9

[2022-02-07 23:40] mqliang commented on #8156
Sure, will send a PR soon

[2022-02-08 00:45] icefury71 opened #8161 "Allow unnested field to be renamed during ingestion of complex type"
Pinot supports unnesting a complex type as documented here: https://docs.pinot.apache.org/basics/data-import/complex-type#handle-the-complex-type-with-ingestion-configurations

As part of this operation, nested fields appear as flat columns in Pinot with this naming convention: '<parent-name>.<child-name>'.

It might be useful to rename such "unnested" fields to a user chosen config. For instance,

[2022-02-08 03:18] timsants commented on #7966
PR for adding config for disabling groovy in queries: https://github.com/apache/pinot/pull/8159

[2022-02-08 16:18] siddharthteotia opened #8164 "Fault domain (Azure) awareness"
Sharing a design proposal for making Pinot Fault domain (Azure concept) aware. We have been working on this as part of our cloud migration work. The doc has more details on the background etc.

https://docs.google.com/document/d/1KmJ1DsYXVdzrojj_JYBHRJ2gRMQ5y-o63YqPs7ei7nI/edit#

@mayankshriv - this is the work I was referring to. Please take a look

cc @Jackie-Jiang @jasperjiaguo @vvivekiyer

[2022-02-08 22:34] sajjad-moradi opened #8171 "Pause stream consumption in realtime table"
The following document proposes a design to pause/resume consumption in realtime tables:

https://docs.google.com/document/d/19uKzPRowJ8WLE0A4g6i8XLOBwqpswH2_OvFvbxxZ_X4/edit#

This feature can be used to address the following issues: [#6302](https://github.com/apache/pinot/issues/6302), [#7280](https://github.com/apache/pinot/issues/7280), [#6854](https://github.com/apache/pinot/issues/6854), [#6

[2022-02-08 23:21] Jackie-Jiang opened #8173 "`numGroupsLimitReached` flag is not set for SQL queries"
There is a TODO in `GroupByOrderByCombineOperator`

[2022-02-08 23:26] Jackie-Jiang commented on #8089
@xtrntr I just realized that `numGroupsLimitReached` might not be correctly set in the broker response (filed #8173 to track that). To verify if the groups limit is properly set, can you please check the server log and see if you can find the following log under logger `InstancePlanMakerImplV2`:
[code]

[2022-02-08 23:50] hristo-stripe commented on #8089
You might have to set the `groupby.trim.threshold` property as well. It's set to 1M by default so anything above that gets trimmed at the group by operator.

See this code for more info: https://github.com/apache/pinot/blob/ae443e28f10acc349f3a3c4bec9a510fa6a4541a/pinot-core/src/main/java/org/apache/pinot/core/plan/maker/InstancePlanMakerImplV2.java#L83

[2022-02-09 05:59] snleee opened #8177 "Task related APIs are not working"
We are observing that the series of Task related APIs are not working.

[code]

[2022-02-09 08:46] rasmus93 commented on #8156
I have tested with latest build(which contains https://github.com/apache/pinot/pull/8160 fix) and everything is good.
So I will close issue. Thanks for quick fix!

[2022-02-09 08:46] #8156 closed

[2022-02-09 16:12] suddendust opened #8182 "Very Old Segments of a Deleted Table Still Present in Servers"
I had deleted `someTableName` long time back but was surprised to see its segments inside the data directory on servers.  One such segment that I see is`someTableName__0__248__20210212T1915Z`, which is almost a year old. We have also configured the retention period to be 1 day, so not really sure why this segment is still hanging around.

[2022-02-09 21:08] hristo-stripe commented on #8089
The threshold is the boundary where the server starts trimming. The trim size is limited to 1/2 of the threshold. So likely you need to set the `.groupby.trim.threshold` config to 2MM to enable the kind of query you run.

[2022-02-09 23:05] Jackie-Jiang commented on #8182
@walterddr Can you please take a look at this issue? We might need to change the order of segment deletion to ensure the segment from the deep store is deleted before removing the segment metadata, or the segment will become an orphan.

[2022-02-10 05:01] walterddr commented on #8182
yes. I think Jackie's analysis is probably what actually happened. could you please try querying with the following
[code]
and see if it actually returns anything. I felt like the deep store data has already been clear and it is just the zkmetadata for the segment is still there dangling around.

[2022-02-10 07:08] suddendust commented on #8182
@walterddr This query isn't working as the table has been deleted. I get a

[code]

[2022-02-10 08:30] ankitsultana opened #8187 "API for Fetching Live Brokers of a Table Doesn't Support Table Names without Type Suffix"
At present the `/tables/{tableNameWithType}/livebrokers` API doesn't support table names without the type suffix. Upstream callers that are not aware of the available types for a given table will have to try the API for both the table-types to determine the available brokers.

We can either update the existing API to handle tables names without type or add a new API. Updating the existing API woul

[2022-02-10 10:17] mamtasharma311 commented on #4400
What is Apache Pinot Architecture?

[https://www.decipherzone.com/blog-detail/apache-pinot-architecture](https://www.decipherzone.com/blog-detail/apache-pinot-architecture)
First created at LinkedIn to empower business and user-facing problems, Pinot was then donated to Apache in 2019. Apache Pinot, an open-source, real-time, column-oriented, distributed Online Analytical Processing (OLAP) datasto

[2022-02-10 16:07] walterddr commented on #8182
yes this sounds like the deletion order issue. relates to #8092

[2022-02-10 21:18] Jackie-Jiang commented on #8187
Let's change the existing API to take table name (with or without type suffix).
- If type suffix is provided, we follow the existing behavior
- If type suffix is not provided, check the table existence. If only one of OFFLINE/REALTIME table exists, follow the existing behavior; if both table exists, return the intersection of the hosts

@chenboat Do you agree on the proposed change? I remember sug

[2022-02-10 21:20] Jackie-Jiang commented on #6852
@suvodeep-pyne Can you please help answer this question? Is this command still valid after moving third-eye out of pinot repo?

[2022-02-10 21:32] Jackie-Jiang commented on #64
Closing third-eye related issue as the project has been moved out of the pinot repo. For unsolved issue that still applies, please create a new one under third-eye repo: https://github.com/project-thirdeye/thirdeye

[2022-02-10 21:32] #4676 closed

[2022-02-10 21:32] Jackie-Jiang commented on #5393
Closing third-eye related issue as the project has been moved out of the pinot repo. For unsolved issue that still applies, please create a new one under third-eye repo: https://github.com/project-thirdeye/thirdeye

[2022-02-10 21:32] #5393 closed

[2022-02-10 21:33] Jackie-Jiang commented on #5800
Closing third-eye related issue as the project has been moved out of the pinot repo. For unsolved issue that still applies, please create a new one under third-eye repo: https://github.com/project-thirdeye/thirdeye

[2022-02-10 21:33] #5800 closed

[2022-02-10 21:33] Jackie-Jiang commented on #5831
Closing third-eye related issue as the project has been moved out of the pinot repo. For unsolved issue that still applies, please create a new one under third-eye repo: https://github.com/project-thirdeye/thirdeye

[2022-02-10 21:33] #5831 closed

[2022-02-10 21:33] Jackie-Jiang commented on #5913
Closing third-eye related issue as the project has been moved out of the pinot repo. For unsolved issue that still applies, please create a new one under third-eye repo: https://github.com/project-thirdeye/thirdeye

[2022-02-10 21:33] #5913 closed

[2022-02-10 21:33] Jackie-Jiang commented on #5935
Closing third-eye related issue as the project has been moved out of the pinot repo. For unsolved issue that still applies, please create a new one under third-eye repo: https://github.com/project-thirdeye/thirdeye

[2022-02-10 21:33] #5935 closed

[2022-02-10 21:34] Jackie-Jiang commented on #5980
Closing third-eye related issue as the project has been moved out of the pinot repo. For unsolved issue that still applies, please create a new one under third-eye repo: https://github.com/project-thirdeye/thirdeye

[2022-02-10 21:34] #5980 closed

[2022-02-10 21:34] Jackie-Jiang commented on #6013
Closing third-eye related issue as the project has been moved out of the pinot repo. For unsolved issue that still applies, please create a new one under third-eye repo: https://github.com/project-thirdeye/thirdeye

[2022-02-10 21:34] Jackie-Jiang commented on #6157
Closing third-eye related issue as the project has been moved out of the pinot repo. For unsolved issue that still applies, please create a new one under third-eye repo: https://github.com/project-thirdeye/thirdeye

[2022-02-10 21:34] #6157 closed

[2022-02-10 21:34] Jackie-Jiang commented on #6182
Closing third-eye related issue as the project has been moved out of the pinot repo. For unsolved issue that still applies, please create a new one under third-eye repo: https://github.com/project-thirdeye/thirdeye

[2022-02-10 21:34] #6182 closed

[2022-02-10 21:34] Jackie-Jiang commented on #6195
Closing third-eye related issue as the project has been moved out of the pinot repo. For unsolved issue that still applies, please create a new one under third-eye repo: https://github.com/project-thirdeye/thirdeye

[2022-02-10 21:34] #6195 closed

[2022-02-10 21:35] #6591 closed

[2022-02-10 21:36] Jackie-Jiang commented on #6692
Closing third-eye related issue as the project has been moved out of the pinot repo. For unsolved issue that still applies, please create a new one under third-eye repo: https://github.com/project-thirdeye/thirdeye

[2022-02-10 21:36] #6692 closed

[2022-02-10 23:45] kkrugler opened #8192 "Fix documentation and code comments concerning path matchers"
Currently in both doc and code, sometimes a path matcher (e.g. `includeFileNamePattern`) is described as supporting both glob and regex patterns (which is correct), and other times (e.g. `excludeFileNamePattern`) only glob is mentioned.

[2022-02-11 17:58] walterddr commented on #8182
@suddendust, I am not working on it right now.

the issue can be tricky to fix and some redesign of the deletion logic might be needed. (details I've listed in #8092). please kindly take a look and we can discuss what would be the best approach.

Thanks,
Rong

[2022-02-11 18:04] #8003 closed

[2022-02-11 18:08] walterddr commented on #8092
some caveat for our current implementation
1. table deletion requires a "sync" deletion on all segments on deep store before table config were deleted. this means if there's any failure before the table is completely deleted, error might've been returned and it is up to the client to handle and reissue deletion.
2. segment deletion however requires us to first delete the property stores and asynch

[2022-02-11 18:55] chenboat commented on #8187
@Jackie-Jiang Your proposal looks fine to me. I want to make sure the change is backward compatible. i.e.,  the type suffix can be an optional query parameter. we will fall back to the current behavior if it is present. cc @ankitsultana

[2022-02-11 22:10] mapshen commented on #7977
@Jackie-Jiang Just curious, would you mind explaining what `MV` is? Wonder why it requires the same type for all the elements.

[2022-02-11 23:26] jt-kloudfuse commented on #6970
@Jackie-Jiang any plans on addressing this?

[2022-02-11 23:26] mayankshriv commented on #8141
I am curious why does metadata push take 3 hours? Are you not using the metadtata + uri push?

[2022-02-12 00:20] kkrugler commented on #8141
I don't know of any `metadtata + uri push` option - just `metadata` or `uri` (or `tar`). We're using the metadata push, which should be most efficient.

[2022-02-12 16:09] mayankshriv commented on #8141
Ah yes `metadata` push internally pushes `uri + metadata`. I am still unsure on why it takes 3 hours. When you say every segment is downloaded and metadata is extracted, are you referring to the push job, or the controller download. If former, the segment generation part could provide the metadata as well (to avoid download and extract). If latter, controller should not be downloading, that would

[2022-02-12 19:53] kkrugler commented on #8141
Re segment download & metadata extraction, yes that's happening where the push job is running. I've got a separate (in progress) PR that does a streaming extract of just the two files needed for metadata (and ensures these files are first in the segment tarball), which does speed things up, but not as much as I'd expected.

So there might very well be a bug where the controller, or some other part

[2022-02-12 23:57] mayankshriv commented on #8141
Thanks for confirming @kkrugler, and also for the fixes. Yeah, it would be great if we can identify the bottleneck, so we can fix that too.

[2022-02-14 09:02] shahsank3t opened #8198 "Showing Reported Size and Estimated Size in human readable format"
Currently UI is showing just the numbers but instead it should be shown in human readable format.

[2022-02-14 23:20] Jackie-Jiang commented on #7977
@mapshen MV (multi-valued) column in pinot works like an array, but with slightly different semantic. Pinot supports certain aggregations on MV columns (https://docs.pinot.apache.org/users/user-guide-query/supported-aggregations#multi-value-column-functions). It doesn't support mixed data types in a MV column, all the elements must be of the same data type.