[2022-10-16 02:11] pjpringle commented on #9183
I didn't think pinot should be using Kafka consumer group offset management nor auto.commit as pinot manages it own consumer partition assignment and offsets. Using a group id results in a subset of partitions getting assigned to each instance and stops the replica count from working.

[2022-10-16 17:15] jnorinder opened #9606 "Missing information in pinot-realtime-quickstart.yml"
Hi,

The file pinot-realtime-quickstart.yml needs to be updated. See attached file

As you can see I've added a copy of the schema (as airlineStatsAvro) and modified the definition of  airlineStatsAvro_realtime_table_config.json with schemaName: "airlineStatsAvro".

Also, I needed to change the following in the kubernetes/helm documentation:

[code]

To:

[code]

This made pinot a lot happier and

[2022-10-16 19:50] jatin5251 commented on #9575
@xiangfu0 we are inserting data through trino and reading directly from superset. i think this property will not help much in this case but thanks to your suggestion.

[2022-10-17 07:08] antwigambrah commented on #9558
Hi @Jackie-Jiang please assign this to me . By the way , per the discussions  above running rebalance  returns IN_PROGRESS for the first time , when you run again in dry-mode=false , it should return no-op and when the idealstate=external view the status should be returned as done .

[2022-10-17 16:43] walterddr opened #9611 "Worker manager should assign server instances according to the entire execution graph, not blindly assigning instances and hope the distributed plan generator figures things out later"

[2022-10-17 16:44] walterddr commented on #9592
this should be mitigated by https://github.com/apache/pinot/pull/9582#discussion_r996227427 and should eventually be fixed systematically by addressing this issue: https://github.com/apache/pinot/issues/9611

[2022-10-17 21:55] Jackie-Jiang commented on #7978
It is very smart. There are some extra cares need to be taken:
- There should be only one main record for each id, or it might cross match other records, and get unexpected result
- To resolve `IN_PARTITIONED_SUBQUERY` (`IN_ID_SET` after resolving `IdSet`), we need to scan all the ids because inverted index won't be applied for `IN_ID_SET`. When there are very few matching ids, this could be slowe

[2022-10-17 23:23] Jackie-Jiang commented on #9606
Thanks for reporting the issue and proposing the fix. Could you help create a PR and contribute this fix?

[2022-10-17 23:27] siddharthteotia commented on #9348
Support for changing compression type has been merged in PRs https://github.com/apache/pinot/pull/9454 and https://github.com/apache/pinot/pull/9510

Next step is to do the same for dictionary creation / deletion. cc @Jackie-Jiang

[2022-10-18 00:22] Jackie-Jiang commented on #9575
Related to #9546

[2022-10-18 00:22] walterddr opened #9615 "Support non-blocking MailboxReceivedOperator"
Currently MailboxReceivedOperator
- does a busy wait on all mailbox
- always pick the next mailbox to check in exact order instead of round-robin pick or random

propose to create a non-blocking mailbox receive operator
several thoughts:
- consolidate multiple ArrayBlockingQueue in each observer into just sharing a single queue thus the mailbox receive operator waits for signals from the blocking

[2022-10-18 00:27] Jackie-Jiang commented on #9558
Thank @antwigambrah for volunteering. We should not run the rebalance in regular (non-dry) mode again when a previous one is in progress. If you run the dry-run mode again, it should return no-op when the rebalance already reach the end state.

[2022-10-18 04:00] agavra commented on #9615
I think we should consider our thread utilization end-to-end. Specifically, in our multistage engine if we consider all the operators between a `MailboxReceiveOperator` and a `MailboxSendOperator` as a single "stage" we need to make sure that the stage only runs when there's work to be done and that the threads that are doing that work are efficiently shared between potentially many concurrent que

[2022-10-18 04:13] agavra commented on #9563
This is caused because there's a shared thread pool that's sized using the number of available cores and is used for both remote and local execution. Specifically, if there's more `MailboxReceiveOperator` tasks than there are threads in the pool it will block all threads (as the operator is a blocking call).

See #9615 as a potential workaround.

[2022-10-18 08:05] jnorinder commented on #9606
Hi,

Sure! I can give it a try.

Regards,
Julius
________________________________
Från: Xiaotian (Jackie) Jiang ***@***.***>
Skickat: den 18 oktober 2022 01:23
Till: apache/pinot ***@***.***>
Kopia: Julius Norinder ***@***.***>; Author ***@***.***>
Ämne: Re: [apache/pinot] Missing information in pinot-realtime-quickstart.yml (Issue #9606)

Thanks for reporting the issue and proposing the fix. Coul

[2022-10-18 10:43] ddcprg commented on #9418
hey @Jackie-Jiang is someone working on this issue? I could pick this if no one is on it

[2022-10-18 14:35] walterddr commented on #9575
is this a duplicate of https://github.com/apache/pinot/issues/8045 or do we expect more / different from a DateTime type?

[2022-10-18 14:58] siddharthteotia commented on #9615
May be this is also a good time / opportunity to rethink from the operator level. Here are some thoughts...

- Think of operator chain as a pipeline and data can be pumped up / down in / out of operators.
- Some operators can produce / output data (technically data blocks / record batches) upon input / consume. Example PROJECT.
- Some operators need to consume everything before produce / output da

[2022-10-18 15:39] 61yao commented on #9615
I like the idea to make operator a state machine. It is more extensible. If an operator needs to be retried, timed out or checkpoint in the future, we can easily extend that.

Since we are thinking about the architecture point of view, we should consider isolation/priority in the thread pool. Otherwise, it will easily exhaust the server resources.

This sounds like a fit for actor model? :)

[2022-10-18 19:11] agavra opened #9622 "[Design Discussion] TIMESTAMP and TIME ZONE behavior"
Hello everyone, I'm creating an issue to track the design discussion of the desired behavior for a date time type that contains time zone information. I conducted a survey of Postgres, MySQL, Trino and SQL Server and noticed that there is no standardized behavior across different SQL systems: https://docs.google.com/document/d/1Dvz7NJ2eliIFm6O1Ra4Azs_WFWR98kHOyDCznIwaXow/edit#

We can essentially

[2022-10-18 19:39] agavra commented on #9615
Had some a quick discussion with @walterddr and wanted to jot down those thoughts here so I don't forget:

- there's two orthogonal design considerations: there's parallelism within a pipe/stage and there's scheduling across different pipe/stages (potentially across queries as well). The comment that I had posted is mostly regarding the latter. I think @siddharthteotia's comment is mostly about th

[2022-10-18 21:36] 61yao opened #9625 "[multistage] [stability] Clean up MailboxService Concurrent Map"
Currently, the msg instance got queued in mailbox service concurrent map and never gets cleaned up.

Tracked the issue here.

@walterddr

[2022-10-18 21:58] walterddr commented on #9622
CC @nizarhejazi @siddharthteotia

[2022-10-18 22:08] walterddr opened #9626 "Clean up mailbox map in mailbox service if a query has finished"

[2022-10-18 22:09] siddharthteotia commented on #9622
Thanks for starting this.

@walterddr @agavra  - Do we also want to use this opportunity to get some consensus on what is our end state w.r.t everything about date/datetime/timestamp related support as first class types.

Example - @vvivekiyer also created issue regarding INTERVAL / TIMESPAN support. Are we considering this as part of discussion ?

I am not saying fold everything into one but may

[2022-10-18 22:11] walterddr commented on #9625
duplicate of https://github.com/apache/pinot/issues/9625. added more context there

[2022-10-18 22:11] #9625 closed

[2022-10-18 22:15] Jackie-Jiang commented on #9622
@siddharthteotia @vvivekiyer Yes, we want to use this opportunity to discuss the overall handling of all date/time related types. Once we all agree on the high level direction (the convention to follow), the remaining tasks are just implementing each of them.

[2022-10-18 22:17] siddharthteotia commented on #9622
Perfect. Thanks
cc @vvivekiyer

[2022-10-19 14:27] lfernandez93 commented on #9555
@xiangfu0 this has been merged

[2022-10-19 14:27] #9555 closed

[2022-10-19 17:28] agavra commented on #9615
Adding notes from offline discussion with @walterddr @61yao @siddharthteotia. Feel free to add additional details if I missed anything.

Design notes:
1. the shared buffer itself should have a notion of fairness to make sure that it doesn't fill up with data all from a single query
2. the operator chain task pool should wake up on either (a) new incoming data for the corresponding mailbox or (b) a

[2022-10-19 19:13] xiangfu0 opened #9629 "Allow submiting ingestionJobSpec yaml to launch minion task for ingestion job"
Currently, users run this command to ingest data: `pinot-admin.sh LaunchIngestionJob -jobSpec my-ingestion-job-spec.yaml`.

The goal is to make users can re-use the same yaml submit it and use minion for segment ingestion.

[2022-10-19 19:13] xiangfu0 commented on #9629
cc: @61yao

[2022-10-19 20:48] #9606 closed

[2022-10-19 23:01] Jackie-Jiang commented on #9418
@ddcprg Thanks for volunteering, assigned to you

[2022-10-19 23:16] #9431 closed

[2022-10-19 23:19] walterddr commented on #9563
i think this can be closed and merged with #9615 . we've already identified the issue and also we already saw the TODO has been added.

[2022-10-19 23:19] #9563 closed

[2022-10-19 23:56] 61yao commented on #9589
This is for multi-stage only. Let me update the issue title

[2022-10-20 14:25] cxing opened #9632 "Cache BCrypt checkpw to enahce query performance"
We found latest pinot code execute in very pool performance compared to 0.10.0 version
Here the master code running screenshot：
<img width="731" alt="image" src="https://user-images.githubusercontent.com/13634486/196975429-7d59f582-2575-4c24-b41d-50fa9517e3d8.png">
From code we found BCrypt checkpw  spend about 80ms , but the query only need 5ms
Here the enhanced screenshot in our env:
<img width=

[2022-10-20 19:02] egalpin commented on #7978
Got it, thanks for the insights!

Do you imagine that–hypothetically–if this were implemented natively, the ability to write the nested records out-of-band could be maintained?  I think this would be a very enticing feature, because it could potentially replace partial upserts for some cases (ex. for the use case where upsert is used to allow latent data to be added to an existing row at some late

[2022-10-21 05:50] gortiz commented on #9622
As usual, following the Postgres design looks like a good idea

[2022-10-21 06:00] kishoreg commented on #9622
+1000 on moving towards postgres.

[2022-10-21 21:34] nizarhejazi commented on #9204
@walterddr @Jackie-Jiang Is there any way we can support a Split function in Pinot that splits a text based on a delimiter and returns an array/MV?

[2022-10-22 07:03] Jackie-Jiang commented on #9204
@nizarhejazi I think it is already supported as a scalar function `split`. See `StringFunctions.split()`

[2022-10-22 15:27] walterddr opened #9641 "revisit function registry (advance support on function invoke)"

[2022-10-23 19:54] jatin5251 commented on #9575
@walterddr we are looking to have DATE type in pinot, we can insert date type from trino and read from python connector (https://pypi.org/project/pinotdb/ ).  i am ok with Datetime as well but i need to make modification in connector code to make it compatible with date type only

[2022-10-23 19:55] nizarhejazi commented on #9204
Thanks @Jackie-Jiang. Need to add `Split` to the String transformations listed [here](https://docs.pinot.apache.org/users/user-guide-query/supported-transformations#string-functions). Btw, how to access a specific element within the array without using Groovy?

[2022-10-23 19:58] jatin5251 commented on #9575
@Jackie-Jiang

we are looking for date type support only in which we don't have any time part. let me know your thoughts

[2022-10-23 20:15] nizarhejazi commented on #9204
@Jackie-Jiang @walterddr I get back the reference of the string array created by `Split`:
Query: `split('a,b,c', ',')`
Result: `[Ljava.lang.String;@5edb4950`

As a result, `Split` does not work w/ array functions:
Query: `arraylength(split('a,b,c', ','))`
Result: `IllegalArgumentException: The argument of ARRAYLENGTH transform function must be a multi-valued column or a transform function`

Query:

[2022-10-24 17:35] Jackie-Jiang commented on #7978
Good point!
There are some performance tradeoffs for different scope of out-of-band records to maintain. If we maintain them at partition level, it will be very similar to `IN_PARTITIONED_SUBQUERY` which requires all data on the same server and merging the selected ids from the segments. If we maintain them at segment level, we will get the best performance, but we can only support OFFLINE batch i

[2022-10-24 18:42] jadami10 opened #9645 "Pinot controllers are caching the admin endpoint for servers leading to UnknownHostException"
In trying to use the new `/tables/{tableName}/timeBoundary` API, we saw a lot of errors with `Could not validate table segment status`. We traced this to `UnknownHostException` due to the fact that we replace hosts throughout the day, and the controller caches the admin endpoint for servers. #4678 added a cache for the admin endpoint, but at 6 hours long, this means the controller can take quite a

[2022-10-24 22:59] walterddr commented on #9641
CC @61yao

[2022-10-25 00:35] Jackie-Jiang commented on #9204
@nizarhejazi This is a bug on literal only query (no need to send the query to server). When I query a column, it can return an array. But seems like when I put `', '` as the delimiter, it will try to split on both `','` and `' '`. Will submit a fix

[2022-10-25 06:31] Jackie-Jiang opened #9651 "[Flaky test] PinotHelixResourceManagerTest.testSegmentReplacement is flaky"
Example run: https://github.com/apache/pinot/actions/runs/3317031114/jobs/5479461727

[2022-10-25 10:12] vatsal2908 commented on #9523
Can you assign it to me ? And also guide me a little because this would be my first contribution.

[2022-10-25 17:37] walterddr opened #9655 "Support multi-thread execution on multistage engine"

[2022-10-25 18:20] #12 closed

[2022-10-25 18:20] #22 closed

[2022-10-25 18:21] #25 closed

[2022-10-25 18:21] #34 closed

[2022-10-25 18:21] #38 closed

[2022-10-25 18:22] #41 closed

[2022-10-25 18:22] #44 closed

[2022-10-25 18:24] #54 closed

[2022-10-25 18:25] #57 closed

[2022-10-25 18:25] #58 closed

[2022-10-25 18:25] #69 closed

[2022-10-25 18:26] Jackie-Jiang commented on #70
FST index is available to accelerate the regex match

[2022-10-25 18:26] #70 closed

[2022-10-25 18:27] #82 closed

[2022-10-25 18:28] #76 closed

[2022-10-25 18:28] #87 closed

[2022-10-25 21:12] walterddr opened #9658 "Create Scalar version of any Transform/Predicate only functions supported by V1 (compatibility & completeness)"

[2022-10-25 21:35] Jackie-Jiang opened #9659 "Support array type literal"
Currently we only support single value as literal but not array types. This can cause the following issues:
- No way to create an array from literal
- Functions like `split('a,b,c', ',')` will fail because we cannot replace it with a literal in `CompileTimeFunctionsInvoker`. Currently it will return the string representation of an array reference, e.g. `[Ljava.lang.String;@6ba8613b`

Related to #8

[2022-10-25 21:39] Jackie-Jiang commented on #9204
There are 2 issues:
1. split should work on whole separator, fixed in #9650
2. array not properly returned, which requires array literal support. Created #9659 to track it

[2022-10-25 22:40] amrishlal opened #9660 "column data type is always STRING when results are empty."
This caused a bit of confusion when one of our users ran an query on their table and the metadata that came back showed that all the columns in the result set were STRING. I debugged the issue and narrowed down the cause to the code below:

[code]
Note the use of  `Arrays.fill(columnDataTypes, ColumnDataType.STRING)` which sets all the columns in result metadata to STRING when resultset is empty.

[2022-10-25 22:46] Jackie-Jiang commented on #9660
When no row selected, we can consider returning empty result table (no data schema, no row) in the broker response. Another related issue is for aggregation query: #9531. There is indeed backward compatible concern around this change when the client/user expects non-empty result table (with data schema but no row).
Can you please also check the behavior for other query engines when there is no row

[2022-10-26 00:08] amrishlal commented on #9660
For both MySQL and Postgres, result set column datatypes are set to actual table column type when query result doesn't contain any row. I verified both through SQL and JDBC api.

[2022-10-26 00:38] amrishlal commented on #9660
Empty result generated when number of segments selected is zero (`ServerQueryExecutorV1Impl.java`):

[code]

Yes, I think this will work well from Pinot side.

[2022-10-26 09:59] ji10-hada commented on #9553
I am also, facing the same issue kindly help me. Thankyou for support.

[2022-10-26 10:00] ji10-hada commented on #9553
Did you get any solution for the same?

[2022-10-26 10:24] xiangfu0 commented on #9553
Use `controller.zk.str`  for controller conf

[2022-10-26 20:40] jasperjiaguo opened #9666 "Need customized stop word set for LuceneTextIndex"
In `LuceneTextIndexCreator` we are now hardcoding the stop words for Lucene text index.
[code]
These words will get pruned out during the text index generation as well as filter (in `StandardAnalyzer`). The problem with this is in production we found users issuing queries like
`SELECT ... FROM ignoreMe WHERE TEXT_MATCH(title, '"IT staff" OR "IT manager"')`
as will actually give the result matching

[2022-10-26 20:51] siddharthteotia commented on #9666
We need to discuss / evaluate providing stop words in the form of SPI / plugin as opposed to such that different users of text index can maintain their own stop word list.

- Changing the  existing hardcoded list which will work but may impact (index size will increase) everyone else using text index.
- Making it customizable via tableConfig (which will work in theory but will make TableConfig sup

[2022-10-26 20:59] walterddr commented on #9658
Initial plan

step 1: able to plan
- Find all supported keywords and register operator tables.
  - `FilterKind` enum, `TransformFunctionType` enum & aliases, `@ScalarFunction` annotated names
- add test for usage in V2 for plan compilation and plan resolution

step 2: able to run
with step 1 we are still unable to run every combination of the SQL operator, but the design from here can be flexible,

[2022-10-27 07:04] matthiasValuecloud opened #9670 "Working with new schema registry consuming serialized avro messages"
I am currently trying to ingest avro messages from a kafka topic using a schema registry into a pinot table.
Currently that results in an errorr: (snapshot from the pinot-server pod)
see image
![error](https://user-images.githubusercontent.com/116789801/198212354-fb95ca03-3ee3-433e-8d66-74c696419739.png)

The error states, that there is an unrecognized field "references", when trying to get the sc

[2022-10-27 10:54] 61yao opened #9671 "[multi-stage] [stability] QueryDispatcher Grpc needs to have a deadline and should be async"
QueryDispatcher submit blocking grpc call
[P0] Need to set a deadline since the worker connection is a blocking stub. If one of the rpc gets stuck, the whole request will hang. This deadline should probably be propagated with thread context info.
[P0] We should use async stub otherwise rpc is not running in parallel

[2022-10-27 20:37] agavra commented on #9615
Putting a link to a design doc here: https://docs.google.com/document/d/1XAMHAlhFbINvX-kK1ANlzbRz4_RkS0map4qhqs1yDtE

I'll schedule a design review, if anyone following this ticket would like to be a part of it just ping me on the OSS Slack with your email and I can add you.

[2022-10-28 03:23] 61yao opened #9675 "[multi-stage] [bug] aggregate node with group by key hash collision may produce wrong result"
AggregateNode is using hashcode as key for _groupByResultHolders and _groupByKeyHolder map.
If > 1 keys have hashcode collision, only one will be used to produce results.

@walterddr FYI

[2022-10-28 05:46] 61yao opened #9677 "[Testing] Easier table setup for integration test"
I haven't found a good way to set up integration test where I can specify data for table easily instead of relying on arvo files.

This will be difficult to simulate some situation where we want to put specific data in the table.

[2022-10-28 14:08] walterddr commented on #9675
yes this is possible. we need something similar to the `GroupKeyGenerator` used in leaf stage aggregate group by executor

[2022-10-28 15:43] walterddr commented on #9658
some research

1. adding `@ScalarFunction` version is the easiest way to register correctly with calcite, doing so to covert some of the missing pieces
2. type reconciliation is a bit tricky
    - transform & filter almost all support numeric/string types as inputs and can support return type differently based on type conversion required by downstream
    - scalar function using suffix type to dif

[2022-10-28 16:32] monicaluodialpad commented on #4230
Hi, (just want to make a summary of this) in this case if a column in INT type, and we would like to check IS NOT NULL value, does it mean we need to do
[code]

[2022-10-28 19:40] Jackie-Jiang opened #9683 "[Gapfill] NPE when a column is included in `TIMESERIESON` but not selected"
Query example:
SELECT GAPFILL(DATETIMECONVERT(dt, ...), '<start>', '<end>', '<gap>', FILL(requests, 'FILL_DEFAULT_VALUE'), TIMESERIESON(publisher_id)) as gdt, requests

Exception is currently thrown from:
org.apache.pinot.core.query.reduce.GapfillProcessor.process(:88)

We may decide whether to support this use case. If we don't want to support this right now, we should add some validation for the

[2022-10-28 20:25] 61yao opened #9685 "[multi-stage] [debug-ability] Better explain for each operator node"
For example, today, the aggregate node only produces "AGGREGATE" string. It is better to know what's in the agg call and what's in the group call.

[2022-10-28 23:13] 61yao opened #9687 "[multi-stage] [debug-ability] Propagate exception error message"
Currently, exception is just passed as an error block.

However, this exception message can be annotated on where it is problematic.

Say if something is wrong in AggregateOperator, we can throw exception with message "AggreagteNode runs into error etc"

[2022-10-29 07:49] Jackie-Jiang commented on #4230
@monicaluodialpad If the purpose is just to exclude the null values, with the null value enabled, `column IS NOT NULL` is enough, which won't filter out the actual 0s

[2022-10-29 16:55] bobby-richard-sed commented on #9307
Would it be better to just remove the .tar.gz extension check from the SegmentMetadataPush job?

[2022-10-29 16:57] bobby-richard commented on #9307
Would it be better to remove the .tar.gz extension check from the SegmentMetadataPush job?

[2022-10-30 10:33] 61yao opened #9690 "[multi-stage] [bug] Hash join return wrong result if hash collision happens for join key"
Same problem like https://github.com/apache/pinot/issues/9675

[2022-10-30 10:41] 61yao opened #9691 "[multi-stage] [bug] Executor service is never shut down for QueryRunner"
MailboxService is shutdown before executor service. Executor is never shut down.
This will crash pinot server during shut down and not sending upstream a shut down signal for upstream grpc channel.

[2022-10-30 10:56] 61yao opened #9692 "[multi-stage] [error-handling] No early termination for feaf stage server query request"
Time out is not passed down to server query request. each of them is set to 15s by default.
No early termination means if they are timing out,  we will spend # of requests x 15s time spinning CPU.

The worst thing is, if we are sharing the resource with v1 server, queries sent to v1 engine will be impacted.

[2022-10-31 18:13] Jackie-Jiang commented on #9670
Is this a confluent library support issue? If so, I don't have a big concern on upgrading the confluent version. We need to make sure the new confluent version is compatible with other dependencies though.
Do you want to help contribute this fix?

[2022-10-31 19:45] priyen opened #9694 "Can we add compression configuration for functionColumnPairs to StartreeIndexConfigs?"
I notice right now the Startree builder will not use any compression for metric columns. There is also no way to configure it, while in non-startree, you can do so via `noDictionaryConfig` field in the table config.

I would like the ability to configure this for startree because when a `functionColumnPairs` has a output type of bytes, such as when you use `distinctcountrawhll`, the size is big.

[2022-11-01 00:27] walterddr opened #9695 "[bug] ConnectorFactory cannot get livebroker mapping"
ConnectorFactory created connection using ControllerBrokerSelector is not giving out the list of brokers for query

- hitting the broker list will not return the right result b/c not using tableName for selection.
- hitting the `tables/livebrokers` endpoint returns a empty map even though there's live broker in the zookeeper host. thus randomization doesn't work

[2022-11-01 00:55] Jackie-Jiang commented on #9651
There are 2 root causes:
1. The cluster setup is not correct. We cannot mix single-tenant and multi-tenant in the same cluster. `PinotHelixResourceManagerTest` shouldn't use the shared cluster setup
2. Segment deletion is done using a separate thread with delay. That is causing the timeout.

[2022-11-01 13:30] bdstuart opened #9698 "RealtimeToOfflineSegmentsTask fails if the OFFLINE table has a Timestamp Index"
-- RealtimeToOfflineSegmentTask config
"task": {
    "taskTypeConfigsMap": {
      "RealtimeToOfflineSegmentsTask": {
        "bucketTimePeriod": "1d",
        "bufferTimePeriod": "1d",
        "mergeType": "concat",
        "maxNumRecordsPerSegment": "5000000",
        "schedule": "$REALTIME_TO_OFFLINE_SEGMENT_TASK_SCHEDULE"
      }
    }
  }

--  Timestamp index config in both REALTIME and OFFLI

[2022-11-02 07:04] matthiasValuecloud commented on #9670
Of course one needs to make sure that the other dependencies are still compatible.
To be honest, i have never contributed to a big project like this :D.

So maybe it would be suitable for people with better skills in that area can do it?

[2022-11-02 07:39] wirybeaver opened #9709 "Download offline segments from peers if the deep storage copy is not available"
Pinot in Uber downloads offline segments from users’ HDFS directory. When the pinot server is restarted, it would extract segment download URIs from segments’ metadata stored in Zookeeper and then reload all segments from HDFS. If customers incidentally delete the HDFS copy, the download uri becomes a sort of dangling pointer but the pinot server is not aware of that. When the server is restarted

[2022-11-02 07:48] wirybeaver commented on #9709
Implemented for non streaming download in the PR #9710

[2022-11-02 21:56] siddharthteotia commented on #9348
The 3rd part to add support for creating dictionary has been merged for both SV and MV in https://github.com/apache/pinot/pull/9678.

Last part is to delete / disable dictionary.

[2022-11-02 22:13] siddharthteotia commented on #8862
On a related note, do we think we can expose such details via SQL which is typically done by DBMSes as this metadata information is also stored in tables (under SYS user) in many systems.

In our case, this information is in per segment flat file but in theory we can try to expose this via SQL and that can be handy for debugging imo. Examples (which I have often done via some CLI script in our pro

[2022-11-02 23:14] walterddr commented on #8862
no need. we can track separately.

[2022-11-03 00:01] jasperjiaguo commented on #9666
pr: https://github.com/apache/pinot/pull/9708
user doc: https://docs.pinot.apache.org/basics/indexing/text-search-support#text-parsing-and-tokenization
This is done currently only for lucene. Support for raw text index can be added similarly as a follow up.

[2022-11-03 00:01] #9666 closed

[2022-11-03 17:14] 61yao opened #9717 "[multistage] Sort operator issue when # of pinot servers is greater 1"
StagePlan is sent to all available intermediate stage servers. When # of intermediate stage servers is greater than 1, only first server will receive leaf server data.

The other servers will spin operator waiting on mailbox.

Correctness: if any of first server returns first, we will just return error.

Wasted CPU: All servers except 1, will spin CPU on waiting something they don’t need. With non

[2022-11-03 18:33] walterddr commented on #9677
immutable segment generation should relatively be easy. I will abstract out that part from QueryServerEnclousure

[2022-11-03 18:38] walterddr commented on #9685
+1. the info should be encoded with the plannode info

[2022-11-03 18:39] walterddr commented on #9687
i think a RPC-stacktrace-like error message is useful

[2022-11-03 23:15] 61yao opened #9720 "[multistage] [error-handling] MailboxContentStreamObserver poll infinite loop"
Here is how it happens:

 Mailbox.MailboxContent content = _receivingBuffer.poll(DEFAULT_MAILBOX_POLL_TIMEOUT, TimeUnit.MILLISECONDS);

Say we never receive this mailbox due to network or the issue stated in sort operator.
_receivingBuffer.pool will throw an exception and log an error.
however _isCompleted is not set to true. The code will start while loop again.

This receive is a blocking call.

[2022-11-03 23:15] 61yao commented on #9720
@agavra

[2022-11-03 23:15] rohit-mobstac commented on #9553
@xiangfu0 I have tried `controller.zk.str` and passed the zookeeper ensemble IPs. That doesn’t seem to work either. Does StartController support something like we pass zookeeper addresses as `- zkAddress` parameter from CLI and remove controller.zk.str from the config?

[2022-11-04 00:43] 61yao opened #9723 "[multi-stage] [error-handling] Mailbox send operator on error doesn't close stream"
When send operator runs into error, the error signal is not passed into upstream operator.  Upstream channel doesn't close under this situation.

[2022-11-04 00:55] 61yao opened #9724 "[multi-stage] [error-handling] Early termination for mailbox send operator"
Should send error signal to all sent rpc if any one fails.

This could probably be done in async as well.

[2022-11-04 03:53] #9698 closed

[2022-11-04 04:09] 61yao opened #9728 "[multi-stage] [optimization] Move inequi join out of hashjoin when there is no join key"
JoinOperator is executed using for (row: broadcastTable) { join(left, right)}  and then apply inequijoin condition.

equi is applied before join condition.

See the testInequi join failure in HashJoinOperatorTest:

https://github.com/apache/pinot/pull/9743

[2022-11-04 08:53] rohit-mobstac commented on #9553
Seems like it doesnt. Getting same error after removing zk conf from config and passing it as `-zkAddress`. Overriding through CLI parameters isnt supported, maybe?

[2022-11-04 16:26] walterddr commented on #9720
_receivingBuffer.poll try catch only catches InterruptedException and all rest of the exception bubbles up.
in this case InterruptedException means some manual interrupt (e.g. query cancellation). so i don't think this would stuck in an infinite loop.

also this is not a blocking call. poll is a park-wait this should be related to #9615

[2022-11-04 16:29] walterddr commented on #9671
this is the query stage plan dispatch API yes? not the mailbox data channel?

[2022-11-04 17:33] 61yao commented on #9671
Yeah. not the mailbox one.

[2022-11-04 20:08] walterddr commented on #8862
we can probably model this as a system metadata table (all of these info should be available on server already)

[2022-11-04 21:51] Jackie-Jiang commented on #9670
@matthiasValuecloud Currently Pinot is using `5.5.3`, and there is not much dependency change if we upgrade to ` 5.5.12`. Can you please check if the problem can be fixed with `5.5.12`?

[2022-11-05 01:19] Jackie-Jiang commented on #9651
#9735 Should help with the timeout because we no longer need to wait for the segments to be deleted from the property store

[2022-11-05 04:42] Jackie-Jiang opened #9737 "Reverse the stateless and stateful controller tests"
Stateless test should represent that the cluster doesn't change the state of the cluster, so it can use a shared cluster setup. Currently we use `stateless` test group for tests that require standalone cluster setup, which is very confusing.

Also, we should annotate the stateless (shared cluster setup) tests instead of the stateful ones because without annotation it should work the same way as re

[2022-11-05 05:18] Jackie-Jiang opened #9738 "Add sync/async mode when deleting segments"
Currently delete segments API delete segments asynchronously (`PinotHelixResourceManager.deleteSegments()`), but delete table API delete segments synchronously (`PinotHelixResourceManager.deleteOfflineTable()` and `PinotHelixResourceManager.deleteRealtimeTable()`). Instead, we should provide a flag so that user can decide how to delete the segments.

When deleting a segment, we delete the segment

[2022-11-05 15:30] #9690 closed

[2022-11-06 09:40] #9553 closed

[2022-11-06 22:30] 61yao commented on #9728
@walterddr Reproduced this one in unit test

[2022-11-07 06:02] abinassahoo opened #9745 "Caught exception while starting controller, exiting. java.lang.NullPointerException: null"
Hi Team, while starting controller for my pinot cluster, i am getting below error, any suggestion is highly appreciated.

pinot version: 0.10.0

=============
command to start controller:
**bin/pinot-admin.sh StartController -configFileName conf/pinot-controller.conf**

error:
=======
Executing command: StartController -configFileName conf/pinot-controller.conf
Caught exception while starting cont

[2022-11-07 06:08] 61yao commented on #9717
I double checked the code again. there may or may not be correctness issue. I am not sure. we should test it out.
My concern is more for Singleton exchange. Turns out that's left join not sort.
Hot spot issue seems bad because SortOperator sends result to the same node.
@walterddr

[2022-11-07 07:05] 61yao opened #9746 "[multi-stage] [optimization] Return early when build side is empty for HashJoin."
Applicable for semi and inner join

[2022-11-07 07:06] 61yao opened #9747 "[multi-stage] [optimization] Skip duplicate keys for left semi join in HashJoin"

[2022-11-07 17:27] #9592 closed

[2022-11-07 20:44] ankitsultana opened #9748 "[multistage] ShuffleRewriteVisitor::canSkipShuffle Needs to Take Into Account Whether Data is on the Same Servers"
During the shuffle rewrite phase, at present we only look at the partitioning keys to determine whether we can skip shuffle across two stages. Reference: https://github.com/apache/pinot/blob/master/pinot-query-planner/src/main/java/org/apache/pinot/query/planner/logical/ShuffleRewriteVisitor.java#L185

However, it may be even though the partitioning keys are same, the data is actually on different

[2022-11-07 20:49] walterddr commented on #9748
+1. the only reason why this util is so simple rely on 2 pre-conditions.

1. all leaf stages are assumed unpartitioned
2. all intermediate stages assigned with the same set of server (in fact right now ALL server within the DEFAULT tenant)

any of these 2 assumption break could cause skipShuffle issue.

CC @agavra

[2022-11-07 21:46] Jackie-Jiang commented on #9666
Thanks for adding the user doc!

[2022-11-07 22:03] Jackie-Jiang commented on #9745
The NPE is confusing. The actual issue is that the ZK address is not properly read. Can you please double check if `pinot.zk.server` is properly configured?

FYI, this would be a good question in the Pinot Slack under troubleshooting channel

[2022-11-07 22:30] Jackie-Jiang opened #9752 "Unify some behavior in TableDataManager"
In the `TableDataManager`:
- `void addSegment(File indexDir, IndexLoadingConfig indexLoadingConfig)` is never used in production code (the only non-testing caller `addOfflineSegment()` is not wired up)
- `void addSegment(String segmentName, TableConfig tableConfig, IndexLoadingConfig indexLoadingConfig)` can be simplified because `TableConfig` is included in the `IndexLoadingConfig`
- `void addOrR

[2022-11-08 05:06] 61yao opened #9757 "[multistage][bug] Semi-join returns wrong result"
This can be reproduced using testSqlWithH2Checker in QueryRunnerTest.

See:
https://github.com/apache/pinot/pull/9756/files#diff-b9af0ca728667c7d71f10b157bbe984c7f43c3700385fa5c502e16791bb2868a

[2022-11-08 05:14] abinassahoo commented on #9745
@Jackie-Jiang, Thank you for the response. Could you please share the slack URL.

However, i have checked the ZK address and it's correct. Controller gets started if i am passing all parameters in command line , but failed if i pass the same in controller config file.

Working: **bin/pinot-admin.sh StartController -zkAddress localhost:2181 -clusterName pinot-poc -controllerPort 9001**
Failed with

[2022-11-08 16:11] xiangfu0 commented on #9745
This is fixed in https://github.com/apache/pinot/pull/9739

[2022-11-08 17:03] jadami10 commented on #9645
fixed in #9734

[2022-11-08 17:15] walterddr opened #9761 "[flakytest] LLCRealtimeClusterIntegrationTest.testInvertedIndexTriggering"
https://github.com/apache/pinot/actions/runs/3419762999/jobs/5693691165
https://github.com/apache/pinot/actions/runs/3416093989/jobs/5685886707
https://github.com/apache/pinot/actions/runs/3390452918/jobs/5634615231

[2022-11-09 04:55] 61yao commented on #9728
I did a little bit investigation. This is how I imagine this will be fixed.

1) Have a BroadcastNestedLoopJoin class to handle inequi join.
When we check inequi join condition,  hash table is probably not useful
2) Have a JoinFilterFactory then registers JoinFilterFunction

JoinFilterFunction should take (leftPos, rightPos, leftObj, rightObj)

This is because we don't want to pre-join the rows to

[2022-11-09 18:55] nizarhejazi opened #9770 "Sorted index on a non-dictionary-encoded column results in full segment scan"
Defining a `sorted index` on a `non-dictionary-encoded` column causes Pinot to fully scan the content of segments (no inverted index is utilized).

`user` table config:
[code]

Example query:
`EXPLAIN PLAN FOR select id, "home.state" from user where id IN ('some_id')`

Output:
<img width="1137" alt="image" src="https://user-images.githubusercontent.com/96436550/200915630-691efbcc-6f65-4172-8759-89

[2022-11-09 18:58] navina opened #9771 "Partial upsert doesn't support new columns in the schema"
We noticed that when a partial upsert enabled table is reloaded with a new column in the schema, the upsert behavior is not honored for the new column. This can be reproduced deterministically and the likely cause is described below:

We keep a list of columns which need to be updated in `PartialUpsertHandler`.
[code]

This is initialized during `RealtimeTableDataManager#doInit`. However, it is no

[2022-11-09 19:02] mayankshriv commented on #9770
In case of realtime ingestion, the following happens:
- The column does get stored wtih no-dict (or raw values).
- The column is also sorted on raw values, and that is reflected in metadata as well.
- However, sorted raw values != sorted index, and this leads to full scan.

While this is a valid expected behavior, I recommend we should change the precedence. If user specifies sorted as well as no-

[2022-11-09 19:31] klsince commented on #9770
FYI, currently, column encoding can't be changed (like from raw to dict encoding and vice versa) by reloading segments with the reload or reset swagger APIs.

There is [an ongoing effort](https://github.com/apache/pinot/issues/9348) to extend the segment loading logic to change column encoding to fix such issues in future.

For now, to work around this issue, one need to re-ingested the data with

[2022-11-10 00:38] 61yao commented on #9728
@walterddr   SELECT * from a WHERE a.col3 != 1 and a.col1 = b.col1. This is the query how it will fail.

[2022-11-10 00:50] 61yao commented on #9728
@walterddr Sorry for the confusion. It is actually working because empty key gives the same hash, which is 1. Let's move this out of hashJoin in the future.

[2022-11-10 13:38] matthiasValuecloud commented on #9670
f

[2022-11-10 18:03] siddharthteotia commented on #6473
Part 2 to disable / delete forward index for an existing column on the reload path has been merged in

https://github.com/apache/pinot/pull/9740

Part 3 will be to regenerate / enable back the forward index for existing column on the reload path using dictionary and inverted index.

FYI - @walterddr  @Jackie-Jiang

[2022-11-10 20:10] #9757 closed

[2022-11-10 23:34] dang-stripe opened #9783 "API for checking status of forceCommit for realtime tables"
We've leveraged the forceCommit API to minimize data ingestion lag before rebalances and other operations. It currently has no way of measuring status, aside from checking that external view + ideal state have converged on the realtime table after some timeframe.

@Jackie-Jiang suggested we can create a stateless API by exposing the earliest creation time of all consuming segments and poll that pe

[2022-11-10 23:46] dang-stripe opened #9784 "Query freshness lag spikes after running rebalance w/ includeConsuming=false"
We're currently doing this for realtime table rebalances to minimize data ingestion lag:

1. Rebalance table w/ includeConsuming=false - instance partition map is updated w/ new assignments, but no new consuming segments are created
2. forceCommit - ensure all consuming segments are sealed and new consuming segments created w/ updated assignment
3. Rebalance table again w/ includeConsuming=false -

[2022-11-10 23:52] dang-stripe opened #9785 "Adding a liveness check for consuming segments before queries are sent"
Is it possible to add a check for consuming segments to only serve queries when they are close to caught up? This is similar to the consumption based status checker but in steady state for rebalances, etc: https://github.com/apache/pinot/pull/9244

[2022-11-10 23:53] dang-stripe commented on #9784
Alternatively, we've tried this - this seems to avoid the issue above while having a slightly longer ingestion delay.

1. Force commit the table
2. Rebalance w/ includeConsuming=true

[2022-11-11 06:43] ashishkf commented on #8837
In addition, we should push the limit down to the filter - especially, scan based filters as these can be quite expensive.

[2022-11-11 07:38] 61yao opened #9787 "[multistage] Join query issue when left join table is empty"
https://github.com/apache/pinot/blob/c8c6b253ae8f0a8e9e3293b99bd37d946f94a19d/pinot-query-runtime/src/main/java/org/apache/pinot/query/runtime/operator/HashJoinOperator.java#L148 returns an EOS block directly if left table is empty.

However, when right table returns an EOS block directly, we will return an empty table.

The problem with this returning only EOS block is in the mailboxReceiveOperat

[2022-11-11 07:42] 61yao commented on #9787
The join one should be fixed by https://github.com/apache/pinot/pull/9775 but we should double check all empty table handling.

[2022-11-11 07:50] 61yao commented on #9748
Can these two assumptions be checked somewhere in the code and we return an error for this case for now?

[2022-11-11 17:31] gortiz commented on #8837
I think we are already pushing that whenever we can. Did you find a case where we do not?

[2022-11-11 19:06] ashishkf commented on #8837
For scan based filters, I don't see where the limit is pushed down. When SVScanDocIdIterator.applyAnd is invoked, it goes through all the docs from docIds parameters and tries to match value.

Ideally, caller of the applyAnd (AndDocIdSet) should call applyAnd with limit and if multiple scan based child filters are present, it should keep looping till limit is reached.

[2022-11-11 22:17] abhs50 opened #9788 "Logging Limit"
Currently 1 log on the broker is followed by N logs (1 per server). So every query gets N + 1 logs. For a high QPS system, this can turn into a lot of data.

Reduce amount of logging in broker, server using a config.

In addition to capping Log Rate at Query time, have a config to control Log Volume for segment ingestion as below

Consider exposing these as config : https://github.com/apache/pinot

[2022-11-12 00:44] navina commented on #7004
@ddcprg / @amrishlal We recently added (https://github.com/apache/pinot/pull/9224) the ability to ingest kafka (or any stream connector) message metadata as pinot table column. There is [documentation](https://docs.pinot.apache.org/basics/data-import/pinot-stream-ingestion/import-from-apache-kafka#extract-record-headers-as-pinot-table-columns) on how to access the metadata.
Do give it a try and le

[2022-11-12 19:46] 61yao commented on #9723
_responseObserver.onError() should be called when there is error or exception happening during data transfer

[2022-11-12 20:18] 61yao opened #9789 "[multistage] GrpcSendingMailbox init won't stop on exception"
This is happening on MailboxSendOperator getNextBlock().
When sendDataTableBlock is called the first time, send is called on GrpcSendingMailbox.

GrpcSendingMailbox.send() will call GrpcSendingMailbox.init(), which will call _statusStreamObserver.send(MAILBOX_METADATA_BEGIN_OF_STREAM_KEY).

If _statusStreamObserver.send() throws an exception, _initialized will not be set to true. This exception is

[2022-11-13 04:44] piyushchauhan commented on #7239
++ @npawar we are putting long value as kafka key and it doesn't have any problem. It would be great if you could validate the problem and elaborate the issue with logs.

[2022-11-13 04:47] piyushchauhan commented on #7161
@Jackie-Jiang this issue seems to be fixed please mark it accordingly.

[2022-11-13 04:53] piyushchauhan commented on #7151
@brayanjuls @MrNeocore  were you able to reproduce this issue?

[2022-11-13 05:03] pjpringle commented on #7239
Actually no issue, will close. Although would be useful to have the option to store/map the kafka revord key in pinot.

[2022-11-13 05:03] #7239 closed

[2022-11-13 05:24] piyushchauhan commented on #7239
@pjpringle But kafka key is the id of the primary key of the pinot table. So it is already being stored right?

[2022-11-13 05:25] piyushchauhan commented on #6823
@xiangfu0 does this still persist after merging #7407 ?

[2022-11-13 05:30] piyushchauhan commented on #5694
There was +4.81% increase in from 64.67%  to 69.49%.
Do we still need to increase the coverage?

[2022-11-13 05:44] piyushchauhan commented on #5391
As of 0.11 I think there is a job id that id given when a segment reload it triggered and we can use that job id to understand if the segment reload if finished or not. Please confirm @Jackie-Jiang @npawar

[2022-11-13 05:47] piyushchauhan commented on #9783
I haven't used the forceCommit feature. But IMO forceCommit should trigger a job and job id should be returned. You can periodically check for the status of the job and decide accordingly.

[2022-11-13 07:05] pjpringle commented on #7239
No the key is not available inside pinot, hence why this config doesnt
matter. However the key does drive partitioning on kafka.

It would be good if we could define a key schema and access this data in
pinot.  This would make segment routing/pruning/primary key configuration
easier.

On Sun, 13 Nov 2022, 13:24 Piyush Chauhan, ***@***.***> wrote:

[2022-11-14 15:08] drawal1 opened #9793 "Dead server and broker exist in ideal state - stopping kafka topic ingestion and leaving all tables in bad state"
Repro steps:
1. kafka/pinot setup on EKS
2. kafka topic retention time is 1 day. In that 1 day, the topic accumulates a small amount of data (~5MB)
3. Wait the 1 day
4. See that server and broker are dead but they exist in ideal state. See that kafka topic ingestion has stopped. See that all tables are in a bad state

![image](https://user-images.githubusercontent.com/114010652/201694536-b3dc5fde-

[2022-11-14 15:13] mayankshriv commented on #9793
Thanks for reporting this.
@61yao please take a look.

[2022-11-14 20:58] monicaluodialpad commented on #5069
^ it is a good question. May I also know about the plan?

[2022-11-14 21:26] bagipriyank commented on #9393
@walterddr i didn't change / add the retention period on the table. basically there is no retention config for the table. i used retention of 0d / -1d as a parameter on the delete segments api [here](https://github.com/apache/pinot/blob/master/pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentRestletResource.java#L822)

[2022-11-14 22:00] walterddr commented on #9393
ah. ok i think this is indeed unexpected behavior. please let us know what your find in the log. thanks!

[2022-11-15 19:22] #9615 closed

[2022-11-15 22:07] snleee opened #9805 "Add the support for DefaultAzureCredential for ADLSGen2PinotFS"
Currently, S3PinotFS implementation falls back to initialize credential using `DefaultCredentialsProvider` when the access key and secret is not provided by the pinot config. In this way, we allow users to set env variables like `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY`.

For ADLS Gen2 Pinot FS, we expect users to pass `accessKey` and `accountName` via pinot config. We should use default cre

[2022-11-16 06:08] npawar commented on #9417
Closing this issue for now. Please reopen if issue persists and debugging steps provided by @navina don't help

[2022-11-16 06:08] #9417 closed

[2022-11-16 06:12] snleee opened #9809 "Improve the documentation on the new Date Time Formats"
From 0.11.0, we have adopted the new date time formats (https://github.com/apache/pinot/pull/9378). We do have the documentations regarding to the new format; however, our schema (`flights-schema.json`) examples are using the old format. It would be great if we can add some more data time field with the new date time format in the example schema:

Document needs to be edited:
https://docs.pinot.ap

[2022-11-16 06:13] snleee commented on #9809
@KKcorps Can you take a look into this?

[2022-11-16 06:14] KKcorps commented on #9809
Cool, Will do that.

[2022-11-16 10:33] vmarchaud opened #9812 "bug(broker): fail to group by after groovy extraction when upgrading to 0.11"
Slack ref: https://apache-pinot.slack.com/archives/C011C9JHN7R/p1668446311267249

We just upgraded to 0.11 from 0.10 and some of previously working queries started to fail:
[code]
Yield:
[code]
In the broker log:
[code]

However the query works if we remove the `GROUP BY 1` but thats doesn't get the correct result anyway. I suspect that comes from the groovy part but again this was working previou

[2022-11-16 15:10] drawal1 commented on #9793
why are the servers/controllers/brokers dying? - This may be due to memory pressure and so not a pinot issue. So the only question is why the tables are not transitioning to the new servers/brokers

[2022-11-16 17:57] snleee commented on #9415
Good catch 👍

[2022-11-16 18:01] snleee commented on #9812
@vmarchaud Can you try to add the Pinot controller/server config and check if it works after that? From 0.11.0, I believe that the default behavior is to disable Groovy functionality due to the security concern.

[code]

[2022-11-16 18:59] bagipriyank commented on #9393
This is what i see in the logs
[code]

I don't see any entries in map fields for the table in external view or ideal state. i don't see any segments for the table in property store either. It has been more than 12 hours since I invoked delete segments api call via swagger but I still see the segments on the disc on the server
[code]

This is the table config
[code]

[2022-11-16 19:45] bagipriyank commented on #9393
I think I know what is happening
From https://github.com/apache/pinot/blob/c9a6e5207a6cedf325f4abaeac2970077ab5685d/pinot-server/src/main/java/org/apache/pinot/server/starter/helix/HelixInstanceDataManager.java#L241
[code]
Now from https://github.com/apache/pinot/blob/c9a6e5207a6cedf325f4abaeac2970077ab5685d/pinot-server/src/main/java/org/apache/pinot/server/starter/helix/HelixInstanceDataManager.

[2022-11-16 22:01] bagipriyank commented on #9393
this is our helm chart config for server
[code]

[2022-11-16 23:56] kirkrodrigues opened #9819 "Add plugins to support storing and querying JSON log events in Pinot"
We want to be able to store JSON log events in Pinot so that they can be queried efficiently and so that we can reduce storage costs. Part of this involves encoding unstructured message fields in the log event using a new log compressor called CLP. The other part is to transform the log event to fit a table's schema (e.g., extracting nested fields and storing them in a column). We think this can b

[2022-11-16 23:56] amrishlal opened #9820 "Numerical type conversion of literal values in IN and NOT_IN clause"
Pinot currently supports numerical type conversion of literal values in WHERE clause as shown in the examples below:
[code]
This support was added through PR https://github.com/apache/pinot/pull/6811 and https://github.com/apache/pinot/pull/6927. However, Pinot still doesn't support type conversion of literal values that may appear in the IN clause. For example, the queries shown below will throw

[2022-11-17 00:05] bagipriyank commented on #9393
I tried reproducing it locally by running Quickstart from with in IDE and I am not able to reproduce the issue.
[code]
segment directory does have the table name in the path
i am guessing that we have something mis-configured or maybe we completely missed configuring something.

[2022-11-17 00:34] bagipriyank commented on #9393
i found what caused it, and am able to fix it. i don't know why it causes the issue though.
we have `dataDir` and `segmentTarDir` but then we also have extra configs
[code]
if i remove these two extra server configs then segments are stored at a path with table name in the path  :shrug:

[2022-11-17 02:35] snleee opened #9822 "SIMPLE_DATE_FORMAT have a different behavior for `X` letter compared to Java"
Java's `SimpleDateFormat` (https://docs.oracle.com/javase/8/docs/api/java/text/SimpleDateFormat.html) has a `X` letter to represent the time zone in the format of `-08:00`. The behavior of Pinot's `SIMPLE_DATE_FORMAT` in `DateTimeFieldSpec` is actually different from Java. Here is the code to reproduce:

[code]

[2022-11-17 04:17] walterddr commented on #9393
looks like the `pinot.server.instance.dataDir` extra config is conflicting with the definition in service's key `dataDir`.

according to [kubernetes/helm/pinot/templates/server/configmap.yaml](https://github.com/apache/pinot/blob/287534262fd9ccd8507fd06efaec2dd14a4d29cf/kubernetes/helm/pinot/templates/server/configmap.yaml) you can see it appends both:
[code]
e.g. you will have 2 `pinot.server.ins

[2022-11-17 06:43] bagipriyank commented on #9393
@walterddr looks like you are correct. i see two entries in the pinot server configmap
[code]

[2022-11-17 08:13] vmarchaud commented on #9812
@snleee Yeah i saw that in the changelog and i've re-enabled groovy, it actually gives another error if it's not enabled.

[2022-11-17 09:37] suddendust commented on #8755
@siddharthteotia Any update on this?

[2022-11-17 18:03] snleee commented on #9812
@vmarchaud Can you post the server side log to check where we get the NullPointerException?

[2022-11-17 19:31] amrishlal commented on #9820
FYI: @siddharthteotia @Jackie-Jiang

[2022-11-17 19:50] vmarchaud commented on #9812
@snleee I only get the following line:
[code]

[2022-11-17 23:40] walterddr opened #9831 "[flaky-test] ForwardIndexHandlerTest.testDisableForwardIndexForSingleRawColumn is flaky"
[code]

test was added in #9678, tagging @vvivekiyer

[2022-11-18 00:15] #9415 closed

[2022-11-18 00:35] kishoreg commented on #9819
is this limited to JSON format or any text?

[2022-11-18 04:13] kirkrodrigues commented on #9819
The plugins would be limited to input JSON records and CLP's encoding can be applied to any text field within those records.

Our short term goal is to kind of use Pinot as a black box columnar store. So we'd apply CLP's encoding to decompose a text field into a columnar format and store the columns in Pinot; for logs this should reduce the storage overhead of that field while still allowing it to

[2022-11-18 19:09] snleee opened #9834 "Add Delete Schema/Table for pinot-admin command"
Currently, pinot-admin commands support to create Pinot table and schema but do not support to delete schema/table.

Refer `AddTableCommand` and `AddSchemaCommand`.

[2022-11-18 21:24] xiangfu0 commented on #9834
+100.

Also shall we just go a step further to support DROP SCHEMA or DROP TABLE statement

[2022-11-18 22:48] chenboat commented on #9819
The CLP encoding should be applicable to multiple input formats including JSON and text. Our first implementation of stream decoder should will be based on JSON log input. @kirkrodrigues can we extract the core logic so that other input stream format can easily use it too? May not be the first PR but can be a good follow up one.

[2022-11-19 11:15] kirkrodrigues commented on #9819
@chenboat Yeah, I could lift the CLP-encoding logic into a class so that it's easy for other input formats to use it.

[2022-11-19 11:54] #9745 closed

[2022-11-19 12:11] Jackie-Jiang commented on #9771
Related fix: #9777

[2022-11-19 12:14] Jackie-Jiang commented on #9770
I'd suggest throwing error (during table config validation) when the explicitly configured sorted columns is configured as no-dictionary column to avoid the confusion. We should make the exception message very clear on why sorted column should not be configured as no-dictionary

[2022-11-19 12:22] Jackie-Jiang commented on #9670
cc @xiangfu0 any idea on this issue?

[2022-11-19 12:25] Jackie-Jiang commented on #9670
Also cc @elonazoulay @ddcprg who contributed to the confluent avro package

[2022-11-19 12:33] Jackie-Jiang commented on #9785
One way I can think of is to integrate the consumption status check into the segment state transition from `OFFLINE` to `CONSUMING`. Basically do not mark the segment ready before the consumption catch up. It can slow down the state transition (if it takes very lone, it can even time out, but we can probably put a time limit for the wait), but maybe the correct approach, which can apply to both st

[2022-11-21 09:45] KKcorps commented on #9809
Updated
https://app.gitbook.com/o/-LtRX9NwSr7Ga7zA4piL/s/-LtH6nl58DdnZnelPdTc-887967055/~/changes/eyzG3orTd7QY8YaUOtGe/basics/components/schema

https://app.gitbook.com/o/-LtRX9NwSr7Ga7zA4piL/s/-LtH6nl58DdnZnelPdTc-887967055/~/changes/eyzG3orTd7QY8YaUOtGe/configuration-reference/schema

[2022-11-21 09:45] #9809 closed

[2022-11-21 19:35] Jackie-Jiang opened #9839 "Improve AND filter operator"
Related issues: #9402, #8837

There are some improvements we want to do for AND filter operator:
- Avoid scanning the docs from the low selectivity filter when applying AND
- Skip using indexes when the selected docs are already very few. Using scan instead
- When applying bitmap to a scanned operator, push down the limit to avoid full scan (or evaluate lazily)

[2022-11-21 19:36] Jackie-Jiang commented on #8837
@ashishkf Good call! Created #9839 to track various improvements for AND operator

[2022-11-21 21:11] Jackie-Jiang commented on #9788
We already have some rate limit config, see `QueryLogger` class for details. Do you think we need to add more configs?

cc @agavra

[2022-11-21 21:13] #7161 closed

[2022-11-21 21:16] #7232 closed

[2022-11-21 21:17] Jackie-Jiang commented on #6823
Fixed with #7407

[2022-11-21 21:17] #6823 closed

[2022-11-21 21:21] Jackie-Jiang commented on #5391
Supported with #8828

[2022-11-21 21:21] #5391 closed

[2022-11-21 21:40] ashishkf commented on #9839
Can you please see if docs can be iterated per the "order by" clause if the order by column also happens to be in the sorted column? This is useful if say, segments are sorted by the timestamp column but the query has "order by timestamp desc". In that case, in addition to limit pushdown applyAnd could passed a flag - ascOrDesc - to use either the forward or reverse bitmap iterator.

[2022-11-21 22:04] tspannhw opened #9840 "Everytime I add a table"
[AddTableCommand] [main] {"code":400,"error":"TableConfigs: thermal already exists. Use PUT to update existing config"}

[2022-11-21 22:59] jadami10 commented on #9785
I think this gets into classic routing problems. There's some threshold of unavailable segments or failed queries where you may want to go back to routing everywhere instead of failing because only M/N replicas are available.

[2022-11-21 23:36] bagipriyank commented on #9788
@Jackie-Jiang rate limiting option in `QueryLogger` is very helpful to limit the logs from broker. However right now, there is a log per query from each server that is involved in responding to the query. We are looking at options to reduce logging on the server side, and not just broker.

We also want to look at reducing log volume from ingestion from kafka. Looks like options for controlling tha

[2022-11-22 00:45] Jackie-Jiang commented on #9793
The table won't automatically switch to use the new servers/brokers if the instance id doesn't match. Users will need to manually trigger a rebalance/rebuildBrokerResourceFromHelixTags to switch to the new servers/brokers because pinot won't know if the old instances are permanently gone. Usually the way to replace dead instances is to start new instances with the same instance id, so that the tab

[2022-11-22 01:04] snleee commented on #9822
After some investigation, we actually use JODA library for parsing `SIMPLE_DATE_FORMAT` https://www.joda.org/joda-time/key_format.html

However, our documentation points the Java's SimpleDateFormat.

1. We need to change the documentation to point JODA.
2. We need to discuss if we want to add the Java's SimpleDateFormat support.

@Jackie-Jiang

[2022-11-22 01:18] Jackie-Jiang commented on #8755
Don't remember the intention for this issue, but the raw index for MV columns is already supported with #7595

[2022-11-22 01:24] Jackie-Jiang commented on #8804
cc @snleee

[2022-11-22 01:35] Jackie-Jiang commented on #9820
After a second thought, should we consider handling it in the `PredicateEvaluatorFactory` where the data type is already known? That way we can also handle arbitrary expressions on the left-hand side.

[2022-11-22 01:46] Jackie-Jiang commented on #9812
@vmarchaud Can you check if there is stack trace for this NPE? Usually the stack trace is logged when the exception occur for the first time

[2022-11-22 02:11] snleee opened #9841 "Documentation needs to be improved for `Access Control`"
Currently, we have a documentation for https://docs.pinot.apache.org/operators/operating-pinot/access-control

We have the following implementation:

1. BasicAuthAccessControlFactory
2. ZkBasicAuthAccessControlFactory

We should add the documentation on how to configure and use it.

[2022-11-22 18:08] Jackie-Jiang opened #9843 "In Pinot dashboard, sorting on table size takes alphabetical order"
It should be size order instead with regard to unit (e.g. GB before MB)

[2022-11-22 18:11] Jackie-Jiang commented on #9843
cc @joshigaurava @jayeshchoudhary @jadami10

[2022-11-22 19:28] Jackie-Jiang commented on #9393
This is a known issue, which is tracked here #9102

Is the problem resolved after removing these 2 extra entries?

[2022-11-22 19:34] Jackie-Jiang commented on #9839
@ashishkf Good point! There are actually some discussion about providing reversed doc iterator in #8979. We should consider adding a method to return the reversed iterator, and evaluate `applyAnd` lazily.

[2022-11-22 19:41] Jackie-Jiang commented on #9840
Link #9834 which is for the same topic

[2022-11-22 21:42] KKcorps commented on #9840
Agreed. Will add the update functionality in the command.

[2022-11-22 22:23] mndoping1 opened #9845 "Allow Pinotdb client to hit v2 engine"
Python's Pinotdb client version 0.4.5 (https://docs.pinot.apache.org/users/clients/python)  does not support `table aliasing`. For example, queries such as `SELECT "tbl1"."x" FROM "y" "tbl1"` aren't able to run because table aliasing isn't supported. However, Pinot's v2 engine:https://docs.pinot.apache.org/developers/advanced/v2-multi-stage-query-engine allows table aliasing and we'd need the clie

[2022-11-22 22:25] Jackie-Jiang commented on #9788
On the server side, we have `pinot.query.scheduler.query.log.maxRatePerSecond` which is similar to the config on the broker side. More configs can be found here: https://docs.pinot.apache.org/configuration-reference/server

[2022-11-22 22:29] mndoping1 commented on #9845
closing as created the issue in approprate repository here: https://github.com/python-pinot-dbapi/pinot-dbapi/issues/52

[2022-11-22 22:29] #9845 closed

[2022-11-23 00:22] Jackie-Jiang commented on #9812
Actually this is not an aggregation group-by. Is the intention to get the distinct values? It didn't fail in `0.10.0` probably because the `GROUP BY` is ignored?
To get the stack trace, can you try restarting the server and then issue the same query again?

[2022-11-23 00:23] amrishlal commented on #9820
If LHS is an expression, then things seem to work as in the statement `select runs from baseballStats where 2*runs IN (310.0, 300.0)`. I think this works because, the LHS is of type DOUBLE and hence `BaseRawValueBasedPredicateEvaluator.newRawValueBasedEvaluator` converts all IN clause values into DOUBLE and converting any numerical value to DOUBLE is a valid conversion in Pinot.

However, `select

[2022-11-23 00:27] Jackie-Jiang commented on #9820
Not all expressions work though. If the result of the expression is type `INT`, then it won't work, and the current optimizer cannot fix it

[2022-11-23 00:54] snleee opened #9847 "Add gz compressed file support for `ORCRecordReader` and `ParquetAvroRecordReader`"
Currently, many record reader implementation supports to read either raw file or gzip file as an input. For instance, csv record reader can understand both `data.csv` and `data.csv.gz`.

Here are the list of record readers that we don't support `gz` compressed files :

1. ORCRecordReader
2. ParquetAvroRecordReader

[2022-11-23 04:16] yupeng9 commented on #8804
Missed this thread. Uber uses LLC only.

[2022-11-23 09:14] vmarchaud commented on #9812
Yes it is.

Well we do get distinct values with 0.10, if i remove the group by on 0.11 i do get a result but not distinct.

Thanks for the tip to restart it, here's the error:
[code]

NPE is [here](https://github.com/apache/pinot/blob/release-0.11.0/pinot-core/src/main/java/org/apache/pinot/core/operator/transform/function/JsonExtractKeyTransformFunction.java#L90) but i'm not sure to understand ho

[2022-11-23 15:48] snleee commented on #9805
@xiangfu0

[2022-11-23 17:58] agavra opened #9853 "Casting TIMESTAMP to TIMESTAMP causes Function Invoker to fail"
The following test:

[code]

Fails with the following exception:
[code]

The reason is that the `DayOfWeek` method takes in a long and the cast turns the timestamp into a string (instead of keeping it as a Timestamp type).

[2022-11-23 20:28] navina opened #9854 "Delete unused subscriptions created by pinot-pulsar plugin"
In Pulsar's `StreamMetadataProvider` implementation, we dynamically create a `Consumer` pulsar client with random subscription id to fetch metadata. We only close the consumer and do not clean up the subscription. This results in unused subscriptions in the source for a topic.
This issue is aggravated as the realtime engine instantiates a new metadata provider based on idle timeout.

**Possible Fi

[2022-11-23 21:47] #9518 closed

[2022-11-23 22:44] Jackie-Jiang commented on #9812
Wow, it is a bug.. Notice the second one is SV instead of MV..
[code]

[2022-11-24 00:07] #9812 closed

[2022-11-24 02:00] bagipriyank commented on #9393
@Jackie-Jiang yes the issue is resolved after removing the 2 extra entires.

[2022-11-24 18:12] #9393 closed

[2022-11-25 08:02] gortiz commented on #9162
I've tried Chronicle Bytes in https://github.com/apache/pinot/pull/9842, but I after fixing some errors for a couple of days, I would recommend to do not use it. Some design decision are quite different to what someone using ByteBuffers or LArrays would expect (which is even worse when the methods are not properly documented), some features are not present (like copying to a ByteBuffer from a give

[2022-11-25 13:54] vmarchaud commented on #9812
@Jackie-Jiang Thanks for the quick fix ! Wondering if you have a idea for the next release ? I don't expect it to be in the next two week but asking anyway, i'll do my own build if thats too far

[2022-11-26 18:13] #9675 closed

[2022-11-27 14:02] suddendust commented on #8755
@Jackie-Jiang IIRC, we have a very high cardinality MV column on which we want to turn off dict encoding. However, do so does not let us define inverted index on these columns. So we want to be able to have the inverted index WHILE having the option to turn off the dictionary for this column. The dictionary ends up occupying around 50% of the segment size.

[2022-11-27 14:03] suddendust commented on #8755
@Jackie-Jiang Further description [here](https://github.com/apache/pinot/issues/8750).

[2022-11-27 20:10] Jackie-Jiang commented on #8755
Since the topic of this issue is already supported, closing this one and use other issues to track the specific feature request

[2022-11-27 20:10] #8755 closed

[2022-11-27 20:14] Jackie-Jiang commented on #8750
For this column, the length of the values are quite skewed (from 20 to 512). The default string dictionary stores values with fixed length (shorter values are padded to be the same length), so the size of the dictionary is 8 (header) + 512 * 776088 = 397357064. Instead, we can store it using var-length dictionary, which has a 4 bytes overhead per entry, but avoid padding the values.

[2022-11-28 00:18] Jackie-Jiang opened #9865 "Automatically use var-length dictionary for STRING"
Currently user needs to manually configure the var-length dictionary column. Ideally Pinot can automatically decide whether to use var-length per the stats collected. We can consider reusing the config `optimizeDictionary` which currently only apply to fixed width types.

[2022-11-28 06:47] suddendust commented on #8750
@Jackie-Jiang So that'd be 8 + 4 * 776088 ~ 3M. Sounds good. Shall I create an issue for this?

[2022-11-28 07:25] ankitsultana opened #9867 "[multistage] Add Support for Not-In Operator"
At present the following query doesn't work:

[code]

This gets converted to a left-join which is correct. However there a couple of issues:

1. The FilterOperand doesn't recognize the "IS NOT TRUE" function.
2. Projection for the table-scan is not pushed down, so the join ends up pulling in data for all the columns.

re: 2, it also hits a bug where the mailbox send operator receives a block which

[2022-11-28 17:33] walterddr commented on #9867
CC @agavra for the 1 less column - i believe this has to do with how the current pinot-broker reducers expects vs. how calcite expects. thus pinot-server instance response operator returns something not compatible.

[2022-11-28 22:01] Jackie-Jiang commented on #9853
Good catch. I think `cast` can correctly convert the value to `Timestamp`, but we don't have the `Literal` expression support on `Timestamp` type, thus has to store it as string

[2022-11-28 22:03] Jackie-Jiang commented on #9793
Thanks for providing the detailed solution!

[2022-11-28 22:08] etolbakov commented on #9847
hi @snleee
happy to give this ticket a go if no one else is working on it.

[2022-11-28 22:32] Jackie-Jiang commented on #9812
@vmarchaud We'll probably cut the next release late Dec. or early Jan.

[2022-11-28 23:22] Jackie-Jiang commented on #8750
It is already supported if you configure it as `varLengthDictionaryColumns`: https://docs.pinot.apache.org/configuration-reference/table#table-index-config
Created #9865 to automatically use var-length dictionary

[2022-11-28 23:23] Jackie-Jiang commented on #9865
Alternatively, we can consider only using fixed length dictionary when all the values have the same length, use var-length dictionary otherwise. This can avoid the padding byte scan, which can be quite costly

[2022-11-29 01:35] siddharthteotia commented on #9055
Implementation for runtime query killing on server has been merged as part of https://github.com/apache/pinot/pull/9727

@jasperjiaguo is working to extend the support on broker as well. More or less similar design shared and reviewed earlier here but just extending it to work with broker execution code and thread model.

Here are the user docs to leverage the feature on server - https://docs.pino

[2022-11-29 04:38] amrishlal commented on #9820
Discussed briefly with @Jackie-Jiang offline. Jackie mentioned that these proposed changes in `NumericalFilterOptimizer` won't apply to cases where the LHS of the predicate is not DOUBLE (and this can happen currently when functions like `timeConvert` and `arrayLength` are used on LHS). The current plan is to make these changes in `NumericalFilterOptimizer` as interim fixes and then follow up with

[2022-11-29 16:06] rohit-mobstac opened #9869 "Pinot stop consuming from Kinesis Data Stream"
Pinot realtime ingestion from kinesis data stream works as expected for sometime but eventually stops consuming. While checking server logs, `connection refused` error is shown. Is this due to the issue mentioned in this PR #9863.
[code]

[2022-11-29 16:13] rohit-mobstac commented on #9869
Another problem that I have noticed is the segments are not getting committed to deep store (s3) even after `realtime.segment.flush.threshold.time` set to `1h`

[2022-11-29 17:18] rohit-mobstac commented on #9869
no the server and controller are in different EC2 instances. @navina

[2022-11-29 19:47] Jackie-Jiang commented on #9831
Another example failure run: https://github.com/apache/pinot/actions/runs/3577370671/jobs/6016291495

[2022-11-30 01:52] Jackie-Jiang opened #9874 "Switching from raw index to dictionary encoding breaks REALTIME segments"
#9454 introduces the feature to switch from raw index to dictionary encoding during segment reload. But for REALTIME table, the cardinality info is not available for raw index columns during stats collection, so we put Integer.MIN_VALUE as the cardinality in the segment metadata.
When switching from raw index to dictionary, the cardinality is not updated in the segment metadata, but it is required

[2022-11-30 01:53] Jackie-Jiang commented on #9874
@vvivekiyer Can you please take a look at this issue and see if my analysis is correct. cc @siddharthteotia

[2022-11-30 02:00] vvivekiyer commented on #9874
Looking into this.

[2022-11-30 17:46] #654 closed

[2022-11-30 18:13] Jackie-Jiang commented on #6726
Done with #8890

[2022-11-30 18:13] #6726 closed

[2022-11-30 18:13] siddharthteotia commented on #9348
This effort is completed. For offline segments, following segment format updates can be made without having to refresh / backfill

- Create dictionary and rewrite dependent structures
- Delete dictionary and rewrite dependent structures
- Change compression codec for raw forward index and rewrite it

Support added for both SV and MV columns.

Closing this as completed.

Thank you @vvivekiyer for s

[2022-11-30 18:13] #9348 closed

[2022-11-30 18:13] #5388 closed

[2022-11-30 18:14] #5600 closed

[2022-11-30 18:14] #4230 closed

[2022-11-30 18:17] Jackie-Jiang commented on #8094
Done with #9441

[2022-11-30 18:17] #8094 closed

[2022-11-30 19:07] Jackie-Jiang commented on #9305
@huang1st Sorry I lost track of this issue. Did you find the cause of the issue?
Is the `value` column always whole number in the input data? What is the rough cardinality (unique values) of the column?
Most likely the issue is caused by #8722, but I don't see why it doesn't work. If you can reproduce it, can you try reverting this commit and see if the issue is fixed?

[2022-11-30 19:25] xiangfu0 opened #9881 "Make HTTP header not use underscore"
Usually it's fine, however we observed many cases that when users put pinot controller/brokers behind a nginx reverse proxy, then it will by default drop headers with underscore.

For now at least we should put header with both underscore and hyphen.

Sample headers causing problem: `DOWNLOAD_URI` and `UPLOAD_TYPE` in segment upload.

cc: @zhtaoxiang @npawar @mayankshriv

[2022-11-30 22:55] Jackie-Jiang commented on #9761
This is caused by a bug (or undesired behavior) in real-time freshness calculation: when a new consuming segment is created without consuming records from upstream, the freshness value will be reset to 0. This fails the check in the test

[2022-11-30 23:11] egalpin commented on #7519
@atris Any update on the progress of a PR to support GROUP BY?  Would be a very exciting feature to see 😊

[2022-11-30 23:19] Jackie-Jiang commented on #9784
Checked the code and confirmed the behavior: when the committed segments are moved to a different server, when that server is queried, we can only use the max end time of the committed segments as the freshness time, which leads to this freshness lag spike. After the consuming segment is moved, the freshness lag will get back to normal.

This issue also applies to the tables that have committed se