[2020-01-06 18:43] npawar opened #4962 "Create a new query endpoint for sql"
Add a new endpoint to the pinot broker, which will be the sql query endpoint. Adding a new endpoint will make it easier for migration from pql to sql.
The sql endpoint will fix the query type to sql, the response format to sql, and the group by mode to sql. There will be no scope for configuring these.
The pql endpoint will continue to support options responseFormat=sql and groupByMode=sql.

[2020-01-06 19:16] npawar commented on #4962
Existing endpoints are:
1. /query
GET
[code]
This is a strictly PQL endpoint. A JsonNode is created in this method, which sets the query into a "pql" fieldname. There's no scope yet to add any query options, which is necessary for sql

2. /query
POST
[code]
This endpoint takes a payload. As a result, this one works for pql as well as sql. This one also lets you set the query options for pql.

We h

[2020-01-06 20:56] mcvsubbu commented on #4962
+1 to adding a new endpoint.
Should pql endpoint still support responseFormat and groupByMode of sql? Why?

[2020-01-06 22:45] npawar commented on #4962
responseFormat, maybe not. But groupByMode, I think it should. If we don't support that, no one can use `order by` unless they are on sql. It might take users long before they get to sql endpoint, or until it's even ready.

[2020-01-07 18:07] mayankshriv commented on #4962
+1

[2020-01-08 19:08] tannaga opened #4966 "logback.xml is not honored"
When i run the `./run-frontend.sh` script, logs coming from the `thirdeye-pinot` folder does not seem to reflect settings in
`https://github.com/apache/incubator-pinot/blob/master/thirdeye/thirdeye-pinot/src/main/resources/logback.xml`

Looks like somewhere in the class loader path, there is a different logger instantiated.

Is there something I am missing?

[2020-01-08 20:34] tannaga commented on #4966
I resolved this.  Dropwizard logging overloads other configuration.
I am able to control it in `config/detector.yml` and `config/dashboard.yml`
Ex:
[code]
May be adding a note in the logback.xml  would surely help first time developers

[2020-01-08 20:34] #4966 closed

[2020-01-09 18:25] npawar commented on #4962
Based on recent comments from @siddharthteotia  in PR #4964, considering changing this to `/query/sql` instead of just `/sql`.

[2020-01-10 16:26] #4962 closed

[2020-01-10 23:41] kishoreg commented on #4912
@elonazoulay we can close this right?

[2020-01-10 23:43] kishoreg commented on #4902
Does anyone know which parts are case sensitive today in Pinot?

[2020-01-11 00:02] Jackie-Jiang commented on #4902
All the names except for function names (table name, column name, tenant name, tag name) are case sensitive.

[2020-01-12 00:47] kishoreg commented on #4902
[code]
The following queries fail
[code]

[2020-01-12 19:30] siddharthteotia commented on #4034
PR https://github.com/apache/incubator-pinot/pull/4791 merged fixing this issue

[2020-01-12 19:30] #4034 closed

[2020-01-12 20:05] kishoreg opened #4974 "Pinot ZK Session timeout"
Scenario: Pinot disconnects from ZK (bcos of GC or network issue) which leads to session expiry (after 30 seconds timeout). Once the connection is reestablished, Helix invokes pre-connect callback but Pinot throws an exception in the callback since it thinks the server is already started.

[code]

[2020-01-13 22:47] Jackie-Jiang commented on #4974
@kishoreg Thanks for reporting the issue, and here is the fix: https://github.com/apache/incubator-pinot/pull/4976

[2020-01-13 23:46] npawar opened #4978 "pinot-jdbc-client module"
Provide a jdbc driver implementation for accessing Pinot from Java.
This can go in a module of its own `pinot-jdbc-client`

The existing `pinot-client` is not a jdbc client. It has many custom APIs in its ResultSet interface. The query execution has very specific switches between pql and sql.
The jdbc-client should be as simple as
[code]

fyi @mayankshriv @kishoreg

[2020-01-14 01:04] elonazoulay commented on #4912
Yep!

[2020-01-14 01:05] #4912 closed

[2020-01-14 02:25] #4974 closed

[2020-01-14 19:53] kishoreg opened #4982 "Discuss: Fork Helix into Pinot Repo"
I never thought I would be the one initiating this thread. But over the last year, the quality of Helix code has gone down drastically and it's preventing us to make a successful pinot release. Many changes are not well thought out and are being designed to meet the needs of specific use cases. Helix is an important component for Pinot and its important for us to have control over its behavior.

M

[2020-01-14 20:01] kishoreg commented on #4906
This is done.

[2020-01-14 20:01] #4906 closed

[2020-01-14 21:42] lei-xia commented on #4982
Kishore, we are working with Pinot team on the testing and I think we are close to get a stable release for Pinot.  We also have on-going discussions with Pinot to smooth upgrade process. I would like to hear more of your suggestions on how we can improve, but in my opinion, I do not think having a fork of Helix code in Pinot can solve the problem.

[2020-01-14 22:00] kishoreg commented on #4982
I don’t think this is just a process problem, though it definitely adds to the problem. We will keep the interface as it is and we might try to migrate later in future once Helix becomes stable.
As of now, setup is counter productive

[2020-01-16 23:40] siddharthteotia commented on #4719
**Update:**

After the POC, a detailed design doc was written with some additional information on implementation along with experiments on heap overhead, GC, CPU etc.

https://docs.google.com/document/d/19uLti7wwl7nPlDuy6cUVnLOll2C8u3YtUITbNj0TT5o/edit#

A new PR has been created -- this addresses the major comments received on POC and has additional changes for things learned as part of writing t

[2020-01-23 19:14] elonazoulay opened #5008 "Add TestContainer"
Add TestContainer to help with testing. This can also be used by external projects that interact with pinot.

[2020-01-27 18:00] lei-xia commented on #4982
The new Apache 0.9.4 will be released this week for Pinot. We have tested this release with Pinot thoroughly within LinkedIn's internal prod deployment, it should be stable for Pinot to upgrade its open-source dependancy.

[2020-01-29 05:03] haibow opened #5022 "Weird shaded pom in pinot-plugins"
After running maven build with  `mvn clean install -DskipTests -Pbin-dist`, I'm seeing `*shaded.pom` files for several "parent" modules.
[code]

The build passed, with `*shaded.jar` generated in `pinot-plugins/target/plugins/` for each plugin. Still, something seems off with the shading config.

[2020-01-29 17:28] mcvsubbu commented on #5022
Hi @fx19880617 can u take a look at this? thanks

[2020-01-29 19:25] fx19880617 commented on #5022
The reason is we  put the maven shaded plugin at `pinot-plugins` level pom file, so it will apply to all the nested leaf modules.
`*shaded.pom` is generated because we set `<packaging>pom</packaging>` in those modules `pom.xml` file, so it's expected behavior.
 In `pinot-distribution`, we have this assembly file to package all the plugins together:
`https://github.com/apache/incubator-pinot/blob/m

[2020-01-29 22:50] haibow commented on #5022
The extra `*shaded.pom` files caused issues with our Jenkins build. It tried to upload the shaded pom and threw errors. I could resolve the issue by removing the shading from the parent pom and putting them back to each leaf module.

Ref:
Our release command:
[code]

Full error log:
[code]

[2020-01-31 21:15] fx19880617 commented on #5022
@haibow can you check if https://github.com/apache/incubator-pinot/pull/5036 will fix your issue?

[2020-02-01 01:03] haibow commented on #5022
Thanks for the fix. Running clean at the end will remove the extra pom files now. Will test it with our deployment flow and let you know.

[2020-02-02 17:09] raymondlam12 opened #5041 "StartKafkaCommand does not consider command line arguments"
You can try this by running ./pinot-admin.sh StartKafka with some parameters (e.g. zkAddress will be localhost:2191 despite passing in a -zkAddress argument).

[2020-02-03 00:01] fx19880617 commented on #5041
Thanks for raising this issue.

Seems like this code doesn't take account any passing parameters:
[code]

[2020-02-03 21:11] siddharthteotia opened #5044 "mvn test fails"
While rebasing on latest master, our release jobs failed

`java.io.FileNotFoundException: file://some/path/pinot/pinot-integration-tests/target/pinot-integration-tests-0.3.0-SNAPSHOT-tests.jar!/On_Time_On_Time_Performance_2014_100k_subset_nonulls.schema (No such file or directory)
51460         at java.io.FileInputStream.open0(Native Method)
51461         at java.io.FileInputStream.open(FileInputS

[2020-02-03 21:19] mcvsubbu commented on #5044
@fx19880617  any suggestions?

[2020-02-03 21:32] fx19880617 commented on #5044
I feel it's better to use `getResourceAsStream` if it could read the schema file from `pinot-integration-tests` jar

[2020-02-03 21:56] #5041 closed

[2020-02-13 08:58] elonazoulay opened #5069 "Aggregation on array types explodes the array"
The following query will explode the array values, is that the intended behavior?

Table:
foo|array_col
---|---------
3 | [1,2]
[code]

Result:
array_col|count_foo
---------|----------
[1] | 1
[2] | 1

related to #582

[2020-02-13 09:49] fx19880617 commented on #5069
Current behavior of grouping by an array column will explode all the unique values in it.

[2020-02-14 01:15] elonazoulay commented on #5069
Thanks, is that going to be the behavior going forward or are there changes being planned?

[2020-02-14 19:55] #5022 closed

[2020-02-14 23:04] fx19880617 commented on #3625
I've fixed all the compilation error with java 11 I got and also added QuickStart tests to build Pinot with both JDK 8 and 11 for Travis.

Example: https://travis-ci.org/apache/incubator-pinot/builds/650497203

[2020-02-17 17:19] harshinielath opened #5076 "distinct query error when predicate is used"
The below query doesn't work in some cases:
**Table**:
col_1|col_2
-----------
2020-01-01| 123
2020-01-02| 123
2020-01-2| 123

**Query**

`select distinct(col_1) from table where col_2=value
`

**Result**

{
    "selectionResults": {
        "columns": ["col_1"],
        "results": []
    },
    "exceptions": [
    {
        "errorCode": 200,
        "message": "QueryExecutionError:\njava.lang.Run

[2020-02-17 22:53] #4603 closed

[2020-02-21 19:29] Jackie-Jiang commented on #4958
Implementation: #5046

[2020-02-21 19:29] Jackie-Jiang commented on #4958
Plug in the implementation: #5082

[2020-02-22 00:55] Jackie-Jiang opened #5089 "Enhance Data Ingestion Engine"
Motivation:
- Offline segment generation and real-time in-memory consuming to on-disk committed segment conversion are very similar process, and they are both achieved by the same segment creation engine. We should try to unify the pipeline so that most of the features can be shared for both offline and real-time tables, including sorting data on a given column.
- Currently offline segment generat

[2020-02-22 00:58] mcvsubbu commented on #5089
Related Issue #4036

[2020-02-24 21:27] Jackie-Jiang commented on #5089
Cleanup the unused old star-tree: #5086

[2020-02-26 01:49] #4192 closed

[2020-02-28 00:03] Jackie-Jiang commented on #4958
Clean up the old implementation: #5101

[2020-02-28 00:03] #4958 closed

[2020-02-28 10:28] fx19880617 opened #5103 "Incorrect result for Expression Predicate"
Per @Jackie-Jiang reported in PR #5070, query `SELECT COUNT(*) FROM mytable WHERE ArrDelay > CarrierDelay LIMIT 26` result is not correct.

This could be reproduced by method `testHardcodedSqlQueries()` in class `org.apache.pinot.integration.tests.RealtimeClusterIntegrationTest`.

Sample exceptions:
[code]

Current thoughts is that issue should be in `ExpressionFilterOperator`.

[2020-02-28 14:37] cyxu2 opened #5104 "Some dependencies contain CVEs"
I noticed some of your libraries contained CVEs. I suggest updating their versions to increase the security of your project. Here is the detailed information:
* **Vulnerable Library Version:** com.fasterxml.jackson.core : jackson-databind : 2.9.9
  **CVE ID:** [CVE-2020-8840](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-8840), [CVE-2019-16335](https://cve.mitre.org/cgi-bin/cvename.cgi?n

[2020-03-01 03:33] calvinhkf opened #5105 "Inconsistent library versions notice."
Hi. I have implemented a tool to detect library version inconsistencies. Your project have 1 inconsistent library and 13 false consistent libraries.

Take org.scala-lang:scala-library for example, this library is declared as version 2.10.5 in pinot-plugins/pinot-stream-ingestion/pinot-kafka-0.9, 2.11.11 in pinot-plugins/pinot-batch-ingestion/v0_deprecated/pinot-spark and etc... Such version incons

[2020-03-02 10:23] sunny19930321 opened #5107 "How to transfer data segment from OFFLINE to ONLINE"
hi，everybody，In some tables（realtime table and offline table）, the data segment is OFFLINE, so how can it be transferred to the ONLINE state

2020/03/02 18:19:43.254 INFO [org.apache.helix.controller.stages.MessageGenerationPhase] [] Event 47b0a592_DEFAULT : IdealState changed before state transition completes for video_market-video_download_performance_basic_table_OFFLINE.video_market-video_downl

[2020-03-05 18:47] apucher opened #5117 "Synthetic Data Generator"
**Design Doc**: https://cwiki.apache.org/confluence/display/PINOT/Synthetic+Data+Generator+for+Pinot

As Pinot moves forward and becomes easier to set up and explore for humans, we're hitting a limit in terms of (a) what data sets we can include and (b) how much data we can package with the distribution and (c) how well these data sets showcase Apache Pinot and its ecosystem. This is true for both

[2020-03-06 23:30] GavinDmello commented on #1436
@kishoreg I think this issue should be closed as these type of checks aren't happening in the master branch anymore.

[2020-03-07 09:58] fx19880617 commented on #5103
Close this as fixed

[2020-03-07 09:58] #5103 closed

[2020-03-08 04:51] quietgopher opened #5129 "When an Exception happens when reading a JSON Record file, a NullPointerException is propagated instead"
The underlying Exception that caused the JSON parsing to fail is obfuscating by this exception.  We need to wrap an

Got exception to kick off standalone data ingestion job -
java.lang.NullPointerException: null
	at org.apache.pinot.plugin.inputformat.json.JSONRecordReader.init(JSONRecordReader.java:56) ~[pinot-json-0.3.0-SNAPSHOT-shaded.jar:0.3.0-SNAPSHOT-565374bbabd1b359f8d4f8d85d62ffd0f3d27458]

[2020-03-09 18:54] quietgopher opened #5130 "Vague exception when offline and realtime configs have mismatching time columns"
I had an offline config where the segment config did not specify a time column but the realtime did.  I hit a NPE which spit out a bad log message.

I'll go ahead and submit a fix for this.

2020/03/09 11:44:33.728 INFO [PinotTableRestletResource] [grizzly-http-server-21] Validating table configs for Table: events
2020/03/09 11:44:33.731 ERROR [PinotTableRestletResource] [grizzly-http-server-21] n

[2020-03-10 23:48] npawar opened #5135 "Transform functions in Pinot schema"
Consider,
X: Data at source. This can be either a stream or data files. The formats are typically JSON, AVRO, CSV etc.
Y: Data in Pinot. This is the record/document in Pinot.

When data is ingested into Pinot (either realtime ingestion or batch ingestion), all columns in X directly need to map to Y. The only exception to this is the time column, where we allow transformation from one time format t

[2020-03-10 23:49] npawar commented on #5135
Detailed design proposal here: https://docs.google.com/document/d/13BywJncHrLAFLm-qy4kfKaPxXfAg9XE5v3_fk9sGVSo/edit?usp=sharing

[2020-03-11 17:40] #1140 closed

[2020-03-11 17:41] #5117 closed

[2020-03-13 21:15] jackjlli opened #5150 "Increase code coverage"
Currently the code coverage of pinot repo is just 50% ([Link](https://codecov.io/github/apache/incubator-pinot)).
This issue tracks the status of increasing code coverage.

The following modules currently have less than 50% code coverage or don't have any test at all:
1. pinot-clients/pinot-java-client (46.15%)
2. pinot-common (47.96%)
3. pinot-plugins (36.38%)
No code coverage:
- pinot-plugins/pi

[2020-03-14 01:09] xuanzih opened #5153 "different result on fasthll and distinctcounthll"
hi guys, we are trying to switch from fasthll to distinctcounthll.
`com.clearspring.analytics.stream.cardinality.HyperLogLog;` is used in code and `org.apache.pinot.core.startree.hll.HllUtil` to serialize the hll to a string.
with the same condition we have 1000x difference.
Example:
[code]
I get results:
[code]
Could anyone suggest what's the big difference between them?

[2020-03-14 01:17] fx19880617 commented on #5153
FastHll will convert one string into a hyperloglog object, which may represent thousand unique values. DistinctCountHLL treats string as a value, not hyperloglog object, so it will return the approximation of how many unique hyperloglog serialized strings, the value should be close to your total number scanned .

[2020-03-14 01:18] fx19880617 commented on #5153
DistinctCountHLL could only infer bytes column as a hyperloglog object.

[2020-03-14 07:31] Jackie-Jiang commented on #5153
`fasthll` is deprecated because of the low performance of deserialization. You may generate BYTES type for serialized `HyperLogLog` using `org.apache.pinot.core.common.ObjectSerDeUtils.HYPER_LOG_LOG_SER_DE.serialize(hyperLogLog)` and query it with `distinctcounthll`

[2020-03-19 17:44] fx19880617 commented on #4705
Close this issue as it happens only in certain filesystems with mounting options.

[2020-03-19 17:44] #4705 closed

[2020-03-19 20:25] #5153 closed

[2020-03-23 06:01] smoo12 commented on #11
Thank you so much. That is helpful.

[2020-03-24 18:53] mcvsubbu opened #5180 "Test for early termination of selection queries is flaky"
The test added as a part of PR #5163 (@fx19880617 ) is flaky and fails often, breaking our internal continuous integration jobs.

The following PRs are have been added to try to address this issue
PR #5167
PR #5174
PR #5179
PR #5173

[2020-03-25 06:19] kishoreg opened #5183 "Fix license"
via Justin on the Pinot release thread [[VOTE] Release Apache Pinot (incubating) 0.3.0 RC2](https://lists.apache.org/thread.html/r07bd110139a510bb582df6a322fc4caaf09d5b1f17f70d179c0f80b8%40%3Cgeneral.incubator.apache.org%3E)

[code]

[2020-03-28 21:29] fx19880617 commented on #5183
Close as resoled in #5195

[2020-03-28 21:29] #5183 closed

[2020-04-02 19:21] Jackie-Jiang commented on #712
Introduced a query config in table config: #5162 to define the timeout for a table
Query/table level timeout implementation: #5169

In order to get the query level timeout, you may send the query with timeout in the query options with key: `timeoutMs`
In order to get the table level timeout, you may config it under the query config

[2020-04-02 19:21] #712 closed

[2020-04-05 22:28] kishoreg opened #5209 "Refactor pinot-common and pinot-core"
After extracting the plugins, the next logical step is to clean up pinot-core and pinot-common. Similar to pinot-spi, we should extract all interfaces from common and core into something like pinot-query-spi.

Creating this issue to list all the interfaces we want to extract out.

Here is the list (will keep this up to date based on the comments)

- Plan
- Operator
- Datasource
- Block
- Transform

[2020-04-05 22:35] fx19880617 commented on #5209
For data part, we also need to make index writer logic pluggable.

[2020-04-06 00:56] kishoreg commented on #5209
Grepped for all interfaces in pinot-core. We can start by selecting the interfaces that should be part of query-spi.

- [ ] PeriodicTask extends Runnable
- [ ]  IdMap<Key>
- [ ]    BufferCleaner
- [ *]  PlanNode
- [* ]  PlanMaker
- [ *]  Plan
- [ ]  SegmentPreIndexStatsCollector extends SegmentPreIndexStatsContainer
- [ ]  InvertedIndexCreator extends Closeable
- [ ]  SegmentCreationDataSource
- [

[2020-04-07 18:39] npawar opened #5220 "pinot-recipes module"
Create a pinot-recipes module. Move all examples and quickstarts (baseballStats, airlineState, githubEvents stream) to that module, so that pinot-tools isn't overloaded with demo logic. Templatize the recipe steps. This will also make it easier for anyone to easily add a recipe.

[2020-04-10 16:40] yupeng9 commented on #5209
+1

I'm interested in adding a pluggable geospatial module, and I think it demands several pluggability points.
 - Query operator and expression function evaluation, this may require `TransformFunction` `Operator` `Datasource` `Block` and their dependencies (e.g. `DataSourceMetadata`, `DataFileReader` ,`BlockDocIdSet`and many others)
 - Introduce a new type of index, this may require an `IndexBuil

[2020-04-12 18:25] kishoreg commented on #5220
This is a good idea. can we come up with a convention for adding recipes.
What do we need to create a recipe
- Table(s) REALTIME/OFFLINE
- Config.json and schema.json for each table
- Raw data for REALTIME and OFFLINE table

If all these things are placed in the appropriate folder structure. The recipe driver should do the following
- start all in one pinot process (ZK, controller, server, broker)

[2020-04-14 06:31] kishoreg opened #5245 "Add pinot-s3 filesystem plugin"
Currently, Pinot has plugins to read from HDFS, ADLS (Azure), and GCS (google cloud storage). For s3, we rely on HDFS. Will be good to have a plugin based on native Amazon S3 SDK

[2020-04-14 06:32] KKcorps commented on #5245
Taking this up.

[2020-04-14 21:49] harshinielath opened #5246 "Pagination Support"
Right now, pagination only works with selection queries with order by

[code]
 Paginate the selection results from the ‘a’ th results and return at most ‘b’ results.

The below query doesn't paginate the results
[code]

[2020-04-15 21:08] kishoreg opened #5252 "Support post aggregation expressions"
select sum(A)/sum(B) from T. This is not supported in pinot as of today. With Calcite SQL, we should be able to support this easily.

[2020-04-15 21:09] kishoreg opened #5253 "Support Having"
We had the support for HAVING but we removed it since it was not clean. Add this to the SQL path.

[2020-04-15 21:54] mcvsubbu opened #5254 "Disallow certain changes for realtime table config"
Once a table is created, some aspects of realtime table cannot be changed.

For example in case of Kafka, the topic should not be changed to a different one. If the different topic has a different number of partitions, then the partition allocation algorithm in the controller get all messed up (since it does not expect number of partitions to decrease).

[2020-04-16 16:57] mayankshriv opened #5261 "Supporting complex aggregation functions"
Today, almost all aggregation functions take a single argument (except Distinct). We need to be able to support more complex aggregation functions such as:

1. Aggregation functions with multiple arguments, for example:
   `ThetaSketch(expr1, expr2..., exprN): where exprN is the final set operation to evaluate, and expr1 through exprN-1 are terms in exprN` (more on this separately).

2. Composite

[2020-04-16 22:27] npawar opened #5263 "Run the RealtimeSegmentvalidationManager on demand"
When realtime consumption goes into some erroneous state, we rely on the RealtimeSegmentValidationManager to fix it. This by default runs at an hourly frequency.
There have been frequent asks for being able to run it on demand, in order to fix problems faster if they've been spotted.

@kishoreg @mcvsubbu

[2020-04-16 22:28] npawar opened #5264 "Flatten fields during ingestion"
This is a followup task to https://github.com/apache/incubator-pinot/issues/5135

Transform functions support was added recently ([b20ace081fc8566490d5e8addc211537843c8a9a](https://github.com/apache/incubator-pinot/commit/b20ace081fc8566490d5e8addc211537843c8a9a)). This supports simple column transformations using Groovy script, during ingestion.

Next step would be to support flattening fields du

[2020-04-16 23:12] kishoreg commented on #5261
This is amazing, requirements for the AggregationFunction interface
- ability to take multiple arguments
- The arguments can be a column, literal or Function (transform/aggregation)
- Default Name of the output column
- Annotations for static properties of the FunctionImpl e.g. Name (will help keep the interface simple)

[2020-04-16 23:13] kishoreg commented on #5261
- The ability for users to plugin the aggregation functions. We have a switch case today based on the name, this should go away.

[2020-04-16 23:23] mcvsubbu commented on #5263
Once a pinot cluster is up and running in production, we really do NOT want to do these runs manually triggered.  There are race conditions that can happen if these are run together or within a short period of interval (we only fix segments if they are in the state for a long time).

For someone just starting out to experiment with a table, it should be simple to just drop the table and re-create

[2020-04-17 01:02] npawar commented on #5264
Initial thoughts:
Groovy functions are capable of handling non-flat objects (list, map, complex object). The only piece missing right now is the RecordExtractors expect single value or Collection. A complex object will not be correctly forwarded to the Transformer. If RecordExtractors correctly pass forward the complex objects, groovy should flatten it. This is partially being done in AVRORecordEx

[2020-04-17 01:08] siddharthteotia commented on #5264
Is this for supporting complex/nested data types (json with hierarchical data) in Pinot and query processing on such types

I have an on-going POC here https://github.com/siddharthteotia/incubator-pinot/commits/nested

[2020-04-17 01:45] kishoreg commented on #5264
@siddharthteotia no, this is just pure flatten + extraction during ingestion.

[2020-04-17 17:54] npawar opened #5268 "Filter during ingestion"
This is a followup task to #5135

Transform functions support was added recently (b20ace081fc8566490d5e8addc211537843c8a9a). This supports simple column transformations using Groovy script, during ingestion.

Next step would be to support filtering records based on values of fields, during ingestion.

Contributions welcome

[2020-04-17 17:54] npawar commented on #5268
Initial thoughts:
We need to think about where filtering will be applied.
a) On source columns - should we fix that filtering is only on source fields?
b) On transformed columns - Should we allow a column to evaluate the transform expression, and then apply filtering?
c) Do we allow both?

The answer to the above will decide where the filtering gets applied- within RecordExtractor/RecordReader, af

[2020-04-17 18:01] npawar opened #5269 "Add support for protobuf input format"
Currently the supported input formats for batch ingestion are CSV, AVRO, JSON, Parquet, Thrift, ORC.

Add support for Protobuf.

[2020-04-17 18:09] mcvsubbu commented on #5268
It will be useful to add some use cases where this can be applied.

Maybe this can also include sampling (e.g ingest 20% of the records at random), useful to contain volume and yet observe some trends

[2020-04-19 01:21] npawar commented on #2756
Design Doc
https://docs.google.com/document/d/1SU1jCjfsIDSA960fD5YWQbD72p8UdGF0c7CroFNt9Ho/edit?usp=sharing

[2020-04-19 23:51] reallocf commented on #5269
Hey @npawar - I'm interested in working on this one. Would be my first time contributing to the project, would love to help! 🎉

I'm guessing I'll create another `pinot-input-format` and mirror `pinot-json` or `pinot-csv` or `pinot-parquet`. Then update `RecordReaderFactory` in `pinot-spi` and probably the `CreateSementCommand` in `pinot-tools`. Where else should I be updating? I'm sure I'm missing

[2020-04-20 00:56] kishoreg commented on #5269
You pretty much got everything right. I think @KKcorps has already started working on this. Can you pick up the support for filtering during ingestion? https://github.com/apache/incubator-pinot/issues/5268

[2020-04-20 00:59] reallocf commented on #5269
@kishoreg - thanks for letting me know! Definitely don't want to duplicate work 👍 will take a look at #5268

[2020-04-20 02:18] reallocf commented on #5268
Hey @npawar - I'm interested in helping out on this one. First initiative, so bare with me if my understanding is wrong about everything 😄. A question on the requirements:

The idea is that we should be able to filter out data during ingestion, so if we have a `pinotSchema.json` like
[code]
we would want to add a new top-level element in that json with a transformFunction  like
[code]
Then we woul

[2020-04-20 17:31] npawar commented on #5268
Hi @reallocf ,

Thanks for taking this on!
Your understanding is right. What you proposed makes sense. My only concern with having a top level filter element, is that we won't know whether it needs to be applied on source or destination. This will not be a problem, if the expression applies just to the source or to the destination column. But what if the expression applies to both?
`timestamp >x &

[2020-04-21 01:18] yupeng9 opened #5280 "Add the geospatial support"
Geospatial data has been widely used across the industry, spanning multiple verticals, such as ride sharing and delivery, transportation infrastructure, defense and intel, public health. Deriving insights from timely and accurate geospatial data could enable mission-critical use cases in the organizations and fuel a vibrant marketplace across the industry. It will enable many use cases the geospat

[2020-04-21 01:18] yupeng9 commented on #5280
Design Doc https://docs.google.com/document/d/1Mkm5RHS_tof-vIUt5-UNeOgRYSBAN6M_pN-hedV6Q0g/edit#

[2020-04-21 04:21] snleee commented on #5280
@yupeng9 can you grant the access to everyone? I don't have the access to the doc.

[2020-04-21 05:00] yupeng9 commented on #5280
Unfortunately I was not able to configure the sharing policy for anyone outside the company with the link to access, due to certain restrictions. Please request access and I will grant it. I will also put up a version under the Apache Wiki soon.

[2020-04-21 17:31] elonazoulay opened #5281 "Add streaming endpoint to server"
Add a grpc endpoint to the server to allow for streaming results.

[2020-04-21 19:50] KKcorps commented on #5269
Taking this up!

[2020-04-21 21:58] yupeng9 commented on #5280
A copy of the proposal is added to Apache wiki at [here](https://cwiki.apache.org/confluence/display/PINOT/%5BProposal%5D+Geospatial+support+in+Pinot). Please keep the discussion on the google doc.

[2020-04-23 20:23] reallocf commented on #5268
@npawar - thanks for the feedback! Sorry for the delayed response - got pulled into a new project at work and was really heads down for the past few days. Let me know if there's any time expectations you'd like to set here - right now I'm scoping for the next couple of weeks (I'm more or less just working off-work hours) but if y'all need this done more quickly then let me know and I'll prioritize

[2020-04-23 23:33] kishoreg commented on #5268
Great discussion so far and valid points. My take is filtering should not even be part of schema definition. This is more of an ingestion config which is part of the table config. should we move it to table config?

The challenges mentioned by @npawar such as pre-filter vs post filter etc still remain. I agree with supporting filtering across multiple columns.

Today source field name extractor is

[2020-04-24 01:25] snleee commented on #2756
I want to discuss about enforcing a uniform type & format and only allow users to pick the granularity for the `primary time column`, which is configured in the table config.

- start with the primary time column (enforced to have `long, "1:milliseconds:epoch", user-defined-granularity`).

- Users can initially try to use time conversion UDF for the time column.

- If they need the better performa

[2020-04-24 01:56] snleee commented on #5246
Pagination for Pinot is something that we need to correctly design because the underlying data changes constantly (especially more often for the

[2020-04-24 05:07] kishoreg opened #5294 "Fix start zookeeper command"
The startZookeeper command deletes the directory on exit. We should not delete it and add an option to clean the directory. Also, it does not use the -dataDir option.

[code]

[2020-04-24 16:36] npawar commented on #2756
I agree this would be nice to have, and see the benefits we gain for merge/rollup and integrations.
I would prefer if we first get to making dateTimeFieldSpec the default, and then focus on this. Once we have only dateTimeFieldSpec, it'll be easier to add tooling and validations for achieving this. I feel this change is kinda tricky as it is, and don't want to mix up goals.

[2020-04-24 17:29] reallocf commented on #5268
Good idea @kishoreg - having filtering be part of the table config does seem like it would make more sense, especially if we're defining them to being across multiple columns. Based on the table config definitions here: https://docs.pinot.apache.org/pinot-components/table do you think it's worth adding a new top-level `filter` field? Or would it be better to nest it somewhere? Will there be future

[2020-04-24 21:34] shireennagdive commented on #5294
Working on it!

[2020-04-24 21:37] shireennagdive commented on #1436
@kishoreg Can we close this issue?

[2020-04-25 00:39] fx19880617 commented on #5294
https://github.com/apache/incubator-pinot/pull/5295

[2020-04-25 00:44] fx19880617 commented on #5294
Thanks for taking it, there is already a PR around it, feel free to take a look and review it!

[2020-04-25 22:48] shireennagdive commented on #5294
Cool, I think this issue can be removed now

[2020-04-25 23:04] #5294 closed

[2020-04-26 01:28] fx19880617 opened #5304 "Wrong Swagger UI when start multiple Pinot instances in same JVM"
E.g. in `batch-quickstart.sh`, Controller/Broker/Servers Swagger UIs start at port 9000/8000/7500.
However the UIs of those three services only show Pinot Controller's.

Seems that the Swagger Application Registration is static and won't get updated.

[2020-04-26 09:54] xiangfu0 opened #5306 "Exceptions when opening Pinot Swagger UI"
This happens when open swagger ui web page.

Seems to be an annoying but no harm exception.

[code]

[2020-04-28 05:12] npawar opened #5313 "Add date time transform functions"
This is a followup to: https://github.com/apache/incubator-pinot/pull/5312

We need to exhaustively add a lot of time transformation functions. This is part of the broader task: https://docs.google.com/document/d/1SU1jCjfsIDSA960fD5YWQbD72p8UdGF0c7CroFNt9Ho/edit#heading=h.y1084mvhfcft

[2020-04-28 05:14] npawar commented on #5313
https://github.com/apache/incubator-pinot/issues/2756

[2020-04-28 05:18] npawar commented on #5313
One thing to keep in mind when designing: In the case of Simple Date Format, we don't want to create an instance of SDF formatter for every row.

[2020-04-28 05:21] npawar commented on #5313
@reallocf does this look like something you can help out with?

[2020-04-28 09:04] Neel-rishabhsoft commented on #29
@kishoreg @oferoh I followed the steps mentioned.
And i ran the "sh quic-start-batch.sh" on Cygwin prompt.
I am getting the following errors:
quick-start-batch.sh: line 20: $'\r': command not found
quick-start-batch.sh: line 21: syntax error near unexpected token `$'{\r''
'uick-start-batch.sh: line 21: `jdk_version() {

Can you please provide your insights on this?

[2020-04-28 09:14] Neel-rishabhsoft commented on #29
@oferoh @kishoreg I followed the steps mentioned above.
I am getting following warnings and errors while running the
"sh quick-start-batch.sh"
WARNING: sun.reflect.Reflection.getCallerClass is not supported. This will impact performance.
WARNING: An illegal reflective access operation has occurred
..etc

And errors:

***** Starting Zookeeper, controller, broker and server *****
Executing command:

[2020-04-28 12:29] Neel-rishabhsoft commented on #4134
Hello @pooja2702 @chenboat I am facing the same URI issue on windows
I can not find this line containing URI in the above mentioned path for current version of pinot
Although I found the problem to be in ControllerStarter for me and I think I found the URI to be changed
I was getting the following error:
Start zookeeper at localhost:2123 in thread main
Executing command: StartController -clusterNa

[2020-04-28 16:35] reallocf commented on #5313
@npawar yes, would love to help with this! Will look into it later today and ask any questions I have here. Thanks!

[2020-04-29 22:09] damianoporta opened #5318 "Python client"
Hello,
we definitely need a Python client.
I think we should use an async backend like **aiohttp**.

[2020-05-01 00:47] npawar opened #5322 "Enforce sending tableConfig to SegmentGeneratorConfig"
We have 2 constructors for SegmentgeneratorConfig
1) SegmentGeneratorConfig(TableCofig, Schema)
2) SegmentgeneratorConfig()
 We also have a lot of setters.

We need to finalize on one way of constructing SegmentGeneratorConfig - using tableConfig and schema. TableConfig should be made mandatory. That way we can get rid of a lot of setters.

[2020-05-01 00:48] npawar commented on #5322
FYI @Jackie-Jiang

[2020-05-02 22:29] reallocf commented on #5313
Chatted with @npawar a bit over Slack. She added a number of the functions here: https://github.com/apache/incubator-pinot/pull/5324/files so I'm focusing mostly on LocalDateTime conversions here.

The interfaces should be something like:
[code]

The core complexity here is in not creating a new SimpleDateFormatter for each row (as Neha already mentioned). Right now, all DateTimeFunctions are stat

[2020-05-04 23:39] fx19880617 opened #5330 "Templating IngestionJobSpec"
Current Pinot Ingestion job take a yaml as input for job conf. It's lacking the flexibility for user to do scheduling jobs.

I plan to add a templating feature for it so the `LaunchIngestionJob` command will be able to take the yaml with templating and set the values on the fly.

[2020-05-06 00:33] Jackie-Jiang commented on #5322
Cleanup the clone constructor: #5338

[2020-05-06 18:53] mangrrua opened #5344 "Create segment file from in-memory data"
Apache Pinot have a great abstraction layer to convert any file format to pinot segment file. But it is not useful when we want to convert in-memory data(eg: InputStream, lists etc.) to the pinot segment.

`RecordReader` waits input file path for segment creating, and `SegmentIndexCreationDriverImpl` takes RecordReader implementation. Then it read input file and create Pinot segment file. But impl

[2020-05-06 19:34] kishoreg commented on #5344
You are right, we have some plans on changing this.
@Jackie-Jiang @elonazoulay Alex had some thoughts on this.

[2020-05-06 19:35] kishoreg commented on #5344
We want to have a simple API such as
[code]

[2020-05-07 00:25] mcvsubbu opened #5346 "Cleanup integration tests to get more coverage, less randomness"
Recently, a bug was introduced in PR #5132  that led to bad results when executing queries that involved indexed and non-indexed columns in a certain combination. We had a query in our integration test that tested this combination, but then queries are run at random from the query file (I think it is 100 queries out of 10k). So, some runs of travis would fail, but a re-run could well pass. The bug

[2020-05-07 06:13] mangrrua commented on #5344
The above example is look great. That's API so useful for any input format.

[2020-05-07 22:02] Jackie-Jiang commented on #5322
Cleanup the PinotOutputFormat: #5350

[2020-05-07 23:03] npawar opened #5351 "Transformations using columns which themselves are a result of transformation"
In https://github.com/apache/incubator-pinot/pull/5238 we added transform functions feature.
This issue has the design doc: https://github.com/apache/incubator-pinot/issues/5135.
This is one of the follow ups.

In the transform functions support so far, we have 1 limitation.
If `destColumn = f(sourceColumn)`, then, destColumn cannot be used as an input to another transform function in the same sch

[2020-05-07 23:04] npawar commented on #5135
Next steps:
1) Transformations using columns which themselves are a product of transformation - https://github.com/apache/incubator-pinot/issues/5351
2) Support for custom functions (non-Groovy function evaluators) -
3) Date time related custom functions - https://github.com/apache/incubator-pinot/issues/5313
4) Flatten  - https://github.com/apache/incubator-pinot/issues/5264
5) Filter - https://g

[2020-05-07 23:07] npawar opened #5352 "Support for custom functions in schema transformation"
this PR added transform functions support:https://github.com/apache/incubator-pinot/issues/5135 using Groovy scripts

We want to extend this to support adding inbuilt and custom functions.

Inbuilt functions would be things like time transformations, geo spatial functions.
Nice to haves:
1) Ability to plug in user defined custom functions using annotation based function registering
2) Ability to u

[2020-05-07 23:08] npawar commented on #5135
Closing this, as there's an issue for every followup

[2020-05-07 23:08] #5135 closed

[2020-05-09 08:02] damianoporta opened #5356 "Is DataType.BYTES control in aggregate() aggregateGroupBySV() aggregateGroupByMV() needed?"
Hello, in different aggregators like the following:
- https://github.com/apache/incubator-pinot/blob/master/pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/AvgAggregationFunction.java#L100

- https://github.com/apache/incubator-pinot/blob/master/pinot-core/src/main/java/org/apache/pinot/core/query/aggregation/function/MinMaxRangeAggregationFunction.java#L104

I see a "pse

[2020-05-10 21:58] mcvsubbu opened #5359 "Extend offset support for other streams"
Pinot code stopped making reference to Kafka back in 0.1.0 days. HLC can support pretty much any stream. LLC it still uses one property of streams in the code in its raw form -- the offset of a stream message within a partition.

This is assumed to be a long (8 bytes). It appears as so in Segment ZK metadata, maintained as long in the stream consumers, and expected to be a `long` (primitive) in al

[2020-05-11 17:00] elonazoulay opened #5361 "Non-pql queries ignore grouping columns"
Non-pql queries ignore grouping columns that are in the select list but not in the group by. This should be a syntax error.
Here is an example:
[code]
The query is processed as if it were:
[code]

[2020-05-11 18:35] KKcorps opened #5362 "Add UDFs for String Transformation"
Currently Pinot has UDF defined for all the math operators.  The same needs to be done for string operators.

[2020-05-11 18:39] KKcorps opened #5363 "Add support for JDBC client for queries"
Currently Pinot provides a Java client and a Golang client for querying the database. However, some of the UI tools don't support the custom clients. JDBC is the default API for querying in a lot of databases and so a Client needs to be written to support  it.

[2020-05-11 20:00] kishoreg commented on #5356
@Jackie-Jiang @mayankshriv what do you think about this? Its not clear from the code why we are handling BYTES in AVG and MinMax

[2020-05-11 20:04] Jackie-Jiang commented on #5356
We allow serialized pre-aggregated BYTES for these aggregation functions so that users can pre-aggregate the records, or enable star-tree on these functions:
- AVG
- MINMAXRANGE
- DISTINCTCOUNTHLL
- PERCENTILEEST
- PERCENTILETDIGEST

[2020-05-11 20:12] kishoreg commented on #5356
so, this is not a must for other functions right?

[2020-05-11 20:26] npawar commented on #5363
We had an issue for this: https://github.com/apache/incubator-pinot/issues/4978
Will close that one. Copying over the description from that on to this issue:
Provide a jdbc driver implementation for accessing Pinot from Java.
This can go in a module of its own pinot-jdbc-client

The existing pinot-client is not a jdbc client. It has many custom APIs in its ResultSet interface. The query execution

[2020-05-11 20:26] #4978 closed

[2020-05-11 21:18] Jackie-Jiang commented on #5356
It is required if these conditions are met:
- The intermediate result type is Object instead of Number or String
- User might want to pre-aggregate for the aggregation function

E.g. for `DistinctCountAggregationFunction`, even though the intermediate result type is `IntOpenHashSet`, we don't want user to pre-aggregate because the size of the pre-aggregated result is unbounded. In such case, we do

[2020-05-14 07:46] kishoreg commented on #5263
This has been requested too many times - what are the scenarios a segment will get into error state or stop consumption and what does the validation manager do internally?

[2020-05-14 15:57] mangrrua commented on #5344
Reopen issue.

[2020-05-14 15:58] mcvsubbu commented on #5263
https://cwiki.apache.org/confluence/display/PINOT/Consuming+and+Indexing+rows+in+Realtime#ConsumingandIndexingrowsinRealtime-Self-healingconsumption

[2020-05-14 16:33] kishred opened #5387 "java.lang.NoClassDefFoundError exception for Parquet file format ingestion"
Got this error when ingest a parquet file.

[code]

@npawar provided following workaround to this issue which worked.

[code]

[2020-05-14 18:16] kishred opened #5388 "Batch ingestion is too slow"
Batch ingestion process takes 26 minutes to ingest a parquet file with 570MB in size. The data contains 3.5 million rows with 16 columns (see table below for details). It does not look like the performance is specific to any input file formats as ingestion took similar times for the same data in CSV and AVRO formats.

Column | Type |Structure | Size | Cardinality| Max Length|
------------ | ------

[2020-05-14 21:38] npawar opened #5390 "Improve the experience when adding indexes and reloading"
When inverted indexes are added to an existing table, a `POST /segments/{tableName}/reload` needs to be issued to apply it. This call immediately returns 200, and it is not easy to figure out the status of the reload or the indexing.
Some ways we have been using:
1) Untar segment to check if index is available in index_map
2) Check the numEntriesScanned for a query with filter on that column

Howe

[2020-05-14 22:02] npawar opened #5391 "Provide an indication that segments reload is complete"
~~When segments are reloaded, the segment refresh time is not updated in the segment metadata. There's no other property that would indicate reload time either.
Either start updating refresh time on segment reload, or add a new property to indeicate the last reload time of segments~~

Updating this description:
When a user does reload, we provide no indication or way to find out that the reload wa

[2020-05-15 00:15] Jackie-Jiang commented on #5391
I would doubt about this extra timestamp. Segment refresh time is used to track when the segment is refreshed (replaced by a new segment), while reloading is just some server behavior (can be triggered by controller though). When servers restart, they will also reload all the segments. I don't think it is necessary to track all these timestamps.

[2020-05-15 07:07] xiaohui-sun opened #5393 "[TE] Let's put this name in configuration"
https://github.com/apache/incubator-pinot/blob/a1401de18c10fc07b557a6e5ce0efacd8d486869/thirdeye/thirdeye-frontend/app/pods/home/index/route.js#L81

@harleyjj

[2020-05-15 19:11] reallocf commented on #5313
With https://github.com/apache/incubator-pinot/pull/5326 merging, can we close this? Or should we leave it open for some follow-up work?

[2020-05-15 21:56] npawar commented on #5391
Some context - when users add inverted indexes and reload, we provide no indication whether reload was successful or not. This is one of the things that can help. Other option is we provide an API for displaying segment metadata (from segment dir)- https://github.com/apache/incubator-pinot/issues/5390
I think both are good to have

[2020-05-15 22:01] Jackie-Jiang commented on #5391
IMO, servers should not change the segment ZK metadata. It should only be managed by the controller. We have multiple replicas of the same segment on different servers, and segment can be moved to any server at any time. If we allow servers to change the ZK metadata, that will be very hard to manage.
I think providing API for querying segment metadata is okay. We can return the segment metadata fo

[2020-05-15 22:06] mcvsubbu commented on #5391
+1

The data of whether servers loaded inverted index (or any other) should be with the servers.
One way of doing this is to raise a metric on the servers when reload fails, and set alert on the metric. In theory, the reload can take infinite time to arrive and therefore it is never possible to say when it is "done". In practice, however, it should be a short period of time for the message itself

[2020-05-16 05:21] rasin215 opened #5401 "Query Supporting datetime column comparing against currenttime"
Feature Request.
Most of the time you need a report where we need to compare data against current date/time. Currently there is no function which is supporting to compare data against current data/time.

e.g select * from table_name where est_date < now()

This query will help to build dashboard for data which is missing eta / est_date comparing against current data/time

[2020-05-16 06:17] buchireddy opened #5402 "Rebalancing the segments didn't work when there is only one kafka partition"
**Scenario**
Have a Pinot clustered setup with 4 Pinot servers. The Kafka topic from which Pinot is consuming has only one partition, because of which naturally only one server will be consuming. There were 100+ segments on that server after a while and we wanted to rebalance the finished segments onto other Pinot servers for rebalancing so tried rebalancing with the Controller side API.

**Expect

[2020-05-16 06:33] fx19880617 commented on #582
Close as this is already supported

[2020-05-16 06:33] #582 closed

[2020-05-16 06:46] #3998 closed

[2020-05-16 08:33] Manoj-Singh-11 opened #5404 "pinot-ingestion-job.sh is broken after latest master code change in IngestionJobLauncher"
/usr/local/apache-pinot/bin/pinot-ingestion-job.sh /tmp/raw_data/abc.yml
Error: Main method not found in class org.apache.pinot.spi.ingestion.batch.IngestionJobLauncher, please define the main method as:
   public static void main(String[] args)
or a JavaFX application class must extend javafx.application.Application

 main method from IngestionJobLauncher is removed.

[2020-05-16 09:01] fx19880617 commented on #5404
https://github.com/apache/incubator-pinot/pull/5403

[2020-05-16 22:14] Jackie-Jiang commented on #5402
Hi @buchireddy, this is the expected behavior because partition-based assignment is implicit for the LLC consuming segments.
In order to rebalance the completed segments on to another set of servers, you can configure another tag for the servers to hold the completed segments and use the TagOverrideConfig to relocate the completed segments to that tag.

E.g. your current TenantConfig is:
[code]
Yo

[2020-05-16 22:20] npawar commented on #5391
I think the title and description are focused more on the how instead of the why. This is mainly trying to solve the problem - user did a reload (for whatever reason, usually inv index), how to indicate that reload is done. How we do it is implementation details.

[2020-05-16 22:23] kishoreg commented on #5391
It’s not about changing metadata in ZK, it’s about the response of metadata call on the server. We don’t have a way to know anything about actual contents of segment

- what r the columns
- their encoding
- indexes

Anything else that we need to know about the segment on the server

[2020-05-16 22:28] npawar commented on #5391
This could just be included in this: https://github.com/apache/incubator-pinot/issues/5390 to begin with.
@reallocf  is taking 5390 up

[2020-05-18 17:55] mayankshriv opened #5407 "Ability to configure compression type for no-dictionary columns"
No-dictionary dimension columns are Snappy compressed, and metrics are not compressed. While the SegmentGenerationConfig has `_rawIndexCompressionType` to configure the compression type, this is not available in the indexing config. We need to enhance indexing config such that we are able to configure various parameters for no-dictionary columns:
1. Compression to use for the column.
2. Num docs p

[2020-05-18 17:58] kishoreg commented on #5407
We should move towards the FieldConfig mechanism that was added by @siddharthteotia. Its nice to have all configs related to a field in one place.

[2020-05-18 18:00] mayankshriv commented on #5407
Yes, agree. The existing mechanism is just getting bloated with the way new fields are added.

[2020-05-19 18:00] olegchorny opened #5412 "[Docs] Integration with ThirdEye: generate and load sample data script doesn't work"
https://docs.pinot.apache.org/integrations/thirdeye#prepare-your-data-optional

[code]
I've made some changes to `bin/generator.sh` file and it was executed successfully, but I'm not sure about the final result.
[code]

[2020-05-19 19:46] apucher commented on #5412
Thanks, Oleg. Looks like I missed a change in the CreateSegment command params. Your fix is correct. PR here: #5415

[2020-05-19 20:39] #5412 closed

[2020-05-19 20:42] kishoreg opened #5416 "Functions in Pinot"
We have multiple types of Functions in Pinot
- AggregationFunction
  - Used during query execution
  - Stateful
  - aggregate method can be invoked multiple times with blockValMap
  - follows map/combine/reduce paradigm
- TransformFunction
  - used during query execution
  - stateless
  - transform method is invoked with projectionBlock as input
  - outputs another block (length of output block is

[2020-05-19 21:05] fx19880617 commented on #5416
My overall feeling is that we should just have two types of functions:
- aggregation: which knows how to do accumulate
- transform: which is pure transform, given value(s).

ingestion/scalar are just part of transform function with same/different apis.

[2020-05-19 21:13] mayankshriv commented on #5416
We can create a hierarchy, with top level classification as:
1. Aggregation: m rows input k rows output (m <=k)
2. Transform: 1 row input 1 row output

Underneath 2 we can have, transform/scalar/ingestion

[2020-05-19 23:28] fx19880617 commented on #5401
https://github.com/apache/incubator-pinot/pull/5406

[2020-05-20 06:45] zhaoboc commented on #4427
`sun.nio.ch.DefaultSelectorProvider` is platform dependent. It creates `KQueueSelectorProvider` on macosx and `EPollSelectorProvider` on linux.

I think it's more about netty JNI epoll vs nio epoll than epoll vs select, when considering netty-transport-native-epoll.

[2020-05-21 13:41] olegchorny opened #5423 "[Docs] Running Pinot in Kubernetes: Load Demo data source issue"
https://docs.pinot.apache.org/basics/getting-started/kubernetes-quickstart
Step: 5.4 Load Demo data source
[code]
It seems like to fix the issue we simply need to delete the `"is_restricted": false,` string from the `/etc/superset/pinot_example_dashboard.json` file.

[2020-05-21 19:30] fx19880617 commented on #5423
Seems that we upgraded the docker version but not updated the scripts, will update it soon!
Thanks for reporting!

[2020-05-21 20:02] fx19880617 commented on #5423
Updated in PR #5425

[2020-05-21 23:49] fx19880617 opened #5427 "Feature request: override table name during segment push/load."
In order to test a table or have two tables for different use cases, it would be good to have the ability to push same segments to a different pinot table other than build segments two rounds for each table.

[2020-05-22 23:46] xiangfu0 opened #5434 "Query explaination"
Similar to other query engine. We need to provide an API to explain a Pinot Query to Query plan.

[2020-05-23 05:18] #5313 closed

[2020-05-23 05:18] #5401 closed

[2020-05-23 05:18] #5416 closed

[2020-05-23 10:03] fx19880617 commented on #5401
This is supported in current master now.

[2020-05-23 10:03] #5404 closed

[2020-05-23 10:05] fx19880617 opened #5436 "Adding date and time transform functions"
To match Presto functions:
https://prestodb.io/docs/current/functions/datetime.html

[2020-05-26 17:02] kishred opened #5448 "java.lang.ClassCastException when running SQL queries"
Getting java.lang.ClassCastException when running this SQL query:

`SELECT colA, colB, SUM(metricA) from table GROUP BY colA, colB`

`colA` and `colB` are STRING typed.

This SQL query works fine when blank column values in colB are discarded using WHERE clause.

`SELECT colA, colB, SUM(metricA) FROM table WHERE colB != '' GROUP BY colA, colB`

Note: Exact same query returns results on PQL interfa

[2020-05-26 22:51] npawar commented on #5448
Thanks for reporting! This has been fixed in the linked PR

[2020-05-26 22:51] #5448 closed

[2020-05-26 22:52] npawar opened #5450 "Clear results from Pinot Data Explorer"
Request from @kishred
In the Pinot Data Explorer, it is hard to tell if the new query ran and gave results. There are buttons for Copy, Excel, CSV. Can we have another button to Clear old results?

[2020-05-26 23:00] kishoreg commented on #5450
instead of a clear button, we can automatically clear every time we click on run (do this before making a call to Pinot)

[2020-05-27 19:05] #5269 closed

[2020-05-28 16:50] KKcorps opened #5462 "Add MultiValue support to GenericTransformFunction"
Currently the Generic Transform function only supports the single value scalar functions and not the multivalue ones. This support needs to be added.

[2020-05-28 17:07] npawar commented on #2583
closing this issue, as this was completed a while ago

[2020-05-28 17:07] #2583 closed

[2020-05-28 17:53] npawar opened #5463 "Show details of failure when schema upload fails"
Noticed today that adding a schema with a field missing in a spec resulted in just 500 error with message "Failed to add schema". See below example, `timeType` is missing in the spec.
[code]
Response:
[code]
This message is not very helpful.
We need to walk through all possible invalid schema scenarios and handle them properly.

Tasks:
1) List and validate all cases
2) Return proper message in cas

[2020-05-28 22:13] #5423 closed

[2020-05-30 16:32] KKcorps opened #5468 "Add Schema Registry for Protocol Buffer Input Format"
Currently Protocol Buffers require a .desc file on disk to parse the data. Deprecating the present approach, the user should have the ability to register any proto buf schema using a simple REST  API call.
For more details take a look at [Kafka schema registry](https://docs.confluent.io/current/schema-registry/schema_registry_tutorial.html)

[2020-06-01 05:28] quietgopher opened #5474 "Vague error message when building startree schema if there is a typo in the aggregate columns"
The NullPointerException does not say what field has the typo.

java.lang.RuntimeException: Caught exception during running - org.apache.pinot.plugin.ingestion.batch.standalone.SegmentGenerationJobRunner
	at org.apache.pinot.spi.ingestion.batch.IngestionJobLauncher.kickoffIngestionJob(IngestionJobLauncher.java:121) ~[pinot-all-0.4.0-SNAPSHOT-jar-with-dependencies.jar:0.4.0-SNAPSHOT-b40dd992874f9bc

[2020-06-01 07:39] kishoreg commented on #5474
can you paste the sample config

[2020-06-01 07:46] Sreemanth opened #5475 "GuavaOnHeapBloomFilter can be constructed with _bloomFilter as null"
https://github.com/apache/incubator-pinot/blob/a314d42e8744549e5c182383445f11c60ac4ae4a/pinot-core/src/main/java/org/apache/pinot/core/bloom/GuavaOnHeapBloomFilter.java#L37

Because of default constructor _bloomFilter becomes null.
 `add` method of `GuavaOnHeapBloomFilter` will throw `NullPointerException` error.

[2020-06-01 16:24] quietgopher commented on #5474
I'm working on a diff.

Here's an example of the copy/paste issue (simplified since I don't want to post the full config).

in the table config:
[code]

then in the metrics schema:
[code]

[2020-06-01 16:27] quietgopher commented on #5474
https://github.com/apache/incubator-pinot/pull/5476

[2020-06-01 23:15] quietgopher opened #5479 "Vague error message during SegmentINdexCreation if column is not found"
I haven't tracked down the issue with my schema.  I'm guessing I have another typo.  The logs look like this.  I'm going to improve the error message.

[code]

[2020-06-02 01:29] quietgopher commented on #5479
https://github.com/apache/incubator-pinot/pull/5482

[2020-06-02 07:22] haibow opened #5485 "Remove LinkedIn config from pom"
In #5190, LinkedIn deployment configs were added to the pom file. This caused Apache release to fail, and I had to remove the following lines:

https://github.com/apache/incubator-pinot/blob/ed26e8589fe5f91d2876d417aebf23575010cc76/pom.xml#L100-L106

We should try to remove LinkedIn specific configs from the repo. One alternative solution is to configure distributionManagement in command line:
htt

[2020-06-02 23:50] jackjlli commented on #5485
@haibow Thanks for the heads up. I can work on this.

[2020-06-03 02:27] guruguha commented on #5390
I have an initial approach to this issue:
- provide an end point for users to query for segment status
- the end point would need to query the ZK to get the input segment metadata based on the type of the table
- parse the `SegmentZKMetadata` object to return the value as a JSON string

[2020-06-03 02:39] guruguha commented on #5390
I have an initial approach to this issue:
We can introduce a segment state monitor that keeps track of all the segments and their index version updates. Similar to `_lastKnownSegmentMetadataVersionMap`, but it is updated whenever a segment index is updated. The monitor could be the callback passed as part of the segment reload - currently there is none.

On the API front,
- provide an end point fo

[2020-06-03 04:12] npawar commented on #5390
I think one approach could be as simple as:
We introduce an API for reading physical segment's metadata files `/segments/index-metadata` (need a better name)
1. controller untars the segment
2. reads the metadata using SegmentMetadataImpl
3. extracts needed info from metadata.properties and indexMap
4. deletes uncompressed segment

[2020-06-03 06:08] mayankshriv opened #5490 "Performance benchmark framework"
With the Pinot community growing, as well as Pinot evolving for the better, we anticipate a ton of features that would go into performance critical parts of the code (e.g. query execution, RT segment generation, etc). Given that Pinot's forte is its blazingly fast speed, we would like to ensure that the rapid feature development does not compromise on its performance. We need a framework using whi

[2020-06-03 16:05] mcvsubbu commented on #5390
How about introducing an API on the server, since that is what we are looking for.  The controller can query each replica about whether indexes are loaded correctly, which version (crc) is loaded, etc. We can also keep some statistics in the server that can be retuned about the segment (num rows scanned per query, number of queries that the segment hit, whatever..)

[2020-06-03 16:11] siddharthteotia commented on #5490
One way to use data sets which are nearly similar to production datasets is to use the Data Anonymizer tool (part of pinot-tools). This tool will generate anonymized data with similar characteristics (cardinality, distribution etc) as the given input data. It will also generate the corresponding queries.

So folks with Pinot deployments can do the following:

- Take your production dataset and cor

[2020-06-03 16:18] npawar commented on #5390
based on our offline chat @guruguha
[code]

[2020-06-03 16:22] mcvsubbu commented on #5390
Yes, contact the server is the best. Please put up an API spec (either in this issue or in a separate doc) and send out email (and perhaps on slack as well) for people to comment.
thanks

[2020-06-03 20:46] #5485 closed

[2020-06-03 23:53] kishoreg commented on #5490
I like Sidd's idea, it will be good to have a framework where anyone can add their dataset and query set.

benchmark-root
-- /bin
    -- setup-cluster.sh
    -- run-benchmark.sh
-- cluster-spec.yaml. //can be a simple helm chart that can be used to spin up a pinot cluster in k8s
--   tables
      -- table-1
         -- table config
         -- schema
         -- Raw data
         -- ingestion spec

[2020-06-04 04:52] FelixGV commented on #5490
Hi Pinot community members :D !

I am not a Pinot user (yet!) but we have been thinking of a similar problem/solution. One aspect that we're not sure about is how best to report historical performance data.

At a high level, we would like the ability to have a CI pipeline run some performance test on each commit, but we would also like the ability to take the output of those tests (latency metrics

[2020-06-05 17:55] Jackie-Jiang commented on #5490
@FelixGV Love the idea of keeping track of historical performance data

[2020-06-05 18:00] mcvsubbu opened #5500 "travis builds do not provide branch name to maven-jar-plugin"
We use the maven-jar-plugin and use the ${scmBranch} variable to derive the branch name to put into the META-INF/MANIFEST.MF  files of jars. But then in travis builds, it looks like git branch is not available.

We should use TRAVIS_BRANCH in the travis CI builds instead of scmBranch provided by the plugin

[2020-06-05 18:58] FelixGV commented on #5490
I got some suggestions from a couple of other folks on existing projects that do this:

- https://github.com/lightbend/benchdb
- https://github.com/jzillmann/jmh-visualizer/blob/master/README.md
- https://github.com/akarnokd/jmh-compare-gui
- https://github.com/blackboard/jmh-jenkins

I have not looked deeply at any of them, so IDK yet which is best, but hopefully some easy leverage is possible. P

[2020-06-05 19:27] kishoreg commented on #5490
We can always save the results in git (at least for releases). Saving historical numbers is a good feature to have but what's more important is to have the ability to run benchmark against a commit version. Once we have that ability, we can always re-generate the benchmark and save it.

The historical results can get outdated as we add/change benchmarks or change hardware.

Any off the shelf solut

[2020-06-05 20:00] FelixGV commented on #5490
I agree that the core value of this work -- coming up with the actual queries/right metrics to measure -- is project-specific.

However, I think the generic part goes beyond just running commands. The reporting & visualization aspect could be non-trivial to build well, and moreover, the types of infrastructure projects that are very performance-sensitive are often specialized in things that are no

[2020-06-05 21:40] fx19880617 opened #5504 "Support syntax `SELECT literal`"
E.g. Superset is sending query: `SELECT 1` to test pinot connection.
This should be returned directly from broker.

[2020-06-05 21:57] kishoreg commented on #5504
we should other queries such as select now() etc that does not require and going through the execution stack

[2020-06-05 22:00] fx19880617 commented on #5504
now() is technically translated to a literal, so it should be covered also

[2020-06-05 22:06] icefury71 commented on #5388
@kishred can you give us some more details on how you're doing the batch ingestion. How exactly are you creating the Pinot segments ?

[2020-06-06 00:26] npawar opened #5507 "Deep extraction support in all RecordExtractors"
Refer to description in PR https://github.com/apache/incubator-pinot/pull/5492.

This PR added deep extraction for JSON and AVRO. We want to do the same for all remaining extractors. End state:
Every extractor should convert
- nested structures to Map
- Collection to Object[]
- Number/String/bytebuffer to single value

As a side effect, it would be great if we can clean up AvroUtils/JsonRecordExtr

[2020-06-06 01:02] npawar opened #5509 "Derived columns"
Introduce derived columns - columns which are derived from other columns in the Pinot schema.
Motivation: Derived columns will also be useful in adding columns to existing data, if the column value can be derived from existing data. For instance, if we have column `foo`, and then add `bar` to the schema, if `bar = f(foo)`, we can backfill all of the data, without having to regenerate segment. Anot

[2020-06-08 19:43] fx19880617 opened #5516 "Move quickstart examples to use SQL Mode"
Current Pinot Quickstart is still using PQL mode, we should move to SQL mode.

Sample Quickstart console outputs:
[code]

[2020-06-09 00:08] akshayrai opened #5517 "[RCA][UI] Refresh and open a fresh RCA tab for new metrics"
UI - [RCA] After feeding a metric on the RCA page, it is hard to go back and view the rca for another metric. The page automatically loads the previous metric unless we manually modify the url.

**Priority:** High
**Possible Solution:** Click on “Root Cause Analysis” pop up a model and ask “Investigate another metric?” If click yes then go to the original RCA page. Otherwise remain on the same pag

[2020-06-09 00:10] akshayrai opened #5518 "[RCA][UI] Need a quick way to know what metrics exist on ThirdEye"
Currently there is no place to search for metrics. The drop-down in the RCA doesn't list unless we type a few characters. Can we make it list a few metrics by default?

**Priority:** Low
**Possible Solution:** Show metrics by paginations. If users scroll down to the end then load the next page.
**Effort:** Medium

[2020-06-09 00:11] akshayrai opened #5519 "[Preview][UI] New Settings Anomalies on the time-series legend is confusing"
In the UI legend rephrase New Settings Anomalies to anomalies

**Priority:** Low
**Solution:**
“Current Anomalies” -> “Anomalies”
“New Setting Anomalies” -> “Preview Anomalies”
**Effort:** Tiny

[2020-06-09 00:14] akshayrai opened #5520 "[Preview][UI] The terms old and new on the preview table are not intuitive."
The Detection Settings column in the preview table with Old and New values is confusing. Can we redesign it and make it more intuitive?

**Priority:** Low
**Solution:** “Old” -> “Anomalies”
“New” -> “Preview Anomalies”
“Detection Settings” -> “Anomaly Sets”
**Effort:** Tiny

[2020-06-09 00:15] akshayrai opened #5521 "[Preview][UI] Request top make the default preview end time set to the dataset watermark"
Can we default the preview time-window to the max dataset timestamp so that users can always preview some data?

**Priority:** Low
**Possible Solution:** Query the end time of the dataset, and use the end time in the preview window. It only makes sense for demo mode.
**Effort:** Medium

[2020-06-09 00:17] akshayrai opened #5522 "[TE-Admin][UI] Ability to create new applications from admin page"
Add a button to create a new application. This is mainly helpful when booting ThirdEye for the first time with 0 applications.

**Priority:** High
**Possible Solution:** Add an entry to “Select entity to edit” called “Create new”. Then it will open an empty tab. Users need to add the json.
**Effort:** Low

[2020-06-09 00:19] akshayrai opened #5523 "[Performance-Mertric][UI] Clean up the default representation for performance metrics"
The response rate by default shows -% . We should update this and make it more clear what it means. The changes should ideally reflect all the places where the numbers are shown.

**Priority:** Low
**Solution:** Hide %.
**Effort:** Tiny

[2020-06-09 00:20] akshayrai opened #5524 "[Subscription Group][UI] Hide the internal subscription group id on the UI"
Do not display the internal subscription id in the subscription list. It is very misleading. People will think it is the number of anomalies or alerts etc.

**Priority:** Low
**Solution:** Hide id.
**Effort:** Tiny

[2020-06-09 00:21] akshayrai opened #5525 "[TE-demo][Backend] Have a default application auto-created in demo mode"
We should have a default application auto-created in the demo mode. For example, sandbox application.

**Priority:** Low
**Solution:** Automatically populate “sandbox” entry to the application table.
**Effort:** Tiny

[2020-06-09 00:22] akshayrai opened #5526 "[TE-demo][Backend] cannot run frontend and backend simultaneously in demo mode"
Currently we cannot run backend and frontend at the same time as it will lock the h2 db. can we think of another approach?

**Priority:** N/A
**Solution:** h2 is only for demo frontend. We need to document it.
**Effort:** N/A

[2020-06-09 00:23] akshayrai opened #5527 "[TE-doc] Require better documentation on the items listed"
Doc - How to configure monitoringGranularity?
Priority: Low
Solution: Document it.
Effort: Low

Doc - How to add a row count metric/alert?
Priority: Low
Solution: Add document on start. Should use ROW_COUNT to count the metric.
Effort: Low

Doc - Update how to run the backend and configure the cron. This needs to be documented
somewhere in the quick start guide
Priority: Low
Solution: Mention the

[2020-06-09 21:06] #5516 closed

[2020-06-10 08:55] snleee commented on #2715
Updated design document
https://docs.google.com/document/d/1-AKCfXNXdoNjFIvJ87wjWwFM_38gS0NCwFrIYjYsqp8/edit#

[2020-06-11 03:25] haibow opened #5540 "Remove tgz files from source package"
It was flagged by @felixcheung that there are binary files in the source package
[code]
Creating this issue for tracking.
Options:
- Use raw files
- Exclude certain folders from src release

[2020-06-11 06:48] fx19880617 commented on #5540
We should exclude:
[code]

[2020-06-11 08:40] snleee commented on #5540
Addressed in the #5541 please take a look

[2020-06-11 14:37] #5540 closed

[2020-06-12 00:14] kishoreg commented on #5475
@snleee  is this valid?

[2020-06-12 00:16] kishoreg commented on #5356
Not an issue

[2020-06-12 00:16] #5356 closed

[2020-06-12 17:22] pradeepgv42 opened #5550 "Expose lag metrics when consuming from kafka"
Expose lag metrics when consuming from kafka, this could be sum across all partitions of (approx offset at broker - latest offset consumed) which would be very accurate but should be a close enough approximation.

[2020-06-12 17:25] pradeepgv42 opened #5551 "Provide config to pass consumer group name when using kafka as ingestion mechanism"
Currently I see that consumer group name is defaulting to empty string, it would be nice to pass consumer group as a parameter to the pinot table config.

[2020-06-12 17:35] kishoreg commented on #5550
Relevant links
- https://twitter.com/KishoreBytes/status/1250557828500090880
- https://github.com/lightbend/kafka-lag-exporter
- https://github.com/linkedin/Burrow/wiki

All existing methods are flawed in one way or the other. Setting alerts on them will trigger false alarms in edge cases.
The right solution is to some

@pradeepgv42 offsets might not be comparable across different implementations.

[2020-06-12 17:45] pradeepgv42 opened #5552 "Deduping mechanism in pinot"
Is there a way to dedup similar rows? Will help with dealing with duplicate rows during kafka consumption and if partial data is ingested through batch mechanism (dedup the overlapping segment with the data consumed through realtime)

[2020-06-12 17:48] kishoreg commented on #5552
@npawar
This can be a good transformer to add to filter duplicate events.

[2020-06-12 17:49] kishoreg commented on #5551
why is this needed?

[2020-06-12 17:51] mcvsubbu commented on #5359
Keeping the issue open until @KKcorps verifies things

[2020-06-12 17:52] mcvsubbu commented on #5552
There is a table config setting to aggregate metrics. If all your dimension values are same, then the metric values are added, and the rows are squished. Is this what you mean by "similar?"

There are some limitations, but give it a try

[2020-06-12 17:54] npawar opened #5553 "Tiered storage support"
Motivation:
Consider use cases which have Pinot tables that have very large retention, but typically only query the most recent segments. Or use cases where very low latency is expected when querying the recent data, and are more tolerant of slightly higher latencies when querying historical data which is very old. In order to optimize for low latency, we often recommend using high performance SSD

[2020-06-12 17:54] mcvsubbu commented on #5552
https://docs.pinot.apache.org/basics/components/table#tableindexconfig

[2020-06-12 18:04] kishoreg commented on #5551
Closing as this is applicable only to high-level consumers and it's already supported.

[2020-06-12 18:04] #5551 closed

[2020-06-12 18:14] pradeepgv42 opened #5554 "Using deep storage as a tiered storage"
Currently IIUC all the segments need to be on disk to be able to query them.
Usually, queries to older data tends to be lower or clients would be okay with
in-curing latency for queries on older data.

Using this assumption, we could possibly keep the segments older than X days
on deep storage and not load them onto the servers.

Couple of ways to deal with this based on discussions on slack:
1) U

[2020-06-12 18:29] pradeepgv42 commented on #5552
I could use aggregate and unique, but I am thinking of following case which I believe wouldn't return accurate results, correct me if I am wrong or if there is an alternate solution.

With "aggregated" (meaning all column values are same including the timestamp and assume timestamp is in microseconds) if there are two rows of same value, count would become 2. Usually for querying purposes we would

[2020-06-12 18:34] pradeepgv42 commented on #5552
nm, I could actually just do count(*) instead of sum(count column) 🤦

[2020-06-12 18:41] #5504 closed

[2020-06-13 01:56] npawar opened #5558 "Do not allow realtime table creation if timeColumnName is null"
A realtime table doesn't work in Pinot without a timeColumnName defined in the table config. However, we do no validation to ensure that the table config we are creating has a valid time column name.
Add validations to
1) check that timeColumnName is defined in the table config being uploaded/updated
2) ensure it is present in  schema

[2020-06-13 02:01] npawar opened #5559 "Table truncate command"
Add truncate operation i.e. delete all contents of table, without removing table config and schema.

For offline, this simply means deleting all segments (everything a delete operation does, but keep the table/schema definition)
For realtime, this means deleting all segments, both completed and consuming. Then, we should recreate the ideal state, just like we would've for a new realtime table.

[2020-06-14 09:28] fx19880617 opened #5563 "Tunable Hyperloglog object size"
Currently we default hyperloglog object log2m to 8 (accuracy = 6.5%), which doesn't fit for the use cases requires certain accuracy.

Ideally we should make `log2m` configurable through:

- [ ] pinot cluster level
- [ ] per table level override
- [ ] per query/session level override

[2020-06-14 20:56] guruguha commented on #5390
I have a Google doc with the description and base design. Please review: Pinot [#5390](https://docs.google.com/document/d/1E_J7PxF9WtaE6ido__u0O-Emtyu0IghQicC-1eLZeRo)

[2020-06-15 05:28] fx19880617 opened #5565 "Timeout exceptions is not set clearly in query response."
Currently we don't see timeout exception in pinot query exceptions.
Sometimes we just see pure empty response, and sometime we see the message below, which shows no clue of this is timeout and users need to see Pinot server log to identify the real issue is timeout.

This also prevents client side to retry on certain exceptions.

[code]

[2020-06-15 07:56] elonazoulay opened #5566 "Typo in realtime SuccessResponse"
The message returned is "Table <mytable>_REALTIME succesfully added"

Should be "successfully".

[2020-06-15 16:48] npawar commented on #2719
Closing as this is old and fixed.

[2020-06-15 16:48] #2719 closed

[2020-06-15 16:51] npawar commented on #5268
Design proposal: https://docs.google.com/document/d/1Cahnas3nh0XErETH0KHLaecN6xCnRVYWNKO3rDn7qcI/edit#

[2020-06-15 23:21] Jackie-Jiang commented on #5566
@elonazoulay Good catch. Can you please submit a PR to fix this?

[2020-06-16 03:53] #5563 closed

[2020-06-16 17:51] Jackie-Jiang commented on #5559
@npawar What's the difference between this API and remove all segments API? I can see the truncate API also disables the table, but I don't think it should do so.

[2020-06-16 17:57] npawar commented on #5559
@Jackie-Jiang there's no difference. It's just packaging the Pinot operations into a command that users are familiar with (database terminology).

Yes, the table should not be permanently disabled. I noted `disable` so that we stop sending queries. I forgot to write re-enable after deleting all segments.

[2020-06-16 18:15] richardpenman opened #5574 "NULL value for metrics"
Is it practical to support NULL values for metrics? Currently NULL values are saved as 0 by default.

This means we need to do messy workarounds, such as creating separate datasets for null and non-null values, or defining a magic number that does not exist in the actual data.

Using a magic number creates complexity for others trying to consume the dataset.
For example with NULL you can use SUM()

[2020-06-16 18:25] kishoreg commented on #5574
#4943

#4585

[2020-06-16 18:40] KKcorps commented on #5359
@mcvsubbu The StreamPartitionMsgOffsetFactory interface expects a createMaxOffset method to be implemented. But for kinesis, the offsets are string and they can go out of bounds for Long or any other data type.

[2020-06-16 18:51] mcvsubbu commented on #5359
@KKcorps I have removed that need. Please pull the latest code

[2020-06-16 18:55] KKcorps commented on #5359
Checked it just now. Looks good to me!

[2020-06-16 19:11] Jackie-Jiang commented on #5559
@npawar IMO we don't need to disable then re-enable the table. If the user sends queries while truncating the table, the result is expected to be indeterministic. If we disable the table, no Helix transition message will be sent, and all the transitions will happen when the table gets re-enabled. The behavior will be the same as not disabling the table.

[2020-06-16 19:13] Jackie-Jiang commented on #5559
Actually I'm not sure about the Helix behavior when you modify the IdealState of a disabled resource

[2020-06-16 19:17] #5558 closed

[2020-06-16 21:10] mcvsubbu commented on #5559
We may need to do this carefully. Need to consider race conditions like:
* What if a segment gets pushed while we are deleting all segments?
* What if a segment completes while we are deleting the consuming segment?

Due to these reasons I prefer that we don't complicate pinot admin APIs on the controller. Instead, provide an admin command that can do more complex operations using the primitives i

[2020-06-16 21:24] Jackie-Jiang opened #5577 "Deprecate BrokerRequest in query engine"
For historic reason, BrokerRequest does not support expressions natively. In order to support expressions (transform), the current solution is to store the expressions as strings and compile them when constructing the operators.
The problem with this approach is that the same compilation is performed multiple times on EACH segment. This could cause performance degradation when the server is hostin

[2020-06-16 21:24] Jackie-Jiang commented on #5577
Introduce pre-compiled QueryContext class to replace BrokerRequest: #5483

[2020-06-16 21:26] Jackie-Jiang commented on #5577
Replace BrokerRequest in ServerQueryRequest and SegmentPruner: #5538

[2020-06-16 21:26] Jackie-Jiang commented on #5577
Replace BrokerRequest in PlanMaker: #5568

[2020-06-16 21:28] Jackie-Jiang commented on #5577
Some cleanups to simplify the BrokerRequest replacement:
- Clean up the HAVING clause handling: #5570
- Clean up the query plan printing: #5576

[2020-06-16 22:39] Jackie-Jiang opened #5578 "Create documentation on developper guidelines"
E.g.
- Apply the Pinot code style: `/config/codestyle-intellij.xml` or `/config/codestyle-eclipse.xml`
- Annotate interfaces with `InterfaceAudience`
- Use `_` as the prefix for member variables
- All upper case for constant variables
- Annotate arguments with `javax.annotation.Nullable` if it can be null; by default the argument should not be null
- SuppressWarnings annotation
- VisibleForTesting

[2020-06-16 23:54] Jackie-Jiang commented on #5577
Replace BrokerRequest in PlanNode: #5579

[2020-06-17 03:04] kishoreg opened #5580 "Refactor start/stop commands"
Users typically go through 3 phases
- **quickstart** comes with preloaded data (quickstart-batch.sh) (start's zookeeper, controller, server, broker in a single process)
- **standalone (local)**: start pinot on a single node and ingest data (bin/pinot-admin.sh Start(Controller|Server|Broker))
- **cluster**: Deploy and operate Pinot on multiple nodes.

Today, each phase has a different set of script

[2020-06-17 03:36] kishoreg commented on #5580
**Proposal**

**Quickstart**
- bin/quickstart-batch.sh
- bin/quickstart-stream.sh
- bin/quickstart-hybrid.sh

**Standalone**
- bin/pinot-admin.sh start-zookeeper <zoo.cfg>
- bin/pinot-admin.sh start-pinot-service <all-in-one.config>

**clustered mode**
- bin/pinot-admin.sh start-zookeeper <zoo.cfg>
- bin/pinot-admin.sh start-pinot-service <controller.config>
- bin/pinot-admin.sh start-pinot-servic

[2020-06-17 18:16] elonazoulay commented on #5566
Nice! @Sreemanth is quick:)

[2020-06-17 18:20] daniellavoie commented on #5580
I like the idea of providing a flexible, simplified and unified startup experience regardless of the phase type.

I have a simple additional requests which might be worth a dedicated topic on its own. Yet I'll mention it here because it might influence the design.

A `<service>.config` file will indeed simplify the configuration management for documentation and code maintenance. Right now, args ne

[2020-06-17 18:47] kishoreg commented on #5580
@daniellavoie Great points and it makes sense given we do have to consider Kubernetes/Docker

Let's try to summarize the different things we want to support
- bin/pinot-admin.sh start-pinot-service -config-file <service>.config
- bin/pinot-admin.sh start-pinot-service -config-env <config_env_name>

we can obviously enhance start-pinot-service to support other options in future.

[2020-06-17 19:41] kishoreg opened #5582 "pinot-admin exceptions are not getting logged"
createtable failed because of Kafka issues but there was no error message. Had to check controller log for the error messages

[2020-06-17 20:09] mcvsubbu commented on #5582
We should do the stream operations (e.g. get number of partitions, in this case) in a separate thread, and report a time-out if that fails. The only problem is that the stream implementation may hang indefinitely, eating up one thread.

[2020-06-17 20:21] kishoreg commented on #5582
For now, even propagating the error message to the user is good enough

[2020-06-17 20:25] kishoreg opened #5583 "API to get the pinot version"
Controller should provide an API that return the Pinot version 0.1.0, 0.2.0 ...

It's possible that each node is running on a different version and we can enhance the API to return all versions for each node in the cluster.

Package a version file in the code that gets upgraded every release.

[2020-06-17 21:10] fx19880617 commented on #5583
Current controller has `/version` api.
Sample output:
[code]

[2020-06-17 21:38] kishoreg commented on #5583
Awesome!

Where is this coming from? is this only showing the plugin versions

[2020-06-17 21:47] fx19880617 commented on #5583
From here:
https://github.com/apache/incubator-pinot/blob/master/pinot-common/src/main/java/org/apache/pinot/common/Utils.java#L115

you can find `pinot-distribution` which is the main pinot version.

[2020-06-17 23:09] Jackie-Jiang commented on #5577
Replace BrokerRequest in filtering layer: #5584

[2020-06-18 15:53] mcvsubbu opened #5588 "Documentation/tool improvements"
* Document the Realtime provisioning helper better.
* Include the arguments, assumptions (be it default or deductions from table config) in the output of the tool. For example, if we assume that this is a hybrid table (table-config indicates daily push) then print that out.
* Clarify that the tool is estimating resident memory, not mapped memory. If possible, estimate mapped memory and print that

[2020-06-18 16:22] kishoreg opened #5590 "Generate cli for Pinot REST Api"
Having a pinot-rest-cli based on swagger endpoints will be useful. we can eliminate some commands from pinot-admin.sh

[2020-06-18 19:15] kishoreg commented on #5590
https://github.com/swagger-api/swagger-codegen

[2020-06-18 19:24] kishoreg commented on #5583
Cool.

[2020-06-18 19:24] #5583 closed

[2020-06-19 19:43] Jackie-Jiang commented on #5577
Enhance Predicate.toString() to return valid expression: #5594

[2020-06-19 23:12] satishbellapu commented on #5580
If you are designing CLI here are the few suggestions,

Command should be #pinot in the terminal,

[code]

[code]

`Use " pinot [command] [options] --help" for more information about a command.`

Instead of passing the configurations to the commands we can export the configuration folder so based on the options choice, it can select expected configurations, this will be more flexible in the future

[2020-06-19 23:21] kishoreg commented on #5580
@satishbellapu, thanks. This is definitely better than what I suggested. @daniellavoie what do you think?

[2020-06-19 23:28] jasperjiaguo opened #5596 "Use efficient search for the intersection of ImmutableRoaringBitmap and ScanBasedDocIdIterator"
In the current implementation of AndDocIdSet:127-129 and ScanBasedDocIdIterator.applyAnd(ImmutableRoaringBitmap) we are doing the column by column intersection of bitmaps with ScanBasedDocIdIterators.  If the rows selected by the (intersected) bitmap are large the efficiency will be considerably lower than the approach we use in AndDocIdIterator.next(). Therefore, we want to apply the same method

[2020-06-19 23:38] kishoreg commented on #5596
@jasperjiaguo I think I know what you are talking about but it will be good to provide examples.

Few things
- going to the other extreme can also be bad in edge cases.
- how do we define large bitmap

[2020-06-20 00:59] jasperjiaguo commented on #5596
1. I have considered 2 extreme cases:
1) We have a long consecutive rows of hit in each column. In this case, yes we can loose locality be cause we are essentially doing row by row scanning. However, now the condition we are using to switch between the two approaches is `(numIndexBasedDocIdIterators > 0 && numScanBasedDocIdIterators > 0) || numIndexBasedDocIdIterators > 1` which is essentially usi

[2020-06-20 02:18] daniellavoie commented on #5580
Definitely an upgrade! This is a lot more consistent to the experience you get in the go / node cli world.

### Foreground or background

I feel the CLI should start the service in foreground by default unless specified otherwise. As such, only the `stop` command should only be accepted when a command like `start-background` was used. Starting in foreground sounds more natural for Docker and Kuber

[2020-06-20 05:07] satishbellapu commented on #5580
@daniellavoie  few comments,

**Foreground or background :**

I feel Foreground option will not be much useful unless for the quick start or someone trying the system for the first timers, because you have to close the services and relaunch in background for long running the system, instead of that we can support only one mode which is background and add the following command for debugging or expl

[2020-06-20 15:22] daniellavoie commented on #5580
I have to disagree here. We should pause this conversation and take a step back and set ourselves goals. One of the big theme that I would like to see improvement is to make Pinot more friendly to Cloud Native deployments. If you want to run something in a container based environnement, it needs to run in foreground to fully embraces all the container lifecycle management offered by the container

[2020-06-20 16:40] #5566 closed

[2020-06-21 07:55] satishbellapu commented on #5580
Yes I agree, I was recommending the CLI, for non-container based deployments (not for docker/kube/gcp/az etc.), I was trying to improve the initial proposals from @kishoreg  they are more specific requirements towards the local cluster than cloud.

I am not sure you really want to have a wrappers on top of kubctl/docker/aws/gcp etc I see good documentation with cloud native deployments from [pinot

[2020-06-21 12:08] mangrrua opened #5598 "Spark-Pinot connector to read and write data from/to Pinot directly"
Spark-Pinot connector to allow read data from Pinot in Spark directly(write support will be added)

https://github.com/mangrrua/spark-pinot-connector

### Motivation

Pinot has Spark batch ingestion job for offline processing. Spark batch ingestion waits input files(partitioned or not etc), and converts to the segment files, then push to Pinot. Simplified steps for a batch ingestion with spark;

1

[2020-06-21 18:09] SudhaGarimella opened #5600 "Pinot 0.4 Release | Realtime table- Error in creating a segment"
This is the Realtime table use case where in data gets streamed from Kafka, during a segment creation - an exception is being thrown. Attached is the exception stack trace from the pinot server. Also attached is the list of file descriptions outputted from lsof command on all processes running on the pinot server.
Same works fine on release 0.3.
the file exists in Azure portal - Attached snap shot

[2020-06-21 19:12] kishoreg commented on #5600
There was no change in the code related to segment creation.

@mcvsubbu @npawar @Jackie-Jiang  any idea whats going on here?

[2020-06-22 04:01] haibow commented on #5600
The last few lines of the log shows
[code]
Looks like the segment sealed successfully but failed to delete the tmp folder.
If you could paste more logs (esp after the exception) we might have more clues. Might be some permission issues.

[2020-06-22 16:13] #5522 closed

[2020-06-22 23:54] Jackie-Jiang commented on #5577
Replace BrokerRequest in Operators and DataTableReducers: #5605

[2020-06-23 16:46] jgutmann commented on #5590
Hi Kishore, do you have some commands or operations in mind which you would like to see prioritized for this?

[2020-06-23 16:56] jgutmann commented on #5590
Hi @kishoreg, do you have some commands or operations in mind which you would like to see prioritized for this?

[2020-06-23 17:56] kishoreg commented on #5598
@ karthikkakolu is also interested in this. Karthik, can you please add your requirements

[2020-06-23 18:57] pradeepgv42 opened #5609 "Organize segments into time based folders when using S3 as deep storage"
Currently all the segments which are uploaded to S3 are being stored in a single folder,
it would be nice to group them into time window based folders.

[2020-06-23 19:04] KKcorps commented on #5609
@pradeepgv42 can you also provide your use case here.

[2020-06-23 19:10] pradeepgv42 commented on #5550
(Sorry, just noticed this, missed your reply earlier)

I can definitely monitor it outside of Pinot, querying timestamp
of the latest entry or based on consumer offsets as you mentioned.
Something approximate should work for us for now atleast.

Thanks for the resources, I was not aware of Burrow & kafka-lag-exporter.
I was thinking if Pinot already provided these I could avoid adding the extra la

[2020-06-23 19:16] kishoreg commented on #5580
There are a lot of good ideas in this thread. @daniellavoie, can you please summarize and edit the description. We can tag the requirements in as phase1, phase 2 etc

[2020-06-23 19:16] pradeepgv42 commented on #5609
time window based folders would help in ease of accounting and maintaining the segments.
For example,
* if we want to delete the segments beyond a certain date.
* understand the segment sizes grouped by time

[2020-06-23 19:45] fx19880617 opened #5610 "Direct Memory OOM issue during upgrade to 0.4.0"
The table has a few no-dictionary columns.
After the upgrade, the servers are experiencing OOM issue even when querying `SELECT * FROM myTable`.

[code]
cc @siddharthteotia @Jackie-Jiang @kishoreg

[2020-06-24 00:37] siddharthteotia commented on #5610
@fx19880617 , do we have the segments handy? We can load the segment and look into the file header to see number of documents per chunk. I had made an improvement (as part of supporting text blobs for text index) by deriving the number of documents per chunk based on the length of data as opposed to hard coded 1000. So if we pack more than 1000 rows per chunk, the size of each chunk will increase.

[2020-06-24 03:20] tmwangi opened #5612 "Support column rename with backwards compatibility"
Avro allows one to rename a field and also retain the old name using an `alias` keyword like so:

[code]

While using avro schema to configure Pinot column names, is it possible to have a Pinot equivalent for this to allow easy column renaming? That way services still using the old column name still read and write using that old name.

[2020-06-24 03:34] fx19880617 commented on #5610
Segments are not handy and downloadable, I feel I need to write a program to run in prod then load segment and see the file headers. Those segments are created using 0.3.0 release.

[2020-06-24 12:16] SudhaGarimella commented on #5600
[seg-create-issue.txt](https://github.com/apache/incubator-pinot/files/4825293/seg-create-issue.txt)

Sorry did not realize that it was truncated. Please check this one.

[2020-06-24 15:22] mcvsubbu commented on #5600
@SudhaGarimella I am not sure how azure permissions work. Things to examine would be:
(1) What user did you run as when deleting the file from azure portal?
(2) what user does the pinot server executable run as?

[2020-06-24 15:49] daniellavoie commented on #5580
# Refactor start/stop commands

## Table of Content

* [Motivation](#motivation)
* [Goals](#goals)
* [Anti-Goals](#anti-goals)
* [Current State](#current-state)
* [Proposal](#proposal)
  * [Step 1 - A unified startup command for operator](#step-1-a-unified-startup-command-for-operators)
  * [Step 2 - Implement a developer focused CLI](#step-2-implement-a-developer-focused-cli)

## Motivation

User

[2020-06-24 19:42] SudhaGarimella commented on #5600
@mcvsubbu :  so 2 things
1. the azure portal path is mounted into the server, so isnt that like a local file for pinot server?
2. what we did today was we first had used 0.3 release, then did a rolling update (changed the img to 0.4). When using 0.3 you can see we created about 39 segments, when upgraded to 0.4, the first segment it tried to create had failed. So the point I am saying is - same se

[2020-06-24 21:33] Jackie-Jiang commented on #5577
Replace BrokerRequest in functions: #5613

[2020-06-24 22:08] jgutmann commented on #5588
+1 On what @mcvsubbu stated above, after going through and using the tool myself, here's some additional thoughts

1. It might be interesting if we could point the tool at a stream and the tool could consume its own segment from the stream.

If the table config contains the stream configs then it should be able to use these to start up a pinot-server instance and consume. (Perhaps this is harder t

[2020-06-24 22:57] npawar opened #5615 "Remove cluster.tenant.isolation.enable property from controller"
This property is by default true. The effect of this is that when doing a table upload, the `tenants` section  gets overridden to DefaultTenant. Any custom tenants or tagOverrideConfigs will not get saved.

Investigate if this property is useful. Remove if it isnt.

[2020-06-24 23:20] pradeepgv42 opened #5616 "Exception using S3 as deep storage"
I am seeing below exception trying to use S3 as deep storage.
Seems like an issue with aws-sdk and httpclient version used.

NoSuchMethodException was thrown when disabling normalizeUri. This indicates you are using an old version (< 4.5.8) of Apache http client. It is recommended to use http client version >= 4.5.9 to avoid the breaking change introduced in apache client 4.5.7 and the latency in

[2020-06-25 02:07] kishoreg commented on #5559
@mcvsubbu Pinot admin commands are simply wrappers on pinot controller admin API's right.

We can disable a table first and then truncate it. This is a useful command and let's not worry too much about all the corner cases. when someone is doing a truncate, they don't really care about the data.

[2020-06-25 15:44] mcvsubbu commented on #5559
@kishoreg Maybe you forget, :) but I know how hard it was to detect (let alone debug) the phenomena of two consuming segments for the same partition in the same replica.

Yes, this is a corner case, but when an issue is reported, we need to debug it. If it was hard when we had all the machines and logs at hand and could look at zookpeer logs at will, imagine doing it remotely when some open source

[2020-06-25 15:58] kishoreg commented on #5559
whats the fix?

[2020-06-25 16:00] kishoreg commented on #5616
@KKcorps can you please take this up.

[2020-06-25 16:06] kishoreg commented on #5600
@fx19880617 any changes to the way we start k8s containers?

[2020-06-25 16:20] mcvsubbu commented on #5559
Good quet

[2020-06-25 16:23] mcvsubbu commented on #5559
Good question. I don't have an answer at the moment.  As a reviewer, the best I can do (and sometimes it is not possible either) to look at problems it may bring about.

Keeping the truncate facility as a command line argument will help, because we will NOT be running validation manager, etc. We can check things all we want, report error to the user, user can run it again, etc. Why can't we do tha

[2020-06-25 18:20] fx19880617 opened #5620 "Support aggregation functions in order by clause but not in select clause"
E.g.  get timestamps ordered by metrics.
[code]

[2020-06-25 18:35] kishoreg commented on #5620
why is this needed?

[2020-06-25 18:49] fx19880617 commented on #5620
SuperSet Filterbox requires this.

[2020-06-25 19:36] fx19880617 commented on #5600
Is it possible to check the directory permission between two images for the mounted directory inside the container?
You can run `kubectl exec -it pod/pinot-controller-0 -n pino-quickstart bash` to get into the container's bash

[2020-06-25 20:28] KKcorps commented on #5616
Sure. Should I remove parent from this module and then shade the dependency as per our discussion?

[2020-06-25 22:13] #5610 closed

[2020-06-26 08:14] siddharthteotia commented on #5554
This would be a good addition.

We can potentially build a storage hierarchy as DRAM -> SSD/HDD -> Remote store (Deep Store).

- Segments are adaptively (based on the query pattern) brought onto the compute nodes (servers) and stored on local storage (SSD or HDD).
- Furthermore, heavily queried (and based on size) segments can be cached completely in DRAM on the servers. This would be helpful for

[2020-06-26 14:55] Sreemanth opened #5623 "Binary Build : Apache rat should exclude Eclipse IDE project related meta files also."
Currently apache-rat-plugin excluding IntelliJ project meta files only. Eclipse IDE project meta files also should exclude.

[code]

[2020-06-26 19:22] yupeng9 opened #5627 "Query-level priority and control"
I want to open a discussion around how to add query-level priority and control. Though Pinot has tenants at the servers and brokers level, often we need finer-granular control at the query level.

In production, we are facing the following common challenges:
 - Bad queries. We have seen some expensive queries, such as due to mistakes or sloppy ones from amateur users, could cause the scan of very

[2020-06-26 23:26] agrawaldevesh commented on #5627
One quick hack: If we query Pinot via Presto then we can leverage Presto's resource groups (which is more of an admission control mechanism rather than a Yarn-queue like mechanism). Doing up front costing of the query shouldn't be too hard either if we can get apriori stats from Pinot, again leveraging Presto's pre existing CBO.

[2020-06-26 23:37] kishoreg opened #5630 "Segment download url should not point to controller vip when pinotfs is configured"
e.g user is using s3 to store the segments. the segment.realtime.download.url in ZKMetadata should point to s3:// instead of http:// on the controller. This allows the realtime servers to download segments directly from s3 instead of going through controller. We do this already for batch upload. we should follow the same in realtime as well.

[code]

[code]

[2020-06-27 01:35] mcvsubbu commented on #5559
One way to alleviate such a problem will be to scan the ideal state for duplicate segments in the same partition/sequence pair. If there is an attempt to add this, then throw a permanent exception and not allow addition of the segment. This will, at least help us a bit in debugging, if we get controller logs and see this exception.

This self-checking code will appear to be a patch against a bug t

[2020-06-27 05:41] kishoreg commented on #5600
@SudhaGarimella can you provide more info

[2020-06-28 23:20] kishoreg commented on #5616
or shade this jar explicitly and use the version we need.

[2020-06-28 23:30] kishoreg commented on #5609
we would love to do this.  one problem is a segment can span across days. What should we do in that case?

Most segments will have data for a single date but during day boundaries, its possible to span across two days. There is another case of late-arriving events that might have data spanning across many dates.

We are working on segment split and merge tasks where we can plan to re-organize the

[2020-06-28 23:36] kishoreg commented on #5559
How is this truncate different from drop table.

my proposal is

1. - disable the table
2. - wait for all segments to go to offline state
3. - delete all the segments
4. - enable the table
5. - call the setup table method

We already do the first 3 steps for delete/drop table.

[2020-06-29 00:35] mcvsubbu commented on #5559
@kishoreg what happens if the controller fails over to another one in between any of these steps?

[2020-06-29 01:01] kishoreg commented on #5559
Client gets an error response and tries it again. All the steps are idempotent.

This is same as any other call that involves multiple steps right?

For e.g addTable can fail before setting up real-time table consumption.

[2020-06-29 16:21] sudha-garimella commented on #5600
I checked the folder permissions for 0.4 they have read write and execute. But i cant check for previous release since those folders are already deleted.

[2020-06-29 17:37] pradeepgv42 commented on #5609
thanks, yeah that makes sense, better organizing will only be possible if segments are created in a time window respecting manger. One alternative is to organize by max(timestamp) in a window.

This might be better when segment split/merge tasks are available (not sure how exactly this would look like), maybe better to tackle this then.

[2020-06-30 16:35] SudhaGarimella commented on #5600
![linux-folder-perm1](https://user-images.githubusercontent.com/26456419/86152423-c2828200-bb1d-11ea-8723-056026999bab.jpg)
![linux-folder-perm2](https://user-images.githubusercontent.com/26456419/86152431-c4e4dc00-bb1d-11ea-9f93-5a134b9711a0.jpg)

Both of these are for 0.4 release

[2020-06-30 17:43] npawar opened #5640 "Schema validation improvements"
Somethings missing from schema validation
1. check syntax of date time field spec's fields
2. check for reserved keywords being used as column names

[2020-06-30 19:46] yupeng9 commented on #5627
Thanks for sharing the thoughts. I think it's a promising direction for users who query Pinot through Presto, as we can leverage the resource management layer in Presto.

At the minimum, we could add policies to control the queue size, if we could add a policy for the ad-hoc users, which might solve the challenge #2. To further utilize the constraints on CPU and memory, I think we need an integrat

[2020-06-30 20:11] SudhaGarimella commented on #5600
As suggested by @fx19880617 , I updated the storage class for server to default (previous value was azurefile) and then segments are getting created now without any exception.
As per recommended approach, storage class for server has to be azuredisk which is the default and not azurefile.

[2020-06-30 20:21] SudhaGarimella commented on #5600
![pvc-snap](https://user-images.githubusercontent.com/26456419/86173282-5e6fb600-bb3d-11ea-85d8-5ad660a1fae3.jpg)
This image is post change

[2020-07-01 04:21] karthikkakolu commented on #5598
UseCase :

Write data to custom datastore/stream (Cassandra, Kafka, Postgre) where I can write data in flat or relational way after some data post-processing.
This helps me in overcome some shortcoming in pinot related to pagination, joins  and prune data further.
Also it helps me further in leveraging some  datastore technologies which comes OOTB.

[2020-07-01 16:58] Sreemanth commented on #5559
@kishoreg
Step 4 - Enable the table

Step 5- call the setup table method

[2020-07-01 17:00] kishoreg commented on #5559
@npawar can you point him to setup table code or the validation manager.

[2020-07-01 22:10] cintoSunny opened #5646 "Not creating segments on VPN"
When I run the startup scripts for batch with VPN, the Pinot segments are not created. 

Pinot version: Saw this error in 0.3.0 and 0.4.0

OS: Mac

startup script: bin/quick-start-batch.sh

 
[pinot_startup_sh.log](https://github.com/apache/incubator-pinot/files/4860876/pinot_startup_sh.log)
[pinotBroker.log](https://github.com/apache/incubator-pinot/files/4860877/pinotBroker.log)
[pinotController

[2020-07-01 23:21] npawar opened #5647 "Ingest multiple streams into 1 Pinot table"
A Pinot table can ingest from only 1 topic. The feature request is to be able to configure multiple topics for a single table.

[2020-07-01 23:25] npawar opened #5648 "Kinesis integration"
Add connector for ingesting from Amazon Kinesis
https://docs.google.com/document/d/1hFbzumQAGALAi8XZMOsVlwVHN-s2t37MA5QUfduL4Yk/edit#

[2020-07-01 23:27] mcvsubbu commented on #5647
Please add a design doc addressing some general ideas on this feature:
1. Do multiple topics consumed have the same schema or different schemas?
2. Are they expected to have same number of partitions or different number of partitions? Or, are we considering this for HLC only?
3. If LLC, how will segment completion work?

of course, a description of a use case will help a lot.

[2020-07-01 23:29] mcvsubbu commented on #5648
@KKcorps is working on this, right?
For discussion, please join the channel #kinesis-integration

One outstanding question here is how to tackle kinesis increase/reduction of partitions. I could not discern from their documentation as to how this happens in kinesis, so we may have to pull out some more source code as plugin for this purpose.

[2020-07-01 23:30] npawar opened #5649 "Cluster Manager"
A cluster manager UI for Pinot operations

[2020-07-01 23:35] npawar opened #5650 "Map dataType"
Support Map type natively in Pinot.
Current ways to handle map:
1.  stores Map in Avro as 2 MV columns.
2. Store Map in Json as a json string

Native Map dataType would be nice

[2020-07-01 23:39] npawar opened #5651 "Introduce PinotInputFormat and PinotOutputFormat"
to allow easy integration between different systems

[2020-07-02 00:35] #4082 closed

[2020-07-02 15:35] KKcorps commented on #5648
Hi @mcvsubbu @npawar Yes, I am already working on this. It has been on pause for a while since I picked up JDBC driver.
The driver will need changes in SQL Parser so I am planning to  pick this up again and drive it to conclusion.

[2020-07-02 16:55] npawar commented on #5648
Created an issue because there wasn't one already

[2020-07-02 21:31] sajjad-moradi opened #5655 "Move tests for specialized data structures such as TDigest, HLL, ThetaSketches into one test class"
per @mayankshriv we should create one integration test for these specialized data structures such that:
1. The cluster is set up once at beginning.
2. For each of these features, we can setup the table -> run queries -> delete the table, iteratively

IT for theta sketches is already added in #5514. The other tests need to be moved to that class.

[2020-07-04 20:47] quietgopher commented on #5651
I looked at poll.ly and found this.  Whats this?  Like integration with Spark, Flink, etc?

https://poll.ly/#/2YeaKQ5o

[2020-07-04 21:07] #399 closed

[2020-07-04 21:09] #4902 closed

[2020-07-04 21:22] kishoreg commented on #5627
There is a per query quota and there is an overall quota.

lets start with protecting pinot against bad/poison queries. @Jackie-Jiang, @mayankshriv, @mcvsubbu do you have any thoughts on this?

[2020-07-04 22:47] kishoreg commented on #5651
Yes, Presto, spark, hive, Flink etc

Related issues
- https://github.com/apache/incubator-pinot/issues/4809
- https://github.com/mangrrua/spark-pinot-connector

[2020-07-04 23:08] siddharthteotia commented on #5627
At the minimum, we should leverage the per table level query timeout config (part of table config). Jackie had added this. Server can use this to kill long running queries or the queries that have waited long enough in the scheduler queue and thus are likely to overrun their time limit. Through query options, we can also pass per query time out.

In general, and a potential long term solution is t

[2020-07-04 23:32] kishoreg commented on #5648
Looking at the voting result so far (https://poll.ly/#/2YeaKQ5o), We can probably get to this in q4.

[2020-07-05 05:00] kishoreg opened #5658 "star-tree latency issue"
Query:

[code]

with star tree config
[code]

Response
[code]

changing max_leaf_records to 1 make the query slower.

[code]

Note numDocsScanned reduced as expected 810244/280283 but latency increased from 490ms to 2555 ms.

@Jackie-Jiang, @mayankshriv why would this happen?

`

[2020-07-05 05:37] yupeng9 commented on #5627
ah, that's a nice feature. @Jackie-Jiang can we add this config to the docs?

I like this idea. Server has two important functionalities of ingestion and querying. I think it is worth consideration of spawning child processes for query execution so that the ingestion is not impacted.

[2020-07-05 05:42] siddharthteotia commented on #5627
@yupeng9 , take a look at QueryConfig class. I think you just need to set it in the table config. And yes, this has to be added to the docs.

[2020-07-06 06:51] Jackie-Jiang commented on #5658
Both `numSegments` and `totalDocs` increased, meaning this is not the same data.
Also, even though the `numDocsScanned ` is reduced from 800K to 280K, the bottleneck should be on the IO where each server needs to process ~150 segments. Changing `max_leaf_records` to 1 could significantly increase the size of the segment, which increases the data size to load, thus increase the latency.

[2020-07-06 17:49] KKcorps opened #5659 "Parsing Error in Tableau JDBC Queries"
Tableau makes JDBC queries of the form:

'SELECT tableName.columnName AS columnName FROM tableName'

This format currently throws parsing error when the format is 'sql' in Broker Request.

[2020-07-06 18:11] elonazoulay commented on #5281
Here is a link to the design doc: https://docs.google.com/document/d/1dTpUwDxWW6TiF0klLwsIQMPtzZoIYVsnB8VhEiu398s/edit?usp=sharing

[2020-07-06 18:59] fx19880617 opened #5660 "Adding controller url as part of constructor for Pinot query client"
This allows user to use one config to query all tables in pinot.
Make JDBC connector or other integrations easier to connect to Pinot.

[2020-07-07 22:22] fx19880617 opened #5663 "Support Queries Like non-aggregation group by"
1. select columns with GroupBy
`SELECT A FROM myTable GROUP BY A;`
Above query is equivalent to `SELECT DISTINCT A FROM myTable;`.
Do we support `DISTINCT A,B` ?

2. select transform functions with GroupBy.
`SELECT A+B FROM myTable GROUP BY A, B;`

@siddharthteotia @kishoreg

[2020-07-07 23:41] Jackie-Jiang commented on #5663
1. We support `DISTINCT` on arbitrary expressions, but `GROUP-BY` is not supported (distinct with group-by is equivalent to adding group-by into the distinct list)
2. Second query is equivalent to `SELECT DISTINCT A+B, A, B FROM myTable`

[2020-07-07 23:43] fx19880617 commented on #5663
Sounds good, so we just need to handle the query rewrite I guess?

[2020-07-07 23:48] siddharthteotia commented on #5663
DISTINCT should not be combined with GROUP BY IMO. DISTINCT is a logical equivalent of a GROUP BY aggregation query without any aggregations. So, doing `SELECT DISTINCT A, B FROM Foo GROUP BY A, B` doesn't look like an intuitive query.

So, if the user issues the query `SELECT A, B from Foo GROUP BY A, B` we should simply replace the select list with DISTINCT and remove GROUP BY

[2020-07-07 23:55] siddharthteotia opened #5664 "Join and subquery support"
There are two standard data-modeling approaches in analytical databases.

**Star Schema**

This is the de-facto standard to model data in data-warehouses to efficiently run OLAP (analytical / BI) style queries. We have a single fact table (containing measures / numeric data, e.g sales) surrounded by one or more dimension tables (e.g product). There is no relationship between dimension tables thems

[2020-07-08 03:08] pradeepgv42 opened #5666 "TEXT_MATCH support for dictionary encoded columns"
Currently based on documentation TEXT_MATCH only supports columns encoded as RAW,
Need support for TEXT_MATCH on dictionary encoded columns too, to avoid converting
dictionary encoded columns to RAW.

[2020-07-08 04:14] siddharthteotia commented on #5666
I can add it.

[2020-07-08 04:18] fx19880617 commented on #5663
Yes, this is the rewrite I want to do from query compilation side.

[2020-07-08 19:49] #5577 closed

[2020-07-09 00:55] Jackie-Jiang commented on #5666
We should also consider supporting standalone text index (without forward index). This could potentially save a lot of spaces.

[2020-07-09 03:52] #81 closed

[2020-07-09 03:53] #5245 closed

[2020-07-09 19:41] Jackie-Jiang opened #5675 "Enforce Pinot code style"
Use maven plugin to check the code style and fail the build if the check does not pass

[2020-07-10 01:12] #5615 closed

[2020-07-10 01:16] npawar opened #5677 "Extract all fields if fieldsToRead is null/empty"
In PR https://github.com/apache/incubator-pinot/pull/5484 we introduced the concept of extracting all fields in the extractor, if the fieldsToRead is empty/null. However this was done only for JSON and AVRO.

Task: Do this for all other extractors

[2020-07-10 03:44] #5663 closed

[2020-07-10 07:54] npawar opened #5680 "Move transformFunction from schema's field spec to tableConfig -> ingestionConfig"
We added ingestionConfig in the tableConfig. This is the place for all ingestion related configs (such as filter function, transform, etc). Move the transform function from schema to ingestionConfig

[2020-07-10 10:06] fx19880617 opened #5682 "Adding Controller REST APIs to fetch Broker information."
The motivation is to support a Pinot Client fully initialized by a pinot controller url (https://github.com/apache/incubator-pinot/issues/5660).

The APIs to add:
[code]

[2020-07-11 19:04] #3 closed

[2020-07-12 14:51] shounakmk219 commented on #5490
So will this framework focus on doing performance test on the individual projects that are using pinot and track the performance difference when a new feature or some system tuning is performed, or it will focus on the pinot itself to track the performance difference for each pr?

[2020-07-12 20:14] kishoreg opened #5688 "Improve controller rest api test"
Every end point test does the following
- start zk
- start controller
-- run some tests
-- tear down zk
-- stop controller

This is inefficient and we can definitely run all the tests using just one integration test.

[2020-07-12 21:30] kishoreg commented on #5306
@fx19880617 whats the fix for this?

[2020-07-13 16:59] tmwangi opened #5690 "Requesting support for DISTINCTCOUNT on BYTES typed columns"
Currently DISTINCTCOUNT on a column with the BYTES type does not work.  Our usage of BYTES columns is to represent fields that were originally in bytes form and were ByteBuffer before being serialized into a Pinot column. Would you suggest to convert these to a hex-encoded string? The error returned is:

[code]

[2020-07-13 17:11] tmwangi opened #5691 "Requesting GROUP BY support on BYTES typed columns"
Currently Group By on a BYTES typed column does not work. Our usage of BYTES columns is to represent fields that were originally in bytes form and were ByteBuffer before being serialized into a Pinot column. Would you suggest to convert these to a hex-encoded string? The error I get is:

[code]

[2020-07-13 17:34] tmwangi opened #5692 "Decouple pinot-tools dependency on pinot-server, pinot-controller and pinot-broker"
It would be a great idea to break this dependency by introducing some api modules or some other way. The result would be a smaller pinot-tools with none of the vulnerabilities or license issues that come with including the server, controller or broker. See https://github.com/apache/incubator-pinot/blob/master/pinot-tools/pom.xml for the dependencies included.

For example in order to get the Pinot

[2020-07-13 17:39] fx19880617 commented on #5691
I think this is due to No Implementation for key generation of non-dictionary bytes column. I feel we can somehow use hex encoding/decoding for this?
@Jackie-Jiang @npawar @siddharthteotia @mayankshriv

[2020-07-13 17:54] buchireddy commented on #5690
cc @kishoreg

[2020-07-13 18:52] mcvsubbu commented on #5627
Using off-heap (mmap) memory for query processing may be a good first step to take. This will be at the cost of performance, so it may need to be configurable. The max memory used for processing query can then be indicated to the broker in the response back from the server.

The brokers can, over time, tune themselves so that they can either ask servers to limit the number of threads used, and/or

[2020-07-13 18:59] mcvsubbu commented on #4854
Here is a design document for this task
https://docs.google.com/document/d/1yNlvnLKDNUuyRWOKYYF01FWW9weYMGoaLRtU-CueciM/edit?ts=5e38bdd0#heading=h.ngrw7r8gso5w

[2020-07-13 19:26] Jackie-Jiang commented on #5692
Thanks for the suggestion.
It is not possible to remove pinot-controller/broker/server dependency from pinot-tools because the tools package need to support starting controller/broker/server instance. But it is a great idea to add a separate client api module for admin purpose and have minimal dependencies.
We are planning to re-organize `pinot-common` and `pinot-core` and split them into api/spi

[2020-07-13 19:30] Jackie-Jiang commented on #5691
Should be straight forward. Will take a look soon.

[2020-07-13 19:34] Jackie-Jiang commented on #5690
It's very straight forward to add BYTES support for DISTINCTCOUNT. Will submit a PR soon.

[2020-07-13 19:52] tmwangi commented on #5690
Cool. Thanks @Jackie-Jiang

[2020-07-13 19:52] tmwangi commented on #5692
Thanks @Jackie-Jiang

[2020-07-13 19:53] tmwangi commented on #5691
Cool. Thanks @Jackie-Jiang

[2020-07-13 22:58] jackjlli opened #5693 "Increase code coverage for pinot-plugins"
This is a sub-issue of https://github.com/apache/incubator-pinot/issues/5150.

The goal is to increase the code coverage of pinot-plugins to at least 75%

[2020-07-13 22:59] jackjlli opened #5694 "Increase code coverage for pinot-java-client"
This is a sub-issue of #5150.

The goal is to increase the code coverage of pinot-java-client to at least 75%

[2020-07-13 23:00] jackjlli opened #5695 "Increase code coverage for pinot-common"
This is a sub-issue of #5150.

The goal is to increase the code coverage of pinot-common to at least 75%.

[2020-07-13 23:01] jackjlli opened #5696 "Increase code coverage for pinot-controller"
This is a sub-issue of #5150.

The goal is to increase the code coverage of pinot-controller to at least 75%.

[2020-07-13 23:01] jackjlli opened #5697 "Increase code coverage for pinot-minion"
This is a sub-issue of #5150.

The goal is to increase the code coverage of pinot-minion to at least 75%.

[2020-07-13 23:02] jackjlli opened #5698 "Increase code coverage for pinot-server"
This is a sub-issue of #5150.

The goal is to increase the code coverage of pinot-server to at least 75%.

[2020-07-13 23:03] jackjlli opened #5699 "Increase code coverage for pinot-spi"
This is a sub-issue of #5150.

The goal is to increase the code coverage of pinot-spi to at least 75%.

[2020-07-14 00:15] #5680 closed

[2020-07-14 00:27] Jackie-Jiang commented on #5690
#5701

[2020-07-14 02:08] Jackie-Jiang opened #5702 "Fix the issue of group-by not working on strings with "\t""
"\t" is used as the delimiter for the group-by keys. We should change the delimiter to '\0' (string padding byte), which is not allowed in strings.

[2020-07-14 18:13] #5690 closed

[2020-07-14 18:15] tmwangi commented on #5690
Thanks @Jackie-Jiang

[2020-07-14 19:27] kishoreg opened #5703 "add support for Range Index support for non-dictionary columns"
Currently, Range Index is not supported for dictionary columns. We should support non-dictionary columns.

The index itself supports any numeric data type (String and bytes are not supported). The work involved here is to change RangeIndexHandler and RangeIndexFilterOperator

[2020-07-14 19:27] KKcorps commented on #5703
Taking this up!

[2020-07-14 20:01] xiangfu0 opened #5704 "Support toWeek/toMonth/toYear in datetimeConvertUdf"
Need to support this functionality in datetimeConvertUdf. This function should be able to convert time to the first day of corresponding week/month/year.

[2020-07-14 20:01] fx19880617 commented on #5704
cc @kishoreg @Jackie-Jiang @npawar

[2020-07-14 20:03] kishoreg commented on #5704
it's probably better to add new short udf instead of overloading existing udf. Do you have examples from other SQL engines for these operations?

[2020-07-14 20:21] fx19880617 commented on #5704
sql use functions like `year()`/`month()`/`week()` to extract year from a given date.
RFE: https://prestodb.io/docs/current/functions/datetime.html
See: Extraction Function section.

[2020-07-14 23:25] #5682 closed

[2020-07-15 06:05] kishoreg commented on #5490
@Jackie-Jiang can you please share your thoughts on this?

[2020-07-15 20:04] Jackie-Jiang commented on #5691
#5708

[2020-07-16 16:41] saileshnankani commented on #4854
I'm working on it

[2020-07-16 16:45] npawar commented on #5559
@Sreemanth take a look at PinotHelixResourceManager#addTable. In that method, if you trace path for realtime, you will see the call to ensureRealtimeClusterIsSetUp. That call will setup the realtime table again. Please ping me if you have any questions

[2020-07-16 18:38] Jackie-Jiang commented on #5490
Here are some high level goals we want to achieve, feel free to leave comments: https://docs.google.com/document/d/1QweQObrwGrcMR47dKzg1ZQpQkj4udHttkNm5kcMVBQ8/edit?usp=sharing

[2020-07-17 09:23] siddharthteotia commented on #5666
@pradeepgv42 , I have merged the support for text index on dictionary encoded columns. Please give it a try and let me know if you face any issues. Thanks

[2020-07-17 09:23] siddharthteotia commented on #5666
PR https://github.com/apache/incubator-pinot/pull/5667

[2020-07-17 23:44] #5666 closed

[2020-07-18 19:13] pradeepgv42 commented on #5666
Thanks a lot, will give it a try and let you know

[2020-07-18 20:36] mcvsubbu commented on #5647
Assuming there is only one Pinot schema, and we don't have to do any "join" across two streams, here is one approach I can  think of:
- Change our software so that we are not dependent on table name being the first part of an LLC segment name. This may not be too hard, We may just need to send the table name in the segment completion protocol requests and responses
- Consume each stream independen

[2020-07-19 10:06] fx19880617 opened #5716 "Disallow dot in table name and column name."
By further support of queries involving multiple tables, we should try to prevent users creating table/schema with dot in the table name and column name.

Then we can  distinguish [database].[table_name] in FROM clause and [table_name].[column_name] for identifiers.

Current proposal is to
1. prevent users from creating table/schemas with dot.
2. adding a table config to allow the support for acce

[2020-07-19 10:07] fx19880617 commented on #5716
cc @KKcorps , @kishoreg , @Jackie-Jiang

[2020-07-19 10:09] KKcorps commented on #5716
This will also help in supporting integration with various UI tools which query using format - [table].[column] AS [alias]

[2020-07-20 19:07] fx19880617 opened #5721 "Pinot UI expandable leftmost column(Page Links)"
Just realize we have a new UI!

![image](https://user-images.githubusercontent.com/1202120/87976060-542c4200-ca81-11ea-9edc-7710af64c5bc.png)

Regarding the new UI change, can we make the left column expandable so I can hide it. Or shall we think of making the page links on the top bar, since we already have `HOME` page there?

[2020-07-21 03:06] shahsank3t commented on #5721
We already have breadcrumbs at the top bar so it's gonna be best to add a expand/collapse button on the sidebar. I'll work on it.

[2020-07-21 03:14] fx19880617 commented on #5721
Many Thanks!

[2020-07-21 11:22] shahsank3t commented on #5721
@fx19880617 - Raised a PR https://github.com/apache/incubator-pinot/pull/5723 and also attached the images for the reference.

[2020-07-21 20:56] KKcorps opened #5725 "Support for Ingestion Job Spec as JSON"
Currently, the table and schema config are in JSON format while the job spec is in YAML format. It makes sense to be have a consistent format across all configs.
Proposal to -
1. Change Job spec to JSON format
2. Add override to accept YAML for backward compatibility.

[2020-07-22 11:51] cad commented on #5552
What is the suggested solution to this problem at the moment?

[2020-07-22 17:21] chenboat opened #5730 "Reject table creation request with space characters in table name."
Today one can create a Pinot table with space characters in its name. We should reject such request because many downstream process like realtime ingestion do table name check about space characters.

E.g.,

[code]

[2020-07-22 18:32] fx19880617 commented on #5730
Make sense.
I had one PR for prevent user create table with dot: https://github.com/apache/incubator-pinot/pull/5714

I think we can extend it to evaluate a valid table name here.

[2020-07-22 19:01] shahsank3t commented on #5721
@fx19880617 - this issue can be closed as the fix has already landed in.

[2020-07-22 21:12] fx19880617 commented on #5721
Thanks! @shahsank3t

[2020-07-22 21:12] #5721 closed

[2020-07-23 02:06] Jackie-Jiang opened #5738 "HAVING and Post-Aggregation Support"
Support HAVING and Post-Aggregation:
https://docs.google.com/document/d/1Dg1KXpxIdl75Tsg2YFCYVeE8sMAIj64ZWoxDcj1cHwo/edit?usp=sharing

[2020-07-23 02:07] Jackie-Jiang commented on #5253
Tracked in #5738

[2020-07-23 02:07] #5253 closed

[2020-07-23 02:07] Jackie-Jiang commented on #5252
Tracked in #5738

[2020-07-23 02:07] #5252 closed

[2020-07-23 16:38] mcvsubbu opened #5742 "Add time column consistency checks during table/schema creation"
We need to ensure that when a table is created, the time column is the same as that in schema.
We also need to verify that when a schema is created (as is the case for offline tables, since schema is optional during table creation), the time column mentioned in table schema exists in the schema as one of the time column or date-time-spec columns.

[2020-07-23 21:22] fx19880617 commented on #5716
cc  @mayankshriv

[2020-07-24 00:04] yupeng9 opened #5747 "Check overlapping offline segments"
Similar to the missing offline segment checker, it will be useful to have an overlapping segment checker on the intervals to avoid duplicate records.

[2020-07-24 01:24] fx19880617 commented on #5747
Since Pinot expected multiple segments for same day, could you describe more detailed situation of the issue?

Basically how the data segments are organized and how do you find there are duplicates by looking at the segment(name/metadata) (I assume this is not related to looking at real data, since the checker only has access to segment metadata).

It will help summaries this to a common pattern a

[2020-07-24 17:45] Sreemanth commented on #5559
@npawar
Ensure  table setup logic added.

[2020-07-24 18:01] yupeng9 commented on #5747
Right. The generated segment name includes three parts: time column's min value, time columns' max value, sequence id. e.g. `transcript_OFFLINE_1570863600000_1572418800000_0`.

We have seen some batch ingestion jobs incorrectly generate the records overlapping on the time column. This reflects on the segment metadata, specifically the min/max range of the segments. It will be helpful to have such

[2020-07-24 18:28] ianvkoeppe opened #5751 "Support Serving Latest Offline Segments Immediately"
## Overview

For hybrid setups, Pinot splits/filters broker queries to both the offline and realtime tables. It does so based on a `time value` which represents the latest available offline segments. Pinot assumes the consumer is uploading partial or intermediate segments throughout the current day, so it only serves `time value - 1` from the offline table and the rest from realtime.

As an explic

[2020-07-24 18:44] mcvsubbu commented on #5751
Here is my suggested approach.
1. Create a config in table that indicates that for a table we need the time boundary to be next unit up. (i.e. if daily push, next day, if hourly the next hour. etc.)
2. Change the time boundary code to move up the time boundary when new segments are added to the table.

In this case, there is no new API, but for use cases that have multiple segments, the time bound

[2020-07-24 23:15] fx19880617 opened #5753 "Built-in jobs to move segments of hybrid tables from Realtime Servers to Offline Servers"
We should try to have some built-in scheduled jobs to move segments from realtime servers to offline servers. So that users don't need to setup external jobs to push segments from external data sources.

So that, we can keep limited capacity for realtime servers and keep adding new servers to offline cluster and rebalance segments.

Also this could enable further supports on offline servers to do

[2020-07-25 17:50] kishoreg commented on #5450
This is fixed in the new query console

[2020-07-25 17:50] #5450 closed

[2020-07-25 18:00] kishoreg commented on #5751
@mcvsubbu the time boundary should be saved somewhere in ZK so that all brokers use it and it handles all the failure and restarts scenarios.

The user still has to wait for the servers to load the segment before invoking the time boundary.

[2020-07-25 18:08] mcvsubbu commented on #5751
@kishoreg I didn't follow. We don't store the time boundary now. Why do we need to keep it in ZK?
Perhaps you are trying to support an arbitrary time boundary that a user can set. I don't see a use case for that now. My thought is that we can support one of two time boundaries -- either include the latest <day/hour> or exclude it. I think this will cover most of the use cases.

What is the use cas

[2020-07-25 18:37] kishoreg commented on #5751
the latest day will clearly not work unless there is one segment for that day and it is too limiting.

The use case I am thinking is the same one listed here. If we allow this to be part of ZK, then time boundary is
max(max(segments) - 1 , value in ZK)

Eventually, we want to avoid users having to manage offline jobs. Users are already asking for features where we provide a minion task that moves

[2020-07-25 18:51] #5716 closed

[2020-07-27 01:43] fx19880617 commented on #5675
+1
Shall we have one PR to format all the code and adding the code style plugin?

[2020-07-27 01:43] #5725 closed

[2020-07-27 16:34] #5620 closed

[2020-07-27 17:31] Jackie-Jiang commented on #5753
There is an periodic task doing this: `RealtimeSegmentRelocator`
It can periodically move segments based on the segment assignment config

[2020-07-28 00:06] mayankshriv commented on #5751
Summarizing the offline discussion between @mcvsubbu @snleee @sajjad-moradi and @mayankshriv:

1. Since there are use cases that may push partial data for the day (UTC vs PST), a table level config is warranted to ensure where this feature can be enabled.
2. We can leverage the primitive in https://github.com/apache/incubator-pinot/pull/5712 to write the time boundary in ZK once the segments have

[2020-07-28 02:31] mayankshriv commented on #5753
While periodically moving the segments from realtime to offline is a good idea, in many cases, it would also benefit to have the segment merge/rollup performed before moving to offline. This may require a config of its own on what kind of processing needs to be performed before moving the segments to offline. Would be good to start from a user story on the requirements, and then translate them int

[2020-07-28 08:03] singalravi commented on #5753
use case:
Most of the queries in our system are for recent time frame (last 7 days) but we want to retain data for much longer time period. For this, we want to deploy a tiered storage system where realtime servers have faster disk and more cpu and memory while offline servers have slower (and bigger) disks with less cpu and memory. This way, we can keep adding more offline servers as the data vol

[2020-07-28 15:35] mcvsubbu commented on #5751
Let us avoid combining this with #5712 . That was replacing segments, and this is about adjusting time boundary after segments are pushed. A single primitive to adjust the time boundary, invoked by the segment pusher should be enough

[2020-07-28 15:44] mcvsubbu commented on #5751
I also thought some more about znode and watches. Introducing a new node may be fine, but having the broker set a watch on that needs some thought. I remember in the HLC case, the controlller was setting too many watches, and that caused zookpeer re-connects to fail. A re-connect requires that the zk client send the entire watch list in one message to the zk server. We had to increase the message

[2020-07-28 15:55] mayankshriv commented on #5751
It seems discussing here may not be as effective as desired. My proposal is to have a design doc within initial proposal detailed out. We can use that as a starting point to discuss the pros/cons.
@sajjad-moradi @snleee is one of you still planning to start that design doc?

[2020-07-28 16:00] npawar commented on #5753
This will be covered as part of tiered storage: https://github.com/apache/incubator-pinot/issues/5553

[2020-07-28 16:34] mayankshriv opened #5762 "Data Encryption at rest"
Currently, Pinot supports storing encrypted segments in deep-store (backing the controller). However, segments on server are still not encrypted. For sensitive data stored in the cloud, we are seeing requirements from users to also have data encrypted on the server (offline to start with).

[2020-07-28 16:35] sajjad-moradi commented on #5751
@mayankshriv sure, I can start the initial design doc.

[2020-07-28 20:12] mangrrua commented on #5753
That will be great! If merge/rollup can be applied(@mayankshriv 's suggestion), users can have a lot of flexibility. Because generally, realtime segments represents minimal aggregation. Improve query performance, retain data in long-term and save some other costs.

For that, pinot ui can have a scheduler service(jobs can be set for a specified times, and config can be set etc. Also with api of cou

[2020-07-28 20:34] kishoreg commented on #5490
Any volunteers to take this up. cc @shounakmk219 @KKcorps?

[2020-07-28 23:25] fx19880617 commented on #5753
Right, ideally we should have multiple built-in jobs to handle the basic data loading/re-organizing workload and use hadoop/spark for advance/parallelism workload

[2020-07-29 06:07] mangrrua commented on #5753
exactly

[2020-07-29 16:04] mcvsubbu commented on #5753
You can do this today by setting tagOverrideConfig, and moving the completed segments to any tagged host. Of course, this will move all completed segments, not just the older ones.

[2020-07-29 17:44] kishoreg commented on #5753
@mcvsubbu I think the movement is only within realtime table, we are talking about moving them to the offline table.

[2020-07-29 18:11] Jackie-Jiang commented on #5753
@kishoreg I'm not sure if we should move realtime completed segments to offline servers, or to another set of realtime servers. For a realtime only table, I don't see the benefit of making it hybrid compared with just moving completed segments to another set of realtime servers, we also need to pay the extra cost for the extra filter for hybrid table.
We should treat realtime table as first class

[2020-07-29 19:34] kishoreg commented on #5753
@Jackie-Jiang Interesting idea. I am all for removing the distinction between real-time and offline tables.

[2020-07-29 21:45] fx19880617 commented on #5753
I think the major challenging here is to support atomic swap for a batch of segments.
Also things like batch backfilled segments are usually time bounded, but realtime segments are not.

[2020-07-29 23:16] mcvsubbu commented on #5559
Please add me to the reviewer list when u have a PR.

And if possible, do not submit one huge PR. It will enable timely (and better) reviews.

[2020-07-29 23:18] mcvsubbu commented on #5559
As i see it, there are multiple parts in this that can go independently. You can add these before exposing the final API.  But then definitely get the API started in a design document so that we can comment on the API. It is a good practice not to debate on API in PRs.

If it is not a design doc, we can debate on the API here in the issue.

[2020-07-30 02:36] Jackie-Jiang opened #5771 "Improve performance for DISTINCT queries"
Optimizations to consider:
- Early-termination for DISTINCT without order-by (need to model DISTINCT as a new operator instead of aggregation function)
- Store dictIds inner segment to reduce the unnecessary dictionary reads

[2020-07-30 02:38] Jackie-Jiang commented on #5753
These problems will be addressed within the segment merge/rollup project which @snleee is working on

[2020-07-30 06:33] Jackie-Jiang commented on #5771
- Use dictionary to solve query without filter
- Specialize DISTINCT on single column (store Object instead of Object[] in the set)

[2020-07-31 15:00] #4856 closed

[2020-07-31 15:04] mr-agrwal commented on #5704
I can take it up.

[2020-07-31 23:23] sajjad-moradi commented on #5751
Here is the design doc proposing three different solutions for this problem:
https://docs.google.com/document/d/1KykbUIstFI7F4IOOlUVnXWzpgKazwRAJdok0RT1ae64
Please review and leave your comments.

[2020-08-01 16:18] ianvkoeppe commented on #5751
Thanks, added to ticket.

[2020-08-02 18:25] #5649 closed

[2020-08-02 18:34] mcvsubbu commented on #5490
Just saw this issue, and wanted to flag a related issue: Functional testing
 Issue #4001

[2020-08-02 18:36] mcvsubbu commented on #4001
Related issue https://github.com/apache/incubator-pinot/issues/5490

[2020-08-02 18:37] mcvsubbu commented on #4001
Sailesh Nankani https://www.linkedin.com/in/sailesh-nankani/ is currently working on this

[2020-08-03 05:33] mayankshriv opened #5790 "Unable to run PerfBenchmarkRunner"
It seems that PerfBenchmarkRunner gives the following error when started. This is likely due to conflicting version of grizzly http server getting pulled in from different transitive dependencies. I noticed that if I delete the `tyrus-standalone-jar` from IDE, then I am able to run PerfBenchmarkRunner.

The only class that uses `tyrus` seems to be MeetupRvspStream.

To reproduce, run PerfBenchmark

[2020-08-03 15:50] mcvsubbu commented on #4854
Related Issue #5490

[2020-08-03 15:55] mcvsubbu commented on #5490
Here is the design doc for compatibility testing
https://docs.google.com/document/d/1yNlvnLKDNUuyRWOKYYF01FWW9weYMGoaLRtU-CueciM/edit?ts=5e38bdd0#heading=h.ngrw7r8gso5w

[2020-08-03 15:57] mcvsubbu commented on #4001
Looks like this is a duplicate of #4854 so we can track discussions there. Closing this one

[2020-08-03 15:57] #4001 closed

[2020-08-03 23:21] pradeepgv42 opened #5797 "Exception while using NOT on regexp_like function"
select *
from table
where timestamp > X and not regexp_like(column, '<regex_patter>')

throws following exception

`pinot error: {'errorCode': 150, 'message': 'PQLParsingError:\n' 'java.lang.IllegalArgumentException: No enum constant ' 'org.apache.pinot.pql.parsers.pql2.ast.FilterKind.NOT\n' '\tat java.lang.Enum.valueOf(Enum.java:238)\n' '\tat ' 'org.apache.pinot.pql.parsers.pql2.ast.FilterKind.va

[2020-08-04 00:46] pradeepgv42 commented on #5616
this was fixed in https://github.com/apache/incubator-pinot/pull/5670

[2020-08-04 00:46] #5616 closed

[2020-08-04 13:33] MarceloNunesAlves opened #5800 "Problem to understand the Thrideye into Pinot"
What should I do to The Thrideye works in the Pinot? I didn't find anything about how it use this into the Pinot. Is there a documentation? I executed Thrideye only in the Eclipse but I needed change the branch to release-0.4.0. This step by step -> https://thirdeye.readthedocs.io/en/latest/quick_start.html doesn't work.

[2020-08-04 14:56] kishoreg commented on #5800
@suvodeep-pyne ^^

[2020-08-04 17:22] lgo opened #5801 "Configuation for nodes is confusion and inconsistent between node types"
Configuing nodes is faily confusing! For example, brokers and servers require `-zkAddress` parameters, whether or not they are provided a `-configFileName`. Meanwhile, controllers do not allow that parameter if a `-configFileName` is provided and instead has `controller.zk.str` configuration value. Same for the the `-clusterName` and `controller.helix.cluster.name` configuration value.

This diffe

[2020-08-04 17:25] lgo opened #5802 "Running Pinot with an invalid zookeeper service name seems to error during clean-up (in addition to connection error)"
Running with an invalid zookeeper service name seems to have an error during clean-up in addition to the main error, eg: `bin/pinot-admin.sh StartController -clusterName PinotCluster -controllerHost null -controllerPort 9000 -dataDir /tmp/PinotController -zkAddress pinotzookeeper.service:2181`

It appears that not only did it error on `java.net.UnknownHostException: pinotzookeeper.service: Name or

[2020-08-04 17:26] kishoreg commented on #5801
related issue https://github.com/apache/incubator-pinot/issues/5580

[2020-08-04 17:30] lgo opened #5803 "Controllers do not have a `/health` resource"
Controllers do not have a healthcheck resource at `/health`, which is inconsistent with servers and brokers which do have an explicit `/health` resource for doing healthchecks. I believe including that would be nice for all nodes to have that for consistency on setups.

[2020-08-04 17:39] lgo opened #5804 "File processing errors during `CreateSegment` does not print the name of the bad file"
When running the `CreateSegment` tool from the launcher script, I'd accidentally provided it a bad JSON file because the file was truncated (I believe a string wasn't closed).

When the error was raised, there wasn't any information about which file the process failed for. It'd be nice to have that feedback so it's easier to figure out what the source of the error was. I'm not sure if this is any

[2020-08-04 22:40] xiangfu0 opened #5807 "Proposal: Deprecate PQL"
Pinot community,

Current Pinot supports two query syntaxes and endpoints: PQL and SQL:
PQL is the legacy implementation based on Antlr;
SQL implementation is based on CalciteSQL. It gives us more capabilities to implement functionalities in Pinot.

We are proposing to keep new query features only on SQL side and deprecate PQL by end of 2020.

A detailed plan of changes will follow.
All comments/f

[2020-08-05 12:52] adriancole opened #5809 "Make at least pinot-admin.sh work with BusyBox (/bin/sh)"
Particularly in Docker, we're a bit better off when we can use a limited shell like BusyBox to perform commands instead of relying on bash. For example, this allows either Alpine or Distroless+BusyBox to be used.

Right now, if you try to use `pinot-admin.sh` with BusyBox (as /bin/sh), it fails for what's likely a resolvable thing.

[code]

you can see that using distroless + busybox with little m

[2020-08-05 12:55] adriancole commented on #5809
ps don't get too distracted about the JRE 14 the issue is in the shell script not the JRE, and 1.8 is even smaller ex basing on openzipkin/jre-full:1.8.0_252

[code]

[2020-08-05 18:29] lgo commented on #5463
+1! I was running into this while trying to upload a schema using `pinot-admin.sh AddSchema` and was just running into

[code]

(which was a similar problem, the schema accidentally had a `STRING` in `dimensionFields`)

[2020-08-05 18:36] lgo commented on #5801
Looks like there's plenty of conversation over there that's already covering the topic. Happy to close this!

[2020-08-05 19:17] lgo opened #5814 "Pinot's swagger pages does not work on HTTPS-only environments"
I've set up a cluster with an environment that only permits HTTPS. Currently, on the `/help` swagger pages the requests will only be made in `http` because the `/swagger.json` specifies `schema: ['http']`.

Digging around, there were past problems with proper support (but it was dealt with in https://github.com/swagger-api/swagger-js/pull/857), and is a non-issue. If the `swagger.json` lists `sche

[2020-08-05 19:19] lgo commented on #5814
Ah, I see where the schemas are encoded: https://github.com/apache/incubator-pinot/blob/bf928e96dcb215a41ccf56b431982579d71b65eb/pinot-controller/src/main/java/org/apache/pinot/controller/api/ControllerAdminApiApplication.java#L148-L152

I reckon that because of the fix linked above, this conditional does not need to be here at all but I'll verify that in a bit.

[2020-08-05 19:20] lgo commented on #5814
(nevermind, I was mistaken -- removing that comment ^)

[2020-08-05 19:23] lgo commented on #5814
I'm not entirely clear on how the swagger resources are enumerated, but it looks like the schema list may be coming from this, at least for the controller (I wasn't clear on where the `BeanConfig` was being used): https://github.com/apache/incubator-pinot/blob/bf928e96dcb215a41ccf56b431982579d71b65eb/pinot-controller/src/main/java/org/apache/pinot/controller/api/ControllerAdminApiApplication.java#

[2020-08-05 19:33] fx19880617 commented on #5809
Current Pinot image is based on image: `openjdk:8-jdk-slim` ( https://github.com/apache/incubator-pinot/blob/master/docker/images/pinot/Dockerfile#L62)

`pinot-admin.sh` is a bash script generated from the template: https://github.com/apache/incubator-pinot/blob/master/pinot-tools/src/main/resources/appAssemblerScriptTemplate

[2020-08-05 19:33] kishoreg commented on #5814
@daniellavoie this was fixed, right?

[2020-08-05 19:37] lgo commented on #5814
For what it's worth, I'm currently on a8fbdaeffaf99c1df4258f60ecbbab1f553d7696 (2020/07/29)

[2020-08-05 19:39] daniellavoie commented on #5814
@lgo Swagger will expose HTTPS if you set `controller.query.console.useHttps` to `true` for the controller.

[2020-08-05 20:54] suvodeep-pyne commented on #5800
Hi @MarceloNunesAlves

I think this doc might need an update. I'd recommend setting up ThirdEye with a MySQL persistence layer (Please use MySQL 5.7) and then adding Pinot as the datasource. Here are 2 docs that might help.
1. [Getting Started](https://thirdeye.readthedocs.io/en/latest/getting_started.html)
2. [Adding Pinot as a data source](https://thirdeye.readthedocs.io/en/latest/pinot.html)

L

[2020-08-05 20:57] npawar commented on #5463
This should be fixed now

[2020-08-05 20:57] #5463 closed

[2020-08-06 03:23] lgo commented on #5814
That still leaves the broker and server `/api` incorrectly using `http` and making the Swagger UI not usable.

This is mostly a bug with the swagger client's selection of a scheme, which was fixed the PR linked above. Pinot's behind on the Swaggere UI version, but with the fix in Pinot can just specify `schemes: ['http', 'https']` without the need for any configuration value.

The swagger UI versi

[2020-08-06 06:18] adriancole commented on #5809
https://github.com/apache/incubator-pinot/pull/5818

If you want a smaller image also, we can do that in another change. This just makes a smaller one possible. I tested it locally.

[2020-08-06 15:13] lgo opened #5819 "Query execution error when grouping by multi-value string and non-dictionary encoded string dimension"
I've been playing around with queries and ran into an execution problem (this isn't really blocking anything, just doing toying with table setups). Specifically, it seems to happen when a query is grouping by a multi-value string dimension (`fields`) as well as a non-dictionary encoded string dimension (`id`). The setup below will reproduce it. The error doesn't happen with `"noDictionaryColumns":

[2020-08-06 15:14] lgo opened #5820 "Query execution error when grouping by multi-value dimension and non-dictionary encoded dimension"
I've been playing around with queries and ran into an execution problem (this isn't really blocking anything, just doing toying with table setups). Specifically, it seems to happen when a query is grouping by a multi-value string dimension (`fields`) as well as a non-dictionary encoded string dimension (`id`). The setup below will reproduce it. The error doesn't happen with `"noDictionaryColumns":

[2020-08-06 15:14] lgo commented on #5819
egh, github 404'd the first time -- closing this as it's a dupe of #5820.

[2020-08-06 15:14] #5819 closed

[2020-08-07 06:30] Jackie-Jiang commented on #5738
Sql parser support: https://github.com/apache/incubator-pinot/pull/5825

[2020-08-07 06:35] Jackie-Jiang commented on #5738
QueryContext support: #5827

[2020-08-07 17:53] mr-agrwal opened #5829 "Pinot Query Console loosing Long granularity in results."
I am querying a table using the Pinot Query Console with id = 21400000008726127.
The response returns with id = 21400000008726130.
The same if I do through a broker, it is working fine.
Also, the broker is printing the query correctly in both cases.

[2020-08-07 18:14] kishoreg commented on #5829
whats the query, can you share the screen shots?

[2020-08-07 18:35] mr-agrwal commented on #5829
Query is `select * from table where id = 21400000008726127 limit 10`

[2020-08-07 22:44] suvodeep-pyne opened #5831 "[TE] ThirdEye doesn't update Anomalies after editing alert"
ThirdEye still shows old detected anomalies after the 'alert' is updated.

Steps to reproduce:
1. Load a dataset in TE
2. Create an alert. Say `PERCENTAGE_RULE` so that it generates an anomaly
3. Update the alert. Example, Increase the threshold.
4. After successful update, the overview still shows the old anomalies, while the preview shows the new anomalies.

Example alert:
[code]

[2020-08-07 22:49] suvodeep-pyne commented on #5831
@harleyjj @kishoreg
seems like a bug. thoughts?

In preview, it shows like this:
<img width="300" alt="Preview" src="https://user-images.githubusercontent.com/2577714/89694084-66054600-d8c5-11ea-9ef2-9f3f454572e2.png">

In Overview, it shows this:
<img width="300" alt="Overview" src="https://user-images.githubusercontent.com/2577714/89694087-69003680-d8c5-11ea-8610-7d380c9a1986.png">

[2020-08-10 05:36] harleyjj commented on #5831
@suvodeep-pyne This is behaving as designed.  The preview tool's purpose is to show the user the anomalies it would have generated on historical data, so that the user can visualize the detection configuration and decide whether it behaves correctly for the user's specific use case (what is an anomaly to them?).  In the case of an existing alert, it shows the new anomalies as compared to those sav

[2020-08-10 09:13] itziklavon opened #5835 "Problem when streaming data from S3 - 'Bucket' not found"
having problem syncing data from s3
[code]

[2020-08-10 19:43] mcvsubbu commented on #5588
More comments after using recent version:
1. Change the documentation so it does not say `RealtimeProvisioningHelperCommand`
2. Add a link to doc in the help message
3. Clarify the number of segments searched is per partition or per host.

[2020-08-10 20:35] SandishKumarHN opened #5837 "Apache Pulsar Connector integration"
Add connector for ingesting from Apache Pulsar

[2020-08-10 20:36] SandishKumarHN commented on #5837
I would like to work on this if no one is already started working on it.

[2020-08-11 00:50] yupeng9 opened #5843 "Public API checker before release"
It will be good to have a checker to scan the breaks on the APIs marked as `Public` and `Stable` as part of the release process.

For example, this [diff](https://github.com/apache/incubator-pinot/pull/5309/files#diff-24ff51adc8972c5974229e92a180cd71R46) changed some public API, and breaks other implementation of `StreamMessageDecoder`.

[2020-08-11 01:02] Jackie-Jiang commented on #5843
Does adding a checker mean not allowing changing of public API?
For certain features, we might have to change the interface (e.g. the diff is to support transform and filtering for ingestion). We definitely should put the public API change into the release note and highlight them when cutting a release. But the real question is what should we do if we have to change a public stable interface.

[2020-08-11 01:25] fx19880617 commented on #5837
Please take it @SandishKumarHN . Thanks!

[2020-08-11 01:52] yupeng9 commented on #5843
A checker will help detect the breaks, either we want to disallow it or document it in the release notes will depend on the policy we set up on 0.x releases. So it will be useful anyway

Per [SerVer](https://semver.org/),
[code]
So it's okay to make breaking changes, but consider `@stable` annotation.

[2020-08-11 10:00] fx19880617 commented on #5704
We may also want to support this as granular in `datetimeConvertUdf`, so that we can take the pushdown from presto side for function: `date_trunc`(https://prestodb.io/docs/current/functions/datetime.html).

|Unit | Example Truncated Value|
|-- | --|
|second | 2001-08-22 03:04:05.000
|minute | 2001-08-22 03:04:00.000
|hour | 2001-08-22 03:00:00.000
|day | 2001-08-22 00:00:00.000
|week | 2001-08-20 

[2020-08-11 16:05] #5814 closed

[2020-08-11 16:05] mcvsubbu commented on #4854
Related issue #5843

[2020-08-11 16:06] mcvsubbu commented on #5843
Related Issue #4854

[2020-08-11 16:46] itzikiusa commented on #5835
fixed on merged version

[2020-08-11 16:52] itzikiusa opened #5845 "String date format - not working on data ingestion"
Hi,
trying to ingest data with timestamp in a format of: 'yyyy-MM-dd HH:mm:ss'
scheme:
[code]

[2020-08-11 18:06] itzikiusa commented on #5845
thanks @KKcorps
can use the following config to solve the issue:

[code]

[2020-08-11 18:06] #5845 closed

[2020-08-11 18:10] KKcorps commented on #5845
For future reference, add the following to the job spec
[code]

[2020-08-11 19:01] yupeng9 commented on #5843
+1 to adding it to the testing tool

[2020-08-11 20:24] #5835 closed

[2020-08-11 21:01] fx19880617 commented on #5802
This will error out during start up as controller cannot connect to zookeeper for further processing.
And you can safely ignore this helix cleanup as there is no connection to zookeeper hence no cleanup is required.

[2020-08-11 21:04] fx19880617 commented on #5803
Make sense, we will add `/health` to controller.
Current health check for controller is using `/pinot-controller/admin`

[2020-08-12 00:06] #5803 closed

[2020-08-12 02:38] fx19880617 commented on #5820
Currently we are not supporting No-Dictionary multi-value column in groupby right now.

The relative code path is in `org.apache.pinot.core.query.aggregation.groupby.NoDictionaryMultiColumnGroupKeyGenerator`:
[code]

I'm looking into the support for this.

cc: @kishoreg @Jackie-Jiang

[2020-08-12 04:51] Jackie-Jiang commented on #5738
Scalar function type conversion support: #5849

[2020-08-12 05:53] adriancole opened #5850 "Docker HEALTHCHECK guidance"
There is awesome flexibility we allow with anything from all-in-one until distributed deployment. I love it.

This presents a healthcheck challenge as certain ordering constraints remain and we want staged things to work naturally. Consider the case of ServiceManager starting controller, server and broker. We'd want one "HEALTHCHECK" to check regardless of the process config.. ideally an HTTP path

[2020-08-12 06:21] kishoreg commented on #5850
providing a  /health end point should be possible, we also need a swagger endpoint

[2020-08-12 08:25] #5809 closed

[2020-08-12 19:20] #5598 closed

[2020-08-12 21:21] kishoreg commented on #5837
Sure, let me assign this to you.

[2020-08-12 23:48] fx19880617 commented on #5820
Pinot doesn't support non-dictionary index on multi-value column, so the dictionary is still there even if it's configured.

The real issue is that the code goes to the above branch when querying:  GROUP BY a multi-value column and a single-value non-dictionary value column.

Fixed in #5851

[2020-08-13 01:23] Jackie-Jiang commented on #5738
Order-by post-aggregation support: #5856

[2020-08-13 07:25] Jackie-Jiang commented on #5702
#5858

[2020-08-13 16:03] lgo opened #5859 "Lack of documentation about cluster networking"
While setting up a Pinot cluster in an environment with strict egress/ingress rules it has been a challenge to bump into various cluster interop that wasn't documented.

Based on the docs I recall, the only concise indication of the connectivity is this diagram: https://docs.pinot.apache.org/basics/architecture#core-components

This came with a couple surprises so far:
* Servers connect to the Con

[2020-08-14 05:00] #5436 closed

[2020-08-14 05:07] kishoreg commented on #5829
@mr-agrwal is this still an issue?

[2020-08-14 05:10] #5820 closed

[2020-08-14 05:11] kishoreg commented on #5800
@MarceloNunesAlves is this resolved?

[2020-08-14 05:14] kishoreg commented on #5771
This is done right?

[2020-08-14 06:07] Jackie-Jiang commented on #5771
@kishoreg Not yet

[2020-08-14 07:15] ritesh-commits opened #5863 "Lack of documentation on derived metric expression"
Context: trying to load dashboard with /summary/autoDimensionOrder after configuring a custom metric
- While configuring a new metric, there doesn't seem to be an option to provide derived metric expression which is required isSimpleRatioMetric. Because of this the SummaryResponse is always being computed using the runAdditiveCube algorithm.
- runAdditiveCubeAlgorithm is having hardcoded MerticAgg

[2020-08-14 17:14] sajjad-moradi commented on #5751
@ianvkoeppe The agreement on design doc is to go with approach 1 as the short term solution. Since this approach is very similar to what you provided in PR #5745, could you please reopen the PR and apply the new changes.
Basically the boolean flag that you have defined in TableConfig need to be changed to a number indicating how many days (or hours) need to be deducted from the time boundary. Defa

[2020-08-14 17:40] mcvsubbu commented on #5751
@sajjad-moradi we would prefer to discuss table config items in a design doc. If you can update the design doc with the proposed config, then @ianvkoeppe  can go for it. thanks.

[2020-08-14 18:20] sajjad-moradi commented on #5751
The doc is updated with config suggestion. Please review and leave your comments.

[2020-08-14 18:51] kishoreg commented on #5863
@suvodeep-pyne ^^

[2020-08-14 22:54] Jackie-Jiang commented on #5738
Select post-aggregation support: #5867

[2020-08-16 01:04] buchireddy opened #5871 "Expose response stats in Pinot java client's BrokerReponse"
Currently, response stats like `numDocsScanned`, `totalDocs`, and `timeUsedMs` are returned in the JSON response body but they're not exposed to the client in https://github.com/apache/incubator-pinot/blob/master/pinot-clients/pinot-java-client/src/main/java/org/apache/pinot/client/BrokerResponse.java

Exposing the response stats would allow the client application to log the stats for slow queries

[2020-08-17 02:27] weihsuanchou opened #5874 "Create table from existing pinot tables"
Hi Pinot team, in a project I have few separated tables in Pinot and I am thinking to create a new Pinot table by just join them to save time and calculations.
It would be nice to have DDL capability to create table from xxx (a query).

Thank you!

[2020-08-17 05:39] kotharironak opened #5876 "Improving startup time with StartServiceManager command"
Currently, we are using the release
`apachepinot/pinot:0.5.0-SNAPSHOT-31d4194a2-2020073` with StartServiceManger command in our local dev setup in docker container mode.

Our observations are that it is CPUs having during startup and takes ~30-35 seconds to come up. Our initial observation is that it starts controller, server, and broker in order. Is there a way to parallelize this or places it ca

[2020-08-17 15:13] lgo opened #5877 "Standalone ingestion using SegmentUriPush to S3 does not work"
Here's some of the setup:
[code]

When using an ingestion spec like the following
[code]

When using the standalone ingestion job via `bin/pinot-ingestion-job.sh`
* Segment generation is fine.
* Data shows up on S3 as expected and the logline in `S3PinotFS` for `Copy` has the correct path, but the `SegmentPushUtils` does not, and the the `SegmentUriPushJobRunner` fails will get a 500 from the cont

[2020-08-17 15:40] lgo commented on #5877
Also, this is using a build that includes #5836 which I initially thought would address the error. The issue could also be that the implementation of `listFiles` is failing to include the bucket.

[2020-08-17 15:45] lgo opened #5878 "The `/tables/{TABLE}/schema` controller API fails when a tablename does not match its schema name"
When using schemas and tables that do not have the same name, the `/tables/{TABLE}/schema` controller API fails and indicates there's no schema available. This prevents using things like ingestion jobs because they request the schema from the controller.

[2020-08-17 16:20] kishoreg commented on #5877
I thought this was fixed. cc @KKcorps

[2020-08-17 16:23] lgo commented on #5877
This is slightly different, in that the PR (#5836) was fixing ingestion _from_ S3 not publishing _to_ S3.

[2020-08-17 16:26] kishoreg commented on #5877
anything in controller logs?

[2020-08-17 16:31] lgo commented on #5877
Yep, the controller logs look similar.

[code]

[2020-08-17 17:04] KKcorps commented on #5877
Looking into it @lgo

[2020-08-17 17:05] lgo opened #5879 "Configuring ingestion to default to pushing metadata so controllers do not always pull segments for metadata"
From Slack:

cc @kishoreg

[2020-08-17 17:05] lgo commented on #5879
Additionally, what's the configuration parameters to enable this?

[2020-08-17 17:43] yupeng9 opened #5881 "Add string type support to MIN/MAX aggregation functions"
Since Pinot supports string comparison, it will be nice to add the string type support to MIN/MAX aggregation functions, similar to other SQL engines like [mysql](https://dev.mysql.com/doc/refman/8.0/en/aggregate-functions.html#function_max).

For example, it can be used to find the earliest/latest date from string format.

[2020-08-17 18:28] deemoliu commented on #5704
Hello @mr-agrwal, may I ask you about the ETA on this feature?

I am a Pinot user from Uber and we are looking for a solution to support the following Presto SQL.
I discussed with @fx19880617 and I believe your change on this ticket is required for supporting the below query.

`select
  date_trunc(
    'week',
    cast(eater_request_datestr_local as date)
  ) as datestr,
  sum(item_sales_local)
fr

[2020-08-17 19:44] Jackie-Jiang commented on #5704
@fx19880617 @deemoliu @mr-agrwal We recently merged this PR for more datetime support: https://github.com/apache/incubator-pinot/pull/5438
I think it covers the use cases in this ticket

[2020-08-17 20:23] deemoliu commented on #5704
Thanks a lot @Jackie-Jiang I will take a look and give it a try.

[2020-08-17 20:42] lgo opened #5883 "Ingestion spec templating is rather undocumented"
While trying to set up ingestion, I ran across the `-propertyFile` and `-values` arguments in `LaunchDataIngestionJobCommand`. I didn't see anything in the docs about templating the job spec, and only later found one reference describing it in https://github.com/pinot-contrib/pinot-docs/blob/eb9a8a07687bfe78b022ba0825123fd43e316795/operators/cli.md.

This would be helpful to document and also answ

[2020-08-17 21:16] kishoreg commented on #5883
single jar vs multiple external jars is something that keeps coming up once in a while. The biggest challenge is dealing with various versions of executions framework (spark, hadoop), file systems (hdfs, s3,gcs,adsl) and data format (json, csv, parquet, avro, protobuf) etc.

Creating one jar for a each combination is not scalable. thats the reason we added the concept of plugin and allowed users t

[2020-08-17 21:23] fx19880617 commented on #5876
Thanks for bringing this up. We can try to start broker and server in parallel always.

[2020-08-17 21:24] mcvsubbu commented on #5876
Also, if the cluster is already present, then the services can be started simultaneously

[2020-08-17 21:31] laxmanchekka opened #5884 "segment download gcs deep store doesn't work."
Pulling from deep store (gcs) fails with the following exception

[code]

The gcs library expects the destination file's directory already exists and fails when the directory doesn't exist.
https://github.com/apache/incubator-pinot/blob/master/pinot-controller/src/main/java/org/apache/pinot/controller/api/resources/PinotSegmentUploadDownloadRestletResource.java#L169

And we cleanup the temp direct

[2020-08-17 21:35] fx19880617 commented on #5859
hmm.
In general we expect the inter-communications across zookeeper/controller/broker/server.
From externally access, we had:
- external requests to Controller for cluster/table ops
- external queries go to Controller for query console access
- external queries go to Broker for programatic access with pinot clients
- We expect controller and server to talk to data upstreams(kafka)/deepstore(s3/hdf

[2020-08-17 22:25] fx19880617 commented on #5881
In general we need to change min/max function to handle all types instead of just numeric values.

[2020-08-17 22:50] fx19880617 commented on #5884
@KKcorps @elonazoulay

[2020-08-17 23:08] Jackie-Jiang commented on #5878
@lgo FYI, we are planning to force schema to be the same name as table (without type suffix) in the future. Are there specific reasons why you want to have different names for them?

[2020-08-17 23:20] lgo commented on #5878
Makes sense!

We haven’t been using for anything that matters.

While experimenting with Pinot I’ve been setting up multiple tables with
different indexing configurations, and further duplicating those by using
multiple test datasets for any particular table. In practice, there’s no
reason these shouldn’t be separate schemas / tables.

On Mon, Aug 17, 2020 at 16:08 Xiaotian (Jackie) Jiang <
notifi

[2020-08-17 23:28] #5878 closed

[2020-08-18 05:16] #5702 closed

[2020-08-18 05:55] Jackie-Jiang commented on #5738
Having support: #5889

[2020-08-18 10:50] mr-agrwal commented on #5829
@kishoreg Closing this, as this is an issue with javascript parsing long values. This is further discussed in detail in https://www.techempower.com/blog/2016/07/05/mangling-json-numbers/

[2020-08-18 12:01] KKcorps commented on #5877
Hi @lgo, Can you set `segmentUriPrefix` to `s3:/` and try. That seems to work on my end.

[2020-08-18 17:19] mr-agrwal opened #5893 "Support for segmentPartitionedDistinctCount in Star Tree Index Pre aggregation Functions."

[2020-08-18 17:42] lgo commented on #5877
Saw your earlier comment re `segmentUriPrefix`. I just got it to work with the configuration:
[code]

But your PR for removing the need for these and the complexity of configuring S3 is fantastic!

[2020-08-18 18:34] Jackie-Jiang commented on #5893
@mr-agrwal It might not be efficient to support star-tree on `SegmentPartitionedDistinctCount` because:
- In order to generate star-tree, we need to generate the intermediate aggregated values for each dimension combinations. For `SegmentPartitionedDistinctCount`, that is a `Set`, which contains all the distinct values and has unbounded size.
- Storing all these sets could cause memory issue durin

[2020-08-19 17:46] fx19880617 commented on #5877
I've updated the ingestion uri push job in: https://github.com/apache/incubator-pinot/pull/5897

So users don't need to set `segmentUriPrefix` for push jobs

[2020-08-19 18:00] lgo opened #5899 "NullPointerException when star-tree index configuration refers to invalid column"
Just a usability thing: when writing out some configuration, there was a typo in a schema's field name so the star tree configuration did not have a list of all valid columns. It took a bit of poking to eventually realize the mistake. For example:

schema
[code]

table
[code]

Using `pinot-admin.sh CreateSegment`, this is the exception
[code]

[2020-08-19 18:47] icefury71 commented on #4484
Thanks for the comments Subbu and Ting. Based on what @mcvsubbu mentioned, I'm thinking of adding a failure detector capability in the Pinot broker so that it can proactively prune bad server replicas. Although this is not a complete solution as mentioned, its still very useful for graceful degradation (instead of query failures).

High level thoughts on the design: Have a failure detector interfa

[2020-08-19 19:00] kishoreg commented on #4484
There was another issue recently where a host was unreachable and the entire query would fail.

High-level design sounds good. With Jackie changes to computing routing tables dynamically, this should be possible. We currently use live instances to compute the routing table. we can change it to liveinstances - badInstances. And badInstances is computed in the background periodically/based on respon

[2020-08-19 19:06] lgo opened #5900 "Cannot use ingestion transform columns in indexes"
(also non-critical, mostly just a usability issue for being able to flexibily configure Pinot or unclear exceptions/errors)

While experimenting with some schemas, I tried setting up a star-index to use an ingest transform created column. Similarly, setting up other inverted indexes also failed, so I reckon the schemas are just not adjusted by ingestion transforms.

Here was an example set-up that

[2020-08-19 20:49] npawar opened #5901 "Fix instance APIs"
It seems using the instance APIs is getting users into some erroneous state.
Check all the APIs

[2020-08-19 20:52] npawar commented on #5900
Column name in ingestionCOnfigs should match the column name in the schema. Schema will contain the final names of the columns, post the transformation.
In your example above, the schema should have
[code]
in the dimensionFieldSpecs, instead of `id`

[2020-08-20 01:03] mcvsubbu commented on #4484
Helix provides us a view of "good " vs "bad" instances. IMO if we are adding algorithms on the broker, it should be based on response time of servers. If a server is responding slowly (relative to other servers for the same table), send it fewer  queries if possible.

The routing tables can be  updated whenever we detect "slow" servers.

[2020-08-20 18:38] lgo opened #5904 "Support for a fixed precision Decimal column type"
Systems like Presto support a fixed decimal type, as documented in https://prestodb.io/docs/current/language/types.html#fixed-precision.

Having this feature would help immensly for use-cases which need accurate aggregation for large numbers. In my particular use-case, I have a dataset where we produce and use Presto's fixed-decimal as `DECIMAL(38, 6)` as we need 6-decimal accuracy for relatively

[2020-08-20 19:59] #5738 closed

[2020-08-21 07:15] buchireddy opened #5907 "DISTINCTCOUNT and DISTINCTCOUNTHLL aggregations are really slow"
Pinot version used is `0.4.0`

Issue: DISTINCTCOUNT on a string column is much much slower than the group by on that same column.
**DISTINCTCOUNT query:**
[code]

**group by query**
[code]

We don't have an index on column `foo`. The DISTINCTCOUNT query was taking anywhere b/w 3 and 6s while the group by query returns in <500ms most of the time. DISTINCTCOUNTHLL was equally slower, if not more in

[2020-08-24 04:55] jasonyanwenl opened #5913 "[TE-demo] [Backend] H2 database schema is inconsistent with create-schema SQL script"
Hi team,
when I tried to run TE in demo the first time in my local box it throws an error and I found the following two related issues for this:

* Current repo already contains a `thirdeye-pinot/config/h2db.mv.db` (check the file [here](https://github.com/apache/incubator-pinot/blob/master/thirdeye/thirdeye-pinot/config/h2db.mv.db)). However, the `init` method in `DaoProviderUtil` will check if s

[2020-08-24 17:55] Jackie-Jiang commented on #5907
@buchireddy Thanks for reporting the issue. Could you please share more stats of the query? How many documents does this query scan? How many distinct values does it have?
The performance of these 3 queries should be: `DISTINCTCOUNTHLL` > `DISTINCTCOUNT` > Group-by, unless only partial groups are returned.

[2020-08-24 19:47] buchireddy commented on #5907
[code]

[2020-08-24 20:15] kishoreg commented on #5907
@Jackie-Jiang 500ms (group by) vs 3-6sec (distinct) is a big difference when there are only 2 distinct values

[2020-08-24 20:16] kishoreg commented on #5907
one reason might be that group by was using dictionary whereas distinct is not. I think you have fixed this in the recent version.

[2020-08-24 22:19] mcvsubbu opened #5915 "Ensure time-column compatibility between schema and tableconfig"
We need to check the following when a tableConfig is added or updated, or when a schema is updated:

The time column name (and type) in the tableConfig is the same as the primary time column name and type in the schema. The schema may not exist, in which case it is ok (we currently allow creating offline tables without a schema). The schema could be under the default (recommended) name -- the tabl

[2020-08-25 00:56] Jackie-Jiang commented on #5907
@kishoreg Good point, especially when the column is `STRING`.
@buchireddy There is an optimization on `DISTINCTCOUNT` recently, which should make it always faster than the group-by. You might want to try it using the current master

[2020-08-25 03:02] buchireddy commented on #5907
@Jackie-Jiang do you know if that fix is present in `0.5.0` or after that?

[2020-08-25 11:42] adriancole commented on #5876
PS it appears in ad-hoc testing that expanding the jars into a flat classpath significantly reduces startup time. Need to have some more eyes testing this of course. https://github.com/hypertrace/pinot/pull/12

Meanwhile, I will try to start the broker and server in parallel in a PR.

[2020-08-25 13:12] adriancole commented on #5876
https://github.com/apache/incubator-pinot/pull/5917

[2020-08-25 13:13] adriancole commented on #5876
I assume this means controller cannot be in parallel until you tell me otherwise

[2020-08-25 18:22] fx19880617 opened #5919 "Add endpoint for external to get information about UDFs"
Currently we have implemented some Pinot UDFs, however they are not transparently pushdown-able from external query engines like Presto.

The proposed change will add a new endpoint in PinotController. The endpoint will provide information of Pinot UDFs, so that we will have a generic way to understand what can be pushed down to pinot.

In general I'm thinking of the fields we need are:
[code]

e.

[2020-08-25 18:23] fx19880617 commented on #5919
@kishoreg @agrawaldevesh @mr-agrwal @Jackie-Jiang @mayankshriv @mcvsubbu

[2020-08-25 18:49] Jackie-Jiang commented on #5907
@buchireddy It will be included in the `0.5.0` release

[2020-08-25 18:56] agrawaldevesh commented on #5919
They still would not help so much from a presto standpoint: we would need to know how to map the presto Udf to the Pinot udf. I am afraid that this mapping is a bit custom and presto may not be able to automatically map, except the simplest cases.

Perhaps we can cater to that by including the name of the presto Udf name along with a flag saying if it is trivially convertible or not.

Having said

[2020-08-25 18:59] Jackie-Jiang commented on #5919
How do you plan to maintain this endpoint?
Not sure if this can help with query push down as the behavior must be identical on presto side and pinot side. IMO it is safer to manually select functions to push down instead of using name matching. It can cause unexpected behavior if the behavior is not exactly the same.

[2020-08-26 02:09] #5907 closed

[2020-08-26 02:11] kishoreg commented on #5907
@buchireddy please update this ticket once you have the new version

[2020-08-26 02:23] Jackie-Jiang opened #5925 "Optimize query filtering on the result of another query"
Example query:
`SELECT COUNT(*) FROM table1 WHERE id1 IN (SELECT id2 FROM table2 WHERE ...) ...`

A naive solution would be sending the sub-query first, gather the result, then use the result to construct the main query. It works for cases where the result for the sub-query is small (< 100), but when the result size becomes big (> 1000), the cost of ser/de, query compilation and query processing w

[2020-08-26 04:54] Jackie-Jiang commented on #5925
Add `IdSet` and `IdSetAggregationFunction`: #5926

[2020-08-26 16:30] kishoreg opened #5928 "Add connector for Pravega"
https://www.pravega.io/

Similar to Kafka connector, it will be great to add a connector for Pravega.

Some info on [pravega vs Kafka](https://siliconangle.com/2017/04/17/dell-emc-takes-on-streaming-storage-with-open-source-solution-pravega-ffsf17/#:~:text=Kaitchuck%20outlined%20how%20Pravega%20differs,Pravega%20is%20a%20streaming%20system.&text=Pravega%20offers%20a%20system%20with,one%20or%20two%

[2020-08-26 16:32] kishoreg commented on #5928
@mcvsubbu @npawar and I had an initial discussion around this topic but our understanding of Pravega is a bit weak to propose a complete solution. Flavio, it will be great if you can drive this discussion and guide us in the right direction.

[2020-08-26 16:32] kishoreg commented on #5928
@fpj

[2020-08-26 16:33] kishoreg commented on #5928
There is some prior work we did to extend support for other streaming systems (this was done keeping Kinesis in mind).
#5359 Extend offset support for other streams

[2020-08-26 18:19] samarth-gupta-traceable opened #5929 "BYTES column type deserializing STRING when using ConvertPinotSegment with JSON format option"
When I run `pinot-admin.sh ConvertPinotSegment` with JSON option, the in resulting JSON file the columns whose data type is BYTES show up as string.
Now when I try to run ` pinot-admin.sh CreateSegment` on same JSON file it gives below error due to datatype mismatch

[code]

[2020-08-26 21:00] fpj commented on #5928
Thanks for starting this issue, @kishoreg. I'm wondering what would be the best way to approach the implementation of a connector. I started by looking at the spi interfaces, and in particular at the `StreamLevelConsumer`. Here is the reason.

Pravega has as a few different APIs, the main one being the event stream API. it also has a batch API that enables unordered reads for parallelism, but let'

[2020-08-26 22:37] #5929 closed

[2020-08-27 15:29] ianvkoeppe commented on #5751
Thanks all! I appreciate the rapid iteration on the design. @sajjad-moradi I'm happy to iterate on that PR and make necessary changes.

[2020-08-27 17:14] #5876 closed

[2020-08-27 17:52] fx19880617 commented on #5704
@deemoliu can you verify that your needs is satisfied with #5438 ?
We can then working on presto side to do query rewrite for this.

[2020-08-27 19:47] MarceloNunesAlves commented on #5800
@kishoreg, I haven't tried yet. tks

[2020-08-27 22:49] npawar commented on #5753
Design doc for this: https://docs.google.com/document/d/1-e_9aHQB4HXS38ONtofdxNvMsGmAoYfSnc2LP88MbIc/edit#

[2020-08-27 22:59] #5268 closed

[2020-08-28 00:58] adriancole commented on #5876
thanks for the help!

[2020-08-28 04:20] asldevi opened #5935 "Add connector for Prometheus"
A [prometheus](https://prometheus.io/) connector for ThirdEye would be very useful for getting insights into metrics and in RCA for developers.

[2020-08-28 15:27] mr-agrwal opened #5937 "Swagger UI not working."
I am not able to access the Swagger UI. All APIs for `swaggerui-dist/lib/*` and `swaggerui-dist/css/*` are failing with 404.

<img width="1790" alt="Screenshot 2020-08-28 at 8 56 02 PM" src="https://user-images.githubusercontent.com/24796847/91584939-01438580-e971-11ea-8918-60a92b1b13e7.png">

[2020-08-28 15:39] kishoreg commented on #5937
@jackjlli looks like you change broker swagger

git checkout 87b5b77264c1f05ac6073ff77e1728667dce1e1b works

git checkout e9ad1e017bf06ac579014357462c86861a31cf7d DOES NOT WORK

[2020-08-28 15:44] kishoreg commented on #5928
@mcvsubbu @npawar @KKcorps thoughts?

[2020-08-28 15:47] kishoreg commented on #5904
What operators will you need on top of DECIMAL. is sum the only one?

[2020-08-28 18:24] kishoreg commented on #5877
@fx19880617 can we close this

[2020-08-28 18:25] kishoreg commented on #5871
@buchireddy  can we close this?

[2020-08-28 18:44] #5877 closed

[2020-08-28 18:44] fx19880617 commented on #5877
Here is also a doc for using s3 as deep store: https://docs.pinot.apache.org/users/tutorials/use-s3-as-deep-store-for-pinot

[2020-08-28 20:18] mr-agrwal commented on #5937
@jackjlli @kishoreg The fix works :). Thanks!!

[2020-08-28 20:18] #5937 closed

[2020-08-28 21:01] fx19880617 commented on #5704
Fixing an issue which prevents using functions introduced in #5438

[2020-08-28 22:06] buchireddy commented on #5871
Yes. The PR is merged.

[2020-08-28 22:06] #5871 closed

[2020-08-28 22:23] icefury71 commented on #4484
Thanks for the input @mcvsubbu .

I've started a design here (based on Kishore's recommendation): https://docs.pinot.apache.org/developers/design-documents/server-health-checker

Please take a look.

[2020-08-28 23:14] icefury71 opened #5942 "Better Table config validation"
As mentioned in #5915 and #5899 we need a better way to validate table config. This includes following checks (not exhaustive):
* Validate column names : should match the ones in schema
* Time column check: name and type should be consistent with schema

[2020-08-28 23:41] npawar commented on #5942
One more: https://github.com/apache/incubator-pinot/issues/5730

[2020-08-29 06:21] adriancole opened #5944 "Move to natural pom versions"
Currently, `<version>${revision}${sha1}</version>` is coded into maven pom files, rendering tools such as jitpack helpless. It would be nice to have normal versions in these files so we have the same chances to use pinot as other java projects. This is particularly important as SNAPSHOT versions are not deployed and docker tags are ad-hoc.

[2020-08-29 06:36] kishoreg commented on #5944
+100 for this. @jackjlli can you please explain why this sha was added?

[2020-08-29 07:02] jackjlli commented on #5944
The purpose of having revision and sha1 is to have the ability to specify the internal published version of Pinot. By default the revision value is the next release version (like `0.5.0`) and the sha1 value is `-SNAPSHOT`. In LinkedIn, we leverage this to change the version to an internal release (like `0.5.0-dev-12345`) and then publish the release to internal artifactory.
I actually have a PR wh

[2020-08-29 07:15] jackjlli commented on #5944
Just split that logic out of the previous PR:
https://github.com/apache/incubator-pinot/pull/5945
Could @kishoreg @adriancole take a look? Thanks!

[2020-08-30 00:04] xiangfu0 opened #5947 "Simple drag and drop a raw data file to pinot"
Basically trying to infer the table configs from raw files like avro/csv and create a table from the ingestion job.

So new users don't need to read many things in order to get start with pinot.

[2020-08-30 07:15] fx19880617 opened #5948 "Missing Consumer lag metrics"
Currently we are missing consumer lag metrics of Kafka LLC.

Shall we try to add an interface for stream consumers like 'getConsumerLag' and let each consumer implements it?
So that we can report the consumer lag as a metrics in pinot indexing thread?

cc: @npawar @mcvsubbu

[2020-08-30 07:27] adriancole commented on #5850
I think for servicemanager, we should have a composite health returned. there's a conversation on slack to this effect

[2020-08-30 23:22] fx19880617 commented on #5879
I will add this support into ingestion jobs

[2020-08-31 00:01] adriancole opened #5950 "Make composite healthcheck for ServiceManager"
Per #5850 we should have a /health endpoint for our service state. Composite services like ServiceManager should report their individual components, manifesting an aggregate healthy IFF all are healthy. This helps ensure traffic doesn't pass through when things aren't finished booting up, or if they crash after the fact.

This was discussed in https://apache-pinot.slack.com/archives/CDRCA57FC/p159

[2020-08-31 00:14] fx19880617 commented on #5950
Currently the health check is implemented in: https://github.com/apache/incubator-pinot/blob/master/pinot-tools/src/main/java/org/apache/pinot/tools/service/api/resources/PinotServiceManagerHealthCheck.java

I think `ServiceStatus.getServiceStatus();` will return the composite health check.
`ServiceStatus` holds a `MapBasedMultipleCallbackServiceStatusCallback` which contains the callback for all

[2020-08-31 00:18] adriancole commented on #5950
sounds like the right spot. main thing after that is the rather simple logic to scan them before deciding the ultimate HTTP status (200 vs 503) where if any status is not ready == 503 conversely iff they are all ready == 200

[2020-08-31 02:04] mcvsubbu commented on #5948
This thing keeps making its appearance every once in a while.

I assume that by `lag` you mean the difference between the highest offset available vs the offset consumed. This used to be exposed by Kafka in 0.9, but not anymore. We need to make a separate API call to get the highest offset, and that is something that is sub-optimal when it comes to high ingestion use cases.

We could add some call

[2020-08-31 02:30] fx19880617 commented on #5950
My initial thoughts was that user expects all the components to be up to consider the standalone process is healthy.
So I put the hight level `/health` uses 200 for (all healthy) or 503(something is wrong).

Do you suggest to have some error code for partial failure or all failure? Also this is still missing the information of which component is in bad state.

Meanwhile users can use `/health/serv

[2020-08-31 04:31] adriancole commented on #5950
I don't think we need a code difference on partial fail. still use 503. if someone wants to they can see the partial fail in the json of the response.

[2020-08-31 05:30] fx19880617 commented on #5950
Sounds good, then I think current code behavior is already as you described?
Have you observed the situation that `/health` works but `/health/services` give some components failure?

[2020-08-31 06:22] adriancole commented on #5950
no I haven't seen partial failure scenario using this. I will switch to it. meanwhile, it might be work back filling a test that proves PinotServiceManagerHealthCheck gives 503 on partial failure or if already does, link that and close this out.

[2020-08-31 15:46] lgo commented on #5904
We'll just need basic arithmetic operations (+ abs) and `SUM` agg. Our aggregation functions may look like either this:
[code]

Or some variations (`SUM(ABS(decimal_col))`, with other math ops inside the `SUM` expression)

[2020-08-31 17:03] npawar opened #5951 "Command in pinot-admin to test operations of a PinotFS implementation"
This would be a quick way for someone testing or writing a PinotFS implementation, to ensure that all operations are working

For example:
[code]
For azure blob store:
[code]

[2020-08-31 18:56] Jackie-Jiang commented on #5925
Support `IN_ID_SET` predicate: #5952

[2020-08-31 23:47] adriancole commented on #5950
PS I have seen a partial failure, just not one using this. That said, there is code now that checks exit status at startup, and the partial failure I saw was at bootstrap (error extracting the swagger stuff)

[2020-09-01 03:48] fx19880617 commented on #5950
oh? so swagger fail the component? or you saw swagger errors in the log?

[2020-09-01 03:57] adriancole commented on #5950
it was a jar error ultimately during bootstrap which no longer exists (after extracting all of them). sadly I don't have a copy of the message. the surprise was that the listener still worked heh. I think this error will be less possible after recent commit which checks exception and boolean status strictly.

[2020-09-01 16:41] zzztimbo opened #5954 "add pinot-confluent-protobuf to pinot-input-format"
https://github.com/apache/incubator-pinot/tree/master/pinot-plugins/pinot-input-format/pinot-confluent-avro

Similar to confluent-avro. I would like the ability to consume protobuf messages from Kafka that were serialized using the Confluent Schema Registry.

https://docs.confluent.io/current/schema-registry/serdes-develop/index.html#schema-formats-serializers-and-deserializers

https://docs.confl

[2020-09-01 17:50] dongxiaoman opened #5955 "Kafka ingestion by plugin not picking up latest messages with auto.offset.reset=smallest"
Currently we are running secure Kafka (2.0+) and TLS connection; Kafka streaming was done by creating our own plugin to do transformation.

The bug happens when we specify `"stream.kafka.consumer.prop.auto.offset.reset": "smallest"` property in a Pinot realtime table. The pinot server will process all the data in Kafka, and then stops sending Kafka messages to our plugin.

If we specify `"latest"`

[2020-09-01 18:07] dongxiaoman commented on #5955
Error Log when set property to `latest`: (sorry for the bad format)
[code]

[2020-09-01 18:08] dongxiaoman commented on #5955
There is no error log when set to "smallest". We ingested exactly 5000 messages for that real time table, which is a bit strange. I don't think Kafka retention has something to do with that.

[2020-09-01 18:42] dongxiaoman commented on #5955
o reproduce the issue, we need to start from a clean slate. I can reproduce after deleting the table completely and start fresh. below are the steps
delete the old table
set "stream.kafka.consumer.prop.auto.offset.reset": "smallest" , table created, got exactly 50000 documents and stopped
delete table again
change value in config to earliest or latest, cannot create realtime table with the error O

[2020-09-01 18:48] dongxiaoman commented on #5955
I think the major issue here is that with "smallest" the new Kafka messages are not picked up at some point.

[2020-09-01 20:02] dongxiaoman commented on #5955
Switched to a new table, seeing flow of below warning:
[code]

[2020-09-01 22:20] Jackie-Jiang commented on #5955
After some investigation, the problem is on the deep storage side instead of the Kafka ingestion. Close this issue now.

[2020-09-01 22:20] #5955 closed

[2020-09-01 22:56] dongxiaoman opened #5957 "S3PinotFS.java forming double forward-slash in path"
In our log we can see the below log entry, and the copying is failing because of S3 is very strict on path. (Please note the double forward-slash in  s3://some-bucket/somewhere/financial_data_warehouse/pinot **//** finance_edges_v2/
[code]

It is because in our config, we added a slash by accident; S3PinotFS should be a bit smart about this error, and maybe remove the trailing "/"?
`controller.dat

[2020-09-02 06:59] chenboat opened #5960 "LLC stopped realtime ingestion due to deadlock caused out of order Helix state transition events (Pinot 0.4+)"
We found during our testing that Pinot LLC realtime consumer stopped ingestion due to out of order delivery of Helix state transition events for consecutive segments of a partition. The detailed log is attached.

Note that **OFFLINE->CONSUMING** for _terra_lever_events__0__88__20200901T2252Z_ was delivered slightly before **CONSUMING->ONLINE** for _terra_lever_events__0__87__20200901T1652Z_.

For

[2020-09-02 07:02] chenboat commented on #5960
@jackjlli and @mcvsubbu I wonder if you have encountered the above deadlock issue in your Prod clusters.

[2020-09-02 18:42] jackjlli commented on #5960
The default pool size for HelixTaskExecutor shouldn't be just 1. I checked the Helix code and the default value is 40:
https://github.com/apache/helix/blob/78f6c8beaf05302703809dd7de231605ff4d74a3/helix-core/src/main/java/org/apache/helix/messaging/handling/HelixTaskExecutor.java#L115
Please adjust the `STATE_TRANSITION.maxThreads` in `CONFIGS/CLUSTER/pinot` ZNode and restart all the pinot compone

[2020-09-02 19:57] fx19880617 commented on #5951
This could also be very useful for user to test controller/server configs.

[2020-09-02 21:06] npawar commented on #5942
https://github.com/apache/incubator-pinot/issues/5900

[2020-09-02 21:33] jackjlli commented on #5960
In Pinot 1.0, we used to have a logic that the value of `STATE_TRANSITION.maxThreads` is set to 1 if this config is missing in the cluster. This will cause issue as this default value 1 will be used as the thread pool size, which will make Pinot cluster extremely slow.
If you try to upgrade Pinot cluster from 1.0 to a higher version, please keep in mind that `STATE_TRANSITION.maxThreads` be set to

[2020-09-03 17:30] fx19880617 opened #5968 "New Swagger UI blocks access from container port forwarding or remote access"
New swagger UI makes a base URL which usually not accessible from local debug mode.
This prevent users to remote access it.

This can be easily replayed by

[code]

Then access `localhost:9000` UI

Sample screenshot for docker :
![image](https://user-images.githubusercontent.com/1202120/92155849-e3e14200-eddc-11ea-8352-cdf2b6bb7b0b.png)
![image](https://user-images.githubusercontent.com/1202120/92

[2020-09-03 17:37] fx19880617 commented on #5968
@jackjlli

[2020-09-03 17:46] Jackie-Jiang commented on #5915
@npawar I think we can enforce the following things:
- Schema must exist for a table before adding/updating the table
- Schema name must be the same as raw table name

Then we can do cross validation when updating table config or schema. Without enforcement 2, it is hard to find the table config for a given schema

[2020-09-03 19:43] Jackie-Jiang commented on #5960
Alternatively, just remove `STATE_TRANSITION.maxThreads`, and the cluster will use the Helix default value of 40

[2020-09-03 22:39] yupeng9 commented on #4261
It has been a while since the upsert work started. We'd like to reflect on the challenges encountered, share some learnings and also a [revisit on the upsert design](https://docs.google.com/document/d/1qljEMndPMxbbKtjlVn9mn2toz7Qrk0TGQsHLfI--7h8/edit#heading=h.lsfmyoyyxtgt).

[2020-09-03 23:53] Jackie-Jiang commented on #5925
Alternative of #5952, model `IN_ID_SET` as a `TransformFunction`: #5973

[2020-09-04 00:10] adriancole opened #5974 "Execessive warnings starting up with ServiceManager"
When composing Pinot with other services, it looks bad because a lot of warnings spit out. It seems dangerous to turn off loggers, so raising as an issue:

[code]

[2020-09-04 00:28] adriancole commented on #5974
All of these are helix except the `Illegal reflective access by org.apache.pinot.spi.plugin.PluginClassLoader`

[2020-09-04 00:42] adriancole opened #5975 "Allow relative paths for properties that configure directories"
relative paths allow us to build a fully configured layer more easily as it can be contained under a directory besides /. For example, we can add data under a /pinot/data/service directory which can make sense in docker when there's only 1 pid running anyway. This is particularly helpful in ServiceManager as it allows us to prepare a fully configured image including schema as a layer.

Right now i